app-conditioned-content {
    @apply block;

    .condition {
        @apply text-gray-800 font-bold;
    }
}

app-conditioned-content + *:not(app-conditioned-content):not(mat-divider) {
    @apply inline-block mt-3 #{!important};
}

app-relation {
    @apply block;
}

ul {
    @apply mb-3;
}

app-choice-group {
    @apply block;

    &:not(:last-child) {
        @apply mb-3;
    }

    app-choice-item {
        @apply block;

        &:not(:first-child) {
            @apply mt-1;
        }
    }
}

pre {
    font-family: 'Roboto Mono', monospace;
    @apply my-8;
}

.chapter-card {
    mat-divider {
        position: static !important;
        @apply mt-8 mb-4;
    }

    .chapter-content {
        mat-divider {
            @apply my-4;
        }

        fa-icon {
            @apply important;
        }

        section {
            @apply pt-4;
        }

        a {
            @apply text-blue-500 hover:text-blue-300 transition-colors duration-500 underline;
        }

        p:not(:last-child) {
            @apply mb-3;
        }

        .note {
            @apply italic;
        }

        h2 {
            @apply mb-1 mt-4;
        }
    }
}
