@import './colors.scss';

pre {
    font-family: 'Roboto Mono', monospace;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

span.name {
    font-weight: bold;
}

span.note {
    font-style: italic;
}

strong {
    color: $important-text;
    font-weight: bold;
}

fa-icon.important {
    color: $important-icon;
    font-size: 1.2rem;
}

/* Choices */
em {
    color: white;
    background-color: rgba(0, 0, 0, 0.753);
    font-style: normal;
    padding: 0.5rem;
}

.choices {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.choice {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    border-width: 2px;
    border-color: #8b8b8b;
    border-left-style: solid;
}

/* Conditions */
.condition-text {
    border-width: 2px;
    border-color: #414141;
    border-left-style: solid;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
