@import './colors.scss';

pre {
    font-family: 'Roboto Mono', monospace;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

span.note {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

strong {
    color: $important-text;
    font-weight: bold;
}

fa-icon.important {
    color: $important-icon;
    font-size: 1.2rem;
}
