@import './colors.scss';

pre {
    font-family: 'Roboto Mono', monospace;
    margin-top: 40px;
    margin-bottom: 40px;
}

span.name {
    font-weight: 700;
}

em {
    color: white;
    background-color: rgba(0, 0, 0, 0.753);
    font-style: normal;
    padding: 6px;
}

.choices {
    margin-top: 20px;
    margin-bottom: 20px;
}

.choice {
    margin-top: 14px;
    margin-bottom: 14px;
    padding-left: 30px;
    border-width: 2px;
    border-color: #8b8b8b;
    border-left-style: solid;
}

span.note {
    font-style: italic;
}

strong {
    color: $important-text;
    font-weight: 700;
}

.condition {
    margin-top: 10px;
}

.condition-text {
    border-width: 2px;
    border-color: #414141;
    border-left-style: solid;
    margin-left: 2px;
    padding: 10px 0 10px 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

fa-icon.important {
    color: $important-icon;
    font-size: 1.2em;
}

.relation {
    margin-right: 10px;

    .small img {
        max-height: 10px;
    }

    .large img {
        max-height: 20px;
        position: relative;
        top: 4px;
    }

    .up {
        color: #0c71b0;
    }

    .down {
        color: #8f1600;
    }
}
