.chapter-card {
	mat-divider {
		@apply mt-8 mb-4;
	}
}

.chapter-content {
	// Elements
	pre {
		font-family: "Roboto Mono", monospace;
		@apply my-8;
	}

	fa-icon {
		@apply important;
	}

	a {
		@apply text-blue-500 hover:text-blue-300 transition-colors duration-500 underline;
	}

	.note {
		@apply italic;
	}

	// Layout
	mat-divider {
		@apply my-4;
	}

	h1 {
		@apply pt-4 mb-4 text-2xl uppercase;
	}

	h2 {
		@apply mb-2 text-xl uppercase;
	}

	h3 {
		@apply mb-0;
	}

	section:not(:last-child) {
		@apply mb-6;
	}

	// Block tags
	p,
	ul {
		@apply mb-0 text-justify;
	}

	app-conditioned-content + *:not(app-conditioned-content):not(mat-divider) {
		@apply inline-block mt-3 #{!important};
	}

	p:not(:last-child),
	ul:not(:last-child),
	app-choice-group:not(:last-child),
	app-unused-content:not(:last-child),
	app-observation:not(:last-child),
	app-observation-item:not(:last-child) {
		@apply mb-3;
	}
}
