// Main page
$title-black: #0f2132;
$main-page-header-background: rgba(42, 93, 140, 0.3);
$main-page-info-background: rgba(129, 202, 236, 0.383);

// Footer
$footer-background: rgb(7, 3, 43);
$footer-link-color: rgba(128, 128, 223, 0.644);
$footer-link-hover: rgba(124, 185, 235, 0.644);

// Header
$header-background: black;
$header-icons: white;

// Text
$important-text: #ff9d00;
$important-icon: #ffc300;
