html,
body {
    min-height: 100vh;
    height: auto;
    margin: 0;
}

body {
    background-image: url('../../assets/images/background.jpg');
    background-repeat: repeat;
    background-size: 500px 500px;
}

.snackbar-error {
    background-color: darkred !important;
    color: white;
}

strong {
    @apply font-bold;
}

.important {
    @apply font-bold text-yellow-500;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.main-with-centered-card {
    @apply flex flex-col justify-start;

    mat-card {
        @apply self-center mx-0 p-12 w-11/12 sm:w-3/5;

        nav {
            @apply grid grid-cols-2 auto-rows-auto justify-between gap-4;

            div.next {
                // TODO: rtl -> text-end ?
                @apply text-right;
            }

            a {
                @apply text-indigo-900 hover:text-indigo-500 transition-colors duration-700;
            }
        }
    }
}

ul {
    @apply list-disc pl-3;
}

ol {
    @apply list-decimal pl-3;
}

.flag-icon-background {
    height: 37.5px;
    width: 50px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
