<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <p>
            {{ t('GUI.MENU.DATE.04C') }}<br />
            {{ t('GUI.MENU.TIME.04C') }}
        </p>

        <h1>In the observation room</h1>
        <p>
            <span class="name">Hank</span>:
            {{
                translateObject('X0401C.INTRO.HANK.PC.X04CHANK.QUESTIONS')
                    | async
            }}
        </p>
        <p>
            <strong>Hank enters the observation room</strong>
            <br />
            <span class="name">Hank</span>:
            {{ t('X0401C.INTRO.HANK.FA.X04CHANK.TRYCONNORH01') }}
            <br />
            <span class="name">Gavin</span>:
            {{
                translateObject(
                    'X0401C.INTRO.HANK.PC.X04CCURTIS.TRYCONNOR',
                    0,
                    3
                ) | async
            }}
            <br />
            <span class="name">Connor</span>:
            {{
                translateObject(
                    'X0401C.INTRO.HANK.PC.X04CCONNOR.TRYCONNOR',
                    0,
                    4
                ) | async
            }}
            <br />
            <span class="name">Gavin</span>:
            {{
                translateObject('X0401C.INTRO.HANK.PC.X04CCURTIS.TRYCONNOR', 3)
                    | async
            }}
            <br />
            <span class="name">Connor</span>:
            {{ t('X0401C.INTRO.HANK.PC.X04CCONNOR.TRYCONNOR["5"]') }}
            <br />
            <span class="name">Hank</span>:
            {{
                translateObject('X0401C.INTRO.HANK.FA.X04CHANK.TRYCONNORH02')
                    | async
            }}
        </p>
    </section>

    <section>
        <h1>Inside the interrogation room</h1>

        <p>
            <strong>Looking at the reflection </strong>
            <br /><span class="name">Hank</span>:
            {{ t('X0401C.INTERROGATION.MIRROR.FA.X04CHANK.WTF') }}
        </p>

        <h2>Interrogate the deviant</h2>
        <div class="choices">
            <em>[ FEAR ]</em> [
            <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked after
            analysing the deviant]
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.FEAR'
                    ) | async
                }}
            </div>
            <em>[ SHOW PHOTOS ]</em> [
            <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked after
            looking at the files]
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.SHOWPHOTO',
                        0,
                        2
                    ) | async
                }}
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.SHOWPHOTO',
                        3
                    ) | async
                }}
            </div>
            <em>[ WOUNDS ]</em> [
            <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked after
            analysing the deviant]
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.WOUNDS'
                    ) | async
                }}
            </div>
            <em>NAME</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.NAME'
                    ) | async
                }}
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <em>COMFORT</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["01COMFORT"]'
                    ) | async
                }}
            </div>
            <em>REASSURE</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["01REASSURE"]'
                    ) | async
                }}
            </div>
            <em>THREATEN</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["01THREATEN"]'
                    ) | async
                }}
            </div>
            <em>BLAME</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["01BLAME"]'
                    ) | async
                }}
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <em>SYMPATHIZE</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["02SYMPATHIZE"]'
                    ) | async
                }}
            </div>
            <em>THREATEN</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["02THREATEN"]'
                    ) | async
                }}
            </div>
            <em>PROBE MEMORY</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["02MEMORY"]') }}
                <br />
                <span class="name">Deviant</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS["02MEMORY"]'
                    ) | async
                }}
            </div>
            <em>TRUST</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["02TRUST"]'
                    ) | async
                }}
            </div>
        </div>

        <mat-divider></mat-divider>

        <p>
            <span class="name">Deviant</span>:
            {{
                translateObject(
                    'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS["02ANDROIDWORRY"]'
                ) | async
            }}
        </p>

        <div class="choices">
            <em>LIE</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["03LIE"]'
                    ) | async
                }}
            </div>
            <em>TRUTH</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["03TRUTH"]'
                    ) | async
                }}
            </div>
        </div>

        <mat-divider></mat-divider>

        <p>
            <span class="name">Deviant</span>:
            {{
                translateObject(
                    'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS["03ANDROIDBLAME"]'
                ) | async
            }}
        </p>

        <div class="choices">
            <em>LIE</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["04LIE"]'
                    ) | async
                }}
            </div>
            <em>TRUTH</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["04TRUTH"]'
                    ) | async
                }}
            </div>
        </div>

        <mat-divider></mat-divider>

        <p>
            <span class="name">Deviant</span>:
            {{
                t(
                    'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS["04ANDROIDFEAR"]["1"]'
                )
            }}
            <br />
            <span class="name">Connor</span>:
            {{
                t('X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["04ANDROIDFEAR"]')
            }}
            <br />
            <span class="name">Deviant</span>:
            {{
                translateObject(
                    'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS["04ANDROIDFEAR"]',
                    1
                ) | async
            }}
        </p>

        <h3>Choose approach</h3>

        <div class="choices">
            <em>PRESSURE IT</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.PUSH00'
                        ) | async
                    }}
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.PUSH01'
                        ) | async
                    }}
                    <br />
                    <span class="name">Deviant</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS.PUSH01'
                        ) | async
                    }}
                    <br />
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.PUSH02'
                        ) | async
                    }}
                    <br />
                    <span class="name">Deviant</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS.PUSH02'
                        ) | async
                    }}
                    <br />
                    <span class="name">Connor</span>:
                    {{ t('X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.PUSH03') }}
                    <br />
                    <span class="name">Deviant</span>:
                    {{
                        t('X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS.PUSH03')
                    }}
                    <br />
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.PUSH04'
                        ) | async
                    }}
                </p>
                <em>GIVE UP</em>
                <div class="choice">
                    <p>
                        <span class="note"
                            >This dialogue will also trigger if "Pressure it"
                            fails</span
                        >
                        <br />
                        <span class="name">Deviant</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS.PUSH01'
                            ) | async
                        }}
                        <br />
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.RENOUNCERIGHT'
                            ) | async
                        }}
                    </p>
                </div>
            </div>
            <em>PROBE ITS MEMORY</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.PROBE') }}
                    <br />
                    <span class="name">Deviant</span>:
                    {{
                        t(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS.FOREARM["1"]'
                        )
                    }}
                </p>
                <div class="condition">
                    <span class="name">Probe succeeded</span> [
                    <span appRelation="small up">Software instability</span>
                    ]
                    <div class="condition-text">
                        <p>
                            <span class="name">Deviant</span>:
                            {{
                                t(
                                    'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS.FOREARM["3"]'
                                )
                            }}
                            <br />
                            <span class="name"
                                >Carlos Ortiz (in the recording)</span
                            >:
                            {{
                                translateObject(
                                    'X0401C.INTERROGATION.FLASHBACK.PC.X04CCARLOS.KITCHEN'
                                ) | async
                            }}
                            <br />
                            <span class="name">Deviant</span>:
                            {{
                                t(
                                    'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS.FOREARM["2"]'
                                )
                            }}
                            <br />
                            <span class="name">Connor</span>:
                            {{
                                translateObject(
                                    'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.CONNECTEND'
                                ) | async
                            }}
                        </p>

                        <div class="condition">
                            <p>
                                <strong
                                    >Talking to deviant after probing
                                </strong>
                            </p>
                            <div class="condition-text">
                                <div class="choices">
                                    <em>APOLOGETIC</em>
                                    <div class="choice">
                                        <span class="name">Connor</span>:
                                        {{
                                            translateObject(
                                                'X0401C.INTERROGATION.END.FA.X04CCONNOR.SORRYSECCONNOR'
                                            ) | async
                                        }}
                                    </div>
                                    <em>COLD</em>
                                    <div class="choice">
                                        <span class="name">Connor</span>:
                                        {{
                                            translateObject(
                                                'X0401C.INTERROGATION.END.PC.X04CCONNOR.NOREGRET'
                                            ) | async
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            <span class="note"
                                >Goes to 'Deviant self-destructs' ending</span
                            >
                        </p>
                    </div>
                </div>
                <div class="condition">
                    <span class="name">Probe failed</span>
                    <div class="condition-text">
                        <span class="name">Deviant</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS.PROBEFAIL'
                            ) | async
                        }}
                        <br />
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.PROBEFAIL'
                            ) | async
                        }}
                    </div>
                </div>
            </div>
            <em>CONVINCE IT</em>
            <div class="choice">
                <div class="choices">
                    <em>UNDERSTANDING</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["05UNDERSTANDING"]'
                            ) | async
                        }}
                    </div>
                    <em>THREATEN</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["05THREATEN"]'
                            ) | async
                        }}
                    </div>
                    <em>ORDER</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["05ORDER"]'
                            ) | async
                        }}
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="choices">
                    <em>SYMPATHIZE</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["06SYMPATHIZE"]'
                            ) | async
                        }}
                    </div>
                    <em>INDIFFERENT</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["06INDIFFERENT"]'
                            ) | async
                        }}
                    </div>
                    <em>COMFORT</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["06COMFORT"]'
                            ) | async
                        }}
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="choices">
                    <em>PROTECT</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["07PROTECT"]'
                            ) | async
                        }}
                    </div>
                    <em>TERRIFY</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["07TERRIFY"]'
                            ) | async
                        }}
                    </div>
                    <em>WARN</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["07WARN"]'
                            ) | async
                        }}
                    </div>
                </div>
            </div>
            <em>GIVE UP</em> [will also automatically happen if the chosen
            approach failed twice]
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR.GIVEUP'
                    ) | async
                }}
            </div>
        </div>

        <h2>Deviant confesses</h2>
        [ <span appRelation="small up">Hank</span>
        ]
        <p>
            <span class="name">Deviant</span>:
            {{
                translateObject(
                    'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS["07CONVINCESUCCESS"]'
                ) | async
            }}
            <br />
        </p>

        <div class="choices">
            <em>[ WRITING ]</em> [
            <i class="fa fa-lock-open fa-flip-horizontal"></i> unlocked by
            looking at the writing on the wall in
            <a [routerLink]="['/chapters', 6]">Partners</a>]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        t(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["08WRITING"]'
                        )
                    }}
                    <br />
                    <span class="name">Deviant</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS["08WRITINGCAND"]'
                        ) | async
                    }}
                </p>
            </div>
            <em>[ STATUETTE ]</em> [
            <i class="fa fa-lock-open fa-flip-horizontal"></i> unlocked by
            looking at the statuette in
            <a [routerLink]="['/chapters', 6]">Partners</a>]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["08STATUETTE"]'
                        ) | async
                    }}
                    <br />
                    <span class="name">Deviant</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS["08STATUETTECAND"]'
                        ) | async
                    }}
                </p>
            </div>
            <em>[ OFFERING ]</em> [
            <i class="fa fa-lock-open fa-flip-horizontal"></i> unlocked by
            asking about the statuette]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["08OFFERING"]'
                        ) | async
                    }}
                    <br />
                    <span class="name">Deviant</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS["08OFFERING"]'
                        ) | async
                    }}
                    <br />
                </p>
            </div>
            <em>[ rA9 ]</em> [
            <i class="fa fa-lock-open fa-flip-horizontal"></i> unlocked by
            looking at the rA9 writings in
            <a [routerLink]="['/chapters', 6]">Partners</a>]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["08RA9"]'
                        ) | async
                    }}
                    <br />
                    <span class="name">Deviant</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS["08RA9"]'
                        ) | async
                    }}
                </p>
            </div>
            <em>[ INSIST rA9 ]</em> [
            <i class="fa fa-lock-open fa-flip-horizontal"></i> unlocked by
            asking about rA9]
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["08INSISTRA9"]'
                    ) | async
                }}
            </div>
            <em>ATTIC</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["08ATTIC"]'
                        ) | async
                    }}
                    <br />
                    <span class="name">Deviant</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS["08ATTIC"]'
                        ) | async
                    }}
                </p>
            </div>
            <em>TRIGGER?</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        t(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["08TRIGGER"]'
                        )
                    }}
                    <br />
                    <span class="name">Deviant</span>:
                    {{
                        translateObject(
                            'X0401C.INTERROGATION.CONNOR.PC.X04CANDCARLOS["08TRIGGER"]'
                        ) | async
                    }}
                </p>
            </div>
        </div>

        <p>
            <span class="name">Connor</span>:
            {{
                t('X0401C.INTERROGATION.CONNOR.PC.X04CCONNOR["08CONVINCEEND"]')
            }}
        </p>

        <div class="condition">
            <span class="name">Deviant self-destructs</span> [
            <i class="fa fa-lock-open fa-flip-horizontal"></i> if stress level
            at 100%]
            <div class="condition-text">
                <p>
                    <span class="name">Gavin</span>:
                    {{
                        t('X0401C.CONCLUSION1.HEADOFF.PC.X04CCURTIS.MONITORING')
                    }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        t(
                            'X0401C.CONCLUSION1.HEADOFF.FA.X04CHANK.MONITORINGHANK'
                        )
                    }}
                    <br />
                    <span class="name">Gavin</span>:
                    {{ t('X0401C.CONCLUSION1.HEADOFF.PC.X04CCURTIS.BEAT01') }}
                    <br />
                    <span class="name">Chris</span>:
                    {{ t('X0401C.CONCLUSION1.HEADOFF.PC.X04CHARVEY.BEAT01') }}
                </p>
                <div class="choices">
                    <em>INTERVENE</em> [
                    <span appRelation="small down">Software instability</span>]
                    <div class="choice">
                        <p>
                            <span class="name">Connor</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION1.HEADOFF.PC.X04CCONNOR.TOBADIDEA'
                                )
                            }}
                            <br />
                            <span class="name">Hank</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION1.BADIDEA.FA.X04CHANK.BADIDEAHANK["1"]'
                                )
                            }}
                            <br />
                            <strong>Deviant shoots Connor and itself</strong>
                            <br />
                            <span class="name">Hank</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION1.BADIDEA.FA.X04CHANK.BADIDEAHANK["2"]'
                                )
                            }}
                        </p>
                    </div>
                    <em>GIVE UP</em>
                    <div class="choice">
                        <strong>Deviant destroys itself</strong>
                        <br />
                        <span class="name">Hank</span>:
                        {{
                            t('X0401C.CONCLUSION1.BADIDEA.FA.X04CHANK.WATCHOUT')
                        }}
                    </div>
                </div>
            </div>
        </div>
        <div class="condition">
            <span class="name">Deviant is taken back to its cell</span>
            <div class="condition-text">
                <div class="choices">
                    <em>GIVE UP</em>
                    <div class="choice">
                        <p>
                            <span class="name">Gavin</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION2.SUICIDE.PC.X04CCURTIS.MOVE["1"]'
                                )
                            }}
                            <br />
                            <span class="name">Chris</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION2.SUICIDE.PC.X04CHARVEY.MOVE["1"]'
                                )
                            }}
                            <br />
                            <span class="name">Deviant</span>:
                            {{
                                translateObject(
                                    'X0401C.CONCLUSION2.SUICIDE.PC.X04CANDCARLOS.MOVE',
                                    0,
                                    2
                                ) | async
                            }}
                            <br />
                            <span class="name">Gavin</span>:
                            {{
                                translateObject(
                                    'X0401C.CONCLUSION2.SUICIDE.PC.X04CCURTIS.MOVE',
                                    1,
                                    3
                                ) | async
                            }}
                            <br />
                            <span class="name">Chris</span>:
                            {{
                                translateObject(
                                    'X0401C.CONCLUSION2.SUICIDE.PC.X04CHARVEY.MOVE',
                                    1,
                                    3
                                ) | async
                            }}
                            <br />
                            <span class="name">Deviant</span>:
                            {{
                                translateObject(
                                    'X0401C.CONCLUSION2.SUICIDE.PC.X04CANDCARLOS.MOVE',
                                    2,
                                    4
                                ) | async
                            }}
                            <br />
                            <span class="name">Gavin</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION2.SUICIDE.PC.X04CCURTIS.MOVE["4"]'
                                )
                            }}
                            <br />
                            <span class="name">Chris</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION2.SUICIDE.PC.X04CHARVEY.MOVE["4"]'
                                )
                            }}
                            <br />
                            <span class="name">Deviant</span>:
                            {{
                                translateObject(
                                    'X0401C.CONCLUSION2.SUICIDE.PC.X04CANDCARLOS.MOVE',
                                    4
                                ) | async
                            }}
                            <br />
                            <span class="name">Chris</span>:
                            {{
                                translateObject(
                                    'X0401C.CONCLUSION2.SUICIDE.PC.X04CHARVEY.MOVE',
                                    4
                                ) | async
                            }}
                        </p>
                        <div class="condition">
                            <strong class="name">Deviant shoots itself</strong>
                            <div class="condition-text">
                                <span class="name">Hank</span>:
                                {{
                                    t(
                                        'X0401C.CONCLUSION1.BADIDEA.FA.X04CHANK.BADIDEAHANK["2"]'
                                    )
                                }}
                            </div>
                        </div>
                        <div class="condition">
                            <strong class="name"
                                >Deviant shoots Connor and itself</strong
                            >
                            [
                            <i class="fas fa-lock-open fa-flip-horizontal"></i>
                            if put deviant under stress and failed to get a
                            confession] [
                            <span appRelation="small down"
                                >Software instability</span
                            >] [ <span appRelation="small down">Hank</span>
                            ]
                            <div class="condition-text">
                                <span class="name">Hank</span>:
                                {{
                                    t(
                                        'X0401C.CONCLUSION1.BADIDEA.FA.X04CHANK.BADIDEAHANK["2"]'
                                    )
                                }}
                            </div>
                        </div>
                    </div>

                    <em>INTERVENE</em>
                    <div class="choice">
                        <p>
                            <span class="name">Connor</span>:
                            {{
                                translateObject(
                                    'X0401C.CONCLUSION2.INTERVENE.PC.X04CCONNOR.INTERVENE01'
                                ) | async
                            }}
                            <br />
                            <span class="name">Gavin</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION2.INTERVENE.PC.X04CCURTIS.INTERVENE01'
                                )
                            }}
                            <br />
                            <span class="note">intervene again</span>
                            <br />
                            <span class="name">Connor</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION2.INTERVENE.PC.X04CCONNOR.INTERVENE02'
                                )
                            }}
                            <br />
                            <span class="name">Gavin</span>:
                            {{
                                translateObject(
                                    'X0401C.CONCLUSION2.INTERVENE.PC.X04CCURTIS.INTERVENE02'
                                ) | async
                            }}
                            <br />
                            <span class="name">Chris</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION2.INTERVENE.PC.X04CHARVEY.INTERVENE02'
                                )
                            }}
                            <br />
                            <span class="note">intervene again</span> [
                            <span appRelation="small up">Hank</span>]
                            <br />
                            <span class="name">Connor</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION2.INTERVENE.PC.X04CCONNOR.INSIST["1"]'
                                )
                            }}
                            <br />
                            <span class="name">Gavin</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION2.INTERVENE.PC.X04CCURTIS.INSIST["1"]'
                                )
                            }}
                            <br />
                            <span class="name">Hank</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION2.INTERVENE.FA.X04CHANK.INSISTHANK["1"]'
                                )
                            }}
                            <br />
                            <span class="name">Gavin</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION2.INTERVENE.PC.X04CCURTIS.INSIST["2"]'
                                )
                            }}
                            <br />
                            <span class="name">Hank</span>:
                            {{
                                t(
                                    'X0401C.CONCLUSION2.INTERVENE.FA.X04CHANK.INSISTHANK["2"]'
                                )
                            }}
                            <br />
                            <span class="name">Gavin</span>:
                            {{
                                translateObject(
                                    'X0401C.CONCLUSION2.INTERVENE.PC.X04CCURTIS.INSIST',
                                    2
                                ) | async
                            }}
                            <br />
                            <span class="name">Connor</span>:
                            {{
                                translateObject(
                                    'X0401C.CONCLUSION2.INTERVENE.PC.X04CCONNOR.INSIST',
                                    1
                                ) | async
                            }}
                        </p>
                        <div class="condition">
                            <span class="name"
                                >[
                                <i
                                    class="fa fa-lock-open fa-flip-horizontal"
                                ></i>
                                ] Used the CONVINCE approach to get a
                                confession</span
                            >
                            <div class="condition-text">
                                <span class="name">Deviant</span>:
                                {{
                                    t(
                                        'X0401C.CONCLUSION2.INTERVENE.PC.X04CANDCARLOS.INSIST'
                                    )
                                }}
                            </div>
                        </div>
                        [
                        <span appRelation="small up">Software instability</span
                        >]
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>
