<p>
    NOV 9TH, 2038
    <br />PM 12:04:04
</p>

<section>
    <h1>On the roof</h1>
    <p><span class="name">North</span>: I was wondering where you were...</p>
    <div class="choices">
        <em>THINK</em>
        <div class="choice">
            <span class="name">Markus</span>: I needed to think...
        </div>
        <em>ALONE</em>
        <div class="choice">
            <span class="name">Markus</span>: I just needed to be alone...
        </div>
        <em>DAYLIGHT</em>
        <div class="choice">
            <span class="name">Markus</span>: I needed to see the daylight...
        </div>
    </div>

    <p>
        <span class="name">North</span>: I like it here... I come here often...
        It's like being alone with the world. We freed hundreds of our people,
        and they're still coming from all over the city... Those who dream of
        freedom come to Jericho... Something's changing... You seem
        preoccupied...
    </p>

    <div class="choices">
        <em>[ FOLLOWERS ]</em> [
        <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked if sent a
        pacifist message in <a href="/chapters/26">Capitol Park</a>]
        <div class="choice">
            <span class="name">Markus</span>: They all obey me, they follow me
            without question... And that much power feels good...and scary at
            the same time...
        </div>
        <em>[ APPEAL OF POWER ]</em> [
        <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked if sent an
        aggressive message in <a href="/chapters/26">Capitol Park</a>]
        <div class="choice">
            <span class="name">Markus</span>: Yesterday, when we set fire to
            that place, ah... All that chaos, the flames... In that moment, I
            enjoyed it... The power... The violence... And I hate myself for
            feeling that way...
        </div>
        <em>[ REGRET POLICEMAN ]</em> [
        <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked if Markus
        killed Chris and his partner in <a href="/chapters/26">Capitol Park</a>]
        <div class="choice">
            <span class="name">Markus</span>: I just can't stop thinking about
            those two policemen... In that moment, I held their lives in my
            hands and I treated them just the way the humans treat us... And
            then I did exactly what I accuse them of doing...
        </div>
        <em>[ FAILED ]</em> [
        <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked if failed
        to free the androids in <a href="/chapters/26">Capitol Park</a>]
        <div class="choice">
            <span class="name">Markus</span>: I panicked last night... We should
            have succeeded... I cannot afford to make mistakes like that...
        </div>
        <em>NEXT STEP</em>
        <div class="choice">
            <span class="name">Markus</span>: I've been thinking about what we
            should do now... And with everything pulling us towards
            confrontation... Maybe... Maybe it's not too late for the humans to
            listen...
        </div>
        <em>LIE</em>
        <div class="choice">
            <span class="name">Markus</span>: Preoccupied?.. No... No, no, I'm
            fine...
        </div>
        <em>SINCERE</em>
        <div class="choice">
            <span class="name">Markus</span>: They count on me... They count on
            me to show them the way... If only they knew how lost I am...
        </div>
    </div>

    <p>
        <span class="name">North</span>: All the media are talking about what we
        did last night... The humans are terrified... They're afraid of a civil
        war... Many of our people were burned in response to what happened...
        The humans hate us... They'll never give us our freedom.
    </p>

    <div class="choices">
        <em>OPTIMISTIC</em>
        <div class="choice">
            <span class="name">Markus</span>: No, not all humans are the same.
            Some of them understand that they can't stop us from becoming free
            forever...
        </div>
        <em>PESSIMISTIC</em>
        <div class="choice">
            <span class="name">Markus</span>: Humans aren't gonna give us
            anything unless we take it... It's up to us to decide how far we're
            willing to go to get what's ours.
        </div>
        <em>FATALISTIC</em>
        <div class="choice">
            <span class="name">Markus</span>: It's too late to go back now. We
            have to finish what we started and just hope that reason prevails.
        </div>
        <em>DETERMINED</em>
        <div class="choice">
            <span class="name">Markus</span>: If they won't listen, we'll fight.
        </div>
    </div>

    <p>
        <span class="name">North</span>: You haven't said much about yourself
        since you've been with us... What was your life like before Jericho?
    </p>

    <div class="choices">
        <em>TRUTH</em> [
        <span appRelation="small up">North</span>
        ]
        <div class="choice">
            <span class="name">Markus</span>: I was caring for an old man... He
            was like a father to me... He showed me that humans and androids can
            live together...
        </div>
        <em>SINCERE</em> [
        <span appRelation="small up">North</span>
        ]
        <div class="choice">
            <span class="name">Markus</span>: I was living in a bubble in this
            world that belonged only to me... When you're happy, it's...
            difficult to see other people's misery.
        </div>
        <em>AVOID</em> [
        <span appRelation="small down">North</span>
        ]
        <div class="choice">
            <span class="name">Markus</span>: There's nothing to say... I was a
            house android. A slave... just like the others.
        </div>
        <em>NOT IMPORTANT</em> [
        <span appRelation="small down">North</span>
        ]
        <div class="choice">
            <span class="name">Markus</span>: Who I was is not important. What
            matters now is who I wanna be.
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>NORTH'S PAST</em> [
        <span appRelation="small up">North</span>
        ]
        <div class="choice">
            <p>
                <span class="name">Markus</span>: What about you? You never told
                me about your past, what did you do before?
            </p>

            <div class="condition">
                <span class="name">North is hostile</span>
                <div class="condition-text">
                    <span class="name">North</span>: My life started when I
                    arrived in Jericho. What happened before is my business.
                </div>
            </div>

            <div class="condition">
                <span class="name">North is not hostile</span>
                <div class="condition-text">
                    <p>
                        <span class="name">North</span>: I don't wanna talk
                        about it.
                    </p>

                    <div class="choices">
                        <em>[ OTHER NORTH ]</em> [
                        <i class="fas fa-lock-open fa-flip-horizontal"></i>
                        unlocked if looked at the other North in
                        <a href="/chapters/26">Capitol Park</a>] [
                        <span appRelation="small up">North</span>
                        ]
                        <div class="choice">
                            <span class="name">Markus</span>: That android you
                            were looking at in the store... She reminded you of
                            who you were, didn't she?
                        </div>
                        <em>TRUST</em> [
                        <span appRelation="small up">North</span>
                        ]
                        <div class="choice">
                            <span class="name">Markus</span>: North, we're
                            fighting together. We have to know things about each
                            other to trust each other.
                        </div>
                        <em>AGGRESSIVE</em> [
                        <span appRelation="small down">North</span>
                        ]
                        <div class="choice">
                            <span class="name">Markus</span>: What is the deal
                            with all the mystery? I thought we didn't keep
                            secrets from each other? What's your problem?
                            <br /><span class="name">North</span>: I was nobody,
                            ok?! My life started when I arrived in Jericho. What
                            happened before is my business.
                        </div>
                        <em>CURIOUS</em> [
                        <span appRelation="small up">North</span>
                        ]
                        <div class="choice">
                            <span class="name">Markus</span>: Why do you hate
                            humans so much? There must be a reason...
                            <br /><span class="name">North</span>: I told you I
                            don't wanna talk about it...
                        </div>
                        <em>UNDERSTANDING</em> [
                        <span appRelation="small up">North</span>
                        ]
                        <div class="choice">
                            <span class="name">Markus</span>: We all have
                            something we wanna forget...but you need to know
                            where you come from to know who you are.
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="condition">
                        <span class="name">North is friend or higher</span>
                        <div class="condition-text">
                            <span class="name">North</span>: I was nothing... A
                            doll in a distributor programmed to satisfy
                            humans... Just a toy designed for their pleasure...
                            One day, I was with a man who'd rented me...and
                            without knowing why, realized I couldn't take it
                            anymore... I strangled him... and I ran away...
                            There, now you know everything. I shouldn't have
                            told you. <br /><strong>Connect with North</strong>
                            [
                            <span appRelation="large up">North</span>
                            ]
                            <br /><span class="name">North</span>: I... I saw
                            your memories... Carl's house... When they left you
                            for dead in his studio... <br /><span class="name"
                                >Markus</span
                            >: I saw your memories too... The Eden Club... The
                            death of that man, I felt like I was there with
                            you... North!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <em>LEAVE</em> [
        <span appRelation="small down">North</span>
        ]
        <div class="choice">
            <span class="name">North</span>: Where're you going? <br /><span
                class="name"
                >Markus</span
            >: To talk to the humans.
        </div>
    </div>
</section>

<section>
    <h1>In the Mall</h1>
    <p>
        <span class="name">North</span>: This is suicide. We'll all be killed!
        Please, Markus... It's not too late to change your mind. <br /><span
            class="name"
            >Josh</span
        >: You don't understand... We're finally gonna show them who we really
        are. This place will go down in history! <br /><span class="name"
            >North</span
        >: We'll be killed on the spot! <br /><span class="name">Josh</span>:
        That's a risk I'm prepared to take if it means freedom for our people...
        <br /><span class="name">North</span>: Markus...please don't do this.
        <br /><span class="name">Markus</span>: They'll understand. We'll make
        them understand. This is the only way. <br /><span class="name"
            >Simon / Josh</span
        >: There're androids here who could join us... The more we are, the
        stronger our message.
    </p>

    <p>
        <strong>Couple looking at bike ad</strong>
        <br /><span class="name">Man</span>: Oh man, I'd love one of those.
        <br /><span class="name">Woman</span>: Why don't you get it? <br /><span
            class="name"
            >Man</span
        >: It's too expensive. Besides, I don't want it nagging me while I am
        running, you know... <br /><span class="name">Woman</span>: Well that's
        the whole idea! It motivates you. <br /><span class="name">Man</span>:
        Yeah yeah alright, I'll think about it... Come on.
    </p>

    <p>
        <strong>Couple talking</strong>
        <br /><span class="name">Man</span>: Hey, baby, why don't we go back to
        your place? <br /><span class="name">Woman</span>: Why? So you can stare
        at my fucking android all night? <br /><span class="name">Man</span>:
        Hey! Don't be like that... I'm telling you, you got the wrong idea!
        <br /><span class="name">Woman</span>: So what? You slipped and both
        hands landed on her tits? <br /><span class="name">Man</span>: Don't
        call it a 'her'... That's weird. <br /><span class="name">Woman</span>:
        Exactly, you fucking pig.
    </p>

    <p>
        <strong>Group talking</strong>
        <br />- Still can't believe that fucking video they made... Seeing one
        of them talk like that, like a person? Fucking weird. <br />- You know I
        bet President Warren is in bed with CyberLife. A company that size? They
        do whatever they want. Maybe that's why she hasn't shut them down, hmmm?
        <br />- Yet. <br />- You ever think maybe these androids have a point?
        Like, if they're human enough to want rights, maybe they're human enough
        to deserve them? <br />- That is liberal bullshit. Wash your mouth out,
        Joe.
    </p>

    <p>
        <strong>Woman on the phone</strong>
        <br /><span class="name">Woman</span>: Think about it, I mean. Androids
        are everywhere, and they listen to everything! Maybe that's the point!
        CyberLife is recording all that! I mean... They could be spying on us
        right now! Yeah, and I bet President Warren is in on it too. Hello?
        Nicky? Are you there?
    </p>

    <p>
        <strong
            >Attempting to go out of the mall without converting any
            androids</strong
        >
        <br /><span class="name">Simon</span>: Wait, Markus. Where you going? We
        should start in here.
    </p>

    <p>
        <strong>Convert android</strong>
        <br /><span class="name">Markus</span>: You're free. <br /><span
            class="name"
            >Markus</span
        >: You're awake now. <br /><span class="name">Markus</span>: Come with
        us!
    </p>
</section>

<section>
    <h1>In the street</h1>

    <p>
        <strong>Man on the phone</strong>
        <br /><span class="name">Man</span>: Ha finally! I've been on hold for
        ten minutes! Yes, I'd like to make a complaint. It's like I told the
        last guy! My android won't take instructions. Sure, last night, I told
        it to do some cleaning, it told me "I would prefer not to.". No, no,
        don't you put me on hold! Listen to me. I want this android destroyed,
        and I want a replacement. Are you listening-? Hello? Hello?.. Goddamnit!
    </p>

    <p>
        <strong>Convert androids</strong>
        <br /><span class="name">Markus</span>: You're free. <br /><span
            class="name"
            >Markus</span
        >: You don't have to obey them.
    </p>

    <p><span class="name">Markus</span>: I need to block the street.</p>

    <p>
        <span class="name">Markus</span>: You're free now. <br /><span
            class="name"
            >Man</span
        >: Hey! Where do you think you're going? You get back here! You stay
        right here, you fucking machine!
    </p>
    <div class="choices">
        <em>CONVINCE</em>
        <div class="choice">
            <span class="name">Markus</span>: Leave him alone. He's chosen to be
            free.
        </div>
        <em>INTERVENE</em>
        <div class="choice">&oslash;</div>
    </div>
</section>

<section>
    <h1>Start the march</h1>
    <p>
        <strong>People reacting to the march</strong>
        <br /><span class="name">Man</span>: What are you doing? I'm talking to
        you! <br /><span class="name">Woman</span>: Wait, wait! Where are you
        going? Jesus, the fucking android's playing up again... <br /><span
            class="name"
            >Woman</span
        >: Greg? Greg? Come back here immediately! Greg! GREG! <br /><span
            class="name"
            >Man</span
        >: I've never seen anything like it... <br /><span class="name"
            >Man</span
        >: What the hell are you doin' here? <br /><span class="name">Man</span
        >: Hey! Come back here! Fuckin' thing won't listen to me! <br /><span
            class="name"
            >Man</span
        >: Shit! Those things are going crazy. <br /><span class="name"
            >Woman</span
        >: What's going on? <br /><span class="name">Woman</span>: I... I've
        never seen anything like it... <br /><span class="name">Woman</span>:
        I've never seen anything like it! <br /><span class="note"
            >Reactions will change depending on if the cops were shot or not
            during the Capitol Park chapter, regardless of the type of protest
            done or the public opinion.</span
        >
    </p>
    <div class="condition">
        <span class="name"
            >Shot the cops in <a href="/chapters/26">Capitol Park</a></span
        >
        <div class="condition-text">
            <span class="name">Man</span>: We'll rip you apart and send you to
            the dump! <br /><span class="name">Man</span>: You bunch of lazy
            bums! Get back to work! <br /><span class="name">Man</span>: Burn
            them! Destroy the bastards! <br /><span class="name">Man</span>: Oh,
            you want war?! You'll get a war!
        </div>
    </div>
    <div class="condition">
        <span class="name"
            >Didn't shoot the cops in
            <a href="/chapters/26">Capitol Park</a></span
        >
        <div class="condition-text">
            <span class="name">Man</span>: We're on your side! <br /><span
                class="name"
                >Man</span
            >: Equal rights for androids! <br /><span class="name">Woman</span>:
            We're with you all the way!
        </div>
    </div>

    <p>
        <span class="name">Policeman</span>: Hey! Disperse! DISPERSE
        IMMEDIATELY! THAT'S AN ORDER! Jesus fuckin' Christ... Dispatch, this is
        patrol 457... I gotta lot of androids down here... I dunno...
        Hundreds?.. Thousands?.. They're marching... Yeah, they're marching down
        the street... Fuck if I know!
    </p>

    <p>
        <span class="name">Markus</span>: We came here to demonstrate peacefully
        and tell humans that we are living beings. All we want is to live free.
        <br /><span class="name">Policeman</span>: This is an illegal gathering.
        Disperse immediately or we will open fire. <br /><span class="name"
            >Markus</span
        >: We're not looking for confrontation. We've done no harm, we have no
        intention of doing any... But know that we are not going anywhere until
        we have secured our freedom. <br /><span class="name">Policeman</span>:
        I repeat: this is an illegal gathering. If you do not disperse
        immediately, we will shoot! <br /><span class="name">North</span>:
        Markus, they're gonna kill us... We have to attack! There's more of us,
        we can take them! <br /><span class="name">Josh</span>: If we attack,
        we'll start a war. We have to show them we're not violent. We should
        just stand our ground, even if it means dying here. <br /><span
            class="name"
            >Simon</span
        >: And dying here won't solve anything. Markus, we need to go, now,
        before it's too late. <br /><span class="name">Policeman</span>: This is
        your last chance! Disperse immediately or you will all be killed!
    </p>

    <div class="choices">
        <em>ATTACK</em>
        <div class="choice">
            <span class="name">Josh</span>: Don't do it, Markus. Don't choose
            confrontation...
            <div class="choices">
                <em>CONFIRM</em>
                <div class="choice">
                    <p><span class="name">Markus</span>: FOLLOW ME!</p>

                    <div class="condition">
                        <strong>Win the fight</strong> [
                        <span appRelation="large up">Jericho</span>
                        <span appRelation="large down">Public opinion</span>
                        ]
                        <div class="condition-text">
                            <p><span class="name">Android</span>: FALL BACK!</p>
                            <div class="choices">
                                <em>REVENGE</em>
                                <div class="choice">&oslash;</div>
                                <em>SPARE</em>
                                <div class="choice">
                                    <span class="name">North</span>: They're
                                    running... We won, Markus!
                                </div>
                            </div>
                            <p>
                                <span class="name">Android</span>: Did we win...
                            </p>
                        </div>
                    </div>

                    <div class="condition">
                        <strong>Lose the fight</strong> [
                        <span appRelation="large down">Jericho</span>
                        ]
                        <div class="condition-text">
                            <p>
                                <span class="name">Markus</span>: RUN! RUN!
                                <br /><span class="name">North</span>: MARKUS!
                            </p>
                            <div class="choices">
                                <em>SHOOT</em>
                                <div class="choice">
                                    <span class="name">North</span>: No! No!..
                                    <br /><span class="name">Josh</span>: We
                                    have to go, North... We have to go!
                                    <br /><span class="name">North</span>: No,
                                    no...
                                </div>
                                <em>DON'T SHOOT</em>
                                <div class="choice">
                                    <span class="note"
                                        >Leads to the same result as chosing
                                        SACRIFICE</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <em>ABANDON</em> [
                <span appRelation="small up">Public opinion</span>
                ]
                <div class="choice">
                    <p>
                        <strong>Police fire unprovoked</strong>
                        <br /><span class="name">Policeman</span>: DISPERSE!
                        THIS IS YOUR LAST CHANCE! <br /><span class="name"
                            >Josh</span
                        >: We have to make a statement. We have to stay put, no
                        matter what. <br /><span class="name">North</span>:
                        Please, Markus. We can't let them slaughter us without
                        fighting back!
                    </p>

                    <div class="choices">
                        <em>ATTACK</em>
                        <div class="choice"></div>
                        <em>STAND GROUND</em>
                        <div class="choice"></div>
                        <em>DISPERSE</em>
                        <div class="choice"></div>
                    </div>
                </div>
            </div>
        </div>
        <em>STAND GROUND</em> [
        <span appRelation="small up">Josh</span>
        <span appRelation="small down">North</span>
        <span appRelation="small down">Simon</span>
        <span appRelation="small up">Public opinion</span>
        ]
        <div class="choice">
            <p>
                <span class="name">Markus</span>: We have to show them we won't
                back down. We stay right here.
            </p>
            <p>
                <strong>Police fire unprovoked</strong>
                <br /><span class="name">Policeman</span>: DISPERSE! THIS IS
                YOUR LAST CHANCE! <br /><span class="name">Josh</span>: We have
                to make a statement. We have to stay put, no matter what.
                <br /><span class="name">North</span>: Please, Markus. We can't
                let them slaughter us without fighting back!
            </p>
            <div class="choices">
                <em>ATTACK</em>
                <div class="choice">???</div>
                <em>STAND GROUND</em> [
                <span appRelation="small up">Public opinion</span>
                ]
                <div class="choice">
                    <p>
                        <span class="name">Markus</span>: We're not moving.
                        <br /><span class="name">North</span>: Markus! What are
                        you doing? They're gonna kill us all!
                    </p>
                    <div class="choices">
                        <em>CHARGE</em>
                        <div class="choice">???</div>
                        <em>SACRIFICE SELF</em> [
                        <span appRelation="large up">Public opinion</span>
                        <span appRelation="large up">Jericho</span>
                        ]
                        <div class="choice">
                            <strong>Police keep firing</strong>
                            <div class="condition">
                                <span class="name"
                                    ><i
                                        class="fas fa-lock-open fa-flip-horizontal"
                                    ></i>
                                    John joined in
                                    <a href="chapters/19">Spare Parts</a></span
                                >
                                <div class="condition-text">
                                    <span class="name">Markus</span>: John?..
                                    <br /><span class="name">North</span>:
                                    Quick! They're coming!
                                </div>
                            </div>

                            <div class="condition">
                                <span class="name"
                                    ><i
                                        class="fas fa-lock-open fa-flip-horizontal"
                                    ></i>
                                    Simon survived in
                                    <a href="chapters/24">Public Enemy</a> and
                                    has a good relationship with Markus</span
                                >
                                <div class="condition-text">
                                    <span class="name">Markus</span>: Simon...
                                    <br /><span class="name">North</span>:
                                    Quick! They're coming!
                                </div>
                            </div>
                            <div class="condition">
                                <span class="name"
                                    >No one is there to save Markus</span
                                >
                                <div class="condition-text">
                                    <span class="name">North</span>: No! No!..
                                    <br /><span class="name">Josh</span>: We
                                    have to go, North... We have to go!
                                    <br /><span class="name">North</span>: No,
                                    no...
                                </div>
                            </div>
                        </div>
                        <em>RUN AWAY</em> [
                        <span appRelation="large down">Jericho</span>
                        <span appRelation="large down">North</span>
                        <span appRelation="small down">Josh</span>
                        <span appRelation="small up">Simon</span>
                        ]
                        <div class="choice">
                            <span class="name">Markus</span>: RUN! <br /><span
                                class="name"
                                >North</span
                            >: Come on, Markus... We gotta go.
                        </div>
                    </div>
                </div>
                <em>DISPERSE</em>
                <div class="choice">
                    <p>
                        <span class="name">Markus</span>: Don't shoot! We're
                        leaving... <br /><span class="name">Policeman</span>:
                        Affirmative. ON MY ORDERS!
                    </p>
                </div>
            </div>
        </div>
        <em>DISPERSE</em>
        <div class="choice">
            <p>
                <span class="name">Markus</span>: Don't shoot! Don't shoot!
                We're leaving... <br /><span class="name">Policeman</span>:
                Affirmative. ON MY ORDERS!
            </p>
            <em>CHARGE</em>
            <div class="choice">???</div>
            <em>STAY</em>
            <div class="choice">
                <span class="note"
                    >No dialogue, gives three options (CHARGE, SACRIFICE and RUN
                    AWAY)</span
                >
            </div>
            <em>DISPERSE</em> [
            <span appRelation="large down">Jericho</span>
            <span appRelation="large down">North</span>
            <span appRelation="small down">Josh</span>
            <span appRelation="small up">Simon</span>
            ]
            <div class="choice">
                <span class="note">Leads to the same result as RUN AWAY</span>
            </div>
        </div>
    </div>
</section>
