<!-- scene change from Connor if he died or stayed machine -->
<ng-container *transloco="let t">
	<section>
		<h1>Carl died in <a [routerLink]="['/chapters', 8]">Broken</a></h1>

		<p>
			{{ t("GUI.MENU.DATE.03A") }}
			<br />
			{{ t("GUI.MENU.TIME.03ACEMETERY") }}
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="
					t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE01.OPENHEART')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.01OPENHEART"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE01.MISSYOU')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.01MISSYOU"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE01.REGRETS')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.01REGRETS01"
							) | async
						}}
						{{
							t(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.01REGRETS02"
							)
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE01.LESSON')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.01LESSON"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<mat-divider></mat-divider>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="
					t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE02.SOMBER')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.02SOMBER"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE02.DOUBTS')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.02DOUBTS"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE02.FATALIST')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.02FATALIST"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE02.LOST')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.02LOST"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<mat-divider></mat-divider>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="
					t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE03.ADVICE')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.03ADVICE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE03.DECISION')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.03DECISION"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE03.ANGER')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.03ANGER"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<mat-divider></mat-divider>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="
					t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE04.DESPAIRED')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.04DESPAIRED"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE04.MOVED')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.04MOVED"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE04.HELP')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.04HELP"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>
	</section>

	<section>
		<h1>Carl is still alive</h1>

		<p>
			{{ t("GUI.MENU.DATE.03A") }}
			<br />
			{{ t("GUI.MENU.TIME.03A") }}
		</p>

		<p>
			<app-dialogue-line name="Alarm">
				{{
					t("X0904M.CARLHOUSE.ALARM.VO.X09MHOUSEALARMVOICE.MOVIEKCH")
				}}
			</app-dialogue-line>
		</p>

		<section>
			<h2>Listen to Leo's message</h2>
			<p>
				<app-dialogue-line name="Leo">
					{{
						translationService.translateObject(
							"X0904M.CARLHOUSE.LEO.PC.X09MLEO.VIDEO"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2>Go upstairs</h2>
			<p>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0904M.CARLHOUSE.UPSTAIRS.FA.X09MCARLANDROID.STARTA",
							0,
							2
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X0904M.CARLHOUSE.UPSTAIRS.PC.X09MMARKUS.START") }}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{
						t(
							"X0904M.CARLHOUSE.UPSTAIRS.FA.X09MCARLANDROID.STARTA.3"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0904M.CARLHOUSE.UPSTAIRS.PC.X09MMARKUS.CONTACT"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0904M.CARLHOUSE.UPSTAIRS.FA.X09MCARLANDROID.LEOHURT"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.START",
							0,
							2
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Carl">
					{{ t("X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.START.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.START.3") }}
				</app-dialogue-line>
				<app-dialogue-line name="Carl">
					{{ t("X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.START.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.START",
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Carl">
					{{ t("X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.START.3") }}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP01.DOUBTS')
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.DOUBT"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP01.FATALISTIC'
						)
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.FATALISTIC"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP01.LOST')
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.LOST"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP01.DARK')
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.DARK"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Carl">
					{{
						translationService.translateObject(
							"X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.FEAR"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP02.ADVICE')
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.ADVICE01"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Carl">
							{{
								translationService.translateObject(
									"X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.ADVICE01"
								) | async
							}}
							{{
								translationService.translateObject(
									"X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.NEXT01"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP02.DILEMMA'
						)
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.DILEMMA"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Carl">
							{{
								translationService.translateObject(
									"X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.ADVICE01"
								) | async
							}}
							{{
								translationService.translateObject(
									"X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.NEXT01"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP02.ANGER01'
						)
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.ANGER01"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Carl">
							{{
								translationService.translateObject(
									"X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.NEXT02"
								) | async
							}}
						</app-dialogue-line>
					</p>

					<app-choice-group>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP04.REASON'
								)
							"
						>
							<p>
								<app-dialogue-line name="Markus">
									{{
										translationService.translateObject(
											"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.REASON"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Carl">
									{{
										translationService.translateObject(
											"X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.NEXT01"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP04.ANGER02'
								)
							"
						>
							<p>
								<app-dialogue-line name="Markus">
									{{
										translationService.translateObject(
											"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.ANGER02"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Carl">
									{{
										translationService.translateObject(
											"X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.ANGER02CARL"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Markus">
									{{
										translationService.translateObject(
											"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.ANGER02MARKUS"
										) | async
									}}
									{{
										t(
											"X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.CARLDEAD02M"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Android">
									{{
										t(
											"X0904M.CARLHOUSE.CONFESSION.PC.X09MCARLANDROID.CARLDEAD02.3"
										)
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
					</app-choice-group>
				</app-choice-item>
			</app-choice-group>
		</section>
	</section>

	<mat-divider></mat-divider>

	<section>
		<h1>In the church : Jericho was attacked</h1>

		<section>
			<h2>Talking with Simon</h2>
			<p>
				<app-relation
					[name]="RelationName.Simon"
					[type]="RelationType.SmallUp"
				></app-relation>
			</p>
			<app-conditioned-content>
				<div class="condition"><p>North is alive</p></div>
				<div class="content">
					<p>
						<app-dialogue-line name="Simon">
							{{
								translationService.translateObject(
									"X0904M.CHURCH.SITUATION.PC.X09MSIMON.CONT"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition">
					<p>
						<app-unlock-condition [unlockType]="UnlockType.Death">
							North is dead
						</app-unlock-condition>
					</p>
				</div>
				<div class="content">
					<app-choice-group>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CHURCH.SITUATION.PC.CHOICEGROUP01.SITUATION'
								)
							"
						>
							<p>
								<app-dialogue-line name="Markus">
									{{
										t(
											"X0904M.CHURCH.SITUATION.PC.X09MMARKUS.SITUATION"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Simon">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.SITUATION.PC.X09MSIMON.SITUATION"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CHURCH.SITUATION.PC.CHOICEGROUP01.NORTH'
								)
							"
						>
							<!-- TODO (V2): Check NORTHABANDONNED -->
							<p>
								<app-dialogue-line name="Markus">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.SITUATION.PC.X09MMARKUS.NORTHDEAD"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CHURCH.SITUATION.PC.CHOICEGROUP01.HOWMANY'
								)
							"
						>
							<p>
								<app-dialogue-line name="Markus">
									{{
										t(
											"X0904M.CHURCH.SITUATION.PC.X09MMARKUS.HOWMANY"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Simon">
									<!-- TODO (V2): Check if Jericho not blown up -->
									{{
										translationService.translateObject(
											"X0904M.CHURCH.SITUATION.PC.X09MSIMON.HOWMANY"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CHURCH.SITUATION.PC.CHOICEGROUP01.CAMPS'
								)
							"
						>
							<p>
								<app-dialogue-line name="Markus">
									{{
										t(
											"X0904M.CHURCH.SITUATION.PC.X09MMARKUS.CAMPS"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Simon">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.SITUATION.PC.X09MSIMON.CAMPSSIMON",
											0,
											3
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CHURCH.SITUATION.PC.CHOICEGROUP01.JOSH'
								)
							"
						>
							<p>
								<app-unlock-condition
									[unlockType]="UnlockType.Death"
								>
									Josh is dead
								</app-unlock-condition>
								<app-dialogue-line name="Markus">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.SITUATION.PC.X09MMARKUS.JOSH"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Simon">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.SITUATION.PC.X09MSIMON.JOSHSIMON"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
					</app-choice-group>
				</div>
			</app-conditioned-content>
		</section>

		<section>
			<h2>Talking with Josh</h2>
			<p>
				<app-relation
					[name]="RelationName.Josh"
					[type]="RelationType.SmallUp"
				></app-relation>
			</p>
			<app-conditioned-content>
				<div class="condition">
					<p>
						<app-unlock-condition [unlockType]="UnlockType.Death">
							North died in
							<a [routerLink]="['/chapters', 32]">Crossroads</a>
						</app-unlock-condition>
					</p>
				</div>
				<div class="content">
					<!-- TODO (V2): Check if X0904M.CHURCH.SITUATION.PC.X09MMARKUS.NORTHABANDONNED triggers if chose RUN -->
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0904M.CHURCH.TALKTOJOSH.PC.X09MMARKUS.NORTHDEAD",
									0,
									2
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Josh">
							{{
								translationService.translateObject(
									"X0904M.CHURCH.TALKTOJOSH.PC.X09MJOSH.NORTHDEAD",
									1
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<p>
				<app-dialogue-line name="Josh">
					{{
						translationService.translateObject(
							"X0904M.CHURCH.TALKTOJOSH.PC.X09MJOSH.THANKS"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2>Talking with Connor</h2>
			<p>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0904M.CHURCH.TRUSTCONNOR.PC.X09MCONNOR.STARTC"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0904M.CHURCH.TRUSTCONNOR.PC.CHOICEGROUP01.TRUST')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.Jericho"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0904M.CHURCH.TRUSTCONNOR.PC.X09MMARKUS.TRUST"
								) | async
							}}
						</app-dialogue-line>
					</p>
					<p>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0904M.CHURCH.TRUSTCONNOR.PC.X09MCONNOR.CONNORPLANC",
									0,
									2
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0904M.CHURCH.TRUSTCONNOR.PC.X09MMARKUS.CONNORPLAN",
									0,
									2
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0904M.CHURCH.TRUSTCONNOR.PC.X09MCONNOR.CONNORPLANC",
									2
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0904M.CHURCH.TRUSTCONNOR.PC.X09MMARKUS.CONNORPLAN.3"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0904M.CHURCH.TRUSTCONNOR.PC.X09MCONNOR.CONNORPLANENDC"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0904M.CHURCH.TRUSTCONNOR.PC.X09MMARKUS.CONNORPLANEND"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0904M.CHURCH.TRUSTCONNOR.PC.CHOICEGROUP01.DONTTRUST'
						)
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0904M.CHURCH.TRUSTCONNOR.PC.X09MMARKUS.DONTTRUST"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<section>
			<h2>Talking with North</h2>
			<p>
				<app-relation
					[name]="RelationName.North"
					[type]="RelationType.SmallUp"
				></app-relation>
			</p>
			<app-conditioned-content>
				<div class="condition">
					<p>Markus wasn't rejected by Jericho</p>
				</div>
				<div class="content">
					<app-choice-group>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP02.SITUATION'
								)
							"
						>
							<p>
								<app-dialogue-line name="Markus">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.SITUATION"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP02.SURVIVORS'
								)
							"
						>
							<p>
								<app-dialogue-line name="Markus">
									{{
										t(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.SURVIVORS01"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="North">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.SURVIVORS02"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP02.WOUND'
								)
							"
						>
							<p>
								<app-dialogue-line name="Markus">
									{{
										t(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.WOUND"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="North">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.WOUND"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP02.CAMPS'
								)
							"
						>
							<p>
								<app-dialogue-line name="Markus">
									{{
										t(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.CAMPS"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="North">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.CAMPS"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
					</app-choice-group>
					<p>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.CONT"
								) | async
							}}.
						</app-dialogue-line>
					</p>
					<app-conditioned-content>
						<div class="condition">
							<p>North has lover relationship status</p>
						</div>
						<div class="content">
							<p>
								<app-dialogue-line name="North">
									{{
										t(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.LOVEYOU"
										)
									}}
								</app-dialogue-line>
							</p>
						</div>
					</app-conditioned-content>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition">
					<p>Markus was rejected by Jericho</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.WRONG"
								) | async
							}}
						</app-dialogue-line>
					</p>

					<app-choice-group>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP01.HUMBLE'
								)
							"
						>
							<p>
								<app-relation
									[name]="RelationName.North"
									[type]="RelationType.SmallUp"
								></app-relation>
								<app-dialogue-line name="Markus">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.HUMBLE"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP01.LENIENT'
								)
							"
						>
							<p>
								<app-dialogue-line name="Markus">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.FORGIVING"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP01.RESENTFUL'
								)
							"
						>
							<p>
								<app-dialogue-line name="Markus">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.RESENTFUL"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="North">
									{{
										translationService.translateObject(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.RESENTFUL"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Markus">
									{{
										t(
											"X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.RESENTFULEND"
										)
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
					</app-choice-group>
				</div>
			</app-conditioned-content>
		</section>

		<section>
			<h2>Talking with Kara</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0904M.CHURCH.KARALEAVING.PC.X09MMARKUS.BUS01"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{
						translationService.translateObject(
							"X0904M.CHURCH.KARALEAVING.PC.X09MKARA.BUSK",
							0,
							3
						) | async
					}}
				</app-dialogue-line>
			</p>
			<app-unused-content>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CHURCH.KARALEAVING.PC.X09MMARKUS.BUS02"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-unused-content>
			<p>
				<app-dialogue-line name="Kara">
					{{
						translationService.translateObject(
							"X0904M.CHURCH.KARALEAVING.PC.X09MKARA.BUSK",
							3
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>
	</section>

	<section>
		<h1>Speak to androids</h1>

		<p>
			<app-dialogue-line name="Markus">
				{{
					translationService.translateObject(
						"X0904M.CHURCH.DECISION.PC.X09MMARKUS.EXTERMINATE"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="
					t('X0904M.CHURCH.DECISION.PC.CHOICEGROUP01.PROTESTMARCH')
				"
			>
				<p>
					<app-relation
						[name]="RelationName.Josh"
						[type]="RelationType.SmallUp"
					></app-relation>
					<app-relation
						[name]="RelationName.North"
						[type]="RelationType.SmallDown"
					></app-relation>
					<app-relation
						[name]="RelationName.Jericho"
						[type]="RelationType.LargeUp"
					></app-relation>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CHURCH.DECISION.PC.X09MMARKUS.DEMONSTRATION"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Androids">
						{{ t("X6016X.CROWD.GEN.VO.KBO.MARKUS4.1") }}
						{{ t("X0904M.CHURCH.CROWD.VO.X09MCROWDL.ROARINGL01") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0904M.CHURCH.DECISION.PC.CHOICEGROUP01.ATTACK')
				"
			>
				<p>
					<app-relation
						[name]="RelationName.North"
						[type]="RelationType.SmallUp"
					></app-relation>
					<app-relation
						[name]="RelationName.Josh"
						[type]="RelationType.SmallDown"
					></app-relation>
					<app-relation
						[name]="RelationName.Jericho"
						[type]="RelationType.LargeUp"
					></app-relation>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0904M.CHURCH.DECISION.PC.X09MMARKUS.ATTACKV2"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Androids">
						{{ t("X6016X.CROWD.GEN.VO.KBO.MARKUS4.1") }}
						{{ t("X0904M.CHURCH.CROWD.VO.X09MCROWDL.ROARINGL01") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>
	</section>
</ng-container>
