.container,
.spinner {
  height: 100%;
}

.main-section {
  background-color: rgba(233, 233, 233, 0.884);
  padding: 40px;
  color: #222;

  h1 {
    font-size: 3em;
    margin: 10px 10px 10px 0;
  }

  h2 {
    font-size: 2em;
    margin: 20px 20px 20px 0;
    color: #2c2c2c;
  }

  h3 {
    font-size: 1.8em;
    margin: 20px 20px 20px 0;
    color: #404040;
  }
}
.chapter-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  row-gap: 1em;

  div.next {
    text-align: right;
  }

  a {
    color: #1f2444;
    transition: color 0.8s;
    -o-transition: color 0.8s;
    -ms-transition: color 0.8s;
    -moz-transition: color 0.8s;
    -webkit-transition: color 0.8s;
  }

  a:hover {
    color: #545c91;
  }
}

header {
  background-color: rgba(2, 8, 44, 0.883);
  color: #c5c5c5;
  margin-bottom: 40px;
  text-align:center h1 {
    margin: 0;
    padding: 10px;
  }
}
