.choice {
    .choice-name {
        display: inline;
        color: white;
        background-color: rgba(0, 0, 0, 0.753);
        font-style: normal;
        padding: 0.5rem;
    }

    .choice-content {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        border-width: 2px;
        border-color: #8b8b8b;
        border-left-style: solid;
    }
}
