.condition {
    .condition-text {
        border-width: 2px;
        border-color: #414141;
        border-left-style: solid;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
