<footer
    class="
        flex flex-col
        sm:flex-row
        justify-start
        items-center
        bg-gray-900
        mt-16
        p-4
        text-purple-400 text-opacity-75
    "
>
    <div
        class="
            flex-auto flex flex-col
            sm:flex-row
            justify-center
            items-center
            mb-2
            sm:mb-0
        "
    >
        <a href="http://www.freepik.com" class="mb-1 sm:mb-0"
            >Background designed by ikatod / Freepik</a
        >
        <span class="hidden sm:inline mx-2">●</span>
        <a [routerLink]="['/credits']">Credits</a>
    </div>

    <div>
        <a
            href="https://github.com/detroitbecometext/detroitbecometext.github.io"
            data-goatcounter-click="detroitbecometext.github.io"
        >
            <fa-icon
                [icon]="['fab', 'github']"
                matTooltip="See the source on GitHub"
                class="cursor-pointer text-2xl text-gray-50"
            ></fa-icon>
        </a>
    </div>
</footer>
