<footer fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="center center">
        <a href="http://www.freepik.com"
            >Background designed by ikatod / Freepik</a
        >
        <span>●</span>
        <a [routerLink]="['/credits']">Credits</a>
    </div>

    <div>
        <a
            href="https://github.com/detroitbecometext/detroitbecometext.github.io"
            data-goatcounter-click="detroitbecometext.github.io"
        >
            <fa-icon
                [icon]="['fab', 'github']"
                matTooltip="See the source on GitHub"
            ></fa-icon>
        </a>
    </div>
</footer>
