@import '../../../styles/colors.scss';

header {
    height: 64px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    background-color: $header-background;

    nav {
        height: 100%;

        fa-icon {
            cursor: pointer;
            color: $header-icons;
            margin-left: 0.8rem;
            margin-right: 0.8rem;
            font-size: 1.4rem;
        }

        .flag-icon-background {
            margin-right: 1em;
        }
    }
}

:host {
    z-index: 1;
}

.flag-icon-background {
    height: 37.5px;
    width: 50px;
    cursor: pointer;
}

.flags {
    .flag-icon-background {
        margin: 0.5em;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
}
