:host {
    z-index: 1;
}

header {
    height: 64px;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    nav {
        height: 100%;

        fa-icon {
            @apply cursor-pointer text-white mx-3 text-2xl;
        }

        .flag-icon-background {
            @apply mr-4;
        }
    }
}

.flag-icon-background {
    height: 37.5px;
    width: 50px;
    cursor: pointer;
}

.flags {
    .flag-icon-background {
        @apply m-2;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
}
