<header>
    <nav class="flex flex-row justify-start items-center">
        <fa-icon icon="bars" (click)="sidenav.toggle()"></fa-icon>
        <fa-icon
            icon="home"
            [routerLink]="['/home']"
            matTooltip="Home"
        ></fa-icon>
        <fa-icon
            icon="question"
            (click)="openDialog()"
            matTooltip="Info"
        ></fa-icon>
        <fa-icon
            icon="envelope"
            [routerLink]="['/contact']"
            matTooltip="Contact"
        ></fa-icon>

        <span class="flex-auto"></span>
        <div
            class="flag-icon-background flag-icon-{{ activeFlag }}"
            (click)="showFlagPanel = !showFlagPanel"
        ></div>
    </nav>
    <div *ngIf="showFlagPanel" class="flex flex-row justify-end">
        <div class="flags flex flex-row flex-wrap justify-end max-w-1/2">
            <div
                *ngFor="let lang of supportedLanguages"
                class="flag-icon-background flag-icon-{{ lang.flag }}"
                (click)="changeLanguage(lang.lang)"
                matTooltip="{{ lang.label }}"
            ></div>
        </div>
    </div>
</header>
