<div>
	<span>[&nbsp;</span>

	@if (unlockType === UnlockType.Lock) {
		<div class="inline">
			<fa-icon [icon]="faLockOpen" flip="horizontal"></fa-icon>
		</div>
	}

	@if (unlockType === UnlockType.Death) {
		<div class="inline">
			<fa-icon [icon]="faSkull"></fa-icon>
		</div>
	}

	@if (unlockType === UnlockType.Time) {
		<div class="inline">
			<fa-icon [icon]="faHourglassEnd"></fa-icon>
		</div>
	}

	@if (unlockType === UnlockType.Tv) {
		<div class="inline">
			<fa-icon [icon]="faTv"></fa-icon>
		</div>
	}

	@if (bracketsOnlyAroundIcon) {
		<span>&nbsp;]</span>
	}

	@if (unlockType !== UnlockType.None) {
		<span>&nbsp;-&nbsp;</span>
	}

	<div class="inline">
		<ng-content></ng-content>
	</div>

	@if (!bracketsOnlyAroundIcon) {
		<span>]</span>
	}
</div>
