<ng-container *transloco="let t">
	<section aria-labelledby="landfill">
		<h1 id="landfill">At the solid waste landfill</h1>

		<p>
			{{ t("GUI.MENU.DATE.03M") }}
			<br />
			{{ t("GUI.MENU.TIME.03M") }}
		</p>

		<app-observation label="Diagnose">
			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.EYEMISSING.TITLE')"
				[subline1]="t('MENU.OBSERVATION.03M.MP.EYEMISSING.SUBLINE01')"
				[subline2]="t('MENU.OBSERVATION.03M.MP.EYEMISSING.SUBLINE02')"
			/>

			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.EARMISSING.TITLE')"
				[subline1]="t('MENU.OBSERVATION.03M.MP.EARMISSING.SUBLINE01')"
				[subline2]="t('MENU.OBSERVATION.03M.MP.EARMISSING.SUBLINE02')"
			/>

			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.CHESTDEF.TITLE')"
				[subline1]="t('MENU.OBSERVATION.03M.MP.CHESTDEF.SUBLINE01')"
				[subline2]="t('MENU.OBSERVATION.03M.MP.CHESTDEF.SUBLINE02')"
			/>

			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.RIGHTLEGDAM.TITLE')"
				[subline1]="t('MENU.OBSERVATION.03M.MP.RIGHTLEGDAM.SUBLINE01')"
				[subline2]="t('MENU.OBSERVATION.03M.MP.RIGHTLEGDAM.SUBLINE02')"
			/>
		</app-observation>

		<app-observation label="Compatible right leg">
			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.COMPRIGHTLEG.TITLE')"
				[subline1]="t('MENU.OBSERVATION.03M.MP.COMPRIGHTLEG.SUBLINE01')"
				[subline2]="t('MENU.OBSERVATION.03M.MP.COMPRIGHTLEG.SUBLINE02')"
				[subline3]="t('MENU.OBSERVATION.03M.MP.COMPATIBLE')"
			/>
		</app-observation>

		<app-observation label="Incompatible right leg">
			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.INCOMPRIGHTLEG.TITLE')"
				[subline1]="
					t('MENU.OBSERVATION.03M.MP.INCOMPRIGHTLEG.SUBLINE01')
				"
				[subline2]="
					t('MENU.OBSERVATION.03M.MP.INCOMPRIGHTLEG.SUBLINE02')
				"
				[subline3]="t('MENU.OBSERVATION.03M.MP.INCOMPATIBLE')"
			/>
		</app-observation>

		<app-observation label="Left leg">
			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.COMPLEFTLEG.TITLE')"
				[subline1]="t('MENU.OBSERVATION.03M.MP.COMPLEFTLEG.SUBLINE01')"
				[subline2]="t('MENU.OBSERVATION.03M.MP.COMPLEFTLEG.SUBLINE02')"
				[subline3]="t('MENU.OBSERVATION.03M.MP.COMPATIBLE')"
			/>
		</app-observation>

		<section aria-labelledby="grabbed">
			<h2 id="grabbed">Android grabs Markus</h2>
			<p>
				<app-dialogue-line name="Phileas">
					{{
						translationService.translateObject(
							"X0302M.LANDFILL.SLOPE.PC.X03MPHILEAS.PHILEASV2"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="grabbed-2">
			<h2 id="grabbed-2">Other android grabs Markus</h2>
			<p>
				<app-dialogue-line name="Android">
					{{ t("X0302M.LANDFILL.ARMS.FA.X03MARMAND.WHERE") }}
				</app-dialogue-line>
			</p>
		</section>

		<app-observation label="Search for components">
			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.INCOMPCHEST.TITLE')"
				[subline1]="t('MENU.OBSERVATION.03M.MP.INCOMPCHEST.SUBLINE01')"
				[subline2]="t('MENU.OBSERVATION.03M.MP.INCOMPCHEST.SUBLINE02')"
				[subline3]="t('MENU.OBSERVATION.03M.MP.INCOMPATIBLE')"
			/>

			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.COMPCHEST.TITLE')"
				[subline1]="t('MENU.OBSERVATION.03M.MP.COMPCHEST.SUBLINE01')"
				[subline2]="t('MENU.OBSERVATION.03M.MP.COMPCHEST.SUBLINE02')"
				[subline3]="t('MENU.OBSERVATION.03M.MP.COMPATIBLE')"
			/>

			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.INCOMPEYE.TITLE')"
				[subline1]="t('MENU.OBSERVATION.03M.MP.INCOMPEYE.SUBLINE01')"
				[subline2]="t('MENU.OBSERVATION.03M.MP.INCOMPEYE.SUBLINE02')"
				[subline3]="t('MENU.OBSERVATION.03M.MP.INCOMPATIBLE')"
			/>

			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.COMPEYE.TITLE')"
				[subline1]="t('MENU.OBSERVATION.03M.MP.COMPEYE.SUBLINE01')"
				[subline2]="t('MENU.OBSERVATION.03M.MP.COMPEYE.SUBLINE02')"
				[subline3]="t('MENU.OBSERVATION.03M.MP.COMPATIBLE')"
			/>

			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.INCOMPEAR.TITLE')"
				[subline1]="t('MENU.OBSERVATION.03M.MP.INCOMPEAR.SUBLINE01')"
				[subline2]="t('MENU.OBSERVATION.03M.MP.INCOMPEAR.SUBLINE02')"
				[subline3]="t('MENU.OBSERVATION.03M.MP.INCOMPATIBLE')"
			/>

			<app-observation-item
				[title]="t('MENU.OBSERVATION.03M.MP.COMPEAR.TITLE')"
				[subline1]="t('MENU.OBSERVATION.03M.MP.COMPEAR.SUBLINE01')"
				[subline2]="t('MENU.OBSERVATION.03M.MP.COMPEAR.SUBLINE02')"
				[subline3]="t('MENU.OBSERVATION.03M.MP.COMPATIBLE')"
			/>
		</app-observation>

		<section aria-labelledby="beg-die">
			<h2 id="beg-die">Android begs to die</h2>
			<p>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0302M.LANDFILL.EVENTDYINGV2.FA.X03MANGRYAND01.BEGGING"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0302M.LANDFILL.EVENTDYINGV2.FA.CHOICEGROUP.KILL')
					"
				>
					<p>
						<app-dialogue-line name="Android">
							{{
								t(
									"X0302M.LANDFILL.EVENTDYINGV2.FA.X03MANGRYAND01.KILL"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0302M.LANDFILL.EVENTDYINGV2.FA.CHOICEGROUP.SPARE')
					"
				>
					<p>
						<app-dialogue-line name="Android">
							{{
								translationService.translateObject(
									"X0302M.LANDFILL.EVENTDYINGV2.FA.X03MANGRYAND01.SPARE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<section aria-labelledby="take-pump">
			<h2 id="take-pump">Try to take pump regulator from android</h2>
			<p>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0302M.LANDFILL.GOODBALANCE.FA.X03MHEARTANDROID01.PLEASE"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0302M.LANDFILL.GOODBALANCE.FA.KILLCHOICE.KILL')
					"
				>
					<p>&oslash;</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0302M.LANDFILL.GOODBALANCE.FA.KILLCHOICE.SPARE')
					"
				>
					<p>
						<app-dialogue-line name="Android">
							{{
								t(
									"X0302M.LANDFILL.GOODBALANCE.FA.X03MHEARTANDROID01.SPARE"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<section aria-labelledby="take-head">
			<h2 id="take-head">Take head</h2>
			<p>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0302M.LANDFILL.EYE.FA.X03MHEAD01.MODEL"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<h3 id="take-eye">Remove optical unit</h3>
			<p>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0302M.LANDFILL.EYE.FA.X03MHEAD01.ANOMALY"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="background-dialogues">
			<h2 id="background-dialogues">Background dialogues</h2>

			<p>
				<span class="italic"
					>(There are no subtitles shown in game, but some dialogues
					can be heard.)</span
				>
			</p>
			<ul>
				<li>
					{{
						translationService.translateObject(
							"X0302M.LANDFILL.ANDCHITCHAT.FA.X03MMANBODY01.MLOOP01"
						) | async
					}}
				</li>
				<li>
					{{
						t(
							"X0302M.LANDFILL.ANDCHITCHAT.FA.X03MWOMBODY01.WLOOP01"
						)
					}}
				</li>
				<li>
					{{
						t(
							"X0302M.LANDFILL.ANDCHITCHAT.FA.X03MMANBODY02.MLOOP02"
						)
					}}
				</li>
				<li>
					{{
						t(
							"X0302M.LANDFILL.ANDCHITCHAT.FA.X03MMANBODY03.MLOOP03"
						)
					}}
				</li>
				<li>
					{{
						translationService.translateObject(
							"X0302M.LANDFILL.ANDCHITCHAT.FA.X03MMANBODY07.MLOOP04"
						) | async
					}}
				</li>
				<li>
					{{
						translationService.translateObject(
							"X0302M.LANDFILL.ANDCHITCHAT.FA.X03MMANBODY08.MLOOP05"
						) | async
					}}
				</li>
				<li>
					{{
						t(
							"X0302M.LANDFILL.ANDCHITCHAT.FA.X03MMANBODY09.MLOOP06"
						)
					}}
				</li>
				<li>
					{{
						t(
							"X0302M.LANDFILL.ANDCHITCHAT.FA.X03MMANBODY10.MLOOP07"
						)
					}}
				</li>
				<li>
					{{
						t(
							"X0302M.LANDFILL.ANDCHITCHAT.FA.X03MWOMBODY02.WLOOP02"
						)
					}}
				</li>
				<li>
					{{
						translationService.translateObject(
							"X0302M.LANDFILL.ANDCHITCHAT.FA.X03MWOMBODY03.WLOOP03"
						) | async
					}}
				</li>
				<li>
					{{
						translationService.translateObject(
							"X0302M.LANDFILL.ANDCHITCHAT.FA.X03MSEXBOTM.SEXBOTM"
						) | async
					}}
				</li>
				<li>
					{{
						translationService.translateObject(
							"X0302M.LANDFILL.ANDCHITCHAT.FA.X03MSEXBOTW.SEXBOTW"
						) | async
					}}
				</li>
				<li>
					{{
						translationService.translateObject(
							"X0302M.LANDFILL.JERICHO.FA.X03MANDJERICHO.MUSTGO"
						) | async
					}}
				</li>
			</ul>
		</section>

		<section aria-labelledby="climb">
			<h2 id="climb">Climb the slope</h2>
			<p>
				<app-unused-content>
					<app-dialogue-line name="Markus">
						{{
							t("X0302M.LANDFILL.FINALWORDS.PC.X03MMARKUS.NAME.1")
						}}
					</app-dialogue-line>
				</app-unused-content>

				<app-dialogue-line name="Markus">
					{{ t("X0302M.LANDFILL.FINALWORDS.PC.X03MMARKUS.NAME.2") }}
				</app-dialogue-line>
			</p>
		</section>
	</section>
</ng-container>
