<section>
    <p>
        NOV 5TH, 2038
        <br />AM 09:38
    </p>

    <h1>Greek District</h1>

    <p>
        <strong>Man and android near the bench</strong>
        <br /><span class="name">Android</span>: Would you like to go home now?
        <br /><span class="name">Man</span>: Yes, Rose. Yes, I think that's
        enough for one day... <br /><span class="name">Android</span>: Here.
        L-let me help you. <br /><span class="name">Man</span>: Oh! Oh, thank
        you dear.
    </p>

    <p>
        <strong>Man running</strong>
        <br /><span class="name">Man</span>: Hey! Water. <br /><span
            class="name"
            >Android</span
        >: You have run twelve miles, and are five miles away from your goal.
    </p>

    <p>
        <strong>Road Workers</strong>
        <br /><span class="name">Road worker</span>: Hurry up, you plastic
        idiots! I want this done by 4!
    </p>

    <p>
        <strong>Looking at the Hot dog vendor</strong>
        <br /><span class="name">Vendor</span>: Hey, move it! You're scaring
        away my customers. Are you deaf, you plastic fuck? I said move it!
    </p>

    <p>
        <strong>Delivery truck</strong>
        <br /><span class="name">Woman</span>: Hi. <br /><span class="name"
            >Android</span
        >: These are supposed to be in bay seven. <br /><span class="name"
            >Woman</span
        >: Sure, sounds good.
    </p>

    <p>
        <strong>Watch preacher</strong>
        <br /><span class="name">Preacher</span>: Poor sinners! The end is nigh!
        Retribution is at hand! Technology is corrupting us, technology is Evil!
        We are playing God by creating machines, but we are not God! We are
        nothing but dust! We make these androids in our own image but they only
        reflect the darkness in our souls! Verily, I say unto thee, the day
        shall come when we will have to pay the price for our arrogance! On that
        day, we shall have to explain our acts of idolatry! We built those
        androids to be our slaves, but the slaves are becoming the masters. We
        can no longer live without them. They're in our homes, our schools, our
        factories, they take our jobs! They mind our children! They care for our
        own! We can no longer live without these slaves obeying our every
        selfish desire. We prefer to live with machines than with our own kind!
        Technology is our God now! It was supposed to serve man, but it is
        becoming our new master! Androids are evil! Man seeks to imitate God by
        creating life, but what kind of life is this? A life of plastic and
        metal? A life with no soul? A pale copy of our Creator! The machines are
        observing us. They are waiting in the darkness for the right moment to
        take our place. For it is written: "let us lie in wait for blood. Let us
        ambush the innocent without cause"! God will not let this happen, no, he
        will not allow his creation to be led astray by these...these artificial
        demons! My bretheren, we have to turn our backs on sin! We have to burn
        the androids! Let us burn them all!
    </p>

    <p>
        <strong>Preacher notices Markus</strong>
        <br /><span class="name">Preacher</span>: Why do you look at me so,
        demon? I know who you are, I can see through you! You are the one by
        whom The Evil will come! You are the one who will destroy Detroit!
    </p>

    <p>
        <strong>Background dialogues</strong>
        <br />Woman: That new shirt really suits you! <br />Man: Yeah? So... you
        think I look good? <br />Woman: Don't get cocky!
        <br />
        <br />- What are you doing, pick it up! Faster!
        <br />
        <br />Homeless man : Hey, listen, can you spare some cash? I don't need
        much, just enough for a cup of coffee.
        <br />
        <br />- Wow! It looks great, don't you think?
    </p>

    <h2>At Bellini paints</h2>
    <p>
        <span class="name">Android</span>: Identification verified. Here's your
        order #847. That'll be $63.99. Please confirm payment. <br /><span
            class="name"
            >Markus</span
        >: Payment confirmed. <br /><span class="name">Android</span>:
        Transaction complete.
    </p>

    <h2>Going to take the bus</h2>

    <p>
        <strong>Couple looking at Android on display</strong>
        <br /><span class="name">Man</span>: What's wrong with the one we have?
        <br /><span class="name">Woman</span>: There's nothing wrong with it,
        but... All our friends are getting upgrades and this one can do so much
        more stuff, see? <br /><span class="name">Man</span>: Maybe... Let's
        come back this afternoon and see if we still like it, right? <br /><span
            class="name"
            >Woman</span
        >: Oh, Jesus, you are so boring!
    </p>

    <p>
        <strong>Watching the protest</strong>
        <br /><span class="name">Protester</span>: Androids are stealing our
        jobs! We've got families to feed and these androids are taking our
        place! Machines, ladies and gentlemen, are meant to serve us, not to
        replace us! <br /><span class="name">Protesters</span>: YEAH!
        <br /><span class="name">Protester</span>: 35% unemployment, millions
        out of work, are we going to do something? <br /><span class="name"
            >Protesters</span
        >: YEAH! FUCK, YEAH! <br /><span class="name">Protester</span>: We want
        jobs, not more androids! <br /><span class="name">Protesters</span>: WE
        - WANT - WORK! <br /><span class="name">Protester</span>: We need to ban
        androids NOW! What do we want? <br /><span class="name">Protesters</span
        >: BAN ANDROIDS! <br /><span class="name">Protester</span>: When do we
        want it? <br /><span class="name">Protesters</span>: NOW! <br /><span
            class="name"
            >Protester</span
        >: What do we want? <br /><span class="name">Protesters</span>: WORKERS'
        RIGHTS! <br /><span class="name">Protester</span>: When do we want it?
        <br /><span class="name">Protesters</span>: NOW! <br /><span
            class="name"
            >Protester</span
        >: What do we want? <br /><span class="name">Protesters</span>: BAN
        ANDROIDS! <br /><span class="name">Protester</span>: When do we want it?
        <br /><span class="name">Protesters</span>: NOW!
    </p>

    <p>
        <strong>Protester sees Markus</strong>
        <br /><span class="name">Protester</span>: Where the fuck you going, tin
        can? Hm? No kiddin'... Hey guys, check it out, we got one of those tin
        cans here... <br /><span class="name">Woman</span>: Look at this little
        motherfucker. You steal our jobs, but you can't even stand up.
        <br /><span class="name">Protesters</span>: Yeah! Yeah! Grab him! Get
        him down! Get that bum! Yeah, take that on! Take it! Yeah, now you know
        what it feels like! Go on! Go on! <br /><span class="name">Woman</span>:
        You job stealer! Kick him outta here! Yeah! You deserve it! <br /><span
            class="name"
            >Protester</span
        >: You ain't going anywhere. We're gonna fuck your bitch ass up.
        <br /><span class="name">Protesters</span>: Yeah, waste it! <br /><span
            class="name"
            >Woman</span
        >: Do it! <br /><span class="name">Policeman</span>: Alright, that's
        enough. Leave it alone. <br /><span class="name">Protester</span>: Let
        us teach this bastard a lesson. <br /><span class="name">Policeman</span
        >: You damage it, I'm gonna have to fine you. <br /><span class="name"
            >Protester</span
        >: They're gonna take your job next... We'll see how you like it...
        <br /><span class="name">Policeman</span>: Okay... Let's go, move along.
    </p>
</section>
