<button
	class="flex flex-row items-center cursor-pointer"
	(click)="languagePickerService.togglePicker()"
	aria-label="Toggle language picker"
	matTooltip="Toggle language picker"
>
	<fa-icon
		[icon]="faAngleUp"
		class="transition-all duration-200 transform me-2 text-2xl"
		[ngClass]="{ 'stroke-current text-white': switchCaretColor }"
		[class.rotate-0]="(languagePickerService.showPicker$ | async) === false"
		[class.rotate-180]="
			(languagePickerService.showPicker$ | async) === true
		"
	></fa-icon>
	<span
		class="flag fi fi-{{ languagePickerService.activeFlag$ | async }}"
	></span>
</button>
