<ng-container *transloco="let t">
    <div class="container">
        <h1>Chapters</h1>
        <mat-nav-list>
            <a
                mat-list-item
                [routerLink]="['/chapters', link.id]"
                *ngFor="let link of chapterLinks"
                (click)="sidenav.close()"
            >
                {{ t(link.translationKey) }}
            </a>
        </mat-nav-list>

        <mat-divider></mat-divider>

        <h1>Magazines</h1>
        <mat-nav-list>
            <a
                mat-list-item
                [routerLink]="['/magazines', link.id]"
                *ngFor="let link of magazineLinks"
                (click)="sidenav.close()"
            >
                {{ t(link.translationKey) }}
            </a>
        </mat-nav-list>

        <mat-divider></mat-divider>

        <h1>Extras</h1>
        <mat-nav-list>
            <a
                mat-list-item
                [routerLink]="['/chloe']"
                (click)="sidenav.close()"
            >
                Chloe
            </a>
        </mat-nav-list>
    </div>
</ng-container>
