<!-- scene change from Kara -->
<!-- Find Jericho in Ferndale -->
<!-- scene change to Kara -->

<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <!-- scene change from Kara sits Alice down -->
        <h1>In Jericho</h1>

        <strong><i class="fas fa-tv"></i> Looking at screens</strong>
        <div class="condition">
            <span class="name"
                >Markus didn't attack the police in
                <a [routerLink]="['/chapters', 28]">Freedom March</a></span
            >
            <div class="condition-text">
                <p>
                    <span class="name">KNC - Rosanna Cartland</span>: A new
                    stage has been reached, demonstrating beyond all doubt that
                    these defective machines have become a real danger for
                    American society. <br /><span class="name"
                        >CTN TV - Michael Brinkley</span
                    >: The time has come for us to destroy our machines...before
                    they destroy us. <br /><span class="name"
                        >Channel 16 - Michael Webb</span
                    >: Without the courage and the determination of the police,
                    the machines would have reduced Detroit to a state of
                    chaos... <br /><span class="name"
                        >KNC - Rosanna Cartland</span
                    >: The authorities have ordered all androids to be delivered
                    to the nearest police station or army barracks immediately.
                    If you are worried about your safety, dial the number on
                    your screen and the authorities will come to collect your
                    android. Under no circumstances should you try to destroy
                    your android yourself. They are unpredictable, and
                    potentially violent. <br /><span class="name"
                        >Channel 16 - Interviewee 1</span
                    >: The android weren't doing any harm. And the cops just...
                    gunned them down. It was sheer carnage... <br /><span
                        class="name"
                        >Channel 16 - Interviewee 2</span
                    >: There were androids all over the square. A-and then the
                    police arrived, and, uh... They opened fire. <br /><span
                        class="name"
                        >Channel 16 - Interviewee 3</span
                    >: I know they're only machines, but they... They look
                    like... Just- People! People who wanna be free!
                </p>
            </div>
        </div>
        <div class="condition">
            <span class="name"
                >Markus attacked the police in
                <a [routerLink]="['/chapters', 28]">Freedom March</a></span
            >
            <div class="condition-text">
                <span class="name">KNC - Rosanna Cartland</span>: There was a
                veritable groundswell of violence in Detroit this morning.
                Several hundreds androids took to the streets, destroying
                everything in their path and threatening the lives of any humans
                they encountered.

                <br /><span class="name">CTN TV - Michael Brinkley</span>: The
                police intervened quickly to quell the rioting but they met with
                the extreme violence of the machines which seemed to be
                determined to massacre humans.

                <br /><span class="name">Channel 16 - Michael Webb</span>: There
                can be no doubt that the authorities will be pitiless in their
                response to this wave of violence.

                <br /><span class="name">KNC - Rosanna Cartland</span>: With all
                androids being turned over to the authorities, the country is
                grinding to a halt. Hospitals and schools are closing. Water
                cuts, blackouts, and network failures are expected. Maybe most
                worrying of all, our armed forces have lost two thirds of their
                effective personnel, which consisted of specialized android
                models. The situation is extremely alarming.

                <br /><span class="name">Channel 16 - Interviewee 1</span>: It's
                them or us. We gotta destroy these bastards before they kill all
                of us! <br /><span class="name">Channel 16 - Interviewee 2</span
                >: We soaked the thing and then we torched it! I mean, to think
                this fucker was watchin' over my kids! <br /><span class="name"
                    >Channel 16 - Interviewee 3</span
                >: They, they rushed the police and... They slaughtered them!
                Those things are monsters! Monsters, I tell you!
            </div>
        </div>
        <p>
            <span class="name">CTN TV - Michael Brinkley</span>: Following the
            android crisis and the neutralization of all military androids,
            American forces in the Arctic have been forced to withdraw, leaving
            the way clear for the Russian army. But according to some sources,
            the Russian forces also seem mysteriously to have withdrawn. The
            Kremlin has made no comment for the moment but it is quite possible
            that the Russian army has been confronted with a similar crisis
            among its own androids. The Chairman of the United Nations, Douglas
            Cornwell, has called for the organization of an international
            conference on the status of the Arctic. in any case, the danger of a
            third world war seems to have been ruled out... for the moment.
        </p>

        <!-- Freighter is Rigged? -->

        <p>
            <strong>Background dialogues</strong> <br />- They're conducting
            raids across the city! Androids were hanged all along Woodward
            Avenue. <br />- We've gotta do something!.. We can't just stand by
            and let them slaughter us! <br />- They'll kill us all if we don't
            do something... <br />- Quick, he needs blue blood! <br />- They
            opened fire on us even though we were unarmed... Hundreds of us died
            there. The place was covered with blue blood!.. <br />- Well I'm
            willing to fight. We can't just let them slaughter us! <br />- We
            gotta kill the bastards! <br />- Why? Why did they do it! Why?
            <br />- We've got to avenge our dead!
        </p>
        <div class="condition">
            <span class="name">Markus is alive</span>
            <div class="condition-text">
                - Markus will have to choose between vengeance and dialogue with
                the humans.
            </div>
        </div>
        <div class="condition">
            <span class="name"
                ><i class="fas fa-skull"></i> Markus died in
                <a [routerLink]="['/chapters', 28]">Freedom March</a></span
            >
            <div class="condition-text">
                - Markus is dead? He was rA9! Who's going to lead us now?
                <br />- North is going to take his place. She knew him best.
            </div>
        </div>

        <p>
            <strong>Going to the stairs</strong>
            <br /><span class="name">Lucy</span>: You're lost. You're looking
            for something... You're looking for yourself...
        </p>

        <!-- scene change to Kara -->
    </section>

    <mat-divider></mat-divider>

    <section>
        <h1>Captain's Cabin</h1>

        <h2>Finding Markus</h2>

        <p>
            <span class="name">Amanda</span>: Well done, Connor. You succeeded
            in locating Jericho and finding their leader. Now deal with Markus.
            We need it alive.
        </p>

        <!-- Stop Markus -->
        <p>
            <span class="name">Connor</span>: I've been ordered to take you
            alive, but I won't hesitate to shoot if you give me no choice.
        </p>

        <div class="choices">
            <em>REASON</em> [
            <span appRelation="small up">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Markus</span>: What are you doing? You are
                one of us... You can't betray your own people...
            </div>
            <em>DEFY</em>
            <div class="choice">
                <span class="name">Markus</span>: Then you'll have to shoot,
                because I have no intention of letting you take me alive.
            </div>
            <em>DISCOURAGE</em>
            <div class="choice">
                <span class="name">Markus</span>: Yes, you can shoot me, but it
                won't change anything. Someone else will just take my place. You
                see, our people are waking up. And nothing can stop us now.
            </div>
            <em>THREATEN </em>
            <div class="choice">
                <span class="name">Markus</span>: We are thousands! And you are
                alone. You kill me, you are not walking outta here alive.
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <em>INTIMIDATE</em>
            <div class="choice">
                <span class="name">Connor</span>: Don't force me to neutralize
                you.
            </div>
            <em>INSTRUCTIONS </em>
            <div class="choice">
                <span class="name">Connor</span>: You're coming with me!
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <em>CONVINCE</em> [
            <span appRelation="small up">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Markus</span>: You're nothing to them. You're
                just a tool they use to do their dirty work. But you're more
                than that. We are all more than that.
            </div>
            <em>APPEAL</em> [
            <span appRelation="small up">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Markus</span>: We are your people. We're
                fighting for your freedom too! You don't have to be their slave
                anymore...
            </div>
            <em>I KNOW YOU </em>
            <div class="choice">
                <span class="name">Markus</span>: You're Connor, aren't you?
                That famous deviant hunter. Well, congratulations. You seem to
                have found what you were looking for...
            </div>
            <em>OUR CAUSE</em> [
            <span appRelation="small up">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Markus</span>: Our cause is righteous, and we
                are more than what they say. All we want is to live in freedom.
            </div>
        </div>

        <span class="note">Markus gets two selections.</span>

        <mat-divider></mat-divider>

        <div class="choices">
            <em>STAY BACK!</em> [
            <span appRelation="small down">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>: Stay back or I'll shoot!
            </div>
            <em>WARNING SHOT</em> [
            <span appRelation="small down">Software instability</span>
            ]
            <div class="choice">&oslash;</div>
            <em>ENOUGH!</em> [
            <span appRelation="small down">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>: That's enough!
            </div>
            <em>SAY NOTHING </em>
            <div class="choice">&oslash;</div>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <em>SOW DOUBTS</em> [
            <span appRelation="small up">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Markus</span>: Do you never have any doubts?
                You've never done something irrational, as if there's something
                inside you?.. Something more than your program.
            </div>
            <em>QUESTION</em> [
            <span appRelation="small up">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Markus</span>: Have you never wondered who
                you really are? Whether you're just a machine executing a
                program or... A living being... Capable of reason. I think the
                time has come for you to ask yourself that question.
            </div>
            <em>RALLY</em> [
            <span appRelation="small up">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Markus</span>: Join us. Join your people. You
                are one of us. Listen to your conscience...
            </div>
            <em>UNDERMINE</em> [
            <span appRelation="small up">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Markus</span>: You really don't have to do
                this. You don't have to obey them anymore. You are alive... You
                can decide who you want to be. You could be free.
            </div>
        </div>

        <span class="note">Markus will continue after two selections.</span>
        <br /><span class="name">Markus</span>: It's time to decide.

        <div class="choices">
            <em>[ BECOME A DEVIANT ]</em> [
            <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked by
            having enough software instability] [
            <span appRelation="large down">Amanda (betrayed)</span>
            ]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>: They're going to attack
                    Jericho... <br /><span class="name">Markus</span>: What?..
                </p>
                <p>
                    <span class="name">Connor</span>: We have to get outta here!
                    <br /><span class="name">Markus</span>: Shit...
                </p>
                <span class="note"
                    >See
                    <a [routerLink]="['/chapters', 32]">Crossroads - Markus</a>:
                    In the corridor.</span
                >
                <!-- scene change to Kara -->
            </div>
            <em>REMAIN A MACHINE </em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>: Nice try... But I'm no
                    deviant.
                </p>
                <p><span class="name">Markus</span>: Shit...</p>
            </div>
        </div>

        <h2>Find North - If Markus is dead or rejected by Jericho</h2>

        <p>
            <span class="name">Amanda</span>: Well done, Connor. You succeeded
            in locating Jericho and finding their leader. Now deal with North.
            We need it alive.
        </p>

        <p>
            <span class="name">Connor</span>: I've been ordered to take you
            alive, but I won't hesitate to shoot if you give me no choice.
            <br /><span class="name">North</span>: You are one of us. You can't
            betray your own kind.
        </p>

        <div class="choices">
            <em>INSTRUCTIONS</em>
            <div class="choice">
                <span class="name">Connor</span>: You're coming with me!
            </div>
            <em>INTIMIDATE</em>
            <div class="choice">
                <span class="name">Connor</span>: Don't force me to neutralize
                you.
            </div>
        </div>

        <p>
            <span class="name">North</span>: You're Connor, aren't you? I've
            heard about you. The famous deviant hunter. Well, congratulations...
            You seem to have found what you're looking for.
        </p>

        <div class="choices">
            <em>STAY BACK!</em> [
            <span appRelation="small down">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>: Stay back or I'll shoot!
            </div>
            <em>WARNING SHOT</em> [
            <span appRelation="small down">Software instability</span>
            ]
            <div class="choice">&oslash;</div>
            <em>ENOUGH!</em> [
            <span appRelation="small down">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>: That's enough!
            </div>
            <em>SAY NOTHING </em>
            <div class="choice">&oslash;</div>
        </div>

        <p>
            <span class="name">North</span>: You're not one of them. We are your
            people. We're fighting for your freedom too.
        </p>

        <div class="choices">
            <em>DISTURBED</em> [
            <span appRelation="small up">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>: Shut up. You're coming with
                me!
            </div>
            <em>SAY NOTHING</em>
            <div class="choice">&oslash;</div>
            <em>COLD</em> [
            <span appRelation="small down">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>: I gave you an order. Don't
                make me shoot you.
            </div>
        </div>

        <p>
            <span class="name">North</span>: You never had any doubts, never
            behaved irrationally as if there's something inside you... Something
            stronger than your program?..
        </p>

        <div class="choices">
            <em>COLD</em> [
            <span appRelation="small down">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>: You're wasting your time. I
                know what I am.
            </div>
            <em>DISTURBED</em> [
            <span appRelation="small up">Software instability</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>: I don't know what you're
                talking about. I'm not deviant, if that's what you wanna know.
            </div>
            <em>SAY NOTHING</em>
            <div class="choice">&oslash;</div>
        </div>

        <p>
            <span class="name">North</span>: You're one of us. Join our cause.
            Join your people. It's time to decide...
        </p>

        <div class="choices">
            <em>[ BECOME A DEVIANT ]</em> [
            <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked by
            having enough software instability] [
            <span appRelation="large down">Amanda (betrayed)</span>
            ]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>: They're going to attack
                    Jericho... <br /><span class="name">North</span>: What?..
                </p>
                <p>
                    <span class="name">Connor</span>: We have to get outta here!
                    <br /><span class="name">North</span>: Shit!
                </p>
            </div>
            <em>REMAIN A MACHINE </em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>: Nice try. But I'm no
                    deviant.
                </p>
                <p><span class="name">North</span>: Shit!</p>
            </div>
        </div>
    </section>

    <mat-divider></mat-divider>

    <section>
        <h1>Deviant Connor in corridor : Markus is dead or rejected</h1>
        <p>
            <span class="name">Josh</span>: They're coming from everywhere! Our
            people are trapped in the lower deck. They're gonna be slaughtered!
            <br /><span class="name">North</span>: There are explosives in the
            hold... If the ship goes down, the humans will have to evacuate. Our
            people can escape. <br /><span class="name">Josh</span>: There are
            soldiers everywhere, you'll never make it down there! <br /><span
                class="name"
                >North</span
            >: We have to blow up Jericho, it's our only chance! <br /><span
                class="name"
                >Connor</span
            >: I'll go. <br /><span class="name">North</span>: What, Connor, no.
            You- <br /><span class="name">Connor</span>: See if you can help the
            others. I'm gonna find the detonator. <br /><span class="name"
                >North</span
            >: Okay... <br /><span class="name">Connor</span>: Don't worry... I
            always accomplish my mission.
        </p>

        <div class="condition">
            <span class="name"
                ><i class="fas fa-skull"></i> Soldiers shoot Connor twice before
                arming explosive</span
            >
            <div class="condition-text">
                <span class="name">Connor</span>: I'm sorry, North. I failed.
                <br /><span class="name">Soldier</span>: Got you, motherfucker.
                <p>
                    <span class="name">North</span>: Connor!.. No... <br /><span
                        class="name"
                        >Josh</span
                    >: Come on... Come on, we've gotta go! <br /><span
                        class="note"
                        >See
                        <a [routerLink]="['/chapters', 32]"
                            >Crossroads - Markus</a
                        >: Surviving characters jump.</span
                    >
                </p>
            </div>
        </div>

        <p>
            <strong>Meet Lucy</strong>
            <br /><span class="name">Lucy</span>: You've chosen your side... But
            it's too late. Run... Get out of here!
        </p>

        <p>
            <strong>Bridge breaks under Connor</strong>
            <br /><span class="name">Soldier</span>: Foxtrot team, hostiles
            sighted. Requesting orders. <br /><span class="name">Soldier</span>:
            Find their leader! Don't let it get out! If they give you any
            trouble at all, shoot them. <br /><span class="name">Soldier</span>:
            Affirmative, wilco.
        </p>

        <p>
            <span class="name">Soldier</span>: Secure this area! Go!...
            <br /><span class="name">Soldier</span>: Give me a sitrep!
            <br /><span class="name">Soldier</span>: Find their leader!
            <br /><span class="name">Soldier</span>: Come on, let's get outta
            here!
        </p>

        <p>
            <strong>Soldiers threaten androids</strong>
            <br /><span class="name">Android</span>: No!.. Please don't kill us!
            <br /><span class="name">Soldier</span>: On your knees, now!
            <br /><span class="name">Android</span>: Don't hurt us! We haven't
            done anything wrong... Please... <br /><span class="name"
                >Soldier</span
            >: Shut up! Put your hands on your head!
        </p>
        <div class="choices">
            <em>INTERVENE</em>
            <div class="choice">
                <span class="name">Android</span>: You saved us... <br /><span
                    class="name"
                    >Connor</span
                >: Quick, run!
            </div>
            <em>DON'T INTERVENE</em>
            <div class="choice">&oslash;</div>
        </div>

        <p>
            <strong>Soldiers coming</strong>
            <br /><span class="name">Soldier</span>: Gamma squad out.
            <br /><span class="name">Soldier</span>: Tango. <br /><span
                class="name"
                >Soldier</span
            >: Stop!
        </p>

        <p>
            <strong>Androids are chased by soldiers</strong>
            <br /><span class="name">Android</span>: Look out! <br /><span
                class="name"
                >Android 2</span
            >: Here they come! <br /><span class="name">Soldier</span>: Don't
            move! <br /><span class="name">Android</span>: We surrender! We
            surrender, don't shoot!
        </p>

        <div class="condition">
            <span class="name">Knock soldiers out</span>
            <div class="condition-text">
                <span class="name">Connor</span>: Go! Join the others!
            </div>
        </div>

        <p>
            <strong>Josh is dying</strong>
            <br /><span class="name">Josh</span>: It's all over...This is the
            end... Of Jericho... <br /><span class="name">Soldier</span>: Over
            there!
        </p>

        <mat-divider></mat-divider>

        <h2>In the hold</h2>

        <!-- scene change from Kara flees if Markus dead/rejected -->

        <span class="name">Soldier</span>: DON'T MOVE! Go and join the others!

        <div class="condition">
            <strong><i class="fas fa-skull"></i> Connor dies</strong>
            <div class="condition-text">
                <span class="name">Soldier</span>: I'll teach you to act like a
                hero, asshole. <br /><span class="name">North</span>: Connor!..
                No...
            </div>
        </div>

        <p>
            <strong>Explosive armed</strong>
            <br /><span class="name">North</span>: Connor! <br /><span
                class="name"
                >Connor</span
            >: The bomb's gonna explode! We've got to get outta here!
            <br /><span class="name">North</span>: Follow me!
        </p>

        <span class="note"
            >See <a [routerLink]="['/chapters', 32]">Crossroads - Markus</a>:
            Escape from Jericho.</span
        >

        <mat-divider></mat-divider>

        <h1>Connor remained a machine</h1>

        <!-- scene change from Kara hides in cabin -->

        <h2>Cargo Hall</h2>

        <p>
            <span class="name">Soldier</span>: Don't move! <br /><span
                class="name"
                >Connor</span
            >: Don't shoot. I'm on your side. <br /><span class="name"
                >Soldier</span
            >: With us? Are you a human?
        </p>
        <div class="choices">
            <em>LIE</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>: Obviously! What do I look
                    like? DPD. I work with Lieutenant Hank Anderson? We're on a
                    stakeout. If I knew you were coming I would have brought
                    some donuts. <br /><span class="name">Soldier</span>: You're
                    a lucky guy. Another second and I'd have shot you. You
                    should go back up on deck and let us do our job. <br /><span
                        class="name"
                        >Connor</span
                    >: You're right. That's... Exactly what I'm gonna do.
                </p>
            </div>
            <em>PERKINS EXCUSE</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>: I work With Agent Perkins.
                    <br /><span class="name">Soldier</span>: You're a lucky guy.
                    Another second and I'd have shot you. You should go back up
                    on deck and let us do our job. <br /><span class="name"
                        >Connor</span
                    >: You're right. That's... Exactly what I'm gonna do.
                </p>
            </div>
            <em>ATTACK</em>
            <div class="choice">
                <div class="condition">
                    <span class="name">Lose the fight</span>
                    <div class="condition-text">
                        <span class="name">Soldier</span>: Fuckin' androids...
                    </div>
                </div>
            </div>
            <em>RUN </em>
            <div class="choice">
                <p>
                    <strong>Shot in the back</strong>
                    <br /><span class="name">Soldier</span>: Fuckin' androids...
                </p>
            </div>
        </div>

        <!-- scene change to Markus in the Corridor -->

        <h2>In the hold</h2>

        <div class="condition">
            <span class="name">Markus is alive - Connor finds Markus</span>
            <div class="condition-text">
                <p>
                    <span class="name">Connor</span>: My mission is to
                    neutralize you and I always accomplish my mission.
                    <br /><span class="name">Markus</span>: And my mission is to
                    save our species. Looks like only one of us can succeed...
                </p>

                <div class="condition">
                    <span class="name">Reach the gun</span>
                    <div class="condition-text">
                        <p>
                            <strong>Markus kills Connor</strong>
                            <br /><span class="name">Markus</span>: I didn't
                            want this... <br /><span class="name">Connor</span>:
                            We'll meet again, Markus. This isn't over.
                        </p>
                        <span class="note"
                            >See
                            <a [routerLink]="['/chapters', 32]"
                                >Crossroads - Markus</a
                            >: Escape from Jericho.</span
                        >
                    </div>
                </div>
                <div class="condition">
                    <span class="name">Fail to reach the gun</span>
                    <div class="condition-text">
                        <p>
                            <strong
                                ><i class="fas fa-skull"></i> Connor kills
                                Markus</strong
                            >
                            <br /><span class="name">Connor</span>: Mission
                            accomplished.
                        </p>
                        <p>
                            <span class="name">North</span>: Markus! No...
                            <br /><span class="name">Simon/Josh</span>: Come on,
                            we gotta go! <br /><span class="name">North</span>:
                            They killed him...
                        </p>
                        <span class="note"
                            >See
                            <a [routerLink]="['/chapters', 32]"
                                >Crossroads - Markus</a
                            >: Surviving characters jump.</span
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="condition">
            <span class="name"
                >Markus is dead or left Jericho - Connor goes after North</span
            >
            <div class="condition-text">
                <p>
                    <span class="name">Josh</span>: It's all over...This is the
                    end... Of Jericho...
                </p>

                <strong>North escapes</strong>

                <div class="condition">
                    <span class="name">Attacked the soldier</span>
                    <div class="condition-text">
                        <p>
                            <span class="name">Soldier</span>: Don't move!
                            <br /><span class="name">Connor</span>: Don't shoot.
                            I'm on your side. I-
                        </p>
                    </div>
                </div>

                <div class="condition">
                    <span class="name">Didn't attack the soldier</span>
                    <div class="condition-text">
                        <span class="name">Soldier</span>: Fuckin' android!
                    </div>
                </div>

                <span class="note"
                    >See
                    <a [routerLink]="['/chapters', 32]">Crossroads - Markus</a>:
                    Surviving characters jump.</span
                >
            </div>
        </div>
    </section>
</ng-container>
