<!-- scene change from Kara -->
<!-- Find Jericho in Ferndale -->
<!-- scene change to Kara -->

<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <!-- scene change from Kara sits Alice down -->
        <h1>In Jericho</h1>

        <!-- TODO: check reactions to connor -->

        <app-screens></app-screens>

        <!-- Freighter is Rigged? -->

        <h2>Background dialogues</h2>
        <app-background-dialogues></app-background-dialogues>

        <h2>Going to the stairs</h2>
        <p>
            <app-dialogue-line name="Lucy">
                {{
                    translateObject(
                        'X0203A.CMEET.LUCY.FA.X02ALUCY.LOOKINGFORLUCY'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-unused-content>
            <app-dialogue-line name="Connor">
                {{ t('X0203A.CMEET.LUCY.PC.X02ACONNOR.LOOKINGFOR') }}
            </app-dialogue-line>
        </app-unused-content>

        <!-- scene change to Kara -->
    </section>

    <mat-divider></mat-divider>

    <section>
        <h1>Captain's Cabin</h1>

        <h2>Finding Markus</h2>

        <p>
            <app-dialogue-line name="Amanda">
                {{
                    translateObject(
                        'X0203A.AMANDA.MARKUS.PC.X02AAMANDA.WELLDONE'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <!-- Stop Markus -->
        <p>
            <app-dialogue-line name="Connor">
                {{
                    translateObject(
                        'X0203A.CMEET.NORTH.PC.X02ACONNOR.NOHESITATION'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0203A.CMEET.MARKUS.PC.01TAUNTCHOICE.BLAME')"
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0203A.CMEET.MARKUS.PC.X02AMARKUS.01BLAME'
                        ) | async
                    }}
                </app-dialogue-line></app-choice-item
            >
            <app-choice-item
                [choiceLabel]="t('X0203A.CMEET.MARKUS.PC.01TAUNTCHOICE.DEFY')"
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0203A.CMEET.MARKUS.PC.X02AMARKUS.01DEFY'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.01TAUNTCHOICE.DISCOURAGE')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0203A.CMEET.MARKUS.PC.X02AMARKUS.01DISCOURAGE'
                        ) | async
                    }}
                </app-dialogue-line></app-choice-item
            >
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.01TAUNTCHOICE.THREATEN')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0203A.CMEET.MARKUS.PC.X02AMARKUS.01THREATEN'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.02REACTCHOICE.INTIMIDATE')
                "
            >
                <app-dialogue-line name="Connor">
                    {{ t('X0203A.CMEET.NORTH.PC.X02ACONNOR.01INTIMIDATE') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.02REACTCHOICE.INSTRUCTIONS')
                "
            >
                <app-dialogue-line name="Connor">
                    {{ t('X0203A.CMEET.NORTH.PC.X02ACONNOR.01INSTRUCTIONS') }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.03JOINUSCHOICE.CONVINCE')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0203A.CMEET.MARKUS.PC.X02AMARKUS.03CONVINCE'
                        ) | async
                    }}
                </app-dialogue-line></app-choice-item
            >
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.03JOINUSCHOICE.APPEAL')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0203A.CMEET.MARKUS.PC.X02AMARKUS.03APPEAL'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.03JOINUSCHOICE.IKNOWYOU')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0203A.CMEET.MARKUS.PC.X02AMARKUS.03IKNOWYOU'
                        ) | async
                    }}
                </app-dialogue-line></app-choice-item
            >
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.03JOINUSCHOICE.OURCAUSE')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0203A.CMEET.MARKUS.PC.X02AMARKUS.03OURCAUSE'
                        ) | async
                    }}
                </app-dialogue-line></app-choice-item
            >
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.STAYAWAY')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{ t('X0203A.CMEET.NORTH.PC.X02ACONNOR.02STAYAWAY') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.DISSUADE')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <p>&oslash;</p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.TURNAROUND')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{ t('X0203A.CMEET.NORTH.PC.X02ACONNOR.02TURNAROUND') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.SAYNOTHING')
                "
            >
                &oslash;</app-choice-item
            >
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0203A.CMEET.MARKUS.PC.05DOUBTSCHOICE.PROBE')"
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0203A.CMEET.MARKUS.PC.X02AMARKUS.05PROBE'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.05DOUBTSCHOICE.SOWDOUBTS')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0203A.CMEET.MARKUS.PC.X02AMARKUS.05SOWDOUBTS'
                        ) | async
                    }}
                </app-dialogue-line></app-choice-item
            >
            <app-choice-item
                [choiceLabel]="t('X0203A.CMEET.MARKUS.PC.05DOUBTSCHOICE.RALLY')"
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0203A.CMEET.MARKUS.PC.X02AMARKUS.05RALLY'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.05DOUBTSCHOICE.UNDERMINE')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0203A.CMEET.MARKUS.PC.X02AMARKUS.05UNDERMINE'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <app-dialogue-line name="Markus">
            {{ t('X0203A.CMEET.MARKUS.PC.X02AMARKUS.05TIMEMARKUS') }}
        </app-dialogue-line>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.06DEVIANTCHOICE01.DEVIANT')
                "
                [brackets]="true"
            >
                [ <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked
                by having enough software instability] [
                <span appRelation="large down">Amanda (betrayed)</span>
                ]

                <p>
                    <app-dialogue-line name="Connor">
                        {{ t('X0203A.CMEET.NORTH.PC.X02ACONNOR.05DEVIANT.1') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Markus">
                        {{
                            t(
                                'X0203A.CMEET.MARKUS.PC.X02AMARKUS.06DEVIANTMARKUS.1'
                            )
                        }}
                    </app-dialogue-line>
                </p>
                <p>
                    <app-dialogue-line name="Connor">
                        {{ t('X0203A.CMEET.NORTH.PC.X02ACONNOR.05DEVIANT.2') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Markus">
                        {{
                            t(
                                'X0203A.CMEET.MARKUS.PC.X02AMARKUS.06DEVIANTMARKUS.2'
                            )
                        }}
                    </app-dialogue-line>
                </p>
                <span class="note"
                    >See
                    <a [routerLink]="['/chapters', 32]">Crossroads - Markus</a>:
                    In the corridor.</span
                >
                <!-- scene change to Kara -->
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.06DEVIANTCHOICE01.MACHINE')
                "
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0203A.CMEET.NORTH.PC.X02ACONNOR.05MACHINE'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
                <p>
                    <app-dialogue-line name="Markus">
                        {{
                            t(
                                'X0203A.CMEET.MARKUS.PC.X02AMARKUS.06MACHINEMARKUS'
                            )
                        }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
        </div>

        <h2>Find North - If Markus is dead or rejected by Jericho</h2>

        <p>
            <app-dialogue-line name="Amanda">
                {{
                    translateObject(
                        'X0203A.AMANDA.NORTH.PC.X02AAMANDA.WELLDONE'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Connor">
                {{
                    translateObject(
                        'X0203A.CMEET.NORTH.PC.X02ACONNOR.NOHESITATION'
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="North">
                {{
                    translateObject(
                        'X0203A.CMEET.NORTH.PC.X02AMARLA.NOHESITATION'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.02REACTCHOICE.INSTRUCTIONS')
                "
            >
                <app-dialogue-line name="Connor">
                    {{ t('X0203A.CMEET.NORTH.PC.X02ACONNOR.01INSTRUCTIONS') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.02REACTCHOICE.INTIMIDATE')
                "
            >
                <app-dialogue-line name="Connor">
                    {{ t('X0203A.CMEET.NORTH.PC.X02ACONNOR.01INTIMIDATE') }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <p>
            <app-dialogue-line name="North">
                {{
                    translateObject('X0203A.CMEET.NORTH.PC.X02AMARLA.01CONNOR')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.STAYAWAY')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{ t('X0203A.CMEET.NORTH.PC.X02ACONNOR.02STAYAWAY') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.DISSUADE')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <p>&oslash;</p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.TURNAROUND')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{ t('X0203A.CMEET.NORTH.PC.X02ACONNOR.02TURNAROUND') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.SAYNOTHING')
                "
            >
                <p>&oslash;</p>
            </app-choice-item>
        </div>

        <p>
            <app-dialogue-line name="North">
                {{
                    translateObject('X0203A.CMEET.NORTH.PC.X02AMARLA.02FREEDOM')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.NORTH.PC.03ORDERCHOICE.DISTURBED')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0203A.CMEET.NORTH.PC.X02ACONNOR.03DISTURBED'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.NORTH.PC.03ORDERCHOICE.SAYNOTHING')
                "
            >
                <p>&oslash;</p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0203A.CMEET.NORTH.PC.03ORDERCHOICE.COLD')"
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0203A.CMEET.NORTH.PC.X02ACONNOR.03COLD'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <p>
            <app-dialogue-line name="North">
                {{
                    translateObject('X0203A.CMEET.NORTH.PC.X02AMARLA.03DOUBTS')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.NORTH.PC.04NOTDEVIANTCHOICE.COLD')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0203A.CMEET.NORTH.PC.X02ACONNOR.04COLD'
                        ) | async
                    }}
                </app-dialogue-line></app-choice-item
            >
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.NORTH.PC.04NOTDEVIANTCHOICE.DISTURBED')
                "
            >
                <app-relation
                    name="Software instability"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0203A.CMEET.NORTH.PC.X02ACONNOR.04DISTURBED'
                        ) | async
                    }}
                </app-dialogue-line></app-choice-item
            >
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.NORTH.PC.04NOTDEVIANTCHOICE.SAYNOTHING')
                "
            >
                <p>&oslash;</p>
            </app-choice-item>
        </div>

        <p>
            <app-dialogue-line name="North">
                {{
                    translateObject('X0203A.CMEET.NORTH.PC.X02AMARLA.04LISTEN')
                        | async
                }}
                {{ t('X0203A.CMEET.NORTH.PC.X02AMARLA.04TIME') }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.NORTH.PC.05DEVIANTCHOICE.DEVIANT')
                "
                [brackets]="true"
            >
                <app-unlock-condition [unlockType]="UnlockType.Lock">
                    unlocked by having enough software instability
                </app-unlock-condition>
                <app-relation
                    name="Amanda"
                    [type]="RelationType.LargeDown"
                ></app-relation>

                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            t('X0203A.CMEET.NORTH.PC.X02ACONNOR.05DEVIANT.1')
                        }} </app-dialogue-line
                    ><app-dialogue-line name="North">
                        {{ t('X0203A.CMEET.NORTH.PC.X02AMARLA.05DEVIANT.1') }}
                    </app-dialogue-line>
                </p>
                <p>
                    <app-dialogue-line name="Connor">
                        {{ t('X0203A.CMEET.NORTH.PC.X02ACONNOR.05DEVIANT.2') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="North">
                        {{ t('X0203A.CMEET.NORTH.PC.X02AMARLA.05DEVIANT.2') }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0203A.CMEET.NORTH.PC.05DEVIANTCHOICE.MACHINE')
                "
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0203A.CMEET.NORTH.PC.X02ACONNOR.05MACHINE'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
                <p>
                    <app-dialogue-line name="North">
                        {{ t('X0203A.CMEET.NORTH.PC.X02AMARLA.05DEVIANT.2') }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
        </div>
    </section>

    <mat-divider></mat-divider>

    <section>
        <h1>Deviant Connor in corridor : Markus is dead or rejected</h1>
        <p>
            <app-dialogue-line name="Josh">
                {{ t('X0205A.CONNOR.INTRO.PC.X02AJOSH.PANICK02') }}
            </app-dialogue-line>
            <app-dialogue-line name="North">
                {{ t('X0205A.CONNOR.INTRO.PC.X02AMARLA.PANICKCONT') }}
            </app-dialogue-line>
            <app-dialogue-line name="Josh">
                {{ t('X0205A.CONNOR.INTRO.PC.X02AJOSH.SOLDIERS02') }}
            </app-dialogue-line>
            <app-dialogue-line name="North">
                {{ t('X0205A.CONNOR.INTRO.PC.X02AMARLA.BLOWUP.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{ t('X0205A.CONNOR.INTRO.PC.X02ACONNOR.BLOWUPC.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="North">
                {{ t('X0205A.CONNOR.INTRO.PC.X02AMARLA.BLOWUP.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{
                    translateObject(
                        'X0205A.CONNOR.INTRO.PC.X02ACONNOR.BLOWUPC',
                        1,
                        3
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="North">
                {{ t('X0205A.CONNOR.INTRO.PC.X02AMARLA.BLOWUP.3') }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{
                    translateObject(
                        'X0205A.CONNOR.INTRO.PC.X02ACONNOR.BLOWUPC',
                        3
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">
                <app-unlock-condition [unlockType]="UnlockType.Death">
                    Soldiers shoot Connor twice before arming explosive
                </app-unlock-condition>
            </div>
            <div class="content">
                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0205A.CONNOR.NOTFLEEING.FA.X02ACONNOR.GAMEOVER02'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Soldier">
                        {{
                            t(
                                'X0205A.CONNOR.NOTFLEEING.VO.X02ASWAT01.GAMEOVERRUN'
                            )
                        }}
                    </app-dialogue-line>
                </p>

                <p>
                    <app-dialogue-line name="North">
                        {{
                            translateObject(
                                'X0205A.CONNOR.EXECUTION.PC.X02AMARLA.CONNORDEADM'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Josh">
                        {{
                            translateObject(
                                'X0205A.CONNOR.EXECUTION.PC.X02ASIMON.CONNORDEADM'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <span class="note"
                        >See
                        <a [routerLink]="['/chapters', 32]"
                            >Crossroads - Markus</a
                        >: Surviving characters jump.</span
                    >
                </p>
            </div>
        </app-conditioned-content>

        <h2>Meet Lucy</h2>
        <p>
            <app-dialogue-line name="Lucy">
                {{
                    translateObject('X0205A.CONNOR.LUCY.FA.X02ALUCY.THEENDSEC')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Bridge breaks under Connor</h2>
        <p>
            <app-dialogue-line name="Soldier">
                {{ t('X5072X.MILITARY.FIGHT.VO.MANDCO.QUESTION') }}
            </app-dialogue-line>
            <app-dialogue-line name="Soldier">
                {{ t('X0205A.PBY.ASSAULT.VO.X02ASWAT10.RAID10') }}
                {{ t('X0205A.PBY.ASSAULT.VO.X02ASWAT13.RAID13') }}
                {{
                    translateObject('X0205A.PBY.ASSAULT.VO.X02ASWAT09.RAID09')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Soldier">
                {{ t('X0205A.PBY.ASSAULT.VO.X02ASWAT18.RAID04W') }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Soldier">
                {{ t('X0205A.PBY.ASSAULT.VO.X02ASWAT08.RAID08') }}
                {{ t('X5072X.MILITARY.FIGHT.VO.MANAWI.ORDERGO02.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Soldier">
                {{ t('X0205A.PBY.ASSAULT.VO.X02ASWAT11.RAID11') }}
            </app-dialogue-line>
            <app-dialogue-line name="Soldier">
                {{ t('X0205A.PBY.ASSAULT.VO.X02ASWAT10.RAID10') }}
            </app-dialogue-line>
            <app-dialogue-line name="Soldier">
                {{ t('X0204A.EXIT.PLAYDEAD.VO.X02ASWAT07.OUTTAHERE') }}
            </app-dialogue-line>
        </p>

        <h2>Soldiers threaten androids</h2>
        <p>
            <app-dialogue-line name="Android">
                {{
                    translateObject(
                        'X0205A.SAVE.ANDROIDS1.FA.X02AANDM02.EXECUTION'
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Soldier">
                {{ t('X0205A.SAVE.ANDROIDS1.VO.X02ASWAT03.EXECUTIONSWAT.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Android">
                {{
                    translateObject(
                        'X0205A.SAVE.ANDROIDS1.FA.X02AANDM03.EXECUTIONAND',
                        0,
                        3
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Soldier">
                {{ t('X0205A.SAVE.ANDROIDS1.VO.X02ASWAT03.EXECUTIONSWAT.2') }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0205A.SAVE.ANDROIDS1.PC.CHOICEGROUP.INTERVENE')
                "
            >
                <app-dialogue-line name="Android">
                    {{ t('X0205A.SAVE.ANDROIDS1.FA.X02AANDM03.SUCCESSCAND') }}
                </app-dialogue-line>
                <app-dialogue-line name="Connor">
                    {{ t('X0205A.SAVE.ANDROIDS1.FA.X02ACONNOR.SUCCESSCNR') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0205A.SAVE.ANDROIDS1.PC.CHOICEGROUP.DONTINTERVENE')
                "
            >
                <p>&oslash;</p>
            </app-choice-item>
        </div>

        <h2>Soldiers coming</h2>
        <p>
            <app-dialogue-line name="Soldier">
                {{ t('X5072X.MILITARY.FIGHT.VO.WOMLKE.OUTGAMMA') }}
            </app-dialogue-line>
            <app-dialogue-line name="Soldier">
                {{ t('X5072X.MILITARY.FIGHT.VO.MANAWI.TANGO') }}
            </app-dialogue-line>
            <app-dialogue-line name="Soldier">
                {{ t('X0204A.EXIT.INTRO.VO.X02ASWAT06.STOP') }}
            </app-dialogue-line>
        </p>

        <h2>Androids are chased by soldiers</h2>
        <p>
            <app-dialogue-line name="Android">
                {{ t('X6016X.ONOM.DCO.FO.DCO.PANICCRY.4') }}
            </app-dialogue-line>
            <app-dialogue-line name="Android 2">
                {{ t('X1102M.PBY.REVOLUTION.VO.X11MANDROID08.REVOLUTION08') }}
            </app-dialogue-line>
            <app-dialogue-line name="Soldier">
                {{ t('X0205A.CNRBAD.SWAT.VO.X02ASWAT01.STOPSWAT') }}
            </app-dialogue-line>
            <app-dialogue-line name="Android">
                {{ t('X0205A.SAVE.ANDROIDS2.FA.X02AANDW03.SURRENDER') }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">Knock soldiers out</div>
            <div class="content">
                <app-dialogue-line name="Connor">
                    {{ t('X0205A.SAVE.ANDROIDS2.FA.X02ACONNOR.GONOWCNR') }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <h2>Josh is dying</h2>
        <p>
            <app-dialogue-line name="Josh">
                {{
                    translateObject('X0205A.CONNOR.JOSH.PC.X02AJOSH.ALLOVER')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Soldier">
                {{ t('X0205A.MARKUS.JOSH.VO.X02ASWAT05.SPOTTED') }}
            </app-dialogue-line>
        </p>

        <mat-divider></mat-divider>

        <h2>In the hold</h2>

        <!-- scene change from Kara flees if Markus dead/rejected -->

        <app-dialogue-line name="Soldier">
            {{
                translateObject('X0205A.MARKUS.EXECUTION.VO.X02ASWAT08.BOMBS')
                    | async
            }}
        </app-dialogue-line>
        <app-conditioned-content>
            <div class="condition">Connor dies</div>
            <div class="content">
                <app-dialogue-line name="Soldier">
                    {{ t('X0205A.MARKUS.EXECUTION.VO.X02ASWAT08.FAILURE01') }}
                </app-dialogue-line>
                <app-dialogue-line name="North">
                    {{
                        translateObject(
                            'X0205A.CONNOR.EXECUTION.PC.X02AMARLA.CONNORDEADM'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <h2>Explosive armed</h2>
        <p>
            <app-dialogue-line name="North">
                {{ t('X0205A.CONNOR.FINAL.FA.X02AMARLA.BOMB') }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{ t('X0205A.CONNOR.FINAL.PC.X02ACONNOR.BOMBC') }}
            </app-dialogue-line>
            <app-dialogue-line name="North">
                {{ t('X0205A.CONNOR.RUNAWAY.FA.X02AMARLA.FOLLOWME') }}
            </app-dialogue-line>
        </p>

        <span class="note"
            >See <a [routerLink]="['/chapters', 32]">Crossroads - Markus</a>:
            Escape from Jericho.</span
        >

        <mat-divider></mat-divider>

        <h1>Connor remained a machine</h1>

        <!-- scene change from Kara hides in cabin -->

        <h2>Cargo Hall</h2>

        <p>
            <app-dialogue-line name="Soldier">
                {{ t('X0205A.CNRBAD.SWAT.VO.X02ASWAT01.STOPSWAT') }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{
                    translateObject('X0205A.CNRBAD.SWAT.PC.X02ACONNOR.STOP')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Soldier">
                {{ t('X0205A.CNRBAD.SWAT.VO.X02ASWAT01.WITHUS') }}
            </app-dialogue-line>
        </p>
        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0205A.CNRBAD.SWAT.PC.SWATCHOICE.HUMAN')"
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0205A.CNRBAD.SWAT.PC.X02ACONNOR.HUMAN'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Soldier">
                        {{
                            translateObject(
                                'X0205A.CNRBAD.SWAT.VO.X02ASWAT01.HUMANSWAT'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{ t('X0205A.CNRBAD.SWAT.PC.X02ACONNOR.RIGHT') }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0205A.CNRBAD.SWAT.PC.SWATCHOICE.PERKINS')"
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{ t('X0205A.CNRBAD.SWAT.PC.X02ACONNOR.PERKINS.1') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Soldier">
                        {{
                            translateObject(
                                'X0205A.CNRBAD.SWAT.VO.X02ASWAT01.HUMANSWAT'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{ t('X0205A.CNRBAD.SWAT.PC.X02ACONNOR.RIGHT') }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0205A.CNRBAD.SWAT.PC.SWATCHOICE.ATTACK')"
            >
                <app-conditioned-content>
                    <div class="condition">Lose the fight</div>
                    <div class="content">
                        <app-dialogue-line name="Soldier">
                            {{ t('X0205A.CNRBAD.SWAT.VO.X02ASWAT01.RUN') }}
                        </app-dialogue-line>
                    </div>
                </app-conditioned-content>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0205A.CNRBAD.SWAT.PC.SWATCHOICE.RUN')"
            >
                <h2>Shot in the back</h2>
                <p>
                    <app-dialogue-line name="Soldier">
                        {{ t('X0205A.CNRBAD.SWAT.VO.X02ASWAT01.RUN') }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
        </div>

        <!-- scene change to Markus in the Corridor -->

        <h2>In the hold</h2>

        <app-conditioned-content>
            <div class="condition">Markus is alive - Connor finds Markus</div>
            <div class="content">
                <p>
                    <app-dialogue-line name="Connor">
                        {{ t('X0205A.CNRBAD.CATCHMKS.PC.X02ACONNOR.MISSIONC') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X0205A.CNRBAD.CATCHMKS.PC.X02AMARKUS.MISSION'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>

                <app-conditioned-content>
                    <div class="condition">Reach the gun</div>
                    <div class="content">
                        <h2>Markus kills Connor</h2>
                        <p>
                            <app-dialogue-line name="Markus">
                                {{
                                    t(
                                        'X0205A.CNRBAD.CATCHMKS.FA.X02AMARKUS.MARKUSWINSM.1'
                                    )
                                }}
                            </app-dialogue-line>
                        </p>

                        <app-unused-content>
                            <app-dialogue-line name="Markus">
                                {{
                                    translateObject(
                                        'X0205A.CNRBAD.CATCHMKS.FA.X02AMARKUS.MARKUSWINSM',
                                        1
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </app-unused-content>

                        <p>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X0205A.CNRBAD.CATCHMKS.FA.X02ACONNOR.MARKUSWINSC'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                        <span class="note"
                            >See
                            <a [routerLink]="['/chapters', 32]"
                                >Crossroads - Markus</a
                            >: Escape from Jericho.</span
                        >
                    </div>
                </app-conditioned-content>
                <app-conditioned-content>
                    <div class="condition">Fail to reach the gun</div>
                    <div class="content">
                        <p>
                            <strong
                                ><i class="fas fa-skull"></i> Connor kills
                                Markus</strong
                            >

                            <app-dialogue-line name="Connor">
                                {{
                                    t(
                                        'X0205A.CNRBAD.CATCHMKS.FA.X02ACONNOR.CONNORWINS'
                                    )
                                }}
                            </app-dialogue-line>
                        </p>
                        <p>
                            <app-dialogue-line name="North">
                                {{
                                    translateObject(
                                        'X0205A.MARKUS.EXECUTION.PC.X02AMARLA.MARKUSDEAD01'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>

                        <app-conditioned-content>
                            <div class="condition">Simon alive</div>
                            <div class="content">
                                <app-dialogue-line name="Simon">
                                    {{
                                        t(
                                            'X0205A.MARKUS.EXECUTION.PC.X02ASIMON.MARKUSDEAD02'
                                        )
                                    }}
                                </app-dialogue-line>
                            </div>
                        </app-conditioned-content>
                        <app-conditioned-content>
                            <div class="condition">Simon dead</div>
                            <div class="content">
                                <app-dialogue-line name="Josh">
                                    {{
                                        translateObject(
                                            'X0205A.MARKUS.EXECUTION.PC.X02AJOSH.MARKUSDEAD03'
                                        ) | async
                                    }}
                                </app-dialogue-line>
                            </div>
                        </app-conditioned-content>

                        <p>
                            <app-dialogue-line name="North">
                                {{
                                    t(
                                        'X0205A.MARKUS.EXECUTION.PC.X02AMARLA.MARKUSDEAD03'
                                    )
                                }}
                            </app-dialogue-line>
                        </p>
                        <span class="note"
                            >See
                            <a [routerLink]="['/chapters', 32]"
                                >Crossroads - Markus</a
                            >: Surviving characters jump.</span
                        >
                    </div>
                </app-conditioned-content>
            </div>
        </app-conditioned-content>

        <app-conditioned-content>
            <div class="condition">
                Markus is dead or left Jericho - Connor goes after North
            </div>
            <div class="content">
                <p>
                    <app-dialogue-line name="Josh">
                        {{
                            translateObject(
                                'X0205A.CONNOR.JOSH.PC.X02AJOSH.ALLOVER'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>

                <h2>North escapes</h2>

                <app-conditioned-content>
                    <div class="condition">Attacked the soldier</div>
                    <div class="content">
                        <p>
                            <app-dialogue-line name="Soldier">
                                {{
                                    t(
                                        'X0205A.CNRBAD.RUNSUCCESS.VO.X02ASWAT09.DIESWAT'
                                    )
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X0205A.CNRBAD.RUNSUCCESS.PC.X02ACONNOR.DIE'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                    </div>
                </app-conditioned-content>
                <app-conditioned-content>
                    <div class="condition">Didn't attack the soldier</div>
                    <div class="content">
                        <app-dialogue-line name="Soldier">
                            {{ t('X0205A.CNRBAD.FAILCHASE.VO.X02ASWAT09.DIE') }}
                        </app-dialogue-line>
                    </div>
                </app-conditioned-content>

                <span class="note"
                    >See
                    <a [routerLink]="['/chapters', 32]">Crossroads - Markus</a>:
                    Surviving characters jump.</span
                >
            </div>
        </app-conditioned-content>
    </section>
</ng-container>
