<header>
    <img src="assets/images/Detroit-become-human-logo.png" alt="logo" />
</header>

<main class="container" fxLayout="column" fxLayoutAlign="start center">
    <div class="title" fxFlex="0 1 auto">
        <fa-layers [fixedWidth]="true" class="led" fxHide.xs>
            <fa-icon
                icon="circle-notch"
                class="led-1"
                transform="rotate-45 grow-35 up-10"
            ></fa-icon>
            <fa-icon
                icon="circle-notch"
                class="led-2"
                transform="rotate-240 grow-35 up-10"
            ></fa-icon>
            <fa-icon
                icon="circle-notch"
                class="led-3"
                transform="rotate-135 grow-35 up-10"
            ></fa-icon>
        </fa-layers>
        <h1>Detroit: Become Human - Text transcription</h1>
    </div>

    <div class="info" fxFlex="0 0 auto">
        <div class="info-title">
            <fa-icon icon="info-circle" size="lg"></fa-icon>
            <h2>12/22/2020 - Update</h2>
        </div>
        <p>
            {{ note }}
        </p>
    </div>

    <h2>Chapters</h2>
    <mat-divider fxFlexAlign="stretch"></mat-divider>

    <div
        gdAlignColumns="stretch stretch"
        gdColumns="repeat(2, minmax(3em, 1fr))"
        gdColumns.lt-md="100%"
        gdRows="auto"
        gdGap="2em"
        class="cards-container"
        fxFlex="0 1 auto"
    >
        <a
            [routerLink]="['/chapters', chapters[i].id]"
            *ngFor="let chapter of chapters; let i = index; let even = even"
        >
            <div class="card">
                <img
                    src="{{ chapters[i].image }}"
                    alt="{{ chapters[i].title }}"
                />
                <div class="card-content">
                    <h2>Chapter {{ chapters[i].number }}</h2>
                    <p>{{ chapters[i].title }}</p>
                </div>
            </div>
        </a>
    </div>

    <h2>Extras</h2>
    <mat-divider fxFlexAlign="stretch"></mat-divider>
    <div
        gdAlignColumns="stretch stretch"
        gdColumns="repeat(2, minmax(3em, 1fr))"
        gdColumns.lt-md="100%"
        gdRows="1"
        gdGap="2em"
        class="cards-container"
        fxFlex="0 1 auto"
    >
        <div>
            <a [routerLink]="['/chloe']">
                <div class="card">
                    <img
                        src="assets/images/chloe.jpg"
                        alt="Chloe in the main menu"
                    />
                    <div class="card-content">
                        <h2>Chloe</h2>
                        <p>Main menu interactions</p>
                    </div>
                </div>
            </a>
        </div>
        <div>
            <a
                href="https://detroit-become-human.fandom.com/wiki/Magazine"
                target="_blank"
            >
                <div class="card">
                    <img
                        src="assets/images/magazine.png"
                        alt="Chloe in the main menu"
                    />
                    <div class="card-content">
                        <h2>Magazines</h2>
                        <p>The complete list</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h2>Additional Links</h2>
    <mat-divider fxFlexAlign="stretch"></mat-divider>
    <p>
        Want a link to appear here ? Send a request through the
        <a [routerLink]="['/contact']" class="contact-link">contact form</a> !
    </p>

    <div
        class="cards-container"
        fxLayout="row wrap"
        fxLayoutAlign="start stretch"
        fxLayout.sm="column"
        fxLayoutAlign.sm="start center"
    >
        <mat-card *ngFor="let link of additionalLinks">
            <mat-card-header>
                <img
                    mat-card-avatar
                    src="{{ link.img }}"
                    alt="{{ link.alt }}"
                />
                <mat-card-title>{{ link.title }}</mat-card-title>
                <mat-card-subtitle>{{ link.subtitle }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div fxLayoutAlign="space-between">
                    <p>{{ link.description }}</p>
                    <a
                        mat-icon-button
                        aria-label="Icon button with an arrow icon"
                        href="{{ link.link }}"
                        target="_blank"
                    >
                        <fa-icon icon="external-link-alt" size="lg"></fa-icon>
                    </a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</main>

<app-footer></app-footer>
