<main class="px-8 sm:px-32 flex flex-col justify-start items-center">
    <div class="flex flex-row justify-center items-center mt-12">
        <fa-layers class="led hidden sm:inline-block">
            <fa-icon
                icon="circle-notch"
                class="led-1"
                transform="rotate-45 grow-35 up-10"
            ></fa-icon>
            <fa-icon
                icon="circle-notch"
                class="led-2"
                transform="rotate-240 grow-35 up-10"
            ></fa-icon>
            <fa-icon
                icon="circle-notch"
                class="led-3"
                transform="rotate-135 grow-35 up-10"
            ></fa-icon>
        </fa-layers>
        <h1 class="inline text-center mat-display-3 m-0">
            Detroit: Become Human
        </h1>
    </div>
    <h1 class="mat-display-2 mt-4 mb-8 text-center">Text transcription</h1>

    <div class="flex-initial bg-blue-300 bg-opacity-50 rounded-xl p-8 mb-8">
        <div class="mb-4 flex flex-row justify-start items-center">
            <fa-icon icon="info-circle" size="lg"></fa-icon>
            <h2 class="ml-2 text-xl mb-0">01/24/2021 - Update</h2>
        </div>
        <ul>
            <li>Fixed some typos.</li>
            <li>Added some missing dialogues.</li>
            <li>
                Added Chloe main menu lines, a link to a list of all magazines
                as well as a "Additional links" category.
            </li>
        </ul>
    </div>

    <ng-container *transloco="let t">
        <h2>{{ t('GUI.MENU.CHAPTERS.VALUE') }}</h2>
        <mat-divider class="self-stretch"></mat-divider>

        <app-card-container>
            <ng-container
                *ngFor="let chapter of chapters; let i = index; let even = even"
            >
                <app-card
                    [routerLink]="['/chapters', chapters[i].id]"
                    [imageSource]="chapters[i].image"
                    [imageAlt]="
                        t('GUI.MENU.CHAPTERS.' + chapters[i].shortIdentifier)
                    "
                    [title]="'Chapter ' + chapters[i].number"
                    [text]="
                        t('GUI.MENU.CHAPTERS.' + chapters[i].shortIdentifier)
                    "
                ></app-card>
            </ng-container>
        </app-card-container>
    </ng-container>

    <h2>Extras</h2>
    <mat-divider class="self-stretch"></mat-divider>
    <div
        class="
            mx-8
            flex-initial
            gap-2
            grid-rows-1
            justify-start
            grid-cols-1
            sm:grid-cols-2
        "
    >
        <div>
            <a [routerLink]="['/chloe']">
                <div class="card">
                    <img
                        src="assets/images/chloe.jpg"
                        alt="Chloe in the main menu"
                    />
                    <div class="card-content">
                        <h2>Chloe</h2>
                        <p>Main menu interactions</p>
                    </div>
                </div>
            </a>
        </div>
        <div>
            <a [routerLink]="['/magazines']">
                <div class="card">
                    <img
                        src="assets/images/magazine.png"
                        alt="Magazine cover"
                    />
                    <div class="card-content">
                        <h2>Magazines</h2>
                        <p>The complete list</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h2>Additional Links</h2>
    <mat-divider class="self-stretch"></mat-divider>
    <p>
        Want a link to appear here ? Send a request through the
        <a
            [routerLink]="['/contact']"
            class="
                transition-colors
                ease-in-out
                duration-500
                text-blue-500
                hover:text-blue-400
            "
            >contact form</a
        >
        !
    </p>

    <div
        class="
            cards-container
            flex flex-row flex-wrap
            justify-start
            items-stretch
            sm:flex-col sm:items-center
        "
    >
        <mat-card *ngFor="let link of additionalLinks">
            <mat-card-header>
                <img
                    mat-card-avatar
                    src="{{ link.img }}"
                    alt="{{ link.alt }}"
                />
                <mat-card-title>{{ link.title }}</mat-card-title>
                <mat-card-subtitle>{{ link.subtitle }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div fxLayoutAlign="space-between">
                    <p>{{ link.description }}</p>
                    <a
                        mat-icon-button
                        aria-label="Icon button with an arrow icon"
                        href="{{ link.link }}"
                        target="_blank"
                    >
                        <fa-icon icon="external-link-alt" size="lg"></fa-icon>
                    </a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</main>

<app-footer></app-footer>
