<ng-container *transloco="let t">
    <section>
        <p>
            NOV 5TH, 2038
            <br />PM 10:58 {{ t('GUI.MENU.DATE.') }}<br />
            {{ t('GUI.MENU.TIME.') }}
        </p>

        <h1>In the bus</h1>
        <p>
            <span class="name">Bus</span>: Thank you for using Detroit Buses.
            <br /><span class="name">Man</span>: Alright... End of the line.
            <br /><span class="name">Kara</span>: End of the line? <br /><span
                class="name"
                >Man</span
            >: Yeah, you gonna have to leave. <br /><span class="name"
                >Kara</span
            >: Wake up. We have to go...
        </p>

        <em>STAY HERE?</em>
        <div class="choice">
            <span class="name">Kara</span>: Listen, we have nowhere to go...
            She's exhausted and it's pouring rain... Can we just stay for a
            little while? <br /><span class="name">Man</span>: This bus is going
            back to the depot. There's nothing I can do.
        </div>
        <em>SHELTER? </em>
        <div class="choice">
            <span class="name">Kara</span>: Do you know if there's any other
            place we could spend the night? <br /><span class="name">Man</span>:
            I have no idea... But you're gonna have to leave.
        </div>
    </section>

    <section>
        <h1>In the street</h1>
        <p>
            <span class="name">Kara</span>: You're gonna be ok? We'll find
            somewhere to spend the night. Come on, Alice. We've got to hurry.
        </p>

        <p>
            <strong>Going too far away</strong>
            <br /><span class="name">Kara</span>: There's nothing more this
            way... <br /><span class="name">Kara</span>: There's no point in
            getting any farther.
        </p>

        <p>
            <strong>Talking to parked androids</strong>
            <br /><span class="name">Kara</span>: We need a place to stay... Do
            you know anywhere we could spend the night?
        </p>

        <p>
            <strong>Alice sits at the bus stop</strong>
            <br /><span class="name">Kara</span>: Alice, you're freezing cold.
            <br /><span class="name">Alice</span>: I'm okay. I'm not so cold.
            <br /><span class="name">Android</span>: You look lost. <br /><span
                class="name"
                >Kara</span
            >: We have nowhere to go... <br /><span class="name">Android</span>:
            I know someone who can help you. <br /><span class="name">Kara</span
            >: But, that's on the other side of town... We need a place for
            tonight! Come on, Alice.
        </p>

        <p>
            <strong
                ><i class="fas fa-hourglass-end"></i> Taking too long to find a
                shelter and staying out in the rain too long</strong
            >
            <br /><span class="name">Kara</span>: Alice? Alice, are you okay?
            <br /><span class="name">Alice</span>: Can't go on, Kara... Too
            cold... <br /><span class="name">Kara</span>: I'll find something...
            <br /><span class="note"
                >Kara and Alice will go stay in the abandoned car.</span
            >
            <br />[
            <span appRelation="large down">Alice</span>
            ] <br /><span class="name">Kara</span>: We're better off staying,
            Alice. The important thing is for us to be safe... And it's just for
            tonight. You're going to be all right, Alice... You'll be all
            right...
        </p>
    </section>

    <section>
        <h1>In the supermarket</h1>
        <p>
            <span class="name">Kara</span>: Look, the store is still open. Maybe
            we should go inside. At least you'll be out of the cold.
        </p>

        <p>
            <strong><i class="fas fa-tv"></i> Listen to Television</strong>
            <br /><span class="name">Channel 16 - Michael Webb</span>: The first
            CyberLife zoo in Detroit opened its gates to the first visitors
            today following a grand inauguration. Hundreds of species, most of
            them now extinct, have been recreated in more than 100 acres of
            natural environments using CyberLife's android technology. Guests
            can now experience polar bears, leopards, elephants and even two
            blue whales, all designed to appear live and well. CyberLife has
            announced the opening of eleven new android zoos all over the
            country where visitors of all ages can admire the wonders of the
            natural world.
        </p>

        <strong>Talk to the Clerk</strong>
        <div class="condition">
            <span class="name">Kara is in android uniform</span>
            <div class="condition-text">
                <p>
                    <span class="name">Clerk</span>: What do you want?
                    <br /><span class="name">Kara</span>: I'm with a little girl
                    and we have nowhere to go... Could you spare some money so
                    we can get a room for tonight? <br /><span class="name"
                        >Clerk</span
                    >: Shit... a homeless android? Ah, that's the best yet...
                    Look, this is a convenience store, not the Salvation Army,
                    okay? You better go if you're not gonna buy anything.
                </p>
            </div>
        </div>
        <div class="condition">
            <span class="name">Kara stole clothes</span>
            <div class="condition-text">
                <span class="name">Clerk</span>: Can I help you?
                <div class="choices">
                    <em>NO</em>
                    <div class="choice">
                        <span class="name">Kara</span>: No, thanks. I'll be all
                        right...
                    </div>
                    <em>HELP</em>
                    <div class="choice">
                        <span class="name">Kara</span>: I'm with a little girl
                        and we have nowhere to go... Could you spare some money
                        so we can get a room for tonight? <br /><span
                            class="name"
                            >Clerk</span
                        >: Look, this is a convenience store, lady, not the
                        Salvation Army... I can't start handing out cash to
                        every bum in the neighborhood.
                    </div>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="condition">
            <strong>Threaten the clerk with the gun</strong>
            <div class="condition-text">
                <p>
                    <span class="name">Kara</span>: Wait outside for me. I'll
                    just be two minutes. <br /><span class="name">Alice</span>:
                    Wait outside? But, why? <br /><span class="name">Kara</span
                    >: Please, Alice, just trust me.
                </p>
                <div class="choices">
                    <em>SINCERE</em>
                    <div class="choice">
                        <span class="name">Kara</span>: Sorry, but I have no
                        choice.
                    </div>
                    <em>CALM</em>
                    <div class="choice">
                        <span class="name">Kara</span>: Just do what I say and
                        everything will be all right.
                    </div>
                    <em>AGGRESSIVE </em>
                    <div class="choice">
                        <span class="name">Kara</span>: Don't move, or I'll
                        shoot!
                    </div>
                </div>

                <p>
                    <span class="name">Kara</span>: Take the cash from the
                    register, put it on the counter!
                </p>

                <div class="choices">
                    <em>STAY</em>
                    <div class="choice">
                        <p>
                            <span class="name">Kara</span>: Not a word.
                            <br /><span class="name">Man</span>: Excuse me...
                            Are you done? <br /><span class="name">Kara</span>:
                            Go ahead. <br /><span class="name">Clerk</span>:
                            $4.95, please.
                        </p>
                        <div class="choices">
                            <em>BACK OFF!</em>
                            <div class="choice">
                                <span class="name">Kara</span>: Back up! I'm
                                sorry, but I really need this money.
                            </div>
                            <em>TURN AROUND!</em>
                            <div class="choice">
                                <span class="name">Kara</span>: Turn around! I'm
                                sorry, but I really need this money.
                            </div>
                            <em>OPEN THE REGISTER!</em>
                            <div class="choice">
                                <span class="name">Kara</span>: Open the
                                register!
                            </div>
                            <em>BILLS!</em> [available if chose OPEN REGISTER]
                            <div class="choice">
                                <span class="name">Kara</span>: Put the cash on
                                the counter. <br /><span class="name"
                                    >Clerk</span
                                >: You better get outta here before things get
                                nasty.
                                <div class="choices">
                                    <em>CONVINCE</em>
                                    <div class="choice">
                                        <span class="name">Kara</span>: You see
                                        that little girl outside? Her name is
                                        Alice. She's nine years old and this is
                                        the worst night of her life. All I need
                                        is a few dollars so we can find a place
                                        for tonight. And I'm not leaving without
                                        that money.
                                    </div>
                                    <em>GIVE UP</em>
                                    <div class="choice">
                                        <span class="name">Kara</span>: Ok, I'm
                                        going.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <em>LEAVE</em>
                    <div class="choice">&oslash;</div>
                </div>
                <strong>Leaving after stealing the money </strong>
                <div class="condition">
                    <span class="name"
                        >Kara stole the money without convincing the clerk</span
                    >
                    <div class="condition-text">
                        <span class="name">Clerk</span>: Fuck!
                    </div>
                </div>
                <p>
                    <span class="name">Kara</span>: We've got some money now.
                    <br /><span class="name">Alice</span>: Wait! How did you get
                    it? <br /><span class="note">
                        If Kara convinced the clerk to get the money, the
                        dialogue will go directly to the LIE option with an
                        increase in relationship level. [
                        <span appRelation="small up">Alice</span>
                        ] <br />Otherwise, there will be a decrease. [
                        <span appRelation="small down">Alice</span>
                        ]
                    </span>
                </p>
                <div class="choices">
                    <em>TRUTH</em>
                    <div class="choice">
                        <p>
                            <span class="name">Kara</span>: I took it from the
                            cash register. <br /><span class="name">Alice</span
                            >: You stole it? Stealing is bad, Kara... Why did
                            you do that?
                        </p>
                        <em>FACTUAL</em>
                        <div class="choice">
                            <span class="name">Kara</span>: I had no choice. It
                            was the only way, Alice. <br /><span class="name"
                                >Alice</span
                            >: It wasn't.
                        </div>
                        <em>JUSTIFY</em>
                        <div class="choice">
                            <span class="name">Kara</span>: We needed the money.
                            I had to find a way, Alice...
                        </div>
                        <em>UNCERTAIN</em>
                        <div class="choice">
                            <span class="name">Kara</span>: We needed a room for
                            tonight. It just seemed like the right thing to do.
                            <br /><span class="name">Alice</span>: It wasn't.
                        </div>
                        <em>APOLOGIZE</em> [
                        <span appRelation="small up">Alice</span>
                        ]

                        <div class="choice">
                            <span class="name">Kara</span>: You're right. I
                            shouldn't have done that. I'm sorry, Alice. I'll
                            never do it again.
                        </div>
                    </div>
                    <em>LIE</em>
                    <div class="choice">
                        <span class="name">Kara</span>: I just...asked the
                        cashier for a few dollars...
                    </div>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <p>
            <strong>Use Alice as a diversion</strong> [
            <i class="fas fa-lock-open fa-flip-horizontal"></i> possible if
            noticed the can stack] <br /><span class="name">Kara</span>: Alice,
            I need your help. You see those cans over there? I want you to go
            over and knock them down. <br /><span class="name">Alice</span>:
            Knock them down? But, why? <br /><span class="name">Kara</span>:
            Please. Alice, just trust me. <br /><span class="name">Clerk</span>:
            You all right? Are you hurt? Well, don't worry, it's just a few
            cans... They made a lot of noise, that's all. Say, what's a little
            girl like you doing out so late? It's ok, I don't bite... Cat got
            your tongue? Well, if you need anything, you just let me know, ok?
            And watch where you're going, hm?
        </p>

        <strong>Leaving after stealing the money from the register</strong> [
        <span appRelation="small down">Alice</span>
        ]
        <br /><span class="name">Kara</span>: Come on, let's go. <br /><span
            class="name"
            >Clerk</span
        >: Fuck! <br /><span class="name">Kara</span>: We've got some cash
        now... <br /><span class="name">Alice</span>: You used me to steal that
        money! How could you do that? I trusted you!
        <div class="choices">
            <em>FACTUAL</em>
            <div class="choice">
                <span class="name">Kara</span>: I had no choice. It was the only
                way, Alice. <br /><span class="name">Alice</span>: It wasn't.
            </div>
            <em>JUSTIFY</em>
            <div class="choice">
                <span class="name">Kara</span>: We needed the money. I had to
                find a way, Alice...
            </div>
            <em>UNCERTAIN</em>
            <div class="choice">
                <span class="name">Kara</span>: We needed a room for tonight. It
                just seemed like the right thing to do. <br /><span class="name"
                    >Alice</span
                >: It wasn't.
            </div>
            <em>APOLOGIZE</em> [
            <span appRelation="small up">Alice</span>
            ]

            <div class="choice">
                <span class="name">Kara</span>: You're right. I shouldn't have
                done that. I'm sorry, Alice. I'll never do it again.
            </div>
        </div>

        <p>
            <strong>Be seen stealing</strong>
            <br /><span class="name">Clerk</span>: Hey! What the fuck are you
            doing? Put that back right now!
        </p>
        <em>[ GUN ]</em> [
        <span appRelation="small down">Alice</span>
        ]
        <div class="choice">
            <p>
                <span class="name">Clerk</span>: Shit... <br /><span
                    class="name"
                    >Kara</span
                >: I'm sorry, but we're desperate. <br /><span class="name"
                    >Clerk</span
                >: All right... Just take it easy...
            </p>
            <div class="choices">
                <em>ANGRY</em>
                <div class="choice">
                    <span class="name">Kara</span>: On the floor! Now!
                </div>
                <em>APOLOGETIC</em>
                <div class="choice">
                    <span class="name">Kara</span>: Listen, I'm really sorry...
                    But you have to get down on the floor...
                </div>
                <em>CALM</em>
                <div class="choice">
                    <span class="name">Kara</span>: Get down... Get down on the
                    floor!
                </div>
            </div>
            <p>
                <span class="name">Clerk</span>: Take whatever you want... Just
                don't kill me... <br /><span class="name">Alice</span>: Kara,
                what are you doing? You can't do that, it's wrong! <br /><span
                    class="name"
                    >Kara</span
                >: It's going to be alright, Alice.
            </p>
        </div>

        <em>LEAVE</em> [available if Kara is seen stealing from the register]
        <div class="choice">(???)</div>
        <em>PUT BACK</em> [available if Kara is seen stealing food or a toy]
        <div class="choice">
            <p>
                <span class="name">Kara</span>: Look, I'm sorry... <br /><span
                    class="name"
                    >Clerk</span
                >: Yeah, yeah, yeah right... Just get the hell outta my store!
                <br /><span class="name">Kara</span>: Come on, Alice. It's okay,
                Alice... We're gonna find some place to sleep tonight.
            </p>
        </div>
    </section>

    <section>
        <h1>In the Laundromat</h1>
        <p>
            <span class="name">Kara</span>: It's warm in here. You'll feel
            better in no time.
        </p>

        <p>
            <strong>Open the washing machine</strong>
            <br /><span class="name">Alice</span>: What are you doing? They're
            not our clothes! <br /><span class="name">Kara</span>: We need them,
            Alice. You need something warm and I need to get rid of this
            uniform. <br /><span class="name">Alice</span>: But, that's
            stealing! We can't do that!
        </p>
        <em>STEAL</em> [
        <span appRelation="small down">Alice</span>
        ]
        <div class="choice">
            <span class="name">Kara</span>: I'm sorry, Alice, but we have to do
            this.
            <div class="condition">
                <strong>Fail to steal</strong>
                <div class="condition-text">
                    <span class="name">Kara</span>: Come on, let's go.
                    <br /><span class="note">They leave the laundromat.</span>
                </div>
            </div>
        </div>
        <em>DON'T STEAL</em> [
        <span appRelation="small up">Alice</span>
        ]
        <div class="choice">
            <span class="name">Kara</span>: You're right. We won't do it, ok?
        </div>
    </section>

    <section>
        <h1>At the Motel</h1>
        <p>
            <span class="name">Kara</span>: Looks like we found a place to
            stay... <br /><span class="name">Alice</span>: We're not going in?
        </p>

        <div class="condition">
            <span class="name">Stole the clothes in the laundromat</span>
            <div class="condition-text">
                <span class="name">Kara</span>: We can't, Alice... I don't have
                any money... We have to find $40... Or go somewhere else.
            </div>
        </div>
        <div class="condition">
            <span class="name">Didn't steal the clothes</span>
            <div class="condition-text">
                <span class="name">Kara</span>: We can't, Alice... They'll never
                give a room to an android... We have to get rid of this
                uniform... Or go somewhere else.
            </div>
        </div>

        <strong> Have clothes and money : going in the motel </strong>
        <p>
            <span class="name">Kara</span>: Hi... I'd like a room... <br /><span
                class="name"
                >Receptionist</span
            >: That'll be $40. Upfront. Just need your name and address... Can I
            see your...driver's license?
        </p>
        <em>IN THE CAR</em>
        <div class="choice">
            <span class="name">Kara</span>: I... I left it in the car...
        </div>
        <em>FORGOT</em>
        <div class="choice">
            <span class="name">Kara</span>: We... We... We were in a rush... I
            think I forgot it at home...
        </div>
        <em>NO LICENSE</em>
        <div class="choice">
            <span class="name">Kara</span>: I haven't got it with me. Please,
            the kid is tired...
        </div>
        <em>SAY NOTHING </em>
        <div class="choice">
            <span class="name">Kara</span>: Oh, sure!.. I mean... Of course, I
            should've brought it with me, I... But, I...
        </div>

        <p>
            <span class="name">Receptionist</span>: No worries. We can deal with
            it tomorrow... Have a good night. <br /><span class="name"
                >Kara</span
            >: Good night. Let's go, Alice. <br /><span class="name">Alice</span
            >: Do you think he believed you? <br /><span class="name">Kara</span
            >: I don't know, Alice... All I know is you'll be nice and warm
            tonight.
        </p>

        <h2>In the room</h2>
        <p><span class="name">Kara</span>: Here, give me your coat.</p>
        <p>
            <span class="name">Kara</span>: Let's get these clothes off, they're
            soaking wet. I'll just put these in the bathroom to dry.
        </p>

        <p>
            <strong>Talking with Alice</strong>
            <br /><span class="name">Alice</span>: Why didn't he ever love me?
            Why was he always so upset with me? All I wanted was a life like
            other girls. Maybe I did something wrong? Maybe I wasn't good
            enough? That's why he was always so angry. I just wanted us to be a
            family. I just wanted him to love me. Why couldn't we just be happy?
            <br /><span class="name">Kara</span>: I don't know... <br /><span
                class="name"
                >Alice</span
            >: You'll never leave me, right? Promise you'll never go!
        </p>
        <div class="choices">
            <em>PROMISE</em> [
            <span appRelation="small up">Alice</span>
            ]
            <div class="choice"><span class="name">Kara</span>: I promise.</div>
            <em>CAN'T PROMISE</em> [
            <span appRelation="small down">Alice</span>
            ]
            <div class="choice">
                <span class="name">Kara</span>: Alice, we don't know what's
                going to happ-
            </div>
        </div>
        <p>
            <span class="name">Alice</span>: Will we be together forever?
            <br /><span class="name">Kara</span>: Forever.
        </p>

        <p>
            <span class="name">Kara</span>: You should sleep now. I'm going to
            turn off the light, okay?
        </p>

        <div class="condition">
            <span class="name">Stole a toy at the supermarket</span>
            <div class="condition-text">
                <span class="name">Kara</span>: Look, what I've got for you...
                <br /><span class="name">Alice</span>: Thanks.
            </div>
        </div>

        <p><span class="name">Kara</span>: Sleep tight, Alice.</p>
    </section>

    <section>
        <h1>At the squat</h1>
        <p>
            <span class="name">Kara</span>: An abandoned house... At least we'd
            be out of the rain... <br /><span class="name">Alice</span>: Kara, I
            don't like this place. <br /><span class="name">Kara</span>: I
            know... But, it's just for one night and no one will look for us
            here...
        </p>

        <p>
            <strong>Found a wire cutter: going through the fence</strong>
            <br /><span class="name">Alice</span>: Are you alright? <br /><span
                class="name"
                >Kara</span
            >: Yes, it's just a scratch. Be careful. Don't worry, we're just
            having a look.
        </p>

        <p><span class="name">Kara</span>: Alice?.. Alice?</p>

        <p>
            <span class="name">Kara</span>: Wait! What are you doing?
            <br /><span class="name">Ralph</span>: Visitors... Ralph doesn't
            like visitors! They're nasty! They may hurt Ralph!
        </p>

        <div class="choices">
            <em>ANDROID</em>
            <div class="choice">
                <span class="name">Kara</span>: Look, I'm an android too... You
                have nothing to be afraid of... All we want is a place to spend
                the night...
            </div>
            <em>LITTLE GIRL</em>
            <div class="choice">
                <span class="name">Kara</span>: She's just a little girl...
                She's not gonna hurt you. <br /><span class="name">Ralph</span>:
                Little girl?.. She's not a little girl... Anyway, what does that
                matter? Maybe she wants to hurt Ralph?
            </div>
            <em>INNOCENT</em>
            <div class="choice">
                <span class="name">Kara</span>: I don't know what the humans did
                to you, but she had nothing to do with it. <br /><span
                    class="name"
                    >Ralph</span
                >: All humans want to hurt us... But Ralph won't let them hurt
                him again... No, he won't let them...
            </div>
            <em>JUSTIFY </em>
            <div class="choice">
                <span class="name">Kara</span>: We thought nobody was here...
                All we want is a place to spend the night.
            </div>
        </div>

        <p>
            <span class="name">Ralph</span>: Visitors are dangerous... Look...
            What they did to Ralph.
        </p>

        <div class="choices">
            <em>[ GUN ]</em>
            <div class="choice">
                <span class="name">Kara</span>: Touch a hair on her head and
                I'll kill you! <br /><span class="name">Ralph</span>: No, don't
                hurt Ralph!
            </div>
            <em>INSIST</em>
            <div class="choice">
                <span class="name">Kara</span>: Listen, we're going to stay here
                tonight. We'll be gone first thing tomorrow.
            </div>
            <em>REASSURE</em>
            <div class="choice">
                <span class="name">Kara</span>: You have nothing to worry
                about... We're not going to do you any harm. You have my word.
            </div>
            <em>HOSPITALITY</em> [available if Kara doesn't have the gun]
            <div class="choice">
                <span class="name">Kara</span>: Listen, we really need some
                help. It would be so kind of you, if you'd let us stay...
            </div>
            <em>LEAVE </em>
            <div class="choice">
                <span class="name">Kara</span>: Okay... We're leaving... So
                you'll be safe again... Come here, Alice. <br /><span
                    class="note"
                    >They leave the squat.</span
                >
            </div>
        </div>

        <span class="name">Ralph</span>: You must excuse Ralph... Ralph still
        finds it difficult to control himself... Sometimes his fear makes him do
        things he regrets... Ralph has seen some hard times... He's just so
        scared the humans will get him again... You can stay if you want...
        Ralph won't hurt you...
        <div class="choices">
            <em>LEAVE</em>
            <div class="choice">
                <span class="name">Kara</span>: I think we'd better go. Come on,
                Alice. <br /><span class="note">They leave the squat.</span>
            </div>
            <em>STAY</em>
            <div class="choice">
                <span class="name">Kara</span>: Okay. We'll just stay the night.
            </div>
        </div>

        <p>
            <span class="name">Ralph</span>: Come on! Come! Come! Come on! This
            way! Ralph has lived here since he ran away... Ralph never goes
            outside, so no one knows he lives here... Humans come in to squat
            from time to time, but you know, Ralph just hides 'til they leave.
            Come on! You can make yourself at home here. Ralph is gonna go into
            the other room... He would like to stay with you... But he has
            things to do... <br /><span class="name">Kara</span>: It's just for
            one night, Alice. We'll find a better place tomorrow... Right...
            Let's see where you can sleep... Sit down, and I'll start a fire.
        </p>

        <p>
            <strong>Talk to Ralph</strong>
            <br /><span class="name">Kara</span>: "rA9"... What does that mean?
            <br /><span class="name">Ralph</span>: What? <br /><span
                class="name"
                >Kara</span
            >: Those symbols... Why are you writing that? <br /><span
                class="name"
                >Ralph</span
            >: I don't know... I don't know...
        </p>

        <p>
            <span class="name">Kara</span>: You can come to bed. I did what I
            could... It's not much, but at least you'll be warm...
        </p>
        <p>
            <strong>Talking with Alice</strong>
            <br /><span class="name">Alice</span>: Why didn't he ever love me?
            Why was he always so upset with me? All I wanted was a life like
            other girls. Maybe I did something wrong? Maybe I wasn't good
            enough? That's why he was always so angry. I just wanted us to be a
            family. I just wanted him to love me. Why couldn't we just be happy?
            <br /><span class="name">Kara</span>: I don't know... <br /><span
                class="name"
                >Alice</span
            >: You'll never leave me, right? Promise you'll never go!
        </p>
        <div class="choices">
            <em>PROMISE</em> [
            <span appRelation="small up">Alice</span>
            ]
            <div class="choice"><span class="name">Kara</span>: I promise.</div>
            <em>CAN'T PROMISE</em> [
            <span appRelation="small down">Alice</span>
            ]
            <div class="choice">
                <span class="name">Kara</span>: Alice, we don't know what's
                going to happ-
            </div>
        </div>
        <p>
            <span class="name">Alice</span>: Will we be together forever?
            <br /><span class="name">Kara</span>: Forever.
        </p>

        <p>
            <span class="name">Kara</span>: You've got to sleep. Sleep tight,
            Alice.
        </p>
    </section>

    <section>
        <h1>In the parking lot</h1>

        <p>
            <strong>Looking at the car</strong>
            <br /><span class="name">Kara</span>: It looks abandoned... Stand
            back, Alice... It's dry inside and nobody will find us here...
            <br /><span class="name">Alice</span>: I don't want to sleep in
            there. Can't we find a better place?
        </p>
        <div class="choices">
            <em>STAY HERE</em> [
            <span appRelation="large down">Alice</span>
            ]
            <div class="choice">
                <p>
                    <span class="name">Kara</span>: We're better off staying,
                    Alice. The important thing is for us to be safe... And it's
                    just for tonight. <br /><span class="name">Alice</span>: Why
                    didn't he ever love me? Why was he always so upset with me?
                    All I wanted was a life like other girls. Maybe I did
                    something wrong? Maybe I wasn't good enough? That's why he
                    was always so angry. I just wanted us to be a family. I just
                    wanted him to love me. Why couldn't we just be happy?
                    <br /><span class="name">Kara</span>: I don't know...
                    <br /><span class="name">Alice</span>: You'll never leave
                    me, right? Promise you'll never go!
                </p>
                <div class="choices">
                    <em>PROMISE</em> [
                    <span appRelation="small up">Alice</span>
                    ]
                    <div class="choice">
                        <span class="name">Kara</span>: I promise.
                    </div>
                    <em>CAN'T PROMISE</em> [
                    <span appRelation="small down">Alice</span>
                    ]
                    <div class="choice">
                        <span class="name">Kara</span>: Alice, we don't know
                        what's going to happ-
                    </div>
                </div>
                <p>
                    <span class="name">Alice</span>: Will we be together
                    forever? <br /><span class="name">Kara</span>: Forever.
                </p>
            </div>
            <em>KEEP SEARCHING</em>
            <div class="choice">
                <span class="name">Kara</span>: Okay... We'll find somewhere
                better.
            </div>
        </div>
    </section>
</ng-container>
