/*=========
    NAV
-----------*/
nav
{
    background-color: rgba(0, 0, 0, 0.952);
}

.home-button, .help-button, .contact-button
{
    margin: 0px 10px 0px 10px;
    i{
        line-height: 64px !important;
        height: 100% !important;
    }
    
}

/* SideNav */
.sidenav
{
    width: 380px !important;
}

.sidenav ol{
    padding-bottom: 80px;
    margin-left: 20px;
}

/*=========
    Progress
-----------*/

.not-started{
    color: rgb(117, 11, 11); 
    font-weight: bold;
}

.in-progress{
    color: rgb(235, 173, 60); 
    font-weight: bold;
}

.done{
    color: rgb(89, 214, 137);
    font-weight: bold;
}
