<header class="bg-black">
	<nav class="flex flex-row justify-start items-center">
		<button (click)="sidenav?.toggle()">
			<fa-icon [icon]="faBars"></fa-icon>
		</button>
		<fa-icon
			[icon]="faHome"
			[routerLink]="['/home']"
			matTooltip="Home"
		></fa-icon>
		<button (click)="openDialog()">
			<fa-icon
				[icon]="faQuestion"
				[flip]="
					(textDirectionService.isRtl$ | async)
						? 'horizontal'
						: undefined
				"
				matTooltip="Info"
			></fa-icon>
		</button>

		<fa-icon
			[icon]="faEnvelope"
			[routerLink]="['/contact']"
			matTooltip="Contact"
		></fa-icon>

		<span class="flex-auto"></span>
		<app-theme-toggle
			class="me-4"
			[switchIconColor]="true"
		></app-theme-toggle>
		<app-lang-picker-toggle
			class="me-4"
			[switchCaretColor]="true"
		></app-lang-picker-toggle>
	</nav>
	<div class="flex flex-row justify-end">
		@if (languagePickerService.showPicker$ | async) {
			<app-lang-picker class="max-w-1/2"></app-lang-picker>
		}
	</div>
</header>
