<ng-container *transloco="let t">
    <p>
        <app-dialogue-line name="CTN TV - Michael Brinkley">
            {{
                translateObject(
                    'X1107M.DIRTYBOMB.TVNEWS.PC.X11MBRINKLEY.BOMBMEDIA01'
                ) | async
            }}
        </app-dialogue-line>
        <app-dialogue-line name="Channel 16 - Joss Douglas">
            {{ t('X1107M.DIRTYBOMB.TVNEWS.PC.X11MJOSS.BOMBMEDIA02') }}
        </app-dialogue-line>
        <app-dialogue-line name="Channel 16 - Michael Webb">
            {{ t('X1107M.DIRTYBOMB.TVNEWS.PC.X11MWEBB.BOMBMEDIA03') }}
        </app-dialogue-line>
    </p>
    <p>
        <app-dialogue-line name="Soldier">
            {{ t('X1107M.DIRTYBOMB.TVNEWS.VO.X11MOFFICER.WHITEHOUSE') }}
        </app-dialogue-line>
        <app-dialogue-line name="President Warren">
            {{ t('X1107M.DIRTYBOMB.TVNEWS.PC.X11MWARREN.WHITEHOUSE') }}
        </app-dialogue-line>
    </p>

    <app-conditioned-content>
        <div class="condition">
            <p>Connor freed the CyberLife androids</p>
        </div>
        <div class="content">
            <p>
                <app-dialogue-line name="Channel 16 - Joss Douglas">
                    {{
                        translateObject(
                            'X1107M.DIRTYBOMB.TVNEWS.PC.X11MJOSS.COPTER'
                        ) | async
                    }}
                </app-dialogue-line>
            </p>
        </div>
    </app-conditioned-content>

    <p>
        <app-dialogue-line name="KNC - Rosanna Cartland">
            {{ t('X1107M.DIRTYBOMB.TVNEWS.PC.X11MCARTLAND.KCNNEWS') }}
        </app-dialogue-line>
        <app-dialogue-line name="Channel 16 - Michael Webb">
            {{
                translateObject('X1107M.DIRTYBOMB.TVNEWS.PC.X11MWEBB.CHANNEL23')
                    | async
            }}
        </app-dialogue-line>
        <app-dialogue-line name="CTN TV - Michael Brinkley">
            {{
                translateObject(
                    'X1107M.DIRTYBOMB.TVNEWS.PC.X11MBRINKLEY.CTNNEWS'
                ) | async
            }}
        </app-dialogue-line>
    </p>
    <p>
        <app-dialogue-line name="President Warren">
            {{
                translateObject('X1107M.DIRTYBOMB.WAR.PC.X11MWARREN.NUKE')
                    | async
            }}
        </app-dialogue-line>
    </p>

    <app-conditioned-content>
        <div class="condition">
            <p>Connor freed the CyberLife androids</p>
        </div>
        <div class="content">
            <p>
                <app-dialogue-line name="President Warren">
                    {{ t('X1107M.DIRTYBOMB.WAR.PC.X11MWARREN.CYBERLIFE.1') }}
                </app-dialogue-line>
            </p>
        </div>
    </app-conditioned-content>

    <!-- TODO (V2): Add unused X1107M.DIRTYBOMB.WAR.PC.X11MWARREN.CYBERLIFE lines-->

    <p>
        <app-dialogue-line name="President Warren">
            {{
                translateObject(
                    'X1107M.DIRTYBOMB.WAR.PC.X11MWARREN.CYBERLIFE',
                    4,
                    7
                ) | async
            }}
            {{
                translateObject(
                    'X1107M.DIRTYBOMB.WAR.PC.X11MWARREN.CYBERLIFE',
                    9,
                    12
                ) | async
            }}
        </app-dialogue-line>
        <app-dialogue-line name="Markus">
            {{ t('X1107M.DIRTYBOMB.WAR.PC.X11MMARKUS.FREE.1') }}
        </app-dialogue-line>
        <app-dialogue-line name="President Warren">
            {{ t('X1107M.DIRTYBOMB.WAR.PC.X11MWARREN.CYBERLIFE.13') }}
        </app-dialogue-line>
        <app-dialogue-line name="Markus">
            {{ t('X1107M.DIRTYBOMB.WAR.PC.X11MMARKUS.FREE.2') }}
        </app-dialogue-line>
        <app-dialogue-line name="President Warren">
            {{ t('X1107M.DIRTYBOMB.WAR.PC.X11MWARREN.CYBERLIFE.14') }}
        </app-dialogue-line>
        <app-dialogue-line name="Markus">
            {{ t('X1107M.DIRTYBOMB.WAR.PC.X11MMARKUS.FREE.3') }}
        </app-dialogue-line>
    </p>
</ng-container>
