<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <p>
            {{ t('GUI.MENU.DATE.08C') }}
            <br />
            {{ t('GUI.MENU.TIME.08C') }}
        </p>

        <h1>At Ambassador Bridge</h1>
        <p>
            <app-dialogue-line name="Hank">
                {{
                    translateObject('X0801C.BENCH.TALK.PC.X08CHANK.START')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801C.BENCH.TALK.PC.STARTCHOICE01.SUICIDE')"
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.SUICIDE') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{ t('X0801C.BENCH.TALK.PC.X08CHANK.SUICIDE') }}
                    </app-dialogue-line>
                </p>
                <p>
                    <span class="note"
                        >If Connor didn't look at the photo in
                        <a [routerLink]="['/chapters', 18]">Russian Roulette</a
                        >, no choice will be given and the dialogue will go
                        directly to the SUICIDE option.</span
                    >
                </p>
                <app-choice-item
                    [choiceLabel]="t('X0801C.BENCH.TALK.PC.PHOTOCHOICE.PHOTO')"
                >
                    <app-unlock-condition [unlockType]="UnlockType.Lock">
                        Unlocked by looking at Cole's photo in
                        <a [routerLink]="['/chapters', 18]">Russian Roulette</a>
                    </app-unlock-condition>
                    <app-relation
                        [name]="RelationName.Hank"
                        [type]="RelationType.SmallDown"
                    ></app-relation>
                    <p>
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.PHOTO'
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Hank">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CHANK.PHOTO'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </p>
                </app-choice-item>
                <app-choice-item
                    [choiceLabel]="
                        t('X0801C.BENCH.TALK.PC.PHOTOCHOICE.SUICIDE')
                    "
                >
                    <p>
                        <app-dialogue-line name="Connor">
                            {{
                                t(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.KILLYOURSELF00'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Hank">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CHANK.KILLYOURSELF01'
                                ) | async
                            }}
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CHANK.KILLYOURSELF02'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </p>
                </app-choice-item>
            </app-choice-item>

            <app-choice-item
                [choiceLabel]="t('X0801C.BENCH.TALK.PC.STARTCHOICE01.ALCOHOL')"
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.ALCOHOL'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{ t('X0801C.BENCH.TALK.PC.X08CHANK.ALCOHOL') }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801C.BENCH.TALK.PC.STARTCHOICE01.BEFORE')"
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.BEFORE.2') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{ t('X0801C.BENCH.TALK.PC.X08CHANK.BEFORE.1') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.BEFORE',
                                2
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.BEFORE',
                                1
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801C.BENCH.TALK.PC.STARTCHOICE01.GOBACK')"
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.GOBACKC'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.GOBACKC'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
        </div>

        <p>
            <app-dialogue-line name="Connor">
                {{
                    translateObject(
                        'X0801C.BENCH.TALK.PC.X08CCONNOR.INVESTIGATIONC'
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0801C.BENCH.TALK.PC.X08CHANK.INVESTIGATIONH') }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0801C.BENCH.TALK.PC.INVESTIGATIONCHOICE02.RA9')
                "
            >
                <app-unlock-condition [unlockType]="UnlockType.Lock">
                    Unlocked by looking at rA9 clues in previous chapters
                </app-unlock-condition>
                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.RA9C'
                            ) | async
                        }} </app-dialogue-line
                    ><app-dialogue-line name="Hank"
                        >{{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.RA9H'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>

            <app-choice-item
                [choiceLabel]="
                    t('X0801C.BENCH.TALK.PC.INVESTIGATIONCHOICE02.SHOCK')
                "
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.SHOCK'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.SHOCK'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801C.BENCH.TALK.PC.INVESTIGATIONCHOICE02.SYSTEMS')
                "
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.CIRCUITS'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.CIRCUITS'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801C.BENCH.TALK.PC.INVESTIGATIONCHOICE02.SOFTWARES')
                "
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.SOFTWARES'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{ t('X0801C.BENCH.TALK.PC.X08CHANK.SOFTWARES') }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
        </div>

        <p>
            <app-dialogue-line name="Connor">
                {{
                    translateObject('X0801C.BENCH.TALK.PC.X08CCONNOR.CLUB')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">
                Found the Tracis in
                <a [routerLink]="['/chapters', 20]">The Eden Club</a>
            </div>
            <div class="content">
                <p>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.FOUND'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
                <div class="choices">
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.FOUNDCHOICE03.RATIONAL')
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.RATIONAL01'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.FOUNDCHOICE03.DEVIANTS')
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.DEVIANTS'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.FOUNDCHOICE03.IRONIC')
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.IRONIC'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.FOUNDCHOICE03.COLD')
                        "
                    >
                        <app-relation
                            [name]="RelationName.Hank"
                            [type]="RelationType.SmallDown"
                        ></app-relation>
                        <app-relation
                            [name]="RelationName.SoftwareInstability"
                            [type]="RelationType.SmallDown"
                        ></app-relation>

                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.COLD01'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                </div>
            </div>
        </app-conditioned-content>

        <app-conditioned-content>
            <div class="condition">
                Took too much time looking for the Traci in
                <a [routerLink]="['/chapters', 20]">The Eden Club</a>
            </div>
            <div class="content">
                <app-dialogue-line name="Hank">
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CHANK.NOTFOUND'
                        ) | async
                    }}
                </app-dialogue-line>
                <div class="choices">
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.NOTFOUNDCHOICE04.COLD')
                        "
                    >
                        <app-relation
                            [name]="RelationName.SoftwareInstability"
                            [type]="RelationType.SmallDown"
                        ></app-relation>
                        <app-relation
                            [name]="RelationName.Hank"
                            [type]="RelationType.SmallDown"
                        ></app-relation>

                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.COLD02'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.NOTFOUNDCHOICE04.IRONIC')
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.IRONIC'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.NOTFOUNDCHOICE04.RATIONAL')
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.RATIONAL02'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                </div>
            </div>
        </app-conditioned-content>

        <mat-divider></mat-divider>

        <p>
            <app-dialogue-line name="Hank">
                {{
                    translateObject('X0801C.BENCH.TALK.PC.X08CHANK.ABOUTYOU')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801C.BENCH.TALK.PC.ABOUTYOUCHOICE05.COLD')"
            >
                <app-relation
                    [name]="RelationName.SoftwareInstability"
                    [type]="RelationType.SmallDown"
                ></app-relation>
                <app-relation
                    [name]="RelationName.Hank"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.COLD03') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801C.BENCH.TALK.PC.ABOUTYOUCHOICE05.AGGRESSIVE')
                "
            >
                <app-relation
                    [name]="RelationName.SoftwareInstability"
                    [type]="RelationType.SmallDown"
                ></app-relation>
                <app-relation
                    [name]="RelationName.Hank"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.AGGRESSIVE01'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801C.BENCH.TALK.PC.ABOUTYOUCHOICE05.DEFENSIVE')
                "
            >
                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.DEFENSIVE01'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801C.BENCH.TALK.PC.ABOUTYOUCHOICE05.NEUTRAL')
                "
            >
                <app-relation
                    [name]="RelationName.Hank"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.NEUTRAL01'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <mat-divider></mat-divider>

        <div class="condition">
            <span class="name">Connor spared the Tracis</span>
            <div class="condition-text">
                <app-dialogue-line name="Hank">
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CHANK.NOTSHOOT'
                        ) | async
                    }}
                </app-dialogue-line>
                <div class="choices">
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.NOTSHOOTCHOICE07.LIE')
                        "
                    >
                        <app-relation
                            [name]="RelationName.Hank"
                            [type]="RelationType.SmallDown"
                        ></app-relation>

                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.LIE'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.NOTSHOOTCHOICE07.TRUTH')
                        "
                    >
                        <app-relation
                            [name]="RelationName.SoftwareInstability"
                            [type]="RelationType.SmallUp"
                        ></app-relation>
                        <app-relation
                            [name]="RelationName.Hank"
                            [type]="RelationType.SmallUp"
                        ></app-relation>

                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.TRUTH'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                </div>
            </div>
        </div>

        <div class="condition">
            <span class="name">Connor shot the Tracis in the back </span>
            <div class="condition-text">
                <p>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.SHOOT'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
                <div class="choices">
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.SHOOTCHOICE06.COLD')
                        "
                    >
                        <app-relation
                            [name]="RelationName.SoftwareInstability"
                            [type]="RelationType.SmallDown"
                        ></app-relation>
                        <app-relation
                            [name]="RelationName.Hank"
                            [type]="RelationType.SmallDown"
                        ></app-relation>

                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.COLD04'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.SHOOTCHOICE06.DEFENSIVE')
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.DEFENSIVE02'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.SHOOTCHOICE06.AGGRESSIVE')
                        "
                    >
                        <app-relation
                            [name]="RelationName.Hank"
                            [type]="RelationType.SmallDown"
                        ></app-relation>

                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.AGGRESSIVE02'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.SHOOTCHOICE06.NEUTRAL')
                        "
                    >
                        <app-relation
                            [name]="RelationName.SoftwareInstability"
                            [type]="RelationType.SmallDown"
                        ></app-relation>
                        <app-relation
                            [name]="RelationName.Hank"
                            [type]="RelationType.SmallDown"
                        ></app-relation>

                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.NEUTRAL03'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                </div>
            </div>
        </div>

        <div class="condition">
            <span class="name">Connor shot one Traci</span>
            <div class="condition-text">
                <p>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.SUICIDETRACY'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
                <div class="choices">
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.SUICIDECHOICE11.DISTURBED')
                        "
                    >
                        <app-relation
                            [name]="RelationName.SoftwareInstability"
                            [type]="RelationType.SmallUp"
                        ></app-relation>

                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.COLD11'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0801C.BENCH.TALK.PC.SHOOTCHOICE06.COLD')
                        "
                    >
                        <app-relation
                            [name]="RelationName.SoftwareInstability"
                            [type]="RelationType.SmallDown"
                        ></app-relation>
                        <app-relation
                            [name]="RelationName.Hank"
                            [type]="RelationType.SmallDown"
                        ></app-relation>

                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.DISTURBED11'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                </div>
            </div>
        </div>

        <div class="condition">
            <span class="name">Connor didn't find the Tracis </span>
            <div class="condition-text">
                <p>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.NOWEAKNESSES'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
                <div class="choices">
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0801C.BENCH.TALK.PC.NOWEAKNESSESCHOICE11.DEFENSIVE'
                            )
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.DEFENSIVE04'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0801C.BENCH.TALK.PC.NOWEAKNESSESCHOICE11.CYNICAL'
                            )
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.CYNICAL') }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0801C.BENCH.TALK.PC.NOWEAKNESSESCHOICE11.UNDERSTANDING'
                            )
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.UNDRESTANDING'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0801C.BENCH.TALK.PC.NOWEAKNESSESCHOICE11.NEUTRAL'
                            )
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0801C.BENCH.TALK.PC.X08CCONNOR.NEUTRAL02'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <app-conditioned-content>
            <div class="condition">
                <app-unlock-condition
                    [unlockType]="UnlockType.Death"
                    [bracketsOnlyAroundIcon]="true"
                >
                    Connor died before
                </app-unlock-condition>
            </div>
            <div class="content">
                <app-dialogue-line name="Hank">
                    {{
                        translateObject('X0801C.BENCH.TALK.PC.X08CHANK.DEAD')
                            | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <p>
            <app-dialogue-line name="Hank">
                {{ t('X0801C.BENCH.TALK.PC.X08CHANK.DEADNEVER') }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801C.BENCH.TALK.PC.FEARCHOICE09.YES')"
            >
                <app-relation
                    [name]="RelationName.SoftwareInstability"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{
                        translateObject('X0801C.BENCH.TALK.PC.X08CCONNOR.YES')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801C.BENCH.TALK.PC.FEARCHOICE09.NO')"
            >
                <app-relation
                    [name]="RelationName.SoftwareInstability"
                    [type]="RelationType.SmallDown"
                ></app-relation>
                <app-relation
                    [name]="RelationName.Hank"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.NO.1') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801C.BENCH.TALK.PC.FEARCHOICE09.NOTALIVE')"
            >
                <app-relation
                    [name]="RelationName.SoftwareInstability"
                    [type]="RelationType.SmallDown"
                ></app-relation>
                <app-relation
                    [name]="RelationName.Hank"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.NOTALIVE'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801C.BENCH.TALK.PC.FEARCHOICE09.COLD')"
            >
                <app-relation
                    [name]="RelationName.SoftwareInstability"
                    [type]="RelationType.SmallDown"
                ></app-relation>
                <app-relation
                    [name]="RelationName.Hank"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.COLD05'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <mat-divider></mat-divider>

        <p>
            <app-dialogue-line name="Hank">
                {{
                    translateObject('X0801C.BENCH.TALK.PC.X08CHANK.PULLTRIGGER')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0801C.BENCH.TALK.PC.PULLTRIGGERCHOICE10.DEFY')
                "
            >
                <app-relation
                    [name]="RelationName.Hank"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.DEFY'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.DEFY'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.SELFTEST'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801C.BENCH.TALK.PC.PULLTRIGGERCHOICE10.ANALYSE')
                "
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.ANALYSE'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.DEFY'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.SELFTEST'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801C.BENCH.TALK.PC.PULLTRIGGERCHOICE10.HEAVEN')
                "
            >
                <p>
                    <app-dialogue-line name="Connor">
                        {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.HEAVEN01') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.HEAVEN02'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.SELFTEST'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801C.BENCH.TALK.PC.PULLTRIGGERCHOICE10.NOTHING')
                "
            >
                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.NOTHING'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <app-conditioned-content>
            <div class="condition">Hank left Connor alone</div>
            <div class="content">
                <app-unlock-condition [unlockType]="UnlockType.Lock">
                    If Hank isn't hostile
                </app-unlock-condition>
                <p>
                    <app-dialogue-line name="Connor">
                        {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.END') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject('X0801C.BENCH.TALK.PC.X08CHANK.END')
                                | async
                        }}
                    </app-dialogue-line>
                </p>
            </div>
        </app-conditioned-content>
    </section>
</ng-container>
