<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <p>
            {{ t('GUI.MENU.DATE.08C') }}
            <br />{{ t('GUI.MENU.TIME.08C') }}
        </p>

        <h1>At Ambassador Bridge</h1>
        <p>
            <span class="name">Hank</span>:
            {{ translateObject('X0801C.BENCH.TALK.PC.X08CHANK.START') | async }}
        </p>

        <div class="choices">
            <em>{{ t('X0801C.BENCH.TALK.PC.STARTCHOICE01.SUICIDE') }}</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.SUICIDE') }} <br />
                    <span class="name">Hank</span>:
                    {{ t('X0801C.BENCH.TALK.PC.X08CHANK.SUICIDE') }}
                </p>
                <p>
                    <span class="note"
                        >If Connor didn't look at the photo in
                        <a [routerLink]="['/chapters', 18]">Russian Roulette</a
                        >, no choice will be given and the dialogue will go
                        directly to the SUICIDE option.</span
                    >
                </p>
                <em>{{ t('X0801C.BENCH.TALK.PC.PHOTOCHOICE.PHOTO') }}</em> [
                <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked by
                looking at Cole's photo in
                <a [routerLink]="['/chapters', 18]">Russian Roulette</a> ] [
                <span appRelation="small down">Hank</span>
                ]
                <div class="choice">
                    <p>
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.PHOTO'
                            ) | async
                        }}
                        <br /><span class="name">Hank</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.PHOTO'
                            ) | async
                        }}
                    </p>
                </div>
                <em>{{ t('X0801C.BENCH.TALK.PC.PHOTOCHOICE.SUICIDE') }}</em>
                <div class="choice">
                    <p>
                        <span class="name">Connor</span>:
                        {{
                            t('X0801C.BENCH.TALK.PC.X08CCONNOR.KILLYOURSELF00')
                        }}
                        <br /><span class="name">Hank</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.KILLYOURSELF01'
                            ) | async
                        }}
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CHANK.KILLYOURSELF02'
                            ) | async
                        }}
                    </p>
                </div>
            </div>
            <em>{{ t('X0801C.BENCH.TALK.PC.STARTCHOICE01.ALCOHOL') }}</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.ALCOHOL'
                        ) | async
                    }}<br />
                    <span class="name">Hank</span>:
                    {{ t('X0801C.BENCH.TALK.PC.X08CHANK.ALCOHOL') }}
                </p>
            </div>
            <em>{{ t('X0801C.BENCH.TALK.PC.STARTCHOICE01.BEFORE') }}</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.BEFORE.2') }} <br />
                    <span class="name">Hank</span>:
                    {{ t('X0801C.BENCH.TALK.PC.X08CHANK.BEFORE.1') }} <br />
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.BEFORE',
                            2
                        ) | async
                    }}
                    <br /><span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CHANK.BEFORE',
                            1
                        ) | async
                    }}
                </p>
            </div>
            <em>{{ t('X0801C.BENCH.TALK.PC.STARTCHOICE01.GOBACK') }}</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.GOBACKC'
                        ) | async
                    }}<br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject('X0801C.BENCH.TALK.PC.X08CHANK.GOBACKC')
                            | async
                    }}
                </p>
            </div>
        </div>

        <p>
            <span class="name">Connor</span>:
            {{
                translateObject(
                    'X0801C.BENCH.TALK.PC.X08CCONNOR.INVESTIGATIONC'
                ) | async
            }}
            <br />
            <span class="name">Hank</span>:
            {{ t('X0801C.BENCH.TALK.PC.X08CHANK.INVESTIGATIONH') }}
        </p>

        <div class="choices">
            <em
                >[
                {{ t('X0801C.BENCH.TALK.PC.INVESTIGATIONCHOICE02.RA9') }} ]</em
            >
            [ <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked by
            looking at rA9 clues in previous chapters ]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject('X0801C.BENCH.TALK.PC.X08CCONNOR.RA9C')
                            | async
                    }}<br />
                    <span class="name">Hank</span>:{{
                        translateObject('X0801C.BENCH.TALK.PC.X08CHANK.RA9H')
                            | async
                    }}
                </p>
            </div>
            <em>{{ t('X0801C.BENCH.TALK.PC.INVESTIGATIONCHOICE02.SHOCK') }}</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject('X0801C.BENCH.TALK.PC.X08CCONNOR.SHOCK')
                            | async
                    }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject('X0801C.BENCH.TALK.PC.X08CHANK.SHOCK')
                            | async
                    }}
                </p>
            </div>
            <em>{{
                t('X0801C.BENCH.TALK.PC.INVESTIGATIONCHOICE02.SYSTEMS')
            }}</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.CIRCUITS'
                        ) | async
                    }}
                    <br /><span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CHANK.CIRCUITS'
                        ) | async
                    }}
                </p>
            </div>
            <em>{{
                t('X0801C.BENCH.TALK.PC.INVESTIGATIONCHOICE02.SOFTWARES')
            }}</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.SOFTWARES'
                        ) | async
                    }}
                    <br /><span class="name">Hank</span>:
                    {{ t('X0801C.BENCH.TALK.PC.X08CHANK.SOFTWARES') }}
                </p>
            </div>
        </div>

        <p>
            <span class="name">Connor</span>:
            {{
                translateObject('X0801C.BENCH.TALK.PC.X08CCONNOR.CLUB') | async
            }}
        </p>

        <div class="condition">
            <span class="name"
                >Found the Tracis in
                <a [routerLink]="['/chapters', 20]">The Eden Club</a></span
            >
            <div class="condition-text">
                <p>
                    <span class="name">Hank</span>:
                    {{
                        translateObject('X0801C.BENCH.TALK.PC.X08CHANK.FOUND')
                            | async
                    }}
                </p>
                <div class="choices">
                    <em>{{
                        t('X0801C.BENCH.TALK.PC.FOUNDCHOICE03.RATIONAL')
                    }}</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.RATIONAL01'
                            ) | async
                        }}
                    </div>
                    <em>{{
                        t('X0801C.BENCH.TALK.PC.FOUNDCHOICE03.DEVIANTS')
                    }}</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.DEVIANTS'
                            ) | async
                        }}
                    </div>
                    <em>{{
                        t('X0801C.BENCH.TALK.PC.FOUNDCHOICE03.IRONIC')
                    }}</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.IRONIC'
                            ) | async
                        }}
                    </div>
                    <em>{{ t('X0801C.BENCH.TALK.PC.FOUNDCHOICE03.COLD') }}</em>
                    [ <span appRelation="small down">Software instability</span
                    ><span appRelation="small down">Hank</span>
                    ]
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.COLD01'
                            ) | async
                        }}
                    </div>
                </div>
            </div>
        </div>

        <div class="condition">
            <span class="name"
                >Took too much time looking for the Traci in
                <a [routerLink]="['/chapters', 20]">The Eden Club</a></span
            >
            <div class="condition-text">
                <span class="name">Hank</span>:
                {{
                    translateObject('X0801C.BENCH.TALK.PC.X08CHANK.NOTFOUND')
                        | async
                }}
                <div class="choices">
                    <em>{{
                        t('X0801C.BENCH.TALK.PC.NOTFOUNDCHOICE04.COLD')
                    }}</em>
                    [ <span appRelation="small down">Software instability</span
                    ><span appRelation="small down">Hank</span>
                    ]
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.COLD02'
                            ) | async
                        }}
                    </div>
                    <em>{{
                        t('X0801C.BENCH.TALK.PC.NOTFOUNDCHOICE04.IRONIC')
                    }}</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.IRONIC'
                            ) | async
                        }}
                    </div>
                    <em>{{
                        t('X0801C.BENCH.TALK.PC.NOTFOUNDCHOICE04.RATIONAL')
                    }}</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.RATIONAL02'
                            ) | async
                        }}
                    </div>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <p>
            <span class="name">Hank</span>:
            {{
                translateObject('X0801C.BENCH.TALK.PC.X08CHANK.ABOUTYOU')
                    | async
            }}
        </p>

        <div class="choices">
            <em>COLD</em> [
            <span appRelation="small down">Software instability</span
            ><span appRelation="small down">Hank</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.COLD03') }}
            </div>
            <em>AGGRESSIVE</em> [
            <span appRelation="small down">Software instability</span
            ><span appRelation="small down">Hank</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0801C.BENCH.TALK.PC.X08CCONNOR.AGGRESSIVE01'
                    ) | async
                }}
            </div>
            <em>DEFENSIVE</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0801C.BENCH.TALK.PC.X08CCONNOR.DEFENSIVE01'
                    ) | async
                }}
            </div>
            <em>NEUTRAL</em> [
            <span appRelation="small up">Hank</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject('X0801C.BENCH.TALK.PC.X08CCONNOR.NEUTRAL01')
                        | async
                }}
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="condition">
            <span class="name">Connor spared the Tracis</span>
            <div class="condition-text">
                <span class="name">Hank</span>:
                {{
                    translateObject('X0801C.BENCH.TALK.PC.X08CHANK.NOTSHOOT')
                        | async
                }}
                <div class="choices">
                    <em>LIE</em> [
                    <span appRelation="small down">Hank</span>
                    ]
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.LIE'
                            ) | async
                        }}
                    </div>
                    <em>TRUTH</em> [
                    <span appRelation="small up">Software instability</span
                    ><span appRelation="small up">Hank</span>
                    ]
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.TRUTH'
                            ) | async
                        }}
                    </div>
                </div>
            </div>
        </div>

        <div class="condition">
            <span class="name">Connor shot the Tracis in the back </span>
            <div class="condition-text">
                <p>
                    <span class="name">Hank</span>:
                    {{
                        translateObject('X0801C.BENCH.TALK.PC.X08CHANK.SHOOT')
                            | async
                    }}
                </p>
                <div class="choices">
                    <em>COLD</em> [
                    <span appRelation="small down">Software instability</span
                    ><span appRelation="small down">Hank</span>
                    ]
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.COLD04'
                            ) | async
                        }}
                    </div>
                    <em>DEFENSIVE</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.DEFENSIVE02'
                            ) | async
                        }}
                    </div>
                    <em>AGGRESSIVE</em> [
                    <span appRelation="small down">Hank</span>
                    ]
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.AGGRESSIVE02'
                            ) | async
                        }}
                    </div>
                    <em>NEUTRAL</em> [
                    <span appRelation="small down">Software instability</span
                    ><span appRelation="small down">Hank</span>
                    ]
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.NEUTRAL03'
                            ) | async
                        }}
                    </div>
                </div>
            </div>
        </div>

        <div class="condition">
            <span class="name">Connor shot one Traci</span>
            <div class="condition-text">
                <p>
                    <span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CHANK.SUICIDETRACY'
                        ) | async
                    }}
                </p>
                <div class="choices">
                    <em>DISTURBED</em> [
                    <span appRelation="small up">Software instability</span> ]
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.COLD11'
                            ) | async
                        }}
                    </div>
                    <em>COLD</em> [ <span appRelation="small down">Hank</span
                    ><span appRelation="small down">Software instability</span>
                    ]
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.DISTURBED11'
                            ) | async
                        }}
                    </div>
                </div>
            </div>
        </div>

        <div class="condition">
            <span class="name">Connor didn't find the Tracis </span>
            <div class="condition-text">
                <p>
                    <span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CHANK.NOWEAKNESSES'
                        ) | async
                    }}
                </p>
                <div class="choices">
                    <em>DEFENSIVE</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.DEFENSIVE04'
                            ) | async
                        }}
                    </div>
                    <em>CYNICAL</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.CYNICAL') }}
                    </div>
                    <em>UNDERSTANDING</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.UNDRESTANDING'
                            ) | async
                        }}
                    </div>
                    <em>NEUTRAL</em>
                    <div class="choice">
                        <span class="name">Connor</span>:
                        {{
                            translateObject(
                                'X0801C.BENCH.TALK.PC.X08CCONNOR.NEUTRAL02'
                            ) | async
                        }}
                    </div>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="condition">
            <span class="name"
                >| <i class="fas fa-skull"></i> Connor died before</span
            >
            <div class="condition-text">
                <span class="name">Hank</span>:
                {{
                    translateObject('X0801C.BENCH.TALK.PC.X08CHANK.DEAD')
                        | async
                }}
            </div>
        </div>

        <p>
            <span class="name">Hank</span>:
            {{ t('X0801C.BENCH.TALK.PC.X08CHANK.DEADNEVER') }}
        </p>

        <div class="choices">
            <em>YES</em> [
            <span appRelation="small up">Software instability</span>]
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject('X0801C.BENCH.TALK.PC.X08CCONNOR.YES')
                        | async
                }}
            </div>
            <em>NO</em> [
            <span appRelation="small down">Software instability</span
            ><span appRelation="small down">Hank</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.NO.1') }}
            </div>
            <em>NOT ALIVE</em> [
            <span appRelation="small down">Software instability</span
            ><span appRelation="small down">Hank</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject('X0801C.BENCH.TALK.PC.X08CCONNOR.NOTALIVE')
                        | async
                }}
            </div>
            <em>LOGICAL</em> [
            <span appRelation="small down">Software instability</span
            ><span appRelation="small down">Hank</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject('X0801C.BENCH.TALK.PC.X08CCONNOR.COLD05')
                        | async
                }}
            </div>
        </div>

        <mat-divider></mat-divider>

        <p>
            <span class="name">Hank</span>:
            {{
                translateObject('X0801C.BENCH.TALK.PC.X08CHANK.PULLTRIGGER')
                    | async
            }}
        </p>

        <div class="choices">
            <em>DEFY</em> [
            <span appRelation="small down">Hank</span>
            ]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject('X0801C.BENCH.TALK.PC.X08CCONNOR.DEFY')
                            | async
                    }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject('X0801C.BENCH.TALK.PC.X08CHANK.DEFY')
                            | async
                    }}<br />
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.SELFTEST'
                        ) | async
                    }}
                </p>
            </div>
            <em>HANK'S ANGER</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.ANALYSE'
                        ) | async
                    }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject('X0801C.BENCH.TALK.PC.X08CHANK.DEFY')
                            | async
                    }}
                    <br /><span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.SELFTEST'
                        ) | async
                    }}
                </p>
            </div>
            <em>IRONIC</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.HEAVEN01') }} <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CHANK.HEAVEN02'
                        ) | async
                    }}
                    <br />
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0801C.BENCH.TALK.PC.X08CCONNOR.SELFTEST'
                        ) | async
                    }}
                </p>
            </div>
            <em>NOTHING</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject('X0801C.BENCH.TALK.PC.X08CCONNOR.NOTHING')
                        | async
                }}
            </div>
        </div>

        <div class="condition">
            <span class="name">Hank left Connor alone </span> [
            <i class="fas fa-lock-open fa-flip-horizontal"></i> if Hank isn't
            hostile]
            <div class="condition-text">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0801C.BENCH.TALK.PC.X08CCONNOR.END') }} <br /><span
                        class="name"
                        >Hank</span
                    >:
                    {{
                        translateObject('X0801C.BENCH.TALK.PC.X08CHANK.END')
                            | async
                    }}
                </p>
            </div>
        </div>
    </section>
</ng-container>
