$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-blue, A200, A100, A400);

$light-warn: mat-palette($mat-red);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
