@use '@angular/material' as mat;
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

$light-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme($light-primary, $light-accent, $light-warn);
