<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <p>
            {{ t('GUI.MENU.DATE.02C') }}<br />
            {{ t('GUI.MENU.TIME.02C') }}
        </p>

        <h1>At Jimmy's Bar</h1>

        <p>
            <!-- TODO: Test other customers' reactions -->
            <strong>Passing the guests</strong>
            <br />
            <span class="name">Derek Myers</span>:
            {{ t('X0201C.BAR.CUSTOMER5.PC.X02CCUSTOM05.REACTBAR') }}
            <br />
            <span class="name">Christopher Gray</span>:
            {{
                translateObject('X0201C.BAR.CUSTOMER6.PC.X02CCUSTOM06.REACT')
                    | async
            }}
            <br />
            <span class="name">Kim Yo-Han</span>:
            {{ t('X0201C.BAR.CUSTOMER1.PC.X02CCUSTOM01.REACT') }}
            <br />
            <span class="name">Dennis Ward</span>:
            {{ t('X0201C.BAR.CUSTOMER3.PC.X02CCUSTOM03.REACT') }}
        </p>
        <p>
            <strong>Bartender exchanges money</strong>
            <br /><span class="name">Jimmy Peterson</span>:
            {{ t('X0201C.BAR.BARMAN.PC.X02CBARMAN.GAMEOVER06') }}
        </p>

        <p>
            <strong>Bartender refills drink</strong>
            <br /><span class="name">Jimmy Peterson</span>:
            {{ t('X0201C.BAR.BARMAN.FA.X02CBARMAN.BARSERVE01B') }}
        </p>

        <h2>Talking to Hank</h2>
        <p>
            <span class="name">Connor</span>:
            {{
                translateObject('X0201C.BAR.INTRO.PC.X02CCONNOR.HELLOC') | async
            }}
            {{
                translateObject('X0201C.BAR.INTRO.PC.X02CCONNOR.HELLOC01')
                    | async
            }}
            <br />
            <span class="name">Hank</span>:
            {{ t('X0201C.BAR.INTRO.PC.X02CHANK.HELLOH01') }}
            <br />
            <span class="name">Connor</span>:
            {{
                translateObject('X0201C.BAR.INTRO.PC.X02CCONNOR.HELLOC02')
                    | async
            }}
            <br />
            <span class="name">Hank</span>:
            {{
                translateObject('X0201C.BAR.INTRO.PC.X02CHANK.HELLOH02') | async
            }}
        </p>
        <div class="choices">
            <em>REASON</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{
                    translateObject(
                        'X0201C.BAR.INTRO.PC.X02CCONNOR.UNDERSTANDING'
                    ) | async
                }}
            </div>
            <em>THREATEN</em> [ <span appRelation="small down">Hank</span>
            ]
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0201C.BAR.INTRO.PC.X02CCONNOR.THREATEN') }}
            </div>
            <em>UNDERSTANDING</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0201C.BAR.INTRO.PC.X02CCONNOR.REASON') }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject('X0201C.BAR.INTRO.PC.X02CHANK.REASON')
                            | async
                    }}
                </p>
            </div>
            <em>PERSIST</em> [ <span appRelation="small down">Hank</span>
            ]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0201C.BAR.INTRO.PC.X02CCONNOR.INSIST',
                            0,
                            2
                        ) | async
                    }}
                    <br />
                    <span class="name">Hank</span>:
                    {{ t('X0201C.BAR.INTRO.PC.X02CHANK.INSIST["1"]') }}
                    <br />
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0201C.BAR.INTRO.PC.X02CCONNOR.INSIST',
                            2
                        ) | async
                    }}
                    <br />
                    <span class="name">Hank</span>:
                    {{ t('X0201C.BAR.INTRO.PC.X02CHANK.INSIST["2"]') }}
                </p>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <em>SPILL HIS DRINK</em> [
            <span appRelation="large down">Hank</span>
            ]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0201C.BAR.INTRO.PC.X02CCONNOR.FORCE["1"]') }}
                    <br />
                    <span class="name">Hank</span>:
                    {{ t('X0201C.BAR.INTRO.PC.X02CHANK.FORCE["1"]') }}
                    <br />
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0201C.BAR.INTRO.PC.X02CCONNOR.FORCE',
                            1
                        ) | async
                    }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject('X0201C.BAR.INTRO.PC.X02CHANK.FORCE', 1)
                            | async
                    }}
                </p>
            </div>
            <em>BUY HIM ANOTHER DRINK</em> [
            <span appRelation="large up">Hank</span>]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0201C.BAR.INTRO.PC.X02CCONNOR.DIPLOMACY',
                            0,
                            4
                        ) | async
                    }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0201C.BAR.INTRO.PC.X02CHANK.DIPLOMACY',
                            0,
                            2
                        ) | async
                    }}
                </p>
            </div>
            <em>WAIT OUTSIDE</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject('X0201C.BAR.INTRO.PC.X02CCONNOR.WAIT')
                            | async
                    }}
                    <br />
                    <span class="name">Hank</span>:
                    {{ t('X0201C.BAR.INTRO.PC.X02CHANK.WAIT') }}
                </p>
            </div>
        </div>
    </section>

    <section>
        <h1>At the crime scene</h1>

        <p>
            <span class="name">Hank</span>:
            {{
                translateObject('X0201C.CRIMESCENE.CAR.PC.X02CHANK.START')
                    | async
            }}
        </p>
        <div class="choices">
            <em>{{ t('X0201C.CRIMESCENE.CAR.PC.CHOICEGROUP1.PATIENT') }}</em> [
            <span appRelation="small up">Hank</span>
            ]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0201C.CRIMESCENE.CAR.PC.X02CCONNOR.PATIENT') }}
                    <br />
                    <span class="name">Hank</span>:
                    {{ t('X0201C.CRIMESCENE.CAR.PC.X02CHANK.PATIENT') }}
                </p>
            </div>
            <em>{{ t('X0201C.CRIMESCENE.CAR.PC.CHOICEGROUP1.FIRM') }}</em> [
            <span appRelation="small down">Hank</span>
            ]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0201C.CRIMESCENE.CAR.PC.X02CCONNOR.FIRM'
                        ) | async
                    }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0201C.CRIMESCENE.CAR.PC.X02CHANK.FIRM'
                        ) | async
                    }}
                </p>
            </div>
            <em>{{ t('X0201C.CRIMESCENE.CAR.PC.CHOICEGROUP1.DIPLOMATIC') }}</em>
            [ <span appRelation="small up">Hank</span>
            ]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0201C.CRIMESCENE.CAR.PC.X02CCONNOR.DIPLOMATIC') }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0201C.CRIMESCENE.CAR.PC.X02CHANK.DIPLOMATIC'
                        ) | async
                    }}
                </p>
            </div>
        </div>

        <p>
            <span class="name">Journalist</span>:
            {{ t('X0201C.CRIMESCENE.TV.FA.X02CJOURNALIST.QUESTIONSJ') }}
            <br />
            <span class="name">Hank</span>:
            {{ t('X0201C.CRIMESCENE.TV.FA.X02CHANK.QUESTIONS["1"]') }}
        </p>

        <p>
            <strong>Bystander dialogues</strong>
        </p>
        <ul>
            <!-- TODO: Check other lines -->
            <li>{{ t('X0201C.PBY.LINES.FA.X02CCROWDW.CROWDW01') }}</li>
            <li>{{ t('X0201C.PBY.LINES.FA.X02CCROWDW.CROWDW03') }}</li>
            <li>{{ t('X0201C.PBY.LINES.FA.X02CCROWDM02["02CROWDM02"]') }}</li>
            <li>{{ t('X0201C.PBY.LINES.FA.X02CCROWDM02["02CROWDM05"]') }}</li>
            <li>{{ t('X0201C.PBY.LINES.FA.X02CCROWDM02["02CROWDM06"]') }}</li>
            <li>{{ t('X0201C.PBY.LINES.FA.X02CBARGUY01.UNDERWATER') }}</li>
        </ul>

        <p>
            <strong>Following Hank</strong>
            <br /><span class="name">Police android</span>:
            {{
                t(
                    'X0201C.CRIMESCENE.GUARD.FA.X02CANDROIDCOP.STOPCORDONCOP["1"]'
                )
            }}
            <br />
            <span class="name">Hank</span>:
            {{ t('X0201C.CRIMESCENE.GUARD.FA.X02CHANK.STOPCORDONHANK') }}
            {{ t('X0201C.CRIMESCENE.GUARD.FA.X02CHANK.HPATIENTORDIPLOMAT') }}
            <br />
            <span class="name">Connor</span>:
            {{
                t(
                    'X0201C.CRIMESCENE.GUARD.FA.X02CCONNOR.CPATIENTORDIPLOMAT["1"]'
                )
            }}
            <br />
            <span class="name">Hank</span>:
            {{ t('X0201C.CRIMESCENE.GUARD.FA.X02CHANK.HALWAYS') }}
            <br />
            <span class="name">Connor</span>:
            {{ t('X0201C.CRIMESCENE.GUARD.FA.X02CCONNOR.CALWAYS["1"]') }}
            <br />
        </p>

        <p>
            <span class="name">Ben</span>:
            {{
                translateObject(
                    'X0201C.CRIMESCENE.CHAD.FA.X02CCHAD.INTROCHAD',
                    0,
                    2
                ) | async
            }}
            <br />
            <span class="name">Hank</span>:
            {{ t('X0201C.CRIMESCENE.CHAD.FA.X02CHANK.INTROHANK["1"]') }}
            <br />
            <span class="name">Ben</span>:
            {{
                translateObject(
                    'X0201C.CRIMESCENE.CHAD.FA.X02CCHAD.INTROCHAD',
                    3,
                    5
                ) | async
            }}
            <br />
            <span class="name">Hank</span>:
            {{ t('X0201C.CRIMESCENE.CHAD.FA.X02CHANK.INTROHANK["2"]') }}
            <br />
            <span class="name">Ben</span>:
            {{
                translateObject(
                    'X0201C.CRIMESCENE.CHAD.FA.X02CCHAD.INTROCHAD',
                    5
                ) | async
            }}
            {{
                translateObject(
                    'X0201C.INSIDE.BODY.FA.X02CCHAD.CARLOSCHAD01',
                    0,
                    6
                ) | async
            }}
            <br />
            <span class="name">Hank</span>:
            {{
                translateObject(
                    'X0201C.INSIDE.BODY.FA.X02CHANK.CARLOSHANKA',
                    0,
                    2
                ) | async
            }}
            <br />
            <span class="name">Ben</span>:
            {{
                translateObject(
                    'X0201C.INSIDE.BODY.FA.X02CCHAD.CARLOSCHAD01',
                    6,
                    9
                ) | async
            }}
            <br />
            <span class="name">Hank</span>:
            {{ t('X0201C.INSIDE.BODY.FA.X02CHANK.CARLOSHANK03') }}
            <br />
            <span class="name">Ben</span>:
            {{
                translateObject(
                    'X0201C.INSIDE.BODY.FA.X02CCHAD.CARLOSCHAD01',
                    9
                ) | async
            }}
            <br />
            <span class="name">Hank</span>:
            {{ t('X0201C.INSIDE.BODY.FA.X02CHANK.CARLOSHANK04') }}
            <br />
            <span class="name">Ben</span>:
            {{
                translateObject(
                    'X0201C.INSIDE.BODY.FA.X02CCHAD.CARLOSCHAD02',
                    0,
                    2
                ) | async
            }}
            {{
                translateObject('X0201C.INSIDE.BODY.FA.X02CCHAD.CARLOSCHAD03')
                    | async
            }}
        </p>

        <p>
            <strong>Hank looking at writing on wall</strong>
            <br />
            <span class="name">Hank</span>:
            {{
                translateObject('X0201C.HANK.WRITING.FA.X02CHANK.EXAMINE03')
                    | async
            }}
            {{ t('X0201C.HANK.WRITING.FA.X02CHANK.EXAMINE01') }}
            <br />
            <span class="name">Chris</span>:
            {{ t('X0201C.HANK.WRITING.FA.X02CHARVEY.EXAMINE02') }}
        </p>

        <p>
            <strong>Taking blood sample</strong>
            <br />
            <span class="name">Hank</span>:
            {{ t('X0201C.CONNOR.BLOOD.PC.X02CHANK.ANALYSE["1"]') }}
            <br />
            <span class="name">Connor</span>:
            {{
                translateObject(
                    'X0201C.CONNOR.BLOOD.PC.X02CCONNOR.ANALYSE',
                    0,
                    4
                ) | async
            }}
            <br />
            <span class="name">Hank</span>:
            {{
                translateObject('X0201C.CONNOR.BLOOD.PC.X02CHANK.ANALYSE', 1, 3)
                    | async
            }}
            <br />
            <span class="name">Connor</span>:
            {{ t('X0201C.CONNOR.BLOOD.PC.X02CCONNOR.ANALYSE["5"]') }}
            <br />
            <span class="name">Hank</span>:
            {{ t('X0201C.CONNOR.BLOOD.PC.X02CHANK.ANALYSE["4"]') }}
        </p>

        <p>
            <strong>Analysing victim</strong>
            <br /><span class="name">Connor</span>:
            {{
                translateObject('X0201C.CONNOR.WOUND.FA.X02CCONNOR.CONNOR')
                    | async
            }}
            <br /><span class="name">Hank</span>:
            {{
                translateObject('X0201C.CONNOR.WOUND.FA.X02CHANK.HANK') | async
            }}
        </p>

        <p>
            <strong>Hank looking at Red Ice</strong>
            <br /><span class="name">Hank</span>:
            {{
                translateObject('X0201C.HANK.COKE.FA.X02CHANK.EXAMINE01')
                    | async
            }}
            <br />
            <span class="name">Chris</span>:
            {{ t('X0201C.HANK.COKE.FA.X02CHARVEY.EXAMINE02') }}
        </p>

        <p>
            <strong>Background dialogues</strong>
            <br />
            <span class="name">Chris</span>:
            {{ t('X0201C.POLICEMEN.VOICES.FA.X02CHARVEY.SAMPLE01') }}
            <br />
            <span class="name">CSI</span>:
            {{ t('X0201C.POLICEMEN.VOICES.FA.X02CCSIA.SAMPLE02') }}
        </p>

        <p>
            <span class="name">CSI</span>:
            {{
                translateObject('X0201C.POLICEMEN.VOICES.FA.X02CCSIB.CORONER01')
                    | async
            }}
            <br />
            <span class="name">Chris</span>:
            {{ t('X0201C.POLICEMEN.VOICES.FA.X02CHARVEY.CORONER02') }}
        </p>

        <p>
            <span class="name">Chris</span>:
            {{ t('X0201C.POLICEMEN.VOICES.FA.X02CHARVEY.NIGHT01') }}
            <br />
            <span class="name">CSI</span>:
            {{ t('X0201C.POLICEMEN.VOICES.FA.X02CCSIA.NIGHT02') }}
        </p>

        <p>
            <span class="name">Chris</span>:
            {{
                translateObject(
                    'X0201C.POLICEMEN.VOICES.FA.X02CHARVEY.BATHROOM01'
                ) | async
            }}
            <br />
            <span class="name">CSI</span>:
            {{
                translateObject(
                    'X0201C.POLICEMEN.VOICES.FA.X02CCSIB.BATHROOM02'
                ) | async
            }}
        </p>

        <p>
            <strong>Looking at the garden</strong>
            <br /><span class="name">Hank</span>:
            {{
                translateObject('X0201C.CONNOR.EXIT.PC.X02CHANK.WAYOUT', 0, 2)
                    | async
            }}
            <br />
            <span class="name">Connor</span>:
            {{ t('X0201C.CONNOR.EXIT.PC.X02CCONNOR.WAYOUT["1"]') }}
            <br />
            <span class="name">Hank</span>:
            {{
                translateObject('X0201C.CONNOR.EXIT.PC.X02CHANK.WAYOUT', 2)
                    | async
            }}
            <br />
            <span class="name">Connor</span>:
            {{ t('X0201C.CONNOR.EXIT.PC.X02CCONNOR.WAYOUT', 1) }}
        </p>

        <div class="condition">
            <strong
                ><i class="fas fa-hourglass-end"></i> Taking too much
                time</strong
            >
            <div class="condition-text">
                <p>
                    <span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0201C.HANK.LEAVE.PC.X02CHANK.BYE01',
                            0,
                            2
                        ) | async
                    }}
                    <br />
                    <span class="name">Connor</span>:
                    {{ t('X0201C.HANK.LEAVE.PC.X02CCONNOR.BYE01["1"]') }}
                    <br />
                    <span class="name">Hank</span>:
                    {{ t('X0201C.HANK.LEAVE.PC.X02CHANK.BYE01["3"]') }}
                    <br />
                    <span class="name">Connor</span>:
                    {{ t('X0201C.HANK.LEAVE.PC.X02CCONNOR.BYE01["2"]') }}
                </p>

                <div class="condition">
                    <span class="name">Chose to spill Hank's drink </span> [
                    <span appRelation="small down">Hank</span>]
                    <div class="condition-text">
                        <span class="name">Hank</span>:
                        {{
                            translateObject(
                                'X0201C.HANK.LEAVE.PC.X02CHANK.BYE02'
                            ) | async
                        }}
                        <br />
                        <span class="note">Ends the investigation</span>
                    </div>
                </div>
                <div class="condition">
                    <span class="name">Chose to buy Hank a drink</span>
                    <div class="condition-text">
                        <p>
                            <span class="name">Connor</span>:
                            {{
                                translateObject(
                                    'X0201C.HANK.LEAVE.PC.X02CCONNOR.BYE01',
                                    2,
                                    5
                                ) | async
                            }}
                            <br />
                            <span class="name">Hank</span>:
                            {{ t('X0201C.HANK.LEAVE.PC.X02CHANK.BYE01["4"]') }}
                            <br />
                            <span class="name">Connor</span>:
                            {{
                                t('X0201C.HANK.LEAVE.PC.X02CCONNOR.BYE01["6"]')
                            }}
                            <br />
                            <span class="name">Hank</span>:
                            {{ t('X0201C.HANK.LEAVE.PC.X02CHANK.BYE01["5"]') }}
                        </p>
                    </div>
                </div>

                <div class="condition">
                    <span class="name">Chose to wait outside</span>
                    <div class="condition-text">
                        <p>
                            <span class="name">Hank</span>:
                            {{ t('X0201C.HANK.LEAVE.PC.X02CHANK.BYE01["4"]') }}
                            <br />
                            <span class="name">Connor</span>:
                            {{
                                t('X0201C.HANK.LEAVE.PC.X02CCONNOR.BYE01["6"]')
                            }}
                            <br />
                            <span class="name">Hank</span>:
                            {{ t('X0201C.HANK.LEAVE.PC.X02CHANK.BYE01["5"]') }}
                        </p>
                    </div>
                </div>
                <p>
                    <strong>Taking too much time again</strong> [
                    <span appRelation="small down">Hank</span>
                    ]
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0201C.HANK.ENDOFTIMER.PC.X02CHANK.ENDING'
                        ) | async
                    }}
                    <br />
                    <span class="note">Ends the investigation</span>
                </p>
            </div>
        </div>

        <h2>Talking to Hank</h2>

        <p>
            <span class="name">Connor</span>:
            {{
                translateObject('X0201C.RECON.INTRO.PC.X02CCONNOR.READY')
                    | async
            }}
            <br />
            <span class="name">Hank</span>:
            {{
                translateObject('X0201C.RECON.INTRO.PC.X02CHANK.READY') | async
            }}
        </p>

        <p>
            <span class="name">Connor</span>:
            {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR.BEGAN') }}
        </p>

        <div class="choices">
            <em>...IN THE KITCHEN</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["01KITCHEN01"]') }}
            </div>
            <em>...IN THE LIVING ROOM </em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["01LIVINGROOM"]') }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0201C.RECON.MAIN.PC.X02CHANK["01WRONG"]'
                        ) | async
                    }}
                </p>
            </div>
            <em>...IN THE BATHROOM</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["01BATHROOM"]') }}
                    <br /><span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0201C.RECON.MAIN.PC.X02CHANK["01WRONG"]'
                        ) | async
                    }}
                </p>
            </div>
        </div>

        <p>
            <span class="name">Hank</span>:
            {{
                translateObject('X0201C.RECON.MAIN.PC.X02CHANK["01KITCHEN02"]')
                    | async
            }}
            <br /><span class="name">Connor</span>:
            {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["01VICTIM"]') }}
        </p>

        <div class="choices">
            <em>...WITH THE BAT.</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["02BAT"]') }}
                    <br /><span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0201C.RECON.MAIN.PC.X02CHANK["02BAT"]'
                        ) | async
                    }}
                </p>
            </div>
            <em>...WITH THE KNIFE.</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["02KNIFE"]') }}
            </div>
            <em>...WITHOUT A WEAPON. </em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["02NOWEAPON"]') }}
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <em>THE ANDROID STABBED THE VICTIM </em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["03ANDSTAB"]["1"]') }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0201C.RECON.MAIN.PC.X02CHANK["03ANDSTAB"]'
                        ) | async
                    }}
                    <br />
                    <span class="name">Connor</span>:
                    {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["03ANDSTAB"]["2"]') }}
                </p>
            </div>
            <em>THE ANDROID THREW THE CHAIR.</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["03CHAIR"]') }}
            </div>
            <em>THE VICTIM STABBED THE ANDROID.</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["03VICTSTAB"]') }}
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <em>...THE LIVING ROOM.</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["04LIVINGROOM01"]') }}
                    <br /><span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0201C.RECON.MAIN.PC.X02CHANK["04LIVINGROOM02"]'
                        ) | async
                    }}
                </p>
            </div>
            <em>...THE GARDEN.</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["04GARDEN"]') }}
            </div>
            <em>...THE BATHROOM.</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["04BATHROOM"]') }}
            </div>
        </div>

        <mat-divider></mat-divider>

        <p>
            <span class="name">Connor</span>:
            {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["04LIVINGROOM02"]') }}
        </p>

        <div class="choices">
            <em>...WITH THE KNIFE.</em> [
            <span appRelation="small up">Hank</span>
            ]
            <div class="choice">
                <p>
                    <span class="name">Connor</span>:
                    {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["05KNIFE"]["1"]') }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0201C.RECON.MAIN.PC.X02CHANK["05KNIFE"]'
                        ) | async
                    }}
                    <br />
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0201C.RECON.MAIN.PC.X02CCONNOR["05KNIFE"]',
                            1
                        ) | async
                    }}
                    <br />
                    <span class="name">Hank</span>:
                    {{ t('X0201C.RECON.SUCCESS.PC.X02CHANK.HBBLOOD["1"]') }}
                    <br />
                    <span class="name">Connor</span>:
                    {{
                        translateObject(
                            'X0201C.RECON.SUCCESS.PC.X02CCONNOR.HBBLOOD',
                            0,
                            4
                        ) | async
                    }}
                    <br />
                    <span class="name">Hank</span>:
                    {{
                        translateObject(
                            'X0201C.RECON.SUCCESS.PC.X02CHANK.HBBLOOD',
                            1,
                            3
                        ) | async
                    }}
                    <br />
                    <span class="name">Connor</span>:
                    {{ t('X0201C.RECON.SUCCESS.PC.X02CCONNOR.HBBLOOD["5"]') }}
                    <br />
                    <span class="name">Hank</span>:
                    {{ t('X0201C.RECON.SUCCESS.PC.X02CHANK.HBBLOOD["4"]') }}
                    <br />
                    <span appRelation="small up">Hank</span>
                </p>
            </div>
            <em>...WITH THE BAT.</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["05BAT"]') }}
            </div>
            <em>...WITHOUT A WEAPON.</em>
            <div class="choice">
                <span class="name">Connor</span>:
                {{ t('X0201C.RECON.MAIN.PC.X02CCONNOR["05WEAPON"]') }}
            </div>
        </div>

        <p>
            <span class="note"
                >After a wrong answer, Hank will say one of those lines. After
                three mistakes, he will leave.</span
            >
        </p>
        <ul>
            <li>
                <span class="name">Hank</span>:
                {{ t('X0201C.RECON.MAIN.PC.X02CHANK.FAIL01') }}
            </li>
            <li>
                <span class="name">Hank</span>:
                {{
                    translateObject('X0201C.RECON.MAIN.PC.X02CHANK.FAIL02')
                        | async
                }}
            </li>
        </ul>

        <p>
            <strong>Giving too many wrong answers </strong> [
            <span appRelation="small down">Hank</span>]
            <br />
            <span class="name">Hank</span>:
            {{
                translateObject('X0201C.RECON.MAIN.PC.X02CHANK.FAIL03') | async
            }}
            <br />
            <span class="note">Ends the investigation</span>
        </p>

        <mat-divider></mat-divider>

        <p>
            <strong>Taking a chair</strong>
            <br />
            <span class="name">Hank</span>:
            {{ t('X0201C.CONNOR.CHAIR.PC.X02CHANK.CARRY01["1"]') }}
            <br />
            <span class="name">Connor</span>:
            {{ t('X0201C.CONNOR.CHAIR.FA.X02CCONNOR.CARRY02') }}
            <br />
            <span class="name">Hank</span>:
            {{
                translateObject('X0201C.CONNOR.CHAIR.PC.X02CHANK.CARRY01', 1)
                    | async
            }}
        </p>

        <p>
            <strong>Searching the attic</strong>
            <br />
            <span class="name">Deviant</span>:
            {{
                translateObject('X0201C.CONNOR.ANDROIDE.PC.X02CANDROID.FOUND')
                    | async
            }}
            <br />
            <span class="name">Hank</span>:
            {{ t('X0201C.CONNOR.ANDROIDE.PC.X02CHANK.FOUNDHANK01') }}
            <br />
            <span class="name">Connor</span>:
            {{ t('X0201C.CONNOR.ANDROIDE.PC.X02CCONNOR.FOUND') }}
            <br />
            <span class="name">Hank</span>:
            {{
                translateObject(
                    'X0201C.CONNOR.ANDROIDE.PC.X02CHANK.FOUNDHANK02'
                ) | async
            }}
        </p>
    </section>
</ng-container>
