<ng-container *transloco="let t">
	<section>
		<h1 id="ferndale">At Ferndale station</h1>

		<p>
			{{ t("GUI.MENU.DATE.05M") }}
			<br />
			{{ t("GUI.MENU.TIME.05M") }}
		</p>

		<section>
			<h2 id="man-phone">Man on the phone</h2>
			<p>
				<app-dialogue-line name="Man">
					{{ t("X5071X.PBY.PHONE.FA.PHONEMAN.PHONEM01") }}
					{{ t("X5071X.PBY.PHONE.FA.PHONEMAN.PHONEM23") }}
					{{
						translationService.translateObject(
							"X5071X.PBY.PHONE.FA.PHONEMAN.PHONEM03"
						) | async
					}}
					{{ t("X5071X.PBY.PHONE.FA.PHONEMAN.PHONEM20") }}
					{{ t("X5071X.PBY.PHONE.FA.PHONEMAN.PHONEM04") }}
					{{
						translationService.translateObject(
							"X5071X.PBY.PHONE.FA.PHONEMAN.PHONEM17"
						) | async
					}}
					{{ t("X5071X.PBY.PHONE.FA.PHONEMAN.PHONEM16") }}
					{{ t("X5071X.PBY.PHONE.FA.PHONEMAN.PHONEM24") }}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2 id="homeless-man">Homeless man</h2>
			<p>
				<app-dialogue-line name="Man">
					{{
						translationService.translateObject(
							"X0501M.NPCHOMELESS.STREETS.FA.X05MHOMELESSM.ASK"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2 id="people-talking">Two people talking</h2>
			<p>
				<app-dialogue-line name="Man">
					{{ t("X1001M.PBY.LINES.FA.X10MSHOPPINGMAN01.BOYBAND") }}
				</app-dialogue-line>
				<app-dialogue-line name="Woman">
					{{ t("X1001M.PBY.LINES.FA.X10MSHOPPINGWOM01.CREEPY") }}
				</app-dialogue-line>
				<app-dialogue-line name="Man">
					{{ t("X1001M.PBY.LINES.FA.X10MSHOPPINGMAN01.MYKIDS") }}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2 id="escalator">Run into someone down the escalator</h2>
			<p>
				<app-dialogue-line name="Man">
					{{ t("X0501M.NPCMANBUMP.STATION.FA.X05MMANBUMP.SORRY") }}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2 id="mother-child">Mother and child talking on a bench</h2>
			<p>
				<app-dialogue-line name="Girl">
					{{ t("X0501M.PBY.LINES.FA.X05MGIRL.GETRID") }}
				</app-dialogue-line>
				<app-dialogue-line name="Mother">
					{{ t("X0501M.PBY.LINES.FA.X05MMOM.SWEETIE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Girl">
					{{ t("X0501M.PBY.LINES.FA.X05MGIRL.SOCOOL") }}
				</app-dialogue-line>
				<app-dialogue-line name="Mother">
					{{ t("X0501M.PBY.LINES.FA.X05MMOM.IKNOW") }}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2 id="parked-android">Talking to parked android</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{ t("X0501M.NPCFRIEND.ANDPARK.FA.X05MMARKUS.WHERE") }}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2 id="talking-carl">Two people talking on the street</h2>
			<app-conditioned-content>
				<div class="condition">
					<p>
						Carl died in
						<a [routerLink]="['/chapters', 8]">Broken</a>
					</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Man">
							{{ t("X0501M.PBY.LINES.FA.X05MBUSMAN.CARL") }}
						</app-dialogue-line>
						<app-dialogue-line name="Woman">
							{{
								t("X0501M.PBY.LINES.FA.X05MBUSWOMAN.CARLDEAD01")
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Man">
							{{ t("X0501M.PBY.LINES.FA.X05MBUSMAN.CARLDEAD02") }}
						</app-dialogue-line>
						<app-dialogue-line name="Woman">
							{{ t("X0501M.PBY.LINES.FA.X05MBUSWOMAN.CONT01") }}
						</app-dialogue-line>
						<app-dialogue-line name="Man">
							{{ t("X0501M.PBY.LINES.FA.X05MBUSMAN.CONT02") }}
						</app-dialogue-line>
						<app-dialogue-line name="Woman">
							{{ t("X0501M.PBY.LINES.FA.X05MBUSWOMAN.CONT03") }}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition"><p>Carl is alive</p></div>
				<div class="content">
					<p>
						<app-dialogue-line name="Man">
							{{ t("X0501M.PBY.LINES.FA.X05MBUSMAN.CARL") }}
						</app-dialogue-line>
						<app-dialogue-line name="Woman">
							{{
								t(
									"X0501M.PBY.LINES.FA.X05MBUSWOMAN.CARLALIVE01"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Man">
							{{
								t("X0501M.PBY.LINES.FA.X05MBUSMAN.CARLALIVE02")
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Woman">
							{{ t("X0501M.PBY.LINES.FA.X05MBUSWOMAN.CONT01") }}
						</app-dialogue-line>
						<app-dialogue-line name="Man">
							{{ t("X0501M.PBY.LINES.FA.X05MBUSMAN.CONT02") }}
						</app-dialogue-line>
						<app-dialogue-line name="Woman">
							{{ t("X0501M.PBY.LINES.FA.X05MBUSWOMAN.CONT03") }}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
		</section>

		<section>
			<h2 id="homeless-man-street">Homeless man on the street</h2>
			<ul>
				<li>
					{{ t("X5071X.PBY.BEGGAR.FA.BEGGAR01.01BEG02") }}
				</li>
				<li>
					{{ t("X5071X.PBY.BEGGAR.FA.BEGGAR01.01BEG03") }}
				</li>
				<li>
					{{ t("X5071X.PBY.BEGGAR.FA.BEGGAR01.01BEG04") }}
				</li>
				<li>
					{{ t("X5071X.PBY.BEGGAR.FA.BEGGAR01.01BEG05") }}
				</li>
			</ul>
		</section>

		<section>
			<h2 id="children">Children playing</h2>
			<ul>
				<li>
					{{ t("X0101M.PBY.LINES.FA.X01MGIRL01.TAG") }}
				</li>
				<li>
					{{ t("X0101M.PBY.LINES.FA.X01MGIRL01.CATCH") }}
				</li>
				<li>
					{{ t("X0101M.PBY.LINES.FA.X01MGIRL01.COMEON") }}
				</li>
				<li>
					{{ t("X0101M.PBY.LINES.FA.X01MGIRL01.OVERTHERE") }}
				</li>
				<li>
					{{ t("X0101M.PBY.LINES.FA.X01MGIRL01.GOLONG") }}
				</li>
				<li>
					{{ t("X0101M.PBY.LINES.FA.X01MGIRL01.CATCHTHIS") }}
				</li>
			</ul>
		</section>

		<section>
			<h2 id="jericho">Finding Jericho</h2>
			<p>
				<app-dialogue-line name="Simon">
					{{ t("X0503M.JERICHO.ENCOUNTER.PC.X05MSIMON.WELCOME.1") }}
				</app-dialogue-line>
			</p>
		</section>
	</section>
</ng-container>
