.container,
mat-sidenav-content {
    min-height: 100vh;
    overflow: inherit;
}

mat-sidenav {
    height: 100vh;
    position: fixed;
}

app-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
    width: 100%;
}
