<mat-sidenav-container class="min-h-screen overflow-visible">
    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="side" class="h-screen fixed">
        <app-sidenav [sidenav]="sidenav"></app-sidenav>
    </mat-sidenav>
    <!-- Page content -->
    <mat-sidenav-content class="flex flex-col min-h-screen overflow-visible">
        <app-header class="flex-initial" [sidenav]="sidenav"></app-header>
        <div
            class="content flex-auto flex flex-col justify-start items-stretch"
        >
            <router-outlet class="flex-grow-0 flex-shrink-0"></router-outlet>
        </div>
        <app-footer class="flex-initial"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
