<mat-sidenav-container class="container">
    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="side">
        <app-sidenav [sidenav]="sidenav"></app-sidenav>
    </mat-sidenav>
    <!-- Page content -->
    <mat-sidenav-content fxLayout="column">
        <app-header fxFlex="0 1 auto" [sidenav]="sidenav"></app-header>
        <div fxFlex="1 1 auto">
            <router-outlet></router-outlet>
        </div>
        <app-footer fxFlex="0 1 auto"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
