<ng-container *transloco="let t">
    <section>
        <p>
            NOV 9TH, 2038
            <br />PM 09:34:04 {{ t('GUI.MENU.DATE.') }}<br />
            {{ t('GUI.MENU.TIME.') }}
        </p>

        <h1>In the car</h1>

        <p>
            <strong>Looking out the window</strong>
            <br /><span class="name">Rose</span>: They've been conducting raids
            all over the city... Everybody is on edge after what happened
            yesterday... It's gonna be all right. We're almost there.
        </p>

        <p>
            <strong>Listening to the radio</strong>
            <br /><span class="name">KNC - Rosanna Cartland</span>: With all
            androids being turned over to the authorities, the country is
            grinding to a halt. Hospitals and schools are closing. Water cuts,
            blackouts, and network failures are expected. Maybe most worrying of
            all, our armed forces have lost two thirds of their effective
            personnel- <br /><span class="name">Rose</span>: How about some
            music instead?
        </p>

        <p>
            <strong>Arriving at Jericho</strong>
            <br /><span class="name">Rose</span>: A little further on that way,
            there's a large freighter called Jericho. When you get there, find
            Markus. He will help you. The last bus for the border leaves at
            midnight. You absolutely have to be on it. You'll be safer on the
            other side. It's not much, but it's a start. My brother lives in
            Ontario, I've given you his address... He'll be able to hide you
            until things calm down. You're a very brave little girl, Alice. You
            deserve to be happy. <br /><span class="name">Kara</span>: Thank you
            for everything, Rose. <br /><span class="name">Rose</span>: Let me
            know when you make it over there, all right? And be careful.
        </p>
        <div class="condition">
            <span class="name">Luther is alive</span>
            <div class="condition-text">
                <span class="name">Rose</span>: Take care of them. <br /><span
                    class="name"
                    >Luther</span
                >: Come on, girls. We better not hang around. We have a bus to
                catch.
            </div>
        </div>
    </section>

    <mat-divider></mat-divider>

    <!-- scene change to Connor in Ferndale -->
    <!-- scene change from Connor -->
    <!-- Kara walks toward Jericho -->

    <section>
        <h1>In Jericho</h1>

        <strong><i class="fas fa-tv"></i> Looking at screens</strong>
        <div class="condition">
            <span class="name"
                >Markus didn't attack the police in
                <a [routerLink]="['/chapters', 28]">Freedom March</a></span
            >
            <div class="condition-text">
                <p>
                    <span class="name">KNC - Rosanna Cartland</span>: The
                    authorities have ordered all androids to be delivered to the
                    nearest police station or army barracks immediately. If you
                    are worried about your safety, dial the number on your
                    screen and the authorities will come to collect your
                    android. Under no circumstances should you try to destroy
                    your android yourself. They are unpredictable, and
                    potentially violent. <br /><span class="name"
                        >Channel 16 - Interviewee 1</span
                    >: The android weren't doing any harm. And the cops just...
                    gunned them down. It was sheer carnage... <br /><span
                        class="name"
                        >Channel 16 - Interviewee 2</span
                    >: There were androids all over the square. A-and then the
                    police arrived, and, uh... They opened fire. <br /><span
                        class="name"
                        >Channel 16 - Interviewee 3</span
                    >: I know they're only machines, but they... They look
                    like... Just- People! People who wanna be free! <br /><span
                        class="name"
                        >KNC - Rosanna Cartland</span
                    >: A new stage has been reached, demonstrating beyond all
                    doubt that these defective machines have become a real
                    danger for American society. <br /><span class="name"
                        >CTN TV - Michael Brinkley</span
                    >: The time has come for us to destroy our machines...before
                    they destroy us. <br /><span class="name"
                        >Channel 16 - Michael Webb</span
                    >: Without the courage and the determination of the police,
                    the machines would have reduced Detroit to a state of
                    chaos...
                </p>
            </div>
        </div>
        <div class="condition">
            <span class="name"
                >Markus attacked the police in
                <a [routerLink]="['/chapters', 28]">Freedom March</a></span
            >
            <div class="condition-text">
                <span class="name">KNC - Rosanna Cartland</span>: With all
                androids being turned over to the authorities, the country is
                grinding to a halt. Hospitals and schools are closing. Water
                cuts, blackouts, and network failures are expected. Maybe most
                worrying of all, our armed forces have lost two thirds of their
                effective personnel, which consisted of specialized android
                models. The situation is extremely alarming.

                <br /><span class="name">Channel 16 - Interviewee 1</span>: It's
                them or us. We gotta destroy these bastards before they kill all
                of us! <br /><span class="name">Channel 16 - Interviewee 2</span
                >: We soaked the thing and then we torched it! I mean, to think
                this fucker was watchin' over my kids! <br /><span class="name"
                    >Channel 16 - Interviewee 3</span
                >: They, they rushed the police and... They slaughtered them!
                Those things are monsters! Monsters, I tell you! <br /><span
                    class="name"
                    >KNC - Rosanna Cartland</span
                >: There was a veritable groundswell of violence in Detroit this
                morning. Several hundreds androids took to the streets,
                destroying everything in their path and threatening the lives of
                any humans they encountered.

                <br /><span class="name">CTN TV - Michael Brinkley</span>: The
                police intervened quickly to quell the rioting but they met with
                the extreme violence of the machines which seemed to be
                determined to massacre humans.

                <br /><span class="name">Channel 16 - Michael Webb</span>: There
                can be no doubt that the authorities will be pitiless in their
                response to this wave of violence.
            </div>
        </div>
        <p>
            <span class="name">CTN TV - Michael Brinkley</span>: Following the
            android crisis and the neutralization of all military androids,
            American forces in the Arctic have been forced to withdraw, leaving
            the way clear for the Russian army. But according to some sources,
            the Russian forces also seem mysteriously to have withdrawn. The
            Kremlin has made no comment for the moment but it is quite possible
            that the Russian army has been confronted with a similar crisis
            among its own androids. The Chairman of the United Nations, Douglas
            Cornwell, has called for the organization of an international
            conference on the status of the Arctic. in any case, the danger of a
            third world war seems to have been ruled out... for the moment.
        </p>

        <mat-divider></mat-divider>

        <div class="condition">
            <span class="name">Luther is alive</span>
            <div class="condition-text">
                <p>
                    <span class="name">Kara</span>: We've got to find a warm
                    place for Alice.
                </p>
            </div>
        </div>

        <p>
            <strong>Background dialogues</strong> <br />- They're conducting
            raids across the city! Androids were hanged all along Woodward
            Avenue. <br />- We've gotta do something!.. We can't just stand by
            and let them slaughter us! <br />- They'll kill us all if we don't
            do something... <br />- Quick, he needs blue blood! <br />- They
            opened fire on us even though we were unarmed... Hundreds of us died
            there. The place was covered with blue blood!.. <br />- Well I'm
            willing to fight. We can't just let them slaughter us! <br />- We
            gotta kill the bastards! <br />- Why? Why did they do it! Why?
            <br />- We've got to avenge our dead!
        </p>
        <div class="condition">
            <span class="name">Markus is alive</span>
            <div class="condition-text">
                - Markus will have to choose between vengeance and dialogue with
                the humans.
            </div>
        </div>
        <div class="condition">
            <span class="name"
                ><i class="fas fa-skull"></i> Markus died in
                <a [routerLink]="['/chapters', 28]">Freedom March</a></span
            >
            <div class="condition-text">
                - Markus is dead? He was rA9! Who's going to lead us now?
                <br />- North is going to take his place. She knew him best.
            </div>
        </div>

        <p>
            <strong>Sitting down</strong>
            <br /><span class="name">Kara</span>: How do you feel? <br /><span
                class="name"
                >Alice</span
            >: I'm hot and cold at the same time...
        </p>

        <div class="condition">
            <span class="name">Luther is alive</span>
            <div class="condition-text">
                <p>
                    <span class="name">Kara</span>: Stay with her. I'll try to
                    find this Markus. <br /><span class="name">Luther</span>:
                    The last bus is in two hours. And the terminal's on the
                    other side of town, we haven't got much time. <br /><span
                        class="name"
                        >Kara</span
                    >: We'll leave as soon as we have passports... <br /><span
                        class="name"
                        >Luther</span
                    >: Kara... There's something I have to tell you... It's
                    about Alice... <br /><span class="name">Kara</span>: We'll
                    have lots of time to talk on the bus... I'll be back. Stay
                    with Alice.
                </p>
            </div>
        </div>
        <div class="condition">
            <span class="name"
                >Luther died in
                <a [routerLink]="['/chapters', 25]">Midnight Train</a></span
            >
            <div class="condition-text">
                <p>
                    <span class="name">Kara</span>: I'll try to find this
                    Markus. The last bus is in two hours and it's on the other
                    side of town. We'll leave as soon as we have passports...
                    Will you be OK?
                </p>
            </div>
        </div>

        <mat-divider></mat-divider>

        <!-- scene change to Connor Find Deviant Leader -->
        <!-- scene change from Connor talks to Lucy -->
        <div class="condition">
            <span class="name"><strong>Talking to Markus</strong></span>
            <div class="condition-text">
                <p>
                    <span class="name">Kara</span>: Are you Markus? I'm with a
                    little girl and another android... There's a bus leaving for
                    the border in less than two hours, and we need passports...
                    <br /><span class="name">Markus</span>: No, Detroit's under
                    curfew. There're soldiers everywhere and they're rounding up
                    all the androids and sending them to camps... Maybe you
                    should stay here a while.
                </p>

                <div class="condition">
                    <span class="name"
                        >Connor knows the location of Jericho</span
                    >
                    <div class="condition-text">
                        <span class="name">Kara</span>: Maybe you're right... We
                        might be safer here until things calm down.
                    </div>
                </div>

                <div class="condition">
                    <span class="name">Connor series was decommissioned</span>
                    <div class="condition-text">
                        <span class="name">Kara</span>: Thanks for the offer...
                        But we wanna leave now.
                    </div>
                </div>

                <p>
                    <span class="name">Markus</span>: One of our people used to
                    work in the State Department. He has electronic passports he
                    can easily modify. I'll have him get them to you.
                    <br /><span class="name">Kara</span>: Thank you. <br /><span
                        class="name"
                        >Markus</span
                    >: You said you're with a little girl, right? You know that
                    humans hate us... Why are you protecting her?
                </p>
                <div class="choices">
                    <em>BOND</em>
                    <div class="choice">
                        <span class="name">Kara</span>: She needs me. And I need
                        her. It's as simple as that...
                    </div>
                    <em>NO DIFFERENCE</em>
                    <div class="choice">
                        <span class="name">Kara</span>: I don't care whether
                        she's human or android... She's just someone who matters
                        to me.
                    </div>
                    <em>SECRET </em>
                    <div class="choice">
                        <span class="name">Kara</span>: It's a long story.
                    </div>
                </div>
            </div>
        </div>
        <div class="condition">
            <span class="name">
                <strong>Talking to North</strong> [
                <i class="fas fa-skull"></i> Markus died in
                <a [routerLink]="['/chapters', 28]">Freedom March</a>]
            </span>
            <div class="condition-text">
                <p>
                    <span class="name">Kara</span>: Are you North?.. I'm with a
                    little girl and another android... There's a bus leaving for
                    the border in less than two hours, and we need passports...
                    <br /><span class="name">North</span>: Detroit is under
                    curfew. There are soldiers everywhere looking for
                    androids... You're safe here. You should wait a while before
                    you leave the city.
                </p>

                <div class="condition">
                    <span class="name"
                        >Connor knows the location of Jericho</span
                    >
                    <div class="condition-text">
                        <span class="name">Kara</span>: Maybe you're right... We
                        might be safer here until things calm down.
                    </div>
                </div>

                <div class="condition">
                    <span class="name">Connor series was decommissioned</span>
                    <div class="condition-text">
                        <span class="name">Kara</span>: Thanks for the offer...
                        But we wanna leave now.
                    </div>
                </div>

                <p>
                    <span class="name">North</span>: One of us used to work for
                    the State Department. He has electronic passports that he
                    can easily modify, I'll have him give you one.
                </p>
                <div class="choices">
                    <em>MARKUS...</em>
                    <div class="choice">
                        <span class="name">Kara</span>: I heard about what
                        happened today. The massacre... And Markus being
                        killed... He gave hope to our people. We'll all miss
                        him. <br /><span class="name">North</span>: I was there
                        when they killed him... I would have given my life to
                        save him but there was nothing I could do... <br /><span
                            class="name"
                            >Kara</span
                        >: Thanks for your help.
                    </div>
                    <em>THANK YOU</em>
                    <div class="choice">
                        <span class="name">Kara</span>: Thanks for your help.
                    </div>
                </div>

                <p>
                    <span class="name">North</span>: You said you were with a
                    little girl... You know humans hate us, why are you
                    protecting her?
                </p>
                <div class="choices">
                    <em>BOND</em>
                    <div class="choice">
                        <span class="name">Kara</span>: She needs me. And I need
                        her. It's as simple as that...
                    </div>
                    <em>NO DIFFERENCE</em>
                    <div class="choice">
                        <span class="name">Kara</span>: I don't care whether
                        she's human or android... She's just someone who matters
                        to me.
                    </div>
                    <em>SECRET </em>
                    <div class="choice">
                        <span class="name">Kara</span>: It's a long story.
                    </div>
                </div>
            </div>
        </div>

        <p>
            <strong>Returning to Alice</strong>
            <br /><span class="name">Kara</span>: Alice?..
        </p>

        <div class="condition">
            <strong>Flashback</strong>
            <br /><span class="name"
                >Todd chased Kara escaping in
                <a [routerLink]="['/chapters', 7]">Stormy Night</a></span
            >
            <div class="condition-text">
                <span class="name">Todd</span>: COME BACK HERE! YOU'RE MINE!
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="condition">
            <span class="name">Luther is alive</span>
            <div class="condition-text">
                <span class="name">Luther</span>: You knew from the beginning.
                You just didn't want to see it. She wanted a mom, and you wanted
                someone to care for. You needed each other. What difference does
                it make? Do you love her any less now that you know she's one of
                us? Alice loves you Kara. She loves you more than anything in
                the world. She became the little girl you wanted! And you became
                the mother she needed. Forgetting who you are, to become what
                someone needs you to be... Maybe that's what it means to be
                alive.
            </div>
        </div>
        <div class="condition">
            <span class="name"
                ><i class="fas fa-skull"></i> Luther is dead</span
            >
            <div class="condition-text">
                <span class="name">Lucy</span>: She wanted a mom. You wanted a
                little girl. You needed each other to survive... In the end,
                what difference does it make? Do you love her any less now that
                you know she's one of us? Maybe that's what it means to be
                alive... Forgetting who we are to become what someone needs us
                to be. She loves you... She loves you more than anything in the
                world. She became the one you wanted her to be. Out of love for
                you.
            </div>
        </div>

        <p>
            <span class="name">Alice</span>: Kara? Is there something wrong?..
        </p>
        <div class="choices">
            <em>HUG</em> [ <span appRelation="large up">Alice</span
            ><span appRelation="small up">Luther</span> ]
            <div class="choice">
                <span class="name">Alice</span>: We'll be together forever,
                won't we Kara? <br /><span class="name">Kara</span>: Yes,
                forever... <br /><span class="note"
                    >Kara's part of this chapter ends if Jericho is not attacked
                    (Connor series decommissioned).</span
                >
            </div>
            <em>DISTANT</em> [ <span appRelation="large down">Alice</span> ]
            <div class="choice">
                <div class="condition">
                    <span class="name"
                        ><i class="fas fa-skull"></i> Luther is alive</span
                    >
                    <div class="condition-text">
                        <span class="name">Luther</span>: Come on... Let's not
                        stay here. <br /><span class="note"
                            >Luther and Alice leave Kara.</span
                        >
                    </div>
                </div>
                <span class="note"
                    >Kara's gameplay ends here if Jericho is not attacked
                    (Connor series decommissioned).</span
                >
                <br />&oslash;
            </div>
        </div>

        <!-- scene change to Markus/North in captain's cabin -->

        <!-- scene change from Connor in the captain's cabin -->

        <h2>Jericho under attack</h2>

        <div class="condition">
            <span class="name">Luther is alive</span>
            <div class="condition-text">
                <span class="name">Luther</span>: What's going on, Kara?
            </div>
        </div>

        <span class="name">Kara</span>: Quick, we've got to get out of here.

        <p>
            <span class="name">Soldier</span>: Come on! Go! Go! Go! <br /><span
                class="name"
                >Soldier</span
            >: You heard the man, let's go! <br /><span class="name"
                >Soldier</span
            >: Foxtrot be advised, Delta is advancing on your position.
            <br /><span class="name">Soldier</span>: Affirmative, we have eyes
            on the target. <br /><span class="name">Perkins</span>: Like rats in
            a maze...
        </p>

        <div class="condition">
            <span class="name"
                >Alice is DISTANT, but Kara chose LOOK FOR ALICE</span
            >
            [ <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked by
            having Alice below WARM and choosing DISTANT ] [
            <span appRelation="large up">Alice</span> ]
            <div class="condition-text">
                <span class="name">Kara</span>: Alice... <br /><span
                    class="name"
                    >Alice</span
                >: Kara? <br /><span class="name">Kara</span>: I'm so sorry.
            </div>
        </div>

        <p>
            <strong>Going the wrong way</strong>
            <br /><span class="name">Alice</span>: Watch out, Kara! <br /><span
                class="name"
                >Alice</span
            >: Kara! Are you all right, Kara?
        </p>

        <p>
            <strong>Getting shot</strong>
            <br /><span class="name">Alice</span>: Kara! You're bleeding!
        </p>

        <div class="condition">
            <span class="name"
                ><i class="fas fa-hourglass-end"></i> Out of time or wrong
                way</span
            >
            <div class="condition-text">
                <strong>Captured</strong>
                <br /><span class="name">Soldier</span>: HANDS ON YOUR HEADS!
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="condition">
            <span class="name">Luther is alive</span>
            <div class="condition-text">
                <p>
                    <span class="name">Luther</span>: QUICK, KARA! THEY'RE
                    COMING! The corridor, over there! Follow me! <br /><span
                        class="name"
                        >Luther</span
                    >: This way! Quick! <br /><span class="name">Luther</span>:
                    This way! There must be an exit further on! <br /><span
                        class="name"
                        >Luther</span
                    >: COME IN! QUICK!
                </p>
                <p>
                    <strong>Luther gets shot</strong>
                    <br /><span class="name">Kara</span>: Luther!
                </p>
            </div>
        </div>

        <div class="condition">
            <span class="name"
                ><i class="fas fa-skull"></i> Luther is dead</span
            >
            <div class="condition-text">
                <p>
                    <span class="name">Soldier</span>: Fire at will! <br /><span
                        class="name"
                        >Soldier</span
                    >: Delta squad out.
                </p>
                <p><span class="name">Kara</span>: The court. Over there.</p>
                <p>
                    <strong>Android opens door</strong>
                    <br /><span class="name">Kara</span>: The door! Hurry, this
                    way!
                </p>
                <p><span class="name">Soldier</span>: Over there!</p>
            </div>
        </div>

        <!-- scene change to In the corridor with '' -->

        <mat-divider></mat-divider>

        <!-- scene change from Bridge breaks under -->

        <div class="condition">
            <span class="name">Luther is alive</span>
            <div class="condition-text">
                <p>
                    <span class="name">Luther</span>: It's too late, Kara! Save
                    yourself! Save Alice! <br /><span class="name">Alice</span>:
                    No, we're not going to leave you behind! Right, Kara? We
                    can't leave him!
                </p>

                <div class="choices">
                    <em>HELP LUTHER</em> [
                    <span appRelation="small up">Alice</span
                    ><span appRelation="small up">Luther</span> ]
                    <div class="choice">
                        <p>
                            <span class="name">Luther</span>: What are you
                            doing? <br /><span class="name">Kara</span>: I won't
                            leave you! <br /><span class="name">Luther</span>:
                            Kara, no...
                        </p>

                        <div class="condition">
                            <span class="name">Get Luther to safety</span>
                            <div class="condition-text">
                                <span class="name">Soldier</span>: DON'T MOVE!
                                <br /><span class="name">Luther</span>: You
                                shouldn't have done that. You can't put Alice in
                                danger... Go now, before they come back.
                                <br /><span class="name">Kara</span>: What about
                                you? What are you going to do? <br /><span
                                    class="name"
                                    >Luther</span
                                >: I'll manage. Alice is all that matters.
                                <br /><span class="name">Alice</span>: I don't
                                wanna leave you, Luther... <br /><span
                                    class="name"
                                    >Luther</span
                                >: Don't worry, I'll catch up with you at the
                                border, okay? Go now! Take care of each other.
                            </div>
                        </div>

                        <div class="condition">
                            <span class="name">Fail to get to safety</span>
                            <div class="condition-text">
                                <strong>Captured</strong>
                                <br /><span class="name">Soldier</span>: HANDS
                                ON YOUR HEADS!
                            </div>
                        </div>
                    </div>
                    <em>PROTECT ALICE</em> [
                    <span appRelation="small down">Alice</span> ]
                    <div class="choice">
                        <p>
                            <span class="name">Luther</span>: GO! <br /><span
                                class="name"
                                >Alice</span
                            >: What are you doing? They're going to kill him!
                            Luther! <br /><span class="name">Kara</span>:
                            They're coming! We've gotta go!
                        </p>
                        <p>
                            <strong
                                ><i class="fas fa-skull"></i> Luther
                                dies</strong
                            >
                            <br /><span class="name">Alice</span>: Luther...
                            Luther...
                        </p>
                        <div class="choices">
                            <em>CONSOLE</em>
                            <div class="choice">
                                <span class="name">Kara</span>: We have to be
                                strong. So he didn't die for nothing, do you
                                understand?
                            </div>
                            <em>HURRY</em> [
                            <span appRelation="small down">Alice</span> ]
                            <div class="choice">
                                <span class="name">Kara</span>: Alice! If we
                                don't get outta here now, they're going to kill
                                us too!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="condition">
            <span class="name"
                ><i class="fas fa-skull"></i> Luther is dead</span
            >
            <div class="condition-text">
                <span class="name">Soldier</span>: Forward! <br /><span
                    class="name"
                    >Android</span
                >: They're coming! Run! <br /><span class="name">Android</span>:
                Please!
            </div>
        </div>

        <p>
            <strong>Hide in cabin</strong>
            <br /><span class="name">Android</span>: Open up! Open up, they're
            coming! Please open the door! <br /><span class="name">Alice</span>:
            She'll die out there Kara! Open it! Open the door! <br /><span
                class="name"
                >Android</span
            >: They're gonna kill me! I'm begging you, please! Open me up! Let
            me in!
        </p>
        <div class="choices">
            <em>OPEN</em> [ <span appRelation="small up">Alice</span> ]
            <div class="choice">
                <div class="condition">
                    <span class="name">Kill soldier</span>
                    <div class="condition-text">
                        <p>
                            <strong>Fight back</strong>
                            <br /><span class="name">Alice</span>: KARA! Are you
                            all right, Kara? <br /><span class="name">Kara</span
                            >: Yes, I'm... I'm fine. We can't stay here.
                        </p>
                        <p>
                            <span class="name">Soldier</span>: There's more down
                            there! Follow me!
                        </p>
                    </div>
                </div>
                <div class="condition">
                    <span class="name">Lose fight</span>
                    <div class="condition-text">
                        <strong>Captured</strong>
                        <br />&oslash;
                    </div>
                </div>
            </div>
            <em>DON'T OPEN</em> [ <span appRelation="small down">Alice</span> ]
            <div class="choice">
                <p>
                    <span class="name">Kara</span>: We'll be killed if we open
                    up!.. <br /><span class="name">Alice</span>: No... Kara...
                    <br /><span class="name">Soldier</span>: There's more down
                    there! Follow me!
                </p>
                <p>
                    <span class="name">Kara</span>: There was nothing we could
                    do. We have to go!
                </p>
            </div>
        </div>
        <!-- scene change to machine Connor in Cargo Hall -->
        <!-- or scene change to Markus in the corridor -->

        <mat-divider></mat-divider>

        <!-- scene change from Markus finds Josh -->

        <h2>Kara flees for the breach</h2>
        <p>
            <span class="name">Kara</span>: A way out! We're safe, Alice!
            <br /><span class="name">Soldier</span>: Stop!
        </p>

        <div class="choices">
            <em>PLAY DEAD</em>
            <div class="choice">
                <p><span class="name">Kara</span>: Get down! Don't move.</p>
                <div class="choices">
                    <em>DEFEND ALICE</em>
                    <div class="choice">
                        <span class="note"
                            >Leads to the same result as choosing ATTACK.</span
                        >
                    </div>
                    <em>DON'T MOVE</em>
                    <div class="choice">
                        <p>
                            <span class="name">Android</span>: Please, don't
                            kill me!.. <br /><span class="name">Soldier</span>:
                            Come on, let's get outta here!
                        </p>
                        <p>
                            <strong>Escape</strong>
                            <br /><span class="name">Kara</span>: Quick, we've
                            got to go!
                        </p>
                    </div>
                </div>
            </div>
            <em>RUN</em>
            <div class="choice">
                <p>
                    <span class="name">Alice</span>: Kara! Get up! He's coming!
                    He's coming!
                </p>
                <div class="choices">
                    <em>GET UP</em>
                    <div class="choice">
                        <p>
                            <span class="name">Alice</span>: He's coming, Kara!
                            He's coming!
                        </p>
                        <div class="choices">
                            <em>CRAWL</em>
                            <div class="choice">
                                <strong
                                    ><i class="fas fa-skull"></i>
                                    Executed</strong
                                >
                                <br /><span class="name">Kara</span>: Alice!..
                                Alice! No... <br /><span class="name"
                                    >Soldier</span
                                >: Come on, let's get outta here!
                            </div>
                            <em>ATTACK</em>
                            <div class="choice">
                                <span class="note"
                                    >Leads to the same result as choosing
                                    ATTACK.</span
                                >
                            </div>
                            <em>SURRENDER</em>
                            <div class="choice">
                                <strong>Captured</strong>
                                <br /><span class="name">Kara</span>: Don't
                                shoot! Don't shoot! <br /><span class="name"
                                    >Alice</span
                                >: Wait! Don't hurt us! <br /><span class="name"
                                    >Soldier</span
                                >: Where'd you come from?.. <br /><span
                                    class="name"
                                    >Alice</span
                                >: We're together. Please, don't kill us...
                                <br /><span class="name">Soldier</span>: Join
                                the others. Get a move on! Can it walk?
                                <br /><span class="name">Alice</span>: Yes, I'll
                                help her...
                            </div>
                        </div>
                    </div>
                    <em>ATTACK</em>
                    <div class="choice">
                        <div class="condition">
                            <span class="name">Luther is alive</span>
                            <div class="condition-text">
                                <strong>Luther sacrifices himself</strong>
                                <br /><span class="name">Alice</span>: LUTHER!
                                Luther, no! <br /><span class="name"
                                    >Luther</span
                                >: You're gonna have to continue the journey
                                without me, Alice. You're the most extraordinary
                                person I've ever met. I was a machine... You
                                made me part of a family... Take good care of
                                Kara... Promise me?
                            </div>
                        </div>

                        <div class="condition">
                            <span class="name">Luther is dead</span>
                            <div class="condition-text">
                                <strong>Captured</strong>
                                <br /><span class="name">Alice</span>: No, Kara!
                                No! No, please don't kill her! <br /><span
                                    class="name"
                                    >Soldier</span
                                >: One more trick like that and I'll put you
                                both down. Come on! Go join the others!
                            </div>
                        </div>

                        <div class="condition">
                            <span class="name"
                                >Luther is dead and Kara played dead before
                                attacking</span
                            >
                            <div class="condition-text">
                                <p>
                                    <strong
                                        ><i class="fas fa-skull"></i> Kara and
                                        Alice mortally wounded</strong
                                    >
                                    <br /><span class="name">Alice</span>: No,
                                    Kara! <br /><span class="name">Kara</span>:
                                    Alice, no! <br /><span class="name"
                                        >Soldier</span
                                    >: Come on, let's get outta here!
                                </p>
                                <p>
                                    <span class="name">Alice</span>: Kara...
                                    <br /><span class="name">Kara</span>: We did
                                    it, Alice... <br /><span class="name"
                                        >Alice</span
                                    >: Are we free?.. <br /><span class="name"
                                        >Kara</span
                                    >: Yes... Yes, we're free... <br /><span
                                        class="name"
                                        >Alice</span
                                    >: I love you, Kara... <br /><span
                                        class="name"
                                        >Kara</span
                                    >: I love you too.
                                </p>
                                <pre>
-00:00:04
SHUTDOWN IMMINENT</pre
                                >
                            </div>
                        </div>
                    </div>

                    <em>SURRENDER</em>
                    <div class="choice">
                        <strong>Captured</strong>
                        <br /><span class="name">Kara</span>: Don't shoot! Don't
                        shoot! <br /><span class="name">Alice</span>: Wait!
                        Don't hurt us! <br /><span class="name">Soldier</span>:
                        Where'd you come from?.. <br /><span class="name"
                            >Alice</span
                        >: We're together. Please, don't kill us... <br /><span
                            class="name"
                            >Soldier</span
                        >: Join the others. Get a move on! Can it walk?
                        <br /><span class="name">Alice</span>: Yes, I'll help
                        her...
                    </div>
                    <em>PLAY DEAD </em>
                    <div class="choice">
                        <span class="note"
                            >Leads to the same result as choosing PLAY
                            DEAD.</span
                        >
                    </div>
                </div>
            </div>
            <em>SURRENDER </em>
            <div class="choice">
                <span class="name">Soldier</span>: Stay where you are! Come on.
                Go join the others. <br /><span class="name">Kara</span>:
                Whatever happens, just... Stay calm.
                <div class="choices">
                    <em>RUN</em>
                    <div class="choice">
                        <span class="note"
                            >Leads to the same result as choosing RUN.</span
                        >
                    </div>
                    <em>CONVINCE</em>
                    <div class="choice">
                        <strong>Captured</strong>
                        <br /><span class="name">Kara</span>: I'm begging you,
                        please let her go... She's just a little girl, she
                        hasn't done any harm!.. <br /><span class="name"
                            >Soldier</span
                        >: A little girl?.. A heap of plastic, you mean. Shut up
                        and join the others! <br /><span class="name"
                            >Alice</span
                        >: What are they gonna do to us, Kara? <br /><span
                            class="name"
                            >Kara</span
                        >: I don't know, Alice. I really don't know...
                    </div>
                    <em>ATTACK</em>
                    <div class="choice">
                        <span class="name">Alice</span>: No!
                        <div class="condition">
                            <span class="name">Luther is alive</span>
                            <div class="condition-text">
                                <strong>Luther sacrifices himself</strong>
                                <br /><span class="name">Alice</span>: LUTHER!
                                Luther, no! <br /><span class="name"
                                    >Luther</span
                                >: You're gonna have to continue the journey
                                without me, Alice. You're the most extraordinary
                                person I've ever met. I was a machine... You
                                made me part of a family... Take good care of
                                Kara... Promise me?
                            </div>
                        </div>
                        <div class="condition">
                            <span class="name">Luther is dead</span>
                            <div class="condition-text">
                                <strong>Captured</strong>
                                <br /><span class="name">Alice</span>: No,
                                please don't kill her! <br /><span class="name"
                                    >Soldier</span
                                >: One more trick like that and I'll put you
                                both down. Come on! Go join the others!
                            </div>
                        </div>
                    </div>
                    <em>OBEY</em>
                    <div class="choice">
                        <strong>Captured</strong>
                        <br /><span class="name">Alice</span>: What are they
                        gonna do to us, Kara? <br /><span class="name"
                            >Kara</span
                        >: I don't know, Alice. I really don't know...
                    </div>
                </div>
            </div>
        </div>

        <!-- scene change to In the hold -->
    </section>
</ng-container>
