<ng-container *transloco="let t">
	<section aria-labelledby="jericho">
		<h1 id="jericho">In Jericho</h1>

		<p>
			{{ t("GUI.MENU.DATE.08M") }}
			<br />
			{{ t("GUI.MENU.TIME.08M") }}
		</p>

		<app-condition-group>
			<app-conditioned-content>
				<div class="condition"><p>Simon is here</p></div>
				<div class="content">
					<p>
						<app-dialogue-line name="Simon">
							{{
								translationService.translateObject(
									"X0802M.JERICHO.WELCOME.PC.X08MSIMON.PRESS"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition">
					<p>
						Simon was left behind or died in
						<a [routerLink]="['/chapters', 23]">Stratford Tower</a>
					</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Josh">
							{{
								translationService.translateObject(
									"X0802M.JERICHO.WELCOME.PC.X08MJOSH.PRESSJOSH"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
		</app-condition-group>

		<mat-divider></mat-divider>

		<app-condition-group>
			<app-conditioned-content>
				<div class="condition">
					<p>
						Sent a peaceful message in
						<a [routerLink]="['/chapters', 23]">Stratford Tower</a>
					</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0802M.JERICHO.WELCOME.PC.X08MMARLA.PRESSPEACE"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Josh">
							{{
								translationService.translateObject(
									"X0802M.JERICHO.WELCOME.PC.X08MJOSH.PRESSPEACE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition">
					<p>
						Sent a violent message in
						<a [routerLink]="['/chapters', 23]">Stratford Tower</a>
					</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Josh">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MJOSH.PRESSWAR.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MMARLA.PRESSWAR"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Josh">
							{{
								translationService.translateObject(
									"X0802M.JERICHO.WELCOME.PC.X08MJOSH.PRESSWAR",
									1
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
		</app-condition-group>

		<mat-divider></mat-divider>

		<app-condition-group>
			<app-conditioned-content>
				<div class="condition"><p>Simon is here</p></div>
				<div class="content">
					<p>
						<app-dialogue-line name="Simon">
							{{
								translationService.translateObject(
									"X0802M.JERICHO.WELCOME.PC.X08MSIMON.REACTION01"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0802M.JERICHO.WELCOME.PC.X08MMARLA.REACTION02"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Simon">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MSIMON.CASUALTIES.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MMARLA.CASUALTIES.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Josh">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MJOSH.CASUALTIES.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MMARLA.CASUALTIES.2"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Josh">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MJOSH.CASUALTIES.2"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MMARLA.CASUALTIES.3"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Josh">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MJOSH.CASUALTIES.3"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Simon">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MSIMON.CASUALTIES.2"
								)
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition">
					<p>
						Simon was left behind or died in
						<a [routerLink]="['/chapters', 23]">Stratford Tower</a>
					</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Josh">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MJOSH.SIMONDEAD.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MMARLA.SIMONDEAD.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Josh">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MJOSH.SIMONDEAD.2"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0802M.JERICHO.WELCOME.PC.X08MMARLA.SIMONDEAD",
									1,
									3
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Josh">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MJOSH.SIMONDEAD.3"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0802M.JERICHO.WELCOME.PC.X08MMARLA.SIMONDEAD",
									3
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Josh">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MJOSH.SIMONDEAD.4"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0802M.JERICHO.WELCOME.PC.X08MMARKUS.SIMONDEAD"
								)
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
		</app-condition-group>

		<p>
			<app-dialogue-line name="North">
				{{ t("X0802M.JERICHO.WELCOME.PC.X08MMARLA.NOWWHAT01A") }}
			</app-dialogue-line>
		</p>

		<p>
			<app-dialogue-line name="Markus">
				{{
					translationService.translateObject(
						"X0802M.JERICHO.WELCOME.PC.X08MMARKUS.NOWWHAT01B"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Josh">
				{{
					translationService.translateObject(
						"X0802M.JERICHO.WELCOME.PC.X08MJOSH.NOWWHAT01C"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Simon">
				{{ t("X0802M.JERICHO.WELCOME.PC.X08MSIMON.NOWWHAT02") }}
			</app-dialogue-line>
			<app-dialogue-line name="Markus">
				{{
					translationService.translateObject(
						"X0802M.JERICHO.WELCOME.PC.X08MMARKUS.NOWWHAT03"
					) | async
				}}
			</app-dialogue-line>
		</p>
	</section>

	<section aria-labelledby="capitol-park">
		<h1 id="capitol-park">At Capitol Park</h1>

		<p>
			<app-dialogue-line name="Markus">
				{{ t("X0802M.INTRO.STREET.PC.X08MMARKUS.GOV2") }}
			</app-dialogue-line>
			<app-dialogue-line name="North">
				{{ t("X0802M.INTRO.FENCE.FA.X08MMARLA.LONGTIME") }}
			</app-dialogue-line>
		</p>

		<p>
			<app-dialogue-line name="North">
				{{ t("X0802M.PLAZA.POLICEPATROL.FA.X08MMARLA.INCOMING") }}
			</app-dialogue-line>
		</p>

		<app-condition-group>
			<app-conditioned-content>
				<div class="condition">
					<p>Avoid the police car</p>
				</div>
				<div class="content">
					<app-dialogue-line name="North">
						{{
							t("X0802M.PLAZA.MARKUSHIDDEN.PC.X08MMARLA.LEFT01V2")
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0802M.PLAZA.MARKUSHIDDEN.PC.X08MMARKUS.LEFT02V2"
							) | async
						}}
					</app-dialogue-line>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition">
					<p>Fail to hide, North saves Markus</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0802M.PLAZA.MARKUSNOTHIDDEN.PC.X08MMARLA.NOTSEEN01V2"
								) | async
							}}
						</app-dialogue-line>
						<app-relation
							[name]="RelationName.North"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.PLAZA.MARKUSHIDDEN.PC.X08MMARLA.LEFT01V2"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0802M.PLAZA.MARKUSHIDDEN.PC.X08MMARKUS.LEFT02V2"
								) | async
							}}
						</app-dialogue-line>
						<app-relation
							[name]="RelationName.Jericho"
							[type]="RelationType.SmallDown"
						></app-relation>
					</p>
				</div>
			</app-conditioned-content>
		</app-condition-group>

		<p>
			<app-dialogue-line name="North">
				{{ t("X0802M.PLAZA.HEREITIS.FA.X08MMARLA.STORE") }}
			</app-dialogue-line>
		</p>

		<section aria-labelledby="statue">
			<h2 id="statue">Look at the statue</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0802M.PLAZA.STATUE.PC.X08MMARKUS.SLAVESV2",
							0,
							4
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="convert">
			<h2 id="convert">Convert Androids</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{ t("X0802M.PLAZA.ANDSNOW.FA.X08MMARKUS.FREE") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="look-stores">
			<h2 id="look-stores">Look inside stores</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{ t("X0802M.PLAZA.SHOPWINDOW.PC.X08MMARKUS.FREEV2") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="reach-store">
			<h2 id="reach-store">Reach the store</h2>
			<p>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X0802M.PLAZA.ATTHESHOP.PC.X08MMARLA.ALARAMV2",
							0,
							4
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X0802M.PLAZA.ATTHESHOP.PC.X08MMARKUS.ALARAMV2") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.PLAZA.ATTHESHOP.PC.X08MMARLA.ALARAMV2.5") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="timeout">
			<h2 id="timeout">
				<app-unlock-condition [unlockType]="UnlockType.Time">
					Take too much time
				</app-unlock-condition>
			</h2>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition"><p>Simon is alive</p></div>
					<div class="content">
						<p>
							<app-dialogue-line name="Simon">
								{{
									translationService.translateObject(
										"X0802M.TIMEOUT.GAMEOVER.VO.X08MSIMON.FALLBACK"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition"><p>Simon is dead</p></div>
					<div class="content">
						<p>
							<app-dialogue-line name="Josh">
								{{
									t(
										"X0802M.TIMEOUT.GAMEOVER.VO.X08MJOSH.FALLBACKJOSH"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
			</app-condition-group>

			<p>
				<app-dialogue-line name="North">
					{{ t("X0802M.TIMEOUT.GAMEOVER.FA.X08MMARLA.GAMEOVER01") }}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{
						t("X0802M.TIMEOUT.GAMEOVER.PC.X08MMARKUS.GAMEOVER02.1")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X0802M.TIMEOUT.GAMEOVER.PC.X08MMARLA.GAMEOVER02"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0802M.TIMEOUT.GAMEOVER.PC.X08MMARKUS.GAMEOVER02",
							1
						) | async
					}}
				</app-dialogue-line>
			</p>
			<p class="note">
				<span dir="ltr">Leads to the "Mission failed" outcome.</span>
			</p>
		</section>

		<section aria-labelledby="alarm">
			<h2 id="alarm">Deactivate the alarm</h2>

			<section aria-labelledby="analyze-alarm">
				<h3 id="analyze-alarm">Analyse the store</h3>
				<p>
					<app-dialogue-line name="North">
						{{
							t(
								"X0802M.CYBERALARM.CYBERWINDOW.VO.X08MMARLA.NETWORK01"
							)
						}}
					</app-dialogue-line>
				</p>

				<app-observation label="Store window">
					<app-observation-item
						[title]="t('MENU.OBSERVATION.08M.MP.SHUTTER.TITLE')"
						[subline1]="
							t('MENU.OBSERVATION.08M.MP.SHUTTER.SUBLINE01')
						"
						[subline2]="
							t('MENU.OBSERVATION.08M.MP.SHUTTER.SUBLINE02')
						"
					/>
				</app-observation>

				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0802M.CYBERALARM.BREAKWINDOW.FA.X08MMARKUS.GRID"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<app-observation label="Store Androids">
					<app-observation-item
						[title]="
							t('MENU.OBSERVATION.08M.MP.INSTOREANDROID01.TITLE')
						"
						[subline1]="
							t(
								'MENU.OBSERVATION.08M.MP.INSTOREANDROID01.SUBLINE01'
							)
						"
						[subline2]="
							t(
								'MENU.OBSERVATION.08M.MP.INSTOREANDROID01.SUBLINE02'
							)
						"
					>
					</app-observation-item>
					<app-observation-item
						[title]="
							t('MENU.OBSERVATION.08M.MP.INSTOREANDROID02.TITLE')
						"
						[subline1]="
							t(
								'MENU.OBSERVATION.08M.MP.INSTOREANDROID02.SUBLINE01'
							)
						"
						[subline2]="
							t(
								'MENU.OBSERVATION.08M.MP.INSTOREANDROID02.SUBLINE02'
							)
						"
					>
					</app-observation-item>
					<app-observation-item
						[title]="
							t('MENU.OBSERVATION.08M.MP.INSTOREANDROID03.TITLE')
						"
						[subline1]="
							t(
								'MENU.OBSERVATION.08M.MP.INSTOREANDROID03.SUBLINE01'
							)
						"
						[subline2]="
							t(
								'MENU.OBSERVATION.08M.MP.INSTOREANDROID03.SUBLINE02'
							)
						"
					>
					</app-observation-item>
				</app-observation>

				<app-observation label="Security cameras">
					<app-observation-item
						[title]="
							t('MENU.OBSERVATION.08M.MP.SECURITYCAM01.TITLE')
						"
						[subline1]="
							t('MENU.OBSERVATION.08M.MP.SECURITYCAM01.SUBLINE01')
						"
						[subline2]="
							t('MENU.OBSERVATION.08M.MP.SECURITYCAM01.SUBLINE02')
						"
					>
					</app-observation-item>
					<app-observation-item
						[title]="
							t('MENU.OBSERVATION.08M.MP.SECURITYCAM02.TITLE')
						"
						[subline1]="
							t('MENU.OBSERVATION.08M.MP.SECURITYCAM02.SUBLINE01')
						"
						[subline2]="
							t('MENU.OBSERVATION.08M.MP.SECURITYCAM02.SUBLINE02')
						"
					>
					</app-observation-item>
					<app-observation-item
						[title]="
							t('MENU.OBSERVATION.08M.MP.SECURITYCAM03.TITLE')
						"
						[subline1]="
							t('MENU.OBSERVATION.08M.MP.SECURITYCAM03.SUBLINE01')
						"
						[subline2]="
							t('MENU.OBSERVATION.08M.MP.SECURITYCAM03.SUBLINE02')
						"
					>
					</app-observation-item>
				</app-observation>

				<p>
					<app-dialogue-line name="Markus">
						{{
							t(
								"X0802M.CYBERALARM.CYBERWINDOW.VO.X08MMARKUS.NETWORK01"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="North">
						{{ t("X0802M.INTRO.PLAN.FA.X08MMARLA.SECURITY") }}
					</app-dialogue-line>
					<app-dialogue-line name="Markus">
						{{ t("X0802M.INTRO.PLAN.FA.X08MMARKUS.SECURITY") }}
					</app-dialogue-line>
				</p>
			</section>

			<section aria-labelledby="alarm-convert-androids">
				<h3 id="alarm-convert-androids">Convert the androids</h3>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0802M.CYBERSHOP.FREEANDROIDS.FA.X08MMARKUS.FREEME01"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<app-observation label="Network access">
					<app-observation-item
						[title]="
							t('MENU.OBSERVATION.08M.MP.CYBERLIFEALARM01.TITLE')
						"
						[subline1]="
							t(
								'MENU.OBSERVATION.08M.MP.CYBERLIFEALARM01.SUBLINE01'
							)
						"
						[subline2]="
							t(
								'MENU.OBSERVATION.08M.MP.CYBERLIFEALARM01.SUBLINE02'
							)
						"
					>
					</app-observation-item>
				</app-observation>

				<p>
					<app-dialogue-line name="North">
						{{
							t("X0802M.CYBERALARM.PLUMBERS.FA.X08MMARLA.DRONEFA")
						}}
					</app-dialogue-line>
				</p>

				<app-condition-group>
					<app-conditioned-content>
						<div class="condition">
							<p>
								{{
									t(
										"X0802M.CYBERALARM.PLUMBERS.PC.DRONECHOICE.HIDE"
									)
								}}
							</p>
						</div>
						<div class="content">
							<p>
								<app-relation
									[name]="RelationName.North"
									[type]="RelationType.SmallUp"
								></app-relation>
								<app-dialogue-line name="North">
									{{
										t(
											"X0802M.CYBERALARM.NETWORK.FA.X08MMARLA.DONE"
										)
									}}
								</app-dialogue-line>
							</p>
						</div>
					</app-conditioned-content>
					<app-conditioned-content>
						<div class="condition"><p>Fail to hide</p></div>
						<div class="content">
							<p>
								<app-relation
									[name]="RelationName.North"
									[type]="RelationType.SmallDown"
								></app-relation>
								<app-dialogue-line name="Drone">
									{{
										translationService.translateObject(
											"X0802M.TRUCK.GAMEOVER.VO.X08MDRONE.DRONE02"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="North">
									{{
										t(
											"X0802M.DRONE.DRONEALERT.PC.X08MMARLA.FIRSTFAIL.1"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Markus">
									{{
										t(
											"X0802M.DRONE.DRONEALERT.PC.X08MMARKUS.FIRSTFAIL"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="North">
									{{
										t(
											"X0802M.DRONE.DRONEALERT.PC.X08MMARLA.FIRSTFAIL.2"
										)
									}}
								</app-dialogue-line>
							</p>
						</div>
					</app-conditioned-content>
				</app-condition-group>
			</section>
		</section>

		<section aria-labelledby="drone">
			<h2 id="drone">Destroy the drone</h2>

			<p>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0802M.DRONE.HERESTHEDRONE.PC.X08MMARKUS.FINDAWAY"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.DRONE.HERESTHEDRONE.PC.X08MMARLA.FINDAWAY") }}
				</app-dialogue-line>
			</p>

			<app-observation label="Drone">
				<app-observation-item
					[title]="t('MENU.OBSERVATION.08M.MP.POLICEDRONE01.TITLE')"
					[subline1]="
						t('MENU.OBSERVATION.08M.MP.POLICEDRONE01.SUBLINE01')
					"
					[subline2]="
						t('MENU.OBSERVATION.08M.MP.POLICEDRONE01.SUBLINE02')
					"
				>
				</app-observation-item>
			</app-observation>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition"><p>Destroy drone</p></div>
					<div class="content">
						<p>
							<app-relation
								[name]="RelationName.North"
								[type]="RelationType.SmallUp"
							></app-relation>
							<app-dialogue-line name="North">
								{{
									t(
										"X0802M.DRONE.PRECONSTRUCT.PC.X08MMARLA.ALARM"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Markus">
								{{
									t(
										"X0802M.DRONE.PRECONSTRUCT.PC.X08MMARKUS.ALARM"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition"><p>Fail to destroy drone</p></div>
					<div class="content">
						<p>
							<app-relation
								[name]="RelationName.Jericho"
								[type]="RelationType.SmallDown"
							></app-relation>
							<app-relation
								[name]="RelationName.North"
								[type]="RelationType.SmallDown"
							></app-relation>
							<app-dialogue-line name="Drone">
								{{
									translationService.translateObject(
										"X0802M.TRUCK.GAMEOVER.VO.X08MDRONE.DRONE02"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="North">
								{{
									t(
										"X0802M.DRONE.DRONEALERT.PC.X08MMARLA.FIRSTFAILPERCONSTRUCT.1"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Markus">
								{{
									t(
										"X0802M.DRONE.DRONEALERT.PC.X08MMARKUS.FIRSTFAILPERCONSTRUCT"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="North">
								{{
									t(
										"X0802M.DRONE.DRONEALERT.PC.X08MMARLA.FIRSTFAILPERCONSTRUCT.2"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
			</app-condition-group>
		</section>

		<section aria-labelledby="police-car">
			<h2 id="police-car">Police car arrives</h2>
			<p>
				<app-dialogue-line name="North">
					{{ t("X0802M.DRONE.DRONEALERT.PC.X08MMARLA.SHIT02") }}
					{{
						translationService.translateObject(
							"X0802M.POLICECAR.GHOSTCHOICE.FA.X08MMARLA.MIDTIMER"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.POLICECAR.GHOSTCHOICE.FA.X08MMARLA.TIMEOUT") }}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item [choiceLabel]="t('GUI.ACTION.ABANDONMISSION')">
					<p>
						<app-relation
							[name]="RelationName.Jericho"
							[type]="RelationType.LargeDown"
						></app-relation>
						<app-relation
							[name]="RelationName.North"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0802M.POLICECAR.GHOSTCHOICE.PC.X08MMARKUS.GOTTAGO.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.POLICECAR.GHOSTCHOICE.PC.X08MMARLA.GOTTAGO.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0802M.POLICECAR.GHOSTCHOICE.PC.X08MMARKUS.GOTTAGO",
									1
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.POLICECAR.GHOSTCHOICE.PC.X08MMARLA.GOTTAGO.2"
								)
							}}
						</app-dialogue-line>
					</p>
					<p class="note">
						<span dir="ltr"
							>Leads to the "Mission failed" outcome.</span
						>
					</p>
				</app-choice-item>
				<app-choice-item [choiceLabel]="t('GUI.ACTION.08M.ACTNATURAL')">
					<p>
						<app-relation
							[name]="RelationName.North"
							[type]="RelationType.LargeDown"
						></app-relation>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.POLICECAR.GHOSTCHOICE.PC.X08MMARLA.KISSV2.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0802M.POLICECAR.GHOSTCHOICE.PC.X08MMARKUS.KISSV2.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.POLICECAR.GHOSTCHOICE.PC.X08MMARLA.KISSV2.2"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0802M.POLICECAR.GHOSTCHOICE.PC.X08MMARKUS.KISSV2.2"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.POLICECAR.GHOSTCHOICE.PC.X08MMARLA.KISSV2.3"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item [choiceLabel]="t('MENU.FLOWCHART.08M.HIDE')">
					<p>
						<app-relation
							[name]="RelationName.North"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0802M.POLICECAR.GHOSTCHOICE.FA.X08MMARKUS.HIDE"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Tina">
							{{
								t(
									"X0802M.POLICECAR.SQUARE.PC.X08MPATROLCOP01.DETROITPOLICE.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Police Officer">
							{{
								translationService.translateObject(
									"X0802M.POLICECAR.SQUARE.PC.X08MPATROLCOP02.DETROITPOLICE",
									0,
									2
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Tina">
							{{
								t(
									"X0802M.POLICECAR.SQUARE.PC.X08MPATROLCOP01.DETROITPOLICE.2"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Police Officer">
							{{
								translationService.translateObject(
									"X0802M.POLICECAR.SQUARE.PC.X08MPATROLCOP02.DETROITPOLICE",
									2,
									4
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Tina">
							{{
								t(
									"X0802M.POLICECAR.SQUARE.PC.X08MPATROLCOP01.DETROITPOLICE.3"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Police Officer">
							{{
								t(
									"X0802M.POLICECAR.SQUARE.PC.X08MPATROLCOP02.DETROITPOLICE.5"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.POLICECAR.SQUARE.FA.X08MMARLA.HERESTHECAR"
								)
							}}
						</app-dialogue-line>
					</p>

					<app-observation label="Cops">
						<app-observation-item
							[title]="
								t('MENU.OBSERVATION.08M.MP.COPCARDRIVER.TITLE')
							"
							[subline1]="
								t(
									'MENU.OBSERVATION.08M.MP.COPCARDRIVER.SUBLINE01'
								)
							"
							[subline2]="
								t(
									'MENU.OBSERVATION.08M.MP.COPCARDRIVER.SUBLINE02'
								)
							"
						/>
						<app-observation-item
							[title]="
								t('MENU.OBSERVATION.08M.MP.COPCARTAG.TITLE')
							"
							[subline1]="
								t('MENU.OBSERVATION.08M.MP.COPCARTAG.SUBLINE01')
							"
							[subline2]="
								t('MENU.OBSERVATION.08M.MP.COPCARTAG.SUBLINE02')
							"
						/>
						<app-observation-item
							[title]="
								t('MENU.OBSERVATION.08M.MP.COPCARNUMBER.TITLE')
							"
							[subline1]="
								t(
									'MENU.OBSERVATION.08M.MP.COPCARNUMBER.SUBLINE01'
								)
							"
							[subline2]="
								t(
									'MENU.OBSERVATION.08M.MP.COPCARNUMBER.SUBLINE02'
								)
							"
						/>
						<app-observation-item
							[title]="
								t('MENU.OBSERVATION.08M.MP.COPCARRADIO.TITLE')
							"
							[subline1]="
								t(
									'MENU.OBSERVATION.08M.MP.COPCARRADIO.SUBLINE01'
								)
							"
							[subline2]="
								t(
									'MENU.OBSERVATION.08M.MP.COPCARRADIO.SUBLINE02'
								)
							"
						/>
					</app-observation>

					<p>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0802M.POLICECAR.SQUARE.FA.X08MMARKUSWOM.CALLM01.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Tina">
							{{
								t(
									"X0802M.POLICECAR.SQUARE.PC.X08MPATROLCOP01.CALLC01"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0802M.POLICECAR.SQUARE.FA.X08MMARKUSWOM.CALLM02"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Tina">
							{{
								translationService.translateObject(
									"X0802M.POLICECAR.SQUARE.PC.X08MPATROLCOP01.CALLC02"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0802M.POLICECAR.SQUARE.FA.X08MMARKUSWOM.CALLM03"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Tina">
							{{
								t(
									"X0802M.POLICECAR.SQUARE.PC.X08MPATROLCOP01.CALLC03"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0802M.POLICECAR.SQUARE.PC.X08MMARLA.SUCCESS"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<section aria-labelledby="block-road">
			<h2 id="block-road">Block the road</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{ t("X0802M.ROADBLOCK.BACK.FA.X08MMARKUS.MARKUS") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.ROADBLOCK.BACK.FA.X08MMARLA.NORTHV2") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X1105M.BARRICADE.PERKINS.PC.X11MMARLA.LOOK01"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="convert-road-android">
			<h2 id="convert-road-android">Convert androids</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{ t("X0802M.ROADBLOCK.ROADMEN.FA.X08MMARKUS.FREE") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.ROADBLOCK.SIGN.FA.X08MMARLA.PEACE") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="truck">
			<h2 id="truck">Find the truck</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{ t("X0802M.ABOUTNORTH.DYN.FA.X08MMARKUS.SAFENORTHV2") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.ABOUTNORTH.DYN.FA.X08MMARLA.PLAN.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X0802M.ABOUTNORTH.DYN.FA.X08MMARKUS.PLAN") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.ABOUTNORTH.DYN.FA.X08MMARLA.PLAN.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X0802M.ABOUTNORTH.DYN.FA.X08MMARKUS.PLAN02") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.TRUCK.FENCE.PC.X08MMARLA.LOOK01V2") }}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="North">
					{{ t("X0802M.TRUCK.FENCE.PC.X08MMARLA.CLOSED01") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.TRUCK.GATE.FA.X08MMARLA.TRUCKOUT") }}
				</app-dialogue-line>
			</p>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition"><p>Don't pick up the tool</p></div>
					<div class="content">
						<app-dialogue-line name="North">
							{{ t("X0802M.TRUCK.GATE.FA.X08MMARLA.WONDER") }}
						</app-dialogue-line>
					</div>
				</app-conditioned-content>
			</app-condition-group>

			<p>
				<app-dialogue-line name="North">
					{{ t("X0802M.TRUCK.GATE.FA.X08MMARLA.MAKENOISE") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.TRUCK.CRASH.PC.X08MMARLA.FINALLY") }}
				</app-dialogue-line>
			</p>
		</section>
	</section>
	<section aria-labelledby="store">
		<h1 id="store">In the store</h1>

		<app-condition-group>
			<app-conditioned-content>
				<div class="condition">
					<p>Markus and North have to flee</p>
				</div>
				<div class="content">
					<app-condition-group>
						<app-conditioned-content>
							<div class="condition">
								<p>Alarm wasn't deactivated</p>
							</div>
							<div class="content">
								<p>
									<app-dialogue-line name="North">
										{{
											t(
												"X0802M.TRUCK.GAMEOVER.PC.X08MMARLA.FORGOTALARM"
											)
										}}
									</app-dialogue-line>
								</p>
							</div>
						</app-conditioned-content>
						<app-conditioned-content>
							<div class="condition">
								<p>Drone wasn't destroyed</p>
							</div>
							<div class="content">
								<p>
									<app-dialogue-line name="North">
										{{
											t(
												"X0802M.TRUCK.GAMEOVER.PC.X08MMARLA.FORGOTDRONE"
											)
										}}
									</app-dialogue-line>
								</p>
							</div>
						</app-conditioned-content>
						<app-conditioned-content>
							<div class="condition">
								<p>Road wasn't blocked</p>
							</div>
							<div class="content">
								<p>
									<app-dialogue-line name="North">
										{{
											translationService.translateObject(
												"X0802M.TRUCK.GAMEOVER.PC.X08MMARLA.ROAD"
											) | async
										}}
									</app-dialogue-line>
								</p>
							</div>
						</app-conditioned-content>
					</app-condition-group>
					<p>
						<app-dialogue-line name="Markus">
							{{ t("X0802M.TRUCK.GAMEOVER.PC.X08MMARKUS.ROAD") }}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t("X0802M.TRUCK.GAMEOVER.PC.X08MMARLA.GOTTOGO")
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0802M.TRUCK.GAMEOVER.PC.X08MMARKUS.GOTTOGO"
								) | async
							}}
						</app-dialogue-line>
					</p>
					<p class="note">
						<span dir="ltr"
							>Leads to the "Mission failed" outcome.</span
						>
					</p>
				</div>
			</app-conditioned-content>
		</app-condition-group>

		<section aria-labelledby="convert-store-androids">
			<h2 id="convert-store-androids">Convert androids</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0802M.CYBERSHOP.FREEANDROIDS.FA.X08MMARKUS.FREEME03"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="talk-north">
			<h2 id="talk-north">Talk with North</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{
						t("X0802M.CYBERSHOP.ANDROIDS.PC.X08MMARKUS.TROUBLEDV2")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.CYBERSHOP.ANDROIDS.PC.X08MMARLA.TROUBLEDV2") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="talk-androids">
			<h2 id="talk-androids">Talk to androids</h2>
			<p>
				<app-relation
					[name]="RelationName.North"
					[type]="RelationType.LargeUp"
				></app-relation>
				<app-relation
					[name]="RelationName.Jericho"
					[type]="RelationType.LargeUp"
				></app-relation>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0802M.CYBERSHOP.BIGTALKV2.PC.X08MMARKUS.SPEAKT017",
							0,
							15
						) | async
					}}
					{{
						translationService.translateObject(
							"X0802M.CYBERSHOP.BIGTALKV2.PC.X08MMARKUS.SPEAKT014",
							19,
							22
						) | async
					}}
					{{
						t(
							"X0802M.CYBERSHOP.BIGTALKV2.PC.X08MMARKUS.SPEAKT013V1.21"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{
						t("X0802M.SPEECH.CROWDNPC.FA.X08MANDWOM02.WOM02WITHYOU")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{ t("X0802M.SPEECH.CROWDNPC.FA.X08MANDWOM02.WOM02WEARE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{
						t("X0802M.SPEECH.CROWDNPC.FA.X08MANDWOM02.WOM02FOLLOW")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X0802M.CYBERSHOP.BIGTALKV2.PC.X08MMARKUS.FOLLOWME") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.CYBERSHOP.LEAVE.FA.X08MMARLA.MESSAGE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X0802M.CYBERSHOP.LEAVE.FA.X08MMARKUS.MESSAGEM") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.DEMONSTR.IMTHEBOSS.FA.X08MMARLA.ACT") }}
				</app-dialogue-line>
			</p>
		</section>
	</section>
	<section aria-labelledby="send-message">
		<h1 id="send-message">Send a message</h1>
		<p>
			<app-dialogue-line name="North">
				{{ t("X0802M.DEMONSTR.NEEDYOU.VO.X08MMARLA.SCREENS") }}
			</app-dialogue-line>
		</p>

		<app-condition-group>
			<app-conditioned-content>
				<div class="condition"><p>Destroy the statue</p></div>
				<div class="content">
					<p>
						<app-relation
							[name]="RelationName.North"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{ t("X0802M.DEMONSTR.STATUE.FA.X08MMARKUS.PUSH") }}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition"><p>Tag the statue</p></div>
				<div class="content">
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0802M.DEMONSTR.STATUE.FA.X08MMARKUS.TAG"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
		</app-condition-group>

		<section aria-labelledby="molotov">
			<h2 id="molotov">North gives a molotov cocktail</h2>
			<p>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X0802M.DEMONSTR.LIGHTMYFIRE.PC.X08MMARLA.OFFER"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0802M.DEMONSTR.LIGHTMYFIRE.PC.CHOICE.REFUSE')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.North"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0802M.DEMONSTR.LIGHTMYFIRE.PC.X08MMARKUS.REFUSE"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t(
									"X0802M.DEMONSTR.LIGHTMYFIRE.PC.X08MMARLA.REFUSNORTH"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0802M.DEMONSTR.LIGHTMYFIRE.PC.X08MMARKUS.REFUSEND"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0802M.DEMONSTR.LIGHTMYFIRE.PC.CHOICE.TAKE')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.North"
							[type]="RelationType.SmallUp"
						></app-relation>
						<span>&oslash;</span>
					</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<section aria-labelledby="push-car">
			<h2 id="push-car">Push car</h2>
			<p>
				<app-dialogue-line name="North">
					{{ t("X0802M.DEMONSTR.NEEDYOU.VO.X08MMARLA.HELPYOU") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="push-dumpster">
			<h2 id="push-dumpster">
				Push and burn the dumpster by the coffee shop
			</h2>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition">
						<p>Go and grab the dumpster directly</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="North">
								{{
									t(
										"X0802M.DEMONSTR.NEEDYOU.VO.X08MMARLA.HAND"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition">
						<p>Observe the coffee shop first</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Markus">
								{{
									t(
										"X0802M.DEMONSTR.HELPME.FA.X08MMARKUS.HELP02"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
			</app-condition-group>
		</section>

		<section aria-labelledby="send-message-timeout">
			<h2 id="send-message-timeout">
				<app-unlock-condition
					[unlockType]="UnlockType.Time"
					[bracketsOnlyAroundIcon]="true"
				>
					Take too much time
				</app-unlock-condition>
			</h2>
			<p>
				<app-dialogue-line name="North">
					{{
						t("X0802M.DEMONSTR.COMEBACK.VO.X08MMARLA.INSTRUCTIONS")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.DEMONSTR.COMEBACK.VO.X08MMARLA.TIME") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0802M.DEMONSTR.COMEBACK.VO.X08MMARLA.LEAVE") }}
				</app-dialogue-line>
			</p>

			<section aria-labelledby="send-message-timeout-again">
				<h3 id="send-message-timeout-again">
					Take too much time again
				</h3>

				<p>
					<app-relation
						[name]="RelationName.North"
						[type]="RelationType.SmallDown"
					></app-relation>
					<app-dialogue-line name="Simon">
						{{
							translationService.translateObject(
								"X0802M.DEMONSTR.ENDTIMERV2.VO.X08MJOSH.FAILJOSH"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="North">
						{{
							translationService.translateObject(
								"X0802M.DEMONSTR.ENDTIMERV2.PC.X08MMARLA.FAIL"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</section>
		</section>

		<section aria-labelledby="police-arrives">
			<h2 id="police-arrives">Police arrives</h2>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition"><p>Simon is here</p></div>
					<div class="content">
						<p>
							<app-dialogue-line name="Simon">
								{{
									t(
										"X0802M.DEMONSTR.ENDTIMERV2.VO.X08MSIMON.BACKTOJERICHO02"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition">
						<p>
							Simon was left behind or died in
							<a [routerLink]="['/chapters', 23]"
								>Stratford Tower</a
							>
						</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Josh">
								{{
									translationService.translateObject(
										"X0802M.DEMONSTR.ENDTIMERV2.VO.X08MJOSH.BACKTOJERICHO02"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
			</app-condition-group>

			<mat-divider></mat-divider>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition"><p>Sent a pacifist message</p></div>
					<div class="content">
						<p>
							<app-dialogue-line name="Markus">
								{{
									t(
										"X0802M.DEMONSTR.ENDTIMERV2.PC.X08MMARKUS.SIRENSNOVIOLENCE"
									)
								}}
								{{
									t(
										"X0802M.DEMONSTR.ENDTIMERV2.VO.X08MMARKUS.BACKTOJERICHO01"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="North">
								{{
									translationService.translateObject(
										"X0802M.DEMONSTR.ENDTIMERV2.PC.X08MMARLA.PACIFISTSUCCESS",
										2,
										5
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Markus">
								{{
									t(
										"X0802M.DEMONSTR.ENDTIMERV2.PC.X08MMARKUS.PACIFISTSUCCESS"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="North">
								{{
									t(
										"X0802M.DEMONSTR.ENDTIMERV2.PC.X08MMARLA.PACIFISTSUCCESS.6"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition">
						<p>Sent an aggressive message</p>
					</div>
					<div class="content">
						<p>
							<app-relation
								[name]="RelationName.North"
								[type]="RelationType.SmallUp"
							></app-relation>
							<app-dialogue-line name="North">
								{{
									translationService.translateObject(
										"X0802M.DEMONSTR.ENDTIMERV2.PC.X08MMARLA.SIRENSVIOLENCE",
										0,
										2
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Markus">
								{{
									t(
										"X0802M.DEMONSTR.ENDTIMERV2.PC.X08MMARKUS.SIRENSVIOLENCE"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="North">
								{{
									t(
										"X0802M.DEMONSTR.ENDTIMERV2.PC.X08MMARLA.SIRENSVIOLENCE.3"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Markus">
								{{
									t(
										"X0802M.DEMONSTR.ENDTIMERV2.VO.X08MMARKUS.BACKTOJERICHO01"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="North">
								{{
									t(
										"X0802M.DEMONSTR.ENDTIMERV2.PC.X08MMARLA.VIOLENTSUCCESS.1"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Markus">
								{{
									translationService.translateObject(
										"X0802M.DEMONSTR.ENDTIMERV2.PC.X08MMARKUS.VIOLENTSUCCESS"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="North">
								{{
									t(
										"X0802M.DEMONSTR.ENDTIMERV2.PC.X08MMARLA.VIOLENTSUCCESS.2"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
			</app-condition-group>

			<p>
				<app-dialogue-line name="Markus">
					{{
						t(
							"X0802M.DEMONSTR.ENDTIMERV2.PC.X08MMARKUS.FEARFORNORTH"
						)
					}}
					{{
						translationService.translateObject(
							"X0802M.EYEFOREYE.NORTH.PC.X08MMARKUS.COMFORT",
							0,
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X0802M.EYEFOREYE.NORTH.PC.X08MMARLA.COMFORT"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0802M.EYEFOREYE.NORTH.PC.X08MMARKUS.COMFORT",
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{ t("X0802M.EYEFOREYE.CROWD.VO.X08MANDMAN01.ANGRYAND01") }}
				</app-dialogue-line>
				<app-dialogue-line name="Android 2">
					{{ t("X0802M.EYEFOREYE.CROWD.VO.X08MANDMAN01.ANGRYAND04") }}
				</app-dialogue-line>
				<app-dialogue-line name="Android 3">
					{{ t("X0802M.EYEFOREYE.CROWD.VO.X08MANDWOM01.ANGRYAND02") }}
				</app-dialogue-line>
				<app-dialogue-line name="Chris">
					{{
						translationService.translateObject(
							"X0802M.EYEFOREYE.DILEMMA.FA.X08MHARVEY.BEGMERCY"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0802M.EYEFOREYE.DILEMMA.PC.DILEMMACHOICE.EXECUTE')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.North"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0802M.EYEFOREYE.DILEMMA.PC.X08MMARKUS.EXECUTE"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0802M.EYEFOREYE.DILEMMA.PC.DILEMMACHOICE.SPARE')
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0802M.EYEFOREYE.DILEMMA.PC.X08MMARKUS.SPARE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0802M.EYEFOREYE.DILEMMA.PC.DILEMMACHOICE.DONTDECIDE'
						)
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0802M.EYEFOREYE.DILEMMA.PC.X08MMARKUS.DONTDECIDE"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<mat-divider></mat-divider>

		<p>
			<app-dialogue-line name="CTN TV - Michael Brinkley">
				{{ t("X0802M.E32017.PRESS.PC.X08MTVBRINKLEY.FLASH01") }}
			</app-dialogue-line>
			<app-dialogue-line name="KNC - Rosanna Cartland">
				{{ t("X0802M.E32017.PRESS.PC.X08MTVCARTLAND.FLASH02") }}
			</app-dialogue-line>
			<app-dialogue-line name="Channel 16 - Michael Webb">
				{{ t("X0802M.E32017.PRESS.PC.X08MTVWEBB.FLASH03") }}
			</app-dialogue-line>
		</p>

		<app-condition-group>
			<app-conditioned-content>
				<div class="condition"><p>Sent a pacifist message</p></div>
				<div class="content">
					<p>
						<app-relation
							[name]="RelationName.PublicOpinion"
							[type]="RelationType.LargeUp"
						></app-relation>
						<app-dialogue-line name="KNC - Rosanna Cartland">
							{{
								t(
									"X0802M.E32017.PRESS.PC.X08MTVCARTLAND.PEACE02"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Channel 16 - Michael Webb">
							{{ t("X0802M.E32017.PRESS.PC.X08MTVWEBB.PEACE01") }}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition"><p>Sent an aggressive message</p></div>
				<div class="content">
					<p>
						<app-relation
							[name]="RelationName.PublicOpinion"
							[type]="RelationType.LargeDown"
						></app-relation>
						<app-dialogue-line name="KNC - Rosanna Cartland">
							{{
								t(
									"X0802M.E32017.PRESS.PC.X08MTVCARTLAND.VIOLENT01"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Channel 16 - Michael Webb">
							{{
								t("X0802M.E32017.PRESS.PC.X08MTVWEBB.VIOLENT02")
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
		</app-condition-group>

		<mat-divider></mat-divider>

		<app-condition-group>
			<app-conditioned-content>
				<div class="condition">
					<p>Killed Chris and his partner</p>
				</div>
				<div class="content">
					<p>
						<app-relation
							[name]="RelationName.PublicOpinion"
							[type]="RelationType.LargeDown"
						></app-relation>
						<app-dialogue-line name="CTN TV - Michael Brinkley">
							{{
								t(
									"X0802M.E32017.PRESS.PC.X08MTVBRINKLEY.COPKILLED01"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="KNC - Rosanna Cartland">
							{{
								t(
									"X0802M.E32017.PRESS.PC.X08MTVCARTLAND.COPKILLED02"
								)
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition">
					<p>Didn't kill Chris and his partner</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="CTN TV - Michael Brinkley">
							{{
								t(
									"X0802M.E32017.PRESS.PC.X08MTVBRINKLEY.COPSAFE01"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Channel 16 - Michael Webb">
							{{
								t("X0802M.E32017.PRESS.PC.X08MTVWEBB.COPSAFE02")
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
		</app-condition-group>

		<p>
			<app-dialogue-line name="KNC - Rosanna Cartland">
				{{ t("X0802M.E32017.PRESS.PC.X08MTVCARTLAND.ANDROID01") }}
			</app-dialogue-line>
			<app-dialogue-line name="CTN TV - Michael Brinkley">
				{{ t("X0802M.E32017.PRESS.PC.X08MTVBRINKLEY.ANDROID02.2") }}
			</app-dialogue-line>
			<app-dialogue-line name="Channel 16 - Michael Webb">
				{{ t("X0802M.E32017.PRESS.PC.X08MTVWEBB.ANDROID03") }}
			</app-dialogue-line>
		</p>

		<section aria-labelledby="failed">
			<h2 id="failed">Mission failed</h2>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition">
						<p>Simon is alive</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Simon">
								{{
									translationService.translateObject(
										"X0802M.TIMEOUT.GAMEOVER.VO.X08MSIMON.FALLBACK"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition">
						<p>Simon is dead</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Josh">
								{{
									t(
										"X0802M.TIMEOUT.GAMEOVER.VO.X08MJOSH.FALLBACKJOSH"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
			</app-condition-group>

			<p>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X0802M.TRUCK.GAMEOVER.PC.X08MMARLA.DEADENDV2",
							0,
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0802M.TRUCK.GAMEOVER.PC.X08MMARKUS.DEADENDV2",
							0,
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X0802M.TRUCK.GAMEOVER.PC.X08MMARLA.DEADENDV2",
							3,
							5
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X0802M.TRUCK.GAMEOVER.PC.X08MMARKUS.DEADENDV2.4") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X0802M.TRUCK.GAMEOVER.PC.X08MMARLA.DEADENDV2",
							5
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>
	</section>
</ng-container>
