<nav>
	<div>
		@if (navigationService.previousItemId() !== null) {
			<a [routerLink]="['/chapters', navigationService.previousItemId()]">
				<fa-icon [icon]="faAngleLeft"></fa-icon> Previous chapter</a
			>
		}
	</div>
	<div class="next">
		@if (navigationService.nextItemId() !== null) {
			<a [routerLink]="['/chapters', navigationService.nextItemId()]"
				>Next chapter <fa-icon [icon]="faAngleRight"></fa-icon
			></a>
		}
	</div>

	<div>
		@if (navigationService.previousCharacterChapterId() !== null) {
			<a
				[routerLink]="[
					'/chapters',
					navigationService.previousCharacterChapterId(),
				]"
			>
				<fa-icon [icon]="faAngleLeft"></fa-icon> Previous
				{{ navigationService.currentItem()?.character }} chapter</a
			>
		}
	</div>
	<div class="next">
		@if (navigationService.nextCharacterChapterId() !== null) {
			<a
				[routerLink]="[
					'/chapters',
					navigationService.nextCharacterChapterId(),
				]"
				>Next {{ navigationService.currentItem()?.character }} chapter
				<fa-icon [icon]="faAngleRight"></fa-icon
			></a>
		}
	</div>
</nav>
