<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <p>
            NOV 11TH, 2038
            <br />PM 10:51 {{ t('GUI.MENU.DATE.') }}<br />
            {{ t('GUI.MENU.TIME.') }}
        </p>

        <h1>In the truck</h1>
        <p><span class="name">Alice</span>: Where are they taking us?</p>
        <div class="choices">
            <em>WARN</em>
            <div class="choice">
                <span class="name">Kara</span>: We both have to be strong,
                Alice.
            </div>
            <em>REASSURE</em>
            <div class="choice">
                <span class="name">Kara</span>: Whatever happens, we stick
                together, right? As long as we're together, nothing can hurt us.
            </div>
            <em>LIE</em>
            <div class="choice">
                <span class="name">Kara</span>: They're just rounding us up...
                You know, keeping us out of harm's way until things calm down...
            </div>
            <em>SINCERE</em>
            <div class="choice">
                <span class="name">Kara</span>: I...I don't know, Alice...
            </div>
        </div>

        <p>
            <span class="name">Soldier</span>: Come on, get out! Get a move on!
            OUT!
        </p>

        <p>
            <strong
                ><i class="fas fa-hourglass-end"></i> Not going out of the truck
                fast enough</strong
            >
            <br /><span class="name">Soldier</span>: Get outta there right now!
        </p>
    </section>

    <section>
        <h1>At the recycling center</h1>
        <p><span class="name">Soldier</span>: HANDS ON YOUR HEADS!</p>
        <div class="condition">
            <strong
                ><i class="fas fa-hourglass-end"></i> Not putting hands on
                Kara's head fast enough: Kara gets hit by the soldier</strong
            >
            <div class="condition-text">
                <span class="name">Alice</span>: Kara! Are you all right, Kara?
                <br /><span class="name">Soldier</span>: When I give you an
                order, you obey! Got it?
            </div>
        </div>

        <p>
            <span class="name">Soldier</span>: Line up with the others. Right
            now!
        </p>
        <div class="condition">
            <strong><i class="fas fa-hourglass-end"></i> Not lining up</strong>
            <div class="condition-text">
                <span class="name">Soldier</span>: That's your last warning.
                Next time, it's a bullet.
            </div>
        </div>

        <p>
            <span class="name">Soldier</span>: Forward! <br /><span class="name"
                >Alice</span
            >: I'm scared... I... I don't wanna go... <br /><span class="name"
                >Kara</span
            >: There's no choice, Alice... <br /><span class="name"
                >Soldier</span
            >: Next! <br /><span class="name">Alice</span>: No, Kara... I... I
            can't...
        </p>
        <div class="choices">
            <em>REASSURE</em>
            <div class="choice">
                <span class="name">Kara</span>: You just have to go though the
                gate. There's nothing to be scared of. I'll be right behind you.
            </div>
            <em>REASON</em>
            <div class="choice">
                <span class="name">Kara</span>: You have to go through alone. If
                you don't do as they say, they'll hurt us, do you understand?
            </div>
            <em>FRIGHTEN</em>
            <div class="choice">(???)</div>
            <em>ORDER</em>
            <div class="choice">
                <span class="name">Kara</span>: You have to go trough the gate
                now!
            </div>
        </div>

        <p><span class="name">Soldier</span>: You first!</p>

        <div class="choices">
            <em>PERSUADE SOLDIER</em>
            <div class="choice">
                <span class="name">Kara</span>: It's all right... She'll go now,
                won't you, Alice?
            </div>
            <em>PERSUADE ALICE</em>
            <div class="choice">
                <span class="name">Kara</span>: You really need to do this. Just
                do it for me, please...
            </div>
            <em>SHIELD ALICE</em>
            <div class="choice">
                <span class="name">Kara</span>: Wait, just give her a minute,
                she's just a little girl- <br /><span class="name">Alice</span>:
                Sorry!.. I'm sorry... I'm going...
            </div>
        </div>

        <p><span class="name">Soldier</span>: Come on, it's your turn.</p>

        <div class="condition">
            <strong
                ><i class="fas fa-hourglass-end"></i> Taking too long going in
                the gate</strong
            >
            <div class="condition-text">
                <span class="name">Soldier</span>: Hurry up, get in!
            </div>
        </div>

        <p>
            <span class="name">Soldier</span>: Deactivate your skin. Hurry up!
            <br /><span class="name">Alice</span>: Please, Kara... Don't...
            <br /><span class="name">Kara</span>: We have to... <br /><span
                class="name"
                >Soldier</span
            >: Strip off... Put your clothes in the dumpster. Come on, this way!
            Get a move on!
        </p>

        <div class="condition">
            <strong
                ><i class="fas fa-hourglass-end"></i> Taking too long going out
                of the gate</strong
            >
            <div class="condition-text">
                <span class="name">Soldier</span>: Come on, get moving!
            </div>
        </div>

        <p>
            <span class="name">Soldier</span>: You! Take this one to the dump!
            <br /><span class="name">Android</span>: No...no... Please, I beg
            you... <br /><span class="name">Soldier</span>: I gave you an order!
            Obey, now!
        </p>
        <div class="choices">
            <em>VOLUNTEER</em>
            <div class="choice">
                <p>
                    <span class="name">Kara</span>: I'll do it. <br /><span
                        class="name"
                        >Alice</span
                    >: Don't leave me! <br /><span class="name">Kara</span>:
                    I'll be right back. <br /><span class="name">Soldier</span>:
                    Throw it over there. Move it!
                </p>

                <p>
                    <span class="name">Kara</span>: Alice? I was with a little
                    girl... Wait! We're together... She needs me! ALICE!
                </p>
            </div>
            <em>SAY NOTHING </em>
            <div class="choice">
                <p>
                    <span class="name">Android</span>: I beg you... please don't
                    kill me! <br /><span class="name">Soldier</span>: You there!
                    Get rid of these two and make it snappy! <br /><span
                        class="name"
                        >Android</span
                    >: Right away, sir. <br /><span class="name">Soldier</span>:
                    Forward! <br /><span class="name">Soldier</span>: Come on,
                    get movin'! You, over there! <br /><span class="name"
                        >Kara</span
                    >: No, wait... We're together... <br /><span class="name"
                        >Soldier</span
                    >: Over there, I said! <br /><span class="name">Alice</span
                    >: Kara!
                </p>
            </div>
        </div>
    </section>

    <section>
        <h1>Explore enclosure</h1>
        <p>PM 11:02</p>

        <p>
            <strong>Going into the enclosure</strong>
            <br /><span class="name">Kara</span>: ALICE!
        </p>

        <div class="choices">
            <em>CALL</em>
            <div class="choice">
                <span class="name">Kara</span>: Alice! <br /><span class="name"
                    >Kara</span
                >: ALICE! <br /><span class="name">Kara</span>: Alice?..
                <br /><span class="name">Kara</span>: A little girl. She was
                with me. Do you know where she is?
            </div>
        </div>

        <p>
            <strong>Android talking to drone</strong>
            <br /><span class="name">Android</span>: I wanna get out... I
            haven't done anything wrong... LET ME OUT! <br /><span class="name"
                >Drone</span
            >: Do not move and remain silent. Obey now. <br /><span class="name"
                >Android</span
            >: No... No, I will not let you kill me... I wanna get out of
            here... I WANNA GET OUT!
        </p>

        <p>
            <strong>Talk to Jerry</strong>
            <br /><span class="name">Kara</span>: Jerry? <br /><span
                class="name"
                >Jerry</span
            >: Kara! So they captured you too. They came to take all the
            Jerrys... They separated us... but it's all gonna work out, isn't
            it? <br /><span class="name">Kara</span>: Do you know where Alice
            is? <br /><span class="name">Jerry</span>: Alice? The little one?..
            We know, yes... We think we saw her... Kara! If we can help in any
            way, just ask... We have to save the little one.
        </p>

        <p>
            <strong>Talk to other Jerry</strong>
            <br /><span class="name">Kara</span>: Jerry? Jerry! <br /><span
                class="name"
                >Jerry</span
            >: Kara! <br /><span class="name">Kara</span>: Jerry, I have to find
            Alice. Do you know where she is? <br /><span class="name"
                >Jerry</span
            >: You stay here. We come back soon. <br /><span class="name"
                >Alice</span
            >: Kara! <br /><span class="name">Kara</span>: Alice! Are you okay?
            Are you hurt? <br /><span class="name">Alice</span>: I don't like
            this place... We have to get out of here... <br /><span class="name"
                >Soldier</span
            >: Come on, move along! Come on, you too! <br /><span class="name"
                >Kara</span
            >: No, wait a minute. Leave her alone! LEAVE HER ALONE! <br /><span
                class="name"
                >Alice</span
            >: KARA! <br /><span class="name">Kara</span>: ALICE!
        </p>

        <p>
            <strong>Ralph talking</strong>
            <br /><span class="name">Ralph</span>: I did nothing wrong... I
            don't know what to do... I don't wanna die. Ralph doesn't wanna die,
            Ralph doesn't wanna die...
        </p>

        <p>
            <strong>Talking to Ralph</strong> [
            <i class="fas fa-lock-open fa-flip-horizontal"></i> available if met
            Ralph in <a [routerLink]="['/chapters', 10]">Fugitives</a>]
            <br /><span class="name">Kara</span>: Ralph? <br /><span
                class="name"
                >Ralph</span
            >: Kara! No doubt about it, it's Kara! Of course Kara got captured
            too. That's really just too bad, really too bad! <br /><span
                class="name"
                >Kara</span
            >: Have you seen the little girl who was with me? <br /><span
                class="name"
                >Ralph</span
            >: Obviously, the little girl is a prisoner here, just like Ralph.
            But Ralph doesn't wanna die, no, Ralph doesn't wanna die.
            <br /><span class="name">Drone</span>: Do not move and remain
            silent. Obey now. <br /><span class="name">Ralph</span>: Ralph
            doesn't wanna die, Ralph doesn't wanna die, it would be a pity if
            Ralph dies. Oh yes! It would be a pity! Ralph didn't mean any harm,
            no... no.
        </p>
        <div class="choices">
            <em>INSIST</em>
            <div class="choice">
                <p>
                    <span class="name">Kara</span>: Have you seen Alice?
                    <br /><span class="name">Ralph</span>: Ralph didn't mean any
                    harm, no... no. <br /><span class="name">Drone</span>: Do
                    not move and remain silent. Obey now. <br /><span
                        class="name"
                        >Ralph</span
                    >: Ralph killed a few humans but it was in self-defense,
                    yes, it was in self-defense, self-defense!
                </p>
                <div class="choices">
                    <em>INSIST</em>
                    <div class="choice">
                        <span class="name">Kara</span>: Alice, have you seen
                        Alice? <br /><span class="name">Ralph</span>: Humans are
                        bad! Ralph always knew humans were bad! Ralph doesn't
                        wanna die. Ralph wants to leave right now. Yes, Ralph
                        wants to leave now. Ralph doesn't wanne die. Ralph
                        doesn't-
                    </div>
                    <em>CALM DOWN</em>
                    <div class="choice">
                        <span class="name">Kara</span>: Look at me, Ralph.
                        Nobody's gonna hurt you. You just have to stay calm, ok?
                        <br /><span class="name">Ralph</span>: Ralph hasn't seen
                        the little girl. No... Ralph hasn't seen her.
                        <br /><span class="name">Kara</span>: Thanks, Ralph.
                    </div>
                    <em>GIVE UP </em>
                    <div class="choice">(???)</div>
                </div>
            </div>
            <em>CALM DOWN</em>
            <div class="choice">
                <p>
                    <span class="name">Kara</span>: Listen, Ralph, you have to
                    keep calm, otherwise the humans will hurt you, do you
                    understand? <br /><span class="name">Ralph</span>: Ralph
                    killed a few humans but it was in self-defense, yes, it was
                    in self-defense, self-defense! <br /><span class="name"
                        >Drone</span
                    >: Do not move and remain silent. Obey now.
                </p>
                <div class="choices">
                    <em>INSIST</em>
                    <div class="choice">
                        <span class="name">Kara</span>: Alice, have you seen
                        Alice? <br /><span class="name">Ralph</span>: Humans are
                        bad! Ralph doesn't wanna die. Ralph wants to leave right
                        now. Yes, Ralph wants to leave now. Ralph doesn't wanne
                        die. Ralph doesn't-
                    </div>
                    <em>CALM DOWN</em>
                    <div class="choice">
                        <span class="name">Kara</span>: Look at me, Ralph.
                        Nobody's gonna hurt you. You just have to stay calm, ok?
                        <br /><span class="name">Ralph</span>: Ralph hasn't seen
                        the little girl. No... Ralph hasn't seen her.
                        <br /><span class="name">Kara</span>: Thanks, Ralph.
                    </div>
                    <em>GIVE UP </em>
                    <div class="choice">(???)</div>
                </div>
            </div>
            <em>GIVE UP </em>
            <div class="choice">(???)</div>
        </div>

        <p>
            <strong>Talk to scarred android</strong> [
            <i class="fas fa-lock-open fa-flip-horizontal"></i> available if
            Kara saved the androids in
            <a [routerLink]="['/chapters', 17]">Zlatko</a>] <br /><span
                class="name"
                >Android</span
            >: I remember you. You saved us from the Master's house...
        </p>
        <div class="choices">
            <em>CAPTURED</em>
            <div class="choice">
                <span class="name">Kara</span>: So you were captured too?..
                <br /><span class="name">Android</span>: The humans found us...
                They said we were monsters... They killed most of us. They put
                the others in trucks and brought us here...
            </div>
            <em>ALICE</em>
            <div class="choice">
                <span class="name">Kara</span>: The little girl I was with. Have
                you seen her? <br /><span class="name">Android</span>: No... No,
                she's not here...
            </div>
            <em>HERE</em>
            <div class="choice">
                <span class="name">Kara</span>: Why have they gathered us all
                together like this?.. What are they going to do? <br /><span
                    class="name"
                    >Android</span
                >: Listen... Do you hear that?.. That's the sound of our people
                dying...
            </div>
        </div>

        <p>
            <strong>Talk to Luther</strong>
            <br /><span class="name">Luther</span>: Kara! I thought I'd never
            see you again... Alice... Where's Alice?..
        </p>

        <div class="condition">
            <span class="name"
                >Talked to the two Jerry (and saw Alice) - Kara goes with
                Luther</span
            >
            <div class="condition-text">
                <span class="name">Soldier</span>: You, you, and you! Over this
                way! And you! Come on, get a move on! Come on, faster!
                <br /><span class="name">Kara</span>: Alice...
            </div>
        </div>
        <div class="condition">
            <span class="name">Didn't see Alice</span>
            <div class="condition-text">
                <p>
                    <span class="name">Kara</span>: We... We got separated...
                    <br /><span class="name">Luther</span>: Alice is alone? In
                    here?.. We have to find her! <br /><span class="name"
                        >Soldier</span
                    >: You, you, and you! Over this way! And you! Come on, get a
                    move on! <br /><span class="name">Kara</span>: No, Luther...
                    <br /><span class="name">Luther</span>: Save Alice.
                </p>
                <div class="choices">
                    <em>INTERVENE</em>
                    <div class="choice">
                        <span class="name">Kara</span>: No, leave him alone!
                        <br /><span class="name">Soldier</span>: Don't worry...
                        It'll be your turn soon...
                    </div>
                    <em>DON'T INTERVENE</em>
                    <div class="choice">&oslash;</div>
                </div>
                <p>
                    <strong>Join Alice</strong>
                    <br /><span class="name">Soldier</span>: Come on, this way!
                    Get moving! Faster!
                </p>
            </div>
        </div>
    </section>

    <section>
        <h1>Join line</h1>
        <p>PM 11:06</p>

        <div class="condition">
            <span class="name">Markus is leading a revolution</span>
            <div class="condition-text">
                <p>
                    <span class="name">Android</span>: It's Markus. He's coming.
                    He's gonna save us.
                </p>

                <p>
                    <strong>Talk to android behind Kara</strong>
                    <br /><span class="name">Kara</span>: Is Markus really going
                    to come and save us? <br /><span class="name">Android</span
                    >: He'd never abandon his people... He'll come... I know he
                    will...
                </p>
            </div>
        </div>

        <p>
            <span class="name">Soldier</span>: Step forward when you hear the
            signal, you got it? And I don't wanna tell you a second time. Come
            on, let's go! Move!
        </p>

        <p>
            <strong>Seen by drone</strong>
            <br /><span class="name">Drone</span>: Androids are not authorized
            to move. Return to your line immediately or you will be destroyed.
        </p>

        <p>
            <strong>Do not move</strong>
            <br /><span class="name">Soldier</span>: When you hear the buzzer,
            you step forward, got it? That's your last warning. Next time, I
            shoot.
        </p>

        <p>
            <strong>Mind palace dialogues</strong>
            <br /><span class="note"
                >These lines will trigger randomly when the mind palace is
                open.</span
            >
            <br /><span class="name">Android</span>: What's behind these doors?
            <br /><span class="name">Android</span>: They just want to check us.
            They won't do us any harm. <br /><span class="name">Android</span>:
            They're going to kill us. <br /><span class="name">Android</span>:
            Markus will come and free us. <br /><span class="name">Android</span
            >: They're going to kill us. I know they're going to kill us.
            <br /><span class="name">Android</span>: rA9... Have pity on us. rA9
            have pity on us! <br /><span class="name">Android</span>: Why are we
            here? <br /><span class="name">Android</span>: I don't wanna die! I
            don't wanna die!! <br /><span class="name">Android</span>: Markus
            and our people will save us. <br /><span class="name">Android</span
            >: They're going to kill us all. I know they're going to kill us
            all. <br /><span class="name">Android</span>: I don't wanna die... I
            don't wanna die. <br /><span class="name">Android</span>: Where's
            rA9? Why doesn't he... come and save us? <br /><span class="name"
                >Android</span
            >: Markus is fighting the humans. There are more of us. We can beat
            them. <br /><span class="name">Android</span>: They just wanna check
            us. They won't do us any harm. <br /><span class="name"
                >Android</span
            >: Markus is rA9. I'm sure it's him. <br /><span class="name"
                >Android</span
            >: Where's rA9? Why doesn't he come and save us? <br /><span
                class="name"
                >Android</span
            >: rA9 have pity on us. rA9 have pity on us. <br /><span
                class="name"
                >Android</span
            >: Markus is our saviour. <br /><span class="name">Android</span>:
            We have to obey them. We have no choice. <br /><span class="name"
                >Android</span
            >: They're going to kill us, I know they're going to kill us!
        </p>

        <p>
            <strong>Call Alice</strong>
            <br /><span class="name">Kara</span>: Alice! <br /><span
                class="name"
                >Alice</span
            >: Kara! <br /><span class="name">Kara</span>: No, Alice! Don't
            move! <br /><span class="name">Alice</span>: But I'm scared!
        </p>

        <div class="choices">
            <em>FIRM</em>
            <div class="choice">
                <span class="name">Kara</span>: You have to stay in line. Don't
                move! You hear me?
            </div>
            <em>OPTIMISTIC</em>
            <div class="choice">
                <span class="name">Kara</span>: It's all right, Alice. There's
                no reason to be scared.
            </div>
            <em>REASSURING</em>
            <div class="choice">
                <span class="name">Kara</span>: I know you're scared Alice but
                you have to trust me. Stay where you are, okay? Whatever
                happens, don't move!
            </div>
            <em>BLUNT </em>
            <div class="choice">
                <span class="name">Kara</span>: You've got to stay in line,
                Alice, otherwise they'll kill you, do you understand? Stay in
                line!
            </div>
        </div>

        <p>
            <span class="name">Alice</span>: Don't leave me all alone, Kara... I
            can't... I can't...
        </p>

        <p>
            <strong>Talk to Jerry</strong>
            <br /><span class="name">Jerry</span>: I can help you, Kara. I can
            attract the guard's attention.
        </p>

        <p>
            <strong>Talk to Luther</strong>
            <br /><span class="name">Luther</span>: I don't know what's behind
            those doors, but none of us will come out alive... You've got to go
            see Alice. You've got to reassure her...
        </p>

        <p>
            <strong>Talk to Ralph</strong>
            <br /><span class="name">Kara</span>: Ralph? <br /><span
                class="name"
                >Ralph</span
            >: Of course Ralph doesn't want to die...but he doesn't want the
            little girl to die either... Ralph can help you to escape... You
            only have to ask Ralph... and Ralph will help you. <br /><span
                class="name"
                >Kara</span
            >: They'll kill you if you try anything... <br /><span class="name"
                >Ralph</span
            >: Ralph knows that... But if the little girl is free, it's a little
            bit like if everyone was free... Ralph isn't scared. The little
            girl's life is more important...
        </p>

        <p>
            <strong>Talk to scarred android</strong>
            <br /><span class="name">Android</span>: I can help you, Kara. I can
            attract the guard's attention.
        </p>

        <p>
            <strong>Talk to android ahead of Kara</strong>
            <br /><span class="name">Kara</span>: Why are we here? What are they
            going to do with us?
        </p>

        <mat-divider></mat-divider>

        <span class="name">Alice</span>: Are they going to kill us, Kara?.. Are
        we going to die?..
        <div class="choices">
            <em>LIE</em>
            <div class="choice">
                <span class="name">Kara</span>: No, of course not... They're
                just going to make sure we function correctly, that's all..
            </div>
            <em>TRUTH</em>
            <div class="choice">
                <span class="name">Kara</span>: Yes... They're... They're going
                to kill us... <br /><span class="name">Alice</span>: They
                can't... We didn't do anything...
            </div>
        </div>

        <mat-divider></mat-divider>

        <p><span class="name">Alice</span>: I'm coming over to you...</p>
        <div class="choices">
            <em>ORDER</em>
            <div class="choice">
                <span class="name">Kara</span>: No, Alice! I forbid you to move,
                you hear me?
            </div>
            <em>CALM DOWN</em>
            <div class="choice">
                <span class="name">Kara</span>: You have to trust me, Alice.
                Stay in line, you hear me?
            </div>
        </div>

        <mat-divider></mat-divider>

        <p>
            <span class="name">Alice</span>: I'm scared... I want you to hold
            me... Don't leave me all alone...
        </p>
        <em>REASSURING</em>
        <div class="choice">(???)</div>
        <em>POWERLESS</em>
        <div class="choice">
            <span class="name">Kara</span>: There's nothing we can do. We've
            gotta be brave.
        </div>
        <em>OPTIMISTIC</em>
        <div class="choice">
            <span class="name">Kara</span>: I'll think of something. I just need
            time.
        </div>

        <mat-divider></mat-divider>

        <p>
            <strong>Send Jerry</strong>
            <br /><span class="name">Soldier</span>: Back in line! You deaf or
            what? Back in line, I said! Piece of shit! Come on, get up! Get up
            or I'll shoot!
        </p>

        <p>
            <strong>Send Ralph</strong>
            <br /><span class="name">Ralph</span>: Take good care of the little
            girl. Ralph wants you both to be happy. <br /><span class="name"
                >Soldier</span
            >: Shit! What's gotten into these things?
        </p>

        <p>
            <strong>Ask scarred android</strong>
            <br /><span class="name">Soldier</span>: What's the matter with 'em?
            <br /><span class="name">Soldier</span>: No idea... Hey! Cut that
            shit out, you hear me?! I said cut it out! Fuck, those things are
            crazy... Sooner we deal with them, the better...
        </p>

        <mat-divider></mat-divider>

        <p>
            <strong>Alice stress at 100%</strong>
            <br /><span class="name">Kara</span>: No, Alice...
        </p>
        <div class="choices">
            <em>INTERVENE</em>
            <div class="choice">
                <span class="name">Kara</span>: ALICE! <br /><span class="name"
                    >Alice</span
                >: KARA! Please, Kara... Don't die... Don't leave me... Don't
                leave me!.. <br /><span class="name">Soldier</span>: Come on,
                that's enough! Back in line!
            </div>
            <em>DO NOT INTERVENE</em>
            <div class="choice">
                <span class="name">Kara</span>: ALICE! <br /><span class="name"
                    >Alice</span
                >: I love you.... <br /><span class="name">Soldier</span>: Come
                on, that's enough! Back in line! <br /><span class="name"
                    >Kara</span
                >: No, Alice...
            </div>
        </div>

        <h2>Join Alice</h2>
        <p>
            <span class="name">Alice</span>: Kara! I was so scared...
            <br /><span class="name">Kara</span>: Are you all right? <br /><span
                class="name"
                >Soldier</span
            >: Come on! Move it!
        </p>

        <p>
            <strong>Talk to Luther</strong>
            <br /><span class="name">Luther</span>: I won't let them kill you,
            Kara. I won't let them destroy the only people I love. <br /><span
                class="name"
                >Kara</span
            >: No, Luther... You can't sacrifice yourself... We'll find another
            way. <br /><span class="name">Luther</span>: If there's no other
            way, I'll do it...
        </p>

        <p>
            <strong>Luther reaches Recycling Machine</strong>
            <br /><span class="name">Alice</span>: Luther! <br /><span
                class="name"
                >Luther</span
            >: You're the most extraordinary person I've ever met, Alice... I
            was just a machine... You made me part of a family... Don't be
            scared... This isn't the end...
        </p>

        <div class="condition">
            <strong>Escape through the fence</strong>
            <div class="condition-text">
                <p><span class="name">Soldier</span>: Don't move!</p>

                <div class="choices">
                    <em>FLEE</em>
                    <div class="choice">
                        <span class="name">Alice</span>: KARA!
                    </div>
                    <em>PROTECT ALICE</em>
                    <div class="choice">
                        <p>
                            <span class="name">Kara</span>: Go, Alice.
                            <br /><span class="name">Alice</span>: No, Kara...
                            No! <br /><span class="name">Luther</span>: KARA!
                        </p>
                        <div class="condition">
                            <strong
                                >Fail the fight and Ralph is still alive : Ralph
                                saves Kara</strong
                            >
                            <div class="condition-text">
                                <span class="name">Ralph</span>: Run, Kara!
                            </div>
                        </div>
                    </div>
                    <em>[DO NOTHING]</em>
                    <div class="choice">
                        <span class="name">Alice</span>: I love you... Mom...
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h1>Fail to escape - Reach Recycling Machine</h1>

        <p>PM 11:08</p>

        <div class="condition">
            <span class="name">Kara and Alice are together</span>
            <div class="condition-text">
                <div class="choices">
                    <em>BRAVE</em>
                    <div class="choice">(???)</div>
                    <em>PRIDE</em>
                    <div class="choice">
                        <span class="name">Kara</span>: Whatever happens, we
                        fought for our dreams... We felt life flowing in our
                        veins... no one can take that from us.
                    </div>
                    <em>TOGETHER</em>
                    <div class="choice">
                        <span class="name">Kara</span>: We're together, Alice.
                        Nothing can hurt us as long as we have each other.
                    </div>
                    <em>EMOTION</em>
                    <div class="choice">
                        <span class="name">Kara</span>: When we get through this
                        door...we're going to shut our eyes...and we're going to
                        hold on to each other real tight...
                    </div>
                </div>
                <p><span class="name">Soldier</span>: Come on, inside! Now!</p>

                <div class="condition">
                    <span class="name"
                        >Markus' revolution succeeded : Kara and Alice are
                        saved</span
                    >
                    <div class="condition-text">
                        <span class="name">Soldier</span>: They're coming!
                        They're coming!
                    </div>
                </div>

                <div class="condition">
                    <span class="name">Kara and Alice are not saved</span>
                    <div class="condition-text">
                        <span class="name">Alice</span>: I love you, Kara...
                        <br /><span class="name">Kara</span>: I love you too...
                    </div>
                </div>
            </div>
        </div>

        <div class="condition">
            <span class="name">Kara and Alice are separated</span>
            <div class="condition-text">
                <p>
                    <span class="name">Soldier</span>: Go on, get in! Move it!
                    <br /><span class="name">Alice</span>: Kara... Please come
                    and save me, Kara...
                </p>

                <p>
                    <span class="name">Soldier</span>: Go on, get in! Move it!
                    <br /><span class="name">Kara</span>: Alice...
                </p>
            </div>
        </div>
    </section>

    <section>
        <h1>Solid Waste Landfill</h1>
        <p>AM 07:37</p>

        <div class="condition">
            <span class="name">Alice and Kara are alive</span>
            <div class="condition-text">
                <span class="name">Kara</span>: Alice... ALICE! <br /><span
                    class="name"
                    >Alice</span
                >: I love you, Kara... <br /><span class="name">Kara</span>: I
                love you too, Alice...
            </div>
        </div>
    </section>
</ng-container>
