<ng-container *transloco="let t">
	<section>
		<h1 id="jericho">In Jericho</h1>

		<p>
			{{ t("GUI.MENU.DATE.06M") }}
			<br />

			{{ t("GUI.MENU.TIME.06M") }}
		</p>

		<p>
			<app-dialogue-line name="Markus">
				{{ t("X0503M.JERICHO.ENCOUNTER.PC.X05MMARKUS.WELCOME") }}
			</app-dialogue-line>
			<app-dialogue-line name="Josh">
				{{
					translationService.translateObject(
						"X0503M.JERICHO.ENCOUNTER.PC.X05MJOSH.WELCOME"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Simon">
				{{ t("X0503M.JERICHO.ENCOUNTER.PC.X05MSIMON.WELCOME.2") }}
			</app-dialogue-line>
			<app-dialogue-line name="North">
				{{ t("X0503M.JERICHO.ENCOUNTER.PC.X05MMARLA.WELCOME") }}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0503M.JERICHO.ENCOUNTER.PC.CHOICE01.TRAIL')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							t("X0503M.JERICHO.ENCOUNTER.PC.X05MMARKUS.01TRAIL")
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Josh">
						{{ t("X0503M.JERICHO.ENCOUNTER.PC.X05MJOSH.01TRAIL") }}
					</app-dialogue-line>
					<app-dialogue-line name="Simon">
						{{ t("X0503M.JERICHO.ENCOUNTER.PC.X05MSIMON.01TRAIL") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0503M.JERICHO.ENCOUNTER.PC.CHOICE01.ANDROID')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							t(
								"X0503M.JERICHO.ENCOUNTER.PC.X05MMARKUS.01ANDROID"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="North">
						{{
							translationService.translateObject(
								"X0503M.JERICHO.ENCOUNTER.PC.X05MMARLA.01ANDROID"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Josh">
						{{
							translationService.translateObject(
								"X0503M.JERICHO.ENCOUNTER.PC.X05MJOSH.01ANDROID"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0503M.JERICHO.ENCOUNTER.PC.CHOICE01.JERICHO')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							t(
								"X0503M.JERICHO.ENCOUNTER.PC.X05MMARKUS.01JERICHO"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Josh">
						{{
							t("X0503M.JERICHO.ENCOUNTER.PC.X05MJOSH.01JERICHO")
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0503M.JERICHO.ENCOUNTER.PC.CHOICE01.REFUGE')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							t("X0503M.JERICHO.ENCOUNTER.PC.X05MMARKUS.01REFUGE")
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Josh">
						{{
							translationService.translateObject(
								"X0503M.JERICHO.ENCOUNTER.PC.X05MJOSH.01REFUGE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0503M.JERICHO.ENCOUNTER.PC.CHOICE01.FREE')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{ t("X0503M.JERICHO.ENCOUNTER.PC.X05MMARKUS.01FREE") }}
					</app-dialogue-line>
					<app-dialogue-line name="Josh">
						{{
							translationService.translateObject(
								"X0503M.JERICHO.ENCOUNTER.PC.X05MJOSH.01FREE"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="North">
						{{
							translationService.translateObject(
								"X0503M.JERICHO.ENCOUNTER.PC.X05MMARLA.01FREE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<p>
			<app-dialogue-line name="Josh">
				{{
					translationService.translateObject(
						"X0503M.JERICHO.ENCOUNTER.PC.X05MJOSH.DISILLUSIONED"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0503M.JERICHO.ENCOUNTER.PC.CHOICE02.LOST')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0503M.JERICHO.ENCOUNTER.PC.X05MMARKUS.02LOST"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0503M.JERICHO.ENCOUNTER.PC.CHOICE02.SOMBER')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0503M.JERICHO.ENCOUNTER.PC.X05MMARKUS.02SOMBER"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0503M.JERICHO.ENCOUNTER.PC.CHOICE02.LUCID')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0503M.JERICHO.ENCOUNTER.PC.X05MMARKUS.02LUCID"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0503M.JERICHO.ENCOUNTER.PC.CHOICE02.DIRECT')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X0503M.JERICHO.ENCOUNTER.PC.X05MMARKUS.02DIRECT"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<p>
			<app-dialogue-line name="Simon">
				{{
					translationService.translateObject(
						"X0503M.JERICHO.ENCOUNTER.PC.X05MSIMON.CONT"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Josh">
				{{
					translationService.translateObject(
						"X0503M.JERICHO.ENCOUNTER.PC.X05MJOSH.CONT"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="North">
				{{
					translationService.translateObject(
						"X0503M.JERICHO.ENCOUNTER.PC.X05MMARLA.CONT"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<h1 id="explore">Exploring Jericho</h1>

		<section>
			<h2 id="talk-josh">Talking with Josh</h2>
			<p>
				<app-relation
					[name]="RelationName.Josh"
					[type]="RelationType.SmallUp"
				></app-relation>
				<app-dialogue-line name="Josh">
					{{
						translationService.translateObject(
							"X0601M.INTRO.POORKID.PC.X06MJOSH.POORKIDJOSH01"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X0601M.INTRO.POORKID.PC.X06MMARKUS.POORKID01") }}
				</app-dialogue-line>
				<app-dialogue-line name="Josh">
					{{
						translationService.translateObject(
							"X0601M.INTRO.POORKID.PC.X06MJOSH.POORKIDJOSH02"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X0601M.INTRO.POORKID.PC.X06MMARKUS.POORKID02") }}
				</app-dialogue-line>
				<app-dialogue-line name="Josh">
					{{
						translationService.translateObject(
							"X0601M.INTRO.POORKID.PC.X06MJOSH.POORKIDJOSH03"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2 id="talk-north">Talking with North</h2>
			<p>
				<app-relation
					[name]="RelationName.North"
					[type]="RelationType.SmallUp"
				></app-relation>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0601M.INTRO.NORTH.PC.CHOICE.HOWLONG')"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{ t("X0601M.INTRO.NORTH.PC.X05MMARKUS.HOWLONG") }}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0601M.INTRO.NORTH.PC.X05MMARLA.HOWLONG"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0601M.INTRO.NORTH.PC.CHOICE.WOUNDED')"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{ t("X0601M.INTRO.NORTH.PC.X05MMARKUS.WOUNDED") }}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0601M.INTRO.NORTH.PC.X05MMARLA.WOUNDED"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0601M.INTRO.NORTH.PC.CHOICE.JERICHO')"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{ t("X0601M.INTRO.NORTH.PC.X05MMARKUS.JERICHO") }}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0601M.INTRO.NORTH.PC.X05MMARLA.JERICHO"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0601M.INTRO.NORTH.PC.CHOICE.YOU')"
				>
					<p>
						<app-relation
							[name]="RelationName.North"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{ t("X0601M.INTRO.NORTH.PC.X05MMARKUS.YOU") }}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{ t("X0601M.INTRO.NORTH.PC.X05MMARLA.YOU") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0601M.INTRO.NORTH.PC.CHOICE.SPAREPARTS')"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								t("X0601M.INTRO.NORTH.PC.X05MMARKUS.SPAREPARTS")
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0601M.INTRO.NORTH.PC.X05MMARLA.SPAREPARTS"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="North">
					{{ t("X0601M.INTRO.NORTH.PC.X05MMARLA.CONT") }}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2 id="talk-lucy">Talking with Lucy</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{ t("X0601M.INTRO.MEETLUCY.FA.X06MMARKUS.LUCYM") }}
				</app-dialogue-line>
				<app-dialogue-line name="Lucy">
					{{ t("X0601M.INTRO.MEETLUCY.PC.X06MANDROIDLUCY.LUCY") }}
					{{ t("X0601M.INTRO.MEETLUCY.PC.X06MANDROIDLUCY.SHOWME") }}
				</app-dialogue-line>
			</p>
			<app-unused-content>
				<p>
					<app-dialogue-line name="Lucy">
						{{
							t(
								"X0601M.INTRO.MEETLUCY.PC.X06MANDROIDLUCY.LOTOFBLOOD01.1"
							)
						}}
					</app-dialogue-line>
				</p>
			</app-unused-content>
			<p>
				<app-dialogue-line name="Lucy">
					{{
						t(
							"X0601M.INTRO.MEETLUCY.PC.X06MANDROIDLUCY.LOTOFBLOOD01.2"
						)
					}}
					{{
						t(
							"X0601M.INTRO.MEETLUCY.PC.X06MANDROIDLUCY.LOTOFBLOOD02.1"
						)
					}}
				</app-dialogue-line>
			</p>
			<app-unused-content>
				<p>
					<app-dialogue-line name="Lucy">
						{{
							t(
								"X0601M.INTRO.MEETLUCY.PC.X06MANDROIDLUCY.LOTOFBLOOD02.2"
							)
						}}
					</app-dialogue-line>
				</p>
			</app-unused-content>
			<p>
				<app-dialogue-line name="Lucy">
					{{ t("X0601M.INTRO.MEETLUCY.PC.X06MANDROIDLUCY.PYTHIE01") }}
					{{
						translationService.translateObject(
							"X0601M.INTRO.MEETLUCY.PC.X06MANDROIDLUCY.PYTHIE02"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2 id="talk-damaged">Talking with damaged android (sitting)</h2>
			<p>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0601M.INTRO.HELP.PC.X06MANDROIDMANHURT.HELP",
							0,
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X0601M.INTRO.HELP.FA.X06MMARKUS.HELPM") }}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0601M.INTRO.HELP.PC.X06MANDROIDMANHURT.HELP",
							3
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2 id="talk-fire">Talking with damaged android (near fire)</h2>
			<p>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0601M.INTRO.DYINGWOMAN.FA.X06MANDROIDWOMDYING.DYINGW",
							0,
							2
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0601M.INTRO.DYINGWOMAN.PC.X06MMARKUS.DYING"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0601M.INTRO.DYINGWOMAN.FA.X06MANDROIDWOMDYING.DYINGW",
							2,
							4
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X0601M.INTRO.DYINGWOMAN.PC.X06MMARKUS.DYINGNAME") }}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{
						t(
							"X0601M.INTRO.DYINGWOMAN.FA.X06MANDROIDWOMDYING.DYINGW.5"
						)
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2 id="talk-simon">Finished exploring - Talking with Simon</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0601M.INTRO.TIMETODECIDE.PC.X06MMARKUS.TIMETODECIDE",
							0,
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Simon">
					{{
						translationService.translateObject(
							"X0601M.INTRO.TIMETODECIDE.PC.X06MSIMON.TIMETODECIDE",
							0,
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{
						t(
							"X0601M.INTRO.TIMETODECIDE.PC.X06MMARKUS.TIMETODECIDE.4"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Josh">
					{{
						translationService.translateObject(
							"X0601M.INTRO.TIMETODECIDE.PC.X06MJOSH.TIMETODECIDE",
							0,
							2
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{
						t(
							"X0601M.INTRO.TIMETODECIDE.PC.X06MMARKUS.TIMETODECIDE.5"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Josh">
					{{
						t(
							"X0601M.INTRO.TIMETODECIDE.PC.X06MJOSH.TIMETODECIDE.3"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{
						translationService.translateObject(
							"X0601M.INTRO.TIMETODECIDE.PC.X06MMARKUS.TIMETODECIDE",
							5
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{
						t("X0601M.INTRO.TIMETODECIDE.PC.X06MMARLA.TIMETODECIDE")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Simon">
					{{
						t(
							"X0601M.INTRO.TIMETODECIDE.PC.X06MSIMON.TIMETODECIDE.4"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Josh">
					{{
						translationService.translateObject(
							"X0601M.INTRO.TIMETODECIDE.PC.X06MJOSH.TIMETODECIDE",
							3
						) | async
					}}
				</app-dialogue-line>
				<app-relation
					[name]="RelationName.North"
					[type]="RelationType.SmallUp"
				></app-relation>
				<app-relation
					[name]="RelationName.Simon"
					[type]="RelationType.SmallUp"
				></app-relation>
			</p>
		</section>
	</section>
</ng-container>
