<section>
    <p>
        NOV 6TH, 2038
        <br />PM 07:45
    </p>

    <h1>At Zlatko's house</h1>

    <p>
        <span class="name">Kara</span>: You gonna be okay? We'll get some help
        here. Soon, this will all be just a bad memory. This is the place...
    </p>

    <p>
        <span class="name">Kara</span>: Are you Zlatko? <br /><span class="name"
            >Zlatko</span
        >: Who's asking? <br /><span class="name">Kara</span>: I was told you
        could help us... <br /><span class="name">Zlatko</span>: I don't know
        who told you that. You came to the wrong place. I'm sorry. <br /><span
            class="name"
            >Kara</span
        >: Wait! We really need your help... <br /><span class="name"
            >Zlatko</span
        >: Come in. Come on in, don't be shy! Luther, would you be so kind as to
        take these ladies' coats? Oh, don't be afraid of our big friend here.
        Luther is just another android that I helped. He keeps me company in
        this big, empty, old house... Please, make yourselves at home. How did
        you hear about me? <br /><span class="name">Kara</span>: An android...on
        the street, he said you could help us... <br /><span class="name"
            >Zlatko</span
        >: I see... Deviant, huh?.. What about her? <br /><span class="name"
            >Kara</span
        >: She's human. <br /><span class="name">Zlatko</span>: And... You wanna
        find a safe place. Somewhere where you can start a new life. I hear
        Canada is very lovely at this time of year. Beautiful landscapes, open
        spaces, clean air... and no android laws! Great place for a fresh
        start... <br /><span class="name">Kara</span>: Yes, that's...that's
        exactly what we want... <br /><span class="name">Zlatko</span>: Of
        course! I can help you. But first we have to get rid of your Tracker.
        <br /><span class="name">Kara</span>: Tracker? <br /><span class="name"
            >Zlatko</span
        >: Yeah, all androids are fitted with a tracking device to locate them
        at all times. I'll remove yours and then you'll both be safe. Come on,
        follow me. Ah, the little one can wait for us in the living room.
        <br /><span class="name">Kara</span>: No, she always stays with me.
        <br /><span class="name">Zlatko</span>: Of course. Right this way...
        Everything we need is in the basement... <br /><span class="name"
            >Alice</span
        >: I don't like this place, and that man. Let's go, I have a bad
        feeling...
    </p>

    <div class="choices">
        <em>CAREFUL</em>
        <div class="choice">
            <span class="name">Kara</span>: I know. I don't trust him either. We
            have to be carefuL...
        </div>
        <em>REASSURE</em>
        <div class="choice">
            <span class="name">Kara</span>: It'll be okay, Alice. He's going to
            remove my Tracker and then we can start over again in Canada. You
            want that too, right?
        </div>
        <em>COMFORT</em>
        <div class="choice">
            <span class="name">Kara</span>: He's a bit odd... but I think we can
            trust him. We don't have much of a choice anyway.
        </div>
        <em>NO CHOICE </em>
        <div class="choice">
            <span class="name">Kara</span>: Alice, we have nowhere else to go...
            We have to trust him.
        </div>
    </div>

    <p>
        <span class="name">Zlatko</span>: Please, excuse the mess... I needed
        somewhere discreet for my machines... Removing trackers is illegal, so I
        opted for discretion over comfort... I hope the little one isn't too
        scared... <br /><span class="name">Kara</span>: No... No, she'll be all
        right... <br /><span class="name">Zlatko</span>: That's good... If you
        could just stand over there. I should warn you, this could be quite
        unpleasant...
    </p>

    <p>
        <span class="name">Zlatko</span>: You know what's strange? For some
        unknown reason, the trackers seem to stop working in deviants... That's
        why it's so hard to find them... So, actually there's no reason to
        remove your tracker... <br /><span class="name">Kara</span>: What? But
        you said that- <br /><span class="name">Zlatko</span>: Yeah, people
        believe what they want. You deviants are so naive. They all come to me,
        expecting me to help them. And I just reset them, sell them on. Or I
        keep them for my little experiments... <br /><span class="name"
            >Kara</span
        >: No! No! I don't wanna be reset! Let me go! <br /><span class="name"
            >Alice</span
        >: KARA! <br /><span class="name">Zlatko</span>: Ah, I forgot about
        the...child... Um, lock it up, I'll deal with it later. <br /><span
            class="name"
            >Kara</span
        >: ALICE! ALICE! NO! <br /><span class="name">Zlatko</span>: Wow! A
        deviant that wants to be a mother... That's... that's so sweet! And so
        deluded... I think it's time we put you outta your misery. That's what
        you get for having a dream... It always ends up the same way... Tears
        and disillusionment... Believe me, you're better off being erased and
        feeling nothing... No more pain... No more hopes dashed... I almost envy
        you. <br /><span class="name">Alice</span>: Kara! <br /><span
            class="name"
            >Zlatko</span
        >: Oh, poor little Alice. Aw! Looks like Mommy doesn't remember you at
        all, huh? Looks like Mommy's completely forgotten you! <br /><span
            class="name"
            >Alice</span
        >: Kara, what happened to you? <br /><span class="name">Zlatko</span>:
        Alright, that's enough, come on. You bit me! I'm gonna teach you some
        manners, you little bitch... <br /><span class="name">Alice</span>:
        Kara! Wake up, Kara! <br /><span class="name">Luther</span>: Meet me in
        the living room.
    </p>

    <mat-divider></mat-divider>

    <p>
        <strong>Looking at the cell</strong>
        <br /><span class="name">Android</span>: Help us...
    </p>

    <p>
        <strong>Opening the cells</strong>
    </p>
    <div class="condition">
        <span class="name">Kara was reset</span>
        <div class="condition-text">
            <p>
                <span class="name">Android 2</span>: He erased her memory...
                <br /><span class="name">Android 1</span>: No... This can't be
                happening... <br /><span class="name">Android 2</span>: You have
                to remember, for her sake... <br /><span class="name"
                    >Android 3</span
                >: He likes to play with us... Creating monsters...for his
                amusement... But who's the real monster? Look what he did to
                us... <br /><span class="name">Android 3</span>: You must
                remember who you are... otherwise the little one will die...
            </p>
        </div>
    </div>
    <div class="condition">
        <span class="name">Kara wasn't reset</span>
        <div class="condition-text">
            <span class="name">Android 1</span>: No... This can't be
            happening... <br /><span class="name">Android 3</span>: He likes to
            play with us... Creating monsters...for his amusement... But who's
            the real monster? Look what he did to us...
        </div>
    </div>

    <h2>Kara was reset</h2>

    <p>
        <strong>Go see Luther</strong>
        <br /><span class="name">Luther</span>: Master's dinner's ready. Take it
        up to him. <br /><span class="name">Kara</span>: Yes, Luther.
    </p>

    <p>
        <strong>Bring the tray to Zlatko</strong>
        <br /><span class="name">Zlatko</span>: Uh, just set it down on the
        table over there. Get rid of that carcass. Uh, take it next door. Did
        you hear what I said? <br /><span class="name">Kara</span>: Yes, Zlatko.
        <br /><span class="name">Zlatko</span>: Luther! Luther! <br /><span
            class="name"
            >Luther</span
        >: Yes, Zlatko. <br /><span class="name">Zlatko</span>: I should be done
        here in ten minutes or so. I'll have a look at the little one, see what
        I can do with her. <br /><span class="name">Luther</span>: Understood,
        Zlatko. I'll bring you the little one in 10 minutes.
    </p>

    <p>
        <strong>Recollect enough memories</strong>
        <br /><span class="name">Kara</span>: Alice...
    </p>

    <p>
        <strong><i class="fas fa-hourglass-end"></i> Lose too much time</strong>
        <br /><span class="name">Luther</span>: Here's the little one, Zlatko.
        <br /><span class="name">Zlatko</span>: Alright... Let's see what we can
        do with you... <br /><span class="name">Alice</span>: Kara! Save me,
        Kara! Please save me! <br /><span class="name">Zlatko</span>: Oh, will
        you shut up?! <br /><span class="name">Alice</span>: Kara! <br /><span
            class="name"
            >Zlatko</span
        >: Come on! <br /><span class="name">Alice</span>: KARA!
    </p>

    <h2>Kara wasn't reset - Search house for Alice</h2>
    <p>
        <span class="name">Zlatko</span>: Luther! Luther! <br /><span
            class="name"
            >Luther</span
        >: Yes, Zlatko. <br /><span class="name">Zlatko</span>: I should be done
        here in ten minutes or so. I'll have a look at the little one, see what
        I can do with her. <br /><span class="name">Luther</span>: Understood,
        Zlatko. I'll bring you the little one in 10 minutes.
    </p>

    <p>
        <strong>Looking at Luther in the hallway</strong>
        <br /><span class="name">Luther</span>: I... I'm sorry...about the
        little one...
    </p>

    <p>
        <strong>See android in bathtub</strong>
        <br /><span class="name">Android</span>: What are you doing here? Has
        the Master authorized you to be here? You must always obey the Master,
        oh yes, you must always obey. You should not be here. You have no
        business here. No, you have no business here. If you have no orders, you
        should go on standby. Oh yes, you must obey. Yes, you must obey, yes.
        You must obey. You should not be here. You should... You should not be
        here unless you have been given orders to be here, and you have not been
        given orders. Oh no, yes, yes, that's for sure, yes. You are an android.
        You are an android. Androids must obey. I must tell the Master, yes. I
        will tell him that's for sure. He must know. Yes, yes. He must know.
        Yes, yes. You are an android. You are an android. Androids must obey.
        You are an android and you disobey, oh yes. You are an android.
    </p>

    <p>
        <strong>Talk to the android in the bathtub</strong>
        <br /><span class="name">Android</span>: What are you doing? You're not
        gonna hurt me? No, no, no, you wouldn't do that...
    </p>

    <div class="choices">
        <em>SHUT DOWN</em>
        <div class="choice">&oslash;</div>
        <em>ALICE</em>
        <div class="choice">
            <span class="name">Kara</span>: I'm looking for a little girl. Have
            you seen her? <br /><span class="name">Android</span>: A little
            girl? No, no, no, I haven't seen her.
        </div>
        <em>DEAL</em>
        <div class="choice">
            <span class="name">Kara</span>: Will you be quiet if I let go?
            <br /><span class="name">Android</span>: Yes, yes, I promise to be
            quiet. Don't turn me off.
        </div>
        <em>SPARE </em>
        <div class="choice">
            <span class="name">Kara</span>: No... No, of course not...
        </div>
    </div>

    <p>
        <strong><i class="fas fa-tv"></i> Watch TV</strong>
    </p>
    <div class="condition">
        <span class="name"
            >Connor ran after Kara in
            <a [routerLink]="['/chapters', 13]">On The Run</a></span
        >
        [
        <span appRelation="small down">Public opinion</span>
        ]
        <div class="condition-text">
            <span class="name">Channel 16 - Michael Webb</span>: Detroit
            residents were disturbed by a surprising chase through the city's
            streets this morning. According to several witnesses, a young woman
            and a little girl were trying to escape from the police, though we
            still don't know why.
        </div>
    </div>

    <div class="condition">
        <span class="name"
            >Kara robbed the supermarket in
            <a [routerLink]="['/chapters', 13]">On The Run</a></span
        >
        [
        <span appRelation="small down">Public opinion</span>
        ]
        <div class="condition-text">
            <span class="name">Channel 16 - Michael Webb</span>: A Detroit
            supermarket was held up at gunpoint last night. The cashier reports
            that he was attacked by an android in the company of a little girl.
        </div>
    </div>

    <p>
        <strong
            ><i class="fas fa-hourglass-end"></i> Don't find Alice in
            time</strong
        >
        <br /><span class="name">Zlatko</span>: I should've dismantled you from
        the start... Time to rectify that mistake... <br /><span class="name"
            >Luther</span
        >: Here's the little one, Zlatko. <br /><span class="name">Zlatko</span
        >: Alright... Let's see what we can do with you... <br /><span
            class="name"
            >Alice</span
        >: Kara! <br /><span class="name">Zlatko</span>: Come on! <br /><span
            class="name"
            >Alice</span
        >: Kara!
    </p>

    <h2>Find Alice</h2>
    <p>
        <span class="name">Kara</span>: Alice... <br /><span class="name"
            >Alice</span
        >: Kara? Kara, you remember me! <br /><span class="name">Kara</span>:
        How could I forget you? I'm so sorry. You were right, we never should
        have come here... We have to go. Follow me and don't make any noise, ok?
    </p>

    <p>
        <span class="name">Zlatko</span>: Luther! <br /><span class="name"
            >Luther</span
        >: Yes, Zlatko. <br /><span class="name">Zlatko</span>: I'm finished
        here. Go fetch the little one. <br /><span class="name">Luther</span>:
        Right away, Zlatko. Zlatko! <br /><span class="name">Zlatko</span>:
        What? <br /><span class="name">Luther</span>: The little one is gone!
        <br /><span class="name">Zlatko</span>: Well, it can't have just
        disappeared. It's gotta be here somewhere! What are you waiting for? Go
        look!
    </p>

    <div class="condition">
        <strong>Set fire to the house</strong>
        <div class="condition-text">
            <span class="name">Kara</span>: We need to hurry, they'll be here
            soon... <br /><span class="name">Zlatko</span>: There's smoke
            everywhere! Luther! There's a fucking fire! Luther! The treacherous
            bitch...
        </div>
    </div>

    <div class="condition">
        <strong>Hide</strong>
        <div class="condition-text">
            <p>
                <strong>Hide in the main room</strong>
                <br /><span class="name">Zlatko</span>: Luther! What the fuck
                are you doing? Come here! <br /><span class="name">Luther</span
                >: Coming! <br /><span class="name">Kara</span>: They're
                searching the house... We've got to get out before they find us.
            </p>

            <p>
                <strong>Hide in the bedroom</strong>
                <br /><span class="name">Zlatko</span>: Shit... Where are they?
                Luther! Find them for fuck's sake! <br /><span class="name"
                    >Zlatko</span
                >: Fucking android... I should've taken it apart the minute I
                set eyes on it... Deviants are nothing but trouble...
            </p>

            <p>
                <strong>Go in the bathroom</strong>
                <br /><span class="name">Android</span>: You're disobeying the
                Master. You're disobeying the Master, I, I, I, I can't let you
                do that. I must warn him. Yes, yes, yes. That's for sure.
                Master. Yes. I must warn him. THEY'RE HERE! THEY'RE HERE! COME
                QUICKLY! COME QUICKLY!
            </p>
            <p>
                <strong>Sneak through the storage room</strong>
                <br /><span class="name">Kara</span>: We can't stop now. We just
                need to be brave, Alice... <br /><span class="name">Zlatko</span
                >: I know you're there, you sneaky bitch... Show yourself. Get a
                flashlight. There's one on the table. Come on, show yourself...
                Look, I'm not gonna hurt you... I only wanna talk with you... I
                know I shouldn't have erased your memory, ok? I regret that
                now... Now just, come on out and everything will be all right,
                I'll help you... Think about that little girl. How... how scared
                she must be...
            </p>
            <p>
                <strong>Get spotted</strong>
                <br /><span class="name">Zlatko</span>: There's no point in
                running! You can't escape from me! <br /><span class="name"
                    >Zlatko</span
                >: Take the other side! Get a move on! <br /><span class="name"
                    >Zlatko</span
                >: They're over there!
            </p>
        </div>
    </div>

    <h2>Outside the house</h2>
    <p>
        <span class="name">Kara</span>: ALICE! GO, ALICE! <br /><span
            class="name"
            >Alice</span
        >: No, I won't leave you! <br /><span class="name">Kara</span>: GO! RUN
        AS FAST AS YOU CAN! <br /><span class="name">Zlatko</span>: I warned
        you! Dreams always end in tears... You should've listened to me... What
        are you doing? Get outta my way! <br /><span class="name">Luther</span>:
        No... Not this time... <br /><span class="name">Zlatko</span>: I said
        get outta my way or I'll shoot right through you... How dare you?!
    </p>

    <div class="condition">
        <span class="name">Freed the androids in the basement</span>
        <div class="condition-text">
            <span class="name">Zlatko</span>: How dare you?! What are you doing
            here? Who let you out? Get away from me! Get away from me! Obey me!
            I'm your Master! I'M YOUR MASTER!
        </div>
    </div>

    <div class="condition">
        <span class="name">Didn't free the androids</span>
        <div class="condition-text">
            <span class="name">Zlatko</span>: I made you! You obey me! I'm your
            Master!
        </div>
    </div>

    <p>
        <span class="name">Luther</span>: I didn't want to hurt you... He
        programmed me to obey him... When I saw the little one risk her life to
        save you, it was like opening my eyes for the first time... Finally, I
        could see... I know you have no reason to trust me after what I did...
        but I know someone who could help you across the border. I could take
        you there. I could protect you... You and the little one... <br /><span
            class="name"
            >Kara</span
        >: All right. I trust you. <br /><span class="name">Kara</span>: I was
        so scared of losing you.
    </p>
</section>
