@import '../../styles/colors.scss';

header {
  background-color: $main-page-header-background;
  text-align: center;

  img {
    max-width: 50%;
  }
}

main {
  padding-left: 10%;
  padding-right: 10%;

  .title {
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;

    .led {
      margin-right: 2em;
      .led-1 {
        color: rgb(97, 189, 255);
        opacity: 0.9;
      }
      .led-2 {
        color: rgb(160, 213, 250);
        opacity: 0.5;
      }
      .led-3 {
        color: rgb(182, 225, 255);
        transform: rotate(135deg);
        opacity: 0.5;
      }
    }

    h1 {
      font-size: 3em;
      color: $title-black;
      margin: 0;
      text-align: center;
      display: inline;
    }
  }

  .info {
    text-align: center;
    .info-title {
      margin-bottom: 1em;
      h2 {
        display: inline;
        font-size: 1.2em;
        margin-left: 0.4em;
      }
    }
    background-color: $main-page-info-background;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 2em;
  }

  .separator {
    max-height: 80px;
    margin-bottom: 2em;
  }

  .chapters-grid {
    margin-left: 2em;
    margin-right: 2em;
    .card {
      height: 300px;
      overflow: hidden;
      position: relative;

      border-radius: 2px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }

      .card-content {
        background-color: rgba(233, 233, 233, 0.575);
        width: 100%;
        padding: 1em;
        color: $title-black;
        position: absolute;
        bottom: 0px;

        h2 {
          font-size: 3.2em;
        }

        p {
          font-size: x-large;
          margin: 0;
        }
      }
    }
  }
}

mat-card {
  height: 100%;

  mat-card-content {
    background-color: rgba(233, 233, 233, 0.575);
    color: #0f2132;

    h2 {
      margin: 0px;
      padding: 0px;
    }

    p {
      margin: 0px;
      padding: 0px;
    }
  }
}
