<div class="flex flex-col justify-start items-center">
	<mat-card class="text-center" id="main-content" [tabIndex]="-1">
		<h1 class="text-5xl mb-5">Credits</h1>
		<mat-divider></mat-divider>
		<p class="pt-8">
			Special thanks to <strong>LadyPocky</strong>,
			<strong>FyreDroid</strong>, <strong>repmet</strong>,
			<strong>aliceZZard</strong>, <strong>Ember</strong>,
			<strong>linlaowee</strong>, <strong>ViktoriaMagrey</strong>,
			<strong>Sitron</strong>, <strong>Sith9560</strong> and
			<strong>-Tatjana-</strong> for their contributions to the
			transcription!
		</p>
	</mat-card>
</div>
