<ng-container *transloco="let t">
	<section aria-labelledby="eden-club">
		<h1 id="eden-club">At the Eden Club</h1>

		<p>
			{{ t("GUI.MENU.DATE.06C2") }}
			<br />
			{{ t("GUI.MENU.TIME.06C2") }}
		</p>

		<p>
			<app-dialogue-line name="Hank">
				{{
					translationService.translateObject(
						"X0603C.INTRO.ARRIVAL.PC.X06CHANK.MOVIE",
						0,
						2
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Connor">
				{{ t("X0603C.INTRO.ARRIVAL.PC.X06CCONNOR.MOVIE") }}
			</app-dialogue-line>
			<app-dialogue-line name="Hank">
				{{
					translationService.translateObject(
						"X0603C.INTRO.ARRIVAL.PC.X06CHANK.MOVIE",
						2
					) | async
				}}
				{{
					translationService.translateObject(
						"X0603C.INTRO.BADMOOD.PC.X06CHANK.MOVIE"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<section aria-labelledby="look-android">
			<h2 id="look-android">Looking at the androids for too long</h2>
			<p>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.EDENCLUB.REMINDER.PC.X06CHANK.HANKCONNOR.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{ t("X0603C.EDENCLUB.REMINDER.PC.X06CCONNOR.HANKCONNOR") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="listen-ben">
			<h2 id="listen-ben">Listening to Ben</h2>
			<p>
				<app-dialogue-line name="Manager">
					{{ t("X0603C.EDENCLUB.CHAD.PC.X06CFLOYD.MOVIEF") }}
				</app-dialogue-line>
				<app-dialogue-line name="Ben">
					{{
						translationService.translateObject(
							"X0603C.EDENCLUB.CHAD.PC.X06CCHAD.MOVIE",
							0,
							2
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.EDENCLUB.CHAD.PC.X06CHANK.MOVIE.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Ben">
					{{
						translationService.translateObject(
							"X0603C.EDENCLUB.CHAD.PC.X06CCHAD.MOVIE",
							2
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.EDENCLUB.CHAD.PC.X06CHANK.MOVIE",
							1
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="room">
			<h2 id="room">Inside the room</h2>
			<p>
				<app-dialogue-line name="Gavin">
					{{ t("X0603C.CRIMESCENE.ARRIVAL.PC.X06CCURTIS.MOVIE.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{ t("X0603C.CRIMESCENE.ARRIVAL.PC.X06CCONNOR.MOVIE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Gavin">
					{{
						translationService.translateObject(
							"X0603C.CRIMESCENE.ARRIVAL.PC.X06CCURTIS.MOVIE",
							1,
							4
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.CRIMESCENE.ARRIVAL.FA.X06CHANK.ANYWAY") }}
				</app-dialogue-line>
				<app-dialogue-line name="Gavin">
					{{
						translationService.translateObject(
							"X0603C.CRIMESCENE.ARRIVAL.PC.X06CCURTIS.MOVIE",
							4
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Chris">
					{{ t("X0603C.CRIMESCENE.ARRIVAL.PC.X06CHARVEY.MOVIE") }}
				</app-dialogue-line>
			</p>

			<app-observation label="Victim">
				<app-observation-item
					[title]="t('MENU.OBSERVATION.06C.MP.VICTIM.TITLE')"
					[subline1]="t('MENU.OBSERVATION.06C.MP.VICTIM.SUBLINE01')"
					[subline2]="t('MENU.OBSERVATION.06C.MP.VICTIM.SUBLINE02')"
				/>
				<app-observation-item
					[title]="t('MENU.OBSERVATION.06C.MP.NECK.TITLE')"
					[subline1]="t('MENU.OBSERVATION.06C.MP.NECK.SUBLINE01')"
					[subline2]="t('MENU.OBSERVATION.06C.MP.NECK.SUBLINE02')"
				/>
				<app-observation-item
					[title]="t('MENU.OBSERVATION.06C.MP.VICTIMHEART.TITLE')"
					[subline1]="
						t('MENU.OBSERVATION.06C.MP.VICTIMHEART.SUBLINE01')
					"
					[subline2]="
						t('MENU.OBSERVATION.06C.MP.VICTIMHEART.SUBLINE02')
					"
				/>
			</app-observation>

			<h3 id="blood">Analysing the blood</h3>
			<p>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.CRIMESCENE.BLOOD.PC.X06CHANK.DISGUSTED"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<app-observation label="Blood">
				<app-observation-item
					[title]="t('MENU.OBSERVATION.06C.MP.BLUEBLOOD.TITLE')"
					[subline1]="
						t('MENU.OBSERVATION.06C.MP.BLUEBLOOD.SUBLINE01')
					"
					[subline2]="
						t('MENU.OBSERVATION.06C.MP.BLUEBLOOD.SUBLINE02')
					"
				/>
			</app-observation>

			<h3 id="license">Hank looking at driver's license</h3>
			<p>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.CRIMESCENE.WALLET.FA.X06CHANK.MOVIE"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="reconstruct">
			<h2 id="reconstruct">Reconstructing</h2>
			<p>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0603C.CRIMESCENE.RECONSTRUCT.FA.X06CCONNOR.MOVIE",
							0,
							2
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.CRIMESCENE.RECONSTRUCT.FA.X06CHANK.MOVIE",
							0,
							4
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						t("X0603C.CRIMESCENE.RECONSTRUCT.FA.X06CCONNOR.MOVIE.3")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.CRIMESCENE.RECONSTRUCT.FA.X06CHANK.MOVIE",
							4
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						t("X0603C.CRIMESCENE.RECONSTRUCT.FA.X06CCONNOR.MOVIE.4")
					}}
				</app-dialogue-line>
			</p>
		</section>
		<section aria-labelledby="connect">
			<h2 id="connect">Connecting to the android</h2>
			<p>
				<app-dialogue-line name="Connor">
					{{ t("X0603C.CRIMESCENE.TURNON.FA.X06CCONNOR.MOVIE.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.CRIMESCENE.TURNON.FA.X06CHANK.MOVIE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0603C.CRIMESCENE.TURNON.FA.X06CCONNOR.MOVIE",
							1
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP01.EXPLAIN'
						)
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.EXPLAIN"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP01.DIRECT'
						)
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.DIRECT"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP01.CALMDOWN'
						)
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.CALMDOWN"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>

			<p>
				<app-dialogue-line name="Traci">
					{{
						translationService.translateObject(
							"X0603C.CRIMESCENE.INTERROGATE.PC.X06CANDWOMWITNESS.TALK"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP02.MURDERER'
						)
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.MURDERER"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Traci">
							{{
								translationService.translateObject(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CANDWOMWITNESS.MURDERER"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP02.CIRCUMSTANCES'
						)
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.CIRCUMSTANCES"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Traci">
							{{
								translationService.translateObject(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CANDWOMWITNESS.CIRCUMSTANCES",
									0
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP02.VICTIM'
						)
					"
				>
					<app-unused-content>
						<p>
							<app-dialogue-line name="Connor">
								{{
									t(
										"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.VICTIM"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Traci">
								{{
									t(
										"X0603C.CRIMESCENE.INTERROGATE.PC.X06CANDWOMWITNESS.VICTIM"
									)
								}}
							</app-dialogue-line>
						</p>
					</app-unused-content>
				</app-choice-item>
			</app-choice-group>

			<mat-divider></mat-divider>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP03.WHOKILLED'
						)
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.WHOKILLED"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Traci">
							{{
								translationService.translateObject(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CANDWOMWITNESS.WHOKILLED"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP03.PUSH')
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.PUSH"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Traci">
							{{
								translationService.translateObject(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CANDWOMWITNESS.PUSH"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP03.ALONE'
						)
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.ALONE"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Traci">
							{{
								translationService.translateObject(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CANDWOMWITNESS.ALONE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>

			<mat-divider></mat-divider>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP04.KILLER'
						)
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.KILLER"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP04.WHATMODEL'
						)
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.WHATMODEL"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP04.OTHERANDROID'
						)
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.OTHERANDROID"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>

			<mat-divider></mat-divider>

			<p>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.CRIMESCENE.INTERROGATE.PC.X06CHANK.THINK01"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.THINK01"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.CRIMESCENE.INTERROGATE.PC.X06CHANK.THINK02") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						t("X0603C.CRIMESCENE.INTERROGATE.PC.X06CCONNOR.THINK03")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.CRIMESCENE.INTERROGATE.PC.X06CHANK.THINK04"
						) | async
					}}
					{{ t("X0603C.CRIMESCENE.HANKBUSY.PC.X06CHANK.MOVIE") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="leave-room">
			<h2 id="leave-room">Leaving the room</h2>
			<app-unused-content>
				<p>
					<app-dialogue-line name="Manager">
						{{
							translationService.translateObject(
								"X0603C.TRACKGAME.HANKFLOYD.PC.X06CFLOYD.QUESTION00"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-unused-content>
			<p>
				<app-dialogue-line name="Hank">
					{{
						t("X0603C.TRACKGAME.HANKFLOYD.PC.X06CHANK.QUESTION01H")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Manager">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.HANKFLOYD.PC.X06CFLOYD.QUESTION01"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						t("X0603C.TRACKGAME.HANKFLOYD.PC.X06CHANK.QUESTION02H")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Manager">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.HANKFLOYD.PC.X06CFLOYD.QUESTION02"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						t(
							"X0603C.TRACKGAME.HANKFLOYD.PC.X06CHANK.QUESTION03H.1"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Manager">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.HANKFLOYD.PC.X06CFLOYD.QUESTION03"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						t(
							"X0603C.TRACKGAME.HANKFLOYD.PC.X06CHANK.QUESTION03H.2"
						)
					}}
					{{
						t(
							"X0603C.TRACKGAME.HANKFLOYD.PC.X06CHANK.QUESTION04H.1"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Manager">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.HANKFLOYD.PC.X06CFLOYD.QUESTION04"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.HANKFLOYD.PC.X06CHANK.QUESTION04H",
							1
						) | async
					}}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Ben">
					{{ t("X0603C.TRACKGAME.HANKCHAD.PC.X06CCHAD.DIALOG.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.TRACKGAME.HANKCHAD.PC.X06CHANK.DIALOG.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Ben">
					{{ t("X0603C.TRACKGAME.HANKCHAD.PC.X06CCHAD.DIALOG.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.HANKCHAD.PC.X06CHANK.DIALOG",
							1,
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Ben">
					{{ t("X0603C.TRACKGAME.HANKCHAD.PC.X06CCHAD.DIALOG.3") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.HANKCHAD.PC.X06CHANK.DIALOG",
							3,
							6
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Ben">
					{{ t("X0603C.TRACKGAME.HANKCHAD.PC.X06CCHAD.DIALOG.4") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.TRACKGAME.HANKCHAD.PC.X06CHANK.DIALOG.7") }}
				</app-dialogue-line>
			</p>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition">
						<h3 id="search-timeout">
							<app-unlock-condition
								[unlockType]="UnlockType.Time"
								[bracketsOnlyAroundIcon]="true"
							>
								{{ t(CommonTranslationKey.TooMuchTime) }}
							</app-unlock-condition>
						</h3>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Hank">
								{{
									translationService.translateObject(
										"X0603C.TRACKGAME.STILLSEARCHING.PC.X06CHANK.HANK"
									) | async
								}}
							</app-dialogue-line>
						</p>

						<app-choice-group>
							<app-choice-item
								[choiceLabel]="
									t(
										'X0603C.TRACKGAME.STILLSEARCHING.PC.CHOICEGROUP02.CONTINUE'
									)
								"
							>
								<p>
									<app-dialogue-line name="Connor">
										{{
											translationService.translateObject(
												"X0603C.TRACKGAME.STILLSEARCHING.PC.X06CCONNOR.CONTINUE"
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Hank">
										{{
											t(
												"X0603C.TRACKGAME.STILLSEARCHING.PC.X06CHANK.CONTINUE"
											)
										}}
									</app-dialogue-line>
								</p>
								<h3 id="search-timeout-again">
									Taking too much time again
								</h3>
								<p>
									<app-relation
										[name]="RelationName.Hank"
										[type]="RelationType.SmallDown"
									></app-relation>
									<app-dialogue-line name="Connor">
										{{
											translationService.translateObject(
												"X0603C.TRACKGAME.STILLSEARCHING.PC.X06CCONNOR.GIVEUP"
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Hank">
										{{
											t(
												"X0603C.TRACKGAME.STILLSEARCHING.PC.X06CHANK.GIVEUP"
											)
										}}
									</app-dialogue-line>
								</p>
							</app-choice-item>
							<app-choice-item
								[choiceLabel]="
									t(
										'X0603C.TRACKGAME.STILLSEARCHING.PC.CHOICEGROUP02.GIVEUP'
									)
								"
							>
								<p>
									<app-relation
										[name]="RelationName.Hank"
										[type]="RelationType.SmallDown"
									></app-relation>
									<app-dialogue-line name="Connor">
										{{
											translationService.translateObject(
												"X0603C.TRACKGAME.STILLSEARCHING.PC.X06CCONNOR.GIVEUP"
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Hank">
										{{
											t(
												"X0603C.TRACKGAME.STILLSEARCHING.PC.X06CHANK.GIVEUP"
											)
										}}
									</app-dialogue-line>
								</p>
							</app-choice-item>
						</app-choice-group>
					</div>
				</app-conditioned-content>
			</app-condition-group>
		</section>

		<section aria-labelledby="rent">
			<h2 id="rent">Asking Hank to rent a Traci</h2>
			<p>
				<app-dialogue-line name="Machine">
					{{
						t("X0603C.TRACKGAME.FINGERPRINT.VO.X06CBOXVOICE.MOVIE")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.FOUNDSOMETHING.PC.X06CCONNOR.HANK",
							0,
							2
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.TRACKGAME.FOUNDSOMETHING.PC.X06CHANK.HANK") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						t(
							"X0603C.TRACKGAME.FOUNDSOMETHING.PC.X06CCONNOR.HANK.3"
						)
					}}
					{{ t("X0603C.TRACKGAME.WITNESS01.PC.X06CCONNOR.START.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.TRACKGAME.WITNESS01.PC.X06CHANK.START.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.WITNESS01.PC.X06CCONNOR.START",
							1
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Machine">
					{{
						t("X0603C.TRACKGAME.WITNESS01.VO.X06CBOXVOICE.START01")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.TRACKGAME.WITNESS01.PC.X06CHANK.START.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Machine">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.WITNESS01.VO.X06CBOXVOICE.START02"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.TRACKGAME.WITNESS01.PC.X06CHANK.START.3") }}
				</app-dialogue-line>
				<app-dialogue-line name="Traci">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.WITNESS01.FA.X06CANDWOMCABIN01.STARTTRACI"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.WITNESS01.PC.X06CHANK.START",
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{ t("X0603C.TRACKGAME.WITNESS01.PC.X06CCONNOR.END.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.TRACKGAME.WITNESS01.PC.X06CHANK.END") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.WITNESS01.PC.X06CCONNOR.END",
							1
						) | async
					}}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Hank">
					{{
						t(
							"X0603C.TRACKGAME.WITNESS01FINISH.PC.X06CHANK.MOVIE.1"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						t(
							"X0603C.TRACKGAME.WITNESS01FINISH.FA.X06CCONNOR.MOVIE"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.WITNESS01FINISH.PC.X06CHANK.MOVIE",
							1
						) | async
					}}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.TRACKGAME.OBJECTIVE.FA.X06CHANK.MOVIE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{ t("X0603C.TRACKGAME.OBJECTIVE.FA.X06CCONNOR.MOVIE") }}
				</app-dialogue-line>
			</p>

			<app-unused-content>
				<p>
					<app-dialogue-line name="Hank">
						{{
							translationService.translateObject(
								"X0603C.TRACKGAME.REACTION.FA.X06CHANK.REACT01"
							) | async
						}}
						{{ t("X0603C.TRACKGAME.REACTION.FA.X06CHANK.REACT02") }}
					</app-dialogue-line>
				</p>
			</app-unused-content>
		</section>

		<section aria-labelledby="search-connect">
			<h2 id="search-connect">Connecting to android</h2>
			<p>
				<app-dialogue-line name="Connor">
					{{ t("X0603C.TRACKGAME.BADCHOICE.FA.X06CCONNOR.MOVIE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.TRACKGAME.BADCHOICE.FA.X06CHANK.MOVIE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						t(
							"X0603C.TRACKGAME.WITNESS02FINISH.FA.X06CCONNOR.MOVIE"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						t(
							"X0603C.TRACKGAME.WITNESS02FINISH.FA.X06CHANK.GOAHEAD"
						)
					}}
					{{ t("X0603C.TRACKGAME.REACTION.FA.X06CHANK.REACT03H") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{ t("X0603C.TRACKGAME.REACTION.FA.X06CCONNOR.REACT03") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="search">
			<h2 id="search">Search for the Traci</h2>
			<ul>
				<li>
					<app-dialogue-line name="Connor">
						{{
							translationService.translateObject(
								"X0603C.TRACKGAME.BADCHOICEFINISH.FA.X06CCONNOR.WRONG03"
							) | async
						}}
					</app-dialogue-line>
				</li>
				<li>
					<app-dialogue-line name="Hank">
						{{
							t(
								"X0603C.TRACKGAME.BADCHOICEFINISH.FA.X06CHANK.MONEY01"
							)
						}}
					</app-dialogue-line>
				</li>
				<li>
					<app-dialogue-line name="Connor">
						{{
							translationService.translateObject(
								"X0603C.TRACKGAME.BADCHOICEFINISH.FA.X06CCONNOR.WRONG02"
							) | async
						}}
					</app-dialogue-line>
				</li>
				<li>
					<app-dialogue-line name="Connor">
						{{
							translationService.translateObject(
								"X0603C.TRACKGAME.BADCHOICEFINISH.FA.X06CCONNOR.WRONG01"
							) | async
						}}
					</app-dialogue-line>
				</li>
				<li>
					<app-dialogue-line name="Hank">
						{{
							t(
								"X0603C.TRACKGAME.BADCHOICEFINISH.FA.X06CHANK.MONEY02"
							)
						}}
					</app-dialogue-line>
				</li>
				<li>
					<app-dialogue-line name="Hank">
						{{
							t("X0603C.TRACKGAME.REACTION.FA.X06CHANK.REACT04H")
						}}
					</app-dialogue-line>
				</li>
				<li>
					<app-dialogue-line name="Connor">
						{{
							t("X0603C.TRACKGAME.REACTION.FA.X06CCONNOR.REACT04")
						}}
					</app-dialogue-line>
				</li>
			</ul>

			<h3 id="search-connect-timeout">
				<app-unlock-condition [unlockType]="UnlockType.Time">
					{{ t(CommonTranslationKey.TooMuchTime) }}
				</app-unlock-condition>
			</h3>
			<p>
				<app-relation
					[name]="RelationName.Hank"
					[type]="RelationType.SmallDown"
				></app-relation>

				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.TIMEOUT.PC.X06CCONNOR.MOVIE"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0603C.TRACKGAME.TIMEOUT.PC.X06CHANK.MOVIE"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="warehouse-found">
			<h2 id="warehouse-found">
				Finding out the Traci went through the staff door
			</h2>
			<p>
				<app-dialogue-line name="Connor">
					{{
						t(
							"X0603C.TRACKGAME.WITNESS03FINISH.FA.X06CCONNOR.MOVIE"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						t("X0603C.TRACKGAME.WITNESS03FINISH.FA.X06CHANK.CRAZY")
					}}
				</app-dialogue-line>
			</p>
		</section>
	</section>

	<section aria-labelledby="warehouse">
		<h1 id="warehouse">In the warehouse</h1>
		<p>
			<app-dialogue-line name="Hank">
				{{
					translationService.translateObject(
						"X0603C.TRACKGAME.GOTOWAREHOUSE.PC.X06CHANK.MOVIE"
					) | async
				}}
				{{ t("X0603C.FINAL.HANKAGENDA.FA.X06CHANK.TOOLATE") }}
			</app-dialogue-line>
		</p>

		<p>
			<app-dialogue-line name="Hank">
				{{
					translationService.translateObject(
						"X0603C.FINAL.HANKAGENDA.FA.X06CHANK.TOSSOUT"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<p>
			<app-dialogue-line name="Hank">
				{{
					translationService.translateObject(
						"X0603C.FINAL.HANKAGENDA.FA.X06CHANK.MOVIE"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-condition-group>
			<app-conditioned-content>
				<div class="condition">
					<h2 id="warehouse-timeout">
						<app-unlock-condition
							[unlockType]="UnlockType.Time"
							[bracketsOnlyAroundIcon]="true"
						>
							{{ t(CommonTranslationKey.TooMuchTime) }}
						</app-unlock-condition>
					</h2>
				</div>
				<div class="content">
					<p>
						<app-relation
							[name]="RelationName.Hank"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-dialogue-line name="Hank">
							{{
								translationService.translateObject(
									"X0603C.FINAL.GAMEOVERS.PC.X06CHANK.TIMER"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0603C.FINAL.HANKAGENDAFINISH.FA.X06CCONNOR.COMING"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0603C.FINAL.GAMEOVERS.PC.X06CCONNOR.LEAVE"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Hank">
							{{
								translationService.translateObject(
									"X0603C.FINAL.GAMEOVERS.PC.X06CHANK.LEAVE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
		</app-condition-group>

		<section aria-labelledby="traci-found">
			<h2 id="traci-found">Find the Traci</h2>
			<p>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.FINAL.HANKFAIL.FA.X06CHANK.MOVIE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0603C.FINAL.HANKGETUP.FA.X06CHANK.MOVIE") }}
				</app-dialogue-line>
			</p>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition"><p>Win the fight</p></div>
					<div class="content">
						<app-choice-group>
							<app-choice-item
								[choiceLabel]="
									t('X0603C.FINAL.ENDING.PC.CHOICEGROUP.KILL')
								"
							>
								<p>
									<app-relation
										[name]="
											RelationName.SoftwareInstability
										"
										[type]="RelationType.LargeDown"
									></app-relation>
									<app-relation
										[name]="RelationName.Hank"
										[type]="RelationType.LargeDown"
									></app-relation>
									<app-dialogue-line name="Blue-haired Traci">
										{{
											translationService.translateObject(
												"X0603C.FINAL.ENDING.PC.X06CANDWOMMURDERER.KILL01"
											) | async
										}}
										{{
											translationService.translateObject(
												"X0603C.FINAL.ENDING.PC.X06CANDWOMMURDERER.KILL02",
												0,
												8
											) | async
										}}
									</app-dialogue-line>
								</p>
								<app-unused-content>
									<p>
										<app-dialogue-line
											name="Blue-haired Traci"
										>
											{{
												t(
													"X0603C.FINAL.ENDING.PC.X06CANDWOMMURDERER.KILL02.9"
												)
											}}
										</app-dialogue-line>
									</p>
								</app-unused-content>
								<p>
									<app-dialogue-line name="Blue-haired Traci">
										{{
											translationService.translateObject(
												"X0603C.FINAL.ENDING.PC.X06CANDWOMMURDERER.KILL02",
												9
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Hank">
										{{
											t(
												"X0603C.FINAL.ENDING.PC.X06CHANK.KILLHANK"
											)
										}}
									</app-dialogue-line>
								</p>
							</app-choice-item>
							<app-choice-item
								[choiceLabel]="
									t(
										'X0603C.FINAL.ENDING.PC.CHOICEGROUP.DONTSHOOT'
									)
								"
							>
								<p>
									<app-relation
										[name]="
											RelationName.SoftwareInstability
										"
										[type]="RelationType.LargeUp"
									></app-relation>
									<app-relation
										[name]="RelationName.Hank"
										[type]="RelationType.LargeUp"
									></app-relation>
									<app-dialogue-line name="Blue-haired Traci">
										{{
											translationService.translateObject(
												"X0603C.FINAL.ENDING.PC.X06CANDWOMMURDERER.FAILEND"
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Traci">
										{{
											translationService.translateObject(
												"X0603C.FINAL.ENDING.FA.X06CANDWOMACCOMPLICE.FAILENDTRACI"
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Hank">
										{{
											t(
												"X0603C.FINAL.ENDING.PC.X06CHANK.FAILDONTSHOOTH"
											)
										}}
									</app-dialogue-line>
								</p>
							</app-choice-item>
						</app-choice-group>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition"><p>Lose the fight</p></div>
					<div class="content">
						<p>
							<app-dialogue-line name="Blue-haired Traci">
								{{
									translationService.translateObject(
										"X0603C.FINAL.ENDING.PC.X06CANDWOMMURDERER.FAILEND"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Traci">
								{{
									translationService.translateObject(
										"X0603C.FINAL.ENDING.FA.X06CANDWOMACCOMPLICE.FAILENDTRACI"
									) | async
								}}
							</app-dialogue-line>
						</p>
						<app-choice-group>
							<app-choice-item
								[choiceLabel]="
									t('X0603C.FINAL.ENDING.PC.FAILCHOICE.SHOOT')
								"
							>
								<p>
									<app-relation
										[name]="
											RelationName.SoftwareInstability
										"
										[type]="RelationType.LargeDown"
									></app-relation>
									<app-relation
										[name]="RelationName.Hank"
										[type]="RelationType.LargeDown"
									></app-relation>
									<app-dialogue-line name="Hank">
										{{
											translationService.translateObject(
												"X0603C.FINAL.ENDING.PC.X06CHANK.FAILSHOOTH"
											) | async
										}}
									</app-dialogue-line>
								</p>
							</app-choice-item>
							<app-choice-item
								[choiceLabel]="
									t(
										'X0603C.FINAL.ENDING.PC.FAILCHOICE.DONTSHOOT'
									)
								"
							>
								<p>
									<app-relation
										[name]="
											RelationName.SoftwareInstability
										"
										[type]="RelationType.LargeUp"
									></app-relation>
									<app-relation
										[name]="RelationName.Hank"
										[type]="RelationType.LargeUp"
									></app-relation>
									<app-dialogue-line name="Hank">
										{{
											t(
												"X0603C.FINAL.ENDING.PC.X06CHANK.FAILDONTSHOOTH"
											)
										}}
									</app-dialogue-line>
								</p>
							</app-choice-item>
						</app-choice-group>
					</div>
				</app-conditioned-content>
			</app-condition-group>
		</section>
	</section>
</ng-container>
