<a [routerLink]="routerLink">
    <div class="overflow-hidden relative rounded-sm shadow-md h-72">
        <img
            [src]="imageSource"
            [alt]="imageAlt"
            class="w-full h-full object-cover object-center"
        />
        <div
            class="
                p-4
                w-full
                absolute
                bottom-0
                bg-gray-50 bg-opacity-50
                text-gray-800
            "
        >
            <h2 class="text-5xl mb-2">{{ title }}</h2>
            <p class="text-xl mb-0">
                {{ text }}
            </p>
        </div>
    </div>
</a>
