<!-- scene change from Kara -->
<!-- Find Jericho in Ferndale -->
<!-- scene change to Kara -->

<ng-container *transloco="let t">
	<section aria-labelledby="jericho">
		<!-- scene change from Kara sits Alice down -->
		<h1 id="jericho">In Jericho</h1>

		<app-screens></app-screens>

		<!-- Freighter is Rigged? -->

		<section aria-labelledby="background-dialogues">
			<h2 id="background-dialogues">Background dialogues</h2>
			<app-background-dialogues></app-background-dialogues>

			<app-unused-content class="mt-3">
				<p>
					<app-dialogue-line name="Android 1">
						{{
							translationService.translateObject(
								"X0202A.SKITCONNOR.RUMORS.PC.X02ASKIT13AND01.TALK01",
								0,
								2
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Android 2">
						{{
							translationService.translateObject(
								"X0202A.SKITCONNOR.RUMORS.FA.X02ASKIT13AND02.TALK02"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Android 1">
						{{
							t(
								"X0202A.SKITCONNOR.RUMORS.PC.X02ASKIT13AND01.TALK01.3"
							)
						}}
					</app-dialogue-line>
				</p>
			</app-unused-content>
		</section>

		<section aria-labelledby="stairs">
			<h2 id="stairs">Going to the stairs</h2>
			<p>
				<app-dialogue-line name="Lucy">
					{{
						translationService.translateObject(
							"X0203A.CMEET.LUCY.FA.X02ALUCY.LOOKINGFORLUCY"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<app-unused-content>
				<p>
					<app-dialogue-line name="Connor">
						{{ t("X0203A.CMEET.LUCY.PC.X02ACONNOR.LOOKINGFOR") }}
					</app-dialogue-line>
				</p>
			</app-unused-content>
		</section>

		<!-- scene change to Kara -->
	</section>

	<mat-divider></mat-divider>

	<section aria-labelledby="captain-cabin">
		<h1 id="captain-cabin">Captain's Cabin</h1>

		<section aria-labelledby="find-markus">
			<h2 id="find-markus">Finding Markus</h2>
			<p>
				<app-dialogue-line name="Amanda">
					{{
						translationService.translateObject(
							"X0203A.AMANDA.MARKUS.PC.X02AAMANDA.WELLDONE"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<!-- Stop Markus -->
			<p>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0203A.CMEET.NORTH.PC.X02ACONNOR.NOHESITATION"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.01TAUNTCHOICE.BLAME')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.01BLAME"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.01TAUNTCHOICE.DEFY')
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.01DEFY"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.01TAUNTCHOICE.DISCOURAGE')
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.01DISCOURAGE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.01TAUNTCHOICE.THREATEN')
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.01THREATEN"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<mat-divider></mat-divider>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.02REACTCHOICE.INTIMIDATE')
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.01INTIMIDATE"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.02REACTCHOICE.INSTRUCTIONS')
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.01INSTRUCTIONS"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<mat-divider></mat-divider>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.03JOINUSCHOICE.CONVINCE')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.03CONVINCE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.03JOINUSCHOICE.APPEAL')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.03APPEAL"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.03JOINUSCHOICE.IKNOWYOU')
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.03IKNOWYOU"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.03JOINUSCHOICE.OURCAUSE')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.03OURCAUSE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<mat-divider></mat-divider>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.STAYAWAY')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-dialogue-line name="Connor">
							{{
								t("X0203A.CMEET.NORTH.PC.X02ACONNOR.02STAYAWAY")
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.DISSUADE')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallDown"
						></app-relation>
						<span>&oslash;</span>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.TURNAROUND')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.02TURNAROUND"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.SAYNOTHING')
					"
				>
					<p>&oslash;</p>
				</app-choice-item>
			</app-choice-group>
			<mat-divider></mat-divider>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.05DOUBTSCHOICE.PROBE')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.05PROBE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.05DOUBTSCHOICE.SOWDOUBTS')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.05SOWDOUBTS"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.05DOUBTSCHOICE.RALLY')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.05RALLY"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.05DOUBTSCHOICE.UNDERMINE')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Markus">
							{{
								translationService.translateObject(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.05UNDERMINE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Markus">
					{{ t("X0203A.CMEET.MARKUS.PC.X02AMARKUS.05TIMEMARKUS") }}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.06DEVIANTCHOICE01.DEVIANT')
					"
					[brackets]="true"
				>
					<p>
						<app-unlock-condition [unlockType]="UnlockType.Lock">
							Have enough software instability
						</app-unlock-condition>
						<app-relation
							[name]="RelationName.Amanda"
							[type]="RelationType.LargeDown"
						></app-relation>

						<app-dialogue-line name="Connor">
							{{
								t(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.05DEVIANT.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.06DEVIANTMARKUS.1"
								)
							}}
						</app-dialogue-line>
					</p>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.05DEVIANT.2"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.06DEVIANTMARKUS.2"
								)
							}}
						</app-dialogue-line>
						<span class="note"
							>See
							<a [routerLink]="['/chapters', 32]"
								>Crossroads - Markus</a
							>: In the corridor.</span
						>
					</p>

					<!-- scene change to Kara -->
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.06DEVIANTCHOICE01.MACHINE')
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.05MACHINE"
								) | async
							}}
						</app-dialogue-line>
					</p>
					<p>
						<app-dialogue-line name="Markus">
							{{
								t(
									"X0203A.CMEET.MARKUS.PC.X02AMARKUS.06MACHINEMARKUS"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<section aria-labelledby="find-north">
			<h2 id="find-north">
				Find North - If Markus is dead or rejected by Jericho
			</h2>
			<p>
				<app-dialogue-line name="Amanda">
					{{
						translationService.translateObject(
							"X0203A.AMANDA.NORTH.PC.X02AAMANDA.WELLDONE"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0203A.CMEET.NORTH.PC.X02ACONNOR.NOHESITATION"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X0203A.CMEET.NORTH.PC.X02AMARLA.NOHESITATION"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.02REACTCHOICE.INSTRUCTIONS')
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.01INSTRUCTIONS"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.02REACTCHOICE.INTIMIDATE')
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.01INTIMIDATE"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X0203A.CMEET.NORTH.PC.X02AMARLA.01CONNOR"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.STAYAWAY')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-dialogue-line name="Connor">
							{{
								t("X0203A.CMEET.NORTH.PC.X02ACONNOR.02STAYAWAY")
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.DISSUADE')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallDown"
						></app-relation>
						<span>&oslash;</span>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.TURNAROUND')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.02TURNAROUND"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.MARKUS.PC.04STOPCHOICE.SAYNOTHING')
					"
				>
					<p>&oslash;</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X0203A.CMEET.NORTH.PC.X02AMARLA.02FREEDOM"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.NORTH.PC.03ORDERCHOICE.DISTURBED')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.03DISTURBED"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.NORTH.PC.03ORDERCHOICE.SAYNOTHING')
					"
				>
					<p>&oslash;</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.NORTH.PC.03ORDERCHOICE.COLD')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.03COLD"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X0203A.CMEET.NORTH.PC.X02AMARLA.03DOUBTS"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.NORTH.PC.04NOTDEVIANTCHOICE.COLD')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.04COLD"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.NORTH.PC.04NOTDEVIANTCHOICE.DISTURBED')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.SoftwareInstability"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.04DISTURBED"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.NORTH.PC.04NOTDEVIANTCHOICE.SAYNOTHING')
					"
				>
					<p>&oslash;</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="North">
					{{
						translationService.translateObject(
							"X0203A.CMEET.NORTH.PC.X02AMARLA.04LISTEN"
						) | async
					}}
					{{ t("X0203A.CMEET.NORTH.PC.X02AMARLA.04TIME") }}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.NORTH.PC.05DEVIANTCHOICE.DEVIANT')
					"
					[brackets]="true"
				>
					<p>
						<app-unlock-condition [unlockType]="UnlockType.Lock">
							Have enough software instability
						</app-unlock-condition>
						<app-relation
							[name]="RelationName.Amanda"
							[type]="RelationType.LargeDown"
						></app-relation>

						<app-dialogue-line name="Connor">
							{{
								t(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.05DEVIANT.1"
								)
							}} </app-dialogue-line
						><app-dialogue-line name="North">
							{{
								t("X0203A.CMEET.NORTH.PC.X02AMARLA.05DEVIANT.1")
							}}
						</app-dialogue-line>
					</p>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.05DEVIANT.2"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="North">
							{{
								t("X0203A.CMEET.NORTH.PC.X02AMARLA.05DEVIANT.2")
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0203A.CMEET.NORTH.PC.05DEVIANTCHOICE.MACHINE')
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0203A.CMEET.NORTH.PC.X02ACONNOR.05MACHINE"
								) | async
							}}
						</app-dialogue-line>
					</p>
					<p>
						<app-dialogue-line name="North">
							{{
								t("X0203A.CMEET.NORTH.PC.X02AMARLA.05DEVIANT.2")
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
		</section>
	</section>

	<mat-divider></mat-divider>

	<section aria-labelledby="deviant-connor">
		<h1 id="deviant-connor">
			Deviant Connor in corridor : Markus is dead or rejected
		</h1>
		<p>
			<app-dialogue-line name="Josh">
				{{ t("X0205A.CONNOR.INTRO.PC.X02AJOSH.PANICK02") }}
			</app-dialogue-line>
			<app-dialogue-line name="North">
				{{ t("X0205A.CONNOR.INTRO.PC.X02AMARLA.PANICKCONT") }}
			</app-dialogue-line>
			<app-dialogue-line name="Josh">
				{{ t("X0205A.CONNOR.INTRO.PC.X02AJOSH.SOLDIERS02") }}
			</app-dialogue-line>
			<app-dialogue-line name="North">
				{{ t("X0205A.CONNOR.INTRO.PC.X02AMARLA.BLOWUP.1") }}
			</app-dialogue-line>
			<app-dialogue-line name="Connor">
				{{ t("X0205A.CONNOR.INTRO.PC.X02ACONNOR.BLOWUPC.1") }}
			</app-dialogue-line>
			<app-dialogue-line name="North">
				{{ t("X0205A.CONNOR.INTRO.PC.X02AMARLA.BLOWUP.2") }}
			</app-dialogue-line>
			<app-dialogue-line name="Connor">
				{{
					translationService.translateObject(
						"X0205A.CONNOR.INTRO.PC.X02ACONNOR.BLOWUPC",
						1,
						3
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="North">
				{{ t("X0205A.CONNOR.INTRO.PC.X02AMARLA.BLOWUP.3") }}
			</app-dialogue-line>
			<app-dialogue-line name="Connor">
				{{
					translationService.translateObject(
						"X0205A.CONNOR.INTRO.PC.X02ACONNOR.BLOWUPC",
						3
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-condition-group>
			<app-conditioned-content>
				<div class="condition">
					<p>
						<app-unlock-condition [unlockType]="UnlockType.Death">
							<span class="font-bold"
								>Soldiers shoot Connor twice before arming
								explosive</span
							>
						</app-unlock-condition>
					</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0205A.CONNOR.NOTFLEEING.FA.X02ACONNOR.GAMEOVER02"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Soldier">
							{{
								t(
									"X0205A.CONNOR.NOTFLEEING.VO.X02ASWAT01.GAMEOVERRUN"
								)
							}}
						</app-dialogue-line>
					</p>

					<p>
						<app-dialogue-line name="North">
							{{
								translationService.translateObject(
									"X0205A.CONNOR.EXECUTION.PC.X02AMARLA.CONNORDEADM"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Josh">
							{{
								translationService.translateObject(
									"X0205A.CONNOR.EXECUTION.PC.X02ASIMON.CONNORDEADM"
								) | async
							}}
						</app-dialogue-line>
						<span class="note"
							>See
							<a [routerLink]="['/chapters', 32]"
								>Crossroads - Markus</a
							>: Surviving characters jump.</span
						>
					</p>
				</div>
			</app-conditioned-content>
		</app-condition-group>

		<section aria-labelledby="lucy">
			<h2 id="lucy">Meet Lucy</h2>
			<p>
				<app-dialogue-line name="Lucy">
					{{
						translationService.translateObject(
							"X0205A.CONNOR.LUCY.FA.X02ALUCY.THEENDSEC"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="bridge">
			<h2 id="bridge">Bridge breaks under Connor</h2>
			<p>
				<app-dialogue-line name="Soldier">
					{{ t("X5072X.MILITARY.FIGHT.VO.MANDCO.QUESTION") }}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{ t("X0205A.PBY.ASSAULT.VO.X02ASWAT10.RAID10") }}
					{{ t("X0205A.PBY.ASSAULT.VO.X02ASWAT13.RAID13") }}
					{{
						translationService.translateObject(
							"X0205A.PBY.ASSAULT.VO.X02ASWAT09.RAID09"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{ t("X0205A.PBY.ASSAULT.VO.X02ASWAT18.RAID04W") }}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Soldier">
					{{ t("X0205A.PBY.ASSAULT.VO.X02ASWAT08.RAID08") }}
					{{ t("X5072X.MILITARY.FIGHT.VO.MANAWI.ORDERGO02.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{ t("X0205A.PBY.ASSAULT.VO.X02ASWAT11.RAID11") }}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{ t("X0205A.PBY.ASSAULT.VO.X02ASWAT10.RAID10") }}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{ t("X0204A.EXIT.PLAYDEAD.VO.X02ASWAT07.OUTTAHERE") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="soldiers-threaten">
			<h2 id="soldiers-threaten">Soldiers threaten androids</h2>
			<p>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0205A.SAVE.ANDROIDS1.FA.X02AANDM02.EXECUTION"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{
						t("X0205A.SAVE.ANDROIDS1.VO.X02ASWAT03.EXECUTIONSWAT.1")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0205A.SAVE.ANDROIDS1.FA.X02AANDM03.EXECUTIONAND",
							0,
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{
						t("X0205A.SAVE.ANDROIDS1.VO.X02ASWAT03.EXECUTIONSWAT.2")
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0205A.SAVE.ANDROIDS1.PC.CHOICEGROUP.INTERVENE')
					"
				>
					<p>
						<app-dialogue-line name="Android">
							{{
								t(
									"X0205A.SAVE.ANDROIDS1.FA.X02AANDM03.SUCCESSCAND"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0205A.SAVE.ANDROIDS1.FA.X02ACONNOR.SUCCESSCNR"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0205A.SAVE.ANDROIDS1.PC.CHOICEGROUP.DONTINTERVENE')
					"
				>
					<p>&oslash;</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<section aria-labelledby="soldiers-coming">
			<h2 id="soldiers-coming">Soldiers coming</h2>
			<p>
				<app-dialogue-line name="Soldier">
					{{ t("X5072X.MILITARY.FIGHT.VO.WOMLKE.OUTGAMMA") }}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{ t("X5072X.MILITARY.FIGHT.VO.MANAWI.TANGO") }}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{ t("X0204A.EXIT.INTRO.VO.X02ASWAT06.STOP") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="androids-chased">
			<h2 id="androids-chased">Androids are chased by soldiers</h2>
			<p>
				<app-dialogue-line name="Android">
					{{ t("X6016X.ONOM.DCO.FO.DCO.PANICCRY.4") }}
				</app-dialogue-line>
				<app-dialogue-line name="Android 2">
					{{
						t("X1102M.PBY.REVOLUTION.VO.X11MANDROID08.REVOLUTION08")
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{ t("X0205A.CNRBAD.SWAT.VO.X02ASWAT01.STOPSWAT") }}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{ t("X0205A.SAVE.ANDROIDS2.FA.X02AANDW03.SURRENDER") }}
				</app-dialogue-line>
			</p>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition"><p>Knock soldiers out</p></div>
					<div class="content">
						<p>
							<app-dialogue-line name="Connor">
								{{
									t(
										"X0205A.SAVE.ANDROIDS2.FA.X02ACONNOR.GONOWCNR"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
			</app-condition-group>
		</section>

		<section aria-labelledby="josh-dying">
			<h2 id="josh-dying">Josh is dying</h2>
			<p>
				<app-dialogue-line name="Josh">
					{{
						translationService.translateObject(
							"X0205A.CONNOR.JOSH.PC.X02AJOSH.ALLOVER"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{ t("X0205A.MARKUS.JOSH.VO.X02ASWAT05.SPOTTED") }}
				</app-dialogue-line>
			</p>
		</section>

		<mat-divider></mat-divider>

		<section aria-labelledby="deviant-hold">
			<h2 id="deviant-hold">In the hold</h2>
			<!-- scene change from Kara flees if Markus dead/rejected -->
			<p>
				<app-dialogue-line name="Soldier">
					{{
						translationService.translateObject(
							"X0205A.MARKUS.EXECUTION.VO.X02ASWAT08.BOMBS"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition"><p>Connor dies</p></div>
					<div class="content">
						<p>
							<app-dialogue-line name="Soldier">
								{{
									t(
										"X0205A.MARKUS.EXECUTION.VO.X02ASWAT08.FAILURE01"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="North">
								{{
									translationService.translateObject(
										"X0205A.CONNOR.EXECUTION.PC.X02AMARLA.CONNORDEADM"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
			</app-condition-group>
		</section>

		<section aria-labelledby="explosives">
			<h2 id="explosives">Explosive armed</h2>
			<p>
				<app-dialogue-line name="North">
					{{ t("X0205A.CONNOR.FINAL.FA.X02AMARLA.BOMB") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{ t("X0205A.CONNOR.FINAL.PC.X02ACONNOR.BOMBC") }}
				</app-dialogue-line>
				<app-dialogue-line name="North">
					{{ t("X0205A.CONNOR.RUNAWAY.FA.X02AMARLA.FOLLOWME") }}
				</app-dialogue-line>
			</p>
			<p>
				<span class="note"
					>See
					<a [routerLink]="['/chapters', 32]">Crossroads - Markus</a>:
					Escape from Jericho.</span
				>
			</p>
		</section>

		<mat-divider></mat-divider>
	</section>
	<section aria-labelledby="machine-connor">
		<h1 id="machine-connor">Connor remained a machine</h1>

		<!-- scene change from Kara hides in cabin -->

		<section aria-labelledby="cargo-hall">
			<h2 id="cargo-hall">Cargo Hall</h2>
			<p>
				<app-dialogue-line name="Soldier">
					{{ t("X0205A.CNRBAD.SWAT.VO.X02ASWAT01.STOPSWAT") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0205A.CNRBAD.SWAT.PC.X02ACONNOR.STOP"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{ t("X0205A.CNRBAD.SWAT.VO.X02ASWAT01.WITHUS") }}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0205A.CNRBAD.SWAT.PC.SWATCHOICE.HUMAN')"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0205A.CNRBAD.SWAT.PC.X02ACONNOR.HUMAN"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Soldier">
							{{
								translationService.translateObject(
									"X0205A.CNRBAD.SWAT.VO.X02ASWAT01.HUMANSWAT"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{ t("X0205A.CNRBAD.SWAT.PC.X02ACONNOR.RIGHT") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0205A.CNRBAD.SWAT.PC.SWATCHOICE.PERKINS')
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t("X0205A.CNRBAD.SWAT.PC.X02ACONNOR.PERKINS.1")
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Soldier">
							{{
								translationService.translateObject(
									"X0205A.CNRBAD.SWAT.VO.X02ASWAT01.HUMANSWAT"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{ t("X0205A.CNRBAD.SWAT.PC.X02ACONNOR.RIGHT") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0205A.CNRBAD.SWAT.PC.SWATCHOICE.ATTACK')"
				>
					<app-condition-group>
						<app-conditioned-content>
							<div class="condition"><p>Lose the fight</p></div>
							<div class="content">
								<p>
									<app-dialogue-line name="Soldier">
										{{
											t(
												"X0205A.CNRBAD.SWAT.VO.X02ASWAT01.RUN"
											)
										}}
									</app-dialogue-line>
								</p>
							</div>
						</app-conditioned-content>
					</app-condition-group>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0205A.CNRBAD.SWAT.PC.SWATCHOICE.RUN')"
				>
					<p>
						<app-dialogue-line name="Soldier">
							{{ t("X0205A.CNRBAD.SWAT.VO.X02ASWAT01.RUN") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<!-- scene change to Markus in the Corridor -->

		<section aria-labelledby="machine-hold">
			<h2 id="machine-hold">In the hold</h2>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition">
						<p>Markus is alive - Connor finds Markus</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Connor">
								{{
									t(
										"X0205A.CNRBAD.CATCHMKS.PC.X02ACONNOR.MISSIONC"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Markus">
								{{
									translationService.translateObject(
										"X0205A.CNRBAD.CATCHMKS.PC.X02AMARKUS.MISSION"
									) | async
								}}
							</app-dialogue-line>
						</p>
						<app-condition-group>
							<app-conditioned-content>
								<div class="condition">
									<p>Reach the gun</p>
								</div>
								<div class="content">
									<app-unlock-condition
										[unlockType]="UnlockType.Death"
									>
										Markus kills Connor
									</app-unlock-condition>
									<p>
										<app-dialogue-line name="Markus">
											{{
												t(
													"X0205A.CNRBAD.CATCHMKS.FA.X02AMARKUS.MARKUSWINSM.1"
												)
											}}
										</app-dialogue-line>
									</p>

									<app-unused-content>
										<p>
											<app-dialogue-line name="Markus">
												{{
													translationService.translateObject(
														"X0205A.CNRBAD.CATCHMKS.FA.X02AMARKUS.MARKUSWINSM",
														1
													) | async
												}}
											</app-dialogue-line>
										</p>
									</app-unused-content>

									<p>
										<app-dialogue-line name="Connor">
											{{
												translationService.translateObject(
													"X0205A.CNRBAD.CATCHMKS.FA.X02ACONNOR.MARKUSWINSC"
												) | async
											}}
										</app-dialogue-line>
									</p>
									<p>
										<span class="note"
											>See
											<a
												[routerLink]="['/chapters', 32]"
												fragment="jericho-escape"
												>Crossroads - Markus: Escape
												from Jericho.</a
											></span
										>
									</p>
								</div>
							</app-conditioned-content>
							<app-conditioned-content>
								<div class="condition">
									<p>Fail to reach the gun</p>
								</div>
								<div class="content">
									<p>
										<app-unlock-condition
											[unlockType]="UnlockType.Death"
										>
											Connor kills Markus
										</app-unlock-condition>

										<app-dialogue-line name="Connor">
											{{
												t(
													"X0205A.CNRBAD.CATCHMKS.FA.X02ACONNOR.CONNORWINS"
												)
											}}
										</app-dialogue-line>
									</p>
									<p>
										<app-dialogue-line name="North">
											{{
												translationService.translateObject(
													"X0205A.MARKUS.EXECUTION.PC.X02AMARLA.MARKUSDEAD01"
												) | async
											}}
										</app-dialogue-line>
									</p>

									<app-condition-group>
										<app-conditioned-content>
											<div class="condition">
												<p>Simon is alive</p>
											</div>
											<div class="content">
												<p>
													<app-dialogue-line
														name="Simon"
													>
														{{
															t(
																"X0205A.MARKUS.EXECUTION.PC.X02ASIMON.MARKUSDEAD02"
															)
														}}
													</app-dialogue-line>
												</p>
											</div>
										</app-conditioned-content>
										<app-conditioned-content>
											<div class="condition">
												<p>Simon is dead</p>
											</div>
											<div class="content">
												<p>
													<app-dialogue-line
														name="Josh"
													>
														{{
															translationService.translateObject(
																"X0205A.MARKUS.EXECUTION.PC.X02AJOSH.MARKUSDEAD03"
															) | async
														}}
													</app-dialogue-line>
												</p>
											</div>
										</app-conditioned-content>
									</app-condition-group>

									<p>
										<app-dialogue-line name="North">
											{{
												t(
													"X0205A.MARKUS.EXECUTION.PC.X02AMARLA.MARKUSDEAD03"
												)
											}}
										</app-dialogue-line>
									</p>
									<p>
										<span class="note"
											>See
											<a
												[routerLink]="['/chapters', 32]"
												fragment="jump"
												>Crossroads - Markus: Surviving
												characters jump.</a
											></span
										>
									</p>
								</div>
							</app-conditioned-content>
						</app-condition-group>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition">
						<p>
							Markus is dead or left Jericho - Connor goes after
							North
						</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Josh">
								{{
									translationService.translateObject(
										"X0205A.CONNOR.JOSH.PC.X02AJOSH.ALLOVER"
									) | async
								}}
							</app-dialogue-line>
						</p>

						<app-condition-group>
							<app-conditioned-content>
								<div class="condition">
									<p>Attacked the soldier</p>
								</div>
								<div class="content">
									<p>
										<app-dialogue-line name="Soldier">
											{{
												t(
													"X0205A.CNRBAD.RUNSUCCESS.VO.X02ASWAT09.DIESWAT"
												)
											}}
										</app-dialogue-line>
										<app-dialogue-line name="Connor">
											{{
												translationService.translateObject(
													"X0205A.CNRBAD.RUNSUCCESS.PC.X02ACONNOR.DIE"
												) | async
											}}
										</app-dialogue-line>
									</p>
								</div>
							</app-conditioned-content>
							<app-conditioned-content>
								<div class="condition">
									<p>Didn't attack the soldier</p>
								</div>
								<div class="content">
									<p>
										<app-dialogue-line name="Soldier">
											{{
												t(
													"X0205A.CNRBAD.FAILCHASE.VO.X02ASWAT09.DIE"
												)
											}}
										</app-dialogue-line>
									</p>
								</div>
							</app-conditioned-content>
						</app-condition-group>

						<p>
							<span class="note"
								>See
								<a
									[routerLink]="['/chapters', 32]"
									fragment="jump"
									>Crossroads - Markus: Surviving characters
									jump.</a
								></span
							>
						</p>
					</div>
				</app-conditioned-content>
			</app-condition-group>
		</section>
	</section>
</ng-container>
