<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <h1>On the rooftop</h1>

        <p>
            {{ t('GUI.MENU.DATE.13C') }}
            <br />
            {{ t('GUI.MENU.TIME.04A.CB01') }}
        </p>

        <app-conditioned-content>
            <div class="condition"><p>Hank is on the roof</p></div>
            <div class="content">
                <p>
                    <app-unlock-condition [unlockType]="UnlockType.None">
                        Hank wasn't hostile in
                        <a [routerLink]="['/chapters', 29]"
                            >Last Chance, Connor</a
                        >
                        and didn't resign
                    </app-unlock-condition>

                    <app-dialogue-line name="Hank">
                        {{ t('X1303C.FACETOFACE.HANK.PC.X13CHANK.DONTDOTHAT') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X1303C.FACETOFACE.HANK.PC.X13CCONNOR.DISCORD',
                                0,
                                2
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{ t('X1303C.FACETOFACE.HANK.PC.X13CHANK.DISCORD.1') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X1303C.FACETOFACE.HANK.PC.X13CCONNOR.DISCORD',
                                2
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X1303C.FACETOFACE.HANK.PC.X13CHANK.DISCORD',
                                1
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>

                <app-choice-group>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.HANK.PC.CHOICE01.FRIENDLY')
                        "
                    >
                        <p>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CCONNOR.FRIENDLY'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.HANK.PC.CHOICE01.AGGRESSIVE')
                        "
                    >
                        <p>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CCONNOR.AGGRESSIVE'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Hank">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CHANK.AGGRESSIVE'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.HANK.PC.CHOICE01.REASONABLE')
                        "
                    >
                        <p>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CCONNOR.REASONABLE'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Hank">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CHANK.REASONABLE'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.HANK.PC.CHOICE01.THREATENING')
                        "
                    >
                        <p>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CCONNOR.THREATENING'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Hank">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CHANK.THREATENING'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.HANK.PC.CHOICE01.STAYQUIET')
                        "
                    >
                        <p>&oslash;</p>
                    </app-choice-item>
                </app-choice-group>

                <p>
                    <app-dialogue-line name="Hank">
                        {{
                            t('X1303C.FACETOFACE.HANK.PC.X13CHANK.THATSENOUGHT')
                        }}
                    </app-dialogue-line>
                </p>

                <app-choice-group>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.HANK.PC.CHOICE02.THREATEN')
                        "
                    >
                        <p>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CCONNOR.THREATEN'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Hank">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CHANK.THREATENH'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.HANK.PC.CHOICE02.PLEAD')
                        "
                    >
                        <p>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CCONNOR.PLEAD'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Hank">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CHANK.PLEADH'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.HANK.PC.CHOICE02.DEFY')
                        "
                    >
                        <p>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CCONNOR.DEFY'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Hank">
                                {{
                                    t(
                                        'X1303C.FACETOFACE.HANK.PC.X13CHANK.DEFYH'
                                    )
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.HANK.PC.CHOICE02.HANKSSON')
                        "
                    >
                        <p>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CCONNOR.HANKSSON'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Hank">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CHANK.HANKSSON'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X1303C.FACETOFACE.HANK.PC.CHOICE02.HANKSSONINSIST'
                            )
                        "
                        [brackets]="true"
                    >
                        <app-unlock-condition [unlockType]="UnlockType.Lock">
                            Chose HANK'S SON
                        </app-unlock-condition>

                        <p>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CCONNOR.HANKSSONINSIST'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Hank">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CHANK.HANKSSONINSIST'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>

                        <app-conditioned-content>
                            <div class="condition">
                                <p>Connor died several times before</p>
                            </div>
                            <div class="content">
                                <p>
                                    <app-dialogue-line name="Hank">
                                        {{
                                            translateObject(
                                                'X1303C.FACETOFACE.HANK.PC.X13CHANK.HANKSSONINSISTCONT'
                                            ) | async
                                        }}
                                    </app-dialogue-line>
                                </p>
                            </div>
                        </app-conditioned-content>
                    </app-choice-item>
                </app-choice-group>

                <mat-divider></mat-divider>

                <app-choice-group>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.HANK.PC.TOEND.ABANDON')
                        "
                        [brackets]="true"
                    >
                        <p>
                            <app-unlock-condition
                                [unlockType]="UnlockType.Lock"
                            >
                                Be friend with Hank
                            </app-unlock-condition>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.HANK.PC.X13CCONNOR.ABANDON'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.HANK.PC.TOEND.ATTACK')
                        "
                    >
                        <app-conditioned-content>
                            <div class="condition"><p>Win the fight</p></div>
                            <div class="content">
                                <p>
                                    <app-dialogue-line name="Hank">
                                        {{
                                            translateObject(
                                                'X1303C.FIGHT.HANK.PC.X13CHANK.DILEMMA'
                                            ) | async
                                        }}
                                    </app-dialogue-line>
                                </p>

                                <app-choice-group>
                                    <app-choice-item
                                        [choiceLabel]="
                                            t(
                                                'X1303C.FIGHT.HANK.PC.CHOICE.SAVEHANK'
                                            )
                                        "
                                    >
                                        <p>
                                            <app-dialogue-line name="Connor">
                                                {{
                                                    translateObject(
                                                        'X1303C.FIGHT.HANK.PC.X13CCONNOR.SAVEHANK'
                                                    ) | async
                                                }}
                                            </app-dialogue-line>
                                        </p>

                                        <app-conditioned-content>
                                            <div class="condition">
                                                <p>Dodge Hank</p>
                                            </div>
                                            <div class="content">
                                                <p>&oslash;</p>
                                            </div>
                                        </app-conditioned-content>
                                        <app-conditioned-content>
                                            <div class="condition">
                                                <p>
                                                    Getting pushed from the edge
                                                </p>
                                            </div>
                                            <div class="content">
                                                <p>
                                                    <app-dialogue-line
                                                        name="Hank"
                                                    >
                                                        {{
                                                            translateObject(
                                                                'X1303C.FIGHT.HANK.PC.X13CHANK.AVOIDFAIL'
                                                            ) | async
                                                        }}
                                                    </app-dialogue-line>
                                                </p>
                                            </div>
                                        </app-conditioned-content>
                                    </app-choice-item>
                                    <app-choice-item
                                        [choiceLabel]="
                                            t(
                                                'X1303C.FIGHT.HANK.PC.CHOICE.KILLHANK'
                                            )
                                        "
                                    >
                                        <p>&oslash;</p>
                                    </app-choice-item>
                                </app-choice-group>
                            </div>
                        </app-conditioned-content>
                        <app-conditioned-content>
                            <div class="condition"><p>Lose the fight</p></div>
                            <div class="content">
                                <p>
                                    <app-dialogue-line name="Connor">
                                        {{
                                            translateObject(
                                                'X1303C.FIGHT.HANK.PC.X13CCONNOR.FIGHTFAIL01'
                                            ) | async
                                        }}
                                    </app-dialogue-line>
                                    <app-dialogue-line name="Hank">
                                        {{
                                            translateObject(
                                                'X1303C.FIGHT.HANK.PC.X13CHANK.FIGHTFAIL02'
                                            ) | async
                                        }}
                                    </app-dialogue-line>
                                </p>
                            </div>
                        </app-conditioned-content>
                    </app-choice-item>
                </app-choice-group>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition">
                <p>{{ t('MENU.FLOWCHART.04A.CA.ALLENARRIVESSTOPCONNOR') }}</p>
            </div>
            <div class="content">
                <p>
                    <app-unlock-condition [unlockType]="UnlockType.Death">
                        {{ t('MENU.FLOWCHART.04A.CA.GC.HANKSUICIDE') }}
                    </app-unlock-condition>

                    <app-dialogue-line name="Allen">
                        {{ t('X1303C.FACETOFACE.ALLEN.PC.X13CALLEN.START') }}
                    </app-dialogue-line>
                </p>

                <app-choice-group>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.ALLEN.PC.CHOICE01.OBEY')
                        "
                    >
                        <p>&oslash;</p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.ALLEN.PC.CHOICE01.EXPLAIN')
                        "
                    >
                        <p>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.ALLEN.PC.X13CCONNOR.01EXPLAIN'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Allen">
                                {{
                                    t(
                                        'X1303C.FACETOFACE.ALLEN.PC.X13CALLEN.01CONTINUEA'
                                    )
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.ALLEN.PC.CHOICE01.CONTINUE')
                        "
                    >
                        <p>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.ALLEN.PC.X13CCONNOR.01CONTINUE'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Allen">
                                {{
                                    t(
                                        'X1303C.FACETOFACE.ALLEN.PC.X13CALLEN.01CONTINUEA'
                                    )
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                </app-choice-group>

                <p>
                    <app-dialogue-line name="Allen">
                        {{
                            translateObject(
                                'X1303C.FACETOFACE.ALLEN.PC.X13CALLEN.01OBEY'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>

                <app-conditioned-content>
                    <div class="condition">
                        <p>
                            Connor didn't die in
                            <a [routerLink]="['/chapters', 1]">The Hostage</a>
                        </p>
                    </div>
                    <div class="content">
                        <p>
                            <app-dialogue-line name="Allen">
                                {{
                                    t(
                                        'X1303C.FACETOFACE.ALLEN.PC.X13CALLEN.MEETAGAIN'
                                    )
                                }}
                            </app-dialogue-line>
                        </p>
                    </div>
                </app-conditioned-content>
                <app-conditioned-content>
                    <div class="condition">
                        <p>
                            <app-unlock-condition
                                [unlockType]="UnlockType.Death"
                                [bracketsOnlyAroundIcon]="true"
                            >
                                Connor died in
                                <a [routerLink]="['/chapters', 1]"
                                    >The Hostage</a
                                >
                            </app-unlock-condition>
                        </p>
                    </div>
                    <div class="content">
                        <p>
                            <app-dialogue-line name="Allen">
                                {{
                                    t(
                                        'X1303C.FACETOFACE.ALLEN.PC.X13CALLEN.DESTROYED'
                                    )
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Connor">
                                {{
                                    t(
                                        'X1303C.FACETOFACE.ALLEN.PC.X13CCONNOR.DESTROYED'
                                    )
                                }}
                            </app-dialogue-line>
                        </p>
                    </div>
                </app-conditioned-content>

                <p>
                    <app-dialogue-line name="Allen">
                        {{
                            translateObject(
                                'X1303C.FACETOFACE.ALLEN.PC.X13CALLEN.ORDERS'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X1303C.FACETOFACE.ALLEN.PC.X13CCONNOR.ORDERS'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>

                <app-choice-group>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.ALLEN.PC.CHOICE02.FIGHT')
                        "
                    >
                        <app-conditioned-content>
                            <div class="condition"><p>Win the fight</p></div>
                            <div class="content">
                                <p>
                                    <app-dialogue-line name="Connor">
                                        {{
                                            t(
                                                'X1303C.FACETOFACE.ALLEN.PC.X13CCONNOR.FIGHTSUCCESS'
                                            )
                                        }}
                                    </app-dialogue-line>
                                </p>
                            </div>
                        </app-conditioned-content>
                        <app-conditioned-content>
                            <div class="condition"><p>Lose the fight</p></div>
                            <div class="content">
                                <p>
                                    <app-dialogue-line name="Allen">
                                        {{
                                            t(
                                                'X1303C.FACETOFACE.ALLEN.PC.X13CALLEN.FIGHTFAIL'
                                            )
                                        }}
                                    </app-dialogue-line>
                                </p>
                            </div>
                        </app-conditioned-content>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1303C.FACETOFACE.ALLEN.PC.CHOICE02.FLEE')
                        "
                    >
                        <p>
                            <app-dialogue-line name="Allen">
                                {{
                                    translateObject(
                                        'X1303C.FACETOFACE.ALLEN.PC.X13CALLEN.02FLEE'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                </app-choice-group>
            </div>
        </app-conditioned-content>
    </section>

    <section>
        <h1>Going after the deviant leader</h1>
        <app-conditioned-content>
            <div class="condition">
                <p>In the crowd [Markus led a successful demonstration]</p>
            </div>
            <div class="content">
                <app-choice-group>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X1108M.BADCONNOR.TOUGHCHOICE.PC.CHOICEGROUP01.GIVEUP'
                            )
                        "
                    >
                        <p>
                            <app-dialogue-line name="Amanda">
                                {{
                                    translateObject(
                                        'X1108M.BADCONNOR.ZENGARDEN.PC.X11MAMANDA.DISAPOINTED01'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1108M.BADCONNOR.ZENGARDEN.PC.X11MBADCONNOR.DISAPOINTED02'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Amanda">
                                {{
                                    translateObject(
                                        'X1108M.BADCONNOR.ZENGARDEN.PC.X11MAMANDA.DISAPOINTED03'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1108M.BADCONNOR.ZENGARDEN.PC.X11MBADCONNOR.DISAPOINTED04'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Amanda">
                                {{
                                    t(
                                        'X1108M.BADCONNOR.ZENGARDEN.PC.X11MAMANDA.DISAPOINTED05'
                                    )
                                }}
                                {{
                                    translateObject(
                                        'X1108M.BADCONNOR.ZENGARDEN.PC.X11MAMANDA.DISAPOINTED06'
                                    ) | async
                                }}
                            </app-dialogue-line>
                            <app-dialogue-line name="Connor">
                                {{
                                    translateObject(
                                        'X1108M.BADCONNOR.ZENGARDEN.PC.X11MBADCONNOR.ALONE'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X1108M.BADCONNOR.TOUGHCHOICE.PC.CHOICEGROUP01.SHOOT'
                            )
                        "
                    >
                        <p>&oslash;</p>
                    </app-choice-item>
                </app-choice-group>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition"><p>Connor finds Markus</p></div>
            <div class="content">
                <p>
                    [Markus is leading a successful revolution] See
                    <a [routerLink]="['/chapters', 40]">Markus' Revolution</a>.
                </p>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition"><p>Connor arrives in store</p></div>
            <div class="content">
                <p>
                    [Markus led a revolution and had to fall back] See
                    <a [routerLink]="['/chapters', 40]">Markus' Revolution</a>.
                </p>
            </div>
        </app-conditioned-content>
    </section>
</ng-container>
