@import '../../../styles/colors.scss';

footer {
  background-color: $footer-background;
  margin-top: 4em;
  padding: 0.8em;

  a {
    margin-top: 1em;
    color: $footer-link-color;
    transition: color 0.8s;
    -o-transition: color 0.8s;
    -ms-transition: color 0.8s;
    -moz-transition: color 0.8s;
    -webkit-transition: color 0.8s;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $footer-link-hover;
    }
  }
}
