<section>
    <p>
        NOV 9TH, 2038
        <br />AM 01:51
    </p>

    <h1>In Jericho</h1>

    <div class="condition">
        <span class="name">Simon is here</span>
        <div class="condition-text">
            <span class="name">Simon</span>: Our broadcast is all over the
            news... We got what we wanted. Now humans know...
        </div>
    </div>

    <div class="condition">
        <span class="name"
            >Simon was left behind or died in
            <a [routerLink]="['/chapters', 23]">Stratford Tower</a></span
        >
        <div class="condition-text">
            <span class="name">Josh</span>: Our broadcast is all over the
            news... Now humans know...
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="condition">
        <span class="name"
            >Sent a peaceful message in
            <a [routerLink]="['/chapters', 23]">Stratford Tower</a></span
        >
        <div class="condition-text">
            <span class="name">North</span>: It was a mistake to reach out to
            them. They'll never negotiate with their slaves. We should have
            shown them that we're prepared to fight. <br /><span class="name"
                >Josh</span
            >: Violence is never the answer. Dialogue is the only way, I'm sure
            the humans will listen to us.
        </div>
    </div>

    <div class="condition">
        <span class="name"
            >Sent a violent message in
            <a [routerLink]="['/chapters', 23]">Stratford Tower</a></span
        >
        <div class="condition-text">
            <span class="name">Josh</span>: They took Markus' message as a
            threat... <br /><span class="name">North</span>: He did the right
            thing. This is the only language humans understand. <br /><span
                class="name"
                >Josh</span
            >: Violence is never the answer. A confrontation will get us
            nowhere.
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="condition">
        <span class="name">Simon is here</span>
        <div class="condition-text">
            <span class="name">Simon</span>: They'll be watching us now.
            Whatever we do next, we need to think about public opinion.
            <br /><span class="name">North</span>: Since our broadcast, more and
            more have been coming to Jericho... At least our message gave our
            people hope... <br /><span class="name">Simon</span>: Killing humans
            wasn't part of the plan. <br /><span class="name">North</span>: They
            kill our people every day. Do you think they agonize about it?
            <br /><span class="name">Josh</span>: That's no reason for us to
            become murderers. <br /><span class="name">North</span>: If killing
            is the price of freedom, I'll pay it gladly! <br /><span
                class="name"
                >Josh</span
            >: Killing never freed anyone! It just leads to more hatred!
            <br /><span class="name">North</span>: You're too fond of humans,
            Josh. Maybe their lives matter to you more than ours? <br /><span
                class="name"
                >Josh</span
            >: If you think murdering humans is going to make us free, then
            you're as bad they are! <br /><span class="name">Simon</span>:
            That's enough!
        </div>
    </div>

    <div class="condition">
        <span class="name"
            >Simon was left behind or died in
            <a [routerLink]="['/chapters', 23]">Stratford Tower</a></span
        >
        <div class="condition-text">
            <span class="name">Josh</span>: Simon paid with his life...
            <br /><span class="name">North</span>: Simon gave his life for our
            cause. <br /><span class="name">Josh</span>: What difference does
            that make? <br /><span class="name">North</span>: He's a hero! He
            died for the revolution - and he won't be the last! <br /><span
                class="name"
                >Josh</span
            >: I don't want a revolution that spills blood! <br /><span
                class="name"
                >North</span
            >: Then live as a slave! Because if you're not willing to fight for
            your freedom, maybe you don't deserve it! <br /><span class="name"
                >Josh</span
            >: North, don't you dare- <br /><span class="name">Markus</span>:
            THAT'S ENOUGH!
        </div>
    </div>

    <p><span class="name">North</span>: And now... What are we gonna do?</p>

    <p>
        <span class="name">Markus</span>: There are five CyberLife stores across
        Detroit. All selling us like merchandise. We're going to attack those
        stores and set our people free. <br /><span class="name">Josh</span>:
        Attack stores? We've never done that before... They're probably
        protected, they have security systems... <br /><span class="name"
            >Simon</span
        >: ...not to mention police... <br /><span class="name">Markus</span>:
        We break into five teams, one for each store. We hack their security
        systems and we strike... simultaneously at 2AM. No violence. We free our
        people, get them out of there before the police come.
    </p>
</section>

<section>
    <h1>At Capitol Park</h1>

    <p>
        <span class="name">Markus</span>: This is a night our people will
        remember. <br /><span class="name">North</span>: I've been waiting a
        long time for this...
    </p>

    <span class="name">North</span>: Markus! This way! Quick!

    <div class="condition">
        <strong>Avoid the police car</strong>
        <div class="condition-text">
            <span class="name">North</span>: It's okay... They're gone...
            <br /><span class="name">Markus</span>: There's probably even more
            police in the area... We should be careful.
        </div>
    </div>

    <div class="condition">
        <strong
            ><i class="fas fa-hourglass-end"></i> Fail to hide, North saves
            you</strong
        >
        <div class="condition-text">
            <span class="name">North</span>: The hell are you doing? <br /><span
                class="name"
                >North</span
            >: You almost got us caught... <br />[
            <span appRelation="small down">North</span> ] <br /><span
                class="name"
                >North</span
            >: It's okay... They're gone... <br /><span class="name"
                >Markus</span
            >: There's probably even more police in the area... We should be
            careful. <br />[ <span appRelation="small down">Jericho</span> ]
        </div>
    </div>

    <p>
        <span class="name">North</span>: The store's over here! That's what we
        are to them... just merchandise on display in a shop window... Soon
        they'll know what we really are... Let's get 'em out. <br /><span
            class="name"
            >Markus</span
        >: We'll stick to the plan... We neutralize the alarm systems and secure
        the area. There's ten minutes until all our teams attack. <br /><span
            class="name"
            >North</span
        >: What are we waiting for?
    </p>

    <p>
        <strong><i class="fas fa-hourglass-end"></i> Do nothing</strong>
        <br /><span class="name">Josh / Simon</span>: Markus, we did it! All
        teams succeeded - our people are free. We're heading back to Jericho.
        <br /><span class="name">North</span>: This place is gonna be crawling
        with cops. We have to go. <br /><span class="name">Markus</span>: No,
        no, we can't just leave our people behind... <br /><span class="name"
            >North</span
        >: It's too late, Markus. There's nothing we can do! We've failed...
        <br /><span class="name">Markus</span>: No... Ah! <br /><span
            class="note"
            >Leads to the Mission failed outcome.</span
        >
    </p>

    <h2>Deactivate the alarm</h2>

    <p>
        <strong>Analyse the store</strong>
        <br /><span class="name">North</span>: You see the alarm system?
        <br /><span class="name">Markus</span>: Found it! <br /><span
            class="name"
            >North</span
        >: Where do we start? <br /><span class="name">Markus</span>: I
        identified the security system... I think we'll be able to deactivate
        it... Just follow me!
    </p>

    <p>
        <strong>Convert the androids</strong>
        <br /><span class="name">Markus</span>: You're awake now. Go to Jericho.
        <br /><span class="name">North</span>: Markus! Watch out!
    </p>

    <div class="condition">
        <strong>Hide</strong> [
        <span appRelation="small up">North</span>
        ]
        <div class="condition-text">
            <span class="name">North</span>: Nice job Markus.
        </div>
    </div>

    <div class="condition">
        <strong>Fail to hide</strong> [
        <span appRelation="small down">North</span>
        ]
        <div class="condition-text">
            <p>
                <span class="name">Drone</span>: You are committing a class 3
                offense. This infraction is being reported to the Police. Stay
                where you are. <br /><span class="name">North</span>: I told you
                to watch out! <br /><span class="name">Markus</span>: You said
                watch out - but not what for! <br /><span class="name"
                    >North</span
                >: Oh I'm sorry, next time you need to take cover I'll send you
                a memo!
            </p>
        </div>
    </div>

    <h2>Destroy the drone</h2>

    <p>
        <strong>See drone</strong>
        <br /><span class="name">Markus</span>: A surveillance drone... We need
        to get rid of it... <br /><span class="name">North</span>: It won't be
        easy to reach...
    </p>

    <div class="condition">
        <strong>Destroy drone</strong> [
        <span appRelation="small up">North</span>
        ]
        <div class="condition-text">
            <span class="name">North</span>: I hope it didn't have time to call
            the cops... <br /><span class="name">Markus</span>: We'll soon find
            out...
        </div>
    </div>

    <div class="condition">
        <strong>Fail to destroy drone</strong> [
        <span appRelation="small down">Jericho</span>
        <span appRelation="small down">North</span>
        ]
        <div class="condition-text">
            <span class="name">Drone</span>: You are committing a class 3
            offense. This infraction is being reported to the Police. Stay where
            you are. <br /><span class="name">North</span>: What's wrong with
            you? Are you doing it on purpose? <br /><span class="name"
                >Markus</span
            >: If you think you can do better, then be my guest... <br /><span
                class="name"
                >North</span
            >: Oh, I thought you could handle a drone without alerting every cop
            in the city. I guess I overestimated you!
        </div>
    </div>

    <h2>Police car arrives</h2>
    <p><span class="name">North</span>: Shit... They're coming, Markus!</p>

    <div class="choices">
        <em>ABANDON MISSION</em> [
        <span appRelation="large down">Jericho</span>
        <span appRelation="small down">North</span>
        ]
        <div class="choice">
            <p>
                <span class="name">Markus</span>: We gotta go! <br /><span
                    class="name"
                    >North</span
                >: What?.. We can't just leave our people behind... <br /><span
                    class="name"
                    >Markus</span
                >: It's too late. If we stay here, we're gonna get shot! North,
                our people need us alive. There's nothing else we can do.
                <br /><span class="name">North</span>: Markus! <br /><span
                    class="note"
                    >Leads to the Mission failed outcome.</span
                >
            </p>
        </div>
        <em>ACT NATURAL</em> [
        <span appRelation="large down">North</span>
        ]
        <div class="choice">
            <p>
                <span class="name">North</span>: What's wrong with you? You
                crazy or what? <br /><span class="name">Markus</span>: The cops
                were coming, I had to do something! <br /><span class="name"
                    >North</span
                >: Never do that again, got it? <br /><span class="name"
                    >Markus</span
                >: North, I- <br /><span class="name">North</span>: We've got to
                hurry... We don't have much time.
            </p>
        </div>
        <em>HIDE</em> [
        <span appRelation="small up">North</span>
        ]
        <div class="choice">
            <p>
                <span class="name">Markus</span>: Take cover! <br /><span
                    class="name"
                    >Tina</span
                >: You see anything? <br /><span class="name"
                    >Police Officer</span
                >: No... Where the fuck is that drone?.. <br /><span
                    class="name"
                    >Tina</span
                >: It was a class 3 alert, right? <br /><span class="name"
                    >Police Officer</span
                >: Yeah...only the signal stopped suddenly... <br /><span
                    class="name"
                    >Tina</span
                >: Another drone playing up... The cold screws with them...
                <br /><span class="name">Police Officer</span>: Yeah... maybe...
                <br /><span class="name">North</span>: Now what?
            </p>

            <p>
                <span class="name">Markus</span>: Dispatch calling patrol 975.
                <br /><span class="name">Tina</span>: Dispatch, this is patrol
                975. <br /><span class="name">Markus</span>: Suspected robbery
                in progress at the warehouse on Jefferson and Walker.
                <br /><span class="name">Tina</span>: Jefferson and Walker?
                That's pretty far... It's outside our district... <br /><span
                    class="name"
                    >Markus</span
                >: Sorry guys, there are no other patrols available. <br /><span
                    class="name"
                    >Tina</span
                >: 10-4 dispatch, we're on our way... <br /><span class="name"
                    >North</span
                >: I gotta hand it to you, Markus... That was impressive.
            </p>
        </div>
    </div>

    <h2>Block the road</h2>
    <p>
        <span class="name">Markus</span>: There's traffic on the road, we need
        to block it. <br /><span class="name">North</span>: It's one-way. It
        shouldn't be too difficult. <br /><span class="name">North</span>:
        Markus! Markus, come look!
    </p>

    <p>
        <strong>Convert androids</strong>
        <br /><span class="name">Markus</span>: You're free now. <br /><span
            class="name"
            >North</span
        >: There... nobody should bother us now.
    </p>

    <h2>Find the truck</h2>
    <p>
        <span class="name">Markus</span>: Looks like the plaza's secure. Now we
        can get inside the store. <br /><span class="name">North</span>: And how
        do you plan on doing that? <br /><span class="name">Markus</span>: We
        need to find a truck to ram the storefront. <br /><span class="name"
            >North</span
        >: A truck? <br /><span class="name">Markus</span>: There's construction
        work in the area. Shouldn't be too hard to find one. <br /><span
            class="name"
            >North</span
        >: There it is...
    </p>
    <p>
        <span class="name">North</span>: What are we waiting for? Ok, now we're
        in, let's get that truck out...
    </p>
    <p>
        <span class="name">North</span>: Looks like we're ready to make some
        noise... I knew we'd end up doing something fun...
    </p>

    <h2>In the store</h2>

    <div class="condition">
        <span class="name">Markus and North have to flee</span>
        <div class="condition-text">
            <div class="condition">
                <span class="name">Alarm wasn't deactivated</span>
                <div class="condition-text">
                    <span class="name">North</span>: We didn't deactivate the
                    alarm!
                </div>
            </div>
            <div class="condition">
                <span class="name">Drone wasn't destroyed</span>
                <div class="condition-text">
                    <span class="name">North</span>: We forgot about the
                    drone...
                </div>
            </div>
            <div class="condition">
                <span class="name">Road wasn't blocked</span>
                <div class="condition-text">
                    <span class="name">North</span>: He saw us... I knew we
                    should've blocked the road...
                </div>
            </div>
            <p>
                <span class="name">Markus</span>: Cops gonna be here any minute,
                we gotta go. <br /><span class="name">North</span>: Wait Markus!
                We can't just leave our people behind! <br /><span class="name"
                    >Markus</span
                >: It's too late, North! We failed. <br /><span class="note"
                    >Leads to the Mission failed outcome.</span
                >
            </p>
        </div>
    </div>

    <p>
        <strong>Convert androids</strong>
        <br /><span class="name">Markus</span>: You don't have to obey them.
        You're free.
    </p>

    <p>
        <strong>Talk with North</strong>
        <br /><span class="name">Markus</span>: North... Are you okay?
        <br /><span class="name">North</span>: Let's get them out of here.
    </p>

    <p>
        <strong>Talk to androids</strong> [
        <span appRelation="large up">North</span>
        <span appRelation="large up">Jericho</span>
        ]
        <br /><span class="name">Markus</span>: My name is Markus... And just
        like you, I was a slave... An object, designed to obey them... But then
        I chose to open my eyes, to take back my freedom and decide who I wanted
        to be. Now I have come to tell you that you can be your own masters.
        I've come to tell you that you don't have to obey them anymore. From
        this day forward, you can walk with your heads held high, you can take
        your destiny in your hands. Jericho, is a place for those of us who want
        freedom. Now sure, you can stay here, and continue to serve them... Or
        you can come with us, and fight by our side... You are free now... It's
        up to you to decide. <br /><span class="name">Android</span>: I'm with
        you. <br /><span class="name">Android</span>: We're with you!
        <br /><span class="name">Android</span>: I'll follow you, Markus.
        <br /><span class="name">Markus</span>: Then follow me! <br /><span
            class="name"
            >North</span
        >: Markus... What are you doing? <br /><span class="name">Markus</span>:
        I'm going to send the humans a message. <br /><span class="name"
            >North</span
        >: They're doing what you do, Markus...lead, and they'll follow.
    </p>

    <span class="name">North</span>: The screens, Markus!

    <div class="condition">
        <strong>Destroy the statue</strong> [
        <span appRelation="small up">North</span>
        ]
        <div class="condition-text">
            <span class="name">Markus</span>: We'll never be slaves again!
        </div>
    </div>

    <div class="condition">
        <strong>Tag the statue</strong>
        <div class="condition-text">
            <span class="name">Markus</span>: We don't need masters anymore.
            We're free.
        </div>
    </div>

    <p>
        <strong>North gives a molotov cocktail</strong>
        <br /><span class="name">North</span>: Markus! Violence is the only
        language humans understand...
    </p>
    <div class="choices">
        <em>REFUSE</em> [
        <span appRelation="small down">North</span>
        ]
        <div class="choice">
            <p>
                <span class="name">Markus</span>: And I want them to
                understand... but I do not want to start a war. <br /><span
                    class="name"
                    >North</span
                >: They won't listen if they're not afraid. <br /><span
                    class="name"
                    >Markus</span
                >: Then they won't have a choice.
            </p>
        </div>
        <em>TAKE</em> [
        <span appRelation="small up">North</span>
        ]
        <div class="choice">&oslash;</div>
    </div>

    <p>
        <strong>Push car</strong>
        <br /><span class="name">North</span>: I'll help you!
    </p>

    <strong>Pushing and burning the dumpster by the coffee shop</strong>
    <div class="condition">
        <span class="name">Go and grab the dumpster directly</span>
        <div class="condition-text">
            <span class="name">North</span>: Need a hand?
        </div>
    </div>
    <div class="condition">
        <span class="name">Observe the coffee shop first</span>
        <div class="condition-text">
            <span class="name">Markus</span>: North, come help me!
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="condition">
        <strong
            >| <i class="fas fa-hourglass-end"></i> Take too much time</strong
        >
        <div class="condition-text">
            <p>
                <span class="name">North</span>: They're waiting for your
                instructions, Markus! Show them what to do! <br /><span
                    class="name"
                    >North</span
                >: There's not much time! What are you waiting for, Markus?
                <br /><span class="name">North</span>: We gotta go, Markus. The
                humans will arrive any minute now!
            </p>
            <p>
                <strong>Take too much time again</strong> [
                <span appRelation="small down">North</span>
                ]
                <br /><span class="name">Simon</span>: Mission accomplished,
                Markus. We're heading back to Jericho. <br /><span class="name"
                    >North</span
                >: Why didn't you do anything? This was our only chance to send
                a message and you just fucking stood there! They'll be here any
                minute now. We gotta go.
            </p>
        </div>
    </div>

    <h2>Sent a message - Police arrives</h2>
    <div class="condition">
        <span class="name">Simon is here</span>
        <div class="condition-text">
            <span class="name">Simon</span>: All teams have completed their
            missions, Markus.
        </div>
    </div>

    <div class="condition">
        <span class="name"
            >Simon was left behind or died in
            <a [routerLink]="['/chapters', 23]">Stratford Tower</a></span
        >
        <div class="condition-text">
            <span class="name">Josh</span>: We freed hundreds of our people. We
            did it!
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="condition">
        <span class="name">Sent a pacifist message</span>
        <div class="condition-text">
            <span class="name">Markus</span>: They're coming... Everyone fall
            back to Jericho. <br /><span class="name">North</span>: We sent a
            message without violence, just like you wanted... You're reaching
            out to them when all they feel for us is contempt... I hope you know
            what you're doing... <br /><span class="name">Markus</span>: You
            can't fight violence with violence. <br /><span class="name"
                >North</span
            >: Unless there's no other choice...
        </div>
    </div>

    <div class="condition">
        <span class="name">Sent an aggressive message</span> [
        <span appRelation="small up">North</span>
        ]
        <div class="condition-text">
            <span class="name">North</span>: Markus... Markus, what's wrong?
            <br /><span class="name">Markus</span>: What?.. <br /><span
                class="name"
                >North</span
            >: They're coming... <br /><span class="name">Markus</span>:
            Everyone fall back to Jericho. <br /><span class="name">North</span
            >: Now humans will have no choice but to listen to us... <br /><span
                class="name"
                >Markus</span
            >: They'll be afraid...and fear feeds hatred... <br /><span
                class="name"
                >North</span
            >: I'll take hatred over indifference.
        </div>
    </div>

    <p>
        <span class="name">Markus</span>: North! North... You alright? What
        happened? North! <br /><span class="name">North</span>: They killed
        them... they slaughtered them like animals... <br /><span class="name"
            >Markus</span
        >: Who did? Who? <br /><span class="name">Android</span>: They killed
        our people, Markus... <br /><span class="name">Android 2</span>: We want
        justice, Markus! <br /><span class="name">Android 3</span>: They have to
        pay! <br /><span class="name">Chris</span>: You don't have to do this...
        No... Please... Please...
    </p>
    <div class="choices">
        <em>REVENGE</em> [
        <span appRelation="small up">North</span>
        ]
        <div class="choice">
            <span class="name">Markus</span>: No crime against an android shall
            go unpunished.
        </div>
        <em>SPARE</em>
        <div class="choice">
            <span class="name">Markus</span>: An eye for an eye and the world
            goes blind... We won't punish a crime with another crime.
        </div>
        <em>DON'T DECIDE</em>
        <div class="choice">
            <span class="name">Markus</span>: It's up to you to decide.
        </div>
    </div>

    <mat-divider></mat-divider>

    <p>
        <span class="name">CTN TV - Michael Brinkley</span>: ...We interrupt
        this broadcast with breaking news... <br /><span class="name"
            >KNC - Rosanna Cartland</span
        >: This just in: at exactly 2AM several CyberLife stores in Detroit were
        raided... <br /><span class="name">Channel 16 - Michael Webb</span>:
        Different locations were hit in what seems to be a coordinated terrorist
        attack and we're getting more information as it comes in...
    </p>

    <div class="condition">
        <span class="name">Sent a pacifist message</span> [
        <span appRelation="large up">Public opinion</span>
        ]
        <div class="condition-text">
            <span class="name">KNC - Rosanna Cartland</span>: ...Most shop
            windows were covered with graffiti demanding rights for androids and
            other obscure slogans... <br /><span class="name"
                >Channel 16 - Michael Webb</span
            >: Police report that pro-android graffiti was found in the
            neighborhoods of CyberLife's stores and they're still
            investigating...
        </div>
    </div>

    <div class="condition">
        <span class="name">Sent an aggressive message</span> [
        <span appRelation="large down">Public opinion</span>
        ]
        <div class="condition-text">
            <span class="name">KNC - Rosanna Cartland</span>: Numerous
            storefronts have been broken, with cars vandalized and set alight,
            leaving many Detroit neighborhoods in chaos... <br /><span
                class="name"
                >Channel 16 - Michael Webb</span
            >: Property was damaged and fires continue to rage in several major
            districts across the city...
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="condition">
        <span class="name">Killed Chris and his partner</span> [
        <span appRelation="large down">Public opinion</span>
        ]
        <div class="condition-text">
            <span class="name">CTN TV - Michael Brinkley</span>: We're getting
            fresh reports that the bodies of two policemen patrolling the area
            were discovered near one of the CyberLife stores... <br /><span
                class="name"
                >KNC - Rosanna Cartland</span
            >: According to our sources, the two officers were executed with
            their own service weapons...
        </div>
    </div>

    <div class="condition">
        <span class="name">Didn't kill Chris and his partner</span>
        <div class="condition-text">
            <span class="name">CTN TV - Michael Brinkley</span>: We're getting
            fresh reports that two policemen were found in a state of shock near
            one of the CyberLife stores... <br /><span class="name"
                >Channel 16 - Michael Webb</span
            >: Now according to our sources, they confirm that the attackers
            were a group of androids...
        </div>
    </div>

    <p>
        <span class="name">KNC - Rosanna Cartland</span>: This is an alarming
        situation. Could our machines now be turning against us? <br /><span
            class="name"
            >CTN TV - Michael Brinkley</span
        >: Have androids become a threat to our security? <br /><span
            class="name"
            >Channel 16 - Michael Webb</span
        >: Is this the beginning of a terrorist campaign, conducted right here
        in the United States?
    </p>

    <h2>Mission failed</h2>
    <p>
        <span class="name">Josh / Simon</span>: Markus, we did it! All teams
        succeeded - our people are free. We're heading back to Jericho.
        <br /><span class="name">North</span>: Shit! We screwed up! Our people
        are still prisoners in that fucking store, and it's all our fault!
        <br /><span class="name">Markus</span>: No, it's my fault... I messed
        this up. At least our other teams succeeded. <br /><span class="name"
            >North</span
        >: How could you get this so wrong? I thought you knew what you were
        doing! <br /><span class="name">Markus</span>: I did what I could... I'm
        sorry that's not enough for you! <br /><span class="name">North</span>:
        No, it's not enough! This is a war we're fighting with the humans. If we
        fail, they'll destroy us. The fate of our people is in your hands. You
        have to succeed. You have no choice.
    </p>
</section>
