.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
    row-gap: 1rem;

    div.next {
        text-align: right;
    }

    a {
        color: #1f2444;
        transition: color 0.8s;
        -o-transition: color 0.8s;
        -ms-transition: color 0.8s;
        -moz-transition: color 0.8s;
        -webkit-transition: color 0.8s;
        text-decoration: none;
    }

    a:hover {
        color: #545c91;
    }
}
