<nav *ngIf="chapterNav">
    <div>
        <a
            *ngIf="chapterNav.previousChapterId !== null"
            [routerLink]="['/chapters', chapterNav.previousChapterId]"
        >
            <fa-icon icon="angle-left"></fa-icon> Previous chapter</a
        >
    </div>
    <div class="next">
        <a
            *ngIf="chapterNav.nextChapterId !== null"
            [routerLink]="['/chapters', chapterNav.nextChapterId]"
            >Next chapter <fa-icon icon="angle-right"></fa-icon
        ></a>
    </div>

    <div>
        <a
            *ngIf="chapterNav.previousCharacterChapterId !== null"
            [routerLink]="['/chapters', chapterNav.previousCharacterChapterId]"
        >
            <fa-icon icon="angle-left"></fa-icon> Previous
            {{ currentChapter.character }} chapter</a
        >
    </div>
    <div class="next">
        <a
            *ngIf="chapterNav.nextCharacterChapterId !== null"
            [routerLink]="['/chapters', chapterNav.nextCharacterChapterId]"
            >Next {{ currentChapter.character }} chapter
            <fa-icon icon="angle-right"></fa-icon
        ></a>
    </div>
</nav>
