<ng-container *transloco="let t">
	<section>
		<h1 id="store">In the Android Zone store</h1>

		<p>
			{{ t("GUI.MENU.DATE.01K2") }}
			<br />
			{{ t("GUI.MENU.TIME.01K1") }}
		</p>

		<pre>
MODEL AX400
SERIAL#: 579 102 694
BIOS 7.4 REVISION 0483
REBOOT...

MEMORY RESET

LOADING OS...
SYSTEM INITIALIZATION...
CHECKING BIOCOMPONENTS...  OK
INITIALIZING BIOSENSORS... OK
INITIALIZING AI ENGINE...  OK

MEMORY STATUS...
ALL SYSTEMS                OK

READY
</pre
		>

		<mat-divider></mat-divider>

		<p>
			<app-dialogue-line name="Android employee 1">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KSELLER01.MODELS01",
						0,
						4
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Woman">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KCUSTOW01.MODELS01"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Man">
				{{ t("X0101K.INTRO.LIME.PC.X01KCUSTOM01.MODELS01.1") }}
			</app-dialogue-line>
			<app-dialogue-line name="Android employee 1">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KSELLER01.MODELS01",
						4,
						6
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Man">
				{{ t("X0101K.INTRO.LIME.PC.X01KCUSTOM01.MODELS01.2") }}
			</app-dialogue-line>
			<app-dialogue-line name="Android employee 1">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KSELLER01.MODELS01",
						6
					) | async
				}}
			</app-dialogue-line>
		</p>

		<mat-divider></mat-divider>

		<p>
			<app-dialogue-line name="Mother">
				{{ t("X0101K.INTRO.LIME.FA.WOMGEN.COMEONV2") }}
			</app-dialogue-line>
		</p>

		<mat-divider></mat-divider>

		<p>
			<app-dialogue-line name="Man">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KCUSTOM02.MODELS02",
						0,
						3
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Android employee 2">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KSELLER02.MODELS02",
						0,
						2
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Man">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KCUSTOM02.MODELS02",
						3,
						5
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Android employee 2">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KSELLER02.MODELS02",
						2,
						4
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Man">
				{{ t("X0101K.INTRO.LIME.PC.X01KCUSTOM02.MODELS02.6") }}
			</app-dialogue-line>
			<app-dialogue-line name="Android employee 2">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KSELLER02.MODELS02",
						4,
						6
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Man">
				{{ t("X0101K.INTRO.LIME.PC.X01KCUSTOM02.MODELS02.7") }}
			</app-dialogue-line>
			<app-dialogue-line name="Android employee 2">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KSELLER02.MODELS02",
						6
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Man">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KCUSTOM02.MODELS02",
						7
					) | async
				}}
			</app-dialogue-line>
		</p>

		<mat-divider></mat-divider>

		<p>
			<app-dialogue-line name="Human employee">
				{{ t("X0101K.INTRO.LIME.PC.X01KSELLER03.MODELS03.1") }}
			</app-dialogue-line>
			<app-dialogue-line name="Todd">
				{{ t("X0101K.INTRO.LIME.PC.X01KEXTDAD.MODELS03.1") }}
			</app-dialogue-line>
			<app-dialogue-line name="Human employee">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KSELLER03.MODELS03",
						1,
						5
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Todd">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KEXTDAD.MODELS03",
						1,
						3
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Human employee">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KSELLER03.MODELS03",
						5,
						10
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Todd">
				{{ t("X0101K.INTRO.LIME.PC.X01KEXTDAD.MODELS03.4") }}
			</app-dialogue-line>

			<app-dialogue-line name="Human employee">
				{{
					translationService.translateObject(
						"X0101K.INTRO.LIME.PC.X01KSELLER03.MODELS03",
						10,
						12
					) | async
				}}
			</app-dialogue-line>

			<app-dialogue-line name="Todd">
				{{ t("X0101K.INTRO.LIME.PC.X01KEXTDAD.MODELS03.5") }}
			</app-dialogue-line>
			<app-dialogue-line name="Human employee">
				{{ t("X0101K.INTRO.LIME.PC.X01KSELLER03.MODELS03.13") }}
			</app-dialogue-line>
			<app-dialogue-line name="Todd">
				{{ t("X0101K.INTRO.LIME.PC.X01KEXTDAD.MODELS03.6") }}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{ t("X0101K.INTRO.LIME.FA.X01KKARA.MODELS04") }}
			</app-dialogue-line>
		</p>
	</section>
</ng-container>
