<div fxLayout="column" fxLayoutAlign="start stretch">
    <h1 mat-dialog-title fxFlex="1 0 auto">About</h1>
    <mat-dialog-content fxFlex="0 0 auto">
        <p><span class="name">Names</span> are written in bold.</p>
        <p>
            <strong>This is an action or an event</strong> <br />The associated
            dialogue being available below.
        </p>
        <div class="condition">
            <span class="name"
                >Conditions that affect dialogues are also in bold</span
            >
            <div class="condition-text">
                And the text that goes with it is written below.
            </div>
        </div>
        <p><span class="note">Notes</span> are in italic.</p>
        <div class="choices">
            <em>DIALOGUE CHOICES</em>
            <div class="choice">have their associated dialogue just below.</div>
        </div>

        <div gdColumns="auto 1fr" gdRows="auto">
            <p class="presentation-icon">
                [
                <fa-icon
                    icon="lock-open"
                    flip="horizontal"
                    class="important"
                ></fa-icon>
                ]
            </p>
            <p>
                means that the option has to be unlocked by a previous action.
            </p>
            <p class="presentation-icon">
                [ <fa-icon icon="skull" class="important"></fa-icon> ]
            </p>
            <p>indicates the death of a character.</p>
            <p class="presentation-icon">
                [ <fa-icon icon="hourglass-end" class="important"></fa-icon> ]
            </p>
            <p>indicates actions happening if you loose too much time.</p>
            <p class="presentation-icon">
                [ <fa-icon icon="tv" class="important"></fa-icon> ]
            </p>
            <p>indicates dialogues that can be heard on television.</p>
        </div>

        <mat-divider></mat-divider>
    </mat-dialog-content>
    <mat-dialog-actions fxFlex="1 0 auto">
        <br />
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>
