h1 {
    text-align: center;
}

.not-started {
    color: #750b0b;
    font-weight: 700;
}

.in-progress {
    color: #ebad3c;
    font-weight: 700;
}

.done {
    color: #59d689;
    font-weight: 700;
}

mat-dialog-content {
    max-height: 100%;
}

.chapter-progress-title {
    margin-right: 0.6em;
}

mat-divider {
    margin-top: 2em;
    margin-bottom: 2em;
}

.presentation-icon {
    margin-right: 0.4em;
}
