<p>
    NOV 6TH, 2038
    <br />PM 04:30
</p>

<section>
    <h1>At Ferndale station</h1>

    <p>
        <strong>Man on the phone</strong>
        <br /><span class="name">Man</span>: Hey. Yeah, I'm good. How about you?
        Oh yeah? So what did he say? Really? I'm not surprised. Apparently she
        did, yeah. I know! It's crazy, right? Sure, I'll talk to you later.
    </p>

    <p>
        <strong>Homeless man</strong>
        <br /><span class="name">Man</span>: Hey, mister, can you spare some
        change?
    </p>
    <p>
        <strong>Two people talking</strong>
        <br /><span class="name">Man</span>: I heard that android boyband is
        going to win some music prize. <br /><span class="name">Woman</span>:
        You mean Here4u? God, they are so creepy. <br /><span class="name"
            >Man</span
        >: My kids don't listen to anything else.
    </p>

    <p>
        <strong>Run into someone down the escalator</strong>
        <br /><span class="name">Man</span>: Oh, sorry... excuse me...
    </p>
    <p>
        <strong>Mother and child talking on a bench</strong>
        <br /><span class="name">Girl</span>: Are we really going to get rid of
        Mandy? <br /><span class="name">Mother</span>: Grandma says it leaves
        her with nothing to do, sweetie. <br /><span class="name">Girl</span>:
        But she's so cool! <br /><span class="name">Mother</span>: I know,
        honey.
    </p>

    <p>
        <strong>Talking to parked android</strong>
        <br /><span class="name">Markus</span>: Do you know where Jericho is?
    </p>

    <strong>Two people talking on the street</strong>
    <div class="condition">
        <span class="name">Carl died in <a href="chapters/8">Broken</a></span>
        <div class="condition-text">
            <p>
                <span class="name">Man</span>: You hear about that artist, Carl
                Manfred? <br /><span class="name">Woman</span>: Yeah... Kinda
                sad. <br /><span class="name">Man</span>: I heard his android
                killed him. <br /><span class="name">Woman</span>: Wh... Where
                d'you hear that? <br /><span class="name">Man</span>: I read it
                somewhere. <br /><span class="name">Woman</span>: Don't believe
                everything you read.
            </p>
        </div>
    </div>
    <div class="condition">
        <span class="name">Carl is alive</span>
        <div class="condition-text">
            <p>
                <span class="name">Man</span>: You hear about that artist, Carl
                Manfred? <br /><span class="name">Woman</span>: Yeah... I hope
                he makes it. <br /><span class="name">Man</span>: I heard his
                android attacked him. <br /><span class="name">Woman</span>:
                Wh... Where d'you hear that? <br /><span class="name">Man</span
                >: I read it somewhere. <br /><span class="name">Woman</span>:
                Don't believe everything you read.
            </p>
        </div>
    </div>

    <p>
        <strong>Homeless man on the street</strong>
        <br /><span class="name">Man</span>: Hey, you got a dollar? <br /><span
            class="name"
            >Man</span
        >: I need a dollar, I haven't eaten all day! <br /><span class="name"
            >Man</span
        >: Hey, listen, can you spare some cash?
    </p>

    <p>
        <strong>Children playing</strong>
        <br />- Come on, pass it!
    </p>

    <p>
        <strong>Finding Jericho</strong>
        <br /><span class="name">Simon</span>: Welcome to Jericho.
    </p>
</section>
