<section>
    <p>
        NOV 5TH, 2038
        <br />PM 04:53
    </p>

    <h1>At Todd's house</h1>

    <p>
        <strong
            ><fa-icon icon="hourglass-end"></fa-icon> Not coming
            immediately</strong
        >
        <br /><span class="name">Todd</span>: You comin' ?
    </p>

    <h2>Inside</h2>

    <p>
        <span class="name">Todd</span>: You've been gone for two weeks, so the
        place is a mess... You do the housework, the washing, you cook the
        meals, and you take care of... Goddamit! Where the fuck's the brat gone
        now? ALICE! ALICE! Oh, there you are... That's Alice. You look after
        her, homework, bath, all that crap... Got it? <br /><span class="name"
            >Kara</span
        >: Yes, Todd. <br /><span class="name">Todd</span>: Get started down
        here, then you do upstairs.
    </p>

    <p>
        <strong>Todd in the living room</strong>
        <br /><span class="name">Todd</span>: TV on.
    </p>
    <p>
        <strong>Todd on the phone</strong>
        <br /><span class="name">Todd</span>: Yeah? Maybe... Depends on what you
        need... Yeah, yeah, I can get that. Yeah, yeah, I'll bring it tomorrow.
        Yes, same place, you know, you know where. Right.
    </p>

    <p>
        <strong>Doing the dishes</strong> [
        <span appRelation="small up">Alice</span> ] <br /><span class="name"
            >Todd</span
        >: Kara! <br /><span class="name">Kara</span>: Yes, Todd? <br /><span
            class="name"
            >Todd</span
        >: Bring me a cold beer! <br /><span class="name">Kara</span>: Right
        away. <br /><span class="name">Todd</span>: Oh man.
    </p>

    <p>
        <strong>Looking at the TV for too long</strong>
        <br /><span class="name">Todd</span>: Whatta ya lookin' at? Get the fuck
        outta here! GET THE FUCK OUTTA HERE! <br /><span class="name">Kara</span
        >: I'll get back to work.
    </p>

    <p>
        <strong>Going in front of the TV</strong>
        <br /><span class="name">Todd</span>: Outta the way for fuck sake!
        <br /><span class="name">Kara</span>: I'm sorry, Todd. It won't happen
        again.
    </p>

    <p>
        <strong>Activating vacuum</strong>
        <br /><span class="name">Todd</span>: Alice! You better stop that right
        now! Why is she always pushin' me? Always pushin'...
    </p>

    <strong>Going in the garden - Talking with Alice</strong>
    <div class="choices">
        <em>GAME</em> [
        <span appRelation="small up">Alice</span>
        ]
        <div class="choice">
            <span class="name">Kara</span>: You look bored. Would you like to
            play a game?
        </div>
        <em>BACKYARD</em> [
        <span appRelation="small up">Alice</span>
        ]
        <div class="choice">
            <span class="name">Kara</span>: You like playing out here?
        </div>
        <em>WEATHER</em>
        <div class="choice">
            <span class="name">Kara</span>: It's not very nice out. You might
            catch cold, I could get you a sweater if you want.
        </div>
        <em>SCHOOL</em>
        <div class="choice">
            <span class="name">Kara</span>: Aren't you going to school today?
        </div>
    </div>

    <p>
        <strong>Rewash clothes - Find Red Ice</strong>
        <br /><span class="name">Todd</span>: You shouldn't mess around with my
        stuff. It makes me nervous... <br /><span class="name">Kara</span>: I'm
        sorry, Todd... <br /><span class="name">Todd</span>: You stay the fuck
        outta my business, unless you wanna piss me off... You wanna piss me
        off? <br /><span class="name">Kara</span>: No, Todd.
    </p>

    <strong>Talk to Alice (next to the window)</strong>
    <div class="choices">
        <em>TOY</em> [
        <span appRelation="small up">Alice</span>
        ]
        <div class="choice">
            <span class="name">Kara</span>: That's a pretty toy... What's its
            name?
        </div>
    </div>
    <p>
        <strong>Taking out the trash – enter the house again</strong>
        <br /><span class="name">Todd</span>: What the fuck, man?
    </p>
    <p>
        <strong>Background dialogues</strong>
        <br /><span class="name">Todd</span>: Fucking headache, man. The girl's
        a fucking headache.
    </p>

    <h2>Upstairs</h2>
    <p>
        <span class="name">Kara</span>: I've made a good start down here. I'll
        head upstairs. <br /><span class="name">Todd</span>: Do what you have to
        do but stop botherin' me.
    </p>

    <h3>In Todd's room</h3>
    <p>
        <strong><fa-icon icon="tv"></fa-icon> Looking at the TV</strong>
        <br /><span class="name">Michael Webb - Channel 16</span>: And now to
        sports. First up, basketball: as the Gears prepare for their critical
        match with Denver tonight at the CyberLife Arena in Detroit, league
        negotiations are still on-going over the possibility of allowing one
        android player per squad. Debate rages as to whether the change would
        lead to more exciting matches, or be the first step in making human
        players obsolete. CyberLife has announced its willingness to participate
        in the experiment by providing one specialized model to every team. Now,
        androids are already used to train players and provide tactical advice
        for coaches since 2035, but no android player has been permitted to
        compete, so far. <br /><span class="name"
            >Michael Brinkley - CTN TV</span
        >: Another 225,000 jobs were lost from the US economy in October,
        according to the Department of Labor, bringing the unemployment figure
        up to 37.3%. <br /><span class="name">Rosanna Cartland - KNC</span>:
        President Warren spoke today at the opening of a new CyberLife plant
        near Milwaukee. At the event, the President again praised CyberLife's
        role in the exceptional performance of the US economy. She further
        announced that the Department of Defense will acquire 200,000 android
        combat units as part of her increased military spending.
    </p>

    <p>
        <strong>Running into Todd</strong>
        <br /><span class="name">Todd</span>: Watch it.
    </p>

    <h3>In Alice's room</h3>
    <div class="condition">
        <strong>Todd's room was cleaned before Alice's room</strong>
        <div class="condition-text">
            <span class="name">Kara</span>: I just want to tidy up your room a
            little. I only need two minutes. Is that okay, Alice?
        </div>
    </div>

    <p>
        <strong>Looking at the book on the floor</strong> [
        <span appRelation="small up">Alice</span>
        ]
        <br /><span class="name">Kara</span>: Alice in Wonderland... of
        course...
    </p>

    <p>
        <strong>Looking at books</strong>
        <br /><span class="name">Kara</span>: Seems you like reading...
    </p>

    <strong>Talking with Alice</strong>
    <div class="choices">
        <em>FACTUAL</em>
        <div class="choice">
            <span class="name">Kara</span>: If you give me some personal
            information, I could take better care of you.
        </div>
        <em>FRIENDLY</em> [
        <span appRelation="small up">Alice</span>
        ]
        <div class="choice">
            <span class="name">Kara</span>: I'm sure we used to be friends
            before I was reset. Maybe we can be friends again.
        </div>
        <em>DIPLOMATIC</em> [
        <span appRelation="small up">Alice</span>
        ]
        <div class="choice">
            <span class="name">Kara</span>: I know I used to live here, but they
            erased my memory... I thought maybe you could help me get my
            bearings, give me some advice, that kind of thing.
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>NAME KARA</em> [
        <span appRelation="small up">Alice</span>
        ]
        <div class="choice">
            <span class="name">Kara</span>: Your father said you chose my name.
            Kara, it's nice. How did you choose it?
        </div>
        <em>INTERESTS?</em> [
        <span appRelation="small up">Alice</span>
        ]
        <div class="choice">
            <span class="name">Kara</span>: You should tell me about yourself,
            what you like to do, where you like to go, your favorite foods...
            That would really help me.
        </div>
        <em>SEEM QUIET</em>
        <div class="choice">
            <span class="name">Kara</span>: You're very quiet. I hope I don't
            scare you.
        </div>
        <em>MOTHER?</em> [
        <span appRelation="small down">Alice</span>
        ]

        <div class="choice">
            <span class="name">Kara</span>: What about your mother? Will she be
            home soon?
        </div>
        <em>LEAVE ALONE</em>
        <div class="choice">
            <span class="name">Kara</span>: Okay. I can see you want some space.
            I'll leave you alone...
        </div>
    </div>

    <h2>Going back downstairs</h2>
    <p>
        <span class="name">Todd</span>: What are you doing? <br /><span
            class="name"
            >Alice</span
        >: I... I'm playing... <br /><span class="name">Todd</span>: You're
        playing... I know what you're thinking... You think your dad's a
        lowlife... Huh? Fucking loser?.. Can't get a job, take care of his
        family? Don't you think I tried to make things work? But whatever I do,
        when someone comes along they just FUCK IT ALL UP! I know what you think
        of me... You hate me... You hate me don't you?... SAY IT! YOU HATE ME!
        God what am I doing? I'm sorry honey, I'm sorry... I'm sorry... You know
        I love you, don't you?... You know I love you...
    </p>
</section>
