<ng-container *transloco="let t">
	<section aria-labelledby="roof">
		<h1 id="roof">On the roof</h1>

		<p>
			{{ t("GUI.MENU.DATE.10M") }}
			<br />
			{{ t("GUI.MENU.TIME.10M") }}
		</p>

		<p>
			<app-dialogue-line name="North">
				{{ t("X1001M.ROOF.NORTH.PC.X10MMARLA.WONDERING") }}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE01.THINK')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{ t("X1001M.ROOF.NORTH.PC.X10MMARKUS.01THINK") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE01.ALONE')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{ t("X1001M.ROOF.NORTH.PC.X10MMARKUS.01ALONE") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE01.EXCUSE')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{ t("X1001M.ROOF.NORTH.PC.X10MMARKUS.01EXCUSE") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<p>
			<app-dialogue-line name="North">
				{{
					translationService.translateObject(
						"X1001M.ROOF.NORTH.PC.X10MMARLA.01CONT"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE02.TROUBLED')"
				[brackets]="true"
			>
				<p>
					<app-unlock-condition [unlockType]="UnlockType.Lock">
						Sent a pacifist message in
						<a [routerLink]="['/chapters', 26]">Capitol Park</a>
					</app-unlock-condition>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.02TROUBLED"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE02.CONFESSION')"
				[brackets]="true"
			>
				<p>
					<app-unlock-condition [unlockType]="UnlockType.Lock">
						Sent an aggressive message in
						<a [routerLink]="['/chapters', 26]">Capitol Park</a>
					</app-unlock-condition>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.02CONFESSION"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE02.REGRETPOLICE')"
				[brackets]="true"
			>
				<p>
					<app-unlock-condition [unlockType]="UnlockType.Lock">
						Markus killed Chris and his partner in
						<a [routerLink]="['/chapters', 26]">Capitol Park</a>
					</app-unlock-condition>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.02REGRETPOLICE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE02.FAILED')"
				[brackets]="true"
			>
				<p>
					<app-unlock-condition [unlockType]="UnlockType.Lock">
						Failed to free the androids in
						<a [routerLink]="['/chapters', 26]">Capitol Park</a>
					</app-unlock-condition>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.02FAILED"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE02.NEXTSTEP')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.02NEXTSTEP"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE02.LIE')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.02LIE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE02.SINCERE')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.02SINCERE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<p>
			<app-dialogue-line name="North">
				{{
					translationService.translateObject(
						"X1001M.ROOF.NORTH.PC.X10MMARLA.02CONT"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE03.OPTIMISTIC')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.03OPTIMISTIC"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE03.PESSIMISTIC')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.03PESSIMISTIC"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE03.FATALISTIC')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.03FATALISTIC"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE03.DETERMINED')"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.03DETERMINED"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<p>
			<app-dialogue-line name="North">
				{{
					translationService.translateObject(
						"X1001M.ROOF.NORTH.PC.X10MMARLA.03CONT"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE04.TRUTH')"
			>
				<p>
					<app-relation
						[name]="RelationName.North"
						[type]="RelationType.SmallUp"
					></app-relation>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.04TRUTH"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE04.SINCERE')"
			>
				<p>
					<app-relation
						[name]="RelationName.North"
						[type]="RelationType.SmallUp"
					></app-relation>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.04SINCERE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE04.EVADE')"
			>
				<p>
					<app-relation
						[name]="RelationName.North"
						[type]="RelationType.SmallDown"
					></app-relation>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.04EVADE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE04.NOTIMPORTANT')"
			>
				<p>
					<app-relation
						[name]="RelationName.North"
						[type]="RelationType.SmallDown"
					></app-relation>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.04NOTIMPORTANT"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<mat-divider></mat-divider>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE05.NORTHSPAST')"
			>
				<p>
					<app-relation
						[name]="RelationName.North"
						[type]="RelationType.SmallUp"
					></app-relation>

					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.ROOF.NORTH.PC.X10MMARKUS.05NORTHPAST"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<app-condition-group>
					<app-conditioned-content>
						<div class="condition"><p>North is hostile</p></div>
						<div class="content">
							<p>
								<app-dialogue-line name="North">
									{{
										translationService.translateObject(
											"X1001M.ROOF.NORTH.PC.X10MMARLA.05NOCONFIDENCE"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</div>
					</app-conditioned-content>
					<app-conditioned-content>
						<div class="condition"><p>North is not hostile</p></div>
						<div class="content">
							<p>
								<app-dialogue-line name="North">
									{{
										t(
											"X1001M.ROOF.NORTH.PC.X10MMARLA.05CONFIDENCE"
										)
									}}
								</app-dialogue-line>
							</p>

							<app-choice-group>
								<app-choice-item
									[choiceLabel]="
										t(
											'X1001M.ROOF.NORTH.PC.CHOICE06.PSYCHOLOGICAL'
										)
									"
									[brackets]="true"
								>
									<p>
										<app-unlock-condition
											[unlockType]="UnlockType.Lock"
										>
											Looked at the other North in
											<a [routerLink]="['/chapters', 26]"
												>Capitol Park</a
											>
										</app-unlock-condition>
										<app-relation
											[name]="RelationName.North"
											[type]="RelationType.SmallUp"
										></app-relation>
										<app-dialogue-line name="Markus">
											{{
												translationService.translateObject(
													"X1001M.ROOF.NORTH.PC.X10MMARKUS.06PSYCHOLOGICAL"
												) | async
											}}
										</app-dialogue-line>
									</p>
								</app-choice-item>
								<app-choice-item
									[choiceLabel]="
										t(
											'X1001M.ROOF.NORTH.PC.CHOICE06.SINCERE'
										)
									"
								>
									<p>
										<app-relation
											[name]="RelationName.North"
											[type]="RelationType.SmallUp"
										></app-relation>
										<app-dialogue-line name="Markus">
											{{
												translationService.translateObject(
													"X1001M.ROOF.NORTH.PC.X10MMARKUS.06SINCERE"
												) | async
											}}
										</app-dialogue-line>
									</p>
								</app-choice-item>
								<app-choice-item
									[choiceLabel]="
										t(
											'X1001M.ROOF.NORTH.PC.CHOICE06.AGGRESSIVE'
										)
									"
								>
									<p>
										<app-relation
											[name]="RelationName.North"
											[type]="RelationType.SmallDown"
										></app-relation>
										<app-dialogue-line name="Markus">
											{{
												translationService.translateObject(
													"X1001M.ROOF.NORTH.PC.X10MMARKUS.06AGGRESSIVE"
												) | async
											}}
										</app-dialogue-line>
										<app-dialogue-line name="North">
											{{
												translationService.translateObject(
													"X1001M.ROOF.NORTH.PC.X10MMARLA.06AGGRESSIVE"
												) | async
											}}
										</app-dialogue-line>
									</p>
								</app-choice-item>
								<app-choice-item
									[choiceLabel]="
										t(
											'X1001M.ROOF.NORTH.PC.CHOICE06.CURIOUS'
										)
									"
								>
									<p>
										<app-relation
											[name]="RelationName.North"
											[type]="RelationType.SmallUp"
										></app-relation>
										<app-dialogue-line name="Markus">
											{{
												translationService.translateObject(
													"X1001M.ROOF.NORTH.PC.X10MMARKUS.06CURIOUS"
												) | async
											}}
										</app-dialogue-line>
										<app-dialogue-line name="North">
											{{
												t(
													"X1001M.ROOF.NORTH.PC.X10MMARLA.06CURIOUS"
												)
											}}
										</app-dialogue-line>
									</p>
								</app-choice-item>
								<app-choice-item
									[choiceLabel]="
										t(
											'X1001M.ROOF.NORTH.PC.CHOICE06.UNDERSTANDING'
										)
									"
								>
									<p>
										<app-relation
											[name]="RelationName.North"
											[type]="RelationType.SmallUp"
										></app-relation>
										<app-dialogue-line name="Markus">
											{{
												translationService.translateObject(
													"X1001M.ROOF.NORTH.PC.X10MMARKUS.06UNDERSTANDING"
												) | async
											}}
										</app-dialogue-line>
									</p>
								</app-choice-item>
								<app-choice-item
									[choiceLabel]="
										t(
											'X0603C.CRIMESCENE.INTERROGATE.PC.CHOICEGROUP01.TIMEOUT'
										)
									"
									[brackets]="true"
								>
									<p>
										<app-relation
											[name]="RelationName.North"
											[type]="RelationType.SmallDown"
										></app-relation>
										<app-dialogue-line name="Markus">
											{{
												translationService.translateObject(
													"X1001M.ROOF.NORTH.PC.X10MMARKUS.06RELENT"
												) | async
											}}
										</app-dialogue-line>
										<app-dialogue-line name="North">
											{{
												translationService.translateObject(
													"X1001M.ROOF.NORTH.PC.X10MMARLA.06RELENTMARLA"
												) | async
											}}
										</app-dialogue-line>
									</p>
								</app-choice-item>
							</app-choice-group>

							<mat-divider></mat-divider>

							<app-condition-group>
								<app-conditioned-content>
									<div class="condition">
										<p>North is friend or higher</p>
									</div>
									<div class="content">
										<p>
											<app-dialogue-line name="North">
												{{
													translationService.translateObject(
														"X1001M.ROOF.NORTH.PC.X10MMARLA.06CONT"
													) | async
												}}
											</app-dialogue-line>
										</p>

										<section
											aria-labelledby="connect-north"
										>
											<h2 id="connect-north">
												Connect with North
											</h2>
											<p>
												<app-relation
													[name]="RelationName.North"
													[type]="
														RelationType.LargeUp
													"
												></app-relation>
												<app-dialogue-line name="North">
													{{
														translationService.translateObject(
															"X1001M.ROOF.NORTH.PC.X10MMARLA.REACTMARLA"
														) | async
													}}
												</app-dialogue-line>
												<app-dialogue-line
													name="Markus"
												>
													{{
														translationService.translateObject(
															"X1001M.ROOF.NORTH.PC.X10MMARKUS.REACTMARKUS"
														) | async
													}}
												</app-dialogue-line>
											</p>
										</section>
									</div>
								</app-conditioned-content>
							</app-condition-group>
						</div>
					</app-conditioned-content>
				</app-condition-group>
			</app-choice-item>

			<app-choice-item
				[choiceLabel]="t('X1001M.ROOF.NORTH.PC.CHOICE05.LEAVE')"
			>
				<p>
					<app-relation
						[name]="RelationName.North"
						[type]="RelationType.SmallDown"
					></app-relation>
					<app-dialogue-line name="North">
						{{ t("X1001M.ROOF.NORTH.PC.X10MMARLA.05LEAVE") }}
					</app-dialogue-line>
					<app-dialogue-line name="Markus">
						{{ t("X1001M.ROOF.NORTH.PC.X10MMARKUS.05LEAVE") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>
	</section>

	<section aria-labelledby="mall">
		<h1 id="mall">In the Mall</h1>
		<p>
			<app-dialogue-line name="North">
				{{
					translationService.translateObject(
						"X1001M.MALL.ARRIVAL.PC.X10MMARLA.INTRO01"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Josh">
				{{
					translationService.translateObject(
						"X1001M.MALL.ARRIVAL.PC.X10MJOSH.INTRO02"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="North">
				{{ t("X1001M.MALL.ARRIVAL.PC.X10MMARLA.INTRO03.1") }}
			</app-dialogue-line>
			<app-dialogue-line name="Josh">
				{{ t("X1001M.MALL.ARRIVAL.PC.X10MJOSH.INTRO03") }}
			</app-dialogue-line>
			<app-dialogue-line name="North">
				{{
					translationService.translateObject(
						"X1001M.MALL.ARRIVAL.PC.X10MMARLA.INTRO03",
						1
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Markus">
				{{
					translationService.translateObject(
						"X1001M.MALL.ARRIVAL.PC.X10MMARKUS.INTRO04"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-condition-group>
			<app-conditioned-content>
				<div class="condition">
					<p>Simon is alive</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Simon">
							{{
								translationService.translateObject(
									"X1001M.MALL.ARRIVAL.FA.X10MSIMON.SIMONALIVE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition">
					<p>Simon is dead</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Josh">
							{{
								translationService.translateObject(
									"X1001M.MALL.ARRIVAL.FA.X10MJOSH.SIMONDEAD"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
		</app-condition-group>

		<section aria-labelledby="couple-bike">
			<h2 id="couple-bike">Couple looking at bike ad</h2>
			<p>
				<app-dialogue-line name="Man">
					{{ t("X1001M.PBY.LINES.FA.X10MSPORTGUY.IDLOVE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Woman">
					{{ t("X1001M.PBY.LINES.FA.X10MSPORTGIRL.GETIT") }}
				</app-dialogue-line>
				<app-dialogue-line name="Man">
					{{
						translationService.translateObject(
							"X1001M.PBY.LINES.FA.X10MSPORTGUY.EXPENSIVE"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Woman">
					{{ t("X1001M.PBY.LINES.FA.X10MSPORTGIRL.MOTIVATE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Man">
					{{
						translationService.translateObject(
							"X1001M.PBY.LINES.FA.X10MSPORTGUY.COMEON"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="couple-talk">
			<h2 id="couple-talk">Couple talking</h2>
			<p>
				<app-dialogue-line name="Man">
					{{ t("X1001M.PBY.LINES.FA.X10MCOUPLEMAN03.BABE01") }}
				</app-dialogue-line>
				<app-dialogue-line name="Woman">
					{{ t("X1001M.PBY.LINES.FA.X10MCOUPLEWOM03.BABE02") }}
				</app-dialogue-line>
				<app-dialogue-line name="Man">
					{{
						translationService.translateObject(
							"X1001M.PBY.LINES.FA.X10MCOUPLEMAN03",
							1,
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Woman">
					{{ t("X1001M.PBY.LINES.FA.X10MCOUPLEWOM03.YOUPIG02") }}
				</app-dialogue-line>
				<app-dialogue-line name="Man">
					{{ t("X1001M.PBY.LINES.FA.X10MCOUPLEMAN03.YOUPIG03") }}
				</app-dialogue-line>
				<app-dialogue-line name="Woman">
					{{ t("X1001M.PBY.LINES.FA.X10MCOUPLEWOM03.YOUPIG04") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="group-talk">
			<h2 id="group-talk">Group talking</h2>
			<p>
				<app-dialogue-line name="Man 1">
					{{ t("X1001M.PBY.LINES.FA.X10MMAN02.01CHITCHAT01") }}
				</app-dialogue-line>
				<app-dialogue-line name="Man 2">
					{{
						translationService.translateObject(
							"X1001M.PBY.LINES.FA.X10MMAN01.01CHITCHAT02"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Man 3">
					{{ t("X1001M.PBY.LINES.FA.X10MMAN03.02CHITCHAT01") }}
				</app-dialogue-line>
				<app-dialogue-line name="Man 2">
					{{ t("X1001M.PBY.LINES.FA.X10MMAN01.02CHITCHAT02") }}
				</app-dialogue-line>
				<app-dialogue-line name="Man 3">
					{{
						translationService.translateObject(
							"X1001M.PBY.LINES.FA.X10MMAN03.02CHITCHAT03"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Man 1">
					{{ t("X1001M.PBY.LINES.FA.X10MMAN02.02CHITCHAT04") }}
					{{
						translationService.translateObject(
							"X1001M.PBY.LINES.FA.X10MMAN02.03CHITCHAT01"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Man 2">
					{{ t("X1001M.PBY.LINES.FA.X10MMAN01.03CHITCHAT02") }}
				</app-dialogue-line>
				<app-dialogue-line name="Man 3">
					{{ t("X1001M.PBY.LINES.FA.X10MMAN03.03CHITCHAT03") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="woman-phone">
			<h2 id="woman-phone">Woman on the phone</h2>
			<p>
				<app-dialogue-line name="Woman">
					{{
						translationService.translateObject(
							"X1001M.PBY.LINES.FA.X10MPHONEWOMAN.PARANO"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="try-leave">
			<h2 id="try-leave">
				Attempting to go out of the mall without converting any androids
			</h2>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition"><p>Simon is alive</p></div>
					<div class="content">
						<app-dialogue-line name="Simon">
							{{
								translationService.translateObject(
									"X1001M.MALL.CALLBACK.FA.X10MSIMON.UTURN01"
								) | async
							}}
						</app-dialogue-line>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition"><p>Simon is dead</p></div>
					<div class="content">
						<app-dialogue-line name="Josh">
							{{
								translationService.translateObject(
									"X1001M.MALL.CALLBACK.FA.X10MJOSH.UTURN02"
								) | async
							}}
						</app-dialogue-line>
					</div>
				</app-conditioned-content>
			</app-condition-group>
		</section>

		<section aria-labelledby="convert-mall">
			<h2 id="convert-mall">Convert android</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{ t("X1001M.CONVERSION.ANDROID.FA.X10MMARKUS.FREE01") }}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{ t("X1001M.CONVERSION.ANDROID.FA.X10MMARKUS.FREE05") }}
				</app-dialogue-line>
			</p>
		</section>
	</section>

	<section aria-labelledby="street">
		<h1 id="street">In the street</h1>

		<section aria-labelledby="man-phone">
			<h2 id="man-phone">Man on the phone</h2>
			<p>
				<app-dialogue-line name="Man">
					{{
						translationService.translateObject(
							"X1001M.PBY.LINES.FA.X10MPHONEGUY.COMPLAIN01"
						) | async
					}}
					{{
						translationService.translateObject(
							"X1001M.PBY.LINES.FA.X10MPHONEGUY.COMPLAIN02"
						) | async
					}}
					{{
						translationService.translateObject(
							"X1001M.PBY.LINES.FA.X10MPHONEGUY.COMPLAIN03"
						) | async
					}}
					{{ t("X1001M.PBY.LINES.FA.X10MPHONEGUY.COMPLAIN04") }}
					{{ t("X1001M.PBY.LINES.FA.X10MPHONEGUY.COMPLAIN05") }}
					{{
						translationService.translateObject(
							"X1001M.PBY.LINES.FA.X10MPHONEGUY.COMPLAIN06"
						) | async
					}}
					{{
						translationService.translateObject(
							"X1001M.PBY.LINES.FA.X10MPHONEGUY.COMPLAIN07"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="convert-street">
			<h2 id="convert-street">Convert androids</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{
						t(
							"X0802M.CYBERSHOP.FREEANDROIDS.FA.X08MMARKUS.FREEME03.2"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Markus">
					{{
						t(
							"X0802M.CYBERSHOP.FREEANDROIDS.FA.X08MMARKUS.FREEME03.1"
						)
					}}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Markus">
					{{ t("X1001M.STAGE01.TRUCK.FA.X10MMARKUS.BLOCKM") }}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Markus">
					{{ t("X0802M.ROADBLOCK.ROADMEN.FA.X08MMARKUS.FREE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Man">
					{{
						translationService.translateObject(
							"X1001M.STAGE01.HUMAN.FA.X10MAGRESSIVMAN.FREE"
						) | async
					}}
					{{ t("X1001M.STAGE01.HUMAN.FA.X10MAGRESSIVMAN.STAY01") }}
					{{ t("X1001M.STAGE01.HUMAN.FA.X10MAGRESSIVMAN.STAY02") }}
					{{ t("X1001M.STAGE01.HUMAN.FA.X10MAGRESSIVMAN.STAY03") }}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X1001M.STAGE01.HUMAN.PC.RETAINING.CONVINCE')
					"
				>
					<p>
						<app-dialogue-line name="Markus">
							{{
								t("X1001M.STAGE01.HUMAN.FA.X10MMARKUS.CONVINCE")
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X1001M.STAGE01.HUMAN.PC.RETAINING.INTERVENE')
					"
				>
					<p>&oslash;</p>
				</app-choice-item>
			</app-choice-group>
		</section>
	</section>

	<section aria-labelledby="march">
		<h1 id="march">Start the march</h1>

		<section aria-labelledby="convert-march">
			<h2 id="convert-march">Convert androids</h2>
			<p>
				<app-dialogue-line name="Markus">
					{{ t("X1001M.CONVERSION.ANDROID.VO.X10MMARKUS.FREE02") }}
				</app-dialogue-line>
				<app-dialogue-line name="Man">
					{{
						translationService.translateObject(
							"X1001M.CONVERSION.REACT.FA.X10MMAN01.MAN01"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Man">
					{{
						translationService.translateObject(
							"X1001M.CONVERSION.REACT.FA.X10MMAN02.MAN02"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Man">
					{{
						translationService.translateObject(
							"X1001M.CONVERSION.REACT.FA.X10MMAN03.MAN03"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Woman">
					{{
						translationService.translateObject(
							"X1001M.CONVERSION.REACT.FA.X10MWOM03.WOM03"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Woman">
					{{
						translationService.translateObject(
							"X1001M.CONVERSION.REACT.FA.X10MWOM01.WOM01"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="march-reaction">
			<h2 id="march-reaction">People reacting to the march</h2>
			<ul>
				<li>
					{{
						translationService.translateObject(
							"X1001M.STAGE02.REACTNEUTRAL.FA.X10MMAN01"
						) | async
					}}
				</li>
				<li>
					{{ t("X1001M.STAGE02.REACTNEUTRAL.FA.X10MMAN02.MAN02") }}
				</li>
				<li>
					{{
						translationService.translateObject(
							"X1001M.STAGE02.REACTNEUTRAL.FA.X10MMAN02.WOM02"
						) | async
					}}
				</li>
				<li>
					{{ t("X1001M.STAGE02.REACTNEUTRAL.FA.X10MMAN03.MAN03") }}
				</li>
				<li>
					{{ t("X1001M.STAGE02.REACTNEUTRAL.FA.X10MWOM01.MAN01V2") }}
				</li>
				<li>
					{{ t("X1001M.STAGE02.REACTNEUTRAL.FA.X10MWOM03.MAN03V2") }}
				</li>
			</ul>

			<app-condition-group>
				<app-conditioned-content>
					<div class="condition">
						<p>
							Shot the cops in
							<a [routerLink]="['/chapters', 26]">Capitol Park</a>
						</p>
					</div>
					<div class="content">
						<ul>
							<li>
								{{
									translationService.translateObject(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MMAN04"
									) | async
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MMAN01.WOM01"
									)
								}}
							</li>
							<li>
								{{
									translationService.translateObject(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MMAN05"
									) | async
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MMAN09.MAN09"
									)
								}}
							</li>
							<li>
								{{
									translationService.translateObject(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MMAN02"
									) | async
								}}
							</li>
							<li>
								{{
									translationService.translateObject(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MMAN03"
									) | async
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MMAN06.MAN06"
									)
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MWOM07.MAN07"
									)
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MMAN08.MAN08"
									)
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MMAN10.MAN10"
									)
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MWOM04.WOM04"
									)
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MWOM06.WOM06"
									)
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MMAN07.WOM07"
									)
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MMAN11.MAN11"
									)
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MWOM08.MAN08V2"
									)
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTHOSTILE.FA.X10MWOM02.WOM02V2"
									)
								}}
							</li>
						</ul>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition">
						<p>
							Didn't shoot the cops in
							<a [routerLink]="['/chapters', 26]">Capitol Park</a>
						</p>
					</div>
					<div class="content">
						<ul>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTFRIENDLY.FA.X10MMAN01.MAN01"
									)
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTFRIENDLY.FA.X10MMAN02.WOM02"
									)
								}}
							</li>
							<li>
								{{
									translationService.translateObject(
										"X1001M.STAGE02.REACTFRIENDLY.FA.X10MWOM02"
									) | async
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTFRIENDLY.FA.X10MMAN03.MAN03"
									)
								}}
							</li>
							<li>
								{{
									t(
										"X1001M.STAGE02.REACTFRIENDLY.FA.X10MWOM01.WOM01V2"
									)
								}}
							</li>
						</ul>
					</div>
				</app-conditioned-content>
			</app-condition-group>
		</section>

		<p>
			<app-dialogue-line name="Policeman">
				{{
					translationService.translateObject(
						"X1001M.STAGE02.POLICEMAN.PC.X10MPOLICEMAN01.DISPERSE"
					) | async
				}}
				{{ t("X1001M.STAGE02.POLICEMAN.PC.X10MPOLICEMAN01.ADVANCE") }}
				{{
					translationService.translateObject(
						"X1001M.STAGE02.POLICEMAN.PC.X10MPOLICEMAN01.ALERT"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<p>
			<app-dialogue-line name="Markus">
				{{
					translationService.translateObject(
						"X1001M.FINALSTAGE.SPEECH.PC.X10MMARKUS.START01"
					) | async
				}}
				{{ t("X1001M.FINALSTAGE.SPEECH.PC.X10MMARKUS.START01A") }}
			</app-dialogue-line>
			<app-dialogue-line name="Policeman">
				{{
					t(
						"X1001M.FINALSTAGE.SPEECH.PC.X10MRIOTPOLICECHIEF.START02.1"
					)
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Markus">
				{{
					translationService.translateObject(
						"X1001M.FINALSTAGE.SPEECH.PC.X10MMARKUS.START01B"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Policeman">
				{{
					translationService.translateObject(
						"X1001M.FINALSTAGE.SPEECH.PC.X10MRIOTPOLICECHIEF.START02",
						1
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="North">
				{{
					translationService.translateObject(
						"X1001M.FINALSTAGE.SPEECH.PC.X10MMARLA.DECISION"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Josh">
				{{ t("X1001M.FINALSTAGE.SPEECH.PC.X10MJOSH.DECISION") }}
			</app-dialogue-line>
			<app-dialogue-line name="Simon">
				{{
					translationService.translateObject(
						"X1001M.FINALSTAGE.SPEECH.PC.X10MSIMON.DECISIONSIMON"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Policeman">
				{{
					translationService.translateObject(
						"X1001M.FINALSTAGE.SPEECH.PC.X10MRIOTPOLICECHIEF.START03"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="
					t('X1001M.FINALSTAGE.SPEECH.PC.DECISIONCHOICE.ATTACK')
				"
			>
				<p>
					<app-dialogue-line name="Josh">
						{{
							t("X1001M.FINALSTAGE.SPEECH.PC.X10MJOSH.ASSAULT01")
						}}
					</app-dialogue-line>
				</p>

				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1001M.FINALSTAGE.SPEECH.PC.ASSAULTCHOICE.CONFIRM'
							)
						"
					>
						<p>
							<app-dialogue-line name="Markus">
								{{
									t(
										"X1001M.FINALSTAGE.SPEECH.PC.X10MMARKUS.CONFIRM"
									)
								}}
							</app-dialogue-line>
						</p>

						<app-condition-group>
							<app-conditioned-content>
								<div class="condition">
									<p>Win the fight</p>
								</div>
								<div class="content">
									<p>
										<app-relation
											[name]="RelationName.Jericho"
											[type]="RelationType.LargeUp"
										></app-relation>
										<app-relation
											[name]="RelationName.PublicOpinion"
											[type]="RelationType.LargeDown"
										></app-relation>
										<app-dialogue-line name="Android">
											{{
												t(
													"X1001M.ATTACK.CHARGE.PC.X10MRIOTPOLICECHIEF.MARKUSWINS01.1"
												)
											}}
										</app-dialogue-line>
									</p>

									<app-choice-group>
										<app-choice-item
											[choiceLabel]="
												t('GUI.ACTION.REVENGE')
											"
										>
											<p>&oslash;</p>
										</app-choice-item>
										<app-choice-item
											[choiceLabel]="
												t('GUI.ACTION.SPARE')
											"
										>
											<p>
												<app-dialogue-line name="North">
													{{
														translationService.translateObject(
															"X1001M.ATTACK.CHARGE.PC.X10MMARLA.MARKUSWINSMARLA01"
														) | async
													}}
												</app-dialogue-line>
											</p>
										</app-choice-item>
									</app-choice-group>

									<p>
										<app-dialogue-line name="Android">
											{{
												t(
													"X1001M.ATTACK.CHARGE.PC.X10MSIMON.MARKUSWINS02JOHN01.1"
												)
											}}
										</app-dialogue-line>
									</p>
								</div>
							</app-conditioned-content>
							<app-conditioned-content>
								<div class="condition">
									<p>Lose the fight</p>
								</div>
								<div class="content">
									<p>
										<app-relation
											[name]="RelationName.Jericho"
											[type]="RelationType.LargeDown"
										></app-relation>
										<app-dialogue-line name="Markus">
											{{
												t(
													"X1001M.ESCAPE.RUN.PC.X10MMARKUS.RUNM"
												)
											}}
										</app-dialogue-line>
										<app-dialogue-line name="North">
											{{
												t(
													"X1001M.ESCAPE.RUN.PC.X10MMARLA.RUN"
												)
											}}
										</app-dialogue-line>
									</p>

									<app-choice-group>
										<app-choice-item
											[choiceLabel]="
												t(
													'X1001M.ESCAPE.RUN.PC.SHOOTCHOICE.SHOOT'
												)
											"
										>
											<p>
												<app-dialogue-line name="North">
													{{
														translationService.translateObject(
															"X1001M.ESCAPE.RUN.PC.X10MMARLA.SHOOT",
															0,
															2
														) | async
													}}
												</app-dialogue-line>
												<app-dialogue-line name="Josh">
													{{
														t(
															"X1001M.ESCAPE.RUN.PC.X10MJOSH.SHOOT"
														)
													}}
												</app-dialogue-line>
												<app-dialogue-line name="North">
													{{
														t(
															"X1001M.ESCAPE.RUN.PC.X10MMARLA.SHOOT.3"
														)
													}}
												</app-dialogue-line>
											</p>
										</app-choice-item>
										<app-choice-item
											[choiceLabel]="
												t(
													'X1001M.ESCAPE.RUN.PC.SHOOTCHOICE.DONTSHOOT'
												)
											"
										>
											<p class="note">
												<span dir="ltr"
													>See SACRIFICE.</span
												>
											</p>
										</app-choice-item>
									</app-choice-group>
								</div>
							</app-conditioned-content>
						</app-condition-group>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1001M.FINALSTAGE.SPEECH.PC.ASSAULTCHOICE.ABANDON'
							)
						"
					>
						<p>
							<app-relation
								[name]="RelationName.PublicOpinion"
								[type]="RelationType.SmallUp"
							></app-relation>
						</p>

						<p>
							<app-dialogue-line name="Policeman">
								{{
									t(
										"X1001M.FINALSTAGE.SPEECH.PC.X10MRIOTPOLICECHIEF.SHOOTING02"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Josh">
								{{
									t(
										"X1001M.FINALSTAGE.SPEECH.PC.X10MJOSH.SHOOTING01JOSH.2"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="North">
								{{
									t(
										"X1001M.FINALSTAGE.SPEECH.PC.X10MMARLA.SHOOTING01"
									)
								}}
							</app-dialogue-line>
						</p>

						<app-choice-group>
							<app-choice-item
								[choiceLabel]="
									t(
										'X1001M.FINALSTAGE.SPEECH.PC.SHOOTINGCHOICE.ATTACK'
									)
								"
							>
								<p class="note">
									<span dir="ltr"
										>See ATTACK &gt; CHARGE.</span
									>
								</p>
							</app-choice-item>
							<app-choice-item
								[choiceLabel]="
									t(
										'X1001M.FINALSTAGE.SPEECH.PC.SHOOTINGCHOICE.STANDGROUND'
									)
								"
							>
								<p class="note">
									<span dir="ltr"
										>See STAND GROUND &gt; STAND
										GROUND.</span
									>
								</p>
							</app-choice-item>
							<app-choice-item
								[choiceLabel]="
									t(
										'X1001M.FINALSTAGE.SPEECH.PC.SHOOTINGCHOICE.DISPERSE'
									)
								"
							>
								<p class="note">
									<span dir="ltr">See DISPERSE.</span>
								</p>
							</app-choice-item>
						</app-choice-group>
					</app-choice-item>
				</app-choice-group>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X1001M.FINALSTAGE.SPEECH.PC.DECISIONCHOICE.STANDGROUND')
				"
			>
				<p>
					<app-relation
						[name]="RelationName.Josh"
						[type]="RelationType.SmallUp"
					></app-relation>
					<app-relation
						[name]="RelationName.North"
						[type]="RelationType.SmallDown"
					></app-relation>
					<app-relation
						[name]="RelationName.Simon"
						[type]="RelationType.SmallDown"
					></app-relation>
					<app-relation
						[name]="RelationName.PublicOpinion"
						[type]="RelationType.SmallUp"
					></app-relation>

					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.FINALSTAGE.SPEECH.PC.X10MMARKUS.REMAINMOTIONLESS01"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<p>
					<app-dialogue-line name="Policeman">
						{{
							t(
								"X1001M.FINALSTAGE.SPEECH.PC.X10MRIOTPOLICECHIEF.SHOOTING02"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Josh">
						{{
							t(
								"X1001M.FINALSTAGE.SPEECH.PC.X10MJOSH.SHOOTING01JOSH.2"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="North">
						{{
							t(
								"X1001M.FINALSTAGE.SPEECH.PC.X10MMARLA.SHOOTING01"
							)
						}}
					</app-dialogue-line>
				</p>

				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1001M.FINALSTAGE.SPEECH.PC.SHOOTINGCHOICE.ATTACK'
							)
						"
					>
						<p class="note">
							<span dir="ltr">See ATTACK.</span>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1001M.FINALSTAGE.SPEECH.PC.SHOOTINGCHOICE.STANDGROUND'
							)
						"
					>
						<app-relation
							[name]="RelationName.PublicOpinion"
							[type]="RelationType.SmallUp"
						></app-relation>
						<p>
							<app-dialogue-line name="Markus">
								{{
									t(
										"X1001M.FINALSTAGE.SPEECH.PC.X10MMARKUS.MOTIONLESS"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="North">
								{{
									t(
										"X1001M.FINALSTAGE.SPEECH.PC.X10MMARLA.SIMONSHOTN"
									)
								}}
							</app-dialogue-line>
						</p>

						<app-choice-group>
							<app-choice-item
								[choiceLabel]="
									t(
										'X1001M.FINALSTAGE.SPEECH.PC.LASTCHOICE.CHARGE'
									)
								"
							>
								<p class="note">
									<span dir="ltr"
										>See ATTACK &gt; CONFIRM.</span
									>
								</p>
							</app-choice-item>
							<app-choice-item
								[choiceLabel]="
									t(
										'X1001M.FINALSTAGE.SPEECH.PC.LASTCHOICE.SACRIFICE'
									)
								"
							>
								<p>
									<app-relation
										[name]="RelationName.PublicOpinion"
										[type]="RelationType.LargeUp"
									></app-relation>
									<app-relation
										[name]="RelationName.Jericho"
										[type]="RelationType.LargeUp"
									></app-relation>
								</p>

								<app-condition-group>
									<app-conditioned-content>
										<div class="condition">
											<p>
												<app-unlock-condition
													[unlockType]="
														UnlockType.Lock
													"
												>
													<span class="font-bold">
														John joined in
														<a
															[routerLink]="[
																'/chapters',
																19,
															]"
															>Spare Parts</a
														>
													</span>
												</app-unlock-condition>
											</p>
										</div>
										<div class="content">
											<app-dialogue-line name="Markus">
												{{
													t(
														"X1001M.ESCAPE.RUN.PC.X10MMARKUS.DONTSHOOT01M"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="North">
												{{
													translationService.translateObject(
														"X1001M.ESCAPE.RUN.PC.X10MMARLA.DONTSHOOT01"
													) | async
												}}
											</app-dialogue-line>
										</div>
									</app-conditioned-content>
									<app-conditioned-content>
										<div class="condition">
											<p>
												<app-unlock-condition
													[unlockType]="
														UnlockType.Lock
													"
												>
													<span class="font-bold">
														Simon survived in
														<a
															[routerLink]="[
																'/chapters',
																24,
															]"
															>Public Enemy</a
														>
														and has a good
														relationship with Markus
													</span>
												</app-unlock-condition>
											</p>
										</div>
										<div class="content">
											<app-dialogue-line name="Markus">
												{{
													t(
														"X1001M.ESCAPE.RUN.PC.X10MMARKUS.DONTSHOOT02M"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="North">
												{{
													translationService.translateObject(
														"X1001M.ESCAPE.RUN.PC.X10MMARLA.DONTSHOOT01"
													) | async
												}}
											</app-dialogue-line>
										</div>
									</app-conditioned-content>
									<app-conditioned-content>
										<div class="condition">
											<p>
												No one is there to save Markus
											</p>
										</div>
										<div class="content">
											<app-dialogue-line name="North">
												{{
													translationService.translateObject(
														"X1001M.ESCAPE.RUN.PC.X10MMARLA.SHOOT",
														0,
														2
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Josh">
												{{
													t(
														"X1001M.ESCAPE.RUN.PC.X10MJOSH.SHOOT"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="North">
												{{
													t(
														"X1001M.ESCAPE.RUN.PC.X10MMARLA.SHOOT.3"
													)
												}}
											</app-dialogue-line>
										</div>
									</app-conditioned-content>
								</app-condition-group>
							</app-choice-item>
							<app-choice-item
								[choiceLabel]="
									t(
										'X1001M.FINALSTAGE.SPEECH.PC.LASTCHOICE.RUN'
									)
								"
							>
								<p>
									<app-relation
										[name]="RelationName.Jericho"
										[type]="RelationType.LargeDown"
									></app-relation>
									<app-relation
										[name]="RelationName.North"
										[type]="RelationType.LargeDown"
									></app-relation>
									<app-relation
										[name]="RelationName.Josh"
										[type]="RelationType.SmallDown"
									></app-relation>
									<app-relation
										[name]="RelationName.Simon"
										[type]="RelationType.SmallUp"
									></app-relation>

									<app-dialogue-line name="Markus">
										{{
											t(
												"X1001M.FINALSTAGE.SPEECH.PC.X10MMARKUS.RUN"
											)
										}}
									</app-dialogue-line>
									<app-dialogue-line name="North">
										{{
											translationService.translateObject(
												"X1001M.ESCAPE.GOTTORUN.PC.X10MMARLA.GO"
											) | async
										}}
									</app-dialogue-line>
								</p>
							</app-choice-item>
						</app-choice-group>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1001M.FINALSTAGE.SPEECH.PC.SHOOTINGCHOICE.DISPERSE'
							)
						"
					>
						<p>
							<app-dialogue-line name="Markus">
								{{
									t(
										"X1001M.FINALSTAGE.SPEECH.PC.X10MMARKUS.DISPERSE01.2"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Policeman">
								{{
									translationService.translateObject(
										"X1001M.FINALSTAGE.SPEECH.PC.X10MRIOTPOLICECHIEF.DISPERSE02"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
				</app-choice-group>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X1001M.FINALSTAGE.SPEECH.PC.DECISIONCHOICE.DISPERSE')
				"
			>
				<p>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1001M.FINALSTAGE.SPEECH.PC.X10MMARKUS.DISPERSE01"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Policeman">
						{{
							translationService.translateObject(
								"X1001M.FINALSTAGE.SPEECH.PC.X10MRIOTPOLICECHIEF.DISPERSE02"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<app-choice-item
					[choiceLabel]="
						t('X1001M.FINALSTAGE.SPEECH.PC.DISPERSECHOICE.CHARGE')
					"
				>
					<p class="note">
						<span dir="ltr">See ATTACK &gt; CONFIRM.</span>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X1001M.FINALSTAGE.SPEECH.PC.DISPERSECHOICE.STAY')
					"
				>
					<app-choice-group>
						<app-choice-item
							[choiceLabel]="
								t(
									'X1001M.FINALSTAGE.SPEECH.PC.LASTCHOICE.CHARGE'
								)
							"
						>
							<p class="note">
								<span dir="ltr">See ATTACK &gt; CONFIRM.</span>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X1001M.FINALSTAGE.SPEECH.PC.LASTCHOICE.SACRIFICE'
								)
							"
						>
							<p class="note">
								<span dir="ltr"
									>See STAND GROUND &gt; SACRIFICE.</span
								>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t('X1001M.FINALSTAGE.SPEECH.PC.LASTCHOICE.RUN')
							"
						>
							<p class="note">
								<span dir="ltr"
									>See STAND GROUND &gt; RUN AWAY.</span
								>
							</p>
						</app-choice-item>
					</app-choice-group>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X1001M.FINALSTAGE.SPEECH.PC.DISPERSECHOICE.RUN')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.Jericho"
							[type]="RelationType.LargeDown"
						></app-relation>
						<app-relation
							[name]="RelationName.North"
							[type]="RelationType.LargeDown"
						></app-relation>
						<app-relation
							[name]="RelationName.Josh"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-relation
							[name]="RelationName.Simon"
							[type]="RelationType.SmallUp"
						></app-relation>
					</p>
					<p class="note">
						<span dir="ltr">See STAND GROUND &gt; RUN AWAY.</span>
					</p>
				</app-choice-item>
			</app-choice-item>
		</app-choice-group>
	</section>
</ng-container>
