<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <p>
            {{ t('GUI.MENU.DATE.04K') }}
            <br />
            {{ t('GUI.MENU.TIME.04K') }}
        </p>

        <h1>Kara stayed at the Parking lot</h1>

        <p>
            <app-dialogue-line name="Kara">
                {{
                    translateObject(
                        'X0404K.CAR.WAKEUP.PC.X04KKARA.WAKEUPV2',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Alice">
                {{ t('X0404K.CAR.WAKEUP.PC.X04KALICE.WAKEUPV2.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{
                    translateObject(
                        'X0404K.CAR.WAKEUP.PC.X04KKARA.WAKEUPV2',
                        2,
                        5
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Alice">
                {{
                    translateObject(
                        'X0404K.CAR.WAKEUP.PC.X04KALICE.WAKEUPV2',
                        1
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{
                    translateObject('X0404K.CAR.WAKEUP.PC.X04KKARA.WAKEUPV2', 5)
                        | async
                }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Alice">
                {{
                    translateObject(
                        'X0401K.MOTEL.COMPLIMENT.PC.X04KALICE.COMPLIMENT'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Kara">
                {{ t('X0404K.PARKING.FENCEGATE.PC.X04KKARA.POLICE.1') }}
            </app-dialogue-line>
        </p>

        <h2>The police are outside the supermarket</h2>

        <p>
            <app-dialogue-line name="Hank">
                {{
                    translateObject('X0402K.SQUAT.CONNOR.PC.X04KHANK.BUSDRIVER')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Ben">
                {{ t('X0402K.SQUAT.CONNOR.PC.X04KCHAD.ROUND.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0402K.SQUAT.CONNOR.PC.X04KHANK.ROUND.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Ben">
                {{ t('X0402K.SQUAT.CONNOR.PC.X04KCHAD.ROUND.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0402K.SQUAT.CONNOR.PC.X04KHANK.ROUND.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{
                    translateObject(
                        'X0404K.PARKING.CONNOR.PC.X04KCONNOR.NOTFARAWAY',
                        0,
                        3
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0404K.PARKING.CONNOR.PC.X04KHANK.NOTFARAWAY.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{
                    translateObject(
                        'X0404K.PARKING.CONNOR.PC.X04KCONNOR.NOTFARAWAY',
                        3,
                        5
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0404K.PARKING.CONNOR.PC.X04KHANK.NOTFARAWAY.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{
                    translateObject(
                        'X0404K.PARKING.CONNOR.PC.X04KCONNOR.NOTFARAWAY',
                        5
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0404K.PARKING.CONNOR.PC.X04KHANK.NOTFARAWAY.3') }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">Kara reach the train station unnoticed</div>
            <div class="content">
                <app-dialogue-line name="Hank">
                    {{
                        translateObject(
                            'X0405K.CHASEV2.NOTNOTICED.PC.X04KHANK.LATER'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>
    </section>

    <section>
        <h1>Kara stayed at the Squat</h1>

        <h2>The police are outside the supermarket</h2>
        <p>
            <app-dialogue-line name="Hank">
                {{
                    translateObject('X0402K.SQUAT.CONNOR.PC.X04KHANK.BUSDRIVER')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Ben">
                {{ t('X0402K.SQUAT.CONNOR.PC.X04KCHAD.ROUND.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0402K.SQUAT.CONNOR.PC.X04KHANK.ROUND.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Ben">
                {{ t('X0402K.SQUAT.CONNOR.PC.X04KCHAD.ROUND.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0402K.SQUAT.CONNOR.PC.X04KHANK.ROUND.2') }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">
                Kara stole wire cutters from the supermarket in
                <a [routerLink]="['/chapters', 10]">Fugitives</a>
            </div>
            <div class="content">
                <!-- TODO: Check difference STEAL vs NOSTEAL clothes -->

                <app-dialogue-line name="Hank">
                    {{
                        translateObject(
                            'X0402K.SQUAT.CONNOR.PC.X04KHANK.STEAL',
                            0,
                            2
                        ) | async
                    }}
                    {{ t('X0402K.SQUAT.CONNOR.PC.X04KHANK.STEAL.4') }}
                </app-dialogue-line>
                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0402K.SQUAT.CONNOR.PC.X04KCONNOR.DIALCONNOR',
                            0,
                            2
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Hank">
                    {{
                        translateObject(
                            'X0402K.SQUAT.CONNOR.PC.X04KHANK.DIALCONNOR',
                            0,
                            2
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0402K.SQUAT.CONNOR.PC.X04KCONNOR.DIALCONNOR',
                            2,
                            6
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Hank">
                    {{ t('X0402K.SQUAT.CONNOR.PC.X04KHANK.DIALCONNOR.3') }}
                </app-dialogue-line>
                <app-dialogue-line name="Connor">
                    {{ t('X0402K.SQUAT.CONNOR.PC.X04KCONNOR.DIALCONNOR.7') }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <app-conditioned-content>
            <div class="condition">Kara didn't steal the wire cutters</div>
            <div class="content">
                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0404K.PARKING.CONNOR.PC.X04KCONNOR.NOTFARAWAY',
                            0,
                            3
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Hank">
                    {{ t('X0404K.PARKING.CONNOR.PC.X04KHANK.NOTFARAWAY.1') }}
                </app-dialogue-line>
                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0404K.PARKING.CONNOR.PC.X04KCONNOR.NOTFARAWAY',
                            3,
                            5
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Hank">
                    {{ t('X0404K.PARKING.CONNOR.PC.X04KHANK.NOTFARAWAY.2') }}
                </app-dialogue-line>
                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0404K.PARKING.CONNOR.PC.X04KCONNOR.NOTFARAWAY',
                            5
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Hank">
                    {{ t('X0404K.PARKING.CONNOR.PC.X04KHANK.NOTFARAWAY.3') }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <h2>In the squat with Ralph</h2>

        <p>
            <app-dialogue-line name="Ralph">
                {{
                    translateObject('X0402K.SQUAT.COYPU.PC.X04KRALPH.START')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <app-choice-group>
            <app-choice-item
                [choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP01.SIT')"
            >
                <span>&oslash;</span>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP01.REFUSE')"
            >
                <p>
                    <app-dialogue-line name="Kara">
                        {{
                            translateObject(
                                'X0402K.SQUAT.COYPU.PC.X04KKARA.REFUSE01'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Ralph">
                        {{
                            translateObject(
                                'X0402K.SQUAT.COYPU.PC.X04KRALPH.REFUSE01',
                                1
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
                <app-choice-group>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP02.SIT')
                        "
                    >
                        &oslash;</app-choice-item
                    >
                    <app-choice-item
                        [choiceLabel]="
                            t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP02.REFUSE')
                        "
                    >
                        [
                        <app-relation
                            name="Alice"
                            [type]="RelationType.SmallUp"
                        ></app-relation>

                        <app-dialogue-line name="Kara">
                            {{
                                translateObject(
                                    'X0402K.SQUAT.COYPU.PC.X04KKARA.REFUSE02'
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Ralph">
                            {{ t('X0402K.SQUAT.COYPU.PC.X04KRALPH.REFUSE02') }}
                        </app-dialogue-line>
                    </app-choice-item>
                </app-choice-group>
            </app-choice-item>
        </app-choice-group>

        <mat-divider></mat-divider>

        <app-choice-group>
            <app-choice-item
                [choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP03.GUN')"
                [brackets]="true"
            >
                <app-unlock-condition [unlockType]="UnlockType.Lock">
                    If took the gun in
                    <a [routerLink]="['/chapters', 7]">Stormy Night</a> and
                    didn't forget it upstairs
                </app-unlock-condition>
                <span>&oslash;</span></app-choice-item
            >
            <app-choice-item
                [choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP03.WORRIED')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0402K.SQUAT.COYPU.PC.X04KKARA.WORRIED'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Ralph">
                    {{
                        translateObject(
                            'X0402K.SQUAT.COYPU.PC.X04KRALPH.WORRIED',
                            1
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP03.EXPLAIN')"
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0402K.SQUAT.COYPU.PC.X04KKARA.EXPLAIN') }}
                </app-dialogue-line>
                <app-dialogue-line name="Ralph">
                    {{
                        translateObject(
                            'X0402K.SQUAT.COYPU.PC.X04KRALPH.EXPLAIN'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP03.AGREE')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0402K.SQUAT.COYPU.PC.X04KKARA.AGREE')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </app-choice-group>

        <p>
            <app-dialogue-line name="Ralph">
                {{
                    translateObject('X0402K.SQUAT.COYPU.PC.X04KRALPH.SIT01')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Alice">
                {{
                    translateObject('X0402K.SQUAT.COYPU.PC.X04KALICE.SIT02')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Ralph">
                {{ t('X0402K.SQUAT.COYPU.PC.X04KRALPH.SIT02') }}
            </app-dialogue-line>
        </p>

        <app-choice-group>
            <app-choice-item
                [choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP04.LIE')"
            >
                <app-relation
                    name="Alice"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0402K.SQUAT.COYPU.PC.X04KKARA.LIE')
                            | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Ralph">
                    {{
                        translateObject(
                            'X0402K.SQUAT.COYPU.PC.X04KRALPH.LIE',
                            1
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP04.TRUTH')"
            >
                <app-relation
                    name="Alice"
                    [type]="RelationType.SmallDown"
                ></app-relation>

                <app-dialogue-line name="Kara">
                    {{ t('X0402K.SQUAT.COYPU.PC.X04KKARA.TRUTH') }}
                </app-dialogue-line>
                <app-dialogue-line name="Ralph">
                    {{
                        translateObject('X0402K.SQUAT.COYPU.PC.X04KRALPH.TRUTH')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </app-choice-group>

        <p>
            <app-dialogue-line name="Ralph">
                {{
                    translateObject('X0402K.SQUAT.COYPU.PC.X04KRALPH.EAT')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <app-choice-group>
            <app-choice-item
                [choiceLabel]="
                    t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP06.BATHBODY')
                "
                [brackets]="true"
            >
                <app-unlock-condition [unlockType]="UnlockType.Lock">
                    Unlocked if saw the body in the bathroom
                </app-unlock-condition>

                <app-dialogue-line name="Kara">
                    I saw the body upstairs. You killed that human, didn't you?
                </app-dialogue-line>
                <app-dialogue-line name="Ralph">
                    {{
                        translateObject(
                            'X0402K.SQUAT.COYPU.PC.X04KRALPH.BATHBODY'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP06.INSISTBODY')
                "
                [brackets]="true"
            >
                [ Available if asked about corpse ]

                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0402K.SQUAT.COYPU.PC.X04KKARA.INSISTBODY',
                            0,
                            3
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Ralph">
                    {{
                        translateObject(
                            'X0402K.SQUAT.COYPU.PC.X04KRALPH.INSISTBODY'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Kara">
                    {{ t('X0402K.SQUAT.COYPU.PC.X04KKARA.INSISTBODY.4') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP06.THREATEN')
                "
            >
                <app-conditioned-content>
                    <div class="condition">No gun : Kara takes a knife</div>
                    <div class="content">
                        <app-dialogue-line name="Kara">
                            {{ t('X0402K.SQUAT.COYPU.PC.X04KKARA.THREATEN') }}
                        </app-dialogue-line>
                    </div>
                </app-conditioned-content>

                <div class="condition">
                    <span class="name"
                        >Kara has a gun : Kara threatens Ralph with the
                        gun</span
                    >
                    <div class="condition-text">
                        <app-dialogue-line name="Kara">
                            {{ t('X0402K.SQUAT.COYPU.PC.X04KKARA.DRAWGUN') }}
                        </app-dialogue-line>
                    </div>
                </div>
            </app-choice-item>

            <app-choice-item
                [choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP05.BLUFF')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0402K.SQUAT.COYPU.PC.X04KKARA.BLUFF')
                            | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Ralph">
                    {{
                        translateObject('X0402K.SQUAT.COYPU.PC.X04KRALPH.BLUFF')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP06.FAMILY')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0402K.SQUAT.COYPU.PC.X04KKARA.FAMILY',
                            0,
                            6
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Ralph">
                    {{
                        translateObject(
                            'X0402K.SQUAT.COYPU.PC.X04KRALPH.FAMILY'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Kara">
                    {{ t('X0402K.SQUAT.COYPU.PC.X04KKARA.FAMILY.7') }}
                </app-dialogue-line>
            </app-choice-item>
        </app-choice-group>

        <p>
            <app-dialogue-line name="Connor">
                {{ t('X0402K.SQUAT.COYPU.VO.X04CCONNOR.CONNOR') }}
            </app-dialogue-line>
        </p>

        <h2>Connor investigates the squat</h2>

        <p>
            <app-dialogue-line name="Connor">
                {{
                    translateObject(
                        'X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.BLUEBLOOD'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">Kara was nice with Ralph</div>
            <div class="content">
                <app-choice-group>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.AX400')
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.AX400'
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Ralph">
                            {{
                                t('X0402K.SQUAT.SPEAKRALPH.PC.X04KRALPH.AX400R')
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.DEVIANTS'
                            )
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                t(
                                    'X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.DEVIANTS'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Ralph">
                            {{
                                translateObject(
                                    'X0402K.SQUAT.SPEAKRALPH.PC.X04KRALPH.DEVIANTSR'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.REASSURE'
                            )
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.REASSURE'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.BLUEBLOOD'
                            )
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.BLUEBLOOD'
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Ralph">
                            {{
                                translateObject(
                                    'X0402K.SQUAT.SPEAKRALPH.PC.X04KRALPH.BLUEBLOOD'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                </app-choice-group>

                <h2>Connor finds Kara</h2>
                <p>
                    <app-dialogue-line name="Ralph">
                        {{ t('X0402K.SQUAT.KARAFOUND.PC.X04KRALPH.RUN') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{ t('X0402K.SQUAT.KARAFOUND.PC.X04CHANK.HANK') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{ t('X0402K.SQUAT.KARAFOUND.PC.X04CCONNOR.CONNOR') }}
                    </app-dialogue-line>
                    <span class="note">Leads to Connor pursues Kara.</span>
                </p>
            </div>
        </app-conditioned-content>

        <app-conditioned-content>
            <div class="condition">Kara threatened Ralph</div>
            <div class="content">
                <app-choice-group>
                    <app-choice-item
                        [choiceLabel]="
                            t('X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.AX400')
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.AX400'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.DEVIANTS'
                            )
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                t(
                                    'X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.DEVIANTS'
                                )
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.REASSURE'
                            )
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.REASSURE'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.BLUEBLOOD'
                            )
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.BLUEBLOOD'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.PRESSURIZE'
                            )
                        "
                    >
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.PRESSURIZE'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                </app-choice-group>

                <p>
                    <span class="note"
                        >Ralph will answer the same to all choices</span
                    >

                    <app-dialogue-line name="Ralph">
                        {{
                            translateObject(
                                'X0402K.SQUAT.SPEAKRALPH.PC.X04KRALPH.REPORTR',
                                0,
                                2
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{ t('X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.REPORTR') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Ralph">
                        {{
                            t('X0402K.SQUAT.SPEAKRALPH.PC.X04KRALPH.REPORTR.3')
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{ t('X0402K.SQUAT.SPEAKRALPH.PC.X04KHANK.REPORT') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{ t('X0402K.SQUAT.SPEAKRALPH.PC.X04CCONNOR.REPORT') }}
                    </app-dialogue-line>
                    <span class="note">Leads to Connor pursues Kara.</span>
                </p>
            </div>
        </app-conditioned-content>

        <h2>Going upstairs</h2>
        <p>
            <app-dialogue-line name="Connor">
                {{ t('X0402K.SQUAT.EXPLORE.PC.X04KCONNOR.UPSTAIRS') }}
            </app-dialogue-line>
            <app-dialogue-line name="Ralph">
                {{
                    translateObject(
                        'X0402K.SQUAT.EXPLORE.PC.X04KRALPH.UPSTAIRS'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <!-- TODO: Check MAINDOOR (taking Ralph into custody)-->

        <app-conditioned-content>
            <div class="condition">
                [ <fa-icon icon="hourglass-end"></fa-icon> ] Taking too much
                time
            </div>
            <div class="content">
                <p>
                    <app-dialogue-line name="Hank">
                        {{ t('X0402K.SQUAT.EXPLORE.VO.X04KHANK.HANK') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{ t('X0402K.SQUAT.EXPLORE.FA.X04CCONNOR.COMING') }}
                    </app-dialogue-line>
                </p>

                <h2>Taking too much time again</h2>
                <p>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0402K.SQUAT.NOKARA.PC.X04KHANK.LEAVE',
                                0,
                                3
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X0402K.SQUAT.NOKARA.PC.X04KCONNOR.LEAVE'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{
                            translateObject(
                                'X0402K.SQUAT.NOKARA.PC.X04KHANK.LEAVE',
                                3
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>

                <p>
                    <app-dialogue-line name="Kara">
                        {{ t('X0402K.SQUAT.NOKARA.PC.X04KKARA.THANKS') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Ralph">
                        {{
                            translateObject(
                                'X0402K.SQUAT.NOKARA.PC.X04KRALPH.THANKS'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
            </div>
        </app-conditioned-content>
    </section>

    <section>
        <h1>Kara stayed at the Motel</h1>

        <p>
            <app-dialogue-line name="Kara">
                {{ t('X0401K.MOTEL.WAKEUP.PC.X04KKARA.SORRY.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Alice">
                {{ t('X0401K.MOTEL.WAKEUP.PC.X04KALICE.SORRY') }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{
                    translateObject('X0401K.MOTEL.WAKEUP.PC.X04KKARA.SORRY', 1)
                        | async
                }}
            </app-dialogue-line>
        </p>

        <app-choice-group>
            <app-choice-item
                [choiceLabel]="t('X0401K.MOTEL.WAKEUP.PC.CHOICEGROUP01.BATH')"
            >
                <app-relation
                    name="Alice"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0401K.MOTEL.WAKEUP.PC.X04KKARA.BATH',
                            0,
                            4
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0401K.MOTEL.WAKEUP.PC.CHOICEGROUP01.HUNGRY')"
            >
                <app-relation
                    name="Alice"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0401K.MOTEL.WAKEUP.PC.X04KKARA.HUNGRY',
                            0,
                            3
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0401K.MOTEL.WAKEUP.PC.CHOICEGROUP01.SLEEP')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0401K.MOTEL.WAKEUP.PC.X04KKARA.SLEEP')
                            | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Alice">
                    {{
                        translateObject(
                            'X0401K.MOTEL.WAKEUP.PC.X04KALICE.SLEEP'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </app-choice-group>

        <p>
            <app-dialogue-line name="Kara">
                {{
                    translateObject('X0401K.MOTEL.WAKEUP.PC.X04KKARA.BATH', 4)
                        | async
                }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Alice">
                {{
                    translateObject(
                        'X0401K.MOTEL.COMPLIMENT.PC.X04KALICE.COMPLIMENT'
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{ t('X0401K.MOTEL.COMPLIMENT.PC.X04KKARA.COMPLIMENT') }}
            </app-dialogue-line>
        </p>

        <h2>[ <fa-icon icon="tv"></fa-icon> ] Watching TV</h2>
        <app-conditioned-content>
            <div class="condition">
                Todd was killed in
                <a [routerLink]="['/chapters', 7]">Stormy Night</a>
            </div>
            <div class="content">
                <app-relation
                    name="Public opinion"
                    [type]="RelationType.SmallDown"
                ></app-relation>
                <app-dialogue-line name="Channel 16 - Joss Douglas">
                    {{
                        translateObject(
                            'X0401K.TV.TODDONTV.PC.X04KJOSS.TODDDEAD01'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-conditioned-content>
                    <div class="condition">Kara shot Todd</div>
                    <div class="content">
                        <app-dialogue-line name="Alice">
                            {{
                                translateObject(
                                    'X0401K.MOTEL.TOUGHTALK.PC.X04KALICE.KARAKILLEDTODD'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </div>
                </app-conditioned-content>
                <app-conditioned-content>
                    <div class="condition">Alice shot Todd</div>
                    <div class="content">
                        <app-dialogue-line name="Alice">
                            {{
                                translateObject(
                                    'X0401K.MOTEL.TOUGHTALK.PC.X04KALICE.ALICEKILLEDTODD'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </div>
                </app-conditioned-content>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition">Todd is alive</div>
            <div class="content">
                <app-relation
                    name="Public opinion"
                    [type]="RelationType.SmallDown"
                ></app-relation>
                <app-dialogue-line name="Channel 16 - Joss Douglas">
                    {{
                        translateObject(
                            'X0401K.TV.TODDONTV.PC.X04KJOSS.TODDALIVE01A'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Todd">
                    {{
                        translateObject(
                            'X0401K.TV.TODDONTV.PC.X04KDAD.TODDALIVE01T'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Channel 16 - Joss Douglas">
                    {{
                        translateObject(
                            'X0401K.TV.TODDONTV.PC.X04KJOSS.TODDALIVE01B'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Alice">
                    {{
                        translateObject(
                            'X0401K.MOTEL.TOUGHTALK.PC.X04KALICE.TODDNOTKILLED'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <app-unused-content>
            <app-choice-group>
                <app-choice-item
                    [choiceLabel]="
                        t('X0401K.MOTEL.TOUGHTALK.PC.01CHOICE.REASSURING')
                    "
                >
                    {{
                        translateObject(
                            'X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.01REASSURING'
                        ) | async
                    }}
                </app-choice-item>
                <app-choice-item
                    [choiceLabel]="
                        t('X0401K.MOTEL.TOUGHTALK.PC.01CHOICE.ANALYTICAL')
                    "
                >
                    {{
                        translateObject(
                            'X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.01ANALYTICAL'
                        ) | async
                    }}
                </app-choice-item>
                <app-choice-item
                    [choiceLabel]="
                        t('X0401K.MOTEL.TOUGHTALK.PC.01CHOICE.VULNERABLE')
                    "
                >
                    {{
                        translateObject(
                            'X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.01VULNERABLE'
                        ) | async
                    }}
                </app-choice-item>
                <app-choice-item
                    [choiceLabel]="
                        t('X0401K.MOTEL.TOUGHTALK.PC.01CHOICE.SINCERE')
                    "
                >
                    {{
                        translateObject(
                            'X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.01SINCERE'
                        ) | async
                    }}
                </app-choice-item>
            </app-choice-group>
        </app-unused-content>

        <mat-divider></mat-divider>

        <p>
            <app-dialogue-line name="Alice">
                {{
                    translateObject(
                        'X0401K.MOTEL.TOUGHTALK.PC.X04KALICE.01NEXTSTEP'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-choice-group>
            <app-choice-item
                [choiceLabel]="t('X0401K.MOTEL.TOUGHTALK.PC.02CHOICE.STAYHERE')"
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.02STAYHERE') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0401K.MOTEL.TOUGHTALK.PC.02CHOICE.HELP')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.02HELP'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Alice">
                    {{
                        translateObject(
                            'X0401K.MOTEL.TOUGHTALK.PC.X04KALICE.02HELP'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0401K.MOTEL.TOUGHTALK.PC.02CHOICE.ANDROID')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.02ANDROID'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </app-choice-group>

        <mat-divider></mat-divider>

        <app-choice-group>
            <app-choice-item
                [choiceLabel]="t('X0401K.MOTEL.TOUGHTALK.PC.03CHOICE.MOVING')"
            >
                <app-relation
                    name="Alice"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.03MOVING'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0401K.MOTEL.TOUGHTALK.PC.03CHOICE.DETERMINED')
                "
            >
                <app-relation
                    name="Alice"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.03DETERMINED'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0401K.MOTEL.TOUGHTALK.PC.03CHOICE.COMFORTING')
                "
            >
                <app-relation
                    name="Alice"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.03COMFORTING'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0401K.MOTEL.TOUGHTALK.PC.03CHOICE.SUPPORTIVE')
                "
            >
                <app-relation
                    name="Alice"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.03SUPPORTIVE'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </app-choice-group>

        <p>
            <app-dialogue-line name="Kara">
                {{
                    translateObject('X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.03HUG')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Police is at the motel</h2>
        <p>
            <app-dialogue-line name="Hank">
                {{
                    translateObject(
                        'X0401K.MOTEL.RECEPTION.PC.X04KHANK.AX400',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Receptionist">
                {{
                    translateObject(
                        'X0401K.MOTEL.RECEPTION.PC.X04KRECEPTIONIST.AX400REC',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{ t('X0401K.MOTEL.RECEPTION.PC.X04KCONNOR.AX400.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Receptionist">
                {{
                    translateObject(
                        'X0401K.MOTEL.RECEPTION.PC.X04KRECEPTIONIST.AX400REC',
                        2,
                        5
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0401K.MOTEL.RECEPTION.PC.X04KHANK.AX400.3') }}
            </app-dialogue-line>
            <app-dialogue-line name="Receptionist">
                {{ t('X0401K.MOTEL.RECEPTION.PC.X04KRECEPTIONIST.AX400REC.6') }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0401K.MOTEL.RECEPTION.PC.X04KHANK.AX400.4') }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Hank">
                {{ t('X0401K.MOTEL.RECEPTION.PC.X04KHANK.RADIOCHAD') }}
            </app-dialogue-line>
        </p>
        <p>
            <app-dialogue-line name="Hank">
                {{ t('X0401K.MOTEL.OUTSIDE.PC.X04KHANK.WAITME') }}
            </app-dialogue-line>
        </p>

        <app-choice-group>
            <app-choice-item
                [choiceLabel]="t('X0401K.MOTEL.OUTSIDE.PC.CHOICE.RATIONAL')"
            >
                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X0401K.MOTEL.OUTSIDE.PC.X04KCONNOR.RATIONAL'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0401K.MOTEL.OUTSIDE.PC.CHOICE.DIPLOMATIC')"
            >
                <app-dialogue-line name="Connor">
                    {{ t('X0401K.MOTEL.OUTSIDE.PC.X04KCONNOR.DIPLOMATIC') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0401K.MOTEL.OUTSIDE.PC.CHOICE.DIRECT')"
            >
                <app-dialogue-line name="Connor">
                    {{ t('X0401K.MOTEL.OUTSIDE.PC.X04KCONNOR.DIRECT') }}
                </app-dialogue-line>
            </app-choice-item>
        </app-choice-group>

        <p>
            <app-dialogue-line name="Hank">
                {{ t('X0401K.MOTEL.OUTSIDE.PC.X04KHANK.OBEY.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{ t('X0401K.MOTEL.OUTSIDE.PC.X04KCONNOR.OBEY') }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0401K.MOTEL.OUTSIDE.PC.X04KHANK.OBEY.2') }}
            </app-dialogue-line>
        </p>

        <h2>Going into the room</h2>
        <p>
            <app-dialogue-line name="Hank">
                {{ t('X0401K.MOTEL.ROOM.PC.X04KHANK.LEFT') }}
            </app-dialogue-line>
        </p>
    </section>

    <section>
        <h1>Kara and Alice in the street</h1>
        <h2>Spotted by Police</h2>
        <p>
            <app-dialogue-line name="Cop">
                {{ t('X0405K.CHASEV2.PART05.FA.X04KCOP05.NOTICE01') }}
            </app-dialogue-line>
            <app-dialogue-line name="Cop">
                {{ t('X0405K.CHASEV2.PART05.FA.X04KCOP05.NOTICE02') }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Cop">
                {{
                    translateObject(
                        'X0405K.CHASEV2.PART02.FA.X04KCOP01.NOTICE01'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Cop">
                {{
                    translateObject('X0405K.CHASEV2.PART03.FA.X04KCOP03.NOTICE')
                        | async
                }}
            </app-dialogue-line>
        </p>
    </section>

    <section>
        <h1>Connor pursues Kara</h1>
        <p>
            <app-dialogue-line name="Connor">
                {{ t('X0405K.CHASEV2.NOTICED.FA.X04KCONNOR.TRACKING') }}
            </app-dialogue-line>
            <app-dialogue-line name="Cop">
                {{ t('X0405K.CHASEV2.NOTICED.PC.X04KCOP08.TRACKINGCOP') }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Cop">
                {{ t('X0502K.CHASE.SPARELINES.FA.X05KZLATKO.HERE') }}
            </app-dialogue-line>
        </p>

        <h2>[ <fa-icon icon="hourglass-end"></fa-icon> ] Take too much time</h2>
        <p>
            <app-dialogue-line name="Connor">
                {{ t('X0405K.CHASEV2.NOTNOTICED.PC.X04KCONNOR.LOST') }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0405K.CHASEV2.NOTNOTICED.PC.X04KHANK.LOST') }}
            </app-dialogue-line>
        </p>

        <h2>Reach the fence</h2>
        <p>
            <app-dialogue-line name="Connor">
                {{ t('X0405K.CHASEV2.NOTICED.PC.X04KCONNOR.CLIMBFENCE') }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0405K.HIGHWAY.CONNOR.PC.X04CHANK.GETIN.1') }}
            </app-dialogue-line>
        </p>
        <p>
            <app-dialogue-line name="Hank">
                {{ t('X0405K.HIGHWAY.CONNOR.PC.X04CHANK.GETIN.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{ t('X0405K.HIGHWAY.CONNOR.PC.X04KCONNOR.GETIN.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{ t('X0405K.HIGHWAY.CONNOR.PC.X04CHANK.GETIN.3') }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{ t('X0405K.HIGHWAY.CONNOR.PC.X04KCONNOR.GETIN.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Hank">
                {{
                    translateObject(
                        'X0405K.HIGHWAY.CONNOR.PC.X04CHANK.GETIN',
                        3
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-choice-group>
            <app-choice-item
                [choiceLabel]="t('X0405K.HIGHWAY.CONNOR.PC.CHOICEGROUP.GO')"
            >
                <p>
                    <app-dialogue-line name="Hank">
                        {{ t('X0405K.HIGHWAY.CONNOR.FA.X04KHANK.GO') }}
                    </app-dialogue-line>
                </p>

                <h2>Connor dies on the highway</h2>
                <p>
                    <app-dialogue-line name="Hank">
                        {{ t('X0405K.HIGHWAY.GAMEOVER.PC.X04CHANK.HANK.1') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{ t('X0405K.HIGHWAY.GAMEOVER.PC.X04CHANK.HANK.2') }}
                    </app-dialogue-line>
                </p>

                <h2>Kara gets hit by a car</h2>
                <p>
                    <app-dialogue-line name="Alice">
                        {{ t('X0201K.FIGHT.ALICE.FA.X02KALICE.CUE03') }}
                        {{ t('X0201K.FIGHT.ALICE.FA.X02KALICE.CUE06') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Hank">
                        {{ t('X0405K.HIGHWAY.GAMEOVER.PC.X04CHANK.HANK.1') }}
                    </app-dialogue-line>
                </p>

                <h2>Kara escapes and Connor survives</h2>
                <p>
                    <app-dialogue-line name="Connor">
                        <!-- TODO: Find correct line -->
                        {{ t('X0303K.STATION.HOLDUP.PC.X03KSELLER.SHIT') }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0405K.HIGHWAY.CONNOR.PC.CHOICEGROUP.GIVEUP')"
            >
                <span>&oslash;</span>
            </app-choice-item>
        </app-choice-group>

        <p>
            <app-dialogue-line name="Kara">
                {{ t('X0405K.HIGHWAY.SUCCESS.PC.X04KKARA.OKAY') }}
            </app-dialogue-line>
        </p>
    </section>
</ng-container>
