.error-container {
    background-image: url('/assets/images/triangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    * {
        color: #4d0000;
        text-align: center;
    }
}

img {
    max-width: 100%;
    max-height: 100px;
}

:host {
    flex-direction: column;
    display: flex;
    place-content: stretch center;
    align-items: center;
    flex: 1 0 auto;
}
