<ng-container *transloco="let t">
	<section>
		<h1>In the truck</h1>

		<p>
			{{ t("GUI.MENU.DATE.13C") }}
			<br />
			{{ t("GUI.MENU.TIME.04A.KC01") }}
		</p>

		<p>
			<app-dialogue-line name="Alice">
				{{ t("X0911K.CAMP.INTRO.FA.X09KALICE.WHEREALICE") }}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0911K.CAMP.INTRO.PC.WHERECHOICE.WARN')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0911K.CAMP.INTRO.PC.X09KKARA.WARN") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0911K.CAMP.INTRO.PC.WHERECHOICE.REASSURE')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0911K.CAMP.INTRO.PC.X09KKARA.REASSURE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0911K.CAMP.INTRO.PC.WHERECHOICE.LIE')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0911K.CAMP.INTRO.PC.X09KKARA.LIE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0911K.CAMP.INTRO.PC.WHERECHOICE.SINCERE')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0911K.CAMP.INTRO.PC.X09KKARA.SINCERE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<p>
			<app-dialogue-line name="Soldier">
				{{ t("X0911K.CAMP.INTRO.VO.X09KSWATM01.OUT") }}
			</app-dialogue-line>
		</p>

		<h2>
			{{ t(CommonTranslationKey.TooMuchTime) }}
		</h2>
		<p>
			<app-dialogue-line name="Soldier">
				{{ t("X0911K.CAMP.HURRY.VO.X09KSWATM01.OUTNOW") }}
			</app-dialogue-line>
		</p>
	</section>

	<section>
		<h1>At the recycling center</h1>
		<p>
			<app-dialogue-line name="Soldier">
				{{ t("X0911K.CAMP.ORDER.VO.X09KSWATM02.HANDS") }}
			</app-dialogue-line>
		</p>

		<app-conditioned-content>
			<div class="condition">
				<p>
					Not putting hands on Kara's head fast enough: Kara gets hit
					by the soldier
				</p>
			</div>
			<div class="content">
				<p>
					<app-dialogue-line name="Alice">
						{{
							translationService.translateObject(
								"X0911K.CAMP.HURRY.FA.X09KALICE.KARA"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Soldier">
						{{ t("X0911K.CAMP.HURRY.VO.X09KSWATM01.OBEY") }}
					</app-dialogue-line>
				</p>
			</div>
		</app-conditioned-content>

		<p>
			<app-dialogue-line name="Soldier">
				{{ t("X0911K.CAMP.ORDER.VO.X09KSWATM02.LINEUP") }}
			</app-dialogue-line>
		</p>

		<app-conditioned-content>
			<div class="condition">
				<p>Not lining up</p>
			</div>
			<div class="content">
				<p>
					<app-dialogue-line name="Soldier">
						{{ t("X0911K.CAMP.ORDER.VO.X09KSWATM02.WARNING02") }}
					</app-dialogue-line>
				</p>
			</div>
		</app-conditioned-content>

		<p>
			<app-dialogue-line name="Soldier">
				{{ t("X0911K.CAMP.ORDER.VO.X09KSWATM02.FORWARD") }}
			</app-dialogue-line>
			<app-dialogue-line name="Alice">
				{{
					translationService.translateObject(
						"X0911K.CAMP.ENTRANCE.PC.X09KALICE.NERVOUS"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{ t("X0911K.CAMP.ENTRANCE.PC.X09KKARA.NERVOUS") }}
			</app-dialogue-line>
			<app-dialogue-line name="Soldier">
				{{ t("X0911K.CAMP.ORDER.VO.X09KSWATM02.NEXT") }}
			</app-dialogue-line>
			<app-dialogue-line name="Alice">
				{{
					translationService.translateObject(
						"X0911K.CAMP.ENTRANCE.PC.X09KALICE.SCARED"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="
					t('X0911K.CAMP.ENTRANCE.PC.SCAREDCHOICE.REASSURE')
				"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0911K.CAMP.ENTRANCE.PC.X09KKARA.REASSURE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0911K.CAMP.ENTRANCE.PC.SCAREDCHOICE.REASON')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0911K.CAMP.ENTRANCE.PC.X09KKARA.REASON"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0911K.CAMP.ENTRANCE.PC.SCAREDCHOICE.FRIGHTEN')
				"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0911K.CAMP.ENTRANCE.PC.X09KKARA.FRIGHTEN") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0911K.CAMP.ENTRANCE.PC.SCAREDCHOICE.ORDER')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0911K.CAMP.ENTRANCE.PC.X09KKARA.ORDER") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<p>
			<app-dialogue-line name="Soldier">
				{{ t("X0911K.CAMP.ENTRANCE.VO.X09KSWATM02.ALICEFIRST") }}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0911K.CAMP.ENTRANCE.PC.CONVINCECHOICE.SWAT')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0911K.CAMP.ENTRANCE.PC.X09KKARA.SWAT"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0911K.CAMP.ENTRANCE.PC.CONVINCECHOICE.ALICE')
				"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0911K.CAMP.ENTRANCE.PC.X09KKARA.ALICE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0911K.CAMP.ENTRANCE.PC.CONVINCECHOICE.BETWEEN')
				"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0911K.CAMP.ENTRANCE.PC.X09KKARA.BETWEEN") }}
					</app-dialogue-line>
					<app-dialogue-line name="Alice">
						{{
							translationService.translateObject(
								"X0911K.CAMP.ENTRANCE.PC.X09KALICE.BETWEEN"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<p>
			<app-dialogue-line name="Soldier">
				{{ t("X0911K.CAMP.ENTRANCE.VO.X09KSWATM02.YOURTURN") }}
			</app-dialogue-line>
		</p>

		<app-conditioned-content>
			<div class="condition">
				<p>Taking too long going in the gate</p>
			</div>
			<div class="content">
				<p>
					<app-dialogue-line name="Soldier">
						{{
							t("X0914K.STEALTH.ESCORTEDAND.VO.X09KSWATM14.GETON")
						}}
					</app-dialogue-line>
				</p>
			</div>
		</app-conditioned-content>

		<p>
			<app-dialogue-line name="Soldier">
				{{ t("X0911K.CAMP.CLOTHES.VO.X09KSWATM03.DEACTIVATE") }}
			</app-dialogue-line>
			<app-dialogue-line name="Alice">
				{{ t("X0911K.CAMP.CLOTHES.PC.X09KALICE.SKIN") }}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{ t("X0911K.CAMP.CLOTHES.PC.X09KKARA.SKIN") }}
			</app-dialogue-line>
			<app-dialogue-line name="Soldier">
				{{
					translationService.translateObject(
						"X0911K.CAMP.CLOTHES.VO.X09KSWATM03.STRIPOFF"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-unused-content>
			<p>
				<app-dialogue-line name="Alice">
					{{
						translationService.translateObject(
							"X0911K.CAMP.CLOTHES.PC.X09KALICE.WHY"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0911K.CAMP.CLOTHES.PC.X09KKARA.WHY") }}
				</app-dialogue-line>
				<app-dialogue-line name="Alice">
					{{
						translationService.translateObject(
							"X0911K.CAMP.CLOTHES.PC.X09KALICE.HUG"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</app-unused-content>

		<p>
			<app-dialogue-line name="Soldier">
				{{
					translationService.translateObject(
						"X0911K.CAMP.CLOTHES.VO.X09KSWATM03.MOVE"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-conditioned-content>
			<div class="condition">
				<p>Taking too long going out of the gate</p>
			</div>
			<div class="content">
				<p>
					<app-dialogue-line name="Soldier">
						{{
							t("X0914K.STEALTH.ESCORTEDAND.VO.X09KSWATM13.QUICK")
						}}
					</app-dialogue-line>
				</p>
			</div>
		</app-conditioned-content>

		<p>
			<app-dialogue-line name="Soldier">
				{{ t("X0911K.CAMP.ANDROID.VO.X09KSWATM03.TOTHEDUMP.1") }}
			</app-dialogue-line>
			<app-dialogue-line name="Android">
				{{ t("X0911K.CAMP.ANDROID.FA.X09KANDTHREATEN.BEG.1") }}
			</app-dialogue-line>
			<app-dialogue-line name="Soldier">
				{{ t("X0911K.CAMP.ANDROID.VO.X09KSWATM03.TOTHEDUMP.2") }}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0911K.CAMP.ANDROID.PC.HELPCHOICE.VOLUNTEER')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0911K.CAMP.ANDROID.FA.X09KKARA.VOLUNTEER01") }}
					</app-dialogue-line>
					<app-dialogue-line name="Alice">
						{{
							t("X0911K.CAMP.ANDROID.FA.X09KALICE.VOLUNTEERALICE")
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Kara">
						{{ t("X0911K.CAMP.ANDROID.FA.X09KKARA.VOLUNTEER03") }}
					</app-dialogue-line>
					<app-dialogue-line name="Soldier">
						{{ t("X0911K.CAMP.ANDROID.VO.X09KSWATM03.THROWIT") }}
					</app-dialogue-line>
				</p>

				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0913K.ESCAPE.ALICE.FA.X09KKARA.CALLING01") }}
						{{ t("X0913K.ESCAPE.ALICE.FA.X09KKARA.CALLING02.2") }}
						{{ t("X0913K.ESCAPE.ALICE.FA.X09KKARA.CALLING02.1") }}
						{{ t("X0913K.ESCAPE.ALICE.FA.X09KKARA.CALLING02.3") }}
						{{ t("X0913K.ESCAPE.ALICE.FA.X09KKARA.CALLING03") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0911K.CAMP.ANDROID.PC.HELPCHOICE.SAYNOTHING')
				"
			>
				<p>
					<app-dialogue-line name="Android">
						{{ t("X0911K.CAMP.ANDROID.FA.X09KANDTHREATEN.BEG.2") }}
					</app-dialogue-line>
					<app-dialogue-line name="Soldier">
						{{ t("X0911K.CAMP.ANDROID.VO.X09KSWATM03.SAYNOTHING") }}
					</app-dialogue-line>
					<app-dialogue-line name="Android">
						{{ t("X0911K.CAMP.ANDROID.FA.X09KANDM02.SAYNOTHING") }}
					</app-dialogue-line>
					<app-dialogue-line name="Soldier">
						{{ t("X0911K.CAMP.ORDER.VO.X09KSWATM02.FORWARD") }}
					</app-dialogue-line>
					<app-dialogue-line name="Soldier">
						{{ t("X0911K.CAMP.SEPARATED.VO.X09KSWATM04.MOVE") }}
						{{
							t(
								"X0911K.CAMP.SEPARATED.VO.X09KSWATM04.THERESOLDIER.1"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Kara">
						{{ t("X0911K.CAMP.SEPARATED.FA.X09KKARA.THERE01") }}
					</app-dialogue-line>
					<app-dialogue-line name="Soldier">
						{{
							t(
								"X0911K.CAMP.SEPARATED.VO.X09KSWATM04.THERESOLDIER.2"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Alice">
						{{ t("X0911K.CAMP.SEPARATED.VO.X09KALICE.THEREALICE") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>
	</section>
	<section>
		<h1>Explore enclosure</h1>
		<p>{{ t("GUI.MENU.TIME.04A.KC02") }}</p>

		<h2>Going into the enclosure</h2>
		<p>
			<app-dialogue-line name="Kara">
				{{ t("X0913K.ESCAPE.ALICE.FA.X09KKARA.CALLING03") }}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0912K.CORRAL.ALICE.PC.LOOKINGFOR.CALL')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0912K.CORRAL.ALICE.FA.X09KKARA.CALL01") }}
					</app-dialogue-line>
					<app-dialogue-line name="Kara">
						{{ t("X0912K.CORRAL.ALICE.FA.X09KKARA.CALL02") }}
					</app-dialogue-line>
					<app-dialogue-line name="Kara">
						{{ t("X0912K.CORRAL.ALICE.FA.X09KKARA.CALL03") }}
					</app-dialogue-line>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0912K.CORRAL.ALICE.FA.X09KKARA.ASK03"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<section>
			<h2>Android talking to drone</h2>
			<p>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0912K.CORRAL.DRONEKILL.PC.X09KANDDRONEM.PANICKING",
							0,
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Drone">
					{{ t("X0912K.CORRAL.DRONEKILL.VO.X09KDRONE.ORDER") }}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0912K.CORRAL.DRONEKILL.PC.X09KANDDRONEM.PANICKING",
							3
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2>Talk to Jerry</h2>
			<p>
				<app-dialogue-line name="Kara">
					{{ t("X0912K.CORRAL.JERRY.PC.X09KKARA.JERRY.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Jerry">
					{{
						translationService.translateObject(
							"X0912K.CORRAL.JERRY.PC.X09KJERRY01.JERRY",
							0,
							5
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0912K.CORRAL.JERRY.PC.X09KKARA.JERRY.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Jerry">
					{{
						translationService.translateObject(
							"X0912K.CORRAL.JERRY.PC.X09KJERRY01.JERRY",
							5,
							7
						) | async
					}}
					{{
						translationService.translateObject(
							"X0912K.CORRAL.JERRYHELP.PC.X09KJERRY01.JERRY",
							1,
							3
						) | async
					}}
					{{
						translationService.translateObject(
							"X0912K.CORRAL.JERRY.PC.X09KJERRY01.JERRY",
							9
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2>Talk to other Jerry</h2>
			<p>
				<app-dialogue-line name="Kara">
					{{ t("X0912K.CORRAL.JERRYHELP.PC.X09KKARA.JERRY.1") }}
					{{ t("X0912K.CORRAL.JERRYHELP.PC.X09KKARA.JERRY.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Jerry">
					{{ t("X0912K.CORRAL.JERRYHELP.PC.X09KJERRY01.JERRY.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0912K.CORRAL.JERRYHELP.PC.X09KKARA.JERRY.3") }}
				</app-dialogue-line>
				<app-dialogue-line name="Jerry">
					{{
						translationService.translateObject(
							"X0912K.CORRAL.JERRYHELP.PC.X09KJERRY01.JERRY",
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Alice">
					{{ t("X0912K.CORRAL.JERRYHELP.PC.X09KALICE.ALICE.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0912K.CORRAL.JERRYHELP.PC.X09KKARA.ALICE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Alice">
					{{ t("X0912K.CORRAL.JERRYHELP.PC.X09KALICE.ALICE.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Soldier">
					{{
						translationService.translateObject(
							"X0912K.CORRAL.JERRYHELP.VO.X09KSWATM07"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0912K.CORRAL.JERRYHELP.PC.X09KKARA.GATE.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Alice">
					{{ t("X0912K.CORRAL.JERRYHELP.PC.X09KALICE.GATE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0912K.CORRAL.JERRYHELP.PC.X09KKARA.GATE.2") }}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2>Ralph talking</h2>
			<p>
				<app-dialogue-line name="Ralph">
					{{
						translationService.translateObject(
							"X0912K.CORRAL.RALPH.PC.X09KRALPH.LOOPCYC"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2>Talking to Ralph</h2>
			<p>
				<app-unlock-condition [unlockType]="UnlockType.Lock">
					Met Ralph in
					<a [routerLink]="['/chapters', 10]">Fugitives</a>
				</app-unlock-condition>
				<app-dialogue-line name="Ralph">
					{{ t("X0912K.CORRAL.RALPH.PC.X09KRALPH.RALPH.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0912K.CORRAL.RALPH.PC.X09KKARA.RALPHKARA.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Ralph">
					{{
						translationService.translateObject(
							"X0912K.CORRAL.RALPH.PC.X09KRALPH.RALPH",
							1,
							4
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0912K.CORRAL.RALPH.PC.X09KKARA.RALPHKARA.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Ralph">
					{{
						translationService.translateObject(
							"X0912K.CORRAL.RALPH.PC.X09KRALPH.RALPH",
							4
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Drone">
					{{ t("X0912K.CORRAL.DRONEKILL.VO.X09KDRONE.ORDER") }}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0912K.CORRAL.RALPH.PC.01CHOICE.INSIST')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{ t("X0912K.CORRAL.RALPH.PC.X09KKARA.01INSIST") }}
						</app-dialogue-line>
						<app-dialogue-line name="Drone">
							{{
								t("X0912K.CORRAL.DRONEKILL.VO.X09KDRONE.ORDER")
							}}
						</app-dialogue-line>
					</p>

					<ng-container
						*ngTemplateOutlet="ralphChoices2"
					></ng-container>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0912K.CORRAL.RALPH.PC.01CHOICE.CALMDOWN')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0912K.CORRAL.RALPH.PC.X09KKARA.01CALMDOWN"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Drone">
							{{
								t("X0912K.CORRAL.DRONEKILL.VO.X09KDRONE.ORDER")
							}}
						</app-dialogue-line>
					</p>

					<ng-container
						*ngTemplateOutlet="ralphChoices2"
					></ng-container>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0912K.CORRAL.RALPH.PC.01CHOICE.GIVEUP')"
				>
					<p>&oslash;</p>
				</app-choice-item>
			</app-choice-group>

			<ng-template #ralphChoices2>
				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t('X0912K.CORRAL.RALPH.PC.02CHOICE.INSIST')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									t(
										"X0912K.CORRAL.RALPH.PC.X09KKARA.02INSIST"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Ralph">
								{{
									t(
										"X0912K.CORRAL.RALPH.PC.X09KRALPH.DRONESHOOT"
									)
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X0912K.CORRAL.RALPH.PC.02CHOICE.CALMDOWN')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									translationService.translateObject(
										"X0912K.CORRAL.RALPH.PC.X09KKARA.02CALMDOWN"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Ralph">
								{{
									translationService.translateObject(
										"X0912K.CORRAL.RALPH.PC.X09KRALPH.DRONESAFE",
										0,
										3
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Kara">
								{{
									t(
										"X0912K.CORRAL.RALPH.PC.X09KKARA.DRONESAFEKARA"
									)
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X0912K.CORRAL.RALPH.PC.02CHOICE.GIVEUP')
						"
					>
						<p>&oslash;</p>
					</app-choice-item>
				</app-choice-group>
			</ng-template>
		</section>

		<section>
			<h2>Talk to android</h2>
			<p>
				<app-unlock-condition [unlockType]="UnlockType.Lock">
					Chose VOLUNTEER at the entrance of the camp
				</app-unlock-condition>
				<app-dialogue-line name="Kara">
					{{ t("X0912K.CORRAL.ANDROID.FA.X09KKARA.SPEAKKARA") }}
				</app-dialogue-line>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0912K.CORRAL.ANDROID.PC.X09KANDTHREATEN.SPEAK"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section>
			<h2>Talk to scarred android</h2>
			<p>
				<app-unlock-condition [unlockType]="UnlockType.Lock">
					Kara saved the androids in
					<a [routerLink]="['/chapters', 17]">Zlatko</a>
				</app-unlock-condition>
				<app-dialogue-line name="Android">
					{{
						translationService.translateObject(
							"X0912K.CORRAL.MONSTER01.PC.X09KANDMOB01.ZLATKOAND"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0912K.CORRAL.MONSTER01.PC.CHOICE.CAPTURED')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								t(
									"X0912K.CORRAL.MONSTER01.PC.X09KKARA.CAPTURED"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Android">
							{{
								translationService.translateObject(
									"X0912K.CORRAL.MONSTER01.PC.X09KANDMOB01.CAPTUREDMOB"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0912K.CORRAL.MONSTER01.PC.CHOICE.ALICE')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0912K.CORRAL.MONSTER01.PC.X09KKARA.ALICE"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Android">
							{{
								translationService.translateObject(
									"X0912K.CORRAL.MONSTER01.PC.X09KANDMOB01.ALICEMOB"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0912K.CORRAL.MONSTER01.PC.CHOICE.HERE')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0912K.CORRAL.MONSTER01.PC.X09KKARA.HERE"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Android">
							{{
								translationService.translateObject(
									"X0912K.CORRAL.MONSTER01.PC.X09KANDMOB01.HEREMOB"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<section>
			<h2>Talk to Luther</h2>
			<p>
				<app-dialogue-line name="Luther">
					{{
						translationService.translateObject(
							"X0912K.CORRAL.LUTHER.PC.X09KLUTHER.LUTHER"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<app-conditioned-content>
			<div class="condition">
				<p>
					Talked to the two Jerry (and saw Alice) - Kara goes with
					Luther
				</p>
			</div>
			<div class="content">
				<p>
					<app-dialogue-line name="Soldier">
						{{
							translationService.translateObject(
								"X0912K.CORRAL.LUTHER.VO.X09KSWATM05.YOUTOOSOLDIER"
							) | async
						}}
						{{
							t(
								"X0912K.CORRAL.LUTHER.VO.X09KSWATM05.THROUGHGATESOLDIER"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Kara">
						{{ t("X0912K.CORRAL.LUTHER.PC.X09KKARA.THROUGHGATE") }}
					</app-dialogue-line>
				</p>
			</div>
		</app-conditioned-content>
		<app-conditioned-content>
			<div class="condition"><p>Didn't see Alice</p></div>
			<div class="content">
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0912K.CORRAL.LUTHER.PC.X09KKARA.SEPARATED") }}
					</app-dialogue-line>
					<app-dialogue-line name="Luther">
						{{
							translationService.translateObject(
								"X0912K.CORRAL.LUTHER.PC.X09KLUTHER.SEPARATED"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Soldier">
						{{
							translationService.translateObject(
								"X0912K.CORRAL.LUTHER.VO.X09KSWATM05.YOUTOOSOLDIER"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Kara">
						{{ t("X0912K.CORRAL.LUTHER.PC.X09KKARA.YOUTOO") }}
					</app-dialogue-line>
					<app-dialogue-line name="Luther">
						{{ t("X0912K.CORRAL.LUTHER.PC.X09KLUTHER.YOUTOO") }}
					</app-dialogue-line>
				</p>

				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t('X0912K.CORRAL.LUTHER.PC.ACTCHOICE.INTERVENE')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									t(
										"X0912K.CORRAL.LUTHER.FA.X09KKARA.INTERVENE"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Soldier">
								{{
									translationService.translateObject(
										"X0912K.CORRAL.LUTHER.VO.X09KSWATM05.INTERVENESOLDIER"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X0912K.CORRAL.LUTHER.PC.ACTCHOICE.INTERVENENOT')
						"
					>
						<p>&oslash;</p>
					</app-choice-item>
				</app-choice-group>

				<h2>Join Alice</h2>
				<p>
					<app-dialogue-line name="Soldier">
						{{
							translationService.translateObject(
								"X0912K.CORRAL.GATE.VO.X09KSWATM05.OPENSOLDIER"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</div>
		</app-conditioned-content>
	</section>

	<section>
		<h1>Join line</h1>
		<!-- TODO: Add sections -->
		<p>{{ t("GUI.MENU.TIME.04A.KC03") }}</p>

		<app-conditioned-content>
			<div class="condition"><p>Markus is leading a revolution</p></div>
			<div class="content">
				<p>
					<app-dialogue-line name="Android">
						{{
							translationService.translateObject(
								"X0913K.LINE.INTRO.PC.X09KANDMLINE01.MARKUS"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<h2>Talk to android behind Kara</h2>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0913K.LINE.ANDROID.PC.X09KKARA.MARKUS") }}
					</app-dialogue-line>
					<app-dialogue-line name="Android">
						{{
							translationService.translateObject(
								"X0913K.LINE.ANDROID.PC.X09KANDMLINE01.MARKUSAND"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</div>
		</app-conditioned-content>

		<p>
			<app-dialogue-line name="Soldier">
				{{
					translationService.translateObject(
						"X0913K.LINE.INTRO.VO.X09KSWATM09.OBEY"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<h2>Seen by drone</h2>
		<p>
			<app-dialogue-line name="Drone">
				{{ t("X0913K.LINE.DRONE.VO.X09KDRONE.FAIL") }}
			</app-dialogue-line>
		</p>

		<h2>Do not move</h2>
		<p>
			<app-dialogue-line name="Soldier">
				{{
					translationService.translateObject(
						"X0913K.LINE.ADVANCE.VO.X09KSWATM09.WARNING01"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<h2>Mind palace dialogues</h2>

		<ul>
			<li>
				{{ t("X0913K.LINE.VOICES.VO.X09KANDM08.HEAD01") }}
			</li>
			<li>
				{{ t("X0913K.LINE.VOICES.VO.X09KANDM08.HEAD02") }}
			</li>
			<li>
				{{ t("X0913K.LINE.VOICES.VO.X09KANDM08.HEAD03") }}
			</li>
			<li>
				{{ t("X0913K.LINE.VOICES.VO.X09KANDM08.HEAD04") }}
			</li>
			<li>
				{{ t("X0913K.LINE.VOICES.VO.X09KANDM08.HEAD05") }}
			</li>
			<li>
				{{
					translationService.translateObject(
						"X0913K.LINE.VOICES.VO.X09KANDM08.HEAD06"
					) | async
				}}
			</li>
			<li>
				{{ t("X0913K.LINE.VOICES.VO.X09KANDM08.HEAD07") }}
			</li>
			<li>
				{{ t("X0913K.LINE.VOICES.VO.X09KANDM08.HEAD08") }}
			</li>
			<li>
				{{
					translationService.translateObject(
						"X0913K.LINE.VOICES.VO.X09KANDM08.HEAD09"
					) | async
				}}
			</li>
			<li>
				{{ t("X0913K.LINE.VOICES.VO.X09KANDM08.MARKUS01") }}
			</li>
			<li>
				{{ t("X0913K.LINE.VOICES.VO.X09KANDM08.MARKUS02") }}
			</li>
			<li>
				{{ t("X0913K.LINE.VOICES.VO.X09KANDM08.MARKUS03") }}
			</li>
			<li>
				{{ t("X0913K.LINE.VOICES.VO.X09KANDM08.MARKUS04") }}
			</li>
			<li>
				{{ t("X0913K.LINE.VOICES.VO.X09KANDM08.MARKUS05") }}
			</li>
		</ul>

		<h2>Call Alice</h2>
		<p>
			<app-dialogue-line name="Kara">
				{{ t("X0912K.CORRAL.ALICE.VO.X09KKARA.CALL04") }}
			</app-dialogue-line>
			<app-dialogue-line name="Alice">
				{{ t("X0913K.LINE.ALICE.FA.X09KALICE.KARA") }}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{ t("X0913K.LINE.ALICE.VO.X09KKARA.DONTMOVE") }}
			</app-dialogue-line>
			<app-dialogue-line name="Alice">
				{{ t("X0913K.LINE.ALICE.VO.X09KALICE.DONTMOVEA") }}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0913K.LINE.ALICE.PC.TALKCHOICE.FIRM')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0913K.LINE.ALICE.VO.X09KKARA.FIRM") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0913K.LINE.ALICE.PC.TALKCHOICE.OPTIMIST')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0913K.LINE.ALICE.VO.X09KKARA.OPTIMIST") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0913K.LINE.ALICE.PC.TALKCHOICE.REASSURING')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0913K.LINE.ALICE.VO.X09KKARA.REASSURING") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0913K.LINE.ALICE.PC.TALKCHOICE.DIRECT')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0913K.LINE.ALICE.VO.X09KKARA.DIRECT"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<p>
			<app-dialogue-line name="Alice">
				{{
					translationService.translateObject(
						"X0913K.LINE.ALICE.VO.X09KALICE.DONTLEAVE"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<h2>Talk to Jerry</h2>
		<p>
			<app-dialogue-line name="Jerry">
				{{
					translationService.translateObject(
						"X0913K.LINE.JERRY.VO.X09KJERRY02.HELP"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<h2>Talk to Luther</h2>
		<p>
			<app-dialogue-line name="Luther">
				{{
					translationService.translateObject(
						"X0913K.LINE.LUTHER.VO.X09KLUTHER.ALICE"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<h2>Talk to Ralph</h2>
		<p>
			<app-dialogue-line name="Kara">
				{{ t("X0912K.CORRAL.RALPH.VO.X09KKARA.RALPHKARATELEPATHY.1") }}
			</app-dialogue-line>
			<app-dialogue-line name="Ralph">
				{{
					translationService.translateObject(
						"X0913K.ESCAPE.RALPH.VO.X09KRALPH.WANTOTHELP01"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{ t("X0913K.ESCAPE.RALPH.VO.X09KKARA.WANTOTHELPKARA") }}
			</app-dialogue-line>
			<app-dialogue-line name="Ralph">
				{{
					translationService.translateObject(
						"X0913K.ESCAPE.RALPH.VO.X09KRALPH.WANTOTHELP02"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<h2>Talk to scarred android</h2>
		<p>
			<app-dialogue-line name="Android">
				{{ t("X0913K.LINE.MOB.PC.X09KANDMOB01.HELP") }}
			</app-dialogue-line>
		</p>

		<h2>Talk to android ahead of Kara</h2>
		<p>
			<app-dialogue-line name="Kara">
				{{
					translationService.translateObject(
						"X0913K.LINE.ANDROID.PC.X09KKARA.WHY"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<mat-divider></mat-divider>

		<p>
			<app-dialogue-line name="Alice">
				{{
					translationService.translateObject(
						"X0913K.LINE.REASSURE.VO.X09KALICE.01KILLUS"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0913K.LINE.REASSURE.PC.01ANSWER.LIE')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0913K.LINE.REASSURE.VO.X09KKARA.01LIE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0913K.LINE.REASSURE.PC.01ANSWER.TRUTH')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0913K.LINE.REASSURE.VO.X09KKARA.01TRUTH"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Alice">
						{{ t("X0913K.LINE.REASSURE.VO.X09KALICE.01TRUTHB.1") }}
					</app-dialogue-line>
				</p>

				<app-unused-content>
					<p>
						<app-dialogue-line name="Alice">
							{{
								translationService.translateObject(
									"X0913K.LINE.REASSURE.VO.X09KALICE.01TRUTHB",
									1,
									3
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-unused-content>

				<p>
					<app-dialogue-line name="Alice">
						{{ t("X0913K.LINE.REASSURE.VO.X09KALICE.01TRUTHB.4") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<mat-divider></mat-divider>

		<p>
			<app-dialogue-line name="Alice">
				{{ t("X0913K.LINE.REASSURE.VO.X09KALICE.03SCARED") }}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0913K.LINE.REASSURE.PC.03ANSWER.ORDER')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0913K.LINE.REASSURE.VO.X09KKARA.03ORDER") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0913K.LINE.REASSURE.PC.03ANSWER.CALMDOWN')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0913K.LINE.REASSURE.VO.X09KKARA.03CALMDOWN") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<mat-divider></mat-divider>

		<p>
			<app-dialogue-line name="Alice">
				{{
					translationService.translateObject(
						"X0913K.LINE.REASSURE.VO.X09KALICE.02HOLDME"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0913K.LINE.REASSURE.PC.02ANSWER.REASSURING')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0913K.LINE.REASSURE.VO.X09KKARA.02REASSURING") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0913K.LINE.REASSURE.PC.02ANSWER.POWERLESS')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0913K.LINE.REASSURE.VO.X09KKARA.02POWERLESS"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0913K.LINE.REASSURE.PC.02ANSWER.OPTIMIST')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0913K.LINE.REASSURE.VO.X09KKARA.02OPTIMIST") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<mat-divider></mat-divider>

		<h2>{{ t("MENU.FLOWCHART.04A.KA.SACRIFICEJERRY") }}</h2>
		<p>
			<app-dialogue-line name="Soldier">
				{{
					translationService.translateObject(
						"X0913K.LINE.JERRYHELP.VO.X09KSWATM09",
						0,
						2
					) | async
				}}
				{{
					translationService.translateObject(
						"X0913K.LINE.JERRYHELP.VO.X09KSWATM09.BACK04"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<h2>Send Ralph</h2>
		<p>
			<app-dialogue-line name="Ralph">
				{{
					translationService.translateObject(
						"X0913K.ESCAPE.RALPH.VO.X09KRALPH.SACRIFICE"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Soldier">
				{{ t("X0913K.ESCAPE.LUTHER.VO.X09KSWATM09.LUTHERDEAD01") }}
			</app-dialogue-line>
		</p>

		<h2>Ask scarred android</h2>
		<p>
			<app-dialogue-line name="Soldier">
				{{ t("X0913K.LINE.MOBHELP.VO.X09KSWATM04.WHAT") }}
			</app-dialogue-line>
			<app-dialogue-line name="Soldier">
				{{
					translationService.translateObject(
						"X0913K.LINE.MOBHELP.VO.X09KSWATM03.STOP"
					) | async
				}}
				{{ t("X0913K.LINE.MOBHELP.VO.X09KSWATM03.INSIST") }}
				{{
					translationService.translateObject(
						"X0913K.LINE.MOBHELP.VO.X09KSWATM03.CONCLUSION"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<mat-divider></mat-divider>

		<h2>Alice stress at 100%</h2>
		<p>
			<app-dialogue-line name="Kara">
				{{ t("X0913K.LINE.ALICEFAIL.FA.X09KKARA.RUN") }}
			</app-dialogue-line>
		</p>

		<!-- TODO (V2): Add X0913K.LINE.ALICEFAIL.FA.X09KALICE.PROTKARA -->
		<app-choice-group>
			<app-choice-item
				[choiceLabel]="
					t('X0913K.LINE.ALICEFAIL.PC.PROTECTCHOICE.ALICE')
				"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0912K.CORRAL.DRONEFAIL.FA.X09KKARA.DYING") }}
					</app-dialogue-line>
					<app-dialogue-line name="Alice">
						{{ t("X0913K.LINE.ADVANCE.FA.X09KALICE.KARA") }}
						{{
							translationService.translateObject(
								"X0913K.LINE.ALICEFAIL.FA.X09KALICE.PROTALICE"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Soldier">
						{{
							t(
								"X0913K.LINE.ALICEFAIL.VO.X09KSWATM09.PROTSOLDIER"
							)
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0913K.LINE.ALICEFAIL.PC.PROTECTCHOICE.KARA')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0912K.CORRAL.DRONEFAIL.FA.X09KKARA.DYING") }}
					</app-dialogue-line>
					<app-dialogue-line name="Alice">
						{{ t("X0913K.ESCAPE.BARBEDWIRE.FA.X09KALICE.MUM.1") }}
					</app-dialogue-line>
					<app-dialogue-line name="Soldier">
						{{
							t(
								"X0913K.LINE.ALICEFAIL.VO.X09KSWATM09.PROTSOLDIER"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Kara">
						{{ t("X0913K.LINE.ALICEFAIL.FA.X09KKARA.RUN") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<!-- TODO: Put section -->
		<h2>Join Alice</h2>
		<p>
			<app-dialogue-line name="Alice">
				{{
					translationService.translateObject(
						"X0913K.LINE.TOGETHER.PC.X09KALICE.JOIN"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{ t("X0913K.LINE.TOGETHER.PC.X09KKARA.JOIN") }}
			</app-dialogue-line>
			<app-dialogue-line name="Soldier">
				{{ t("X0913K.LINE.TOGETHER.VO.X09KSWATM09.MOVEIT") }}
			</app-dialogue-line>
		</p>

		<h2>Talk to Luther</h2>
		<p>
			<app-dialogue-line name="Luther">
				{{
					translationService.translateObject(
						"X0913K.ESCAPE.LUTHER.VO.X09KLUTHER.SACRIFICE",
						0,
						2
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{
					translationService.translateObject(
						"X0913K.ESCAPE.LUTHER.VO.X09KKARA.SACRIFICE"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Luther">
				{{
					translationService.translateObject(
						"X0913K.ESCAPE.LUTHER.VO.X09KLUTHER.SACRIFICE",
						2
					) | async
				}}
			</app-dialogue-line>
		</p>

		<h2>Luther reaches Recycling Machine</h2>
		<p>
			<app-dialogue-line name="Alice">
				{{ t("X0913K.ENDLINE.LUTHERGONNADIE.VO.X09KALICE.FAMILYA") }}
			</app-dialogue-line>
			<app-dialogue-line name="Luther">
				{{
					translationService.translateObject(
						"X0913K.ENDLINE.LUTHERGONNADIE.VO.X09KLUTHER.FAMILY"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-conditioned-content>
			<div class="condition"><p>Escape through the fence</p></div>
			<div class="content">
				<p>
					<app-dialogue-line name="Soldier">
						{{ t("X0913K.ESCAPE.BARBEDWIRE.VO.X09KSWATM09.STOP") }}
					</app-dialogue-line>
				</p>

				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t('X0913K.ESCAPE.BARBEDWIRE.PC.CATCHED.FLEE')
						"
					>
						<p>
							<app-dialogue-line name="Alice">
								{{
									t(
										"X0913K.ESCAPE.BARBEDWIRE.FA.X09KLUTHER.FIGHT"
									)
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X0913K.ESCAPE.BARBEDWIRE.PC.CATCHED.ATTACK')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									t(
										"X0913K.ESCAPE.BARBEDWIRE.FA.X09KKARA.ATTACK"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Alice">
								{{
									t(
										"X0913K.ESCAPE.BARBEDWIRE.FA.X09KALICE.ATTACKALICE"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Luther">
								{{
									t(
										"X0913K.ESCAPE.BARBEDWIRE.FA.X09KLUTHER.FIGHT"
									)
								}}
							</app-dialogue-line>
						</p>

						<app-conditioned-content>
							<div class="condition">
								<p>
									Fail the fight and Ralph is still alive :
									Ralph saves Kara
								</p>
							</div>
							<div class="content">
								<p>
									<app-dialogue-line name="Ralph">
										{{
											t(
												"X0913K.ESCAPE.LASTCHANCE.PC.X09KRALPH.RUNRALPH"
											)
										}}
									</app-dialogue-line>
								</p>
							</div>
						</app-conditioned-content>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="t(CommonTranslationKey.TooMuchTime)"
					>
						<p>
							<app-dialogue-line name="Alice">
								{{
									translationService.translateObject(
										"X0913K.ESCAPE.BARBEDWIRE.FA.X09KALICE.MUM"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
				</app-choice-group>
			</div>
		</app-conditioned-content>
	</section>

	<section>
		<h1>Fail to escape - Reach Recycling Machine</h1>

		<p>{{ t("GUI.MENU.TIME.04A.KC04") }}</p>

		<app-conditioned-content>
			<div class="condition"><p>Kara and Alice are together</p></div>
			<div class="content">
				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t('X0913K.ENDLINE.NOWAYOUT.PC.CHOICE01.BRAVE')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									translationService.translateObject(
										"X0913K.ENDLINE.NOWAYOUT.PC.X09KKARA.BRAVE"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X0913K.ENDLINE.NOWAYOUT.PC.CHOICE01.PRIDE')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									translationService.translateObject(
										"X0913K.ENDLINE.NOWAYOUT.PC.X09KKARA.PRIDE"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X0913K.ENDLINE.NOWAYOUT.PC.CHOICE01.TOGETHER')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									translationService.translateObject(
										"X0913K.ENDLINE.NOWAYOUT.PC.X09KKARA.TOGETHER"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X0913K.ENDLINE.NOWAYOUT.PC.CHOICE01.EMOTION')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									translationService.translateObject(
										"X0913K.ENDLINE.NOWAYOUT.PC.X09KKARA.EMOTION"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
				</app-choice-group>

				<p>
					<app-dialogue-line name="Soldier">
						{{
							t(
								"X0913K.ENDLINE.NOWAYOUT.VO.X09KSWATM01.LASTHUGSOLDIER"
							)
						}}
					</app-dialogue-line>
				</p>

				<app-conditioned-content>
					<div class="condition">
						<p>
							Markus' revolution succeeded : Kara and Alice are
							saved
						</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Soldier">
								{{
									t(
										"X0913K.ENDLINE.NOWAYOUT.VO.X09KSWATM04.REVOLUTION"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition">
						<p>Kara and Alice are not saved</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Alice">
								{{
									t(
										"X0913K.ENDLINE.NOWAYOUT.FA.X09KALICE.LASTHUGALICE"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Kara">
								{{
									t(
										"X0913K.ENDLINE.NOWAYOUT.PC.X09KKARA.LASTHUG"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
			</div>
		</app-conditioned-content>
		<app-conditioned-content>
			<div class="condition"><p>Kara and Alice are separated</p></div>
			<div class="content">
				<p>
					<app-dialogue-line name="Soldier">
						{{
							t(
								"X0913K.DEATHCONTAINER.END.VO.X09KSWATM03.ALICEDEATH"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Alice">
						{{
							translationService.translateObject(
								"X0913K.DEATHCONTAINER.END.FA.X09KALICE.ALICEDEATH"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<p>
					<app-dialogue-line name="Soldier">
						{{
							t(
								"X0913K.DEATHCONTAINER.END.VO.X09KSWATM03.ALICEDEATH"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Kara">
						{{
							t(
								"X0913K.DEATHCONTAINER.END.PC.X09KKARA.KARADEATHK"
							)
						}}
					</app-dialogue-line>
				</p>
			</div>
		</app-conditioned-content>
	</section>

	<section>
		<h1>Solid Waste Landfill</h1>
		<p>{{ t("GUI.MENU.TIME.04A.KEP02") }}</p>

		<app-conditioned-content>
			<div class="condition"><p>Alice and Kara are alive</p></div>
			<div class="content">
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X2001A.JUNKYARD.END.PC.X20AKARA.LOVEYOU.1") }}
						{{ t("X0913K.ESCAPE.ALICE.FA.X09KKARA.CALLING03") }}
					</app-dialogue-line>
					<app-dialogue-line name="Alice">
						{{ t("X2001A.JUNKYARD.END.PC.X20AALICE.LOVEYOU") }}
					</app-dialogue-line>
					<app-dialogue-line name="Kara">
						{{ t("X2001A.JUNKYARD.END.PC.X20AKARA.LOVEYOU.2") }}
					</app-dialogue-line>
				</p>
			</div>
		</app-conditioned-content>
	</section>
</ng-container>
