<main class="container">
    <!-- Large -->
    <div class="notfound-large hide-on-med-and-down">
            <div class="notfound-container">
                <img src="assets/images/triangleerror.png" class="notfound-img" alt="404-notfound">
                <div class="notfound-text">
                    <h1>404</h1>
                    <p>Page not found.</p>
                </div>
            </div> 
    </div>

    <!-- Medium -->
    <div class="notfound-medium hide-on-large-only hide-on-small-only">
            <div class="notfound-container">
                <img src="assets/images/triangleerror.png" class="notfound-img hide-on-small-only" alt="404-notfound">
                <div class="notfound-text">
                    <h1>404</h1>
                    <p>Page not found.</p>
                </div>
            </div> 
    </div>

    <!-- Small -->
    <div class="notfound-small hide-on-med-and-up">
        <div class="notfound-text">
            <h1>404</h1>
            <p>Page not found.</p>
        </div>
    </div>

    <div class="buttons">
        <button routerLink="/chapters" class="waves-effect waves-light btn red darken-2"><i class="fas fa-home"></i> Home</button>
        <button (click)="goBack()" class="waves-effect waves-light btn red darken-2"><i class="fas fa-chevron-circle-left"></i> Go back</button>
    </div>

</main>

