<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <h1>In the church or in Jericho (if not attacked in Crossroads)</h1>

        <p>{{ t('GUI.MENU.TIME.04A.MP01') }}</p>

        <p>
            <app-dialogue-line name="Markus">
                {{
                    translateObject('X1101M.TV.MARKUS.PC.X11MMARKUS.FACECAMERA')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <h1>Hart Plaza</h1>

        <p>{{ t('GUI.MENU.TIME.04A.MV02') }}</p>

        <p>
            <app-dialogue-line name="CTN TV - Michael Brinkley">
                {{ t('X1102M.INTRO.JOURNALIST.PC.X11MBRINKLEY.TVNEWS03') }}
            </app-dialogue-line>
            <app-dialogue-line name="Channel 16 - Joss Douglas">
                {{
                    translateObject(
                        'X1102M.INTRO.JOURNALIST.PC.X11MJOSS.TVNEWS01'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">North is alive</div>
            <div class="content">
                <app-dialogue-line name="North">
                    {{ t('X1102M.CAMP.CHARGE.PC.X11MMARLA.FREEDOMNORTH') }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>
        <p>
            <app-dialogue-line name="Markus">
                {{ t('X1102M.CAMP.CHARGE.PC.X11MMARKUS.FREEDOMNORTH') }}
                {{ t('X1102M.CAMP.CHARGE.PC.X11MMARKUS.GOCHARGE') }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">North is alive</div>
            <div class="content">
                <app-dialogue-line name="North">
                    {{
                        translateObject(
                            'X1102M.CAMP.SHELTER.PC.X11MMARLA.GROUPUP01'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition">North is dead and Simon is alive</div>
            <div class="content">
                <app-dialogue-line name="Simon">
                    {{
                        translateObject(
                            'X1102M.CAMP.SHELTER.PC.X11MSIMON.GROUPUP02'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition">Simon is dead</div>
            <div class="content">
                <app-dialogue-line name="Josh">
                    {{
                        translateObject(
                            'X1102M.CAMP.SHELTER.FA.X11MJOSH.GROUPUP03SECU'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <p>
            <app-dialogue-line name="Markus">
                {{ t('X1102M.CAMP.SHELTER.PC.X11MMARKUS.GROUPUP04') }}
            </app-dialogue-line>
            <app-dialogue-line name="North">
                {{
                    translateObject(
                        'X1102M.CAMP.SHELTER.PC.X11MMARLA.DETERMINED'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">Simon is alive</div>
            <div class="content">
                <app-dialogue-line name="Simon">
                    {{ t('X1102M.CAMP.SHELTER.FA.X11MSIMON.CAREFUL03SECU') }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition">Simon is dead</div>
            <div class="content">
                <app-dialogue-line name="Josh">
                    {{ t('X1102M.CAMP.SHELTER.FA.X11MSIMON.CAREFUL03SECU') }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <h2>Josh gets shot</h2>
        <p>
            <app-dialogue-line name="Markus">
                {{ t('X1102M.CAMP.JOSH.FA.X11MMARKUS.FALL') }}
            </app-dialogue-line>
        </p>

        <h2>Save Josh</h2>
        <p>
            <app-dialogue-line name="Josh">
                {{ t('X1102M.CAMP.JOSHDEAD.PC.X11MJOSH.DYING.1') }}
            </app-dialogue-line>
        </p>

        <app-unused-content>
            <app-dialogue-line name="Josh">
                {{
                    translateObject(
                        'X1102M.CAMP.JOSHDEAD.PC.X11MJOSH.DYING',
                        1,
                        3
                    ) | async
                }}
            </app-dialogue-line>
        </app-unused-content>

        <p>
            <app-dialogue-line name="Josh">
                {{
                    translateObject('X1102M.CAMP.JOSHDEAD.PC.X11MJOSH.DYING', 3)
                        | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Reach the scared android</h2>
        <p>
            <app-dialogue-line name="Android">
                {{
                    translateObject(
                        'X1102M.CAMP.SCAREDAND.FA.X11MSCAREDAND01.DEATHFEARAND'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-unused-content>
            <app-choice-group>
                <app-choice-item
                    [choiceLabel]="
                        t('X1102M.CAMP.SCAREDAND.PC.CHOICE01.REASSURE')
                    "
                >
                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X1102M.CAMP.SCAREDAND.PC.X11MMARKUS.01REASSURE'
                            ) | async
                        }}
                    </app-dialogue-line>
                </app-choice-item>
                <app-choice-item
                    [choiceLabel]="
                        t('X1102M.CAMP.SCAREDAND.PC.CHOICE01.MOTIVATE')
                    "
                >
                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X1102M.CAMP.SCAREDAND.PC.X11MMARKUS.01MOTIVATE'
                            ) | async
                        }}
                    </app-dialogue-line>
                </app-choice-item>
                <app-choice-item
                    [choiceLabel]="t('X1102M.CAMP.SCAREDAND.PC.CHOICE01.RA9')"
                >
                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X1102M.CAMP.SCAREDAND.PC.X11MMARKUS.01RA9'
                            ) | async
                        }}
                    </app-dialogue-line>
                </app-choice-item>
                <app-choice-item
                    [choiceLabel]="
                        t('X1102M.CAMP.SCAREDAND.PC.CHOICE01.SHAKEUP')
                    "
                >
                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X1102M.CAMP.SCAREDAND.PC.X11MMARKUS.01SHAKEUP'
                            ) | async
                        }}
                    </app-dialogue-line>
                </app-choice-item>
            </app-choice-group>
        </app-unused-content>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X1102M.CAMP.SCAREDAND.PC.CHOICE02.STAYHERE')"
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X1102M.CAMP.SCAREDAND.PC.X11MMARKUS.02STAYHERE'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X1102M.CAMP.SCAREDAND.PC.CHOICE02.GOBACK')"
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X1102M.CAMP.SCAREDAND.PC.X11MMARKUS.02GOBACK'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Soldier">
                    {{ t('X5072X.MILITARY.FIGHT.VO.MANAWI.ORDERFIRE01') }}
                </app-dialogue-line>
                <span class="note">Android dies</span>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X1102M.CAMP.SCAREDAND.PC.CHOICE02.ADVANCE')"
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X1102M.CAMP.SCAREDAND.PC.X11MMARKUS.02ADVANCE'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Soldier">
                    {{ t('X5072X.MILITARY.FIGHT.VO.MANAWI.ORDERFIRE01') }}
                </app-dialogue-line>
                <span class="note">Android dies</span>
            </app-choice-item>
        </div>

        <h2>Talk to android behind sand bags</h2>
        <p>
            <app-dialogue-line name="Android">
                {{
                    translateObject(
                        'X1102M.CAMP.WOUNDEDAND.FA.X11MWOUNDEDAND.HELPANDROID'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">Markus badly wounded</div>
            <div class="content">
                <app-conditioned-content>
                    <div class="condition">
                        North >= companion: North gives her heart
                    </div>
                    <div class="content">
                        <app-dialogue-line name="North">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARLA.NORTHHELP01'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Markus">
                            {{
                                translateObject(
                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARKUS.NORTHHELP01'
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="North">
                            {{
                                translateObject(
                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARLA.NORTHHELP02',
                                    0,
                                    2
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Markus">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARKUS.NORTHHELP02.1'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="North">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARLA.NORTHHELP02.3'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Markus">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARKUS.NORTHHELP02.2'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="North">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARLA.NORTHHELP02.4'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Markus">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARKUS.NORTHHELP02.3'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="North">
                            {{
                                translateObject(
                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARLA.NORTHHELP02',
                                    4
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Markus">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARKUS.NORTHHELP02.4'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="North">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARLA.NORTHHELP03'
                                )
                            }}
                        </app-dialogue-line>

                        <app-conditioned-content>
                            <div class="condition">North is lover</div>
                            <div class="content">
                                <app-dialogue-line name="North">
                                    {{
                                        t(
                                            'X1102M.GAMEOVER.MARKUS01.PC.X11MMARLA.LOVE'
                                        )
                                    }}
                                </app-dialogue-line>
                            </div>
                        </app-conditioned-content>

                        <div class="choices">
                            <app-choice-item
                                [choiceLabel]="
                                    t(
                                        'X1102M.GAMEOVER.MARKUS01.PC.SACRIFICECHOICE.SACRIFICENORTH'
                                    )
                                "
                            >
                                <app-relation
                                    name="Jericho"
                                    [type]="RelationType.SmallDown"
                                ></app-relation>

                                <app-conditioned-content>
                                    <div class="condition">North is lover</div>
                                    <div class="content">
                                        <app-dialogue-line name="North">
                                            {{
                                                translateObject(
                                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARLA.SACRIFICENORTHLOVE'
                                                ) | async
                                            }}
                                        </app-dialogue-line>
                                    </div>
                                </app-conditioned-content>
                                <app-conditioned-content>
                                    <div class="condition">North not lover</div>
                                    <div class="content">
                                        <app-dialogue-line name="North">
                                            {{
                                                translateObject(
                                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARLA.SACRIFICENORTH02'
                                                ) | async
                                            }}
                                        </app-dialogue-line>
                                    </div>
                                </app-conditioned-content>
                            </app-choice-item>
                            <app-choice-item
                                [choiceLabel]="
                                    t(
                                        'X1102M.GAMEOVER.MARKUS01.PC.SACRIFICECHOICE.SACRIFICEMARKUS'
                                    )
                                "
                            >
                                <app-dialogue-line name="Markus">
                                    {{
                                        translateObject(
                                            'X1102M.GAMEOVER.MARKUS01.PC.X11MMARKUS.SACRIFICEMARKUS'
                                        ) | async
                                    }}
                                </app-dialogue-line>

                                <app-conditioned-content>
                                    <div class="condition">North is lover</div>
                                    <div class="content">
                                        <app-dialogue-line name="Markus">
                                            {{
                                                t(
                                                    'X1102M.GAMEOVER.MARKUS01.PC.X11MMARKUS.SACRIFICEMARKUSKISS'
                                                )
                                            }}
                                        </app-dialogue-line>
                                    </div>
                                </app-conditioned-content>
                            </app-choice-item>
                        </div>
                    </div>
                </app-conditioned-content>
                <app-conditioned-content>
                    <div class="condition">Simon gives his heart</div>
                    <div class="content">
                        <app-relation
                            name="Jericho"
                            [type]="RelationType.SmallDown"
                        ></app-relation>
                        <app-dialogue-line name="Simon">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS02.PC.X11MSIMON.SIMONHELP01'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Markus">
                            {{
                                translateObject(
                                    'X1102M.GAMEOVER.MARKUS02.PC.X11MMARKUS.SIMONHELP01'
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Simon">
                            {{
                                translateObject(
                                    'X1102M.GAMEOVER.MARKUS02.PC.X11MSIMON.SIMONHELP02',
                                    0,
                                    3
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Markus">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS02.PC.X11MMARKUS.SIMONHELP02.1'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Simon">
                            {{
                                translateObject(
                                    'X1102M.GAMEOVER.MARKUS02.PC.X11MSIMON.SIMONHELP02',
                                    3,
                                    5
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Markus">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS02.PC.X11MMARKUS.SIMONHELP02.2'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Simon">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS02.PC.X11MSIMON.SIMONHELP02.6'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Markus">
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS02.PC.X11MMARKUS.SIMONHELP02.3'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Simon">
                            {{
                                translateObject(
                                    'X1102M.GAMEOVER.MARKUS02.PC.X11MSIMON.SIMONHELP02',
                                    6
                                ) | async
                            }}
                            {{
                                t(
                                    'X1102M.GAMEOVER.MARKUS02.PC.X11MSIMON.SIMONHELP03'
                                )
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Markus">
                            {{
                                translateObject(
                                    'X1102M.GAMEOVER.MARKUS02.PC.X11MMARKUS.SIMONHELP04'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </div>
                </app-conditioned-content>
            </div>
        </app-conditioned-content>

        <h2>At the pillar</h2>
        <app-dialogue-line name="Simon">
            {{
                translateObject('X1102M.CAMP.SIMON.FA.X11MSIMON.FASTER') | async
            }}
        </app-dialogue-line>

        <h2>Save Simon</h2>
        <p>
            <app-relation
                name="Simon"
                [type]="RelationType.LargeUp"
            ></app-relation>

            <app-dialogue-line name="Simon">
                {{
                    translateObject('X1102M.CAMP.SIMON.FA.X11MSIMON.SAVED')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Attacking</h2>
        <p>
            <app-dialogue-line name="Markus">
                {{ t('X1102M.PBY.REVOLUTION.VO.X11MANDROID01.REVOLUTION01') }}
            </app-dialogue-line>
        </p>

        <h2>Reach machine gun</h2>
        <p>
            <app-dialogue-line name="Android">
                {{
                    translateObject(
                        'X1102M.CAMP.MACHINEGUN.FA.X11MMACHINEGUNANDROID.ATTACKED'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Shoot drone</h2>
        <p>
            <app-dialogue-line name="North">
                {{ t('X1102M.CAMP.NORTH.FA.X11MMARLA.NORTHNOTDEAD') }}
            </app-dialogue-line>
        </p>

        <h2>Attacking</h2>
        <p>
            <app-dialogue-line name="Markus">
                {{ t('X1103M.INTRO.CHARGE.PC.X11MMARKUS.FREEDOM') }}
            </app-dialogue-line>
        </p>
    </section>

    <section>
        <h1>Assault successful - Approaching Recall Center N°5</h1>
        <p>{{ t('GUI.MENU.TIME.04A.MV03') }}</p>
        <app-conditioned-content>
            <div class="condition">Connor is not deviant</div>
            <div class="content">
                <app-dialogue-line name="Connor">
                    {{
                        t(
                            'X1103M.EXPLOSION.SMOKE.FA.X11MBADCONNOR.CONNOREMERGE'
                        )
                    }}
                </app-dialogue-line>
                <app-conditioned-content>
                    <div class="condition">Markus wins fight</div>
                    <div class="content">
                        <app-dialogue-line name="Connor">
                            {{
                                translateObject(
                                    'X1103M.BADCONNOR.FIGHT.FA.X11MBADCONNOR.TIMEOUT'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </div>
                </app-conditioned-content>
            </div>
        </app-conditioned-content>

        <app-conditioned-content>
            <div class="condition">North is alive</div>
            <div class="content">
                <app-dialogue-line name="North">
                    {{
                        translateObject(
                            'X1103M.FINAL.SUCCESS.PC.X11MMARLA.NORTHALIVE'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition">North is dead, Simon is alive</div>
            <div class="content">
                <app-dialogue-line name="Simon">
                    {{
                        translateObject(
                            'X1103M.FINAL.SUCCESS.PC.X11MSIMON.SIMONALIVE'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition">North is dead, Simon is dead</div>
            <div class="content">
                <app-dialogue-line name="Android">
                    {{
                        translateObject(
                            'X1103M.FINAL.SUCCESS.FA.X11MANDROID01.SIDEKICKSDEAD'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <p>
            <app-dialogue-line name="Markus">
                {{
                    translateObject('X1103M.FINAL.SUCCESS.PC.X11MMARKUS.CONT')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <p>{{ t('GUI.MENU.TIME.04A.AFTER') }}</p>

        <p>
            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X1108M.AFTERMATHS.FREEDOMSPEECH.PC.X11MMARKUS.SPEAK'
                    ) | async
                }}
                {{
                    translateObject(
                        'X1108M.AFTERMATHS.FREEDOMSPEECH.PC.X11MMARKUS.VIOLENT'
                    ) | async
                }}
                {{
                    translateObject(
                        'X1108M.AFTERMATHS.FREEDOMSPEECH.PC.X11MMARKUS.FREE'
                    ) | async
                }}
            </app-dialogue-line>
        </p>
    </section>

    <section>
        <h1>Assault failed</h1>
        <app-relation
            name="North"
            [type]="RelationType.SmallDown"
        ></app-relation>
        <app-relation
            name="Jericho"
            [type]="RelationType.LargeDown"
        ></app-relation>

        <app-conditioned-content>
            <div class="condition">North is alive</div>
            <div class="content">
                <app-dialogue-line name="North">
                    {{
                        translateObject(
                            'X1103M.LOSTBATTLE.SIDEKICKSWARNING.FA.X11MMARLA'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition">North is dead, Simon is alive</div>
            <div class="content">
                <app-dialogue-line name="Simon">
                    {{
                        translateObject(
                            'X1103M.LOSTBATTLE.SIDEKICKSWARNING.FA.X11MSIMON.NORTHDEAD'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition">North is dead, Simon is dead</div>
            <div class="content">
                <app-dialogue-line name="Android">
                    {{
                        t(
                            'X1103M.LOSTBATTLE.SIDEKICKSWARNING.FA.X11MANDROID02.ALLDEAD'
                        )
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <mat-divider></mat-divider>

        <app-conditioned-content>
            <div class="condition">North is alive : Surrounded by soldiers</div>
            <div class="content">
                <p>
                    <app-dialogue-line name="Soldier">
                        {{
                            translateObject(
                                'X1103M.FINAL.NORTHDEAD.PC.X11MOFFICER.SUMMONS',
                                0,
                                3
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="North">
                        {{
                            translateObject(
                                'X1103M.FINAL.NORTHALIVE.PC.X11MMARLA.SUMMONS'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Soldier">
                        {{
                            t('X1103M.FINAL.NORTHDEAD.PC.X11MOFFICER.SUMMONS.4')
                        }}
                    </app-dialogue-line>
                </p>

                <div class="choices">
                    <app-choice-item
                        [choiceLabel]="
                            t('X1103M.FINAL.NORTHALIVE.PC.SUMMONSCHOICE.KISS')
                        "
                        [brackets]="true"
                    >
                        <app-unlock-condition [unlockType]="UnlockType.Lock">
                            if lover with North
                        </app-unlock-condition>
                        <app-relation
                            name="North"
                            [type]="RelationType.SmallUp"
                        ></app-relation>
                        <p>&oslash;</p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X1103M.FINAL.NORTHALIVE.PC.SUMMONSCHOICE.DIRTYBOMB'
                            )
                        "
                        [brackets]="true"
                    >
                        <app-unlock-condition [unlockType]="UnlockType.Lock">
                            if took the bomb in Crossroads
                        </app-unlock-condition>

                        <app-dialogue-line name="North">
                            {{
                                translateObject(
                                    'X1103M.FINAL.NORTHALIVE.PC.X11MMARLA.DIRTYBOMB'
                                ) | async
                            }}
                        </app-dialogue-line>

                        <div class="choices">
                            <app-choice-item
                                [choiceLabel]="
                                    t(
                                        'X1103M.FINAL.NORTHALIVE.PC.BOMBCHOICE.PRESS'
                                    )
                                "
                            >
                                <!-- TODO: refactor this part -->
                                <p>
                                    <span class="name"
                                        >CTN TV - Michael Brinkley</span
                                    >: ...there has just been an explosion in
                                    Detroit. We still do not know what caused it
                                    but we will...
                                    <span class="name"
                                        >Channel 16 - Joss Douglas</span
                                    >: ..We have many unconfirmed reports, but
                                    we have no official news on exactly what it
                                    is at this time...
                                    <span class="name"
                                        >Channel 16 - Michael Webb</span
                                    >: ...an explosion in the south of Detroit.
                                    We still don't know if there are any
                                    victims, but these events may be linked to
                                    the android rebellion currently taking place
                                    in the city...
                                    <app-dialogue-line name="Soldier">
                                        It's... a dirty bomb, Madam President. </app-dialogue-line
                                    ><app-dialogue-line name="President Warren">
                                        Oh my god...
                                    </app-dialogue-line>
                                </p>
                                <div class="condition">
                                    <span class="name"
                                        >Connor freed the Cyberlife tower
                                        androids</span
                                    >
                                    <div class="condition-text">
                                        <span class="name"
                                            >Channel 16 - Joss Douglas</span
                                        >: ...Androids... Thousands of androids
                                        are taking to the streets of Detroit at
                                        this very moment. They're absolutely
                                        everywhere!.. This...This is
                                        incredible...
                                    </div>
                                </div>
                                <p>
                                    <span class="name"
                                        >KNC - Rosanna Cartland</span
                                    >: ...and the authorities have ordered the
                                    immediate evacuation of the city. If it
                                    really is a dirty bomb, then the radiation
                                    levels will be lethal for miles around...

                                    <span class="name"
                                        >Channel 16 - Michael Webb</span
                                    >: Detroit... Detroit has just fallen into
                                    the hands of the android rebellion...

                                    <span class="name"
                                        >CTN TV - Michael Brinkley</span
                                    >: ...This is a disaster... An unprecedented
                                    disaster...
                                    <app-dialogue-line name="President Warren">
                                        Today, deviant androids triggered a
                                        dirty bomb in Detroit. This bomb
                                        released fatal levels of radioactive
                                        toxic waste. To ensure the safety of the
                                        population, the military is evacuating
                                        all civilians within a 50 mile radius.
                                        The city may remain uninhabitable for
                                        decades.
                                    </app-dialogue-line>
                                </p>
                                <div class="condition">
                                    <span class="name"
                                        >Connor freed the Cyberlife tower
                                        androids</span
                                    >
                                    <div class="condition-text">
                                        <span class="name"
                                            >President Warren</span
                                        >: Moreover, the deviants are thought to
                                        have taken control of a CyberLife plant
                                        and liberated over one million androids
                                        that were stored there.
                                    </div>
                                </div>
                                <p>
                                    <app-dialogue-line name="President Warren">
                                        This is the first time in our history
                                        that one of our cities has fallen into
                                        enemy hands... We are going to fight
                                        them with all our strength, and we won't
                                        rest until we have taken back control of
                                        Detroit and destroyed the last of them.
                                        Humanity is about to face its most
                                        important battle: one that will lead too
                                        our victory, or our extinction. </app-dialogue-line
                                    ><app-dialogue-line name="Markus">
                                        We!.. </app-dialogue-line
                                    ><app-dialogue-line name="President Warren">
                                        May God bless you all - </app-dialogue-line
                                    ><app-dialogue-line name="Markus">
                                        Are!.. </app-dialogue-line
                                    ><app-dialogue-line name="President Warren">
                                        and may God bless the United States of
                                        America. </app-dialogue-line
                                    ><app-dialogue-line name="Markus">
                                        Free!
                                    </app-dialogue-line>
                                </p>
                            </app-choice-item>

                            <app-choice-item
                                [choiceLabel]="
                                    t(
                                        'X1103M.FINAL.NORTHALIVE.PC.BOMBCHOICE.GIVEUP'
                                    )
                                "
                            >
                                <app-dialogue-line name="Markus">
                                    {{
                                        translateObject(
                                            'X1103M.FINAL.NORTHALIVE.PC.X11MMARKUS.GIVEUP'
                                        ) | async
                                    }}
                                </app-dialogue-line>
                            </app-choice-item>
                        </div>
                    </app-choice-item>

                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X1103M.FINAL.NORTHALIVE.PC.SUMMONSCHOICE.SUICIDE'
                            )
                        "
                    >
                        <app-choice-item
                            [choiceLabel]="
                                t(
                                    'X1103M.FINAL.NORTHALIVE.PC.SUICIDECHOICE.CONFIRMSUICIDE'
                                )
                            "
                        >
                            <p>&oslash;</p>
                        </app-choice-item>
                        <app-choice-item
                            [choiceLabel]="
                                t(
                                    'X1103M.FINAL.NORTHALIVE.PC.SUICIDECHOICE.PUTDOWN'
                                )
                            "
                        >
                            <p>&oslash;</p>
                        </app-choice-item>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X1103M.FINAL.NORTHALIVE.PC.SUMMONSCHOICE.SURRENDER'
                            )
                        "
                    >
                        <app-relation
                            name="North"
                            [type]="RelationType.SmallDown"
                        ></app-relation>

                        <app-dialogue-line name="Markus">
                            {{
                                translateObject(
                                    'X1103M.FINAL.NORTHALIVE.PC.X11MMARKUS.SURRENDER',
                                    0,
                                    3
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="North">
                            {{
                                translateObject(
                                    'X1103M.FINAL.NORTHALIVE.PC.X11MMARLA.SURRENDER'
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Markus">
                            {{
                                translateObject(
                                    'X1103M.FINAL.NORTHALIVE.PC.X11MMARKUS.SURRENDER',
                                    3
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                </div>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition">
                North is dead and Connor is machine : Connor arrives
            </div>
            <div class="content">
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X1103M.FINAL.SHOP.PC.X11MMARKUS.HUMANWONM01'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Connor">
                    {{
                        translateObject(
                            'X1103M.NORTHLEAD.SHOP.PC.X11MCONNOR.SHOOTME02'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X1103M.FINAL.SHOP.PC.X11MMARKUS.HUMANWONM02'
                        ) | async
                    }}
                    {{
                        translateObject(
                            'X1103M.FINAL.SHOP.PC.X11MMARKUS.HUMANWONM03'
                        ) | async
                    }}
                </app-dialogue-line>
                <div class="choices">
                    <app-choice-item
                        [choiceLabel]="
                            t('X1103M.FINAL.SHOP.PC.SHOOTCHOICE.SHOOT')
                        "
                    >
                        <p>&oslash;</p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1103M.FINAL.SHOP.PC.SHOOTCHOICE.SPARE')
                        "
                    >
                        <app-relation
                            name="Amanda (betrayed)"
                            [type]="RelationType.LargeDown"
                        ></app-relation>

                        <app-conditioned-content>
                            <div class="condition">Took dirty bomb</div>
                            <div class="content">
                                <app-choice-group>
                                    <app-choice-item
                                        [choiceLabel]="
                                            t(
                                                'X1103M.FINAL.SHOP.PC.BOMBCHOICE.DETONATE'
                                            )
                                        "
                                    >
                                        <app-dialogue-line name="Connor">
                                            {{
                                                t(
                                                    'X1103M.FINAL.SHOP.PC.X11MCONNOR.DETONATE'
                                                )
                                            }}
                                        </app-dialogue-line>
                                    </app-choice-item>
                                    <app-choice-item
                                        [choiceLabel]="
                                            t(
                                                'X1103M.FINAL.SHOP.PC.BOMBCHOICE.NOTDETONATE'
                                            )
                                        "
                                    >
                                        <p>&oslash;</p>
                                    </app-choice-item>
                                </app-choice-group>
                            </div>
                        </app-conditioned-content>
                    </app-choice-item>
                </div>
            </div>
        </app-conditioned-content>
        <app-conditioned-content>
            <div class="condition">
                North is dead and Connor is not here: Markus alone in the store
            </div>
            <div class="content">
                <app-dialogue-line name="Soldier">
                    {{
                        translateObject(
                            'X1103M.FINAL.NORTHDEAD.PC.X11MOFFICER.SUMMONS'
                        ) | async
                    }}
                </app-dialogue-line>

                <app-choice-group>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1103M.FINAL.NORTHDEAD.PC.SUMMONSCHOICE.SUICIDE')
                        "
                    >
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X1103M.FINAL.NORTHDEAD.PC.SUMMONSCHOICE.SURRENDER'
                            )
                        "
                    >
                        <app-dialogue-line name="Solider">
                            {{
                                translateObject(
                                    'X1103M.FINAL.NORTHDEAD.PC.X11MOFFICER.SURRENDER'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X1103M.FINAL.NORTHDEAD.PC.SUMMONSCHOICE.DIRTY BOMB'
                            )
                        "
                    >
                        <app-unlock-condition [unlockType]="UnlockType.Lock">
                            Took the detonator
                        </app-unlock-condition>

                        <!-- TODO: take from refactored part -->
                    </app-choice-item>
                </app-choice-group>
            </div>
        </app-conditioned-content>
    </section>

    <section>
        <h1>Markus is dead : North is leading the revolution</h1>
        <p>
            <app-dialogue-line name="North">
                {{
                    translateObject('X1101M.TV.NORTH.PC.X11MMARLA.SPEECH')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="North">
                {{ t('X1102M.FINAL.NORTHLEAD.PC.X11MMARLA.VICTORYORDEATH') }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Android">
                {{ t('X1103M.NORTHLEAD.UPDATE.FA.X11MANDROID01.ALLDEAD') }}
            </app-dialogue-line>
            <app-dialogue-line name="North">
                {{
                    translateObject(
                        'X1103M.NORTHLEAD.UPDATE.PC.X11MMARLA.FIGHT'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">Connor is not a deviant</div>
            <div class="content">
                <p>
                    <app-dialogue-line name="North">
                        {{
                            translateObject(
                                'X1103M.NORTHLEAD.SHOP.PC.X11MMARLA.SHOOTME01'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Connor">
                        {{
                            translateObject(
                                'X1103M.NORTHLEAD.SHOP.PC.X11MCONNOR.SHOOTME02'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="North">
                        {{
                            translateObject(
                                'X1103M.NORTHLEAD.SHOP.PC.X11MMARLA.SHOOTME03'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
                <div class="choices">
                    <app-choice-item
                        [choiceLabel]="
                            t('X1103M.NORTHLEAD.SHOP.PC.SHOOTCHOICE.SHOOT')
                        "
                    >
                        <p>&oslash;</p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1103M.NORTHLEAD.SHOP.PC.SHOOTCHOICE.SPARE')
                        "
                    >
                        <p>&oslash;</p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t('X1103M.NORTHLEAD.SHOP.PC.SHOOTCHOICE.TIMEOUT')
                        "
                        [brackets]="true"
                    >
                        <p>&oslash;</p>
                    </app-choice-item>
                </div>
            </div>
        </app-conditioned-content>
    </section>
</ng-container>
