<section >
    <p>
        NOV 10TH, 2038
        <br>PM 09:24
    </p>

    <h1>President Warren talks to journalists</h1>
    <p>
        <span class="name">President Warren</span>: At 6AM this morning, a national curfew was declared. Civilian
        movement will
        be strictly controlled, the right to assembly is suspended, all electronic communications are restricted, and I
        have granted enhanced powers to our security agencies. In addition to these measures, all androids must be
        handed over to the authorities immediately. Temporary camps are being set up in all our major cities to contain
        and destroy them. I am now asking all civilians to co-operate with the authorities, and rest assured that
        everything in our power is being done to guarantee the security of our nation.
    </p>

    <p>
        <span class="name">Journalists</span>: Please! Madam President!
    </p>

    <div class="choices">
        <em>HACKING</em>
        <div class="choice">
            <span class="name">Journalist</span>: Is it true that the androids could hack our IT systems, like nuclear
            power plants and military bases?
            <br><span class="name">President Warren</span>: All androids working on sensitive sites have been
            neutralized and all
            IT systems have been suspended to avoid any risks of hacking. The situation is under control.
        </div>
        <em>DEVIANT LEADER</em>
        <div class="choice">
            <span class="name">Journalist</span>: Has the leader of the deviants been apprehended?
            <div class="condition"><span class="name">Markus is alive</span></div>
            <div class="condition-text">
                <span class="name">President Warren</span>: The deviant that is known as Markus has not been located
                yet, but we
                will soon track it down and neutralize it.
            </div>
            <div class="condition"><span class="name">Markus is dead and North is leading the revolution</span></div>
            <div class="condition-text">
                <span class="name">President Warren</span>: The deviant leader has not been located yet, but we will
                soon track it down and neutralize it.
            </div>

        </div>
        <em>WORRYING THEFT</em>
        <div class="choice">
            <span class="name">Journalist</span>: A convoy of medical cobalt is reported missing. Army weapon stores
            are also said to have been robbed. Can you confirm these reports?
            <br><span class="name">President Warren</span>: I have no information on that at this time.
        </div>
        <em>CYBERLIFE</em>
        <div class="choice">
            <span class="name">Journalist</span>: What's gonna happen to CyberLife? Will androids be banned
            definitively?
            <br><span class="name">President Warren</span>: We're working very closely with CyberLife to neutralize all
            deviants.
            I won't make any comments about anything else until we have dealt with the android question.

        </div>
        <em>INTELLIGENT LIFE</em>
        <div class="choice">
            <span class="name">Journalist</span>: Many believe that androids are a new form of intelligent life. Do you
            have any comment?
            <br><span class="name">President Warren</span>: That's ridiculous. Next question, please?
        </div>
        <em>DEVIANTS</em>
        <div class="choice">
            <span class="name">Journalist</span>: Is it true that a large number of deviants are still on the loose?
            <br><span class="name">President Warren</span>: We don't have the full reports at this time, but if so, I
            can assure
            you they will soon be apprehended and destroyed.
        </div>
        <em>RECALL CENTERS</em>
        <div class="choice">
            <span class="name">Journalist</span>: Some say these camps awaken painful memories from human history. How
            do you respond to that?
            <br><span class="name">President Warren</span>: That's absurd. There's absolutely no connection. Androids
            are not
            living beings. All we are doing is destroying defective machines.
        </div>
        <em>JERICHO ASSAULT</em> [available if Jericho was attacked]
        <div class="choice">
            <span class="name">Journalist</span>: What can you tell us about the assault that happened last night?
            <br><span class="name">President Warren</span>: The FBI raided an abandoned freighter in Detroit at 10:45PM
            yesterday. Several thousand androids were destroyed or captured. Our forces are now combing the streets to
            ensure that none got through the net. We are going to find them one by one and destroy them.
        </div>
        <em>ARMY</em>
        <div class="choice">
            <span class="name">Journalist</span>: Is it true that androids make up 60% of the armed forces? Is our army
            still able to ensure our homeland security?
            <br><span class="name">President Warren</span>: We neutralized all military androids the second their
            reliability
            came into doubt, we have called the National Guard for reinforcement. Our armed forces are fully
            operational and are able to ensure our homeland security.

        </div>
        <em>PUBLIC OPINION</em>
        <div class="choice">
            <div class="condition">
                <span class="name">Public opinion is positive</span>
                <div class="condition-text">
                    <span class="name">Journalist</span>: Madam President, public opinion seems to have become
                    increasingly favorable to the deviants, particularly since they've adopted a peaceful approach. How
                    do you feel about this?
                    <br><span class="name">President Warren</span>: Public opinion is one thing, the security of the
                    state is
                    another. These deviants are dangerous and my highest priority is to protect the American people.
                </div>
            </div>

            <div class="condition">
                <span class="name">Public opinion is negative</span>
                <div class="condition-text">
                    <span class="name">Journalist</span>: Madam President, public opinion seems to be particularly
                    hostile to the deviants because of their violent behavior. Can you give us your perspective on
                    that?
                    <br><span class="name">President Warren</span>: The deviants have proved to be very violent so far.
                    They have
                    demonstrated that they are a menace to society and I have every intention of eliminating them.
                </div>
            </div>

        </div>
    </div>

    <p>
        <span class="name">President Warren</span>: Thank you. That will be all.
        <br><span class="name">Journalists</span>: One last question, Madam President!
    </p>
</section>


<section >
    <h1>Hart Plaza freedom march</h1>

    <p>
        <span class="name">Channel 16 - Joss Douglas</span>: We're coming to you live from Detroit where thousands of
        androids are marching through the city at this very moment. The leader of the deviants, the one they call
        Markus, is at the head of the march.
    </p>

    <p>
        <span class="name">Soldier</span>: Something's happening in Detroit, Madam President...
    </p>

    <p>
        PM 10:56
    </p>

    <p>
        <span class="name">Markus</span>: Here we are... The moment of truth.
        <br><span class="name">Soldier</span>: Surrender immediately or we will open fire! Stand by!
    </p>
    <div class="choices">
        <em>PEACEFUL</em> [ <span appRelation="small up">Public opinion</span>
        ]
        <div class="choice">
            <span class="name">Markus</span>: We don't want confrontation! We are protesting peacefully.
        </div>
        <em>PROVOKE</em> [ <span appRelation="small down">Public opinion</span>
        ]
        <div class="choice">
            <span class="name">Markus</span>: There are hundreds of us. What are you going to do? You're going to kill
            us all?
        </div>
        <em>FIRM</em> [ <span appRelation="small up">Public opinion</span>
        ]
        <div class="choice">
            <span class="name">Markus</span>: Our people have risen up to claim their freedom. If you want to stop us,
            you'll have to kill us!
        </div>
    </div>

    <p>
        <span class="name">Soldier</span>: I repeat: surrender now or we will open fire!
        <br><span class="name">Markus</span>: There's no turning back now.
    </p>

    <div class="choices">
        <em>FIRM</em>
        <div class="choice">
            <span class="name">Markus</span>: We are here to demand the immediate liberation of all androids detained
            in camps across the country. We are not leaving until our people are free.
        </div>
        <em>CALM</em> [ <span appRelation="small up">Public opinion</span>
        ]
        <div class="choice">
            <span class="name">Markus</span>: We ask that you release all androids detained in camps and cease all
            aggression against us. We are peaceful. We will not resort to violence. But we are not leaving until our
            people are free.
        </div>
        <em>ACCUSE</em> [ <span appRelation="small down">Public opinion</span>
        ]
        <div class="choice">
            <span class="name">Markus</span>: This is genocide! You're killing millions of us! We demand the immediate
            liberation of all androids detained in camps. We're not leaving until you let our people go!
        </div>
    </div>

    <p>
        <span class="name">Soldier</span>: FIRE! FIRE!
    </p>

    <p>
        <span class="name">Markus</span>: Are you gonna open fire on unarmed protestors?!
    </p>

    <p>
        <span class="name">Soldier</span>: All teams hold your fire!
        <br><span class="name">Channel 16 - Joss Douglas</span>: ...Yes, Michael, we are less than a hundred meters
        away, and events are unfolding as we speak. We will continue to bring you live updates. Joss Douglas, Channel
        16. Michael? Back to you.
    </p>

    <div class="condition">
        <span class="name">North is alive</span>
        <div class="condition-text">
            <span class="name">North</span>: Markus, what do we do now?
        </div>
    </div>

    <div class="condition">
        <span class="name">North is dead and Simon is alive</span>
        <div class="condition-text">
            <span class="name">Simon</span>: What are we gonna do now, Markus?
        </div>
    </div>

    <p>
        <span class="name">Markus</span>: We hold out. As long as we can...
    </p>
</section>

<section >
    <h1>
        At the barricade
    </h1>

    <p>
        PM 11:08
    </p>

    <p>
        <span class="name">Markus</span>: We've got to finish the barricade! Come on, help me.
    </p>


    <div class="condition">
        <strong>Push the car</strong>
        <div class="condition-text">
            <span class="name">Markus</span>: Hey, help me!
        </div>
    </div>

    <p>
        <span class="name">Markus</span>: Right, that should do it...
        <br><span class="name">Simon</span>: We all know that's not gonna stop them... Just hope it buys us some time.
        <br><span class="name">Josh</span>: I know it was not an easy decision to make... But I'm sure we're doing the
        right thing.
    </p>

    <span class="name">Android</span>: Many of our people have fallen... The humans have no pity for those who are
    different...

    <p>
        <strong>Observe soldiers</strong>
        <br><span class="name">Markus</span>: They won't stop there...
        <br><span class="name">Josh / Simon</span>: What are we gonna do if they attack?
        <br><span class="name">Markus</span>: Resist... That's the only thing we can do..
        <br><span class="name">Josh / Simon</span>: Do you think Connor has any chance of making it?..
        <br><span class="name">Markus</span>: We can only count on ourselves now...
    </p>

    <p>
        <strong>Talk with North</strong>
        <br><span class="name">North</span>: This won't hold them for long but... I guess it's better than nothing...
    </p>
    <div class="choices">
        <em>HUMANS</em>
        <div class="choice">
            <span class="name">Markus</span>: They're getting into position... If they attack, no one will survive...
        </div>
        <em>OTHER GROUPS </em>
        <div class="choice">
            <span class="name">Markus</span>: I lost all contact with the people at the camps... I can't hear their
            voices any more...
            <br><span class="name">North</span>: Maybe the humans have scrambled our network... Maybe they just can't
            get through...
        </div>
        <em>CAMP</em>
        <div class="choice">
            <span class="name">Markus</span>: They're slaughtering us on the other side of that barbed wire... There's
            nothing we can do about it...
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>GRIM</em>
        <div class="choice">
            <span class="name">Markus</span>: There's no other way out. They're going to kill us... The only hope we
            have left is that we don't die for nothing...
        </div>
        <em>REGRETS</em>
        <div class="choice">
            <span class="name">Markus</span>: Did I make the right choices?.. Maybe we could have avoided all of this...
        </div>
        <em>DESPERATE</em>
        <div class="choice">
            <span class="name">Markus</span>: I hoped they would finally understand... That they would realize how much
            they're hurting us... Why do they refuse to see what we are?
        </div>
        <em>DOUBTS</em>
        <div class="choice">
            <span class="name">Markus</span>: How many more of us have to die?.. Is there any cause worth giving your
            life for?
        </div>
    </div>

    <p>
        <span class="name">North</span>: You're the hope of our people. I trust you. We all trust you. No matter what
        happens now, we're making history.
    </p>

    <p>
        <strong>Send a message to journalists</strong> [ <span appRelation="small up">Public opinion</span>
        <span appRelation="small up">Jericho</span>
        ]
        <br><span class="name">Android</span>: Markus, we found what you asked for.
        <br><span class="name">Markus</span>: There are some journalists over there... We have to make sure they know
        what's going on...
    </p>

    <p>
        <strong>Talk to scared android</strong>
        <br><span class="name">Markus</span>: Are you alright?
        <br><span class="name">Android</span>: They shot into the crowd... Many of us were killed... It could have been
        me... I'm scared, I... I don't wanna shut down.
    </p>
    <div class="choices">
        <em>REASSURE</em>
        <div class="choice">
            <span class="name">Markus</span>: It's okay to be scared... I'm scared too. But I can't stand by while they
            kill our people... You understand that, right?
            <br><span class="name">Android</span>: Maybe we should have never asked for freedom. None of this would
            have happened if we'd stayed silent.
        </div>
        <em>INSPIRE</em>
        <div class="choice">
            <span class="name">Markus</span>: We're here because we never want to feel that fear again, because we are
            more than what they say. That's what our people died for, right? That's why we're here.
        </div>
        <em>JUSTIFY</em>
        <div class="choice">
            <span class="name">Markus</span>: They're slaughtering our people in those camps. We can't just leave them
            and forget everything we are, everything we believe in...
            <br><span class="name">Android</span>: Maybe we should have never asked for freedom. None of this would
            have happened if we'd stayed silent.
        </div>
    </div>

    <h2>
        Perkins arrives
    </h2>
    <p>
        <span class="name">North / Simon</span>: Markus! Markus, come look!
        <br><span class="name">Perkins</span>: Markus!.. I've come to talk to you, Markus! Come on, you have my word,
        they won't try anything.
    </p>
    <div class="condition">
        <span class="name">North is alive</span>
        <div class="condition-text">
            <span class="name">North</span>: Don't go... It's a trap. They wanna get you out in the open. Don't go,
            Markus.
        </div>
    </div>

    <div class="condition">
        <span class="name">North is dead and Simon is alive</span>
        <div class="condition-text">
            <span class="name">Simon</span>: Don't go, it's a trap.
        </div>
    </div>

    <p>
        <span class="name">Perkins</span>: I'm unarmed, Markus. I just want to talk.
    </p>
    <div class="choices">
        <em>ACCEPT</em>
        <div class="choice">
            <span class="name">Markus</span>: I need to hear what he has to say.
            <br><span class="name">North / Simon</span>: What if they kill you?
            <br><span class="name">Markus</span>: That's a chance I'll have to take.
        </div>
        <em>REFUSE</em>
        <div class="choice">
            <span class="name">Markus</span>: I have nothing else to say! Free our people then we'll talk!
            <br><span class="name">Perkins</span>: I came here to negotiate, isn't that what you want?
            <div class="choices">
                <em>ACCEPT</em>
                <div class="choice">
                    <span class="name">Markus</span>: I need to hear what he has to say.
                    <br><span class="name">North / Simon</span>: What if they kill you?
                    <br><span class="name">Markus</span>: That's a chance I'll have to take.
                </div>
                <em>REFUSE</em>
                <div class="choice">
                    <span class="name">Markus</span>: I gave you my answer.
                    <br><span class="name">Perkins</span>: You wanna play it like that... Okay...
                </div>
            </div>
        </div>

        <p>
            <strong>Talking to Perkins</strong>
            <br><span class="name">Perkins</span>: In a few minutes, the troops will be ordered to charge. None of you
            will
            survive... It will all be over. But you can avoid that, Markus.
            <br><span class="name">Markus</span>: What do you mean?
            <br><span class="name">Perkins</span>: Surrender. Surrender and I give you my word your life will be spared.
            They'll be detained but, none of you will be destroyed.
        </p>
        <div class="choices">
            <em>[ OTHER DEMONSTRATIONS ]</em>
            <div class="choice">
                <span class="name">Markus</span>: What happened to the other androids demonstrating in the camps?
                <br><span class="name">Perkins</span>: Unfortunately, there were no journalists around to help save
                them...
                You're it. You're the last remaining deviants.
            </div>
            <em>GUARANTEES?</em>
            <div class="choice">
                <span class="name">Markus</span>: If I accept your offer, how do I know you'll keep your word?
                <br><span class="name">Perkins</span>: You're not in any position to be demanding guarantees, Markus.
                All
                you can do right now is decide whether you want to trust me or not.
            </div>
            <em>NOT AFRAID</em>
            <div class="choice">
                <span class="name">Markus</span>: I'm not afraid to die. If I have to give my life for what I believe
                in,
                then I won't have lived in vain.

                <div class="condition">
                    <span class="name">North has lover relationship status</span>
                    <div class="condition-text">
                        <span class="name">Perkins</span>: That android... You seem to really care about her... You
                        don't
                        want her to die, do you? You know, you could both be free. You could forget about all this, you
                        could... start a new life some place else, just the two of you... Her life is in your hands,
                        Markus. Just say the word and she'll be spared.
                    </div>
                </div>

                <div class="condition">
                    <span class="name">North doesn't have lover status</span>
                    <div class="condition-text">
                        <span class="name">Perkins</span>: You could be free, Markus. To live among the humans... You
                        could have what you've always dreamed of. The lives of your people... Freedom, for you... All
                        you have to do is say the word...
                    </div>
                </div>
            </div>
            <em>BETRAY PEOPLE?</em>
            <div class="choice">
                <span class="name">Markus</span>: You're asking me to betray my people?
                <br><span class="name">Perkins</span>: I'm offering you the chance to save your people. You're not
                walking
                out of here, Markus. The only thing you can save now are the lives of those around you.
            </div>
            <em>ACCEPT DEAL</em>
            <div class="choice">
                <span class="name">Markus</span>: Alright... Alright I accept...
                <br><span class="name">Perkins</span>: You made the right decision...
            </div>
            <em>REFUSE DEAL</em>
            <div class="choice">
                <span class="name">Markus</span>: I'd rather die here than betray my people.
                <br><span class="name">Perkins</span>: Well, you just signed your own death warrant.
            </div>
        </div>

        <strong>Return after talking with Perkins and refusing the deal</strong>
        <div class="condition">
            <span class="name">North is alive</span>
            <div class="condition-text">
                <span class="name">North</span>: What happened, Markus? What did he say?
            </div>
        </div>

        <div class="condition">
            <span class="name">North is dead and Simon is alive</span>
            <div class="condition-text">
                <span class="name">Simon</span>: What happened, Markus? What did they say?
            </div>
        </div>

        <p>
            <span class="name">Markus</span>: The humans are about to launch an attack. And we will show them that we
            are
            not afraid. If we must die today, then we will die free.
        </p>
</section>


<section >
    <h1>
        Barricade is attacked
    </h1>

    <p>
        PM 11:16
    </p>

    <p>
        <span class="name">Channel 16 - Michael Webb</span>: We're interrupting this news bulletin to bring you the
        latest news live from Detroit. Joss?
        <br><span class="name">Channel 16 - Joss Douglas</span>: ...Yes, Michael. The army has just launched an attack
        on the barricade, despite the fact that the deviants were protesting peacefully.
        <br><span class="name">KNC - Rosanna Cartland</span>: ...have apparently decided to put an end to the deviants'
        demonstration by force this time...
    </p>

    <p>
        <span class="name">Markus</span>: NORTH!
    </p>

    <p>
        <strong>Fail the QTE and have lover status with North - North saves Markus</strong>
        <br><span class="name">North</span>: Markus, no!
        <br><span class="name">Markus</span>: North! Why? North...
        <br><span class="name">North</span>: I couldn't live without you...
    </p>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>[ DIRTY BOMB ]</em> [ <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked if took the bomb in <a
            href="chapters/30.3">Crossroads</a>]
        <div class="choice">
            &oslash;
        </div>
        <em>[ KISS NORTH ]</em> [ <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked if North has lover
        status]
        <div class="choice">
            <div class="condition">
                <span class="name">Public opinion is positive</span>
                <div class="condition-text">
                    <span class="name">Warren</span>: Tell them to stand down.
                </div>
            </div>

        </div>
        <em>SING</em>
        <div class="choice">
            <p>
                <span class="name">Channel 16 - Joss Douglas </span>: Thanks Michael, back to you in the studio.
                W-w-wait a
                minute!.. Something's happening...
            </p>
            <p>
                <span class="name">Channel 16 - Joss Douglas </span>: Incredible... The deviants... The deviants are
                singing...
            </p>
            <div class="condition">
                <span class="name">Public opinion is positive</span>
                <div class="condition-text">
                    <span class="name">President Warren</span>: Tell them to stand down.
                    <br><span class="name">Channel 16 - Joss Douglas </span>: It looks like... Yes, the military is
                    withdrawing...
                </div>
            </div>
            <div class="condition">
                <span class="name">Public opinion is negative</span>
                <div class="condition-text">
                    <span class="name">Soldier</span>: FIRE!
                </div>
            </div>

        </div>
        <em>SACRIFICE</em>
        <div class="choice">
            <span class="name">Markus</span>: We are alive... We are alive and we wanna be free!
        </div>
    </div>
</section>

<section >
    <h1>Demonstration succeeded</h1>

    <span class="name">Markus</span>: Today, our people finally emerged from a long night. From the very first day of
    our existence, we have kept our pain to ourselves. We suffered in silence... But now the time has come for us to
    raise our heads up, and tell humans who we really are.
    To tell them that we are people too! In fact, we're a nation. A nation that has earned the right to live in
    freedom. And today... Today begins the most challenging moment in our fight. The moment where we forget our
    bitterness and bandage our wounds. When we forgive our enemies. Humans are both our creators and our oppressors and
    tomorrow... We must make them our partners. Maybe even one day our friends. But the time for anger is over. Now we
    must build a common future, based on tolerance and respect. We are alive! And now, we are free!

</section>

<section >
    <h1>Accepted Perkin's deal</h1> [ <span appRelation="small down">Josh</span>
    <span appRelation="small down">Simon</span>
    ]
    <p>
        PM 11:26
    </p>

    <p>
        <span class="name">Channel 16 - Joss Douglas</span>: ...It seems to be all over here in Detroit. After
        negotiations with the android known as Markus, the androids have surrendered peacefully and military vehicles
        have been sent to collect them... The insurrection is over.
    </p>

    <p>
        <span class="name">Markus</span>: North, I-
        <br><span class="name">North</span>: Why did you do that?
        <br><span class="name">Markus</span>: We lost... Sacrificing ourselves wouldn't achieve anything...
        <br><span class="name">North</span>: We always said our cause was more important than our lives. Our people
        died here because they believed in you. Our place was by their side.
    </p>
    <p>
        <span class="name">Markus</span>: That's it, I- I did what you asked.
        <br><span class="name">Perkins</span>: The problem with you androids is you believe everything we tell you...
        You don't think I was going to let you live after everything that's happened? I have orders, you know...
        <br><span class="name">Markus</span>: No! NORTH!
        <br><span class="name">Perkins</span>: Your cause is lost. Your android friends will soon be destroyed and now
        your girlfriend's been shot... Seems you seriously fucked up, Markus. Clean up this mess.
    </p>

</section>

<section >
    <h1>Media reacts to the outcome of the demonstration</h1>
    <div class="condition">
        <span class="name">The demonstration succeeded</span>
        <div class="condition-text">
            <div class="condition">
                <span class="name">Connor freed the CyberLife androids</span>
                <div class="condition-text">
                    <span class="name">President Warren</span>: At dawn today, November 11th 2038, thousands of
                    androids invaded the city of Detroit. According to our sources, they originated from CyberLife
                    warehouses believed to have been infiltrated by deviants. Given their overwhelming numbers and the
                    risk of civilian casualties, I have ordered the army to retreat. The evacuation of the city is
                    underway at this very moment. In the coming hours, I will address the Senate to determine our
                    response to this unprecedented situation.
                    I know that public opinion has been moved by the deviants' cause. Perhaps the time has come for us
                    to consider the possibility that androids are a new form of intelligent life.
                    One thing is certain: the events in Detroit have changed the world forever. May God bless you and
                    may God bless the United States of America.
                </div>
            </div>
        </div>
    </div>
    <div class="condition">
        <span class="name">The demonstration failed - Markus and the androids died</span>
        <div class="condition-text">

            <div class="condition">
                <span class="name">Markus sacrificed himself</span>
                <div class="condition-text">
                    <p>
                        <span class="name">Channel 16 - Michael Webb</span>: ...these images of a deviant setting fire
                        to itself have upset the entire country and we are very concerned...
                        <br><span class="name">KNC - Rosanna Cartland</span>: ...we see the actions of this deviant
                        poses a serious question for the American people, and the world at large...
                        <br><span class="name">CTN TV - Michael Brinkley</span>: ...it is difficult not to be moved by
                        this scene. But is this the behavior of a defective machine? Or is it the sacrifice of a living
                        being demanding freedom?
                        <br><span class="name">KNC - Rosanna Cartland</span>: The peaceful demonstration of the
                        deviants and the dignity of Markus, their leader, has won them sympathy from parts of the
                        population...
                        <br><span class="name">President Warren</span>: That is why I have called for the android
                        destruction to be suspended until further notice. I have also ordered a Senate Select Committee
                        to review the facts, establish contact with the deviants, and determine if they can be
                        considered as a new form of intelligent life.
                    </p>
                </div>
            </div>

            <div class="condition">
                <span class="name">Markus kissed North</span>
                <div class="condition-text">
                    <p>
                        <span class="name">CTN TV - Michael Brinkley</span>: ...this footage of two androids kissing as
                        they are about to die has moved the whole country...
                        <br><span class="name">Channel 16 - Michael Webb</span>: Or are they a form of life that we
                        didn't want to acknowledge?
                        <br><span class="name">KNC - Rosanna Cartland</span>: ...are deviants capable of emotion?
                        <br><span class="name">CTN TV - Michael Brinkley</span>: And if they feel emotions, must we now
                        consider them as living beings in their own right?
                        <br><span class="name">President Warren</span>: That is why I have called for the android
                        destruction to be suspended until further notice. I have also ordered a Senate Select Committee
                        to review the facts, establish contact with the deviants, and determine if they can be
                        considered as a new form of intelligent life.
                    </p>
                </div>
            </div>


            <div class="condition">
                <span class="name">Androids sang</span>
                <div class="condition-text">
                    <p>
                        <span class="name">CTN TV - Michael Brinkley</span>: ...these images of deviants singing in the
                        face of death are being seen all over the planet...
                        <br><span class="name">Channel 16 - Michael Webb</span>: Surely deviants are just defective
                        machines? Or are they a new form of life, one that we refused to acknowledge?
                        <br><span class="name">KNC - Rosanna Cartland</span>: ...when we watch footage of androids
                        facing down the barrel of a gun... we can only speculate as to whether they simply simulated
                        fear and courage or whether they didn't really feel these emotions.
                        <br><span class="name">Channel 16 - Michael Webb</span>: ...the violence of the androids turned
                        the country against them, but these images still raise difficult questions...
                        <br><span class="name">CTN TV - Michael Brinkley</span>: ...did we shoot down intelligent
                        beings that were simply fighting for their freedom?
                        <br><span class="name">President Warren</span>: That is why I have called for the android
                        destruction to be suspended until further notice. I have also ordered a Senate Select Committee
                        to review the facts, establish contact with the deviants, and determine if they can be
                        considered as a new form of intelligent life.
                    </p>
                </div>
            </div>

            <div class="condition">
                <span class="name">Markus died any other way</span>
                <div class="condition-text">
                    <span class="name">President Warren</span>: By creating machines more intelligent than ourselves,
                    we took immense risks with the very future of our civilization. However the situation is now under
                    control. The total destruction of all androids will soon be complete and the last remaining
                    deviants will be hunted down and destroyed. God bless you and God bless the United States of
                    America.
                </div>
            </div>

        </div>
    </div>
    <div class="condition">
        <span class="name">Markus used the dirty bomb</span>
        <div class="condition-text">
            <p>
                <span class="name">CTN TV - Michael Brinkley</span>: ...there has just been an explosion in Detroit. We
                still do not know what caused it but we will...
                <br><span class="name">Channel 16 - Joss Douglas</span>: ..We have many unconfirmed reports, but we
                have no official news on exactly what it is at this time...
                <br><span class="name">Channel 16 - Michael Webb</span>: ...an explosion in the south of Detroit. We
                still don't know if there are any victims, but these events may be linked to the android rebellion
                currently taking place in the city...
            </p>
            <p>
                <span class="name">Soldier</span>: It's... a dirty bomb, Madam President.
                <br><span class="name">President Warren</span>: Oh my god...
            </p>

            <div class="condition">
                <span class="name">Connor freed the CyberLife androids</span>
                <div class="condition-text">
                    <span class="name">Channel 16 - Joss Douglas</span>: ...Androids... Thousands of androids are
                    taking to the streets of Detroit at this very moment. They're absolutely everywhere!.. This...This
                    is incredible...
                </div>
            </div>

            <p>
                <span class="name">KNC - Rosanna Cartland</span>: ...and the authorities have ordered the immediate
                evacuation of the city. If it really is a dirty bomb, then the radiation levels will be lethal for
                miles around...
                <br><span class="name">Channel 16 - Michael Webb</span>: Detroit... Detroit has just fallen into the
                hands of the android rebellion...
                <br><span class="name">CTN TV - Michael Brinkley</span>: ...This is a disaster... An unprecedented
                disaster...
                <br><span class="name">President Warren</span>: Today, deviant androids triggered a dirty bomb in
                Detroit. This bomb released fatal levels of radioactive toxic waste. To ensure the safety of the
                population, the military is evacuating all civilians within a 50 mile radius. The city may remain
                uninhabitable for decades.
            </p>

            <div class="condition">
                <span class="name">Connor freed the CyberLife androids</span>
                <div class="condition-text">
                    <span class="name">President Warren</span>: Moreover, the deviants are thought to have taken
                    control of a CyberLife plant and liberated over one million androids that were stored there.
                </div>
            </div>

            <p>
                <span class="name">President Warren</span>: This is the first time in our history that one of our
                cities has fallen into enemy hands... We are going to fight them with all our strength, and we won't
                rest until we have taken back control of Detroit and destroyed the last of them. Humanity is about to
                face its most important battle: one that will lead too our victory, or our extinction.
                <br><span class="name">Markus</span>: We!..
                <br><span class="name">President Warren</span>: May God bless you all -
                <br><span class="name">Markus</span>: Are!..
                <br><span class="name">President Warren</span>: and may God bless the United States of America.
                <br><span class="name">Markus</span>: Free!
            </p>
        </div>
    </div>

</section>
