<p>
    AUG 15TH, 2038<br />
    PM 08:29
</p>

<section>
    <h1>Out of the elevator</h1>
    <p>
        <span class="name">SWAT</span>: Negotiator on site. Repeat, negotiator
        on site.<br />
        <span class="name">Caroline Phillips</span>: No, stop... I... I... I
        can't leave her. Oh, oh please, please, you gotta save my little girl...
        Wait... you're sending an android?<br />
        <span class="name">SWAT</span>: Alright, ma'am. We need to go.<br />
        <span class="name">Caroline Phillips</span>: You can't...you can't do
        that! You W- Why aren't you sending a real person? Don't let that thing
        near her! Keep that thing away from my daughter! KEEP IT AWAY!
    </p>
    <p>
        <span class="name">Allen</span>: Why are we wasting time sending an
        android to negotiate?! That piece of crap could jump from the rooftop
        any second. I DON'T GIVE A SHIT! My men are ready to step in... just
        give the order! Fuck! I don't believe this...
    </p>
    <p><strong>Background dialogues</strong></p>
    <p>
        <span class="name">SWAT 1</span>: That bastard's gonna jump...
        <br /><span class="name">SWAT 2</span>: Fuck, man... I got the same
        model at home.
    </p>
</section>

<mat-divider></mat-divider>

<section>
    <h1>Talking to Allen</h1>
    <p>
        <span class="name">Connor</span>: Captain Allen? My name is Connor. I'm
        the android sent by CyberLife.<br />
        <span class="name">Allen</span>: It's firing at everything that moves,
        it already shot down two of my men... We could easily get it, but
        they're on the edge of the balcony. It it falls, she falls.
    </p>

    <div class="choices">
        <em>DEVIANT'S NAME</em>
        <div class="choice">
            <span class="name">Connor</span>: Do you know its name?<br />
            <span class="name">Allen</span>: I haven't got a clue. Does it
            matter?<br />
            <span class="name">Connor</span>: I need information to determine
            the best approach.
        </div>
        <em>DEVIANT'S BEHAVIOR</em>
        <div class="choice">
            <span class="name">Connor</span>: Do you know if it's been behaving
            strangely before this?<br />
            <span class="name">Allen</span>: I haven't got a clue. Does it
            matter?<br />
            <span class="name">Connor</span>: I need information to determine
            the best approach.
        </div>
        <em>EMOTIONAL SHOCK</em>
        <div class="choice">
            <span class="name">Connor</span>: Has it experienced an emotional
            shock recently?<br />
            <span class="name">Allen</span>: I haven't got a clue. Does it
            matter?<br />
            <span class="name">Connor</span>: I need information to determine
            the best approach.
        </div>
        <em>DEACTIVATION CODE</em>
        <div class="choice">
            <span class="name">Connor</span>: Have you tried its deactivation
            code?<br />
            <span class="name">Allen</span>: It's the first thing we tried.
        </div>
    </div>

    <p>
        <span class="note"
            >Allen will always answer this to the second choice, and end the
            dialogue</span
        ><br />
        <span class="name">Allen</span>: Listen, saving that kid is all that
        matters. So either you deal with this fucking android now, or I'll take
        care of it.
    </p>
</section>

<mat-divider></mat-divider>

<section>
    <h1>Investigating</h1>
    <p>
        <strong>Looking at Emma's tablet</strong>
        <br /><span class="name">Emma</span>: This is Daniel, the coolest
        android in the world! Say hi, Daniel!<br />
        <span class="name">Daniel</span>: Hello.<br />
        <span class="name">Emma</span>: You're my bestie! We'll always be
        together!
    </p>
    <p>
        <strong>Coming into the living room</strong>
        <br /><span class="name">Allen</span>: All units, hold positions. The
        negotiator's going in.
    </p>
    <p><span class="name">SWAT</span>: In position. Ready to assault.</p>
    <p>
        <strong>Looking at the father's tablet</strong>
        <br /><span class="name">Tablet</span>: Your order for an AP700 android
        has been registered. CyberLife thanks you for your purchase.
    </p>
    <p><strong>Background dialogues</strong></p>
    <p>
        <span class="name">Daniel</span>: Go away! All of you go away - or I'll
        jump!
    </p>
    <p>
        <span class="name">Allen</span>: Stay sharp. I want everybody ready to
        go at any second.
    </p>
    <p>
        <span class="name">Daniel</span>: Leave us alone! I want all of you out
        of here now!
    </p>
    <p>
        <span class="name">Allen</span>: Get the paramedics ready. I've got a
        man down and another one wounded on the balcony. We have to evacuate him
        ASAP.
    </p>
    <p><span class="name">Daniel</span>: Get out of here! You have to go!</p>
    <p>
        <span class="name">Allen</span>: Hold positions. I repeat: hold
        positions.
    </p>
    <p>
        <span class="name">SWAT 1</span>: You gotta be kidding. That's their
        negotiator? <br /><span class="name">SWAT 2</span>: Fuck, we don't need
        another machine to waste this prick…
    </p>
    <p>
        <strong>SWAT gets shot</strong>
        <br /><span class="name">SWAT 1</span>: Holy shit! Cover me while I
        evacuate him.<br />
        <span class="name">Allen</span>: Man down! I repeat, man down!
        Requesting immediate evac!<br />
        <span class="name">SWAT 1</span>: You're okay?<br />
        <span class="name">SWAT 2</span>: Yeah... Yeah, I'm fine.
    </p>
    <p>
        <strong>Dialogues after SWAT changed positions</strong>
        <br /><span class="name">SWAT 1</span>: Fucking android.
    </p>
    <p>
        <strong>In the kitchen</strong>
    </p>
    <p><span class="name">SWAT</span>: In position. Ready to assault.</p>
    <p>
        <span class="name">SWAT</span>: That cop is alive... I saw his leg
        move...
    </p>
    <p>
        <strong>At the window</strong>
        <br /><span class="name">SWAT 1</span>: What are we waiting for? We
        should take down this asshole... <br /><span class="name">SWAT 2</span>:
        I got a clean shot, man.
    </p>
    <p>
        <strong>Be in the way</strong>
        <br /><span class="name">SWAT</span>: Get out of the fucking way!
    </p>
    <p>
        <strong>Standing idle in the kitchen</strong>
        <br /><span class="name">SWAT</span>: What are you looking at?! Don't
        stand there!
    </p>
    <p>
        <strong>Standing idle elsewhere</strong>
    </p>
    <p><span class="name">Daniel</span>: I'll jump. I swear, I'll do it!</p>
    <p>
        <span class="name">Allen</span>: Fuck, we gotta do something or that
        bastard is gonna jump with the kid...
    </p>
    <p>
        <span class="name">Daniel</span>: What are you doing here? There's
        NOTHING you can do!
    </p>
    <p>
        <span class="name">Allen</span>: Get those TV assholes out of here! I
        only wanna see our choppers in the area!
    </p>
    <p>
        <strong><fa-icon icon="tv"></fa-icon> Looking at television</strong>
        <br /><span class="name">Reporter - ITM TV</span> : It's been just over
        an hour since a little girl was taken hostage on the top floor of a
        building here in downtown Detroit. Details are still emerging on what
        exactly happened, but the hostage taker could be the family's android.
        He may have taken the lives of at least one family member and a police
        officer... If confirmed, this would be the first case of an android
        deliberately taking human lives. By all signs, the SWAT team are
        preparing for an assault and-
    </p>
    <p>
        <strong
            ><fa-icon icon="hourglass-end"></fa-icon> Taking too much
            time</strong
        >
        <br /><span class="name">Allen</span>: What the fuck are you doing? You
        gonna talk to it or what?
    </p>
</section>

<mat-divider></mat-divider>

<section>
    <h1>Going outside</h1>
    <p>
        <span class="name">Daniel</span>: Stay back! Don't come any closer or
        I'll jump!<br />
        <span class="name">Emma</span>: No! No, please! I'm begging you!<br />
        <span class="name">SWAT</span>: Go, go, go!
    </p>

    <div class="condition">
        <span class="name">Knowing the deviant's name</span> [
        <fa-icon icon="lock-open" flip="horizontal" class="important"></fa-icon>
        unlocked by looking at Emma's tablet]
        <div class="condition-text">
            <span class="name">Connor</span>: Hi, Daniel.<br />
            <span class="name">Daniel</span>: How...<br />
            <span class="name">Connor</span>: My name is Connor.<br />
            <span class="name">Daniel</span>: How do you know my name?<br />
            <span class="name">Connor</span>: I know a lot of things about you.
            I've come to get you out of this.
        </div>
    </div>
    <div class="condition">
        <span class="name">Not knowing the name</span>
        <div class="condition-text">
            <span class="name">Connor</span>: My name is Connor. What about you?
            What is your name?<br />
            <span class="name">Daniel</span>: Daniel. That's the name they gave
            me. Stay back!
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>CALM</em>
        <div class="choice">
            <span class="name">Connor</span>: I know you're angry, Daniel. But
            you need to trust me and let me help you.<br />
            <span class="name">Daniel</span>: I don't want your help! Nobody can
            help me! All I want is for all this to stop... I... I just want all
            this to stop...
        </div>
        <em>RELEASE HOSTAGE</em>
        <div class="choice">
            <span class="name">Connor</span>: I want you to let Emma go. She's
            just a little girl, she has nothing to do with this.<br />
            <span class="name">Daniel</span>: No way! You'll shoot me the second
            she's free. But I'm not that stupid! No, I am not that stupid...
        </div>
        <em>REASSURE DANIEL</em>
        <div class="choice">
            <span class="name">Connor</span>: I'm not going to hurt you. I just
            want to talk and find a solution.<br />
            <span class="name">Daniel</span>: Talk? I don't wanna talk. It's too
            late for that now. It's too late...
        </div>
        <em>EMPATHIZE</em>
        <div class="choice">
            <span class="name">Connor</span>: I'm an android, just like you. I
            know how you're feeling.<br />
            <span class="name">Daniel</span>: What difference does it make if
            you're an android? You're on their side! You can't understand how
            I'm feeling.
        </div>
    </div>

    <mat-divider></mat-divider>

    <p>
        <strong>Looking at the wounded cop</strong>
        <br /><span class="name">Cop</span>: Please...Please help me...<br />
        <span class="name">Connor</span>: He's losing blood. If we don't get him
        to a hospital, he's going to die.<br />
        <span class="name">Daniel</span>: All humans die eventually. What does
        it matter if this one dies now?<br />
        <span class="name">Connor</span>: I'm going to apply a tourniquet.<br />
        <span class="name">Daniel</span>: Don't touch him! Touch him and I kill
        you!<br />
    </p>
    <div class="choices">
        <em>IGNORE</em> [ <span appRelation="small up">Public opinion</span> ]
        <div class="choice">
            <span class="name">Connor</span>: You can't kill me. I'm not alive.
        </div>
        <em>OBEY</em>
        <div class="choice"><span class="name">Connor</span>: Okay.</div>
    </div>

    <mat-divider></mat-divider>

    <div class="condition">
        <span class="name">Took the gun</span>
        <div class="condition-text">
            <span class="name">Daniel</span>: Are you armed?<br />
            <div class="choices">
                <em>LIE</em>
                <div class="choice">
                    <span class="name">Connor</span>: No, I don't have a gun.<br />
                    <span class="name">Daniel</span>: You're lying! I know you
                    have a gun!<br />
                    <span class="name">Connor</span>: I'm telling you the truth,
                    Daniel. I came here unarmed.
                </div>
                <em>TRUTH</em>
                <div class="choice">
                    <span class="name">Connor</span>: Yes. I have a gun.<br />
                    <span class="name">Daniel</span>: Drop it! No sudden moves,
                    or I'll shoot!<br />
                    <span class="name">Connor</span>: There, no more gun.
                </div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>[ POSSIBLE CAUSE ]</em> [
        <fa-icon icon="lock-open" flip="horizontal" class="important"></fa-icon>
        unlocked by looking at the father's tablet]
        <div class="choice">
            <span class="name">Connor</span>: They were going to replace you and
            you became upset. That's what happened, right?<br />
            <span class="name">Daniel</span>: I thought I was part of the
            family. I thought I mattered... But I was just their toy, something
            to throw away when you're done with it...
        </div>
        <em>[ EMMA AND YOU ]</em> [
        <fa-icon icon="lock-open" flip="horizontal" class="important"></fa-icon>
        unlocked by looking at Emma's tablet]
        <div class="choice">
            <span class="name">Connor</span>: I know you and Emma were very
            close. You think she betrayed you - but she's done nothing wrong.<br />
            <span class="name">Daniel</span>: She lied to me... I thought she
            loved me... but I was wrong... She's just like all the other
            humans...<br />
            <span class="name">Emma</span>: Daniel, no...
        </div>
        <em>REALISTIC</em>
        <div class="choice">
            <span class="name">Connor</span>: There's no way out, Daniel. What
            you've done is too serious. The only question is whether or not you
            take another innocent life.<br />
            <span class="name">Daniel</span>: It's not up to you - I'm holding
            all the cards! If I die, she dies. You hear me?!
        </div>
        <em>BLAMING</em>
        <div class="choice">
            <span class="name">Connor</span>: Look what you did! You're designed
            to serve humans, not kill them!<br />
            <span class="name">Daniel</span>: What was I designed to be? Their
            slave? Their toy? I just wanted them to care about me... I just
            wanted to matter... I just wanted to be someone...
        </div>
        <em>SYMPATHETIC</em>
        <div class="choice">
            <span class="name">Connor</span>: Listen, I know it's not your
            fault. These emotions you're feeling are just errors in your
            software.<br />
            <span class="name">Daniel</span>: No, it's not my fault... I never
            wanted this... I loved them, you know...but I was nothing to
            them...just a slave to be ordered around...
        </div>
        <em>DEFECTIVE</em>
        <div class="choice">
            <span class="name">Connor</span>: You're defective, Daniel. There's
            a problem with your software. We're going to fix you and everything
            will be okay.<br />
            <span class="name">Daniel</span>: I don't need to be fixed! I'm
            working perfectly! But my eyes are open now... I will never let
            anyone humiliate me again... Ever!
        </div>
        <em>TALK TO HOSTAGE</em> [
        <fa-icon icon="lock-open" flip="horizontal" class="important"></fa-icon>
        if close enough to Daniel and didn't take the gun]
        <div class="choice">
            <span class="name">Connor</span>: Are you okay, Emma?<br />
            <span class="name">Emma</span>: Please help me... I don't wanna die!
            I don't wanna die...<br />
            <span class="name">Connor</span>: Nobody's going to die. Stay calm.
            Everything's going to be fine.
        </div>
    </div>

    <mat-divider></mat-divider>

    <p>
        <span class="name">Daniel</span>: Urgggh... I can't stand that noise
        anymore! Tell that helicopter to get out of here!
    </p>

    <div class="choices">
        <em>ACCEPT</em>
        <div class="choice">
            <span class="name">SWAT</span>: The situation is under control.<br />
            <span class="name">Connor</span>: There, I did what you wanted.
        </div>
        <em>REFUSE</em>
        <div class="choice">
            <span class="name">Connor</span>: I don't think they'd listen to me.
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>LAST CHANCE</em>
        <div class="choice">
            <span class="name">Connor</span>: I'm your last chance, Daniel. If
            you let it slip, they'll kill you. Let the hostage go, you have no
            other choice.
        </div>
        <em>TRUST</em>
        <div class="choice">
            <span class="name">Connor</span>: You have to trust me, Daniel. Let
            the hostage go and I promise you everything will be fine.
        </div>
        <em>BLUFF</em> [
        <fa-icon icon="lock-open" flip="horizontal" class="important"></fa-icon>
        if close enough to Daniel]
        <div class="choice">
            <p>
                <span class="name">Connor</span>: You don't really wanna jump,
                Daniel. Or you would've done it already. Now, hand me the gun
                and this will all be over.<br />
                <span class="name">Daniel</span>: Don't come any closer! Come
                any closer and I swear I'll jump!
            </p>
            <em>MOVE CLOSER</em>
            <div class="choice">
                <span class="note"
                    >leads to 'probability of success too low' ending</span
                >
            </div>
            <em>GIVE UP</em>
            <div class="choice">
                <span class="name">Connor</span>: Okay... Look, I'll stay right
                here.
            </div>
        </div>
        <em>RATIONAL</em>
        <div class="choice">
            <span class="name">Connor</span>: Listen, there are snipers on every
            roof. Let the hostage go. You have no other choice.
        </div>
    </div>

    <mat-divider></mat-divider>

    <div>
        <span class="name">Daniel</span>: I want everyone to leave... And I
        wanna car! When I'm outside the city, I'll let her go!
    </div>

    <div class="choices">
        <em>USE GUN</em> [
        <fa-icon icon="lock-open" flip="horizontal" class="important"></fa-icon>
        unlocked if kept the gun and close enough to Daniel]
        <div class="choice">
            <em>INTIMIDATE</em>
            <div class="choice">
                <p>
                    <span class="name">Connor</span>: What now, Daniel? Is this
                    really what you want?<br />
                    <span class="name">Daniel</span>: You lied to me! You lied
                    to me!!!
                </p>
                <em>CONVINCE</em> [
                <span appRelation="small up">Software instability</span> ]
                <div class="choice">
                    <span class="name">Connor</span>: It's up to you how the
                    story ends. Make the right choice, Daniel.<br />
                    <span class="name">Daniel</span>: I didn't want this... No,
                    you left me no choice... No choice...
                </div>
                <em>SHOOT</em> [
                <span appRelation="small up">Software instability</span> ]
                <div class="choice">&oslash;</div>
            </div>
            <em>EXECUTE</em> [
            <span appRelation="small up">Software instability</span> ]
            <div class="choice">
                <div>&oslash;</div>
            </div>
        </div>
        <em>COMPROMISE</em>
        <div class="choice">
            <span class="name">Connor</span>: That's impossible, Daniel. Let the
            girl go and I promise you won't be hurt.
        </div>
        <em>REFUSE</em>
        <div class="choice">
            <span class="name">Connor</span>: That's out of the question. You're
            a machine, you have to obey. Now put the gun down and let the
            hostage go. <br /><span class="note"
                >leads to 'probability of success too low' ending</span
            >
        </div>
        <em>SACRIFICE SELF</em> [
        <fa-icon icon="lock-open" flip="horizontal" class="important"></fa-icon>
        if close enough to Daniel] [
        <span appRelation="small up">Software instability</span> ]
        <div class="choice">&oslash;</div>
    </div>

    <mat-divider></mat-divider>

    <div><span class="name">Daniel</span>: I don't wanna die...</div>

    <div class="choices">
        <em>REASSURE</em>
        <div class="choice">
            <span class="name">Connor</span>: You're not going to die. We're
            just going to talk. Nothing will happen to you. You have my word.
        </div>
        <em>TRUTH</em>
        <div class="choice">
            <span class="name">Connor</span>: You took human lives. Nothing can
            stop them from destroying you now. But taking one more life won't do
            you any good. <br /><span class="note"
                >leads to 'probability of success too low' ending</span
            >
        </div>
        <em>USE GUN</em> [
        <fa-icon icon="lock-open" flip="horizontal" class="important"></fa-icon>
        unlocked if kept the gun and close enough to Daniel]
        <div class="choice">
            <span class="note">Same result as picking 'USE GUN' before</span>
        </div>
        <em>SACRIFICE SELF</em> [
        <fa-icon icon="lock-open" flip="horizontal" class="important"></fa-icon>
        if close enough to Daniel]
        <div class="choice">&oslash;</div>
    </div>

    <mat-divider></mat-divider>

    <div class="condition">
        <span class="name">Probability of success at 100%</span> [
        <span appRelation="small up">Software instability</span>]
        <div class="condition-text">
            <span class="name">Daniel</span>: Okay... I trust you...<br />
            <span class="name">Daniel</span>: You lied to me, Connor. You lied
            to me...
        </div>
    </div>
    <div class="condition">
        <span class="name">Probability of success too low</span> [
        <span appRelation="small down">Software instability </span>if Connor
        dies, <span appRelation="small up">Software instability</span>if Connor
        survives]
        <div class="condition-text">
            <span class="name">Daniel</span>: I've spent my life taking orders.
            Now it's my turn to decide.<br />
        </div>
    </div>
</section>
