a {
    color: #1f2444;
    transition: color 0.8s;
    -o-transition: color 0.8s;
    -ms-transition: color 0.8s;
    -moz-transition: color 0.8s;
    -webkit-transition: color 0.8s;
    text-decoration: none;
}

a:hover {
    color: #545c91;
}

h2 {
    padding-top: 1rem;
    text-align: center;
}

.next {
    text-align: end;
}

.magazine-content {
    padding: 1rem;
}

.nav {
    padding-top: 1rem;
}

mat-chip-list {
    float: right;
}
