<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<main class="main-with-centered-card">
    <mat-card>
        <ng-container *ngIf="currentItem$ | async as currentItem">
            <ng-container *transloco="let t; loadingTpl: loading">
                <mat-card-content>
                    <div>
                        <mat-chip-list
                            class="
                                flex flex-col
                                items-center
                                mb-2
                                sm:float-right sm:mb-0 sm:ml-2
                                ml-0
                            "
                        >
                            <mat-chip>{{ currentItem.type }}</mat-chip>
                        </mat-chip-list>

                        <h1 class="text-center sm:text-left">
                            {{ t(currentItem.titleTranslationKey) }}
                        </h1>

                        <mat-divider></mat-divider>

                        <h2 class="text-center pt-4">
                            {{ t(currentItem.subtitleTranslationKey) }}
                        </h2>

                        <mat-card-subtitle class="text-center">
                            {{
                                translateObject(
                                    this.currentItem.subheadlineTranslationKey,
                                    undefined,
                                    undefined,
                                    ' ● '
                                ) | async
                            }}
                        </mat-card-subtitle>
                        <p>
                            {{ t(currentItem.article1TranslationKey) }}
                        </p>
                        <p>
                            {{ t(currentItem.article2TranslationKey) }}
                        </p>
                    </div>
                </mat-card-content>

                <mat-divider></mat-divider>

                <mat-card-footer class="pt-4">
                    <nav>
                        <div>
                            <a
                                *ngIf="previousItemId !== null"
                                [routerLink]="['/magazines', previousItemId]"
                            >
                                <fa-icon icon="angle-left"></fa-icon> Previous
                                magazine</a
                            >
                        </div>
                        <div class="next">
                            <a
                                *ngIf="nextItemId !== null"
                                [routerLink]="['/magazines', nextItemId]"
                                >Next magazine
                                <fa-icon icon="angle-right"></fa-icon
                            ></a>
                        </div>
                    </nav>
                </mat-card-footer>
            </ng-container>
        </ng-container>
    </mat-card>
</main>
