<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<main class="main-with-centered-card">
    <mat-card>
        <ng-container *transloco="let t; loadingTpl: loading">
            <mat-card-content>
                <div>
                    <mat-chip-list
                        class="
                            flex flex-col
                            items-center
                            mb-2
                            sm:float-right sm:mb-0
                        "
                    >
                        <mat-chip>{{ magazine.type }}</mat-chip>
                    </mat-chip-list>

                    <h1 class="text-center sm:text-left">
                        {{
                            t(
                                'GUI.MAGAZINE.' +
                                    magazine.translationCategory +
                                    '.' +
                                    magazine.translationKey +
                                    '.TITLE'
                            )
                        }}
                    </h1>

                    <mat-divider></mat-divider>

                    <h2 class="text-center pt-4">
                        {{
                            t(
                                'GUI.MAGAZINE.' +
                                    magazine.translationCategory +
                                    '.' +
                                    magazine.translationKey +
                                    '.SUBTITLE'
                            )
                        }}
                    </h2>

                    <mat-card-subtitle class="text-center">
                        {{
                            translateObject(
                                'GUI.MAGAZINE.' +
                                    this.magazine
                                        .subHeadlineTranslationCategory +
                                    '.SUBHEADLINE',
                                undefined,
                                undefined,
                                ' ● '
                            ) | async
                        }}
                    </mat-card-subtitle>
                    <p>
                        {{
                            t(
                                'GUI.MAGAZINE.' +
                                    magazine.translationCategory +
                                    '.' +
                                    magazine.translationKey +
                                    '.ARTICLE1'
                            )
                        }}
                    </p>
                    <p>
                        {{
                            t(
                                'GUI.MAGAZINE.' +
                                    magazine.translationCategory +
                                    '.' +
                                    magazine.translationKey +
                                    '.ARTICLE2'
                            )
                        }}
                    </p>
                </div>
            </mat-card-content>

            <mat-divider></mat-divider>

            <mat-card-footer class="pt-4">
                <div class="nav">
                    <div>
                        <a
                            *ngIf="previousMagazineId !== null"
                            [routerLink]="['/magazines', previousMagazineId]"
                        >
                            <fa-icon icon="angle-left"></fa-icon> Previous
                            magazine</a
                        >
                    </div>
                    <div class="next">
                        <a
                            *ngIf="nextMagazineId !== null"
                            [routerLink]="['/magazines', nextMagazineId]"
                            >Next magazine <fa-icon icon="angle-right"></fa-icon
                        ></a>
                    </div>
                </div>
            </mat-card-footer>
        </ng-container>
    </mat-card>
</main>
