<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <p>
            {{ t('GUI.MENU.DATE.01M2') }}
            <br />
            {{ t('GUI.MENU.TIME.01M2') }}
        </p>

        <h1>At Carl's house</h1>
        <p>
            <app-dialogue-line name="Alarm">
                {{
                    translateObject(
                        'X0904M.CARLHOUSE.ALARM.VO.X09MHOUSEALARMVOICE.MOVIEKCHV2'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Going to see Carl</h2>
        <p>
            <app-dialogue-line name="Markus">
                {{ t('X0101M.BEDROOM.WAKEUP.FA.X01MMARKUS.HELLOV4.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Carl">
                {{ t('X0101M.BEDROOM.WAKEUP.PC.X01MCARL.HELLO.1') }}
            </app-dialogue-line>

            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0101M.BEDROOM.WAKEUP.FA.X01MMARKUS.HELLOV4',
                        1,
                        4
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{ t('X0101M.BEDROOM.WAKEUP.PC.X01MCARL.HELLO.3') }}
            </app-dialogue-line>

            <app-dialogue-line name="Markus">
                {{ t('X0101M.BEDROOM.WAKEUP.FA.X01MMARKUS.HELLOV4.5') }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{
                    translateObject(
                        'X0101M.BEDROOM.WAKEUP.PC.X01MCARL.HELLO',
                        3
                    ) | async
                }}</app-dialogue-line
            >
            <app-dialogue-line name="Markus">
                {{ t('X0101M.BEDROOM.INJECTION.PC.X01MMARKUS.GETREADY.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Carl">
                {{ t('X0101M.BEDROOM.INJECTION.PC.X01MCARL.GETREADY.1') }}
            </app-dialogue-line>

            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0101M.BEDROOM.INJECTION.PC.X01MMARKUS.GETREADY',
                        1,
                        3
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{ t('X0101M.BEDROOM.INJECTION.PC.X01MCARL.GETREADY.2') }}
                {{
                    translateObject(
                        'X0101M.BEDROOM.INJECTION.PC.X01MCARL.START'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">
                <span
                    >Markus ran into the protesters in
                    <a [routerLink]="['/chapters', 3]">Shades of Color</a>
                </span>
            </div>
            <div class="content">
                <app-dialogue-line name="Carl">
                    {{ t('X0101M.BEDROOM.INJECTION.PC.X01MCARL.CLOTHES') }}
                </app-dialogue-line>

                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0101M.BEDROOM.INJECTION.PC.X01MMARKUS.REASSURING'
                        ) | async
                    }}
                </app-dialogue-line>

                <app-dialogue-line name="Carl">
                    {{
                        translateObject(
                            'X0101M.BEDROOM.INJECTION.PC.X01MCARL.CLOTHESCONT'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0101M.BEDROOM.INJECTION.PC.X01MMARKUS.CLOTHESCONT',
                            0,
                            3
                        ) | async
                    }}
                </app-dialogue-line>
            </div></app-conditioned-content
        >

        <p>
            <app-dialogue-line name="Markus">
                {{ t('X0101M.BEDROOM.INJECTION.PC.X01MMARKUS.CLOTHESCONT.4') }}
                {{ t('X0101M.BEDROOM.INJECTION.PC.X01MMARKUS.BATHROOM.1') }}
            </app-dialogue-line>
        </p>

        <h2>On the way downstairs</h2>
        <p>
            <app-dialogue-line name="Carl">
                {{ t('X0101M.BEDROOM.TODAY.FA.X01MCARL.PGM.1') }}
            </app-dialogue-line>

            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0101M.BEDROOM.TODAY.FA.X01MMARKUS.PGM',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{
                    translateObject(
                        'X0101M.BEDROOM.TODAY.FA.X01MCARL.PGM',
                        1,
                        3
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Markus">
                {{ t('X0101M.BEDROOM.TODAY.FA.X01MMARKUS.PGM.3') }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{ t('X0101M.BEDROOM.TODAY.FA.X01MCARL.PGM.4') }}
            </app-dialogue-line>

            <app-dialogue-line name="Markus">
                {{ t('X0101M.BEDROOM.TODAY.FA.X01MMARKUS.PGM.4') }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{ t('X0101M.BEDROOM.TODAY.FA.X01MCARL.PGM.5') }}
            </app-dialogue-line>

            <app-dialogue-line name="Markus">
                {{
                    translateObject('X0101M.BEDROOM.TODAY.FA.X01MMARKUS.PGM', 4)
                        | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{
                    translateObject('X0101M.BEDROOM.TODAY.FA.X01MCARL.PGM', 5)
                        | async
                }}
            </app-dialogue-line>
        </p>

        <!-- TODO: Check X0101M.LIVING.HUNGRY.FA.X01MCARL.WAITING and X0101M.LIVING.HUNGRY.FA.X01MCARL.TOOLONG lines -->

        <app-conditioned-content>
            <div class="condition">
                <span>Going without Carl</span>
            </div>
            <div class="content">
                <app-dialogue-line name="Carl">
                    {{ t('X0101M.LIVING.HUNGRY.FA.X01MCARL.WAITING01') }}
                </app-dialogue-line>

                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0101M.LIVING.HUNGRY.FA.X01MMARKUS.SORRY01'
                        ) | async
                    }}
                </app-dialogue-line>
                <p>
                    <app-dialogue-line name="Carl">
                        {{ t('X0101M.LIVING.HUNGRY.FA.X01MCARL.WAITING02') }}
                    </app-dialogue-line>
                </p>
                <p>
                    <app-dialogue-line name="Carl">
                        {{ t('X0101M.LIVING.HUNGRY.FA.X01MCARL.WAITING04') }}
                    </app-dialogue-line>

                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X0101M.LIVING.HUNGRY.FA.X01MMARKUS.SORRY02'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
            </div>
        </app-conditioned-content>

        <h2>
            [ <fa-icon icon="hourglass-end"></fa-icon> ] Taking too much time to
            get to the living room
        </h2>
        <p>
            <app-dialogue-line name="Carl">
                {{ t('X0101M.LIVING.HUNGRY.FA.X01MCARL.TOOLONG02') }}
            </app-dialogue-line>
        </p>

        <h2>In the living room</h2>
        <p>
            <app-dialogue-line name="Carl">
                {{ t('X0101M.LIVING.HUNGRY.FA.X01MCARL.BREAKFAST.1') }}
            </app-dialogue-line>

            <app-dialogue-line name="Markus">
                {{ t('X0101M.LIVING.HUNGRY.FA.X01MMARKUS.BREAKFAST.1') }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{ t('X0101M.LIVING.HUNGRY.FA.X01MCARL.BREAKFAST.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Markus">
                {{ t('X0101M.LIVING.HUNGRY.FA.X01MMARKUS.BREAKFAST.2') }}
            </app-dialogue-line>
        </p>

        <h2>
            [ <fa-icon icon="hourglass-end"></fa-icon> ] Taking too much time to
            get the breakfast
        </h2>
        <p>
            <app-dialogue-line name="Carl">
                {{ t('X0101M.LIVING.HUNGRY.FA.X01MCARL.WAITING03') }}
            </app-dialogue-line>
        </p>

        <h2>Served breakfast</h2>
        <p>
            <app-dialogue-line name="Carl">
                {{ t('X0101M.LIVING.HUNGRY.FA.X01MCARL.BREAKFAST.2') }}
                {{ t('X0101M.LIVING.TVON.FA.X01MCARL.THANKSV2') }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Carl">
                {{ t('X0101M.LIVING.COFFEE.PC.X01MCARL.FINDSOMETHING.2') }}
            </app-dialogue-line>

            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0101M.LIVING.COFFEE.FA.X01MMARKUS.FINDSOMETHING',
                        1
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <h2>[ <fa-icon icon="tv"></fa-icon> ] Listening to TV</h2>
        <p>
            <app-dialogue-line name="Michael Brinkley - CTN TV">
                {{
                    translateObject(
                        'X0101M.TV.NEWS.PC.X01MBRINKLEY.INTERNATIONALV3'
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Carl">
                {{ t('X0101M.LIVING.TVOFF.PC.X01MCARL.SWITCHOFF01') }}
                {{
                    translateObject(
                        'X0101M.LIVING.TVOFF.PC.X01MCARL.SWITCHOFF02'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">Read</div>
            <div class="content">
                <p>
                    <app-dialogue-line name="Carl">
                        {{ t('X0101M.LIVING.BOOK.PC.X01MCARL.READ') }}
                    </app-dialogue-line>
                </p>

                <app-conditioned-content>
                    <div class="condition">
                        <span>Picked Shakespeare</span>
                    </div>
                    <div class="content">
                        <app-dialogue-line name="Markus">
                            {{
                                translateObject(
                                    'X0101M.LIVING.BOOK.PC.X01MMARKUS.SHAKESPEARE01'
                                ) | async
                            }}
                        </app-dialogue-line>
                        <app-dialogue-line name="Carl">
                            {{
                                t(
                                    'X0101M.LIVING.BOOK.PC.X01MCARL.SHAKESPEARE01'
                                )
                            }}
                        </app-dialogue-line>

                        <app-dialogue-line name="Markus">
                            {{
                                translateObject(
                                    'X0101M.LIVING.BOOK.PC.X01MMARKUS.SHAKESPEARE02'
                                ) | async
                            }}
                        </app-dialogue-line>

                        <app-dialogue-line name="Carl">
                            {{
                                translateObject(
                                    'X0101M.LIVING.BOOK.PC.X01MCARL.SHAKESPEARE02'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </div>
                </app-conditioned-content>
                <app-conditioned-content>
                    <div class="condition">
                        <span>Picked Plato</span>
                    </div>
                    <div class="content">
                        <app-dialogue-line name="Markus">
                            {{
                                translateObject(
                                    'X0101M.LIVING.BOOK.PC.X01MMARKUS.PLATON01'
                                ) | async
                            }}
                        </app-dialogue-line>

                        <app-dialogue-line name="Carl">
                            {{ t('X0101M.LIVING.BOOK.PC.X01MCARL.PLATON01') }}
                        </app-dialogue-line>

                        <app-dialogue-line name="Markus">
                            {{
                                translateObject(
                                    'X0101M.LIVING.BOOK.PC.X01MMARKUS.PLATON02A'
                                ) | async
                            }}
                        </app-dialogue-line>

                        <app-dialogue-line name="Carl">
                            {{ t('X0101M.LIVING.BOOK.PC.X01MCARL.PLATON02B') }}
                        </app-dialogue-line>
                    </div>
                </app-conditioned-content>
                <app-conditioned-content>
                    <div class="condition">
                        <span>Picked Keats' Odes</span>
                    </div>
                    <div class="content">
                        <app-dialogue-line name="Markus">
                            {{ t('X0101M.LIVING.BOOK.PC.X01MMARKUS.KEATS01') }}
                        </app-dialogue-line>

                        <app-dialogue-line name="Carl">
                            {{ t('X0101M.LIVING.BOOK.PC.X01MCARL.THINK') }}
                        </app-dialogue-line>

                        <app-dialogue-line name="Markus">
                            {{ t('X0101M.LIVING.BOOK.PC.X01MMARKUS.KEATS02A') }}
                        </app-dialogue-line>

                        <app-dialogue-line name="Carl">
                            {{ t('X0101M.LIVING.BOOK.PC.X01MCARL.KEATS02A') }}
                            {{ t('X0101M.LIVING.BOOK.PC.X01MCARL.KEATS02B') }}
                        </app-dialogue-line>
                    </div>
                </app-conditioned-content>
            </div>
        </app-conditioned-content>

        <app-conditioned-content>
            <div class="condition">
                <span>Play the piano</span>
            </div>
            <div class="content">
                <app-dialogue-line name="Carl">
                    {{
                        translateObject('X0101M.LIVING.PIANO.PC.X01MCARL.MOVED')
                            | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <app-conditioned-content>
            <div class="condition">
                <span>Play chess</span>
            </div>
            <div class="content">
                <p>
                    <app-dialogue-line name="Carl">
                        {{ t('X0101M.LIVING.CHESS.PC.X01MCARL.PLAY.1') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Markus">
                        {{ t('X0101M.LIVING.CHESS.PC.X01MMARKUS.PLAY.1') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Carl">
                        {{ t('X0101M.LIVING.CHESS.PC.X01MCARL.PLAY.2') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Markus">
                        {{ t('X0101M.LIVING.CHESS.PC.X01MMARKUS.PLAY.2') }}
                    </app-dialogue-line>
                </p>
                <app-choice-group>
                    <app-choice-item
                        [choiceLabel]="t('X0101M.LIVING.CHESS.PC.END.WIN')"
                    >
                        <p>
                            <app-dialogue-line name="Carl">
                                {{ t('X0101M.LIVING.CHESS.PC.X01MCARL.WIN') }}
                            </app-dialogue-line>
                        </p>

                        <app-choice-group>
                            <app-choice-item
                                [choiceLabel]="
                                    t(
                                        'X0101M.LIVING.CHESS.PC.CHOICEAFTERWIN.JUSTIFY'
                                    )
                                "
                            >
                                <app-dialogue-line name="Markus">
                                    {{
                                        translateObject(
                                            'X0101M.LIVING.CHESS.PC.X01MMARKUS.JUSTIFY'
                                        ) | async
                                    }}
                                </app-dialogue-line>

                                <app-dialogue-line name="Carl">
                                    {{
                                        translateObject(
                                            'X0101M.LIVING.CHESS.PC.X01MCARL.JUSTIFY'
                                        ) | async
                                    }}
                                </app-dialogue-line>
                            </app-choice-item>
                            <app-choice-item
                                [choiceLabel]="
                                    t(
                                        'X0101M.LIVING.CHESS.PC.CHOICEAFTERWIN.SORRY'
                                    )
                                "
                            >
                                <app-dialogue-line name="Markus">
                                    {{
                                        t(
                                            'X0101M.LIVING.CHESS.PC.X01MMARKUS.SORRY'
                                        )
                                    }}
                                </app-dialogue-line>

                                <app-dialogue-line name="Carl">
                                    {{
                                        translateObject(
                                            'X0101M.LIVING.CHESS.PC.X01MCARL.SORRY'
                                        ) | async
                                    }}
                                </app-dialogue-line>
                            </app-choice-item>
                        </app-choice-group>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="t('X0101M.LIVING.CHESS.PC.END.LOSE')"
                    >
                        <p>
                            <app-dialogue-line name="Carl">
                                {{
                                    translateObject(
                                        'X0101M.LIVING.CHESS.PC.X01MCARL.LOSE'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>

                        <app-choice-group>
                            <app-choice-item
                                [choiceLabel]="
                                    t(
                                        'X0101M.LIVING.CHESS.PC.CHOICEAFTERLOSE.LIE'
                                    )
                                "
                            >
                                <app-dialogue-line name="Markus">
                                    {{
                                        t(
                                            'X0101M.LIVING.CHESS.PC.X01MMARKUS.LOSELIE'
                                        )
                                    }}
                                </app-dialogue-line>
                            </app-choice-item>
                            <app-choice-item
                                [choiceLabel]="
                                    t(
                                        'X0101M.LIVING.CHESS.PC.CHOICEAFTERLOSE.TRUTH'
                                    )
                                "
                            >
                                <app-dialogue-line name="Markus">
                                    {{
                                        t(
                                            'X0101M.LIVING.CHESS.PC.X01MMARKUS.LOSETRUTH'
                                        )
                                    }}
                                </app-dialogue-line>
                            </app-choice-item>
                        </app-choice-group>
                        <p>
                            <app-dialogue-line name="Carl">
                                {{
                                    translateObject(
                                        'X0101M.LIVING.CHESS.PC.X01MCARL.DONTLOSE'
                                    ) | async
                                }}
                            </app-dialogue-line>
                        </p>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="t('X0101M.LIVING.CHESS.PC.END.DRAW')"
                    >
                        <p>
                            <app-dialogue-line name="Carl">
                                {{
                                    t('X0101M.LIVING.CHESS.PC.X01MCARL.DRAW01')
                                }}
                            </app-dialogue-line>
                        </p>

                        <app-unused-content>
                            <app-dialogue-line name="Carl">
                                {{
                                    t('X0101M.LIVING.CHESS.PC.X01MCARL.DRAW02')
                                }}
                            </app-dialogue-line>
                        </app-unused-content>

                        <app-choice-group>
                            <app-choice-item
                                [choiceLabel]="
                                    t(
                                        'X0101M.LIVING.CHESS.PC.CHOICEAFTERDRAW.LIE'
                                    )
                                "
                            >
                                <app-dialogue-line name="Markus">
                                    {{
                                        t(
                                            'X0101M.LIVING.CHESS.PC.X01MMARKUS.DRAWLIE'
                                        )
                                    }}
                                </app-dialogue-line>

                                <app-dialogue-line name="Carl">
                                    {{
                                        translateObject(
                                            'X0101M.LIVING.CHESS.PC.X01MCARL.DRAWLIE'
                                        ) | async
                                    }}
                                </app-dialogue-line>
                            </app-choice-item>
                            <app-choice-item
                                [choiceLabel]="
                                    t(
                                        'X0101M.LIVING.CHESS.PC.CHOICEAFTERDRAW.TRUTH'
                                    )
                                "
                            >
                                <p>
                                    <app-dialogue-line name="Markus">
                                        {{
                                            translateObject(
                                                'X0101M.LIVING.CHESS.PC.X01MMARKUS.DRAWTRUTH'
                                            ) | async
                                        }}
                                    </app-dialogue-line>
                                </p>

                                <app-unused-content>
                                    <app-dialogue-line name="Carl">
                                        {{
                                            t(
                                                'X0101M.LIVING.CHESS.PC.X01MCARL.DRAWTRUTH'
                                            )
                                        }}
                                    </app-dialogue-line>
                                </app-unused-content>
                            </app-choice-item>
                        </app-choice-group>
                    </app-choice-item>
                </app-choice-group>
            </div>
        </app-conditioned-content>

        <p>
            <app-dialogue-line name="Carl">
                {{
                    translateObject('X0101M.LIVING.DIE.PC.X01MCARL.FREE01')
                        | async
                }}
                {{
                    translateObject('X0101M.LIVING.DIE.PC.X01MCARL.FREE02')
                        | async
                }}
                {{ t('X0101M.LIVING.DIE.PC.X01MCARL.FREE03') }}
            </app-dialogue-line>
        </p>

        <h2>In the studio</h2>

        <p>
            <app-dialogue-line name="Carl">
                {{
                    translateObject('X0101M.WORKSHOP.COVER.FA.X01MCARL.REMOVE')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Carl finished the painting</h2>
        <p>
            <app-dialogue-line name="Carl">
                {{
                    translateObject('X0101M.WORKSHOP.PAINT.PC.X01MCARL.PAINT')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <app-choice-group>
            <app-choice-item
                [choiceLabel]="t('X0101M.WORKSHOP.PAINT.PC.OPINION.LIKE')"
            >
                <p>
                    <app-dialogue-line name="Markus">
                        {{ t('X0101M.WORKSHOP.PAINT.PC.X01MMARKUS.LIKEV2.1') }}
                    </app-dialogue-line>

                    <app-dialogue-line name="Carl">
                        {{ t('X0101M.WORKSHOP.PAINT.PC.X01MCARL.LIKE') }}
                    </app-dialogue-line>

                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X0101M.WORKSHOP.PAINT.PC.X01MMARKUS.LIKEV2',
                                1
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>

                <app-unused-content>
                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X0101M.WORKSHOP.PAINT.PC.X01MMARKUS.LIKE'
                            ) | async
                        }}
                    </app-dialogue-line>
                </app-unused-content>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0101M.WORKSHOP.PAINT.PC.OPINION.DISLIKE')"
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0101M.WORKSHOP.PAINT.PC.X01MMARKUS.DISLIKE'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0101M.WORKSHOP.PAINT.PC.OPINION.NOOPINION')"
            >
                <p>
                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X0101M.WORKSHOP.PAINT.PC.X01MMARKUS.NOOPINION'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
                <app-unused-content>
                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X0101M.WORKSHOP.PAINT.PC.X01MMARKUS.NOOPINIONV2'
                            ) | async
                        }}
                    </app-dialogue-line>
                </app-unused-content>
            </app-choice-item>
        </app-choice-group>
        <p>
            <app-dialogue-line name="Carl">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MCARL.TRY',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Markus">{{
                t('X0101M.WORKSHOP.PAINT.PC.X01MMARKUS.TRY.1')
            }}</app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MCARL.TRY',
                        2,
                        6
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MMARKUS.TRY',
                        2,
                        4
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{ t('X0101M.WORKSHOP.PAINT.PC.X01MCARL.TRY.7') }}
                {{ t('X0101M.WORKSHOP.PAINT.PC.X01MCARL.TRY.9') }}
            </app-dialogue-line>
        </p>

        <h2>Copied object</h2>
        <p>
            <app-dialogue-line name="Carl">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MCARL.TRYAGAIN',
                        0,
                        5
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MMARKUS.TRYAGAIN'
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{ t('X0101M.WORKSHOP.PAINT.PC.X01MCARL.TRY.8') }}
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MCARL.TRYAGAIN',
                        5,
                        12
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Finish own painting</h2>
        <p>
            <app-dialogue-line name="Carl">
                {{ t('X0101M.WORKSHOP.PAINT.PC.X01MCARL.END.1') }}
            </app-dialogue-line>

            <app-dialogue-line name="Leo">
                {{ t('X0101M.WORKSHOP.PAINT.PC.X01MLEO.END.1') }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MCARL.END',
                        1,
                        3
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Leo">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MLEO.END',
                        1,
                        3
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MCARL.END',
                        3,
                        5
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Leo">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MLEO.END',
                        3,
                        5
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MCARL.END',
                        5,
                        7
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Leo">
                {{ t('X0101M.WORKSHOP.PAINT.PC.X01MLEO.END.6') }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl"
                >{{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MCARL.END',
                        7,
                        9
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Leo">
                {{ t('X0101M.WORKSHOP.PAINT.PC.X01MLEO.END.7') }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{ t('X0101M.WORKSHOP.PAINT.PC.X01MCARL.END.10') }}
            </app-dialogue-line>

            <app-dialogue-line name="Leo">
                {{ t('X0101M.WORKSHOP.PAINT.PC.X01MLEO.END.8') }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MCARL.END',
                        10,
                        12
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Leo">
                {{ t('X0101M.WORKSHOP.PAINT.PC.X01MLEO.END.9') }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{ t('X0101M.WORKSHOP.PAINT.PC.X01MCARL.END.13') }}
            </app-dialogue-line>

            <app-dialogue-line name="Leo">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MLEO.END',
                        9,
                        16
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Carl">
                {{
                    translateObject(
                        'X0101M.WORKSHOP.PAINT.PC.X01MCARL.END',
                        13,
                        15
                    ) | async
                }}
            </app-dialogue-line>

            <app-dialogue-line name="Leo">
                {{
                    translateObject('X0101M.WORKSHOP.PAINT.PC.X01MLEO.END', 16)
                        | async
                }}
            </app-dialogue-line>
        </p>
    </section>
</ng-container>
