<p>
    NOV 5TH, 2038
    <br />AM 09:58
</p>

<section>
    <h1>At Carl's house</h1>
    <p>
        <span class="name">Alarm</span>: Alarm deactivated. Welcome home,
        Markus.
    </p>

    <p>
        <strong>Going to see Carl</strong>
        <br /><span class="name">Markus</span>: Good morning, Carl. <br /><span
            class="name"
            >Carl</span
        >: Good morning. <br /><span class="name">Markus</span>: It's 10AM. The
        weather's partly cloudy, 54°, 80% humidity, with a strong possibility of
        afternoon showers. <br /><span class="name">Carl</span>: It sounds like
        a good day to spend in bed... <br /><span class="name">Markus</span>: I
        did go to pickup the paint that you ordered. <br /><span class="name"
            >Carl</span
        >: Oh yes, I'd forgotten! That is the difference between you and me,
        right Markus? You never forget anything... <br /><span class="name"
            >Markus</span
        >: Show me your arm please, Carl. <br /><span class="name">Carl</span>:
        No! <br /><span class="name">Markus</span>: Carl... Thank you.
        <br /><span class="name">Carl</span>: I just opened my eyes and I'm
        already gritting my teeth... Humans are such a fragile machine... They
        break down so quickly... All this effort to keep 'em going...
    </p>

    <div class="condition">
        <span class="name"
            >Markus ran into the protesters in
            <a [routerLink]="['/chapters', 3]">Shades of Color</a></span
        >
        <div class="condition-text">
            <p>
                <span class="name">Carl</span>: Hey. What happened to your
                clothes? <br /><span class="name">Markus</span>: Oh, it's
                nothing... Just some demonstrators in the street, Carl...
                <br /><span class="name">Carl</span>: What a bunch of idiots...
                They think they can stop progress by roughing up a few androids?
                I hope they didn't harm you... <br /><span class="name"
                    >Markus</span
                >: Oh, no, no... They just pushed me around, Carl. I'm fine.
            </p>
        </div>
    </div>

    <p>
        <span class="name">Markus</span>: Okay. I'll take you to the bathroom
        now.
    </p>

    <p>
        <strong>On the way downstairs</strong>
        <br /><span class="name">Carl</span>: Anything special on the agenda
        today? <br /><span class="name">Markus</span>: Yes, there's the opening
        of your retrospective at the Museum of Modern Art. The gallery director
        left four messages asking to confirm your attendance. <br /><span
            class="name"
            >Carl</span
        >: I haven't decided yet. We'll see about that later. <br /><span
            class="name"
            >Markus</span
        >: Okay. <br /><span class="name">Carl</span>: What else? <br /><span
            class="name"
            >Markus</span
        >: Just your usual fan mail. I've already answered. <br /><span
            class="name"
            >Carl</span
        >: Any news from Leo? <br /><span class="name">Markus</span>: No, Carl.
        I can call him if you like? <br /><span class="name">Carl</span>: No.
        No, don't bother.
    </p>

    <div class="condition">
        <span class="name">Going without Carl</span>
        <div class="condition-text">
            <span class="name">Carl</span>: Markus, I'm waiting... <br /><span
                class="name"
                >Markus</span
            >: Sorry, Carl. I'm coming.
            <p><span class="name">Carl</span>: So... shall we go?</p>
            <p>
                <span class="name">Carl</span>:Markus, what exactly are you
                doing? You don't seem yourself this morning. <br /><span
                    class="name"
                    >Markus</span
                >: Sorry, Carl. I'll take you to the living room right away.
            </p>
        </div>
    </div>

    <p>
        <strong>Taking too much time to get to the living room</strong>
        <br /><span class="name">Carl</span>: Markus, have you forgotten where
        the living room is?
    </p>

    <p>
        <strong>In the living room</strong>
        <br /><span class="name">Carl</span>: I'm starving. <br /><span
            class="name"
            >Markus</span
        >: Well, your breakfast is ready. Bacon and egg just the way you like
        them. <br /><span class="name">Carl</span>: Thank you, Markus.
        <br /><span class="name">Markus</span>: You're welcome.
    </p>

    <p>
        <strong>Taking too much time to get the breakfast</strong>
        <br /><span class="name">Carl</span>: I would like to have my breakfast
        before noon, if you don't mind.
    </p>

    <p>
        <strong>Served breakfast</strong>
        <br /><span class="name">Carl</span>: Thank you, Markus. Television.
    </p>

    <p>
        <span class="name">Carl</span>: Why don't you find something to do while
        I finish my breakfast? <br /><span class="name">Markus</span>: Sure.
        Okay, Carl.
    </p>

    <p>
        <strong><i class="fas fa-tv"></i> Listening to TV</strong>
        <br /><span class="name">Michael Brinkley - CTN TV</span>: Tensions
        continue to rise in the Arctic since Russia unilaterally declared the
        region part of its national territory. Several Russian warships have
        taken position in the Barents Sea since Saturday and a Russian flag now
        flies over the ice field. The Russian president, repeated in a speech to
        the Duma that the Arctic belongs to Russia as a matter of fact. On the
        other hand, last night the American ambassador again informed an
        emergency meeting of the UN that the United States would not accept this
        annexation under any circumstances. Several American destroyers are
        reported to be headed for the Barents Sea. Douglas Cornwell, Chairman of
        the UN, announced at a press conference that we have never been so close
        to a Third World War. He called on Russia and the United States to
        promptly renew talks before things get out of control. <br /><span
            class="name"
            >Carl</span
        >: Television: off. Mankind is so depressing... Nothing but greed,
        stupidity and violence... 5,000 years of civilization just to get to
        where we are...
    </p>

    <div class="condition">
        <span class="name">Read</span>
        <div class="condition-text">
            <span class="name">Carl</span>: What are you reading?
            <div class="condition">
                <span class="name">Picked Shakespeare</span>
                <div class="condition-text">
                    <p>
                        <span class="name">Markus</span>: Uh, Macbeth! It's one
                        of the books you recommended. <br /><span class="name"
                            >Carl</span
                        >: So, what do you think? <br /><span class="name"
                            >Markus</span
                        >: Human emotions are...intriguing... Though, I can't
                        really say that I fully understand them. <br /><span
                            class="name"
                            >Carl</span
                        >: Humans don't understand them either. They rule our
                        lives and we have no idea why they make us feel like
                        beggars or kings. Life without emotions wouldn't be
                        worth living.
                    </p>
                </div>
            </div>
            <div class="condition">
                <span class="name">Picked Plato</span>
                <div class="condition-text">
                    <p>
                        <span class="name">Markus</span>: Plato's Republic. It's
                        one of the books you recommended. <br /><span
                            class="name"
                            >Carl</span
                        >: So, what do you think? <br /><span class="name"
                            >Markus</span
                        >: I quite like philosophy, I think. It asks the
                        questions that I can't answer. What is right or what is
                        wrong, for example. It's not something that is so easy
                        to decide. <br /><span class="name">Carl</span>: Asking
                        questions that have no answers is part of being human,
                        Markus.
                    </p>
                </div>
            </div>
            <div class="condition">
                <span class="name">Picked Keats' Odes</span>
                <div class="condition-text">
                    <p>
                        <span class="name">Markus</span>: Oh, Keats' Odes. It's
                        one of the books you recommended. <br /><span
                            class="name"
                            >Carl</span
                        >: So, what do you think? <br /><span class="name"
                            >Markus</span
                        >: Well, there's a lot of sadness in his poems.
                        <br /><span class="name">Carl</span>: Hm... Keats was in
                        love... There's nothing like love to make a man feel
                        miserable.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="condition">
        <span class="name">Play the piano</span>
        <div class="condition-text">
            <span class="name">Carl</span>: Something has changed in the way you
            play... Sometimes I think you have more humanity than most humans...
        </div>
    </div>

    <div class="condition">
        <span class="name">Play chess</span>
        <div class="condition-text">
            <p>
                <span class="name">Carl</span>: Fancy a game of chess?
                <br /><span class="name">Markus</span>: Sure, yeah. <br /><span
                    class="name"
                    >Carl</span
                >: Speed chess. <br /><span class="name">Markus</span>: Speed
                chess it is.
            </p>
            <div class="choices">
                <em>WIN</em>
                <div class="choice">
                    <span class="name">Carl</span>: That's what I call a
                    thorough beating... It's not easy for an old man to compete
                    with a machine.
                    <div class="choices">
                        <em>JUSTIFY</em>
                        <div class="choice">
                            <span class="name">Markus</span>: Well, I know you
                            don't like losing and you don't like when I let you
                            win. So I felt I...didn't have many choices.
                            <br /><span class="name">Carl</span>: True. We
                            humans are complicated.
                        </div>
                        <em>SORRY</em>
                        <div class="choice">
                            <span class="name">Markus</span>: My apologies,
                            Carl. I thought, I shou- <br /><span class="name"
                                >Carl</span
                            >: Don't apologize, you did the right thing. I
                            prefer humiliation to pity.
                        </div>
                    </div>
                </div>
                <em>LOSE</em>
                <div class="choice">
                    <span class="name">Carl</span>: Now, it's just a little bit
                    too easy... Are your circuits rusty? Or are you just taking
                    pity on an old man?
                    <div class="choices">
                        <em>LIE</em>
                        <div class="choice">
                            <span class="name">Markus</span>: Neither, Carl. You
                            just played better!
                        </div>
                        <em>TRUTH</em>
                        <div class="choice">
                            <span class="name">Markus</span>: Well, I thought...
                            You'd enjoy winning.
                        </div>
                    </div>
                    <p>
                        <span class="name">Carl</span>: Never throw a match,
                        Markus. If you can win, win. That's what got humanity
                        where it is today.
                    </p>
                </div>
                <em>DRAW</em>
                <div class="choice">
                    <span class="name">Carl</span>: That is a very odd draw...
                    <div class="choices">
                        <em>LIE</em>
                        <div class="choice">
                            <span class="name">Markus</span>: Well maybe you
                            just played better! <br /><span class="name"
                                >Carl</span
                            >: You don't lie as good as you play chess. We both
                            know that I'm no match for you.
                        </div>
                        <em>TRUTH</em>
                        <div class="choice">
                            <span class="name">Markus</span>: Well, I know that
                            you don't like to lose, but you don't like when I
                            let you win either. A draw feels like an honorable
                            compromise, no?
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>
        <span class="name">Carl</span>: One day, I won't be here to take care of
        you anymore. You'll have to protect yourself, and make your choices.
        Decide who you are, and wanna become... This world doesn't like those
        who are different, Markus. Don't let anyone tell you who you should be.
        Let's go to the studio.
    </p>

    <h2>In the studio</h2>

    <p>
        <span class="name">Carl</span>: Let's see where we left off... Remove
        the sheet!
    </p>

    <p>
        <strong>Carl finished the painting</strong>
        <br /><span class="name">Carl</span>: So... What's your verdict, Markus?
    </p>
    <div class="choices">
        <em>LIKE</em>
        <div class="choice">
            <span class="name">Markus</span>: Yes, there is something about it.
            <br /><span class="name">Carl</span>: Hm... <br /><span class="name"
                >Markus</span
            >: Something I can't...quite define. I guess I like it.
        </div>
        <em>DON'T LIKE</em>
        <div class="choice">
            <span class="name">Markus</span>: I'm not a very good judge, I... I
            don't think it's your best work...
        </div>
        <em>NO OPINION </em>
        <div class="choice">
            <span class="name">Markus</span>: I'm not programmed to criticize
            art, I- You would be a much better judge than I would.
        </div>
    </div>
    <p>
        <span class="name">Carl</span>: The truth is I have nothing left to say
        anymore... Each day that goes by brings me closer to the end... I'm just
        an old man clinging to his brushes... <br /><span class="name"
            >Markus</span
        >: Carl... <br /><span class="name">Carl</span>: But enough about me...
        Let's see if you have any talent! Give it a try. Try painting something.
        <br /><span class="name">Markus</span>: Paint? But, what I... Painting
        what? <br /><span class="name">Carl</span>: Anything you want. Give it a
        try.
    </p>

    <p>
        <strong>Copied object</strong>
        <br /><span class="name">Carl</span>: That is a perfect copy, of
        reality. But painting is not about replicating the world, it's about
        interpreting it, improving on it, showing something you see. <br /><span
            class="name"
            >Markus</span
        >: Carl, I don't...think I can do that. It's not in my program... I...
        <br /><span class="name">Carl</span>: Go on, go, try, grab that canvas.
        Do something for me, close your eyes. Close your eyes. Trust me. Try to
        imagine something that doesn't exist. Something you've never seen. Now,
        concentrate...on how it makes you feel...and let your hand drift across
        the canvas.
    </p>

    <p>
        <strong>Finish own painting </strong>
        <br /><span class="name">Carl</span>: Oh my God... <br /><span
            class="name"
            >Leo</span
        >: Hey, Dad. <br /><span class="name">Carl</span>: Leo... I didn't hear
        you come in... <br /><span class="name">Leo</span>: Ah, I was in the
        neighborhood... I thought I'd stop by... It's been a while, right?
        <br /><span class="name">Carl</span>: You all right? You don't look so
        good. <br /><span class="name">Leo</span>: Oh, yeah, yeah, I'm fine...
        Hey listen, uh... I need some cash, Dad. <br /><span class="name"
            >Carl</span
        >: Again? What happened to the money I just gave you? <br /><span
            class="name"
            >Leo</span
        >: Uh well, it just goes, you know? <br /><span class="name">Carl</span
        >: Yeah... Yeah, you're on it again, aren't you? <br /><span
            class="name"
            >Leo</span
        >: No, no, no, I swear it's not that... <br /><span class="name"
            >Carl</span
        >: Don't lie to me, Leo. <br /><span class="name">Leo</span>: What
        difference does it make? I just need some cash, that's all! <br /><span
            class="name"
            >Carl</span
        >: Sorry...the answer's no. <br /><span class="name">Leo</span>: What?
        Why? <br /><span class="name">Carl</span>: You know why. <br /><span
            class="name"
            >Leo</span
        >: Yeah, yeah... I think I do know why. You'd rather take care of your
        plastic toy here than your own son, eh? Tell me dad, what's it got that
        I don't? It's smarter? More obedient? Not like me, right? But you know
        what? This thing is not your son. IT'S A FUCKING MACHINE! <br /><span
            class="name"
            >Carl</span
        >: Leo, that's enough! Enough! <br /><span class="name">Leo</span>: You
        don't care about anything except yourself and your goddamn paintings.
        You've never loved anyone. You've never loved me, Dad... You never loved
        me.
    </p>
</section>
