<ng-container *transloco="let t">
	<!-- TODO (V2): Check X1302C.FACETOFACE.CORRIDOR.FA.X13CBADCONNOR.BADCONNOR2 -->
	<!-- TODO (V2): Check X1302C.FACETOFACE.ATTACK.PC.X13CHANK.IFDIETWICE -->
	<section>
		<!-- TODO: add sections-->
		<h1>At the CyberLife tower</h1>

		<p>
			{{ t("GUI.MENU.DATE.13C") }}
			<br />
			{{ t("GUI.MENU.TIME.04A.CG01") }}
		</p>

		<p>
			<app-dialogue-line name="Connor">
				{{
					translationService.translateObject(
						"X1301C.BRIDGE.CAR.PC.X13CCONNOR.ID"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Scan">
				{{ t("X1301C.BRIDGE.CAR.VO.X13CVOCAM.ID") }}
			</app-dialogue-line>
			<app-dialogue-line name="Guard">
				{{
					translationService.translateObject(
						"X1301C.BRIDGE.CAR.PC.X13CSOLDIER01.ID"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<p>
			<app-dialogue-line name="Guard">
				{{
					translationService.translateObject(
						"X1301C.HALL.GATE.PC.X13CSOLDIER02.FOLLOWME01"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Connor">
				{{ t("X1301C.HALL.GATE.PC.X13CCONNOR.FOLLOWME02") }}
			</app-dialogue-line>
			<app-dialogue-line name="Guard">
				{{
					translationService.translateObject(
						"X1301C.HALL.GATE.PC.X13CSOLDIER02.FOLLOWME03"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<p>
			<app-dialogue-line name="Scanner">
				{{ t("X1301C.HALL.GATE.VO.X13CVOGATE.FOLLOWME01V2") }}
				{{ t("X1301C.SECURITY.GATE.VO.X13CVOGATE.SCAN02V2") }}
				{{ t("X1301C.SECURITY.GATE.VO.X13CVOGATE.SCAN01V2") }}
				{{ t("X1301C.SECURITY.GATE.VO.X13CVOGATE.SCAN05") }}
				{{ t("X1301C.SECURITY.GATE.VO.X13CVOGATE.SCAN04V2.1") }}
				{{ t("X1301C.SECURITY.GATE.VO.X13CVOGATE.SCAN03V2") }}
			</app-dialogue-line>
		</p>

		<h2>In the elevator</h2>

		<p>
			<app-dialogue-line name="Guard">
				{{ t("X1301C.ELEVATOR.ENTER.FA.X13CSOLDIER02.AUTHORIZED01") }}
			</app-dialogue-line>
			<app-dialogue-line name="Elevator">
				{{
					translationService.translateObject(
						"X1301C.ELEVATOR.ENTER.VO.X13CVOELEVATOR.AUTHORIZED02"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<h2>Try to use panel</h2>
		<p>
			<app-dialogue-line name="Guard">
				{{
					translationService.translateObject(
						"X1301C.ELEVATOR.GUARDS.PC.X13CSOLDIER02.BEFORE"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-conditioned-content>
			<div class="condition"><p>Reaching level 31</p></div>
			<div class="content">
				<p>
					<app-dialogue-line name="Amanda">
						{{
							translationService.translateObject(
								"X1301C.ELEVATOR.AMANDA.PC.X13CAMANDA.DEVIANT"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</div>
		</app-conditioned-content>
		<app-conditioned-content>
			<div class="condition">
				<p>Attacking the guards and using the elevator</p>
			</div>
			<div class="content">
				<p>
					<app-dialogue-line name="Elevator">
						{{
							t("X1301C.ELEVATOR.GUARDS.VO.X13CVOELEVATOR.AFTER")
						}}
					</app-dialogue-line>
				</p>

				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1301C.ELEVATOR.GUARDS.FA.AFTERCHOICE.AGENT54VOICE'
							)
						"
					>
						<p>
							<app-dialogue-line name="Connor">
								{{
									t(
										"X1301C.ELEVATOR.GUARDS.FA.X13CCONNORVO.AGENTVOICE01"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Elevator">
								{{
									translationService.translateObject(
										"X1301C.ELEVATOR.ENTER.VO.X13CVOELEVATOR.AUTHORIZED02"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1301C.ELEVATOR.GUARDS.FA.AFTERCHOICE.CONNORVOICE'
							)
						"
					>
						<p>
							<app-dialogue-line name="Connor">
								{{
									translationService.translateObject(
										"X1301C.ELEVATOR.GUARDS.FA.X13CCONNOR.CONNORVOICE01"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Elevator">
								{{
									translationService.translateObject(
										"X1301C.ELEVATOR.GUARDS.VO.X13CVOELEVATOR.CONNORVOICE02"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
				</app-choice-group>
			</div>
		</app-conditioned-content>

		<h2>Floor -49</h2>

		<p>{{ t("GUI.MENU.TIME.04A.CB02") }}</p>

		<app-conditioned-content>
			<div class="condition"><p>Didn't hack the camera</p></div>
			<div class="content">
				<p>
					<app-dialogue-line name="Guard">
						{{
							t(
								"X0101X.LIVINGROOM.GUNSHOTS.FA.X01SWATCAPTAIN.ORDERS02V2.1"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Connor">
						{{ t("X1302C.ELEVATOR.CAMERA.FA.X13CCONNOR.CAMERA") }}
					</app-dialogue-line>
				</p>

				<app-conditioned-content>
					<div class="condition">
						<p>
							<app-unlock-condition
								[unlockType]="UnlockType.Death"
								[bracketsOnlyAroundIcon]="true"
							>
								<span class="font-bold">Connor dies</span>
							</app-unlock-condition>
						</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Amanda">
								{{
									translationService.translateObject(
										"X1301C.ELEVATOR.AMANDA.PC.X13CAMANDA.DEVIANT"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
			</div>
		</app-conditioned-content>

		<mat-divider></mat-divider>

		<app-conditioned-content>
			<div class="condition">
				<p>
					Hank is still alive [Hank wasn't hostile in
					<a [routerLink]="['/chapters', 29]">Last Chance, Connor</a>]
				</p>
			</div>
			<div class="content">
				<app-unused-content>
					<p>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X1302C.FACETOFACE.CORRIDOR.PC.X13CCONNOR.ASKHANK01"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-unused-content>

				<p>
					<app-dialogue-line name="Hank">
						{{
							t(
								"X1302C.FACETOFACE.CORRIDOR.PC.X13CHANK.ASKHANK01.1"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Connor-60">
						{{
							translationService.translateObject(
								"X1302C.FACETOFACE.CORRIDOR.PC.X13CBADCONNOR.ASKHANK02A"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Hank">
						{{
							translationService.translateObject(
								"X1302C.FACETOFACE.CORRIDOR.PC.X13CHANK.ASKHANK01",
								1,
								3
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Connor-60">
						{{
							translationService.translateObject(
								"X1302C.FACETOFACE.CORRIDOR.PC.X13CBADCONNOR.ASKHANK02B"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Hank">
						{{
							t(
								"X1302C.FACETOFACE.CORRIDOR.PC.X13CHANK.ASKHANK01.4"
							)
						}}
					</app-dialogue-line>
				</p>

				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1302C.FACETOFACE.CORRIDOR.PC.LIFECHOICE01.GUARANTEE'
							)
						"
					>
						<p>
							<app-dialogue-line name="Connor">
								{{
									translationService.translateObject(
										"X1302C.FACETOFACE.CORRIDOR.PC.X13CCONNOR.GUARANTEE01"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Connor-60">
								{{
									translationService.translateObject(
										"X1302C.FACETOFACE.CORRIDOR.PC.X13CBADCONNOR.GUARANTEE02"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X1302C.FACETOFACE.CORRIDOR.PC.LIFECHOICE01.HANK')
						"
					>
						<p>
							<app-dialogue-line name="Connor">
								{{
									translationService.translateObject(
										"X1302C.FACETOFACE.CORRIDOR.PC.X13CCONNOR.HANK01"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Hank">
								{{
									t(
										"X1302C.FACETOFACE.CORRIDOR.PC.X13CHANK.HANK01"
									)
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1302C.FACETOFACE.CORRIDOR.PC.LIFECHOICE01.BLUFF'
							)
						"
					>
						<p>
							<app-dialogue-line name="Connor">
								{{
									translationService.translateObject(
										"X1302C.FACETOFACE.CORRIDOR.PC.X13CCONNOR.BLUFF01"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Connor-60">
								{{
									translationService.translateObject(
										"X1302C.FACETOFACE.CORRIDOR.PC.X13CBADCONNOR.BLUFF02"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1302C.FACETOFACE.CORRIDOR.PC.LIFECHOICE01.CONVINCE'
							)
						"
					>
						<p>
							<app-dialogue-line name="Connor">
								{{
									translationService.translateObject(
										"X1302C.FACETOFACE.CORRIDOR.PC.X13CCONNOR.CONVINCE01",
										0,
										3
									) | async
								}}
							</app-dialogue-line>
						</p>
						<app-unused-content>
							<p>
								<app-dialogue-line name="Connor">
									{{
										translationService.translateObject(
											"X1302C.FACETOFACE.CORRIDOR.PC.X13CCONNOR.CONVINCE01",
											3
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-unused-content>

						<p>
							<app-dialogue-line name="Connor-60">
								{{
									translationService.translateObject(
										"X1302C.FACETOFACE.CORRIDOR.PC.X13CBADCONNOR.CONVINCE02"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
				</app-choice-group>

				<p>
					<app-dialogue-line name="Connor-60">
						{{
							translationService.translateObject(
								"X1302C.FACETOFACE.CORRIDOR.PC.X13CBADCONNOR.CONT2"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1302C.FACETOFACE.CORRIDOR.PC.HANKGUNCHOICE.SAVEHANK'
							)
						"
					>
						<p>
							<app-dialogue-line name="Connor">
								{{
									translationService.translateObject(
										"X1302C.FACETOFACE.CORRIDOR.PC.X13CCONNOR.SAVEHANKC"
									) | async
								}}
							</app-dialogue-line>
						</p>

						<app-choice-group>
							<app-choice-item
								[choiceLabel]="t('GUI.ACTION.SHOOT')"
							>
								<p>
									<app-dialogue-line name="Hank">
										{{
											t(
												"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.QUESTION.1"
											)
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Connor-60">
										{{
											translationService.translateObject(
												"X1302C.FACETOFACE.ATTACK.PC.X13CBADCONNOR.QUESTIONBAD01"
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Connor">
										{{
											translationService.translateObject(
												"X1302C.FACETOFACE.ATTACK.PC.X13CCONNOR.QUESTION",
												0,
												2
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Hank">
										{{
											translationService.translateObject(
												"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.QUESTION",
												1,
												4
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Connor-60">
										{{
											translationService.translateObject(
												"X1302C.FACETOFACE.ATTACK.PC.X13CBADCONNOR.QUESTIONBAD02"
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Hank">
										{{
											t(
												"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.QUESTION.5"
											)
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Connor">
										{{
											translationService.translateObject(
												"X1302C.FACETOFACE.ATTACK.PC.X13CCONNOR.QUESTION",
												2,
												4
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Hank">
										{{
											t(
												"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.QUESTION.6"
											)
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Connor-60">
										{{
											translationService.translateObject(
												"X1302C.FACETOFACE.ATTACK.PC.X13CBADCONNOR.QUESTIONBAD03"
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Connor">
										{{
											t(
												"X1302C.FACETOFACE.ATTACK.PC.X13CCONNOR.QUESTION.5"
											)
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Hank">
										{{
											t(
												"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.QUESTION.7"
											)
										}}
									</app-dialogue-line>
								</p>

								<!-- Check dialogues for TIMEOUT -->
								<app-choice-group>
									<app-choice-item
										[choiceLabel]="
											t(
												'X1302C.FACETOFACE.ATTACK.PC.DOGQUESTION.SUMO'
											)
										"
									>
										<p>
											<app-dialogue-line name="Connor">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CCONNOR.SUMO"
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Connor-60">
												{{
													t(
														"X1302C.FACETOFACE.ATTACK.PC.X13CBADCONNOR.RIGHTANSWERBAD01.2"
													)
												}}
												{{
													t(
														"X1302C.FACETOFACE.ATTACK.PC.X13CBADCONNOR.RIGHTANSWERBAD02.2"
													)
												}}
											</app-dialogue-line>
										</p>
									</app-choice-item>
									<app-choice-item
										[choiceLabel]="
											t(
												'X1302C.FACETOFACE.ATTACK.PC.DOGQUESTION.CHARLIE'
											)
										"
									>
										<p>
											<app-dialogue-line name="Connor">
												{{
													t(
														"X1302C.FACETOFACE.ATTACK.PC.X13CCONNOR.CHARLIE"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Hank">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.WRONGANSWER",
														0,
														2
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Connor-60">
												{{
													t(
														"X1302C.FACETOFACE.ATTACK.PC.X13CBADCONNOR.WRONGANSWERBAD"
													)
												}}
											</app-dialogue-line>
										</p>
									</app-choice-item>
									<app-choice-item
										[choiceLabel]="
											t(
												'X1302C.FACETOFACE.ATTACK.PC.DOGQUESTION.JACK'
											)
										"
									>
										<p>
											<app-dialogue-line name="Connor">
												{{
													t(
														"X1302C.FACETOFACE.ATTACK.PC.X13CCONNOR.JACK"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Hank">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.WRONGANSWER",
														0,
														2
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Connor-60">
												{{
													t(
														"X1302C.FACETOFACE.ATTACK.PC.X13CBADCONNOR.WRONGANSWERBAD"
													)
												}}
											</app-dialogue-line>
										</p>
									</app-choice-item>
									<app-choice-item
										[choiceLabel]="
											t(
												'X1302C.FACETOFACE.ATTACK.PC.DOGQUESTION.BUDDY'
											)
										"
									>
										<p>
											<app-dialogue-line name="Connor">
												{{
													t(
														"X1302C.FACETOFACE.ATTACK.PC.X13CCONNOR.BUDDY"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Hank">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.WRONGANSWER",
														0,
														2
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Connor-60">
												{{
													t(
														"X1302C.FACETOFACE.ATTACK.PC.X13CBADCONNOR.WRONGANSWERBAD"
													)
												}}
											</app-dialogue-line>
										</p>
									</app-choice-item>
								</app-choice-group>

								<p>
									<app-dialogue-line name="Hank">
										{{
											t(
												"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.WRONGANSWER.3"
											)
										}}
									</app-dialogue-line>
								</p>

								<app-choice-group>
									<app-choice-item
										[choiceLabel]="
											t(
												'X1302C.FACETOFACE.ATTACK.PC.NAMESON.COLE'
											)
										"
									>
										<p>
											<app-unlock-condition
												[unlockType]="UnlockType.Lock"
											>
												Will be highlighted if Connor
												looked at the photo in
												<a
													[routerLink]="[
														'/chapters',
														18,
													]"
													>Russian Roulette</a
												>
											</app-unlock-condition>

											<app-dialogue-line name="Connor">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CCONNOR.COLE"
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Hank">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.COLE"
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Connor-60">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CBADCONNOR.COLEFINALBAD"
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Hank">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.COLEFINAL02"
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Connor">
												{{
													t(
														"X1302C.FACETOFACE.WAKEUP.PC.X13CCONNOR.WAKEUP"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Androids">
												{{
													t(
														"X1302C.FACETOFACE.MONOLOG.FA.X13CANDROID01.FINALGUN01"
													)
												}}
											</app-dialogue-line>
										</p>
									</app-choice-item>
									<app-choice-item
										[choiceLabel]="
											t(
												'X1302C.FACETOFACE.ATTACK.PC.NAMESON.ANTHONY01'
											)
										"
									>
										<p>
											<app-dialogue-line name="Connor">
												{{
													t(
														"X1302C.FACETOFACE.ATTACK.PC.X13CCONNOR.ANTHONY"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Connor-60">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CBADCONNOR.BADENDING"
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Hank">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.BADENDING"
													) | async
												}}
											</app-dialogue-line>
										</p>
									</app-choice-item>
									<app-choice-item
										[choiceLabel]="
											t(
												'X1302C.FACETOFACE.ATTACK.PC.NAMESON.GABRIEL'
											)
										"
									>
										<p>
											<app-dialogue-line name="Connor">
												{{
													t(
														"X1302C.FACETOFACE.ATTACK.PC.X13CCONNOR.GABRIEL"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Connor-60">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CBADCONNOR.BADENDING"
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Hank">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.BADENDING"
													) | async
												}}
											</app-dialogue-line>
										</p>
									</app-choice-item>
									<app-choice-item
										[choiceLabel]="
											t(
												'X1302C.FACETOFACE.ATTACK.PC.NAMESON.ELLIOTT'
											)
										"
									>
										<p>
											<app-dialogue-line name="Connor">
												{{
													t(
														"X1302C.FACETOFACE.ATTACK.PC.X13CCONNOR.ELLIOTT"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Connor-60">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CBADCONNOR.BADENDING"
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Hank">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.ATTACK.PC.X13CHANK.BADENDING"
													) | async
												}}
											</app-dialogue-line>
										</p>
									</app-choice-item>
								</app-choice-group>
							</app-choice-item>
							<app-choice-item
								[choiceLabel]="t('GUI.ACTION.INTERPOSE')"
							>
								<p class="note">
									Leads to the same dialogue as SHOOT.
								</p>
							</app-choice-item>
							<app-choice-item
								[choiceLabel]="t('GUI.ACTION.CONVERT')"
							>
								<p class="note">
									Leads to the same result as sacrificing Hank
									and successfully converting.
								</p>
							</app-choice-item>
							<app-choice-item
								[choiceLabel]="
									t(CommonTranslationKey.DefaultChoice)
								"
							>
								<p>
									<app-dialogue-line name="Hank">
										{{
											translationService.translateObject(
												"X1302C.FACETOFACE.SHOOT.FA.X13CHANK.NOSHOOT"
											) | async
										}}
									</app-dialogue-line>
									<app-dialogue-line name="Connor-60">
										{{
											translationService.translateObject(
												"X1302C.FACETOFACE.SHOOT.PC.X13CBADCONNOR.NOSHOOT"
											) | async
										}}
									</app-dialogue-line>
								</p>
							</app-choice-item>
						</app-choice-group>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1302C.FACETOFACE.CORRIDOR.PC.HANKGUNCHOICE.SACRIFICEHANK'
							)
						"
					>
						<p>
							<app-dialogue-line name="Connor">
								{{
									t(
										"X1302C.FACETOFACE.CORRIDOR.FA.X13CCONNOR.SACRIFICEHANK.1"
									)
								}}
							</app-dialogue-line>
						</p>

						<app-conditioned-content>
							<div class="condition">
								<p>Successfully converting the android</p>
							</div>
							<div class="content">
								<p>
									<app-dialogue-line name="Connor-60">
										{{
											translationService.translateObject(
												"X1302C.FACETOFACE.MONOLOG.PC.X13CBADCONNOR.BADCONNOR"
											) | async
										}}
									</app-dialogue-line>
								</p>

								<app-choice-group>
									<app-choice-item
										[choiceLabel]="t('GUI.ACTION.UP')"
									>
										<p>
											<app-dialogue-line name="Androids">
												{{
													t(
														"X1302C.FACETOFACE.MONOLOG.FA.X13CANDROID01.FINALGUN01"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Connor-60">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.MONOLOG.PC.X13CBADCONNOR.FLEECONVSUCCESS"
													) | async
												}}
											</app-dialogue-line>
										</p>
									</app-choice-item>
									<app-choice-item
										[choiceLabel]="t('GUI.ACTION.SHOOT')"
									>
										<p>
											<app-dialogue-line name="Androids">
												{{
													t(
														"X1302C.FACETOFACE.MONOLOG.FA.X13CANDROID01.FINALGUN01"
													)
												}}
											</app-dialogue-line>
										</p>
									</app-choice-item>
									<app-choice-item
										[choiceLabel]="t('GUI.ACTION.TRANSFER')"
									>
										<p>
											<app-dialogue-line name="Connor-60">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.MONOLOG.PC.X13CBADCONNOR.TRANSFER"
													) | async
												}}
											</app-dialogue-line>
										</p>

										<p>
											<app-dialogue-line name="Hank">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.MONOLOG.PC.X13CHANK.HANKDYING",
														0,
														3
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Connor">
												{{
													t(
														"X1302C.FACETOFACE.MONOLOG.PC.X13CCONNOR.HANKDYING"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Hank">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.MONOLOG.PC.X13CHANK.HANKDYING",
														3
													) | async
												}}
											</app-dialogue-line>
										</p>
									</app-choice-item>
									<app-choice-item
										[choiceLabel]="
											t(
												CommonTranslationKey.DefaultChoice
											)
										"
									>
										<p>
											<app-dialogue-line name="Connor">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.MONOLOG.PC.X13CCONNOR.ANSWERSUCCESS"
													) | async
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Androids">
												{{
													t(
														"X1302C.FACETOFACE.MONOLOG.FA.X13CANDROID01.FINALGUN01"
													)
												}}
											</app-dialogue-line>
											<app-dialogue-line name="Connor-60">
												{{
													translationService.translateObject(
														"X1302C.FACETOFACE.MONOLOG.PC.X13CBADCONNOR.FLEECONVSUCCESS"
													) | async
												}}
											</app-dialogue-line>
										</p>
									</app-choice-item>
								</app-choice-group>

								<app-conditioned-content>
									<div class="condition">
										<p>Fail to convert the android</p>
									</div>
									<div class="content">
										<p class="note">
											Leads to the same outcomes as if
											Hank is dead for STAND UP, SHOOT and
											[ TAKE TOO MUCH TIME TO CHOOSE ],
											and to the same result as
											successfully converting the android
											when choosing TRANSFER.
										</p>
									</div>
								</app-conditioned-content>
							</div>
						</app-conditioned-content>
					</app-choice-item>
				</app-choice-group>
			</div>
		</app-conditioned-content>

		<app-conditioned-content>
			<div class="condition">
				<p>
					Hank is dead [Hank was hostile in
					<a [routerLink]="['/chapters', 29]">Last Chance, Connor</a>
				</p>
			</div>
			<div class="content">
				<p>
					<app-dialogue-line name="Connor-60">
						{{
							translationService.translateObject(
								"X1302C.FACETOFACE.MONOLOG.PC.X13CBADCONNOR.BADCONNOR"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<app-choice-group>
					<app-choice-item [choiceLabel]="t('GUI.ACTION.UP')">
						<p>&oslash;</p>
					</app-choice-item>
					<app-choice-item [choiceLabel]="t('GUI.ACTION.SHOOT')">
						<p>&oslash;</p>
					</app-choice-item>
					<app-choice-item [choiceLabel]="t('GUI.ACTION.TRANSFER')">
						<p>
							<app-dialogue-line name="Connor-60">
								{{
									translationService.translateObject(
										"X1302C.FACETOFACE.MONOLOG.PC.X13CBADCONNOR.TRANSFER"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Connor">
								{{
									t(
										"X1302C.FACETOFACE.WAKEUP.PC.X13CCONNOR.WAKEUP"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Androids">
								{{
									t(
										"X1302C.FACETOFACE.MONOLOG.FA.X13CANDROID01.FINALGUN01"
									)
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="t(CommonTranslationKey.DefaultChoice)"
					>
						<p>
							<app-dialogue-line name="Connor">
								{{
									translationService.translateObject(
										"X1302C.FACETOFACE.MONOLOG.PC.X13CCONNOR.ANSWERFAIL"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
				</app-choice-group>
			</div>
		</app-conditioned-content>
	</section>

	<section>
		<h1>Freed the androids</h1>

		<p>{{ t("GUI.MENU.PLACE.04A.AFTER") }}</p>
		<p>{{ t("GUI.MENU.TIME.04A.AFTER") }}</p>

		<app-conditioned-content>
			<div class="condition">
				<p>Markus is alive: Connor joins Markus</p>
			</div>
			<div class="content">
				<p>
					<app-dialogue-line name="Connor">
						{{
							t(
								"X1108M.AFTERMATHS.GOODCONNOR.PC.X11MCONNOR.SUCCESSC"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Markus">
						{{
							translationService.translateObject(
								"X1108M.AFTERMATHS.GOODCONNOR.PC.X11MMARKUS.SUCCESS"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<app-conditioned-content>
					<div class="condition">
						<p>North is alive</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="North">
								{{
									translationService.translateObject(
										"X1108M.AFTERMATHS.GOODCONNOR.PC.X11MMARLA.SPEECHNORTH"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition">
						<p>North is dead</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Simon">
								{{
									t(
										"X1108M.AFTERMATHS.GOODCONNOR.PC.X11MSIMON.SPEECHSIMON"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition">
						<p>North and Simon are dead</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Josh">
								{{
									t(
										"X1108M.AFTERMATHS.GOODCONNOR.PC.X11MJOSH.SPEECHJOSH"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition">
						<p>Everyone is dead</p>
					</div>
					<div class="content">
						<p>
							<app-dialogue-line name="Android">
								{{
									t(
										"X1108M.AFTERMATHS.GOODCONNOR.FA.X11MANDROIDM02.SPEECHAND"
									)
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>

				<p>
					<app-dialogue-line name="Connor">
						{{
							translationService.translateObject(
								"X1108M.GOODCONNOR.ZENGARDEN.PC.X11MCONNOR.BECOMEDEVIANT01"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Amanda">
						{{
							translationService.translateObject(
								"X1108M.GOODCONNOR.ZENGARDEN.PC.X11MAMANDA.BECOMEDEVIANT02"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Connor">
						{{
							translationService.translateObject(
								"X1108M.GOODCONNOR.ZENGARDEN.PC.X11MCONNOR.BECOMEDEVIANT03"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Amanda">
						{{
							translationService.translateObject(
								"X1108M.GOODCONNOR.ZENGARDEN.PC.X11MAMANDA.BECOMEDEVIANT04"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Connor">
						{{
							translationService.translateObject(
								"X1108M.GOODCONNOR.ZENGARDEN.PC.X11MCONNOR.ALONE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</div>
		</app-conditioned-content>
		<app-conditioned-content>
			<div class="condition">
				<p>Markus died : Connor becomes leader of the deviants</p>
			</div>
			<div class="content">
				<p>
					<app-dialogue-line name="Android">
						{{
							translationService.translateObject(
								"X1108M.GOODCONNOR.FINALSPEECH.PC.X11MANDROIDM01.PEOPLE01"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Android 2">
						{{
							t(
								"X1108M.GOODCONNOR.FINALSPEECH.FA.X11MANDROIDM02.PEOPLE01"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Connor">
						{{
							t(
								"X1108M.GOODCONNOR.FINALSPEECH.PC.X11MCONNOR.PEOPLE02"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Android">
						{{
							translationService.translateObject(
								"X1108M.GOODCONNOR.FINALSPEECH.PC.X11MANDROIDM01.PEOPLE03"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<app-unused-content>
					<p>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X1108M.GOODCONNOR.FINALSPEECH.PC.X11MCONNOR.PEOPLESPEECH"
								) | async
							}}
							{{
								translationService.translateObject(
									"X1108M.GOODCONNOR.FINALSPEECH.PC.X11MCONNOR.FREE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-unused-content>

				<p>
					<app-dialogue-line name="Amanda">
						{{
							translationService.translateObject(
								"X1108M.GOODCONNOR.FINALZENGARDEN.PC.X11MAMANDA.EXPECTATIONS01"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Connor">
						{{
							t(
								"X1108M.GOODCONNOR.FINALZENGARDEN.PC.X11MCONNOR.EXPECTATIONS01.2"
							)
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Amanda">
						{{
							translationService.translateObject(
								"X1108M.GOODCONNOR.FINALZENGARDEN.PC.X11MAMANDA.EXPECTATIONS02"
							) | async
						}}
						{{
							t(
								"X1108M.GOODCONNOR.FINALZENGARDEN.PC.X11MAMANDA.EXPECTATIONS03"
							)
						}}
						{{
							translationService.translateObject(
								"X1108M.GOODCONNOR.GUNZENGARDEN.PC.X11MAMANDA.DONTRUIN"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1108M.GOODCONNOR.SUICIDECHOICE.PC.SUICIDECHOICE.SUICIDE'
							)
						"
					>
						<p>
							<app-dialogue-line name="Amanda">
								{{
									t(
										"X1108M.GOODCONNOR.SUICIDECHOICE.PC.X11MAMANDA.SUICIDE"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Connor">
								{{
									t(
										"X1108M.GOODCONNOR.ZENGARDEN.PC.X11MCONNOR.ALONE.2"
									)
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t(
								'X1108M.GOODCONNOR.SUICIDECHOICE.PC.SUICIDECHOICE.GIVEUP'
							)
						"
					>
						<p>
							<app-dialogue-line name="Amanda">
								{{
									translationService.translateObject(
										"X1108M.GOODCONNOR.SUICIDECHOICE.PC.X11MAMANDA.GIVEUP"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
				</app-choice-group>
			</div>
		</app-conditioned-content>
	</section>
</ng-container>
