:host {
	display: flex;
	flex-direction: column;
}

mat-card {
	min-height: 0;
	flex-grow: 1;
}

nav {
	overflow: scroll;
	overscroll-behavior: contain;
	background-color: transparent;

	ol {
		list-style: none;

		li {
			text-overflow: ellipsis;
			overflow: hidden;
			text-wrap: nowrap;
		}
	}
}
