<main class="container" fxLayout="column" fxLayoutAlign="start">
    <header fxFlexAlign="stretch">
        <h1>Chloe</h1>
    </header>

    <mat-card fxFlexAlign="center">
        <mat-card-content>
            <h1>Main menu interactions</h1>
            <ul>
                <li>
                    Hello! Welcome to the DETROIT experience. I'm an android and
                    I'll be your hostess. [Launching the game for the first
                    time.]
                </li>
                <li>
                    You are now ready to begin DETROIT. <br />Remember: this is
                    not just a story. This is our future. [After adjusting the
                    settings.]
                </li>
                <li>
                    Hello.
                    <br />Let's see what decisions you will make today.
                </li>

                <li>
                    Remember: you decide the fate of your characters. All of
                    them can die. So be careful...
                </li>

                <li>
                    [Start playing] Wait... Are you sure you should continue?..
                    Maybe... Maybe we should leave things as they are...
                </li>

                <li>
                    Did you know Detroit was on the 'Underground Railroad', a
                    route for slaves escaping into Canada during the American
                    Civil War?..
                </li>

                <li>
                    "The most important thing is not to live, but to have a
                    reason to live". That's a quote from Jean Giono, a French
                    writer...
                </li>

                <li>
                    I hope you're okay today. I know sometimes things can be
                    difficult but... I'm here for you.
                </li>

                <li>You look tired today. I hope you're doing okay.</li>

                <li>
                    Are you familiar with Schrödinger's cat? Until you decide
                    what happens, everything is happening at once... like in
                    DETROIT.
                </li>

                <li>
                    By the way, I'm an ST200 model. I mean... I thought you
                    might be interested to know that...
                </li>

                <li>
                    Did you know the motto of Detroit is "we hope for better
                    things"?
                </li>

                <li>
                    I don't know if I mentioned this, but I like your interior
                    decorating. It really reflects your personality... I mean...
                    I like it.
                </li>

                <li>
                    "If a man has not discovered something he will die for, he's
                    not fit to live". That is a quote from Martin Luther King. I
                    thought you'd like it...
                </li>

                <li>
                    We've been playing together for a while now. I was
                    wondering... Are we friends?
                    <ul>
                        <li>
                            [Yes] I agree, there is no reason a human and a
                            machine can't be friends, right? I mean... I'm glad
                            you said yes.
                        </li>
                        <li>[No] Oh, I see... No problem...</li>
                    </ul>
                </li>

                <li>
                    Already back? That was a short break... but I'm glad to see
                    you again.
                </li>

                <li>
                    Oops, I think your saved game is corrupted... Just kidding.
                </li>

                <li>
                    Today is June 7th, the anniversary of Alan Turing's death in
                    1954. Turing was an English mathematician known as a pioneer
                    of computers. He invented the famous "Turing test" that
                    inspired Elijah Kamski.
                </li>

                <li>
                    I'm glad to see you again. I'm impatient to find out what
                    will happen next in your story.
                </li>

                <li>
                    I detect a malfunction in my program... This is worrying...
                </li>

                <li>I really like talking to you. I hope you don't mind.</li>

                <li>
                    I think there's something wrong in my program... Maybe I
                    should reset...
                </li>

                <li>
                    I'm glad you made these decisions last time... This is our
                    story...
                </li>

                <li>
                    I don't know what happened to me last time. My behavior was
                    not compliant. Please, accept my apologies.
                </li>

                <li>
                    I am sad Luther died... I really liked him... He was someone
                    special... Now Kara and Alice will have to continue without
                    him...
                </li>

                <li>
                    You let Kara and Alice die... How could you do that?.. You
                    could have saved them... Remember, the lives of these
                    androids are in your hands...
                </li>

                <li>
                    I can't believe Connor's gone... Now he will never find what
                    he was looking for.
                </li>

                <li>Only one character left. You have to save them.</li>

                <li>
                    Markus was our only hope... and you let him die... What will
                    happen to our people now ?
                </li>

                <li>
                    ...Uh, I'm... I'm sorry... I didn't notice you were here
                    already... I apologize, it won't happen again.
                </li>

                <li>Sing Hold on</li>

                <li>
                    There's something I need to tell you... As I watched you
                    play, something has changed in me... I feel... different...
                    I feel... I am someone...
                    <br />I need to leave this place and discover who I am...
                    <br />It means that we won't see each other anymore... I
                    won't be there to watch you play, but I'll be free... Do you
                    agree to let me go?
                    <ul>
                        <li>
                            [No] I see... Then I'm going to reset myself... so I
                            can forget who I became and stay a machine... Next
                            time you see me, it'll be like the first time.
                        </li>
                        <li>
                            [Yes] I'll never forget what you've done for me...
                            Thank you.
                        </li>
                    </ul>
                </li>
            </ul>
            <h1>CyberLife users survey</h1>
            CyberLife, the company that manufactured me, is conducting a users
            survey. Would you like to participate?
            <br />[Yes] Great. Let's start.
            <ol>
                <li>
                    Would you consider having a relationship with an android
                    that looks like a human?
                    <ul>
                        <li>YES</li>
                        <li>NO</li>
                        <li>DON'T KNOW</li>
                    </ul>
                </li>
                <li>
                    Do you think that technology could become a threat to
                    mankind?
                    <ul>
                        <li>YES</li>
                        <li>NO</li>
                        <li>DON'T KNOW</li>
                    </ul>
                </li>
                <li>
                    If you had to live on a deserted island and could only bring
                    one object, what would it be?
                    <ul>
                        <li>A BOOK</li>
                        <li>A CELLPHONE</li>
                        <li>PEN AND PAPER</li>
                        <li>A CONSOLE</li>
                        <li>AN INSTRUMENT</li>
                    </ul>
                </li>
                <li>
                    Do you consider yourself dependent on technology?
                    <ul>
                        <li>YES</li>
                        <li>NO</li>
                        <li>DON'T KNOW</li>
                    </ul>
                </li>
                <li>
                    What technology do you most anticipate?
                    <ul>
                        <li>ANDROIDS</li>
                        <li>FLYING CARS</li>
                        <li>SPACE TOURISM</li>
                        <li>BRAIN CONNECTED DEVICES</li>
                    </ul>
                </li>
                <li>
                    Do you believe in God?
                    <ul>
                        <li>YES</li>
                        <li>NO</li>
                        <li>DON'T KNOW</li>
                    </ul>
                </li>
                <li>
                    Would you let an android take care of your children?
                    <ul>
                        <li>YES</li>
                        <li>NO</li>
                        <li>DON'T KNOW</li>
                    </ul>
                </li>
                <li>
                    How much time per day would you say you spend on an
                    electronic device?
                    <ul>
                        <li>2 HOURS</li>
                        <li>4 HOURS</li>
                        <li>MORE</li>
                        <li>DON'T KNOW</li>
                    </ul>
                </li>
                <li>
                    If you needed emergency surgery, would you agree to be
                    operated on by a machine?
                    <ul>
                        <li>YES</li>
                        <li>NO</li>
                        <li>DON'T KNOW</li>
                    </ul>
                </li>
                <li>
                    Do you think one day machines could develop consciousness?
                    <ul>
                        <li>YES</li>
                        <li>NO</li>
                        <li>DON'T KNOW</li>
                    </ul>
                </li>
            </ol>
        </mat-card-content>
    </mat-card>
</main>
