@import '/src/app/styles/media.scss';

header {
    background-color: rgba(224, 224, 224, 0.5);
    text-align: center;
    h1 {
        margin-top: 2rem;
        font-size: 4rem;
        line-height: 100%;
    }
}

mat-card {
    padding: 3rem;

    @include xs {
        width: 70%;
    }

    mat-divider {
        margin-top: 2rem;
        margin-bottom: 1rem;
        position: inherit !important;
    }
}
