<main class="container">
  <section class="main-section">
    <h1>Contact</h1>
    <form
      class="col s12"
      action="https://formspree.io/dbtext.contact@gmail.com"
      method="POST"
    >
      <div class="row">
        <div class="input-field col s6">
          <input
            placeholder="Your name"
            id="name"
            name="name"
            type="text"
            class="validate"
          />
          <label for="name" class="active">Name</label>
          <div class="note">
            (not required, but necessary if you want me to credit you for your
            submission)
          </div>
        </div>
        <div class="input-field col s6">
          <input
            id="email"
            class="validate"
            type="email"
            placeholder="Your email"
            name="_replyto"
          />
          <label for="email" class="active">Email</label>
          <div class="note">
            (not required, but necessary if you need me to contact you back)
          </div>
          <span class="helper-text" data-error="email format not valid"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea
            id="message"
            class="materialize-textarea"
            placeholder="Type your message here!"
            name="message"
          ></textarea>
          <label for="textarea" class="active">Your message</label>
        </div>
      </div>
      <input
        type="hidden"
        name="_next"
        value="https://detroitbecometext.github.io/chapters"
      />
      <input type="hidden" name="_language" value="language" />
      <button
        class="btn waves-effect waves-light indigo darken-3 submit"
        type="submit"
        name="action"
        id="submit"
      >
        Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </section>
</main>
