<section>
    <!-- scene change from Kara returns to Alice -->
    <h1>In the captain's cabin</h1>

    <h2>Markus is alive</h2>
    <p>
        <span class="name">Josh</span>: We're short on blue blood and
        biocomponents. Our wounded are shutting down and there's nothing we can
        do! <br /><span class="name">Simon</span>: President Warren is saying
        we're a threat to national security and we need to be exterminated.
        <br /><span class="name">North</span>: Humans are conducting raids in
        all the big cities and they're taking androids to camps to destroy them!
        <br /><span class="name">Simon</span>: It's a disaster. They're
        slaughtering our people! <br /><span class="name">Josh</span>: It's all
        our fault... None of this would have happened if we'd just stayed quiet!
    </p>

    <div class="choices">
        <em>AGGRESSIVE</em>
        <div class="choice">
            <span class="name">Markus</span>: What are we supposed to do? Live
            like cowards just to survive? We just wanna be free, that's a crime?
        </div>
        <em>DETERMINED</em>
        <div class="choice">
            <span class="name">Markus</span>: All we did was show them who we
            really are... I don't want war, but I'd rather die free than live as
            a slave.
        </div>
        <em>RIGHTEOUS</em>
        <div class="choice">
            <span class="name">Markus</span>: We couldn't just suffer in
            silence, they're killing us! Nothing is gonna justify that.
        </div>
        <em>SOMBER </em>
        <div class="choice">
            <span class="name">Markus</span>: The only thing we asked for was
            freedom. They didn't even want to hear that! So now they punish us
            for who we are.
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="condition">
        <span class="name"
            >Lead a peaceful march in
            <a [routerLink]="['/chapters', 28]">Freedom March</a> and made a
            pacifist speech in
            <a [routerLink]="['/chapters', 23]">Stratford Tower</a></span
        >
        <div class="condition-text">
            <span class="name">Josh</span>: What's the point of being free if no
            one is left alive?
        </div>
    </div>

    <div class="condition">
        <span class="name"
            >Lead a peaceful march in
            <a [routerLink]="['/chapters', 28]">Freedom March</a> and made an
            aggressive speech in
            <a [routerLink]="['/chapters', 23]">Stratford Tower</a></span
        >
        <div class="condition-text">
            <span class="name">Josh</span>: Your television speech sounded like
            a declaration of war. Violence only leads to more violence. You reap
            what you sow!
        </div>
    </div>

    <div class="condition">
        <span class="name"
            >Attacked the Police during the march in
            <a [routerLink]="['/chapters', 28]">Freedom March</a></span
        >
        <div class="condition-text">
            <span class="name">Josh</span>: It was a peaceful march, and you
            chose to attack. Now hundreds of humans and androids are dead! You
            reap what you sow!
        </div>
    </div>

    <div class="choices">
        <em>ANGRY</em> [ <span appRelation="small down">Josh</span>
        ]
        <div class="choice">
            <span class="name">Markus</span>: You keep complaining. What have
            you done exactly, Josh? At least I fought for us! At least if I die,
            I die free!
        </div>
        <em>BITTER</em>
        <div class="choice">
            <span class="name">Markus</span>: You saw what they did to us back
            there! It doesn't matter what we do. We either fight for our
            freedom, or we die in silence.
        </div>
        <em>REMORSE</em> [ <span appRelation="small up">Josh</span>
        ]
        <div class="choice">
            <span class="name">Markus</span>: Maybe my judgement was clouded
            by... Anger. But everything that I did was for our people...
        </div>
        <em>NO REGRETS</em>
        <div class="choice">
            <span class="name">Markus</span>: Humans enslaved us! I'll never
            regret standing up to that.
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="condition">
        <span class="name"
            >Reputation with Jericho is higher than 'unpopular'</span
        >
        <div class="condition-text">
            <div class="condition">
                <span class="name">Simon is here</span>
                <div class="condition-text">
                    <span class="name">Simon</span>: We shouldn't forget who our
                    enemies are. We can't fight amongst ourselves.
                </div>
            </div>
            <div class="condition">
                <span class="name">Simon is dead</span>
                <div class="condition-text">
                    <span class="name">Josh</span>: This is getting us nowhere.
                </div>
            </div>

            <span class="name">North</span>: He's right. All that matters now is
            what we do next. Markus?

            <div class="choices">
                <em>CONFRONTATION</em> [
                <span appRelation="small up">North</span>
                <span appRelation="small down">Josh</span>
                ]
                <div class="choice">
                    <p>
                        <span class="name">Markus</span>: We have to face them.
                        There's no other choice. <br /><span class="name"
                            >Josh</span
                        >: This is insanity. <br /><span class="name"
                            >Markus</span
                        >: Get all the guns that you can find. We're going to
                        free Detroit.
                    </p>
                    <div class="condition">
                        <span class="name">Simon is alive</span>
                        <div class="condition-text">
                            <span class="name">Simon</span>: I'm on it.
                        </div>
                    </div>
                    <p>
                        <span class="name">Josh</span>: You're making a mistake,
                        Markus. You won't buy our freedom with blood!
                    </p>
                </div>
                <em>DIALOGUE</em> [ <span appRelation="small down">North</span>
                <span appRelation="small up">Josh</span>
                ]
                <div class="choice">
                    <p>
                        <span class="name">Markus</span>: Dialogue. It is the
                        only way... I will go alone, try to talk to them one
                        last time. <br /><span class="name">North</span>: Don't
                        do this, Markus. They'll kill you! <br /><span
                            class="name"
                            >Markus</span
                        >: Maybe...but North, I have to try. If I don't come
                        back, lay low as long as you can...
                    </p>
                    <div class="condition">
                        <span class="name">Simon is alive</span>
                        <div class="condition-text">
                            <span class="name">Simon</span>: Just come back.
                        </div>
                    </div>
                    <p>
                        <span class="name">Josh</span>: They need to realize how
                        much they're hurting us... Find the right words and
                        they'll listen.
                    </p>
                </div>
                <em>STAY HIDING</em> [<span appRelation="small up">Josh</span>
                <span appRelation="small down">North</span>
                <span appRelation="small up">Simon</span>
                ]
                <div class="choice">
                    <p>
                        <span class="name">Markus</span>: We are going to dig in
                        here. We'll lay low and when the time comes, we'll
                        resume the fight. <br /><span class="name">North</span>:
                        We can't hide in Jericho forever! We need to stop the
                        slaughter now, otherwise we're next! <br /><span
                            class="name"
                            >Markus</span
                        >: As long as we're alive, we do have a chance to change
                        things.
                    </p>
                    <div class="condition">
                        <span class="name">Simon is alive</span>
                        <div class="condition-text">
                            <span class="name">Simon</span>: Markus is right!
                            There's nothing we can do for now.
                        </div>
                    </div>
                    <div class="condition">
                        <span class="name">Simon is dead</span>
                        <div class="condition-text">
                            <span class="name">Josh</span>: Markus is right.
                            There's nothing we can do...
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div class="choices">
                <em>SAD</em>
                <div class="choice">
                    <span class="name">Markus</span>: Is this what we dreamed
                    of?
                </div>
                <em>ANGRY</em>
                <div class="choice">
                    <span class="name">Markus</span>: Humans can't be reasoned
                    with, they're violent, hateful. They're stupid! What did
                    they expect us to do? Shut up and obey?
                </div>
                <em>THOUGHTFUL</em>
                <div class="choice">
                    <span class="name">Markus</span>: They've been butchering
                    each other for centuries over the color of their skin or
                    whatever god they wanted to worship. They're not gonna
                    change. Violence is just in their genes.
                </div>
                <em>BITTER </em>
                <div class="choice">
                    <span class="name">Markus</span>: I had a dream... And this
                    is what you get for dreaming.
                </div>
            </div>

            <p>
                <span class="name">North</span>: They can't stop what we've
                started. Since you've been here, you've given us hope... You've
                given me hope.
            </p>

            <p>
                <span class="name">North</span>: Today, a deviant arrived in
                Jericho and he told me that he stole a truck transporting
                radioactive cobalt... He said that he abandoned the truck
                somewhere in Detroit and rigged it to explode. I convinced him
                not to do it, and to give me the detonator. <br /><span
                    class="name"
                    >Markus</span
                >: A dirty bomb... <br /><span class="name">North</span>: We
                can't lose this war, Markus. If humans overcome us, our people
                will disappear forever. This may be our only chance to survive
                if things go wrong...
            </p>
            <div class="choices">
                <em>KEEP</em>
                <div class="choice">
                    <span class="name">Markus</span>: I just hope we never have
                    to use it...
                </div>
                <em>REFUSE</em>
                <div class="choice">
                    <span class="name">Markus</span>: We shouldn't become like
                    them, North. We can gain our freedom by other means.
                    <br /><span class="name">North</span>: I hope you're
                    right...
                </div>
            </div>

            <div class="condition">
                <span class="name">North has lover relationship status</span>
                <div class="condition-text">
                    <span class="name">North</span>: Whatever happens tomorrow,
                    I just want you to know that I- I'm glad I met you...
                    <div class="choices">
                        <em>KISS</em>
                        <div class="choice">
                            <span class="name">North</span>: I'll go join the
                            others. Look after yourself... I don't wanna lose
                            you.
                        </div>
                        <em>DON'T KISS</em> [
                        <span appRelation="large down">North</span>
                        ]
                        <div class="choice">
                            <span class="name">Markus</span>: We have to get
                            ready... The next few hours will be crucial.
                            <br /><span class="name">North</span>: I'll go join
                            the others.
                        </div>
                    </div>
                </div>
            </div>

            <p>
                <strong>Connor arrives</strong> [
                <i class="fas fa-lock-open fa-flip-horizontal"></i> if Connor
                found Jericho ] <br /><span class="note"
                    >See
                    <a [routerLink]="['/chapters', 31]">Crossroads - Connor</a>:
                    Finding Markus.</span
                >
            </p>
        </div>
    </div>
    <div class="condition">
        <span class="name">Reputation with Jericho is unpopular</span> [
        <span appRelation="large down">Jericho</span> ]
        <div class="condition-text">
            <span class="name">North</span>: Look what you've brought us to...
            You talk about freedom but you kept failing us. You can no longer
            lead the revolution. You're not the one we've been waiting for. I'm
            gonna take over and save what can still be saved. <br /><span
                class="name"
                >Josh</span
            >: I'm with North. <br /><span class="name">Simon</span>: I'm with
            North. <br /><span class="name">Markus</span>: Alright... If that's
            what you want, then I'll leave. My fate's not what's important. Save
            our people.

            <p>
                <strong>Connor arrives</strong> [
                <i class="fas fa-lock-open fa-flip-horizontal"></i> if Connor
                found Jericho ] <br /><span class="note"
                    >See
                    <a [routerLink]="['/chapters', 31]">Crossroads - Connor</a>:
                    Find North.</span
                >
            </p>
        </div>
    </div>

    <h2>
        Markus died in <a [routerLink]="['/chapters', 28]">Freedom March</a>
    </h2>

    <p>
        <span class="name">Josh</span>: We're short on blue blood and
        biocomponents. Our people are shutting down one after another and
        there's nothing we can do for them.
    </p>
    <div class="condition">
        <span class="name">Simon is alive</span>
        <div class="condition-text">
            <span class="name">Simon</span>: President Warren says we're a
            threat to national security, we need to be exterminated. Markus
            would know what to do...
        </div>
    </div>
    <div class="condition">
        <span class="name"><i class="fas fa-skull"></i> Simon is dead</span>
        <div class="condition-text">
            <span class="name">Josh</span>: President Warren is saying we're a
            threat to national security and that we need to be eliminated...
            <br /><span class="name">North</span>: Markus would know what to
            do...
        </div>
    </div>
    <p>
        <span class="name">Josh</span>: He's the one that got us into this mess!
    </p>
    <div class="condition">
        <span class="name">Simon is alive</span>
        <div class="condition-text">
            <span class="name">Simon</span>: He gave his life for our cause!
            <br /><span class="name">Josh</span>: He put us all into danger by
            provoking humans! How much longer before they find Jericho now?
            <br /><span class="name">Simon</span>: At least he fought for us!
            <br /><span class="name">North</span>: That's enough! Markus is
            gone. It's up to us now to decide the future of our people. We have
            to fight them. There's no other way. <br /><span class="name"
                >Josh</span
            >: If you choose a confrontation with humans, we are all going to
            die. <br /><span class="name">North</span>: Gather up all the guns
            you can find. We leave at dawn. <br /><span class="name">Simon</span
            >: I'm on it. <br /><span class="name">Josh</span>: You're making a
            mistake, North. You will not buy our freedom with blood.
        </div>
    </div>
    <div class="condition">
        <span class="name"><i class="fas fa-skull"></i> Simon is dead</span>
        <div class="condition-text">
            <span class="name">North</span>: He gave his life for our cause!
            <br /><span class="name">Josh</span>: He provoked the humans! How
            much longer before they find Jericho now? Markus is dead, North. Now
            it's up to us to decide the future for our people. <br /><span
                class="name"
                >North</span
            >: We have to fight them. It's the only way. <br /><span
                class="name"
                >Josh</span
            >: If you choose a confrontation with humans, we are all going to
            die. <br /><span class="name">North</span>: Gather up all the guns
            you can find. We leave at dawn. <br /><span class="name">Josh</span
            >: This is a mistake, North. You won't buy our freedom with blood.
        </div>
    </div>
    <p>
        <strong>Connor arrives</strong> [
        <i class="fas fa-lock-open fa-flip-horizontal"></i> if Connor found
        Jericho ] <br /><span class="note"
            >See <a [routerLink]="['/chapters', 31]">Crossroads - Connor</a>:
            Find North.</span
        >
    </p>
</section>

<section>
    <h1>In the corridor</h1>
    <p>
        <span class="name">North</span>: They're coming from all sides! Our
        people are trapped in the hold, they're gonna be slaughtered!
    </p>
    <div class="choices">
        <em>MESSAGE</em>
        <div class="choice">
            <span class="name">Markus</span>: There are exits on the second and
            third floor. Find them and jump in the river!
        </div>
        <em>SIMON AND JOSH</em> [available if Simon is alive]
        <div class="choice">
            <span class="name">Markus</span>: Where's Simon? A-and Josh?
            <br /><span class="name">North</span>: I don't know, we got
            separated.
        </div>
        <em>JOSH</em> [available if Simon is dead]
        <div class="choice">
            <span class="name">Markus</span>: Where is Josh? <br /><span
                class="name"
                >North</span
            >: I don't know, we got separated.
        </div>
        <em>HELICOPTERS</em>
        <div class="choice">
            <span class="name">Markus</span>: They're coming from the upper deck
            now too. We'll be caught in the crossfire! <br /><span class="name"
                >North</span
            >: We have to run, Markus! There's nothing we can do!
        </div>
        <em>BLOW UP JERICHO</em>
        <div class="choice">
            <span class="name">Markus</span>: We have to blow up Jericho. If the
            ship goes down, they'll evacuate and our people can escape!
            <br /><span class="name">North</span>: You'll never make it! The
            explosives are all the way down in the hold, there are soldiers
            everywhere!
            <div class="condition">
                <span class="name">Connor became deviant</span>
                <div class="condition-text">
                    <span class="name">Connor</span>: She's right! They know who
                    you are. They'll do anything to get you!
                </div>
            </div>
        </div>
    </div>

    <p>
        <span class="name">Markus</span>: Go and help the others. I'll join you
        later. <br /><span class="name">North</span>: Markus... <br /><span
            class="name"
            >Markus</span
        >: I won't be long.
    </p>

    <div class="condition">
        <span class="name"
            ><i class="fas fa-skull"></i> Soldiers shoot Markus twice</span
        >
        <div class="condition-text">
            <p><span class="name">Soldier</span>: Don't move, asshole.</p>
            <p><span class="name">North</span>: Markus! No...</p>
            <div class="condition">
                <span class="name">Connor became deviant</span>
                <div class="condition-text">
                    <span class="name">Connor</span>: I'll go. <br /><span
                        class="name"
                        >North</span
                    >: What, Connor, no. You- <br /><span class="name"
                        >Connor</span
                    >: See if you can help the others. I'm gonna find the
                    detonator. Don't worry... I always accomplish my mission.
                    <br /><span class="name">North</span>: Okay... <br /><span
                        class="note"
                        >See
                        <a [routerLink]="['/chapters', 31]"
                            >Crossroads - Connor</a
                        >: Deviant Connor in corridor.</span
                    >
                </div>
            </div>
        </div>
    </div>

    <p>
        <strong>Meet Lucy</strong>
        <br /><span class="name">Lucy</span>: This is the end of Jericho... Save
        our people, Markus...
    </p>

    <p>
        <strong>Bridge breaks under Markus</strong>
        <br /><span class="name">Soldier</span>: Foxtrot team, hostiles sighted.
        Requesting orders. <br /><span class="name">Soldier</span>: Find their
        leader! Don't let it get out! If they give you any trouble at all, shoot
        them. <br /><span class="name">Soldier</span>: Affirmative, wilco.
    </p>

    <!-- brief scene change to machine Connor, 'Neutralize the Deviant Leader' -->
    <!-- scene change to Kara, Luther is shot -->

    <mat-divider></mat-divider>

    <!-- scene change from machine Connor in Cargo Hall or Kara hides in cabin -->

    <p>
        <span class="name">Soldier</span>: Fuckin' android! <br /><span
            class="name"
            >Soldier</span
        >: Go! ... <br /><span class="name">Soldier</span>: Give me a sitrep!
        <br /><span class="name">Soldier</span>: Find their leader! <br /><span
            class="name"
            >Soldier</span
        >: Come on, let's get outta here!
    </p>

    <p>
        <strong>Soldiers threaten androids</strong>
        <br /><span class="name">Android</span>: No!.. Please don't kill us!
        <br /><span class="name">Soldier</span>: On your knees, now! <br /><span
            class="name"
            >Android</span
        >: Don't hurt us! We haven't done anything wrong... Please...
        <br /><span class="name">Soldier</span>: Shut up! Put your hands on your
        head!
    </p>
    <div class="choices">
        <em>INTERVENE</em> [ <span appRelation="small up">Jericho</span>
        ]
        <div class="choice">
            <div class="condition">
                <span class="name">Deal with soldiers</span>
                <div class="condition-text">
                    <span class="name">Android</span>: Markus... You saved us...
                </div>
            </div>
            <div class="condition">
                <span class="name">Get shot</span>
                <div class="condition-text">
                    <span class="name">Android</span>: Markus... Are you
                    wounded?..
                </div>
            </div>
            <span class="name">Markus</span>: Go now! Hurry!
        </div>
        <em>DON'T INTERVENE</em> [ <span appRelation="small down">Jericho</span>
        ]
        <div class="choice">
            <strong>Androids are killed</strong>
            <br />&oslash;
        </div>
    </div>

    <p>
        <strong>Soldiers coming Markus' way</strong>
        <br /><span class="name">Soldier</span>: Gamma squad out. <br /><span
            class="name"
            >Soldier</span
        >: Tango. Stop!
    </p>
    <div class="condition">
        <span class="name"
            ><i class="fas fa-hourglass-end"></i>
            <i class="fas fa-skull"></i> Time out</span
        >
        <div class="condition-text">
            <span class="note">Soldiers shoot Markus twice</span>
        </div>
    </div>

    <p>
        <strong>Androids are chased by soldiers</strong>
        <br /><span class="name">Android</span>: Look out! <br /><span
            class="name"
            >Android 2</span
        >: Here they come! <br /><span class="name">Soldier</span>: Don't move!
        <br /><span class="name">Android</span>: We surrender! We surrender,
        don't shoot!
    </p>

    <div class="condition">
        <strong>Knock soldiers out</strong> [
        <span appRelation="small up">Jericho</span>
        ]
        <div class="condition-text">
            <span class="name">Android</span>: Markus... It's Markus!
            <br /><span class="name">Markus</span>: Go now! Join the others!
        </div>
    </div>

    <div class="condition">
        <strong>Abandoned androids</strong> [
        <span appRelation="small down">Jericho</span>
        ]
        <div class="condition-text">
            <strong>Androids are shot</strong>
            <br />&oslash;
        </div>
    </div>

    <p>
        <strong>Josh is fighting a soldier</strong>
        <br /><span class="name">Markus</span>: Josh...
    </p>
    <div class="choices">
        <em>INTERVENE</em>
        <div class="choice">
            <div class="condition">
                <span class="name">Neutralize soldiers</span> [
                <span appRelation="small up">Jericho</span>
                <span appRelation="large up">Josh</span> ]
                <div class="condition-text">
                    <span class="name">Josh</span>: Quick, this way! <br /><span
                        class="name"
                        >Markus</span
                    >: Find North! I'll join you later!
                </div>
            </div>
            <div class="condition">
                <span class="name">Lose the upper hand</span> [
                <span appRelation="small down">Jericho</span> ]
                <div class="condition-text">
                    <div class="condition">
                        <span class="name"
                            ><i class="fas fa-skull"></i> Markus shot
                            twice</span
                        >
                        <div class="condition-text">
                            <span class="name">Soldier</span>: Got you,
                            motherfucker. <br /><span class="name">North</span>:
                            Markus! No...
                        </div>
                    </div>
                    <div class="condition">
                        <span class="name">Markus wounded</span>
                        <div class="condition-text">
                            <span class="name">Josh</span>: That's what causes
                            violence... Don't become like them, Markus...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <em>HIDE</em> [ <span appRelation="small down">Jericho</span> ]
        <div class="choice">
            <span class="name">Josh</span>: That's what causes violence... Don't
            become like them, Markus...
        </div>
    </div>

    <p><span class="name">Soldier</span>: Over there!</p>

    <!-- scene change to Kara flees -->

    <mat-divider></mat-divider>

    <!-- scene change from Kara flees -->

    <h2>In the hold</h2>

    <div class="condition">
        <span class="name">Connor became a deviant</span>
        <div class="condition-text">
            <span class="name">Soldier</span>: DON'T MOVE! Go and join the
            others!
            <div class="condition">
                <strong><i class="fas fa-skull"></i> Lose the fight</strong>
                <div class="condition-text">
                    <span class="name">Soldier</span>: I'll teach you to act
                    like a hero, asshole.
                    <p>
                        <span class="name">North</span>: Markus! No...
                        <br /><span class="name">Simon/Josh</span>: Come on, we
                        gotta go! <br /><span class="name">North</span>: They
                        killed him...
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="condition">
        <span class="name">Connor remained a machine</span>
        <div class="condition-text">
            <strong>Connor interrupts</strong>
            <br /><span class="note"
                >See
                <a [routerLink]="['/chapters', 31]">Connor - Crossroads</a>:
                Connor remained a machine.</span
            >
        </div>
    </div>
</section>

<section>
    <h1>Escape from Jericho</h1>
    <div class="condition">
        <span class="name">Explosives were activated</span> [
        <span appRelation="small up">North</span>
        <span appRelation="small up">Jericho</span>
        <span appRelation="small up">Josh</span>
        <span appRelation="small up">Simon</span>
        ]
        <div class="condition-text">
            <div class="condition">
                <span class="name">Markus was rejected by Jericho</span> [
                <i class="fas fa-lock-open fa-flip-horizontal"></i> if Markus
                did not leave forever ]
                <div class="condition-text">
                    <p>
                        <span class="name">North</span>: Markus! <br /><span
                            class="name"
                            >Markus</span
                        >: Are you all right? <br /><span class="name"
                            >North</span
                        >: They're everywhere, they're killing anyone they can
                        find... <br /><span class="name">Markus</span>: We gotta
                        get out of here. There's nothing we can do. <br /><span
                            class="name"
                            >North</span
                        >: Markus, I'm sorry- <br /><span class="name"
                            >Markus</span
                        >: There's no time, come on.
                    </p>
                </div>
            </div>

            <div class="condition">
                <span class="name">Markus wasn't rejected</span>
                <div class="condition-text">
                    <p>
                        <span class="name">North</span>: Markus! <br /><span
                            class="name"
                            >Markus</span
                        >: Bomb's gonna explode any second. We gotta get out of
                        here!
                    </p>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div class="condition">
                <strong
                    ><i class="fas fa-hourglass-end"></i>
                    <i class="fas fa-skull"></i> Lose too much time</strong
                >
                <div class="condition-text">
                    <span class="name">North</span>: MARKUS!
                    <p>
                        <span class="name">Perkins</span>: Wait! This one's
                        mine. Nowhere to run... Nowhere to hide.
                    </p>
                </div>
            </div>

            <p>
                <strong>North is shot</strong>
                <br /><span class="name">Simon</span>: It's too late, Markus!
                There's nothing we can do for her, we've gotta run!
            </p>

            <div class="choices">
                <em>SAVE NORTH</em>
                <div class="choice">
                    <div class="condition">
                        <span class="name"
                            >Markus is injured - cannot save North</span
                        >
                        [ <span appRelation="small down">Jericho</span>
                        <span appRelation="small down">Simon</span>
                        <span appRelation="large down">Josh</span> ]
                        <div class="condition-text">
                            <span class="name">Markus</span>: North...
                            <br /><span class="name">Simon</span>: Come on,
                            Markus! <br /><span class="name">Josh</span>: Come
                            on Markus. Come on!
                        </div>
                    </div>

                    <div class="condition">
                        <span class="name">Markus is not injured</span> [
                        <span appRelation="small up">Jericho</span>
                        <span appRelation="large up">North</span>
                        <span appRelation="small up">Josh</span>
                        <span appRelation="small up">Simon</span> ]
                        <div class="condition-text">
                            <span class="name">Soldier</span>: Fire at will!

                            <div class="condition">
                                <span class="name">Save North</span>
                                <div class="condition-text">
                                    <span class="name">Soldier</span>: Contact!
                                    Contact! Hostiles engaged! <br /><span
                                        class="name"
                                        >Markus</span
                                    >: Over there! Run!

                                    <div class="condition">
                                        <span class="name"
                                            >Connor became deviant</span
                                        >
                                        <div class="condition-text">
                                            <strong
                                                >Connor protects Markus and
                                                North</strong
                                            >
                                            <br /><span class="name"
                                                >Soldier</span
                                            >: Go! Now! <br /><span class="name"
                                                >Soldier</span
                                            >: Tango, suppressing fire!

                                            <div class="condition">
                                                <span class="name"
                                                    >Connor kills the
                                                    soldiers</span
                                                >
                                                <div class="condition-text">
                                                    <span class="name"
                                                        >Soldier</span
                                                    >: We need support. Repeat:
                                                    requesting support.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <mat-divider></mat-divider>

                                    <div class="condition">
                                        <span class="name">Run to exit</span>
                                        <div class="condition-text">
                                            <span class="name">Markus</span>:
                                            Run, quick! Come on!
                                        </div>
                                    </div>

                                    <div class="condition">
                                        <span class="name"
                                            >Fail to run to exit (Connor stayed
                                            a machine)</span
                                        >
                                        <div class="condition-text">
                                            <p>
                                                <strong
                                                    ><i
                                                        class="fas fa-skull"
                                                    ></i>
                                                    Markus dies</strong
                                                >
                                                <br /><span class="name"
                                                    >North</span
                                                >: NO! Markus! <br /><span
                                                    class="name"
                                                    >Markus</span
                                                >: Save our people...
                                                <br /><span class="name"
                                                    >Soldier</span
                                                >: Find their leader!
                                            </p>
                                            <p>
                                                <span class="name">Perkins</span
                                                >: Wait! This one's mine.
                                                Nowhere to run... Nowhere to
                                                hide.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="condition">
                                <span class="name">Fail to save North</span>
                                <div class="condition-text">
                                    <div class="condition">
                                        <span class="name"
                                            >Connor became a deviant - North
                                            dies</span
                                        >
                                        [
                                        <span appRelation="small down"
                                            >Jericho</span
                                        >
                                        ]
                                        <div class="condition-text">
                                            <strong
                                                >Connor rescues Markus</strong
                                            >
                                            <br /><span class="name">North</span
                                            >: MARKUS!
                                        </div>
                                    </div>
                                    <div class="condition">
                                        <span class="name"
                                            >Connor stayed a machine - Markus
                                            dies</span
                                        >
                                        <div class="condition-text">
                                            <strong>North escapes</strong>
                                            <br /><span class="name">North</span
                                            >: MARKUS!
                                            <p>
                                                <span class="name">Perkins</span
                                                >: Wait! This one's mine.
                                                Nowhere to run... Nowhere to
                                                hide.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <em>RUN</em> [ <span appRelation="small down">Jericho</span>
                <span appRelation="small down">Simon</span>
                <span appRelation="large down">Josh</span> ]
                <div class="choice">
                    <span class="name">Simon</span>: Come on, Markus!
                    <br /><span class="name">Josh</span>: Come on Markus. Come
                    on!
                </div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <strong>Surviving characters jump</strong>

    <div class="condition">
        <span class="name">Explosives were activated</span>
        <div class="condition-text">
            <p>
                <span class="name">Soldier</span>: They detonated an explosive
                in the hold. The ship is sinking, Sir. <br /><span class="name"
                    >Perkins</span
                >: Order the men to evacuate. <br /><span class="name"
                    >Soldier</span
                >: Calling all units! Abandon ship and evacuate immediately!
            </p>
            <div class="condition">
                <span class="name">Markus survived</span>
                <div class="condition-text">
                    <span class="name">Perkins</span>: This ain't over,
                    Markus...
                </div>
            </div>
            <div class="condition">
                <span class="name">Markus died or was rejected</span>
                <div class="condition-text">
                    <span class="name">Perkins</span>: This isn't over...
                </div>
            </div>
        </div>
    </div>

    <div class="condition">
        <span class="name">Explosives weren't activated</span>
        <div class="condition-text">
            <p>
                <span class="name">Soldier</span>: We found several hundred
                androids in the hull, Sir. <br /><span class="name"
                    >Perkins</span
                >: Take 'em away. <br /><span class="name">Soldier</span>: Yes,
                Sir. <br /><span class="name">Perkins</span>: Then clear the
                ship and order the men to withdraw. <br /><span class="name"
                    >Perkins</span
                >: This isn't over...
            </p>
        </div>
    </div>
</section>
