.container {
    background-image: url('/assets/images/triangleerror.png');
    background-size: cover;
    height: 100%;

    * {
        color: #4d0000;
        text-align: center;
    }

    h1 {
        font-size: 8rem;
    }

    p {
        font-size: 2rem;
        margin-top: 2rem;
    }
}

img {
    max-width: 100%;
    max-height: 100px;
}
