<ng-container *transloco="let t">
	<section aria-labelledby="parking-lot">
		<h1 id="parking-lot">Kara stayed at the Parking lot</h1>

		<p>
			{{ t("GUI.MENU.DATE.04K") }}
			<br />
			{{ t("GUI.MENU.TIME.04K") }}
		</p>

		<p>
			<app-dialogue-line name="Kara">
				{{
					translationService.translateObject(
						"X0404K.CAR.WAKEUP.PC.X04KKARA.WAKEUPV2",
						0,
						2
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Alice">
				{{ t("X0404K.CAR.WAKEUP.PC.X04KALICE.WAKEUPV2.1") }}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{
					translationService.translateObject(
						"X0404K.CAR.WAKEUP.PC.X04KKARA.WAKEUPV2",
						2,
						5
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Alice">
				{{
					translationService.translateObject(
						"X0404K.CAR.WAKEUP.PC.X04KALICE.WAKEUPV2",
						1
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{
					translationService.translateObject(
						"X0404K.CAR.WAKEUP.PC.X04KKARA.WAKEUPV2",
						5
					) | async
				}}
			</app-dialogue-line>
		</p>

		<p>
			<app-dialogue-line name="Alice">
				{{
					translationService.translateObject(
						"X0401K.MOTEL.COMPLIMENT.PC.X04KALICE.COMPLIMENT"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<p>
			<app-dialogue-line name="Kara">
				{{ t("X0404K.PARKING.FENCEGATE.PC.X04KKARA.POLICE.1") }}
			</app-dialogue-line>
		</p>

		<section aria-labelledby="parking-lot-police-supermarket">
			<h2 id="parking-lot-police-supermarket">
				The police are outside the supermarket
			</h2>
			<p>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0402K.SQUAT.CONNOR.PC.X04KHANK.BUSDRIVER"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Ben">
					{{ t("X0402K.SQUAT.CONNOR.PC.X04KCHAD.ROUND.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0402K.SQUAT.CONNOR.PC.X04KHANK.ROUND.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Ben">
					{{ t("X0402K.SQUAT.CONNOR.PC.X04KCHAD.ROUND.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0402K.SQUAT.CONNOR.PC.X04KHANK.ROUND.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0404K.PARKING.CONNOR.PC.X04KCONNOR.NOTFARAWAY",
							0,
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0404K.PARKING.CONNOR.PC.X04KHANK.NOTFARAWAY.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0404K.PARKING.CONNOR.PC.X04KCONNOR.NOTFARAWAY",
							3,
							5
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0404K.PARKING.CONNOR.PC.X04KHANK.NOTFARAWAY.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0404K.PARKING.CONNOR.PC.X04KCONNOR.NOTFARAWAY",
							5
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0404K.PARKING.CONNOR.PC.X04KHANK.NOTFARAWAY.3") }}
				</app-dialogue-line>
			</p>
			<app-conditioned-content>
				<div class="condition">
					<p>Kara and Alice reach the train station unnoticed</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Hank">
							{{
								translationService.translateObject(
									"X0405K.CHASEV2.NOTNOTICED.PC.X04KHANK.LATER"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
		</section>
	</section>

	<section aria-labelledby="squat">
		<h1 id="squat">Kara stayed at the Squat</h1>

		<section aria-labelledby="squat-police-supermarket">
			<h2 id="squat-police-supermarket">
				The police are outside the supermarket
			</h2>
			<p>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0402K.SQUAT.CONNOR.PC.X04KHANK.BUSDRIVER"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Ben">
					{{ t("X0402K.SQUAT.CONNOR.PC.X04KCHAD.ROUND.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0402K.SQUAT.CONNOR.PC.X04KHANK.ROUND.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Ben">
					{{ t("X0402K.SQUAT.CONNOR.PC.X04KCHAD.ROUND.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0402K.SQUAT.CONNOR.PC.X04KHANK.ROUND.2") }}
				</app-dialogue-line>
			</p>
			<app-conditioned-content>
				<div class="condition">
					<p>
						Kara stole wire cutters from the supermarket in
						<a [routerLink]="['/chapters', 10]">Fugitives</a>
					</p>
				</div>
				<div class="content">
					<!-- TODO (V2): Check difference STEAL vs NOSTEAL clothes -->
					<p>
						<app-dialogue-line name="Hank">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.CONNOR.PC.X04KHANK.STEAL",
									0,
									2
								) | async
							}}
							{{ t("X0402K.SQUAT.CONNOR.PC.X04KHANK.STEAL.4") }}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.CONNOR.PC.X04KCONNOR.DIALCONNOR",
									0,
									2
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Hank">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.CONNOR.PC.X04KHANK.DIALCONNOR",
									0,
									2
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.CONNOR.PC.X04KCONNOR.DIALCONNOR",
									2,
									6
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Hank">
							{{
								t(
									"X0402K.SQUAT.CONNOR.PC.X04KHANK.DIALCONNOR.3"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0402K.SQUAT.CONNOR.PC.X04KCONNOR.DIALCONNOR.7"
								)
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition">
					<p>Kara didn't steal the wire cutters</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0404K.PARKING.CONNOR.PC.X04KCONNOR.NOTFARAWAY",
									0,
									3
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Hank">
							{{
								t(
									"X0404K.PARKING.CONNOR.PC.X04KHANK.NOTFARAWAY.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0404K.PARKING.CONNOR.PC.X04KCONNOR.NOTFARAWAY",
									3,
									5
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Hank">
							{{
								t(
									"X0404K.PARKING.CONNOR.PC.X04KHANK.NOTFARAWAY.2"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0404K.PARKING.CONNOR.PC.X04KCONNOR.NOTFARAWAY",
									5
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Hank">
							{{
								t(
									"X0404K.PARKING.CONNOR.PC.X04KHANK.NOTFARAWAY.3"
								)
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
		</section>

		<section aria-labelledby="squat-ralph">
			<h2 id="squat-ralph">In the squat with Ralph</h2>
			<p>
				<app-dialogue-line name="Ralph">
					{{
						translationService.translateObject(
							"X0402K.SQUAT.COYPU.PC.X04KRALPH.START"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP01.SIT')"
				>
					<p>&oslash;</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP01.REFUSE')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KKARA.REFUSE01"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Ralph">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KRALPH.REFUSE01",
									1
								) | async
							}}
						</app-dialogue-line>
					</p>
					<app-choice-group>
						<app-choice-item
							[choiceLabel]="
								t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP02.SIT')
							"
						>
							<p>&oslash;</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP02.REFUSE')
							"
						>
							<p>
								<app-relation
									[name]="RelationName.Alice"
									[type]="RelationType.SmallUp"
								></app-relation>
								<app-dialogue-line name="Kara">
									{{
										translationService.translateObject(
											"X0402K.SQUAT.COYPU.PC.X04KKARA.REFUSE02"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Ralph">
									{{
										t(
											"X0402K.SQUAT.COYPU.PC.X04KRALPH.REFUSE02"
										)
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
					</app-choice-group>
				</app-choice-item>
			</app-choice-group>
			<mat-divider></mat-divider>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP03.GUN')"
					[brackets]="true"
				>
					<p>
						<app-unlock-condition [unlockType]="UnlockType.Lock">
							Took the gun in
							<a [routerLink]="['/chapters', 7]">Stormy Night</a>
							and didn't forget it upstairs
						</app-unlock-condition>
						<span>&oslash;</span>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP03.WORRIED')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KKARA.WORRIED"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Ralph">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KRALPH.WORRIED",
									1
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP03.EXPLAIN')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{ t("X0402K.SQUAT.COYPU.PC.X04KKARA.EXPLAIN") }}
						</app-dialogue-line>
						<app-dialogue-line name="Ralph">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KRALPH.EXPLAIN"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP03.AGREE')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KKARA.AGREE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Ralph">
					{{
						translationService.translateObject(
							"X0402K.SQUAT.COYPU.PC.X04KRALPH.SIT01"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Alice">
					{{
						translationService.translateObject(
							"X0402K.SQUAT.COYPU.PC.X04KALICE.SIT02"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Ralph">
					{{ t("X0402K.SQUAT.COYPU.PC.X04KRALPH.SIT02") }}
				</app-dialogue-line>
			</p>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP04.LIE')"
				>
					<p>
						<app-relation
							[name]="RelationName.Alice"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KKARA.LIE"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Ralph">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KRALPH.LIE",
									1
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP04.TRUTH')
					"
				>
					<p>
						<app-relation
							[name]="RelationName.Alice"
							[type]="RelationType.SmallDown"
						></app-relation>
						<app-dialogue-line name="Kara">
							{{ t("X0402K.SQUAT.COYPU.PC.X04KKARA.TRUTH") }}
						</app-dialogue-line>
						<app-dialogue-line name="Ralph">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KRALPH.TRUTH"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Ralph">
					{{
						translationService.translateObject(
							"X0402K.SQUAT.COYPU.PC.X04KRALPH.EAT"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP06.BATHBODY')
					"
					[brackets]="true"
				>
					<p>
						<app-unlock-condition [unlockType]="UnlockType.Lock">
							Saw the body in the bathroom
						</app-unlock-condition>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KKARA.BATHBODY"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Ralph">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KRALPH.BATHBODY"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP06.INSISTBODY')
					"
					[brackets]="true"
				>
					<p>
						<app-unlock-condition [unlockType]="UnlockType.Lock">
							Asked about corpse
						</app-unlock-condition>

						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KKARA.INSISTBODY",
									0,
									3
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Ralph">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KRALPH.INSISTBODY"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Kara">
							{{
								t("X0402K.SQUAT.COYPU.PC.X04KKARA.INSISTBODY.4")
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP06.THREATEN')
					"
				>
					<app-conditioned-content>
						<div class="condition">
							<p>No gun : Kara takes a knife</p>
						</div>
						<div class="content">
							<p>
								<app-dialogue-line name="Kara">
									{{
										t(
											"X0402K.SQUAT.COYPU.PC.X04KKARA.THREATEN"
										)
									}}
								</app-dialogue-line>
							</p>
						</div>
					</app-conditioned-content>

					<app-conditioned-content>
						<div class="condition">
							<p>
								Kara has a gun : Kara threatens Ralph with the
								gun
							</p>
						</div>
						<div class="content">
							<app-dialogue-line name="Kara">
								{{
									t("X0402K.SQUAT.COYPU.PC.X04KKARA.DRAWGUN")
								}}
							</app-dialogue-line>
						</div>
					</app-conditioned-content>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP05.BLUFF')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KKARA.BLUFF"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Ralph">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KRALPH.BLUFF"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0402K.SQUAT.COYPU.PC.CHOICEGROUP06.FAMILY')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KKARA.FAMILY",
									0,
									6
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Ralph">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.COYPU.PC.X04KRALPH.FAMILY"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Kara">
							{{ t("X0402K.SQUAT.COYPU.PC.X04KKARA.FAMILY.7") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Connor">
					{{ t("X0402K.SQUAT.COYPU.VO.X04CCONNOR.CONNOR") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="connor-squat">
			<h2 id="connor-squat">Connor investigates the squat</h2>
			<p>
				<app-dialogue-line name="Connor">
					{{
						translationService.translateObject(
							"X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.BLUEBLOOD"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-conditioned-content>
				<div class="condition"><p>Kara was nice with Ralph</p></div>
				<div class="content">
					<app-choice-group>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.AX400'
								)
							"
						>
							<p>
								<app-dialogue-line name="Connor">
									{{
										translationService.translateObject(
											"X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.AX400"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Ralph">
									{{
										t(
											"X0402K.SQUAT.SPEAKRALPH.PC.X04KRALPH.AX400R"
										)
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.DEVIANTS'
								)
							"
						>
							<p>
								<app-dialogue-line name="Connor">
									{{
										t(
											"X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.DEVIANTS"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Ralph">
									{{
										translationService.translateObject(
											"X0402K.SQUAT.SPEAKRALPH.PC.X04KRALPH.DEVIANTSR"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.REASSURE'
								)
							"
						>
							<p>
								<app-dialogue-line name="Connor">
									{{
										translationService.translateObject(
											"X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.REASSURE"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.BLUEBLOOD'
								)
							"
						>
							<p>
								<app-dialogue-line name="Connor">
									{{
										translationService.translateObject(
											"X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.BLUEBLOOD"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Ralph">
									{{
										translationService.translateObject(
											"X0402K.SQUAT.SPEAKRALPH.PC.X04KRALPH.BLUEBLOOD"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
					</app-choice-group>

					<h3 id="squat-kara-found">Connor finds Kara</h3>
					<p>
						<app-dialogue-line name="Ralph">
							{{ t("X0402K.SQUAT.KARAFOUND.PC.X04KRALPH.RUN") }}
						</app-dialogue-line>
						<app-dialogue-line name="Hank">
							{{ t("X0402K.SQUAT.KARAFOUND.PC.X04CHANK.HANK") }}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								t("X0402K.SQUAT.KARAFOUND.PC.X04CCONNOR.CONNOR")
							}}
						</app-dialogue-line>
						<span class="note">Leads to Connor pursues Kara.</span>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition"><p>Kara threatened Ralph</p></div>
				<div class="content">
					<app-choice-group>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.AX400'
								)
							"
						>
							<p>
								<app-dialogue-line name="Connor">
									{{
										translationService.translateObject(
											"X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.AX400"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.DEVIANTS'
								)
							"
						>
							<p>
								<app-dialogue-line name="Connor">
									{{
										t(
											"X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.DEVIANTS"
										)
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.REASSURE'
								)
							"
						>
							<p>
								<app-dialogue-line name="Connor">
									{{
										translationService.translateObject(
											"X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.REASSURE"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.BLUEBLOOD'
								)
							"
						>
							<p>
								<app-dialogue-line name="Connor">
									{{
										translationService.translateObject(
											"X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.BLUEBLOOD"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0402K.SQUAT.SPEAKRALPH.PC.CHOICEGROUP01.PRESSURIZE'
								)
							"
						>
							<p>
								<app-dialogue-line name="Connor">
									{{
										translationService.translateObject(
											"X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.PRESSURIZE"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
					</app-choice-group>

					<p>
						<app-dialogue-line name="Ralph">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.SPEAKRALPH.PC.X04KRALPH.REPORTR",
									0,
									2
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0402K.SQUAT.SPEAKRALPH.PC.X04KCONNOR.REPORTR"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Ralph">
							{{
								t(
									"X0402K.SQUAT.SPEAKRALPH.PC.X04KRALPH.REPORTR.3"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Hank">
							{{
								t("X0402K.SQUAT.SPEAKRALPH.PC.X04KHANK.REPORT")
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0402K.SQUAT.SPEAKRALPH.PC.X04CCONNOR.REPORT"
								)
							}}
						</app-dialogue-line>
						<span class="note">Leads to Connor pursues Kara.</span>
					</p>
				</div>
			</app-conditioned-content>

			<h3 id="squat-upstairs">Going upstairs</h3>
			<p>
				<app-dialogue-line name="Connor">
					{{ t("X0402K.SQUAT.EXPLORE.PC.X04KCONNOR.UPSTAIRS") }}
				</app-dialogue-line>
				<app-dialogue-line name="Ralph">
					{{
						translationService.translateObject(
							"X0402K.SQUAT.EXPLORE.PC.X04KRALPH.UPSTAIRS"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-unused-content>
				<h3 id="squat-door">Going to the door (?)</h3>
				<app-dialogue-line name="Connor">
					{{ t("X0402K.SQUAT.EXPLORE.PC.X04KCONNOR.MAINDOOR") }}
				</app-dialogue-line>
				<app-dialogue-line name="Ralph">
					{{
						translationService.translateObject(
							"X0402K.SQUAT.EXPLORE.PC.X04KRALPH.MAINDOOR"
						) | async
					}}
				</app-dialogue-line>
			</app-unused-content>

			<app-conditioned-content>
				<div class="condition">
					<h3 id="squat-timeout">
						<app-unlock-condition [unlockType]="UnlockType.Time">
							{{ t(CommonTranslationKey.TooMuchTime) }}
						</app-unlock-condition>
					</h3>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Hank">
							{{ t("X0402K.SQUAT.EXPLORE.VO.X04KHANK.HANK") }}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{ t("X0402K.SQUAT.EXPLORE.FA.X04CCONNOR.COMING") }}
						</app-dialogue-line>
					</p>

					<h3 id="squat-timeout-again">Taking too much time again</h3>
					<p>
						<app-dialogue-line name="Hank">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.NOKARA.PC.X04KHANK.LEAVE",
									0,
									3
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.NOKARA.PC.X04KCONNOR.LEAVE"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Hank">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.NOKARA.PC.X04KHANK.LEAVE",
									3
								) | async
							}}
						</app-dialogue-line>
					</p>
					<p>
						<app-dialogue-line name="Kara">
							{{ t("X0402K.SQUAT.NOKARA.PC.X04KKARA.THANKS") }}
						</app-dialogue-line>
						<app-dialogue-line name="Ralph">
							{{
								translationService.translateObject(
									"X0402K.SQUAT.NOKARA.PC.X04KRALPH.THANKS"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
		</section>
	</section>

	<section aria-labelledby="motel">
		<h1 id="motel">Kara stayed at the Motel</h1>

		<p>
			<app-dialogue-line name="Kara">
				{{ t("X0401K.MOTEL.WAKEUP.PC.X04KKARA.SORRY.1") }}
			</app-dialogue-line>
			<app-dialogue-line name="Alice">
				{{ t("X0401K.MOTEL.WAKEUP.PC.X04KALICE.SORRY") }}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{
					translationService.translateObject(
						"X0401K.MOTEL.WAKEUP.PC.X04KKARA.SORRY",
						1
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0401K.MOTEL.WAKEUP.PC.CHOICEGROUP01.BATH')"
			>
				<p>
					<app-relation
						[name]="RelationName.Alice"
						[type]="RelationType.SmallUp"
					></app-relation>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0401K.MOTEL.WAKEUP.PC.X04KKARA.BATH",
								0,
								4
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0401K.MOTEL.WAKEUP.PC.CHOICEGROUP01.HUNGRY')"
			>
				<p>
					<app-relation
						[name]="RelationName.Alice"
						[type]="RelationType.SmallUp"
					></app-relation>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0401K.MOTEL.WAKEUP.PC.X04KKARA.HUNGRY",
								0,
								3
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0401K.MOTEL.WAKEUP.PC.CHOICEGROUP01.SLEEP')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0401K.MOTEL.WAKEUP.PC.X04KKARA.SLEEP"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Alice">
						{{ t("X0401K.MOTEL.WAKEUP.PC.X04KALICE.SLEEP") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<p>
			<app-dialogue-line name="Kara">
				{{
					translationService.translateObject(
						"X0401K.MOTEL.WAKEUP.PC.X04KKARA.BATH",
						4
					) | async
				}}
			</app-dialogue-line>
		</p>

		<p>
			<app-dialogue-line name="Alice">
				{{
					translationService.translateObject(
						"X0401K.MOTEL.COMPLIMENT.PC.X04KALICE.COMPLIMENT"
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{ t("X0401K.MOTEL.COMPLIMENT.PC.X04KKARA.COMPLIMENT") }}
			</app-dialogue-line>
		</p>

		<h2 id="tv">
			<app-unlock-condition [unlockType]="UnlockType.Tv">
				{{ t(CommonTranslationKey.WatchTv) }}
			</app-unlock-condition>
		</h2>
		<app-conditioned-content>
			<div class="condition">
				<p>
					Todd was killed in
					<a [routerLink]="['/chapters', 7]">Stormy Night</a>
				</p>
			</div>
			<div class="content">
				<p>
					<app-relation
						[name]="RelationName.PublicOpinion"
						[type]="RelationType.SmallDown"
					></app-relation>
					<app-dialogue-line name="Channel 16 - Joss Douglas">
						{{
							translationService.translateObject(
								"X0401K.TV.TODDONTV.PC.X04KJOSS.TODDDEAD01"
							) | async
						}}
					</app-dialogue-line>
				</p>

				<app-conditioned-content>
					<div class="condition"><p>Kara shot Todd</p></div>
					<div class="content">
						<p>
							<app-dialogue-line name="Alice">
								{{
									translationService.translateObject(
										"X0401K.MOTEL.TOUGHTALK.PC.X04KALICE.KARAKILLEDTODD"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition"><p>Alice shot Todd</p></div>
					<div class="content">
						<p>
							<app-dialogue-line name="Alice">
								{{
									translationService.translateObject(
										"X0401K.MOTEL.TOUGHTALK.PC.X04KALICE.ALICEKILLEDTODD"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</div>
				</app-conditioned-content>
			</div>
		</app-conditioned-content>
		<app-conditioned-content>
			<div class="condition"><p>Todd is alive</p></div>
			<div class="content">
				<p>
					<app-relation
						[name]="RelationName.PublicOpinion"
						[type]="RelationType.SmallDown"
					></app-relation>
					<app-dialogue-line name="Channel 16 - Joss Douglas">
						{{
							translationService.translateObject(
								"X0401K.TV.TODDONTV.PC.X04KJOSS.TODDALIVE01A"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Todd">
						{{
							translationService.translateObject(
								"X0401K.TV.TODDONTV.PC.X04KDAD.TODDALIVE01T"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Channel 16 - Joss Douglas">
						{{
							translationService.translateObject(
								"X0401K.TV.TODDONTV.PC.X04KJOSS.TODDALIVE01B"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Alice">
						{{
							translationService.translateObject(
								"X0401K.MOTEL.TOUGHTALK.PC.X04KALICE.TODDNOTKILLED"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</div>
		</app-conditioned-content>

		<mat-divider></mat-divider>

		<app-unused-content>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0401K.MOTEL.TOUGHTALK.PC.01CHOICE.REASSURING')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.01REASSURING"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0401K.MOTEL.TOUGHTALK.PC.01CHOICE.ANALYTICAL')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.01ANALYTICAL"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0401K.MOTEL.TOUGHTALK.PC.01CHOICE.VULNERABLE')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.01VULNERABLE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0401K.MOTEL.TOUGHTALK.PC.01CHOICE.SINCERE')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.01SINCERE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
		</app-unused-content>

		<mat-divider></mat-divider>

		<p>
			<app-dialogue-line name="Alice">
				{{
					translationService.translateObject(
						"X0401K.MOTEL.TOUGHTALK.PC.X04KALICE.01NEXTSTEP"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0401K.MOTEL.TOUGHTALK.PC.02CHOICE.STAYHERE')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.02STAYHERE") }}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0401K.MOTEL.TOUGHTALK.PC.02CHOICE.HELP')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.02HELP"
							) | async
						}}
					</app-dialogue-line>
					<app-dialogue-line name="Alice">
						{{
							translationService.translateObject(
								"X0401K.MOTEL.TOUGHTALK.PC.X04KALICE.02HELP"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="t('X0401K.MOTEL.TOUGHTALK.PC.02CHOICE.ANDROID')"
			>
				<p>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.02ANDROID"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<mat-divider></mat-divider>

		<app-choice-group>
			<app-choice-item
				[choiceLabel]="t('X0401K.MOTEL.TOUGHTALK.PC.03CHOICE.MOVING')"
			>
				<p>
					<app-relation
						[name]="RelationName.Alice"
						[type]="RelationType.SmallUp"
					></app-relation>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.03MOVING"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0401K.MOTEL.TOUGHTALK.PC.03CHOICE.DETERMINED')
				"
			>
				<p>
					<app-relation
						[name]="RelationName.Alice"
						[type]="RelationType.SmallUp"
					></app-relation>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.03DETERMINED"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0401K.MOTEL.TOUGHTALK.PC.03CHOICE.COMFORTING')
				"
			>
				<p>
					<app-relation
						[name]="RelationName.Alice"
						[type]="RelationType.SmallUp"
					></app-relation>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.03COMFORTING"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
			<app-choice-item
				[choiceLabel]="
					t('X0401K.MOTEL.TOUGHTALK.PC.03CHOICE.SUPPORTIVE')
				"
			>
				<p>
					<app-relation
						[name]="RelationName.Alice"
						[type]="RelationType.SmallUp"
					></app-relation>
					<app-dialogue-line name="Kara">
						{{
							translationService.translateObject(
								"X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.03SUPPORTIVE"
							) | async
						}}
					</app-dialogue-line>
				</p>
			</app-choice-item>
		</app-choice-group>

		<p>
			<app-dialogue-line name="Kara">
				{{
					translationService.translateObject(
						"X0401K.MOTEL.TOUGHTALK.PC.X04KKARA.03HUG"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<section aria-labelledby="police-motel">
			<h2 id="police-motel">Police is at the motel</h2>
			<p>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0401K.MOTEL.RECEPTION.PC.X04KHANK.AX400",
							0,
							2
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Receptionist">
					{{
						translationService.translateObject(
							"X0401K.MOTEL.RECEPTION.PC.X04KRECEPTIONIST.AX400REC",
							0,
							2
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{ t("X0401K.MOTEL.RECEPTION.PC.X04KCONNOR.AX400.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Receptionist">
					{{
						translationService.translateObject(
							"X0401K.MOTEL.RECEPTION.PC.X04KRECEPTIONIST.AX400REC",
							2,
							5
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0401K.MOTEL.RECEPTION.PC.X04KHANK.AX400.3") }}
				</app-dialogue-line>
				<app-dialogue-line name="Receptionist">
					{{
						t(
							"X0401K.MOTEL.RECEPTION.PC.X04KRECEPTIONIST.AX400REC.6"
						)
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0401K.MOTEL.RECEPTION.PC.X04KHANK.AX400.4") }}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Hank">
					{{ t("X0401K.MOTEL.RECEPTION.PC.X04KHANK.RADIOCHAD") }}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Hank">
					{{ t("X0401K.MOTEL.OUTSIDE.PC.X04KHANK.WAITME") }}
				</app-dialogue-line>
			</p>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0401K.MOTEL.OUTSIDE.PC.CHOICE.RATIONAL')"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								translationService.translateObject(
									"X0401K.MOTEL.OUTSIDE.PC.X04KCONNOR.RATIONAL"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0401K.MOTEL.OUTSIDE.PC.CHOICE.DIPLOMATIC')
					"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{
								t(
									"X0401K.MOTEL.OUTSIDE.PC.X04KCONNOR.DIPLOMATIC"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0401K.MOTEL.OUTSIDE.PC.CHOICE.DIRECT')"
				>
					<p>
						<app-dialogue-line name="Connor">
							{{ t("X0401K.MOTEL.OUTSIDE.PC.X04KCONNOR.DIRECT") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Hank">
					{{ t("X0401K.MOTEL.OUTSIDE.PC.X04KHANK.OBEY.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{ t("X0401K.MOTEL.OUTSIDE.PC.X04KCONNOR.OBEY") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0401K.MOTEL.OUTSIDE.PC.X04KHANK.OBEY.2") }}
				</app-dialogue-line>
			</p>

			<h3 id="motel-room">Going into the room</h3>
			<p>
				<app-dialogue-line name="Hank">
					{{ t("X0401K.MOTEL.ROOM.PC.X04KHANK.LEFT") }}
				</app-dialogue-line>
			</p>
		</section>
	</section>

	<section aria-labelledby="street">
		<h1 id="street">Kara and Alice in the street</h1>

		<section aria-labelledby="spotted">
			<h2 id="spotted">Spotted by Police</h2>
			<p>
				<app-dialogue-line name="Cop">
					{{ t("X0405K.CHASEV2.PART05.FA.X04KCOP05.NOTICE01") }}
				</app-dialogue-line>
				<app-dialogue-line name="Cop">
					{{ t("X0405K.CHASEV2.PART05.FA.X04KCOP05.NOTICE02") }}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Cop">
					{{
						translationService.translateObject(
							"X0405K.CHASEV2.PART02.FA.X04KCOP01.NOTICE01"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Cop">
					{{
						translationService.translateObject(
							"X0405K.CHASEV2.PART03.FA.X04KCOP03.NOTICE"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>
	</section>

	<section aria-labelledby="pursuit">
		<h1 id="pursuit">Connor pursues Kara</h1>
		<p>
			<app-dialogue-line name="Connor">
				{{ t("X0405K.CHASEV2.NOTICED.FA.X04KCONNOR.TRACKING") }}
			</app-dialogue-line>
			<app-dialogue-line name="Cop">
				{{ t("X0405K.CHASEV2.NOTICED.PC.X04KCOP08.TRACKINGCOP") }}
			</app-dialogue-line>
		</p>

		<!-- TODO: remove ?-->
		<p>
			<app-dialogue-line name="Cop">
				{{ t("X0502K.CHASE.SPARELINES.FA.X05KZLATKO.HERE") }}
			</app-dialogue-line>
		</p>

		<h2 id="chase-timeout">
			<app-unlock-condition [unlockType]="UnlockType.Time">
				{{ t(CommonTranslationKey.TooMuchTime) }}
			</app-unlock-condition>
		</h2>
		<p>
			<app-dialogue-line name="Connor">
				{{ t("X0405K.CHASEV2.NOTNOTICED.PC.X04KCONNOR.LOST") }}
			</app-dialogue-line>
			<app-dialogue-line name="Hank">
				{{ t("X0405K.CHASEV2.NOTNOTICED.PC.X04KHANK.LOST") }}
			</app-dialogue-line>
		</p>

		<section aria-labelledby="fence">
			<h2 id="fence">Reach the fence</h2>
			<p>
				<app-dialogue-line name="Connor">
					{{ t("X0405K.CHASEV2.NOTICED.PC.X04KCONNOR.CLIMBFENCE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0405K.HIGHWAY.CONNOR.PC.X04CHANK.GETIN.1") }}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Hank">
					{{ t("X0405K.HIGHWAY.CONNOR.PC.X04CHANK.GETIN.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{ t("X0405K.HIGHWAY.CONNOR.PC.X04KCONNOR.GETIN.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{ t("X0405K.HIGHWAY.CONNOR.PC.X04CHANK.GETIN.3") }}
				</app-dialogue-line>
				<app-dialogue-line name="Connor">
					{{ t("X0405K.HIGHWAY.CONNOR.PC.X04KCONNOR.GETIN.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Hank">
					{{
						translationService.translateObject(
							"X0405K.HIGHWAY.CONNOR.PC.X04CHANK.GETIN",
							3
						) | async
					}}
				</app-dialogue-line>
			</p>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0405K.HIGHWAY.CONNOR.PC.CHOICEGROUP.GO')"
				>
					<p>
						<app-dialogue-line name="Hank">
							{{ t("X0405K.HIGHWAY.CONNOR.FA.X04KHANK.GO") }}
						</app-dialogue-line>
					</p>

					<h3 id="connor-dies">Connor dies on the highway</h3>
					<p>
						<app-dialogue-line name="Hank">
							{{
								t("X0405K.HIGHWAY.GAMEOVER.PC.X04CHANK.HANK.1")
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Connor">
							{{
								t("X0405K.HIGHWAY.GAMEOVER.PC.X04CHANK.HANK.2")
							}}
						</app-dialogue-line>
					</p>

					<h3 id="kara-car">Kara gets hit by a car</h3>
					<p>
						<app-dialogue-line name="Alice">
							{{ t("X0201K.FIGHT.ALICE.FA.X02KALICE.CUE03") }}
							{{ t("X0201K.FIGHT.ALICE.FA.X02KALICE.CUE06") }}
						</app-dialogue-line>
						<app-dialogue-line name="Hank">
							{{
								t("X0405K.HIGHWAY.GAMEOVER.PC.X04CHANK.HANK.1")
							}}
						</app-dialogue-line>
					</p>

					<h3 id="kara-escape">Kara escapes and Connor survives</h3>
					<p>
						<app-dialogue-line name="Connor">
							<!-- NOTE: No subtitles for this line, so take a substitute -->
							{{
								t("X1302C.ELEVATOR.CAMERA.FA.X13CCONNOR.CAMERA")
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0405K.HIGHWAY.CONNOR.PC.CHOICEGROUP.GIVEUP')
					"
				>
					<p>&oslash;</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Kara">
					{{ t("X0405K.HIGHWAY.SUCCESS.PC.X04KKARA.OKAY.1") }}
				</app-dialogue-line>
			</p>
		</section>
	</section>
</ng-container>
