@import '/src/app/styles/colors.scss';

.container,
.spinner {
    height: 100%;
}

header {
    background-color: rgba(2, 8, 44, 0.883);
    color: #c5c5c5;
    text-align: center;
    h1 {
        margin-top: 1rem;
        font-size: 4rem;
        line-height: 100%;
    }
}

mat-card {
    padding: 3rem;

    mat-divider {
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: inherit !important;
    }
}

/* Inserted content styles */
:host ::ng-deep .chapter-content {
    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #2c2c2c;
    }

    h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: #404040;
    }

    mat-divider {
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: inherit !important;
    }

    section {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .relation {
        img {
            margin-right: 0.2rem;
            margin-left: 0.2rem;
        }

        &.small img {
            max-height: 10px;
        }

        &.large img {
            max-height: 20px;
            position: relative;
            top: 4px;
        }

        &.up {
            color: #0c71b0;
        }

        &.down {
            color: #8f1600;
        }
    }
}
