<main class="main-with-centered-card">
    <ng-container *ngIf="(isLoading$ | async) === false">
        <ng-container *transloco="let t">
            <header class="self-stretch bg-gray-200 bg-opacity-50 text-center">
                <h1 class="mt-8 text-6xl">
                    {{ chapter.number }} -
                    {{ t('GUI.MENU.CHAPTERS.' + chapter.shortIdentifier) }}
                </h1>
            </header>
        </ng-container>
    </ng-container>

    <mat-card class="chapter-card">
        <mat-card-content>
            <!-- Top nav -->
            <ng-container *ngIf="(isLoading$ | async) === false; else loading">
                <app-chapter-nav [chapter]="chapter"></app-chapter-nav>

                <mat-divider></mat-divider>
            </ng-container>

            <!-- Chapter content -->
            <div class="chapter-content">
                <ng-template appChapterContent></ng-template>
            </div>

            <!-- Bottom nav -->
            <ng-container *ngIf="(isLoading$ | async) === false">
                <mat-divider></mat-divider>
                <app-chapter-nav [chapter]="chapter"></app-chapter-nav>
            </ng-container>

            <!-- Loading -->
            <ng-template #loading>
                <div class="spinner flex flex-row justify-center items-center">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </mat-card-content>
    </mat-card>
</main>
