<main class="container" fxLayout="column" fxLayoutAlign="start">
    <ng-container *ngIf="!(isLoading$ | async)">
        <ng-container *transloco="let t">
            <header fxFlexAlign="stretch">
                <h1>
                    {{ chapter.number }} -
                    {{ t('GUI.MENU.CHAPTERS.' + chapter.shortIdentifier) }}
                </h1>
            </header>
        </ng-container>
    </ng-container>

    <mat-card fxFlexAlign="center">
        <mat-card-content>
            <!-- Top nav -->
            <ng-container *ngIf="!(isLoading$ | async); else loading">
                <app-chapter-nav [chapter]="chapter"></app-chapter-nav>

                <mat-divider></mat-divider>
            </ng-container>

            <!-- Chapter content -->
            <div class="chapter-content">
                <ng-template appChapterContent></ng-template>
            </div>

            <!-- Bottom nav -->
            <ng-container *ngIf="!(isLoading$ | async)">
                <mat-divider></mat-divider>
                <app-chapter-nav [chapter]="chapter"></app-chapter-nav>
            </ng-container>

            <!-- Loading -->
            <ng-template #loading>
                <div
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    class="spinner"
                >
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </mat-card-content>
    </mat-card>
</main>
