<main class="flex flex-col justify-start items-center">
    <mat-card class="text-center">
        <h1 class="mat-display-2 mb-5">Credits</h1>
        <p>
            Special thanks to <strong>LadyPocky</strong>,
            <strong>FyreDroid</strong>, <strong>repmet</strong>,
            <strong>aliceZZard</strong>, <strong>Ember</strong>,
            <strong>linlaowee</strong>, <strong>ViktoriaMagrey</strong>,
            <strong>Sitron</strong> and <strong>Sith9560</strong> for their
            contributions to the transcription!
        </p>
    </mat-card>
</main>
