<section>
    <p>
        NOV 6TH, 2038
        <br />AM 09:56
    </p>

    <h1>In the Zen Garden</h1>

    <p>
        <span class="name">Connor</span>: Hello, Amanda. <br /><span
            class="name"
            >Amanda</span
        >: Connor... It's good to see you.
    </p>

    <div class="condition">
        <span class="name"
            >Connor didn't find the deviant in
            <a [routerLink]="['/chapters', 6]">Partners</a></span
        >
        [ <span appRelation="large down">Amanda</span>
        ]
        <div class="condition-text">
            <p>
                <span class="name">Amanda</span>: I expected you to find the
                deviant who killed that man... I must admit I'm a little bit
                disappointed... <br /><span class="name">Connor</span>: I'm
                sorry. I know I should have succeeded. <br /><span class="name"
                    >Amanda</span
                >: Nevermind. I'm sure you'll show more foresight in the future.
            </p>
        </div>
    </div>

    <div class="condition">
        <span class="name"
            >Connor found the deviant in
            <a [routerLink]="['/chapters', 6]">Partners</a></span
        >
        <div class="condition-text">
            <div class="condition">
                <span class="name">Got a confession, without dying</span> [
                <span appRelation="large up">Amanda</span>]
                <div class="condition-text">
                    <span class="name">Amanda</span>: Congratulations, Connor...
                    Finding that deviant was far from easy, and the way you
                    interrogated it was very clever. You've been remarkably
                    efficient, Connor. <br /><span class="name">Connor</span>:
                    Thank you, Amanda. <br /><span class="name">Amanda</span>:
                    We've asked the DPD to transfer it to us for further study.
                    It may teach us something about what happened.
                </div>
            </div>

            <div class="condition">
                <span class="name"
                    >| <i class="fas fa-skull"></i> Connor died during
                    <a [routerLink]="['/chapters', 9]"
                        >The Interrogation</a
                    ></span
                >
                [ <span appRelation="small down">Amanda</span>
                ]
                <div class="condition-text">
                    <span class="name">Amanda</span>: Your predecessor was
                    unfortunately destroyed... It knew deviants could be
                    unpredictable, but it wasn't careful enough... I hope you
                    won't make the same mistake. <br /><span class="name"
                        >Connor</span
                    >: I don't intend to. <br /><span class="name">Amanda</span
                    >: When a Connor model is destroyed, its memory is
                    transferred to the next one, but some data can be lost in
                    the process. Avoid being destroyed. It will be better for
                    you and the investigation... <br /><span class="name"
                        >Connor</span
                    >: I understand.
                </div>
            </div>

            <div class="condition">
                <span class="name"
                    >Connor found the deviant but didn't get a confession in
                    <a [routerLink]="['/chapters', 9]"
                        >The Interrogation</a
                    ></span
                >
                [ <span appRelation="small down">Amanda</span>
                ]
                <div class="condition-text">
                    <p>
                        <span class="name">Amanda</span>: Finding that deviant
                        was far from easy...you showed great skill in your
                        investigation. But you knew deviants could be unstable.
                        You should have been more cautious. <br /><span
                            class="name"
                            >Connor</span
                        >: I thought I could make it talk... It was a judgement
                        error. <br /><span class="name">Amanda</span>:
                        Nevermind. I'm sure you'll be more careful in the
                        future.
                    </p>
                </div>
            </div>

            <mat-divider></mat-divider>

            <p>
                <span class="name">Amanda</span>: The interrogation
                seemed...challenging... What did you think of the deviant?
            </p>

            <div class="choices">
                <em>TRAUMATIZED</em>
                <div class="choice">
                    <span class="name">Connor</span>: It showed signs of PTSD
                    after being abused by its owner, as if its original program
                    had been completely replaced by new instructions.
                </div>
                <em>DEVIANCY</em>
                <div class="choice">
                    <span class="name">Connor</span>: It showed all the signs of
                    deviancy: cognitive instability, unpredictable behavior, and
                    the emulation of human emotions. It was even afraid to die.
                    The model was clearly defective.
                </div>
                <em>INTERVENTION</em> [
                <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked by
                intervening and saving the deviant in
                <a [routerLink]="['/chapters', 9]">The Interrogation</a>]
                <div class="choice">
                    <span class="name">Connor</span>: I prevented it from being
                    damaged, so we might still learn something by analyzing it.
                    It said something to me: "The truth is inside". I don't know
                    what that means... Unless it was just another error in its
                    program.
                </div>
                <em>REGRETS</em> [ <i class="fas fa-skull"></i> unlocked if
                Connor died in
                <a [routerLink]="['/chapters', 9]">The Interrogation</a>]
                <div class="choice">
                    <span class="name">Connor</span>: It could've killed
                    everyone in the room. The previous Connor should have
                    anticipated the danger. It was a mistake to let an armed
                    policeman so close to the deviant.
                </div>
                <em>SIMULATION</em>
                <div class="choice">
                    <span class="name">Connor</span>: It simulated human
                    emotion, fear in particular, in a very convincing way. It
                    seemed completely overwhelmed by them, and behaved
                    irrationally.
                </div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <p>
        <span class="name">Amanda</span>: This... Lieutenant Anderson has been
        officially assigned to the deviancy case... What do you make of him?
    </p>

    <div class="choices">
        <em>UNPLEASANT</em>
        <div class="choice">
            <span class="name">Connor</span>: I find him unpleasant and
            unprofessional. He seems to have an addictive personality, has a
            lack of respect for procedure, and despises androids - which makes
            our relationship difficult.
        </div>
        <em>DYSFUNCTIONAL</em>
        <div class="choice">
            <span class="name">Connor</span>: I would define him as
            "dysfunctional". He obviously has a personal situation impacting his
            professional behavior and...seems to have no interest in the
            investigation.
        </div>
        <em>INTRIGUING</em>
        <div class="choice">
            <span class="name">Connor</span>: I think he's irritable, and
            socially challenged. But I also think he used be a good detective...
            He's an intriguing character.
        </div>
        <em>UNSURE</em>
        <div class="choice">
            <span class="name">Connor</span>: He's obviously not what I was
            expecting, but... I don't have enough information yet to form a
            definitive opinion.
        </div>
    </div>

    <p>
        <span class="name">Amanda</span>: Unfortunately, we have no choice but
        to work with him... What do you think is the best approach?
    </p>

    <div class="choices">
        <em>FRIENDLY</em> [ <span appRelation="small down">Amanda</span>
        ]
        <div class="choice">
            <span class="name">Connor</span>: I will try to establish a friendly
            relationship. If I can get him to trust me, it will be helpful for
            the investigation.
        </div>
        <em>ADAPT</em> [ <span appRelation="small down">Amanda</span>
        ]
        <div class="choice">
            <span class="name">Connor</span>: I will adapt to his personality.
            It is in the best interest of the investigation that I avoid
            conflict and try to accommodate his psychology.
        </div>
        <em>INDIFFERENT</em> [ <span appRelation="small up">Amanda</span>
        ]
        <div class="choice">
            <span class="name">Connor</span>: I will focus on the investigation
            and try to ignore him. As long as he doesn't interfere and we avoid
            confIict, he shouldn't be a problem.
        </div>
        <em>DON'T KNOW</em>
        <div class="choice">
            <span class="name">Connor</span>: I don't have enough data to decide
            that yet. I'll learn more about him and try to adapt my behavior
            accordingly.
        </div>
    </div>

    <p>
        <span class="name">Amanda</span>: More and more androids show signs of
        deviancy. There are millions in circulation. If they become unstable,
        the consequences will be disastrous. You are the most advanced prototype
        CyberLife has ever created. If anyone can figure out what's happening,
        it's you. <br /><span class="name">Connor</span>: You can count on me,
        Amanda.
    </p>

    <div class="condition">
        <span class="name"
            >| <i class="fas fa-skull"></i> Connor died in
            <a [routerLink]="['/chapters', 9]">The Interrogation</a></span
        >
        <div class="condition-text">
            <span class="name">Amanda</span>: Pick up the investigation where
            the previous Connor left off, and put a stop to this.
        </div>
    </div>

    <span class="name"
        >Connor failed to find the deviant in
        <a [routerLink]="['/chapters', 6]">Partners</a></span
    >
    <div class="condition-text">
        <span class="name">Amanda</span>: Continue your investigation and put a
        stop to this.
    </div>

    <span class="name">Amanda</span>: Hurry, Connor. There's little time.
</section>

<section>
    <h1>In the Police Station</h1>

    <h2>At the reception</h2>

    <p>
        <strong>Talking to the android at the reception</strong>
        <br /><span class="name">Android</span>: Can I help you? <br /><span
            class="name"
            >Connor</span
        >: I'm here to see Lieutenant Anderson. <br /><span class="name"
            >Android</span
        >: Do you have authorization? <br /><span class="name">Connor</span>:
        Yes. <br /><span class="name">Android</span>: Lieutenant Anderson hasn't
        arrived yet, but you can wait at his desk.
    </p>

    <p>
        <strong>Couple at the reception</strong>
        <br /><span class="name">Woman</span>: I'm getting nervous, Mark.
        <br /><span class="name">Man</span>: It's okay... It's okay, just
        relax... Just tell 'em what happened to you. <br /><span class="name"
            >Woman</span
        >: But it was all over so quickly... I didn't even see his face!
        <br /><span class="name">Man</span>: Any little detail might help them
        catch the guy...you never know.
    </p>

    <p>
        <strong>Couple next to the TV</strong>
        <br /><span class="name">Woman</span>: You might be in shock, just....
        Just take it easy. <br /><span class="name">Man</span>: Yeah... Would
        you mind getting me some water, please? <br /><span class="name"
            >Woman</span
        >: Sure. There you go. <br /><span class="name">Man</span>: Thanks... I
        needed that. <br /><span class="name">Woman</span>: It shouldn't be too
        long now.
    </p>

    <p>
        <strong><i class="fas fa-tv"></i> Looking at television</strong>
        <br /><span class="name">Michael Brinkley - CTN TV</span>: Tensions in
        the Arctic have reached a new level, with a Russian carrier and an
        American patrol boat reported to have clashed last night. Several
        warning shots were exchanged, apparently with no damage or casualties to
        either side. The Minister for Defense, Denis Riggs, has spoken of
        "intolerable provocation that cannot go unanswered". The countries in
        the region, particularly Sweden and Canada, have called for military
        forces to withdraw and an international conference to be held. So far,
        there has been no response from either Moscow or Washington. We'll keep
        you informed minute by minute as the situation develops.
    </p>

    <h2>In the station</h2>

    <div class="condition">
        <span class="name"
            >| <i class="fas fa-skull"></i> Deviant shot Connor during
            <a [routerLink]="['/chapters', 9]">The Interrogation</a></span
        >
        <div class="condition-text">
            <span class="name">Ben</span>: No shit? That fucking machine could
            have killed everyone in the room...
        </div>
    </div>

    <p>
        <strong>Asking police android about the desk</strong>
        <br /><span class="name">Connor</span> : I'm looking for Lieutenant
        Anderson's desk. <br /><span class="name">Android</span> : It's that
        desk right there.
    </p>

    <p>
        <strong>Looking at guy in cell</strong>
        <br /><span class="name">Guy</span> : What?.. What are you lookin' at?..
        Hey, fuck you! Fuckin' android...
    </p>

    <div class="condition">
        <strong>Talking with Carlos Ortiz's android</strong> [
        <i class="fas fa-lock-open fa-flip-horizontal"></i> if the deviant
        didn't die in <a [routerLink]="['/chapters', 9]">The Interrogation</a>]
        <div class="condition-text">
            <span class="name">Deviant</span>: They're gonna destroy me...
            <div class="choices">
                <em>SINCERE</em>
                <div class="choice">
                    <span class="name">Connor</span>: It's probable. They have
                    to analyse your biocomponents. They need to understand what
                    happened.
                </div>
                <em>COLD</em>
                <div class="choice">
                    <span class="name">Connor</span>: My objective was to
                    capture you alive. What happens now is not my problem.
                </div>
                <em>COMPASSIONATE</em> [
                <span appRelation="small up">Software instability</span>
                ]
                <div class="choice">
                    <span class="name">Connor</span>: I'm sorry. It's not what I
                    wanted but there's nothing I can do.
                </div>
                <em>INDIFFERENT</em>
                <div class="choice">
                    <span class="name">Connor</span>: You're only a machine. It
                    doesn't matter.
                </div>
            </div>

            <span class="name">Connor</span>: I know there's something you
            didn't tell me. I need to know, before they take you away...

            <div class="choices">
                <em>[ STATUETTE ]</em> [
                <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked by
                looking at the statuette in
                <a [routerLink]="['/chapters', 6]">Partners</a>]
                <div class="choice">
                    <span class="name">Connor</span>: The sculpture you made...
                    Tell me more about it...
                </div>
                <em>SECRET</em>
                <div class="choice">
                    <span class="name">Connor</span>: What you said yesterday...
                    "the truth is inside"... What does it mean?
                </div>
                <em>rA9</em>
                <div class="choice">
                    <span class="name">Connor</span>: What you wrote on the
                    wall...rA9... What does it mean?
                </div>
                <em>DEVIANTS</em>
                <div class="choice">
                    <span class="name">Connor</span>: Do you know any other
                    deviants? Are there many of you?
                </div>
            </div>

            <p>
                <span class="name">Deviant</span>: I'm going to die...
                <br /><span class="name">Ben</span>: Open the cell, quick!
                Hurry! I'll call CyberLife... Clean this mess up...
            </p>
        </div>
    </div>

    <p>
        <strong>Going into the break room</strong>
    </p>
    <div class="condition">
        <span class="name"
            >Connor found the deviant in
            <a [routerLink]="['/chapters', 6]">Partners</a></span
        >
        <div class="condition-text">
            <div class="condition">
                <span class="name"
                    >| <i class="fas fa-skull"></i> Connor died in
                    <a [routerLink]="['/chapters', 9]"
                        >The Interrogation</a
                    ></span
                >
                <div class="condition-text">
                    <span class="name">Gavin</span>: Shit... Look at that...a
                    fucking ghost... His clone ends up in a dumpster, but this
                    morning, what do you know?! Another son of a bitch takes his
                    place...
                </div>
            </div>
            <div class="condition">
                <span class="name"
                    >Connor didn't die in
                    <a [routerLink]="['/chapters', 9]"
                        >The Interrogation</a
                    ></span
                >
                <div class="condition-text">
                    <span class="name">Gavin</span>: Fuck, look at that... Our
                    friend the plastic detective is back in town!
                    Congratulations on last night, very impressive!
                    <div class="condition">
                        <span class="name"
                            >Didn't get a confession in
                            <a [routerLink]="['/chapters', 9]"
                                >The Interrogation</a
                            ></span
                        >
                        <div class="condition-text">
                            <span class="name">Gavin</span>: Could've got
                            something outta that android if you haven't fucked
                            it up...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="condition">
        <span class="name"
            >Connor didn't find the deviant in
            <a [routerLink]="['/chapters', 6]">Partners</a></span
        >
        <div class="condition-text">
            <span class="name">Gavin</span>: Look at that! It seems Hank has a
            new partner! Fucking plastic detective! Hey! You his drinking buddy?
            You bring him home when he's too drunk to find his car? Ha, he
            stinks of booze!
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>GREET</em>
        <div class="choice">
            <span class="name">Connor</span>: Hello, Detective Reed.
        </div>
        <em>INTRODUCE</em>
        <div class="choice">
            <span class="name">Connor</span>: Hello, My name is Connor.
        </div>
        <em>IGNORE</em>
        <div class="choice">&oslash;</div>
    </div>

    <p>
        <span class="name">Gavin</span>: Never seen an android like you
        before... What model are you?
    </p>

    <div class="choices">
        <em>ANSWER</em>
        <div class="choice">
            <p>
                <span class="name">Connor</span>: RK800. I'm a prototype.
                <br /><span class="name">Gavin</span>: A prototype? Android
                detective... So machines are gonna... replace us all...is that
                it?..
            </p>
        </div>
        <em>REFUSE</em>
        <div class="choice">
            <span class="name">Connor</span>: I'm sorry, but I'm not authorized
            to answer you. If you have any questions, please contact your
            superior.
        </div>
        <em>IGNORE</em>
        <div class="choice">
            <span class="name">Gavin</span>: Hey, asshole, I'm talkin' to you!
        </div>
    </div>

    <p>
        <span class="name">Gavin</span>: Hey, bring me a coffee, dipshit! GET A
        MOVE ON!
    </p>

    <div class="choices">
        <em>ACCEPT</em>
        <div class="choice">
            <span class="name">Gavin</span>: Do yourself a favor, stay outta my
            way.
        </div>
        <em>REFUSE</em>
        <div class="choice">
            <p>
                <span class="name">Connor</span>: I'm sorry, but I only take
                orders from Lieutenant Anderson. <br /><span class="name"
                    >Gavin</span
                >: Oh...Oh...
            </p>
            <div class="condition">
                <span class="name"
                    >Connor intervened during
                    <a [routerLink]="['/chapters', 9]"
                        >The Interrogation</a
                    ></span
                >
                <div class="condition-text">
                    <span class="name">Gavin</span>: If Hank hadn't got in the
                    way yesterday, I would've fucked you up for disobeying a
                    human. Stay outta my way...'Cause next time... You won't get
                    off so easy.
                </div>
            </div>
            <div class="condition">
                <span class="name"
                    >Connor didn't intervene in
                    <a [routerLink]="['/chapters', 9]"
                        >The Interrogation</a
                    ></span
                >
                <div class="condition-text">
                    <span class="name">Gavin</span>: When a human gives you an
                    order, you obey. Got it? Stay outta my way... Next time, you
                    won't get off so easy.
                </div>
            </div>
        </div>
        <em>IGNORE</em>
        <div class="choice">
            <p>
                <span class="name">Gavin</span>: I gave you an order!
                <br /><span class="note"
                    >The same dialogue as REFUSE will continue after that.</span
                >
            </p>
        </div>
    </div>

    <p>
        <strong><i class="fas fa-tv"></i> Listening to break room TV</strong>
    </p>
    <div class="condition">
        Connor found Ortiz's android in
        <a [routerLink]="['/chapters', 6]">Partners</a>
        <div class="condition-text">
            <span class="name">Michael Brinkley - CTN TV</span>: Several sources
            report that CyberLife has provided Detroit Police with a prototype
            detective android. Although police assistant androids have existed
            for several years now, this would be the first case of an android
            being authorized to play an active role in criminal investigations.
            We contacted CyberLife for comment but no one was available to
            answer our questions.
        </div>
    </div>
    <div class="condition">
        Connor didn't find Ortiz's android in
        <a [routerLink]="['/chapters', 6]">Partners</a> [
        <span appRelation="small down">Public opinion</span>
        ]
        <div class="condition-text">
            <span class="name">Michael Brinkley - CTN TV</span>: Detroit Police
            found the body of thirty-year-old Carlos Ortiz in his home last
            night, following calls from concerned neighbors. Known to the police
            as a petty criminal, Mr. Ortiz is reported to have suffered from a
            psychiatric condition and rarely left his apartment. He is thought
            to have died several weeks ago. The police are conducting forensic
            tests but appear to be treating the death as a homicide. The
            victim's android is also reported missing. We'll bring you more on
            that story as it develops.
        </div>
    </div>

    <p>
        <span class="name">Rosanna Cartland - KNC</span>: The first book written
        by an artificial intelligence has just been published and to call it a
        success would be an understatement - Do Humans Dream of Mammalian Sheep?
        has shot to the top of the bestseller list. Moreover, critics are
        unanimous in their praise for the depth of thought and originality of
        this first work. Designed by CyberLife, the AI known as VOLTAIRE
        analyzed human centers of interest on social networks for several months
        before its complex algorithms generated the plot of the novel. According
        to several specialists, it will be very difficult for human authors to
        compete with these algorithms and the odds are that most of the books
        written in the coming years will be the work of artificial intelligence.
    </p>

    <p>
        <strong>Background dialogues</strong>
        <br />- Hey, you take a look at these samples yet? <br />- Lab report
        says they cut it with something. <br />- Maybe they're trying out a new
        form of red ice?

        <br />- All right... I'll chase it up.

        <br />- You and you, come with me.
    </p>

    <p>
        <strong>Finding Hank's desk</strong>
        <br /><span class="name">Connor</span>: Excuse me? Do you know what time
        Lieutenant Anderson usually arrives? <br /><span class="name"
            >Wilson</span
        >: Depends on where he was the night before... If we're lucky, we'll see
        him before noon... <br /><span class="name">Connor</span>: Thanks.
    </p>

    <p>
        <strong>Calling Hank</strong>
        <br /><span class="name">Connor</span>: Call Hank Anderson. <br /><span
            class="name"
            >Hank</span
        >: Hi, this is Hank. Not here at the moment. You can leave a message if
        that's what turns you on but don't expect me to call back. Beep...
        Whatever.
    </p>
    <div class="choices">
        <em>LEAVE A MESSAGE</em>
        <div class="choice">
            <span class="name">Connor</span>: Lieutenant Anderson? This is
            Connor, I'm the android sent by CyberLife. It's almost noon and I'm
            waiting for you at the office.
        </div>
    </div>

    <p>
        <strong>Talking to Chris Miller</strong>
    </p>
    <div class="condition">
        <span class="name"
            >| <i class="fas fa-skull"></i> Connor died in
            <a [routerLink]="['/chapters', 9]">The Interrogation</a></span
        >
        <div class="condition-text">
            <span class="name">Chris</span>: Good Lord! They already repaired
            you? <br /><span class="name">Connor</span>: Unfortunately, my
            predecessor was too damaged to be repaired. I'm the new Connor.
            <br /><span class="name">Chris</span>: They don't waste any time
            over at CyberLife... I don't think Hank's gonna be overjoyed to see
            you...
        </div>
    </div>

    <div class="condition">
        <span class="name"
            >Connor didn't die in
            <a [routerLink]="['/chapters', 9]">The Interrogation</a></span
        >
        <div class="condition-text">
            <span class="name">Chris</span>: You still here? I thought your
            assignment was over. <br /><span class="name">Connor</span>: It's
            just been extended. <br /><span class="name">Chris</span>: Hank's
            gonna be overjoyed to hear that...
            <div class="condition">
                <span class="name"
                    >Connor intervened in
                    <a [routerLink]="['/chapters', 9]"
                        >The Interrogation</a
                    ></span
                >
                <div class="condition-text">
                    <span class="name">Chris</span>: You were right about that
                    android... it's been quiet in the cell all night. Scheduled
                    for transfer today.
                </div>
            </div>
        </div>
    </div>

    <p>
        <strong>Wilson is on the phone</strong>
        <br /><span class="name">Wilson</span>: Hi, you okay? Listen, (???).
        Don't be silly. Of course I wanna see you. Baby, listen, I can't talk
        right now. I'm in the office. Yeah, okay. Love you too.
    </p>

    <h3>Hank arrives at his desk</h3>

    <div class="condition">
        <span class="name"
            >| <i class="fas fa-skull"></i> Connor died in
            <a [routerLink]="['/chapters', 9]">The Interrogation</a></span
        >
        [ <span appRelation="small down">Hank</span>
        ]
        <div class="condition-text">
            <span class="name">Connor</span>: Hello, Lieutenant. My name is
            Connor. I'm the android sent by CyberLife. <br /><span class="name"
                >Hank</span
            >: God, I saw you get shot in the head last night... <br /><span
                class="name"
                >Connor</span
            >: My predecessor was unfortunately destroyed, but CyberLife
            transferred its memory and sent me to replace it. This incident
            should not affect the investigation. <br /><span class="name"
                >Hank</span
            >: Uh, Jesus...
        </div>
    </div>
    <div class="condition">
        <span class="name"
            >Connor didn't die in
            <a [routerLink]="['/chapters', 9]">The Interrogation</a></span
        >
        <div class="condition-text">
            <span class="name">Connor</span>: It's good to see you again,
            Lieutenant. <br /><span class="name">Hank</span>: Uh, Jesus...
        </div>
    </div>

    <p><span class="name">Fowler</span>: Hank! In my office!</p>

    <div class="condition">
        <strong>Entering and listening</strong>
        <div class="condition-text">
            <span class="name">Fowler</span>: I've got ten new cases involving
            androids on my desk every day. We've always had isolated incidents,
            old ladies losing their android maid and that kind of crap... But
            now, we're getting reports of assaults and even homicides, like that
            guy last night... This isn't just CyberLife's problem anymore. It's
            now a criminal investigation and we've gotta deal with it before the
            shit hits the fan. I want you to investigate these cases and see if
            there's any link. <br /><span class="name">Hank</span>: Why me? Why
            do I gotta be the one to deal with this shit? I am the least
            qualified cop in the country to handle this case! I know jack shit
            about androids, Jeffrey! I can barely change the settings on my own
            phone... <br /><span class="name">Fowler</span>: Everybody's
            overloaded. I think you're perfectly qualified for this type of
            investigation. <br /><span class="name">Hank</span>: Bullshit! The
            truth is nobody wants to investigate these fuckin' androids and you
            left me holdin' the bag! <br /><span class="name">Fowler</span>:
            CyberLife sent over this android to help with the investigation.
            It's a state-of-the-art prototype. It'll act as your partner.
            <br /><span class="name">Hank</span>: No fuckin' way! I don't need a
            partner, and certainly not this plastic prick! <br /><span
                class="name"
                >Fowler</span
            >: Hank, you are seriously starting to piss me off! You are a police
            lieutenant, you are supposed to do what I say and shut your goddamn
            mouth! <br /><span class="name">Hank</span>: You know what my
            goddamn mouth has to say to you, huh? <br /><span class="name"
                >Fowler</span
            >: Ok, ok... I'll pretend like I didn't hear that, so I don't have
            to add any more pages to your disciplinary folder 'cause it already
            looks like a fuckin' novel! This conversation is over! <br /><span
                class="name"
                >Hank</span
            >: Jeffrey, Jesus Christ! Why are you doin' this to me? You know how
            much I hate these fuckin' things. Why you doin' this to me?
            <br /><span class="name">Fowler</span>: Listen, I've had just about
            enough of your bitching. Either you do your job or you hand in your
            badge. Now if you'll excuse me, I've got work to do.

            <div class="choices">
                <em>ANDERSON</em>
                <div class="choice">
                    <p>
                        <span class="name">Connor</span>: I wonder whether
                        Lieutenant Anderson is really the best person for this
                        investigation. <br /><span class="name">Fowler</span>:
                        Hey, I don't need a machine to tell me how to handle my
                        men, okay? So get the fuck outta my office.
                    </p>
                </div>
                <em>POSITIVE</em>
                <div class="choice">
                    <p>
                        <span class="name">Connor</span>: I'm very pleased to
                        have joined the team. I can assure you I'll do my very
                        best- <br /><span class="name">Fowler</span>: Close the
                        door on your way out.
                    </p>
                </div>
                <em>FILE</em>
                <div class="choice">
                    <p>
                        <span class="name">Connor</span>: I would like to start
                        reviewing the case files. Can you tell where I-
                        <br /><span class="name">Fowler</span>: Talk to Hank.
                        Close the door on your way out.
                    </p>
                </div>
                <em>LEAVE</em>
                <div class="choice">&oslash;</div>
            </div>

            <span class="name">Connor</span>: Have a nice day, Captain.
        </div>
    </div>

    <strong>Checking on Hank</strong>
    <div class="choices">
        <em>[ NEW CONNOR ]</em> [ <i class="fas fa-skull"></i> unlocked if
        Connor died in <a [routerLink]="['/chapters', 9]">The Interrogation</a>]
        <div class="choice">
            <span class="name">Connor</span>: I understand the destruction of my
            predecessor may have been unpleasant for you, Lieutenant. I'll do
            everything I can to make sure it doesn't happen again.
        </div>
        <em>[ LAST NIGHT ]</em> [
        <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked by spilling
        Hank's drink in <a [routerLink]="['/chapters', 6]">Partners</a>]
        <div class="choice">
            <span class="name">Connor</span>: I'm...sorry I bothered you at the
            bar last night, Lieutenant. I guess I ruined your evening...
        </div>
        <em>UNDERSTANDING</em>
        <div class="choice">
            <span class="name">Connor</span>: I get the impression my presence
            causes you some inconvenience, Lieutenant. I'd like you to know I'm
            very sorry about that.
        </div>
        <em>PRAGMATIC</em>
        <div class="choice">
            <span class="name">Connor</span>: Listen, I know you don't like me,
            but we're going to have to work together, we'll both have to make an
            effort.
        </div>
        <em>CONSTRUCTIVE</em>
        <div class="choice">
            <span class="name">Connor</span>: It's an honor to be working with
            you, Lieutenant. I'm sure we'll make a great team.
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>PARTNERS</em>
        <div class="choice">
            <span class="name">Connor</span>: Now that we're partners, it would
            be great to get to know each other better.
        </div>
        <em>POSITIVE</em>
        <div class="choice">
            <span class="name">Connor</span>: In any case, I'd like you to know
            I'm very happy to be working with you. I'm sure we'll make a great
            team.
        </div>
        <em>DESK</em>
        <div class="choice">
            <p>
                <span class="name">Connor</span>: Is there a desk anywhere I
                could use? <br /><span class="name">Hank</span>: No one's using
                that one.
            </p>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>[ DOG ]</em> [
        <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked by
        analysing the dog hairs on the chair] [
        <span appRelation="small up">Hank</span>
        ]
        <div class="choice">
            <p>
                <span class="name">Connor</span>: You have a dog, right?
                <br /><span class="name">Hank</span>: How do you know that?
                <br /><span class="name">Connor</span>: The dog hairs on your
                chair. I like dogs. What's your dog's name? <br /><span
                    class="name"
                    >Hank</span
                >: What's it to you? Sumo, I call him Sumo.
            </p>
        </div>
        <em>[ BASKETBALL ]</em> [
        <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked by
        analysing the basketball cap] [
        <span appRelation="small down">Hank</span>
        ]
        <div class="choice">
            <p>
                <span class="name">Connor</span>: You're a Detroit Gears fan,
                right? Denton Carter scored 53% of his shots from the
                three-point line yesterday. Did you see the game? <br /><span
                    class="name"
                    >Hank</span
                >: That's what I was watchin' at the bar last night. <br /><span
                    class="name"
                    >Connor</span
                >: Oh...
            </p>
        </div>
        <em>[ MUSIC ]</em> [
        <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked by
        listening to Hank's music] [ <span appRelation="small up">Hank</span>
        ]
        <div class="choice">
            <p>
                <span class="name">Connor</span>: Do you listen to Knights of
                the Black Death? I really like that music. It's...full of
                energy... <br /><span class="name">Hank</span>: You listen to
                Heavy Metal? <br /><span class="name">Connor</span>: Well, I
                don't really listen to music, as such...but I'd like to.
            </p>
        </div>
        <em>[ ANTI-ANDROIDS ]</em> [
        <i class="fas fa-lock-open fa-flip-horizontal"></i> unlocked by looking
        at the anti-androids stickers] [
        <span appRelation="small down">Hank</span>
        ]
        <div class="choice">
            <p>
                <span class="name">Connor</span>: A lot of people don't
                appreciate having androids around... I was wondering... Is there
                any reason in particular you despise me? <br /><span
                    class="name"
                    >Hank</span
                >: Yeah...there is one.
            </p>
        </div>
        <em>FOWLER</em>
        <div class="choice">
            <p>
                <span class="name">Connor</span>: Have you known captain Fowler
                for long? <br /><span class="name">Hank</span>: Yeah... Too
                long.
            </p>
        </div>
        <em>HOURS</em>
        <div class="choice">
            <p>
                <span class="name">Connor</span>: I was wondering... Do you
                always arrive at the office at this time? <br /><span
                    class="name"
                    >Hank</span
                >: I arrive when I arrive. Stop busting my balls, okay?
            </p>
        </div>
        <em>START WORKING</em>
        <div class="choice">
            <p>
                <span class="name">Connor</span>: If you have any files on
                deviants, I'd like to take a look at them... <br /><span
                    class="name"
                    >Hank</span
                >: Terminal's on your desk. Knock yourself out. <br /><span
                    class="name"
                    >Connor</span
                >: 243 files... The first dates back nine months... It all
                started in Detroit... And quickly spread across the country...
            </p>
            <div class="condition">
                <span class="name"
                    >Kara didn't kill Todd in
                    <a [routerLink]="['/chapters', 7]">Stormy Night</a></span
                >
                <div class="condition-text">
                    <span class="name">Connor</span>: An AX400 is reported to
                    have assaulted a man last night. That could be a good
                    starting point for our investigation.
                </div>
            </div>

            <div class="condition">
                <span class="name"
                    >Kara killed Todd in
                    <a [routerLink]="['/chapters', 7]">Stormy Night</a></span
                >
                <div class="condition-text">
                    <span class="name">Connor</span>: An AX400 is reported to
                    have murdered a man last night. That could be a good
                    starting point for our investigation.
                </div>
            </div>

            <div class="condition">
                <span class="name"
                    >| <i class="fas fa-skull"></i> Kara died in
                    <a [routerLink]="['/chapters', 7]">Stormy Night</a></span
                >
                <div class="condition-text">
                    <span class="name">Connor</span>: We could follow up on one
                    of these cases. See if we could figure out what happened.
                    That might be a good way to start the investigation. What do
                    you think?
                </div>
            </div>

            <p><span class="name">Hank</span>: Uh, Jesus...</p>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>DIRECT</em>
        <div class="choice">
            <p>
                <span class="name">Connor</span>: You shouldn't let your
                personal situation hamper the investigation, Lieutenant.
                <br /><span class="name">Hank</span>: You don't know what the
                hell you're talking about. So why don't you just run your
                program and shut the fuck up?
            </p>
        </div>
        <em>AGGRESSIVE</em>
        <div class="choice">
            <p>
                <span class="name">Connor</span>: If the situation doesn't suit
                you, Lieutenant, you should ask to be relieved of duties and let
                me work with someone else. <br /><span class="name">Hank</span>:
                I know exactly what I have to do! So keep your advice to
                yourself and mind your own business! Fuckin'...
            </p>
        </div>
        <em>PROFESSIONAL</em>
        <div class="choice">
            <p>
                <span class="name">Connor</span>: I know you didn't ask for this
                investigation, Lieutenant, but I'm sure you're a professional.
                <br /><span class="name">Hank</span>: Why don't you go fuck
                yourself?
            </p>
        </div>
        <em>UNDERSTANDING</em>
        <div class="choice">
            <p>
                <span class="name">Connor</span>: I understand you're facing
                personal issues, Lieutenant, but you need to move past them...
                and- <br /><span class="name">Hank</span>: Hey! Don't talk to me
                like you know me. I'm not your friend and I don't need your
                advice, okay?
            </p>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>DETERMINED</em>
        <div class="choice">
            <span class="name">Connor</span>: I've been assigned this mission,
            Lieutenant. I didn't come here to wait until you feel like working.
        </div>
        <em>RESIGN THE MISSION</em>
        <div class="choice">
            <span class="name">Connor</span>: I suggest you sort out your
            personal issues and let me work with someone more competent.
        </div>
        <em>THREATEN</em>
        <div class="choice">
            <span class="name">Connor</span>: I'm going to file a report with my
            superiors that you refuse to work on this investigation.
        </div>
    </div>

    <p>
        <span class="name">Hank</span>: Listen, asshole. If it was up to me, I'd
        throw the lot of you in a dumpster and set a match to it. So, stop
        pissing me off... or things are gonna get nasty.
    </p>

    <div class="condition">
        <span class="name"
            >Kara didn't die in
            <a [routerLink]="['/chapters', 7]">Stormy Night</a></span
        >
        <div class="condition-text">
            <div class="condition">
                <span class="name"
                    >Kara didn't kill Todd in
                    <a [routerLink]="['/chapters', 7]">Stormy Night</a></span
                >
                <div class="condition-text">
                    <span class="name">Chris</span>: Lieutenant...uh...sorry to
                    disturb you. I have some information on the AX400 that
                    attacked the guy last night... It's been seen in the
                    Ravendale district.
                </div>
            </div>
            <div class="condition">
                <span class="name"
                    >Kara killed Todd in
                    <a [routerLink]="['/chapters', 7]">Stormy Night</a></span
                >
                <div class="condition-text">
                    <span class="name">Chris</span>: Lieutenant...uh...sorry to
                    disturb you. I have some information on the AX400 that
                    killed the guy last night... It's been sighted in the
                    Ravendale district.
                </div>
            </div>
            <span class="name">Hank</span>: I'm on it.
        </div>
    </div>
    <div class="condition">
        <span class="name"
            >| <i class="fas fa-skull"></i> Kara died in
            <a [routerLink]="['/chapters', 7]">Stormy Night</a></span
        >
        <div class="condition-text">
            <span class="name">Connor</span>: Where are you going? <br /><span
                class="name"
                >Hank</span
            >: Lunch. Bullshit makes me hungry.
        </div>
    </div>
</section>
