<ng-container *transloco="let t">
	<section aria-labelledby="rose-house">
		<h1 id="rose-house">At Rose's house</h1>

		<p>
			{{ t("GUI.MENU.DATE.08K") }}
			<br />
			{{ t("GUI.MENU.TIME.08K") }}
		</p>

		<p>
			<app-dialogue-line name="Kara">
				{{
					translationService.translateObject(
						"X0801K.INTRO.ADAM.PC.X08KKARA.HELLO",
						0,
						3
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Adam">
				{{ t("X0801K.INTRO.ADAM.PC.X08KADAM.HELLO.1") }}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{ t("X0801K.INTRO.ADAM.PC.X08KKARA.HELLO.4") }}
			</app-dialogue-line>
			<app-dialogue-line name="Adam">
				{{ t("X0801K.INTRO.ADAM.PC.X08KADAM.HELLO.2") }}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{ t("X0801K.INTRO.ADAM.PC.X08KKARA.HELLO.5") }}
			</app-dialogue-line>
			<app-dialogue-line name="Rose">
				{{
					translationService.translateObject(
						"X0801K.INTRO.ADAM.PC.X08KROSE.HELLO",
						0,
						2
					) | async
				}}
			</app-dialogue-line>
			<app-dialogue-line name="Kara">
				{{ t("X0801K.INTRO.ADAM.PC.X08KKARA.HELLO.6") }}
			</app-dialogue-line>
			<app-dialogue-line name="Rose">
				{{
					translationService.translateObject(
						"X0801K.INTRO.ADAM.PC.X08KROSE.HELLO",
						2
					) | async
				}}
			</app-dialogue-line>
		</p>

		<app-conditioned-content>
			<div class="condition">
				<p>Luther is alive</p>
			</div>
			<div class="content">
				<p>
					<app-dialogue-line name="Luther">
						{{
							t(
								"X0801K.DOORSTEP.TRUST.FA.X08KLUTHER.TRUSTQUESTION"
							)
						}}
					</app-dialogue-line>
				</p>

				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t('X0801K.DOORSTEP.TRUST.FA.CHOICEGROUP.DISTRUST')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									translationService.translateObject(
										"X0801K.DOORSTEP.TRUST.FA.X08KKARA.DISTRUST"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Luther">
								{{
									t(
										"X0801K.DOORSTEP.TRUST.FA.X08KLUTHER.DISTRUST"
									)
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X0801K.DOORSTEP.TRUST.FA.CHOICEGROUP.TRUST')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									t("X0801K.DOORSTEP.TRUST.FA.X08KKARA.TRUST")
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
				</app-choice-group>
			</div>
		</app-conditioned-content>
		<app-conditioned-content>
			<div class="condition">
				<p>
					Luther died in
					<a [routerLink]="['/chapters', 21]">The Pirate's Cove</a>'s
					unused chase scene
				</p>
			</div>
			<div class="content">
				<app-unused-content>
					<p>
						<app-dialogue-line name="Alice">
							{{
								t(
									"X0801K.DOORSTEP.TRUST.FA.X08KALICE.TRUSTALICE"
								)
							}}
						</app-dialogue-line>
					</p>

					<app-choice-group>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0801K.DOORSTEP.TRUST.FA.CHOICEGROUP.DISTRUST'
								)
							"
						>
							<p>
								<app-dialogue-line name="Kara">
									{{
										translationService.translateObject(
											"X0801K.DOORSTEP.TRUST.FA.X08KKARA.DISTRUST"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Alice">
									{{
										t(
											"X0801K.DOORSTEP.TRUST.FA.X08KALICE.DISTRUSTALICE"
										)
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t('X0801K.DOORSTEP.TRUST.FA.CHOICEGROUP.TRUST')
							"
						>
							<p>
								<app-dialogue-line name="Kara">
									{{
										t(
											"X0801K.DOORSTEP.TRUST.FA.X08KKARA.TRUST"
										)
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
					</app-choice-group>
				</app-unused-content>
			</div>
		</app-conditioned-content>

		<section aria-labelledby="talk-alice">
			<h2 id="talk-alice">Talk to Alice</h2>

			<p>
				<app-dialogue-line name="Kara">
					{{ t("X0801K.DOORSTEP.FEELINGS.PC.X08KKARA.ALICE.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Alice">
					{{ t("X0801K.DOORSTEP.FEELINGS.FA.X08KALICE.ALICEFA") }}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{
						translationService.translateObject(
							"X0801K.DOORSTEP.FEELINGS.PC.X08KKARA.ALICE",
							1
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="inside">
			<h2 id="inside">Get inside</h2>
			<p>
				<app-dialogue-line name="Rose">
					{{
						translationService.translateObject(
							"X0801K.HOUSE.MEETROSE.PC.X08KROSE.ALICE",
							0,
							2
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Alice">
					{{ t("X0801K.HOUSE.MEETROSE.PC.X08KALICE.ALICE") }}
				</app-dialogue-line>
				<app-dialogue-line name="Rose">
					{{ t("X0801K.HOUSE.MEETROSE.PC.X08KROSE.ALICE.3") }}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{
						translationService.translateObject(
							"X0801K.HOUSE.MEETROSE.PC.X08KKARA.ALICE"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Rose">
					{{ t("X0801K.HOUSE.MEETROSE.PC.X08KROSE.ALICE.4") }}
					{{
						translationService.translateObject(
							"X0801K.HOUSE.MEETROSE.PC.X08KROSE.ALICEWAY"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Alice">
					{{
						translationService.translateObject(
							"X0801K.ALICE.TAKECARE.PC.X08KALICE.LYING"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.ALICE.TAKECARE.PC.CHOICE01.REASSURE')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.ALICE.TAKECARE.PC.X08KKARA.01REASSURE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.ALICE.TAKECARE.PC.CHOICE01.EXPLAIN')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.ALICE.TAKECARE.PC.X08KKARA.01EXPLAIN"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.ALICE.TAKECARE.PC.CHOICE01.GOTOCONT')
					"
				>
					<p>&oslash;</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Alice">
					{{
						translationService.translateObject(
							"X0801K.ALICE.TAKECARE.PC.X08KALICE.01CONT"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.ALICE.TAKECARE.PC.CHOICE02.SCARED')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.ALICE.TAKECARE.PC.X08KKARA.02SCARED"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.ALICE.TAKECARE.PC.CHOICE02.UNHAPPY')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.ALICE.TAKECARE.PC.X08KKARA.02UNHAPPY"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.ALICE.TAKECARE.PC.CHOICE02.MISUNDERSTANDING')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.ALICE.TAKECARE.PC.X08KKARA.02MISUNDERSTANDING"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.ALICE.TAKECARE.PC.CHOICE02.COMPLICATED')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.ALICE.TAKECARE.PC.X08KKARA.02COMPLICATED"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Alice">
					{{
						translationService.translateObject(
							"X0801K.ALICE.TAKECARE.PC.X08KALICE.02CONT"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.ALICE.TAKECARE.PC.CHOICE03.OPTIMISTIC')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								t(
									"X0801K.ALICE.TAKECARE.PC.X08KKARA.03OPTIMISTIC"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.ALICE.TAKECARE.PC.CHOICE03.SINCERE')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.ALICE.TAKECARE.PC.X08KKARA.03SINCERE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.ALICE.TAKECARE.PC.CHOICE03.RESIGNED')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.ALICE.TAKECARE.PC.X08KKARA.03RESIGNED"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>

			<app-unused-content>
				<app-conditioned-content>
					<div class="condition">
						<p>Luther is alive</p>
					</div>
					<div class="content">
						<app-dialogue-line name="Alice">
							{{
								translationService.translateObject(
									"X0801K.ALICE.TAKECARE.PC.X08KALICE.03CONTLUTHER"
								) | async
							}}
						</app-dialogue-line>
					</div>
				</app-conditioned-content>
				<app-conditioned-content>
					<div class="condition">
						<p>
							Luther died in
							<a [routerLink]="['/chapters', 21]"
								>The Pirate's Cove</a
							>'s unused chase scene
						</p>
					</div>
					<div class="content">
						<app-dialogue-line name="Alice">
							{{
								translationService.translateObject(
									"X0801K.ALICE.TAKECARE.PC.X08KALICE.03CONT"
								) | async
							}}
						</app-dialogue-line>
					</div>
				</app-conditioned-content>

				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t('X0801K.ALICE.TAKECARE.PC.CHOICE04.REASSURE')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									translationService.translateObject(
										"X0801K.ALICE.TAKECARE.PC.X08KKARA.04REASSURE"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X0801K.ALICE.TAKECARE.PC.CHOICE04.PROTECT')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									t(
										"X0801K.ALICE.TAKECARE.PC.X08KKARA.04PROTECT"
									)
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X0801K.ALICE.TAKECARE.PC.CHOICE04.BRAVE')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									translationService.translateObject(
										"X0801K.ALICE.TAKECARE.PC.X08KKARA.04BRAVE"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
				</app-choice-group>
			</app-unused-content>

			<p>
				<app-dialogue-line name="Rose">
					{{
						translationService.translateObject(
							"X0801K.ALICE.TAKECARE.PC.X08KROSE.04CONT",
							0,
							3
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0801K.ALICE.TAKECARE.PC.X08KKARA.04CONT") }}
				</app-dialogue-line>
				<app-dialogue-line name="Rose">
					{{ t("X0801K.ALICE.TAKECARE.PC.X08KROSE.04CONT.4") }}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE05.EAT')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.ALICE.TAKECARE.PC.X08KKARA.05EAT"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE05.KISS')"
				>
					<p>
						<app-relation
							[name]="RelationName.Alice"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-relation
							[name]="RelationName.Luther"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Kara">
							{{ t("X0801K.ALICE.TAKECARE.PC.X08KKARA.05KISS") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE05.LEAVE')"
				>
					<p>&oslash;</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Kara">
					{{ t("X0801K.ALICE.TAKECARE.PC.X08KKARA.05CONT") }}
				</app-dialogue-line>
			</p>

			<app-conditioned-content>
				<div class="condition">
					<p>Luther is alive</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Luther">
							{{
								translationService.translateObject(
									"X0801K.ALICE.TAKECARE.PC.X08KLUTHER.GETREST"
								) | async
							}}
							{{
								t(
									"X0801K.ALICE.TAKECARE.PC.X08KLUTHER.GETRESTSTAY"
								)
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition">
					<p>
						Luther died in
						<a [routerLink]="['/chapters', 21]">The Pirate's Cove</a
						>'s unused chase scene
					</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Alice">
							{{
								t(
									"X0801K.ALICE.TAKECARE.PC.X08KALICE.MISSLUTHER"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Kara">
							{{
								t(
									"X0801K.ALICE.TAKECARE.PC.X08KKARA.MISSLUTHER"
								)
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>

			<p>
				<app-dialogue-line name="Rose">
					{{ t("X0801K.HOUSE.NAME.PC.X08KROSE.NAME01") }}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0801K.HOUSE.NAME.PC.X08KKARA.NAME02") }}
				</app-dialogue-line>
				<app-dialogue-line name="Rose">
					{{
						translationService.translateObject(
							"X0801K.HOUSE.NAME.PC.X08KROSE.NAME03"
						) | async
					}}
					{{ t("X0801K.HOUSE.TEA.PC.X08KROSE.START") }}
				</app-dialogue-line>
			</p>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.HOUSE.TEA.PC.STARTCHOICE01.CAUTIOUS')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KKARA.CAUTIOUS"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.HOUSE.TEA.PC.STARTCHOICE01.SINCERE')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KKARA.SINCERE01"
								) | async
							}}
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KKARA.SINCERE02"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Rose">
							{{ t("X0801K.HOUSE.TEA.PC.X08KROSE.SINCERE02") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<mat-divider></mat-divider>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE02.WHY')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KKARA.WHY"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Rose">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KROSE.WHY"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE02.MANY')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{ t("X0801K.HOUSE.TEA.PC.X08KKARA.MANY") }}
						</app-dialogue-line>
						<app-dialogue-line name="Rose">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KROSE.MANY"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE02.DEBUT')"
				>
					<p>
						<app-unlock-condition [unlockType]="UnlockType.Lock">
							Chose MANY DEVIANTS?
						</app-unlock-condition>

						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KKARA.DEBUT"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Rose">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KROSE.DEBUT"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE02.ROSE')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{ t("X0801K.HOUSE.TEA.PC.X08KKARA.ROSE") }}
						</app-dialogue-line>
						<app-dialogue-line name="Rose">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KROSE.ROSE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE02.THANKS')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KKARA.THANKS"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Rose">
							{{ t("X0801K.HOUSE.TEA.PC.X08KROSE.THANKS") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<mat-divider></mat-divider>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE03.FRONTIER')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KKARA.FRONTIER"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Rose">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KROSE.FRONTIER"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<mat-divider></mat-divider>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE04.INSIST')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KKARA.END"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE04.SOLUTION')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.HOUSE.TEA.PC.X08KKARA.END"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<mat-divider></mat-divider>
			<p>
				<app-dialogue-line name="Android 1">
					{{ t("X0801K.HOUSE.TEA.PC.X08KANDWOM01.ENDAND.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Rose">
					{{ t("X0801K.STORAGEROOM.ANDY.PC.X08KROSE.DEAD") }}
				</app-dialogue-line>
				<app-dialogue-line name="Android 2">
					{{
						translationService.translateObject(
							"X0801K.STORAGEROOM.ANDY.PC.X08KAND01.DEADAND"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Android 3">
					{{
						translationService.translateObject(
							"X0801K.STORAGEROOM.ANDY.FA.X08KANDY.DEAD"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Rose">
					{{ t("X0801K.STORAGEROOM.ANDY.PC.X08KROSE.DEADEND") }}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{
						translationService.translateObject(
							"X0801K.STORAGEROOM.EXIT.PC.X08KKARA.ALICE01GROUPA",
							0,
							2
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Alice">
					{{
						t(
							"X0801K.STORAGEROOM.ALICEOUT.FA.X08KALICE.INTERESTALICE"
						)
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item [choiceLabel]="t('GUI.ACTION.08K.ALICE.WAIT')">
					<p>
						<app-dialogue-line name="Kara">
							{{
								t(
									"X0801K.STORAGEROOM.EXIT.PC.X08KKARA.ALICE01GROUPA.3"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('GUI.ACTION.08K.ALICE.GETALICEOUT')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								t(
									"X0801K.STORAGEROOM.ALICEOUT.PC.X08KKARA.INTEREST.3"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Luther">
					{{
						translationService.translateObject(
							"X0801K.HOUSE.WHATSUP.FA.X08KLUTHER.WHATSUP"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{
						translationService.translateObject(
							"X0801K.HOUSE.WHATSUP.FA.X08KKARA.WHATSUP"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<mat-divider></mat-divider>
			<p>
				<app-dialogue-line name="Adam">
					{{
						translationService.translateObject(
							"X0801K.HOUSE.UPSET.PC.X08KADAM.UPSET",
							0,
							7
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Rose">
					{{ t("X0801K.HOUSE.UPSET.PC.X08KROSE.UPSET.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Adam">
					{{
						translationService.translateObject(
							"X0801K.HOUSE.UPSET.PC.X08KADAM.UPSET",
							7,
							11
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Rose">
					{{ t("X0801K.HOUSE.UPSET.PC.X08KROSE.UPSET.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Adam">
					{{
						translationService.translateObject(
							"X0801K.HOUSE.UPSET.PC.X08KADAM.UPSET",
							11,
							14
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Rose">
					{{ t("X0801K.HOUSE.UPSET.PC.X08KROSE.UPSET.3") }}
				</app-dialogue-line>
				<app-dialogue-line name="Adam">
					{{ t("X0801K.HOUSE.UPSET.PC.X08KADAM.UPSET.15") }}
				</app-dialogue-line>
				<app-dialogue-line name="Rose">
					{{ t("X0801K.HOUSE.UPSET.PC.X08KROSE.UPSET.4") }}
				</app-dialogue-line>
			</p>
			<p>
				<app-dialogue-line name="Rose">
					{{
						translationService.translateObject(
							"X0801K.HOUSE.GOTONIGHT.PC.X08KROSE.SOLUTION"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="talk-alice-inside">
			<h2 id="talk-alice-inside">Talking to Alice</h2>

			<app-unused-content>
				<p>
					<app-unlock-condition [unlockType]="UnlockType.Death">
						Luther died in
						<a [routerLink]="['/chapters', 21]">The Pirate's Cove</a
						>'s unused chase scene
					</app-unlock-condition>
				</p>

				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0801K.HOUSE.FIRE.FA.X08KKARA.NOLUTHER01") }}
						{{ t("X0801K.HOUSE.FIRE.FA.X08KKARA.NOLUTHER02") }}
					</app-dialogue-line>
				</p>
			</app-unused-content>
		</section>

		<section aria-labelledby="join-alice-fire">
			<h2 id="join-alice-fire">Join Alice</h2>

			<p>
				<app-dialogue-line name="Kara">
					{{
						translationService.translateObject(
							"X0801K.WAIT.ALICE.PC.X08KKARA.ALICEQUIET"
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.WAIT.ALICE.PC.INSISTCHOICE.INSIST')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{ t("X0801K.WAIT.ALICE.PC.X08KKARA.INSIST.1") }}
						</app-dialogue-line>
						<app-dialogue-line name="Alice">
							{{ t("X0801K.WAIT.ALICE.PC.X08KALICE.INSIST") }}
						</app-dialogue-line>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.WAIT.ALICE.PC.X08KKARA.INSIST",
									1
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.WAIT.ALICE.PC.INSISTCHOICE.LETITGO')
					"
				>
					<p>&oslash;</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<section aria-labelledby="talk-adam">
			<h2 id="talk-adam">Talking to Adam</h2>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.WAIT.ADAM.PC.CHOICEGROUP.REASSURE')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.WAIT.ADAM.PC.X08KKARA.REASSURE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0801K.WAIT.ADAM.PC.CHOICEGROUP.CONFESS')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.WAIT.ADAM.PC.X08KKARA.CONFESS"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0801K.WAIT.ADAM.PC.CHOICEGROUP.EXPLAIN')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.WAIT.ADAM.PC.X08KKARA.EXPLAIN"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<section aria-labelledby="talk-luther-inside">
			<h2 id="talk-luther-inside">Talk to Luther</h2>
			<p>
				<app-dialogue-line name="Kara">
					{{ t("X0801K.WAIT.LUTHER.PC.X08KKARA.TALK.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Luther">
					{{
						translationService.translateObject(
							"X0801K.WAIT.LUTHER.PC.X08KLUTHER.TALK"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0801K.WAIT.LUTHER.PC.X08KKARA.TALK.2") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="tv">
			<h2 id="tv">
				<app-unlock-condition [unlockType]="UnlockType.Tv">
					{{ t(CommonTranslationKey.WatchTv) }}
				</app-unlock-condition>
			</h2>
			<p>
				<app-dialogue-line name="KNC - Rosanna Cartland">
					{{
						translationService.translateObject(
							"X0801K.HOUSE.TVNEWS.PC.X08KCARTLAND.NEWS"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>
	</section>
	<section aria-labelledby="police-arrives">
		<h1 id="police-arrives">Police man arrives</h1>

		<p>
			<app-dialogue-line name="Adam">
				{{
					translationService.translateObject(
						"X0801K.COP.KNOCK.PC.X08KADAM.KNOCK",
						0,
						2
					) | async
				}}
			</app-dialogue-line>
		</p>

		<p>
			<app-unused-content>
				<app-dialogue-line name="Adam">
					{{
						translationService.translateObject(
							"X0801K.COP.KNOCK.PC.X08KADAM.KNOCK",
							2
						) | async
					}}
				</app-dialogue-line>
			</app-unused-content>
		</p>

		<p>
			<app-dialogue-line name="Adam">
				{{
					translationService.translateObject(
						"X0801K.COP.PANICK.PC.X08KADAM.ADAM"
					) | async
				}}
			</app-dialogue-line>
		</p>

		<section aria-labelledby="talk-luther-hide">
			<h2 id="talk-luther-hide">Talk to Luther</h2>
			<p>
				<app-dialogue-line name="Kara">
					{{ t("X0801K.LUTHER.HIDE.PC.X08KKARA.HIDEL") }}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="t('X0801K.LUTHER.HIDE.PC.CHOICEL.UPSTAIRS')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{ t("X0801K.LUTHER.HIDE.PC.X08KKARA.UPSTAIRSL") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0801K.LUTHER.HIDE.PC.CHOICEL.LAUNDRY')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{ t("X0801K.LUTHER.HIDE.PC.X08KKARA.LAUNDRYL") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0801K.LUTHER.HIDE.PC.CHOICEL.KITCHEN')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{ t("X0801K.LUTHER.HIDE.PC.X08KKARA.KITCHENL") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Luther">
					{{ t("X0801K.LUTHER.HIDE.PC.X08KLUTHER.QUICK") }}
				</app-dialogue-line>
			</p>
		</section>

		<section aria-labelledby="talk-alice-hide">
			<h2 id="talk-alice-hide">Talk to Alice</h2>

			<app-unused-content>
				<p>
					<app-unlock-condition [unlockType]="UnlockType.Death">
						Luther died in
						<a [routerLink]="['/chapters', 21]">The Pirate's Cove</a
						>'s unused chase scene
					</app-unlock-condition>
				</p>

				<p>
					<app-dialogue-line name="Kara">
						{{ t("X0801K.LUTHER.HIDE.PC.X08KKARA.HIDEA") }}
					</app-dialogue-line>
				</p>

				<app-choice-group>
					<app-choice-item
						[choiceLabel]="
							t('X0801K.LUTHER.HIDE.PC.CHOICEA.UPSTAIRS')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									t(
										"X0801K.LUTHER.HIDE.PC.X08KKARA.UPSTAIRSA"
									)
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X0801K.LUTHER.HIDE.PC.CHOICEA.LAUNDRY')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									t("X0801K.LUTHER.HIDE.PC.X08KKARA.LAUNDRYA")
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
					<app-choice-item
						[choiceLabel]="
							t('X0801K.LUTHER.HIDE.PC.CHOICEA.KITCHEN')
						"
					>
						<p>
							<app-dialogue-line name="Kara">
								{{
									t("X0801K.LUTHER.HIDE.PC.X08KKARA.KITCHENA")
								}}
							</app-dialogue-line>
						</p>
					</app-choice-item>
				</app-choice-group>
			</app-unused-content>
		</section>

		<section aria-labelledby="talk-adam-police">
			<h2 id="talk-adam-police">Talk to Adam</h2>
			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.COP.PANICK.PC.CHOICEGROUP.REASSURE')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{ t("X0801K.COP.PANICK.PC.X08KKARA.REASSURE") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.COP.PANICK.PC.CHOICEGROUP.THREATEN')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.COP.PANICK.PC.X08KKARA.THREATEN"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="t('X0801K.COP.PANICK.PC.CHOICEGROUP.CALM')"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.COP.PANICK.PC.X08KKARA.CALM"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
		</section>

		<section aria-labelledby="open-door">
			<h2 id="open-door">Open the door</h2>
			<p>
				<app-dialogue-line name="Policeman">
					{{
						translationService.translateObject(
							"X0801K.COP.ARRIVAL.PC.X08KCOP.ENTER",
							0,
							4
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0801K.COP.ARRIVAL.PC.X08KKARA.ENTER.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Policeman">
					{{ t("X0801K.COP.ARRIVAL.PC.X08KCOP.ENTER.5") }}
				</app-dialogue-line>
				<app-dialogue-line name="Adam">
					{{ t("X0801K.COP.ARRIVAL.PC.X08KADAM.ENTER") }}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{ t("X0801K.COP.ARRIVAL.PC.X08KKARA.ENTER.2") }}
				</app-dialogue-line>
				<app-dialogue-line name="Policeman">
					{{ t("X0801K.COP.ARRIVAL.PC.X08KCOP.ENTER.6") }}
					{{ t("X0801K.COP.INSPECTION.FA.X08KCOP.START.1") }}
				</app-dialogue-line>
				<app-dialogue-line name="Kara">
					{{
						translationService.translateObject(
							"X0801K.COP.INSPECTION.FA.X08KKARA.START"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Policeman">
					{{ t("X0801K.COP.INSPECTION.FA.X08KCOP.START.2") }}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.COP.INSPECTION.FA.STARTCHOICE01.ALICE')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.FA.X08KKARA.ALICE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.COP.INSPECTION.FA.STARTCHOICE01.NOBODY')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.FA.X08KKARA.NOBODY"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Policeman">
					{{ t("X0801K.COP.INSPECTION.FA.X08KCOP.ANDROID") }}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.COP.INSPECTION.FA.ANDROIDCHOICE01.YES')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								t(
									"X0801K.COP.INSPECTION.FA.X08KKARA.ONEANDROID"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.COP.INSPECTION.FA.ANDROIDCHOICE01.NO')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								t("X0801K.COP.INSPECTION.FA.X08KKARA.NOANDROID")
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>

			<app-conditioned-content>
				<div class="condition">
					<p>
						Kara didn't close the cupboard - policeman sees blue
						blood
					</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Policeman">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.FA.X08KCOP.LOCKEROPEN"
								) | async
							}}
						</app-dialogue-line>
					</p>

					<app-choice-group>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0801K.COP.INSPECTION.FA.LOCKEROPENCHOICE02.MESS'
								)
							"
						>
							<p>
								<app-dialogue-line name="Kara">
									{{
										translationService.translateObject(
											"X0801K.COP.INSPECTION.FA.X08KKARA.MESS"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0801K.COP.INSPECTION.FA.LOCKEROPENCHOICE02.PREVIOUS'
								)
							"
						>
							<p>
								<app-dialogue-line name="Kara">
									{{
										translationService.translateObject(
											"X0801K.COP.INSPECTION.FA.X08KKARA.PREVIOUS"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="
								t(
									'X0801K.COP.INSPECTION.FA.LOCKEROPENCHOICE02.NOTMY'
								)
							"
						>
							<p>
								<app-dialogue-line name="Kara">
									{{
										t(
											"X0801K.COP.INSPECTION.FA.X08KKARA.NOTMY"
										)
									}}
								</app-dialogue-line>
							</p>
						</app-choice-item>
					</app-choice-group>
				</div>
			</app-conditioned-content>

			<mat-divider></mat-divider>

			<app-conditioned-content>
				<div class="condition">
					<p>
						Policeman discovers Alice & Luther hidden in the kitchen
					</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Policeman">
							{{
								t(
									"X0801K.COP.INSPECTION.FA.X08KCOP.LUTHERFOUNDCOP"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Kara">
							{{
								t(
									"X0801K.COP.INSPECTION.FA.X08KKARA.LUTHERFOUNDA"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Luther">
							{{
								t(
									"X0801K.COP.INSPECTION.FA.X08KLUTHER.LUTHERFOUNDB02.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Alice">
							{{
								t(
									"X0801K.COP.INSPECTION.FA.X08KALICE.LUTHERFOUNDD.1"
								)
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition">
					<p>Policeman discovers Alice hidden in the kitchen</p>
				</div>
				<div class="content">
					<app-unused-content>
						<p>
							<app-unlock-condition
								[unlockType]="UnlockType.Death"
							>
								Luther died in
								<a [routerLink]="['/chapters', 21]"
									>The Pirate's Cove</a
								>'s unused chase scene
							</app-unlock-condition>
						</p>

						<p>
							<app-dialogue-line name="Policeman">
								{{
									translationService.translateObject(
										"X0801K.COP.INSPECTION.FA.X08KCOP.ALICEFOUNDCOP"
									) | async
								}}
							</app-dialogue-line>
						</p>
					</app-unused-content>
				</div>
			</app-conditioned-content>

			<mat-divider></mat-divider>

			<app-conditioned-content>
				<div class="condition"><p>Made coffee</p></div>
				<div class="content">
					<p>
						<app-dialogue-line name="Policeman">
							{{ t("X0801K.COP.INSPECTION.FA.X08KCOP.COFFEE") }}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<mat-divider></mat-divider>
			<app-conditioned-content>
				<div class="condition">
					<p>Luther is hidden upstairs and chose NOBODY</p>
				</div>
				<div class="content">
					<p>
						<app-dialogue-line name="Policeman">
							{{
								t(
									"X0801K.COP.INSPECTION.FA.X08KCOP.SOMEONELSECOP"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.FA.X08KKARA.SOMEONELSE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition">
					<p>Luther is hidden upstairs and chose ALICE</p>
				</div>
				<div class="content">
					<app-dialogue-line name="Policeman">
						{{ t("X0801K.COP.INSPECTION.FA.X08KCOP.DAUGHTER") }}
					</app-dialogue-line>
				</div>
			</app-conditioned-content>
			<mat-divider></mat-divider>
			<p>
				<app-dialogue-line name="Policeman">
					{{ t("X0801K.COP.INSPECTION.PC.X08KCOP.ADAM01") }}
				</app-dialogue-line>
				<app-dialogue-line name="Adam">
					{{
						translationService.translateObject(
							"X0801K.COP.INSPECTION.PC.X08KADAM.ADAM01"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Policeman">
					{{ t("X0801K.COP.INSPECTION.PC.X08KCOP.ADAMSTRESSED") }}
				</app-dialogue-line>
				<app-dialogue-line name="Adam">
					{{
						translationService.translateObject(
							"X0801K.COP.INSPECTION.PC.X08KADAM.ADAMSTRESSED",
							0,
							2
						) | async
					}}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.COP.INSPECTION.PC.ADAMCHOICE03.TIRED')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.PC.X08KKARA.TIRED"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.COP.INSPECTION.PC.ADAMCHOICE03.DISTURBED')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.PC.X08KKARA.DISTURBED"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<p>
				<app-dialogue-line name="Policeman">
					{{
						translationService.translateObject(
							"X0801K.COP.INSPECTION.PC.X08KCOP.ANDROIDS"
						) | async
					}}
				</app-dialogue-line>
				<app-dialogue-line name="Adam">
					{{
						translationService.translateObject(
							"X0801K.COP.INSPECTION.PC.X08KADAM.ANDROIDS"
						) | async
					}}
				</app-dialogue-line>
			</p>
			<app-conditioned-content>
				<div class="condition"><p>Made coffee</p></div>
				<div class="content">
					<p>
						<app-dialogue-line name="Policeman">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.VO.X08KCOP.THANKS"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition"><p>Didn't make coffee</p></div>
				<div class="content">
					<p>
						<app-dialogue-line name="Policeman">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.VO.X08KCOP.NOCOFFEE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<p>
				<app-dialogue-line name="Policeman">
					{{ t("X0801K.COP.INSPECTION.PC.X08KCOP.BIGNOISE") }}
				</app-dialogue-line>
			</p>

			<app-choice-group>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.COP.INSPECTION.PC.BIGNOISECHOICE04.DOG')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							<!-- TODO: Fix translation file generation to keep empty strings, then remove fix in translationService.translateObject -->
							{{ t("X0801K.COP.INSPECTION.PC.X08KKARA.DOG.2") }}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0801K.COP.INSPECTION.PC.BIGNOISECHOICE04.WASHMACHINE'
						)
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.PC.X08KKARA.WASHMACHINE"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t('X0801K.COP.INSPECTION.PC.BIGNOISECHOICE04.WIND')
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.PC.X08KKARA.WIND"
								) | async
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
				<app-choice-item
					[choiceLabel]="
						t(
							'X0801K.COP.INSPECTION.PC.BIGNOISECHOICE04.NOTHINGHEARD'
						)
					"
				>
					<p>
						<app-dialogue-line name="Kara">
							{{
								t(
									"X0801K.COP.INSPECTION.PC.X08KKARA.NOTHINGHEARD"
								)
							}}
						</app-dialogue-line>
					</p>
				</app-choice-item>
			</app-choice-group>
			<app-conditioned-content>
				<div class="condition"><p>Policeman is fooled</p></div>
				<div class="content">
					<p>
						<app-relation
							[name]="RelationName.Alice"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-relation
							[name]="RelationName.Luther"
							[type]="RelationType.SmallUp"
						></app-relation>
						<app-dialogue-line name="Policeman">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.PC.X08KCOP.LEAVE"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Luther">
							{{
								t(
									"X0801K.COP.INSPECTION.FA.X08KLUTHER.RELIEVED01"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Kara">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.FA.X08KKARA.RELIEVED02"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Luther">
							{{
								t(
									"X0801K.COP.INSPECTION.FA.X08KLUTHER.RELIEVED03"
								)
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<app-conditioned-content>
				<div class="condition"><p>Policeman is suspicious</p></div>
				<div class="content">
					<p>
						<app-dialogue-line name="Policeman">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.PC.X08KCOP.SPOTTEDPART1"
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Kara">
							{{
								t(
									"X0801K.COP.INSPECTION.FA.X08KKARA.LUTHERFOUNDA"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Adam">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.PC.X08KADAM.LUTHERFOUNDC",
									0,
									2
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Alice">
							{{
								t(
									"X0801K.COP.INSPECTION.FA.X08KALICE.LUTHERFOUNDD.1"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Luther">
							{{
								t(
									"X0801K.COP.INSPECTION.FA.X08KLUTHER.LUTHERFOUNDB02.1"
								)
							}}
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.FA.X08KLUTHER.LUTHERFOUNDB02",
									2,
									4
								) | async
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Alice">
							{{
								t(
									"X0801K.COP.INSPECTION.FA.X08KALICE.LUTHERFOUNDD.2"
								)
							}}
						</app-dialogue-line>
						<app-dialogue-line name="Adam">
							{{
								translationService.translateObject(
									"X0801K.COP.INSPECTION.PC.X08KADAM.LUTHERFOUNDC",
									3
								) | async
							}}
						</app-dialogue-line>
					</p>
				</div>
			</app-conditioned-content>
			<p>
				<app-dialogue-line name="Rose">
					{{
						translationService.translateObject(
							"X0801K.COP.INSPECTION.PC.X08KROSE.GETREADY01"
						) | async
					}}
				</app-dialogue-line>
			</p>
		</section>
	</section>
</ng-container>
