<article class="main-with-centered-card">
    <ng-container *ngIf="currentItem$ | async as currentItem">
        <ng-container *transloco="let t">
            <header
                class="
                    self-stretch
                    text-center
                    bg-card-light
                    dark:bg-card-dark
                    bg-opacity-80
                    dark:bg-opacity-80
                "
            >
                <h1 class="mt-8 text-6xl">
                    {{ currentItem.number }} -
                    {{ t('GUI.MENU.CHAPTERS.' + currentItem.shortIdentifier) }}
                </h1>
            </header>
        </ng-container>

        <mat-card class="chapter-card">
            <mat-card-content>
                <!-- Top nav -->
                <app-chapter-nav [chapter]="currentItem"></app-chapter-nav>

                <mat-divider></mat-divider>

                <!-- Chapter content -->
                <div class="chapter-content">
                    <ng-template [cdkPortalOutlet]="portal"></ng-template>
                </div>

                <!-- Bottom nav -->
                <mat-divider></mat-divider>
                <app-chapter-nav [chapter]="currentItem"></app-chapter-nav>

                <!-- Loading -->
                <ng-template #loading>
                    <div
                        class="
                            spinner
                            flex flex-row
                            justify-center
                            items-center
                        "
                    >
                        <mat-spinner></mat-spinner>
                    </div>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </ng-container>
</article>
