<header class="bg-black">
    <nav class="flex flex-row justify-start items-center">
        <fa-icon icon="bars" (click)="sidenav.toggle()"></fa-icon>
        <fa-icon
            icon="home"
            [routerLink]="['/home']"
            matTooltip="Home"
        ></fa-icon>
        <fa-icon
            icon="question"
            (click)="openDialog()"
            matTooltip="Info"
        ></fa-icon>
        <fa-icon
            icon="envelope"
            [routerLink]="['/contact']"
            matTooltip="Contact"
        ></fa-icon>

        <span class="flex-auto"></span>
        <app-lang-picker-toggle
            class="mr-4"
            [switchCaretColor]="true"
        ></app-lang-picker-toggle>
    </nav>
    <div class="flex flex-row justify-end">
        <app-lang-picker
            *ngIf="languagePickerService.showPicker | async"
            class="max-w-1/2"
        ></app-lang-picker>
    </div>
</header>
