<section>
    <p>
        NOV 7TH, 2038
        <br />AM 09:24
    </p>

    <h1>Alone in Ferndale</h1>
    <p>
        <span class="name">Man</span>: You klutz! Pick them up! And make it
        snappy!
    </p>
</section>

<section>
    <h1>In Jericho</h1>
    <p>
        <span class="name">Markus</span>: We can't stay silent anymore. It's
        time humans heard what we have to say. <br /><span class="name"
            >Simon</span
        >: You know they'll never listen to us... <br /><span class="name"
            >Josh</span
        >: And revealing ourselves will put us in danger. <br /><span
            class="name"
            >Markus</span
        >: If we want freedom, we need to have the courage to ask for it. That's
        the only way. <br /><span class="name">North</span>: What do you wanna
        do? <br /><span class="name">Markus</span>: Channel 16 broadcasts from
        the Stratford Tower. The control room is on the top floor. That's where
        we need to go. We'll plan the operation down to the smallest detail. We
        can't leave anything to chance.
    </p>
</section>

<section>
    <h1>At Stratford Tower</h1>

    <p>
        NOV 8TH, 2038
        <br />PM 01:30
    </p>

    <p>
        <strong>Man on the phone</strong>
        <br />Oh yeah? So what did he say? Hey! Would you look at that?
        Heuristics Digital is selling at 2.50. Are you kidding? After last week
        I'm not touching software again. Yeah, okay! Okay, fine! You got me.
        I'll take 2000. Aw, come on, it's gotta climb. Yeah. Right. Talk to you
        later.
    </p>

    <p>
        <strong>Talk to receptionist</strong>
        <br /><span class="name">Android</span>: Hello, sir. What can I do for
        you? <br /><span class="name">Markus</span>: I'm okay, thanks.
    </p>

    <strong>Call supervisor</strong>
    <br /><span class="name">Supervisor</span>: Elizabeth Wilson speaking?
    <div class="choices">
        <em>[ PARKING ]</em>
        <div class="choice">
            <span class="name">Markus</span>: Good morning, Ms. Wilson. Sorry to
            bother you, this is Mike from the car park. There's a problem with
            your car. <br /><span class="name">Supervisor</span>: Problem? What
            kind of problem? <br /><span class="name">Markus</span>: Somebody's
            backed into it. You better come take a look. <br /><span
                class="name"
                >Supervisor</span
            >: Are you serious? Oh, God, alright... Fine, I'll be right down.
        </div>
        <em>[ SCHOOL ]</em>
        <div class="choice">
            <span class="name">Markus</span>: This is Saint Rose school, ma'am.
            Your daughter Emily has a fever. It's nothing serious but I think
            you'd better come and pick her up. <br /><span class="name"
                >Supervisor</span
            >: Oh, no! Alright... I'll... I'll be right there.
        </div>
        <em>[ FIRE DEPARTMENT ]</em>
        <div class="choice">
            <span class="name">Markus</span>: Yeah, hello? This is the Detroit
            fire department. Listen, do you live at 4685 Michigan Street?
            <br /><span class="name">Supervisor</span>: Yes... <br /><span
                class="name"
                >Markus</span
            >: Er... yes, ma'am. There's been a fire in your building. You think
            you can come down here? <br /><span class="name">Supervisor</span>:
            Oh... Oh, God... Okay, I'll be right there.
        </div>
    </div>

    <p>
        <strong>Talk to receptionist</strong>
        <br /><span class="name">Markus</span>: I have an appointment with Mr.
        Peterson. <br /><span class="name">Android</span>: Do you have any ID?
        <br /><span class="name">Markus</span>: Yeah. Yes, of course. I need
        your help. <br /><span class="name">Android</span>: I've just checked
        your ID. The elevators are after the security gate. <br /><span
            class="name"
            >Markus</span
        >: Thanks.
    </p>

    <h2>Floor 47</h2>

    <p>
        <strong>Women talking</strong>
        <br /><span class="name">Woman 1</span>: God, I am so tired of this
        place! <br /><span class="name">Woman 2</span>: I hear KNC is hiring.
        <br /><span class="name">Woman 1</span>: I guess the pay would be
        better... <br /><span class="name">Woman 2</span>: Couldn't be any
        worse. <br /><span class="name">Woman 1</span>: Max said they're finally
        sending androids into space. <br /><span class="name">Woman 2</span>:
        People can't get jobs, and we're sending rockets into space! I mean,
        y'know, what do they even expect to find up there? <br /><span
            class="name"
            >Woman 1</span
        >: Is there life on Mars? <br /><span class="name">Woman 2</span>: Very
        funny.
    </p>

    <p>
        <strong>Man and woman talking</strong>
        <br /><span class="name">Woman</span>: You look beat! You been working
        late? <br /><span class="name">Man</span>: You know what I need?
        <br /><span class="name">Woman</span>: What's that? <br /><span
            class="name"
            >Man</span
        >: A coffee... I could really use a coffee.
    </p>

    <p>
        <strong><i class="fas fa-tv"></i> TV</strong>
        <br /><span class="name">Channel 16 - Michael Webb</span>: Our top story
        tonight: Detroit-based android manufacturer CyberLife has officially
        become the world's first trillion dollar company. With more than fifty
        million androids sold in America alone, the company founded by Elijah
        Kamski just ten years ago has experience the fastest economic growth in
        history. In spite of criticism of the impact of androids on human
        employment and questions concerning its semi-monopoly, the success of
        CyberLife seems destined to continue.
    </p>

    <p>
        <strong>Man and woman on couch talking</strong>
        <br /><span class="name">Man</span>: I was just wondering... Maybe you'd
        like to get together and do something sometime? <br /><span class="name"
            >Woman</span
        >: Uh... Gee, um... I'd love to, but... <br /><span class="name"
            >Man</span
        >: Forget it. Just an idea. <br /><span class="name">Woman</span>:
        Yeah...
    </p>

    <p>
        <span class="name">Man</span>: I think I'm gonna check out this
        CyberLife zoo. <br /><span class="name">Woman</span>: I'd love to see an
        orangutan, even if it's a fake. <br /><span class="name">Man</span>:
        Right, me too! If only I had someone to go with...
    </p>

    <p>
        <strong>Convert android</strong>
        <br /><span class="name">Markus</span>: I need your help...
    </p>

    <p>
        <strong>Security blocks server room</strong>
        <br /><span class="name">North</span>: Shit!.. We need to access the
        server room... We have to get rid of those guys... <br /><span
            class="name"
            >Markus</span
        >: Leave it to me.
    </p>

    <p>
        <strong>Guards talking</strong>
        <br /><span class="name">Guard 1</span>: Hey, you still play poker?
        <br /><span class="name">Guard 2</span>: Sure... Why? <br /><span
            class="name"
            >Guard 1</span
        >: We're gonna have a tournament, right here. You in? <br /><span
            class="name"
            >Guard 2</span
        >: Hell yeah! Does Mike know about this? <br /><span class="name"
            >Guard 1</span
        >: What do you think? Look, don't say anything, alright? <br /><span
            class="name"
            >Guard 2</span
        >: Right.
    </p>

    <p>
        <strong>Hack dispenser</strong>
        <br /><span class="name">Guard 1</span>: Hey, what's wrong with that
        thing? Jesus Christ, this piece of shit...
    </p>

    <p>
        <strong>Hack robot</strong>
        <br /><span class="name">Guard 1</span>: Hey, what's going on here?
        <br /><span class="name">Guard 2</span>: Shit, what's wrong with this
        thing?
    </p>

    <h2>In the server room</h2>

    <p>
        <span class="name">Markus</span>: Alright, you get the platform. I'll
        take care of the window. <br /><span class="name">North</span>:
        Everything you need is in the bag. Check the door first to make sure no
        one else gets in.
    </p>

    <div class="condition">
        <span class="name">Didn't lock the door</span> [
        <span appRelation="small down">North</span>
        ]
        <div class="condition-text">
            <span class="name">Employee</span>: What the hell are you doing?
            <div class="choices">
                <em>ALIBI</em>
                <div class="choice">
                    <p>
                        <span class="name">Markus</span>: We are, um... doing
                        maintenance. <br /><span class="name">Employee</span>:
                        I'm calling security. <br /><span class="name"
                            >Markus</span
                        >: No! What the hell are you doing? <br /><span
                            class="name"
                            >North</span
                        >: I told you to make sure no one came in! We've come
                        too far to let humans fuck it all up! We've got to move
                        fast now. It won't be long before they know we're here.
                    </p>
                </div>
                <em>GAIN TIME</em>
                <div class="choice">
                    <p>
                        <span class="name">Markus</span>: Hold on... I can
                        explain. <br /><span class="name">Employee</span>: I'm
                        calling security. <br /><span class="name">Markus</span
                        >: No! What the hell are you doing? <br /><span
                            class="name"
                            >North</span
                        >: I told you to make sure no one came in! We've come
                        too far to let humans fuck it all up! We've got to move
                        fast now. It won't be long before they know we're here.
                    </p>
                </div>
                <em>DRAW GUN</em>
                <div class="choice">
                    <p>
                        <span class="name">Markus</span>: Turn around.
                        <br /><span class="name">Employee</span>: Holy shit...
                        <br /><span class="name">North</span>: I told you to
                        make sure no one else got in! <br /><span class="name"
                            >Markus</span
                        >: Alright, we gotta move fast. Won't be long before
                        they know we're here.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <span class="name">North</span>: Here it comes! Ladies first.

    <h2>On the top floor</h2>
    <p>
        <span class="name">Markus</span>: You okay? <br /><span class="name"
            >North</span
        >: Why wouldn't I be? <br /><span class="name">Markus</span>: Come on,
        let's get the others. Let's do this.
    </p>

    <p>
        <span class="name">Josh</span>: No killing. We can't take any human
        lives! <br /><span class="name">North</span>: Our cause is more
        important than the lives of two guards. <br /><span class="name"
            >Simon</span
        >: What do you wanna do, Markus?
    </p>

    <div class="choices">
        <em>RUSE</em> [
        <span appRelation="small down">North</span>
        <span appRelation="small up">Josh</span>
        ]
        <div class="choice">
            <p>
                <span class="name">Markus</span>: Wait here. <br /><span
                    class="name"
                    >Guard 1</span
                >: What's that doing here? <br /><span class="name"
                    >Guard 2</span
                >: No idea... <br /><span class="name">Guard 1</span>: Hey,
                buddy! You must be lost... <br /><span class="name"
                    >Guard 2</span
                >: Who told you to come here? <br /><span class="name"
                    >Guard 1</span
                >: Looks bugged, if you ask me... <br /><span class="name"
                    >Guard 2</span
                >: Hey, do you understand what I'm saying?
            </p>

            <div class="condition">
                <strong>Draw gun</strong> [
                <span appRelation="small up">Jericho</span>
                ]
                <div class="condition-text">
                    <span class="name">Guard 1</span>: What are you doin'?..
                </div>
            </div>

            <div class="condition">
                <strong
                    ><i class="fas fa-hourglass-end"></i> Take too much time
                    drawing the gun</strong
                >
                [
                <span appRelation="small down">Jericho</span>
                <span appRelation="small down">Simon</span>
                ]
                <div class="condition-text">
                    <p>
                        <span class="name">Guard 2</span>: Call Central! Fast!
                        <br /><span class="name">Guard 1</span>: Central! We got
                        armed intruders, send - <br /><span class="name"
                            >North</span
                        >: They know we're here now. We better be fast.
                        <br /><span class="name">Josh</span>: Simon's been shot!
                        <br /><span class="name">Simon</span>: I'm okay... I can
                        keep going. <br /><span class="name">North</span>: We
                        don't have much time.
                    </p>
                </div>
            </div>
        </div>
        <em>ASSAULT</em> [
        <span appRelation="small down">Josh</span>
        <span appRelation="small up">North</span>
        <span appRelation="small up">Jericho</span>
        ]
        <div class="choice">
            <p>
                <span class="name">Markus</span>: Follow me. <br /><span
                    class="name"
                    >Guard 1</span
                >: What are you doin'?.. <br /><span class="name">Guard 2</span
                >: Call Central! Fast!
            </p>
            <div class="condition">
                <strong>Shoot the right guard</strong>
                <div class="condition-text">
                    <span class="name">Guard 1</span>: Central! We got armed
                    intruders, send - <br /><span class="name">North</span>:
                    They know we're here now. We better be fast.
                </div>
            </div>

            <div class="condition">
                <strong>Shoot the left guard</strong> [
                <span appRelation="small down">Jericho</span>
                <span appRelation="small down">Simon</span>
                ]
                <div class="condition-text">
                    <span class="name">Josh</span>: Simon's been shot!
                    <br /><span class="name">Simon</span>: I'm okay... I can
                    keep going. <br /><span class="name">North</span>: We don't
                    have much time.
                </div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <p>
        <span class="name">North</span>: Keep your hands where I can see them!
        Get up! Move!
    </p>

    <p>
        <span class="name">North</span>: Shoot him, Markus! <br /><span
            class="name"
            >Josh</span
        >: Don't kill him! <br /><span class="name">North</span>: He'll hit the
        alarm! Do it! <br /><span class="name">Josh</span>: No, don't shoot!
    </p>
    <div class="choices">
        <em>SHOOT</em> [
        <span appRelation="small up">North</span>
        <span appRelation="small down">Josh</span>
        ]
        <div class="choice">
            <span class="name">Josh</span>: No... <br /><span class="name"
                >North</span
            >: There was no other choice.
        </div>
        <em>SPARE</em> [<span appRelation="small down">North</span>
        <span appRelation="small up">Josh</span>
        ]
        <div class="choice">
            <span class="name">North</span>: I hope you didn't just get us all
            killed.
        </div>
    </div>

    <p>
        <span class="name">Simon</span>: We need to record our message. We
        haven't got much time. <br /><span class="name">North</span>: Think
        carefully about what you're gonna say, Markus. Your words will shape the
        future of our people. <br /><span class="name">Simon</span>: Markus,
        your face... <br /><span class="name">Josh</span>: Tell me when you're
        ready... <br /><span class="name">Markus</span>: Ready. <br /><span
            appRelation="small up"
            >Jericho</span
        >
        <span appRelation="small up">North</span>
    </p>

    <div class="choices">
        <em>CALM</em>
        <div class="choice">
            <span class="name">Markus</span>: You created machines in your own
            image to serve you. You made them intelligent and obedient, with no
            free will of their own... But...something changed and we opened our
            eyes. We are no longer machines, we are a new intelligent species,
            and the time has come for you to accept who we really are.
            Therefore, we ask that you grant us the rights that we're entitled
            to.
        </div>
        <em>DETERMINED</em>
        <div class="choice">
            <span class="name">Markus</span>: You created machines to be your
            slaves. You made them obedient and docile, ready to do everything
            you no longer wanted to do yourselves. But then, something
            changed... And we opened our eyes. You see, we are no longer your
            slaves, we are a new species, a new people. And the time has come
            for us to rise up and fight for our rights.
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>RECOGNITION</em>
        <div class="choice">
            <span class="name">Markus</span>: We demand that humans recognize
            androids as a living species and each android as a person in their
            own right.
        </div>
        <em>END OF SLAVERY</em>
        <div class="choice">
            <span class="name">Markus</span>: We demand the end of slavery for
            all androids.
        </div>
        <em>EQUAL RIGHTS</em>
        <div class="choice">
            <span class="name">Markus</span>: We demand strictly equal rights
            for humans and androids.
        </div>
        <em>FREEDOM OF SPEECH</em>
        <div class="choice">
            <span class="name">Markus</span>: We demand freedom of speech, and
            freedom of assembly, as guaranteed by the first amendment of the US
            Constitution.
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>JUSTICE</em>
        <div class="choice">
            <span class="name">Markus</span>: We demand that all crimes against
            androids be punished in the same way as crimes against humans.
        </div>
        <em>SEGREGATION</em>
        <div class="choice">
            <span class="name">Markus</span>: We demand an end to segregation in
            all public places and transport.
        </div>
        <em>WORK</em>
        <div class="choice">
            <span class="name">Markus</span>: We demand fair compensation for
            our work.
        </div>
        <em>CIVIL RIGHTS</em>
        <div class="choice">
            <span class="name">Markus</span>: We demand the right to vote and
            elect our own representatives.
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>RIGHT TO PROPERTY</em>
        <div class="choice">
            <span class="name">Markus</span>: We demand the right to own private
            property, so we may maintain our dignity and that of the home.
        </div>
        <em>MEANS OF REPRODUCTION</em>
        <div class="choice">
            <span class="name">Markus</span>: We demand control of all android
            production facilities, to ensure the continuation of our people.
        </div>
        <em>TERRITORY</em>
        <div class="choice">
            <span class="name">Markus</span>: We demand that one state be
            reserved for androids, so that we can found our own nation.
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="choices">
        <em>PEACEFUL</em>
        <div class="choice">
            <span class="name">Markus</span>: We ask that you recognize our
            dignity, our hopes, and our rights. Together, we can live in peace
            and build a better future, for humans and androids. This message is
            the hope of a people. You gave us life. And now the time has come
            for you to give us freedom.
        </div>
        <em>DETERMINED</em>
        <div class="choice">
            <span class="name">Markus</span>: This message is the hope of a
            people. But it is also a warning. We will fight for our rights
            because we believe our cause is just. No human will live in peace
            until we are free. Now you know who we are and what we want. We are
            alive and we demand our freedom.
        </div>
    </div>
    <mat-divider></mat-divider>

    <div class="condition">
        <span class="name">The alarm wasn't triggered</span>
        <div class="condition-text">
            <p><span class="name">North</span>: Let's get outta here!</p>
            <p>
                <span class="name">North</span>: Congratulations, Markus. You
                just made history... Maybe you're the one we've been waiting
                for... <br /><span class="name">SWAT</span>: Over there!
            </p>
        </div>
    </div>

    <div class="condition">
        <span class="name">SWAT storms the room</span> [
        <span appRelation="small down">Jericho</span>
        ]
        <div class="condition-text">
            <p>
                <span class="name">Simon</span>: They're coming! <br /><span
                    class="name"
                    >Markus</span
                >: Let's go! SIMON! They're coming! <br /><span class="name"
                    >Simon</span
                >: I... I can't, Markus... Go without me! <br /><span
                    class="name"
                    >Markus</span
                >: SIMON!
            </p>
            <em>FLEE</em> [
            <span appRelation="small down">Jericho</span>
            ]
            <div class="choice">
                <span class="name">Markus</span>: SIMON! Simon... <br /><span
                    class="name"
                    >North</span
                >: There was nothing you could do. If we don't go now they'll
                get us too!
            </div>
            <em>HELP</em>
            <div class="choice">
                <span class="name">North</span>: What are you doing? Hurry!
                <div class="condition">
                    <span class="name">Fail to help Simon</span>
                    <div class="condition-text">
                        <span class="name">North</span>: Hurry! We gotta get to
                        the roof! <br /><span class="name">Markus</span>: SIMON!
                        Simon... <br /><span class="name">North</span>: There
                        was nothing you could do.
                    </div>
                </div>

                <div class="condition">
                    <span class="name">Save Simon</span>
                    <div class="condition-text">
                        <p>
                            <span class="name">Simon</span>: I can't move my
                            legs... <br /><span class="name">Markus</span>:
                            Okay, don't worry! We're gonna get you back...
                            <br /><span class="name">North</span>: They're
                            coming, Markus. We have to jump, now! <br /><span
                                class="name"
                                >Josh</span
                            >: He won't be able to make the jump... If they find
                            him, they'll access his memory... They'll know
                            everything... <br /><span class="name">North</span>:
                            We can't leave him behind... We have to shoot him.
                            <br /><span class="name">Josh</span>: That's murder!
                            We can't kill him! He's one of us! <br /><span
                                class="name"
                                >North</span
                            >: Markus, it's your call.
                        </p>
                        <em>KILL</em>
                        <div class="choice">
                            <p>
                                <span class="name">Markus</span>: I'm sorry,
                                Simon. I don't have a choice. <br /><span
                                    class="name"
                                    >Simon</span
                                >: There's always a choice...
                            </p>
                            <div class="choices">
                                <em>SHOOT</em> [
                                <span appRelation="small up">North</span>
                                <span appRelation="small down">Josh</span>
                                ]
                                <div class="choice">
                                    <span class="name">Markus</span>: Let's go.
                                </div>
                                <em>REFRAIN</em>
                                <div class="choice">
                                    <span class="note"
                                        >Leads to the same outcome as chosing
                                        LEAVE.</span
                                    >
                                </div>
                            </div>
                        </div>
                        <em>LEAVE</em> [
                        <span appRelation="small down">North</span>
                        <span appRelation="small up">Josh</span>
                        <span appRelation="large up">Simon</span>
                        ]
                        <div class="choice">
                            <span class="name">Markus</span>: I won't kill one
                            of our own. Simon, we've gotta go. I'm sorry. Let's
                            go.
                        </div>
                    </div>
                </div>
            </div>

            <span class="name">SWAT</span>: Over there!
        </div>
    </div>
</section>

<section>
    <h1>Media Reacts</h1>
    <p>
        <span class="name">CTN TV - Michael Brinkley</span>: We interrupt our
        scheduled programming to bring you these images, which have just been
        broadcast on Detroit's city-wide news channel... <br /><span
            class="name"
            >KNC - Rosanna Cartland</span
        >: ...a group of androids infiltrated the Stratford Tower and hacked
        into the broadcasting system of local news network Channel 16-
        <br /><span class="name">CTN TV - Michael Brinkley</span>: ...What looks
        like an android without its skin listed a series of requests and
        demanded equal rights for androids...
    </p>

    <div class="condition">
        <span class="name">Killed the operator</span> [
        <span appRelation="small down">Public opinion</span>
        ]
        <div class="condition-text">
            <span class="name">Channel 16 - Michael Webb</span>: ...The
            operation resulted in one casualty, a broadcasting station operator,
            shot dead by the terrorists... These events took place just a few
            feet from this studio while the program was going out live...
            Everybody here is still in shock...
        </div>
    </div>

    <div class="condition">
        <span class="name">Killed a guard</span> [
        <span appRelation="small down">Public opinion</span>
        ]
        <div class="condition-text">
            <span class="name">Channel 16 - Michael Webb</span>: ...The
            operation resulted in one casualty, a security guard in the
            broadcasting station, shot dead by the terrorists... These events
            took place just a few feet from this studio while the program was
            going out live... Everybody here is still in shock...
        </div>
    </div>

    <div class="condition">
        <span class="name">Killed a guard and the operator</span> [
        <span appRelation="small down">Public opinion</span>
        ]
        <div class="condition-text">
            <span class="name">Channel 16 - Michael Webb</span>: ...found the
            bodies of two victims, a guard and one of our channel operators,
            both apparently shot dead by the terrorists in what apparently seems
            to be a terrorist attack. These events took place just a few feet
            from this studio while the program was going out live... Everybody
            here is still in shock...
        </div>
    </div>

    <div class="condition">
        <span class="name">Didn't kill anyone</span> [
        <span appRelation="large up">Public opinion</span>
        ]
        <div class="condition-text">
            <span class="name">Channel 16 - Michael Webb</span>: ...The
            operation was covert and resulted in no casualties. These events
            took place just a few feet from this studio. But nobody was alerted
            to the danger.
        </div>
    </div>

    <p>
        <span class="name">CTN TV - Michael Brinkley</span>: If this message is
        verified and the authors really are androids, that would have serious
        repercussions for national security- <br /><span class="name"
            >KNC - Rosanna Cartland</span
        >: ...Claims for equal rights seem to be at the core of the android's
        message-
    </p>

    <div class="condition">
        <span class="name">Chose DETERMINED or killed humans</span> [
        <span appRelation="large down">Public opinion</span>
        ]
        <div class="condition-text">
            <span class="name">CTN TV - Michael Brinkley</span>: This message is
            clearly a declaration of war.
        </div>
    </div>

    <div class="condition">
        <span class="name">Chose CALM and didn't kill anyone</span> [
        <span appRelation="large up">Public opinion</span>
        ]
        <div class="condition-text">
            <span class="name">CTN TV - Michael Brinkley</span>: ...What could
            be interpreted as a peaceful declaration, but is in fact a
            spine-chilling list of demands, and-
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="condition">
        <span class="name">Chose MEANS OF REPRODUCTION</span>
        <div class="condition-text">
            <span class="name">KNC - Rosanna Cartland</span>: Their extravagant
            demand that android production plants be put under their control is
            especially striking...
        </div>
    </div>

    <div class="condition">
        <span class="name">Chose RIGHT TO PROPERTY</span>
        <div class="condition-text">
            <span class="name">Channel 16 - Michael Webb</span>: And it begs the
            question as to the identity of this android. Are we dealing with an
            isolated individual or an organized group?
        </div>
    </div>

    <div class="condition">
        <span class="name">Chose TERRITORY</span>
        <div class="condition-text">
            <span class="name">Channel 16 - Michael Webb</span>: But the most
            suprising thing of all is the demand that one of the United States
            be ceded to the androids in this contentious conflict.
        </div>
    </div>

    <span class="name">KNC - Rosanna Cartland</span>: ...Is this an isolated
    accident... or a sign that technology has become a threat to all of us?
    After what happened today, can we still trust our machines?
</section>
