:host {
	display: block;
}

.led {
	margin-inline-end: 2rem;
	margin-top: 16px;

	.led-1 {
		color: rgb(97, 189, 255);
		opacity: 0.9;
	}

	.led-2 {
		color: rgb(160, 213, 250);
		opacity: 0.5;
	}

	.led-3 {
		color: rgb(182, 225, 255);
		transform: rotate(135deg);
		opacity: 0.5;
	}
}

mat-divider {
	@apply mt-4 mb-8;
}
