<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <p>
            {{ t('GUI.MENU.DATE.08K') }}
            <br />
            {{ t('GUI.MENU.TIME.08K') }}
        </p>

        <h1>At Rose's house</h1>
        <p>
            <app-dialogue-line name="Kara">
                {{
                    translateObject('X0801K.INTRO.ADAM.PC.X08KKARA.HELLO', 0, 3)
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Adam">
                {{ t('X0801K.INTRO.ADAM.PC.X08KADAM.HELLO.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{ t('X0801K.INTRO.ADAM.PC.X08KKARA.HELLO.4') }}
            </app-dialogue-line>
            <app-dialogue-line name="Adam">
                {{ t('X0801K.INTRO.ADAM.PC.X08KADAM.HELLO.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{ t('X0801K.INTRO.ADAM.PC.X08KKARA.HELLO.5') }}
            </app-dialogue-line>
            <app-dialogue-line name="Rose">
                {{
                    translateObject('X0801K.INTRO.ADAM.PC.X08KROSE.HELLO', 0, 2)
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{ t('X0801K.INTRO.ADAM.PC.X08KKARA.HELLO.6') }}
            </app-dialogue-line>
            <app-dialogue-line name="Rose">
                {{
                    translateObject('X0801K.INTRO.ADAM.PC.X08KROSE.HELLO', 2)
                        | async
                }}
            </app-dialogue-line>
        </p>

        <app-dialogue-line name="Luther">
            {{ t('X0801K.DOORSTEP.TRUST.FA.X08KLUTHER.TRUSTQUESTION') }}
        </app-dialogue-line>
        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0801K.DOORSTEP.TRUST.FA.CHOICEGROUP.DISTRUST')
                "
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.DOORSTEP.TRUST.FA.X08KKARA.DISTRUST'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Luther">
                    {{ t('X0801K.DOORSTEP.TRUST.FA.X08KLUTHER.DISTRUST') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.DOORSTEP.TRUST.FA.CHOICEGROUP.TRUST')"
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.DOORSTEP.TRUST.FA.X08KKARA.TRUST') }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <!-- TODO: Add trust / distrust alice -->

        <h2>Talk to Alice</h2>
        <p>
            <app-dialogue-line name="Kara">
                {{ t('X0801K.DOORSTEP.FEELINGS.PC.X08KKARA.ALICE.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Alice">
                {{ t('X0801K.DOORSTEP.FEELINGS.FA.X08KALICE.ALICEFA') }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{
                    translateObject(
                        'X0801K.DOORSTEP.FEELINGS.PC.X08KKARA.ALICE',
                        1
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Get inside</h2>
        <p>
            <app-dialogue-line name="Rose">
                {{
                    translateObject(
                        'X0801K.HOUSE.MEETROSE.PC.X08KROSE.ALICE',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Alice">
                {{ t('X0801K.HOUSE.MEETROSE.PC.X08KALICE.ALICE') }}
            </app-dialogue-line>
            <app-dialogue-line name="Rose">
                {{ t('X0801K.HOUSE.MEETROSE.PC.X08KROSE.ALICE.3') }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{
                    translateObject('X0801K.HOUSE.MEETROSE.PC.X08KKARA.ALICE')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Rose">
                {{ t('X0801K.HOUSE.MEETROSE.PC.X08KROSE.ALICE.4') }}
                {{
                    translateObject(
                        'X0801K.HOUSE.MEETROSE.PC.X08KROSE.ALICEWAY'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Alice">
                {{
                    translateObject('X0801K.ALICE.TAKECARE.PC.X08KALICE.LYING')
                        | async
                }}
            </app-dialogue-line>
        </p>
        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE01.REASSURE')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.ALICE.TAKECARE.PC.X08KKARA.01REASSURE'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE01.EXPLAIN')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.ALICE.TAKECARE.PC.X08KKARA.01EXPLAIN'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE01.GOTOCONT')"
            >
                &oslash;</app-choice-item
            >
        </div>

        <p>
            <app-dialogue-line name="Alice">
                {{
                    translateObject('X0801K.ALICE.TAKECARE.PC.X08KALICE.01CONT')
                        | async
                }}
            </app-dialogue-line>
        </p>
        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE02.SCARED')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.ALICE.TAKECARE.PC.X08KKARA.02SCARED'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE02.UNHAPPY')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.ALICE.TAKECARE.PC.X08KKARA.02UNHAPPY'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801K.ALICE.TAKECARE.PC.CHOICE02.MISUNDERSTANDING')
                "
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.ALICE.TAKECARE.PC.X08KKARA.02MISUNDERSTANDING'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801K.ALICE.TAKECARE.PC.CHOICE02.COMPLICATED')
                "
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.ALICE.TAKECARE.PC.X08KKARA.02COMPLICATED'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <p>
            <app-dialogue-line name="Alice">
                {{
                    translateObject('X0801K.ALICE.TAKECARE.PC.X08KALICE.02CONT')
                        | async
                }}
            </app-dialogue-line>
        </p>
        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0801K.ALICE.TAKECARE.PC.CHOICE03.OPTIMISTIC')
                "
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.ALICE.TAKECARE.PC.X08KKARA.03OPTIMISTIC') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE03.SINCERE')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.ALICE.TAKECARE.PC.X08KKARA.03SINCERE'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE03.RESIGNED')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.ALICE.TAKECARE.PC.X08KKARA.03RESIGNED'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <!-- TODO: Add unused CHOICE04 if LUTHER is dead -->

        <p>
            <app-dialogue-line name="Rose">
                {{
                    translateObject(
                        'X0801K.ALICE.TAKECARE.PC.X08KROSE.04CONT',
                        0,
                        3
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{ t('X0801K.ALICE.TAKECARE.PC.X08KKARA.04CONT') }}
            </app-dialogue-line>
            <app-dialogue-line name="Rose">
                {{ t('X0801K.ALICE.TAKECARE.PC.X08KROSE.04CONT.4') }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE05.EAT')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.ALICE.TAKECARE.PC.X08KKARA.05EAT'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE05.KISS')"
            >
                <app-relation
                    name="Alice"
                    [type]="RelationType.SmallUp"
                ></app-relation>
                <app-relation
                    name="Luther"
                    [type]="RelationType.SmallUp"
                ></app-relation>

                <app-dialogue-line name="Kara">
                    {{ t('X0801K.ALICE.TAKECARE.PC.X08KKARA.05KISS') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.ALICE.TAKECARE.PC.CHOICE05.LEAVE')"
            >
                &oslash;</app-choice-item
            >
        </div>

        <p>
            <app-dialogue-line name="Kara">
                {{ t('X0801K.ALICE.TAKECARE.PC.X08KKARA.05CONT') }}
            </app-dialogue-line>
            <app-dialogue-line name="Luther">
                {{
                    translateObject(
                        'X0801K.ALICE.TAKECARE.PC.X08KLUTHER.GETREST'
                    ) | async
                }}
                {{ t('X0801K.ALICE.TAKECARE.PC.X08KLUTHER.GETRESTSTAY') }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Rose">
                {{ t('X0801K.HOUSE.NAME.PC.X08KROSE.NAME01') }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{ t('X0801K.HOUSE.NAME.PC.X08KKARA.NAME02') }}
            </app-dialogue-line>
            <app-dialogue-line name="Rose">
                {{
                    translateObject('X0801K.HOUSE.NAME.PC.X08KROSE.NAME03')
                        | async
                }}
                {{ t('X0801K.HOUSE.TEA.PC.X08KROSE.START') }}
            </app-dialogue-line>
        </p>

        <app-choice-group>
            <app-choice-item
                [choiceLabel]="t('X0801K.HOUSE.TEA.PC.STARTCHOICE01.CAUTIOUS')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0801K.HOUSE.TEA.PC.X08KKARA.CAUTIOUS')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.HOUSE.TEA.PC.STARTCHOICE01.SINCERE')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.HOUSE.TEA.PC.X08KKARA.SINCERE01'
                        ) | async
                    }}
                    {{
                        translateObject(
                            'X0801K.HOUSE.TEA.PC.X08KKARA.SINCERE02'
                        ) | async
                    }} </app-dialogue-line
                ><app-dialogue-line name="Rose">
                    {{ t('X0801K.HOUSE.TEA.PC.X08KROSE.SINCERE02') }}
                </app-dialogue-line>
            </app-choice-item>
        </app-choice-group>

        <mat-divider></mat-divider>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE02.WHY')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0801K.HOUSE.TEA.PC.X08KKARA.WHY')
                            | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Rose">
                    {{
                        translateObject('X0801K.HOUSE.TEA.PC.X08KROSE.WHY')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE02.MANY')"
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.HOUSE.TEA.PC.X08KKARA.MANY') }}
                </app-dialogue-line>
                <app-dialogue-line name="Rose">
                    {{
                        translateObject('X0801K.HOUSE.TEA.PC.X08KROSE.MANY')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE02.DEBUT')"
            >
                [available is chose MANY DEVIANTS?]

                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0801K.HOUSE.TEA.PC.X08KKARA.DEBUT')
                            | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Rose">
                    {{
                        translateObject('X0801K.HOUSE.TEA.PC.X08KROSE.DEBUT')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE02.ROSE')"
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.HOUSE.TEA.PC.X08KKARA.ROSE') }}
                </app-dialogue-line>
                <app-dialogue-line name="Rose">
                    {{
                        translateObject('X0801K.HOUSE.TEA.PC.X08KROSE.ROSE')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE02.THANKS')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0801K.HOUSE.TEA.PC.X08KKARA.THANKS')
                            | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Rose">
                    {{ t('X0801K.HOUSE.TEA.PC.X08KROSE.THANKS') }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE03.FRONTIER')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0801K.HOUSE.TEA.PC.X08KKARA.FRONTIER')
                            | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Rose">
                    {{
                        translateObject('X0801K.HOUSE.TEA.PC.X08KROSE.FRONTIER')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE04.INSIST')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0801K.HOUSE.TEA.PC.X08KKARA.END')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.HOUSE.TEA.PC.CHOICE04.SOLUTION')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0801K.HOUSE.TEA.PC.X08KKARA.END')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <mat-divider></mat-divider>

        <p>
            <app-dialogue-line name="Android 1">
                {{ t('X0801K.HOUSE.TEA.PC.X08KANDWOM01.ENDAND.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Rose">
                {{ t('X0801K.STORAGEROOM.ANDY.PC.X08KROSE.DEAD') }}
            </app-dialogue-line>
            <app-dialogue-line name="Android 2">
                {{
                    translateObject(
                        'X0801K.STORAGEROOM.ANDY.PC.X08KAND01.DEADAND'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Android 3">
                {{
                    translateObject('X0801K.STORAGEROOM.ANDY.FA.X08KANDY.DEAD')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Rose">
                {{ t('X0801K.STORAGEROOM.ANDY.PC.X08KROSE.DEADEND') }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{
                    translateObject(
                        'X0801K.STORAGEROOM.EXIT.PC.X08KKARA.ALICE01GROUPA',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Alice">
                {{
                    t('X0801K.STORAGEROOM.ALICEOUT.FA.X08KALICE.INTERESTALICE')
                }}
            </app-dialogue-line>
        </p>
        <div class="choices">
            <app-choice-item [choiceLabel]="t('GUI.ACTION.08K.ALICE.WAIT')">
                <app-dialogue-line name="Kara">
                    {{
                        t('X0801K.STORAGEROOM.EXIT.PC.X08KKARA.ALICE01GROUPA.3')
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('GUI.ACTION.08K.ALICE.GETALICEOUT')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        t('X0801K.STORAGEROOM.ALICEOUT.PC.X08KKARA.INTEREST.3')
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <p>
            <app-dialogue-line name="Luther">
                {{
                    translateObject(
                        'X0801K.HOUSE.WHATSUP.FA.X08KLUTHER.WHATSUP'
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{
                    translateObject('X0801K.HOUSE.WHATSUP.FA.X08KKARA.WHATSUP')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <mat-divider></mat-divider>

        <p>
            <app-dialogue-line name="Adam">
                {{
                    translateObject(
                        'X0801K.HOUSE.UPSET.PC.X08KADAM.UPSET',
                        0,
                        7
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Rose">
                {{ t('X0801K.HOUSE.UPSET.PC.X08KROSE.UPSET.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Adam">
                {{
                    translateObject(
                        'X0801K.HOUSE.UPSET.PC.X08KADAM.UPSET',
                        7,
                        11
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Rose">
                {{ t('X0801K.HOUSE.UPSET.PC.X08KROSE.UPSET.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Adam">
                {{
                    translateObject(
                        'X0801K.HOUSE.UPSET.PC.X08KADAM.UPSET',
                        11,
                        14
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Rose">
                {{ t('X0801K.HOUSE.UPSET.PC.X08KROSE.UPSET.3') }}
            </app-dialogue-line>
            <app-dialogue-line name="Adam">
                {{ t('X0801K.HOUSE.UPSET.PC.X08KADAM.UPSET.15') }}
            </app-dialogue-line>
            <app-dialogue-line name="Rose">
                {{ t('X0801K.HOUSE.UPSET.PC.X08KROSE.UPSET.4') }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Rose">
                {{
                    translateObject(
                        'X0801K.HOUSE.GOTONIGHT.PC.X08KROSE.SOLUTION'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Talking to Alice</h2>
        <p>
            <app-dialogue-line name="Kara">
                {{
                    translateObject('X0801K.WAIT.ALICE.PC.X08KKARA.ALICEQUIET')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801K.WAIT.ALICE.PC.INSISTCHOICE.INSIST')"
            >
                <p>
                    <app-dialogue-line name="Kara">
                        {{ t('X0801K.WAIT.ALICE.PC.X08KKARA.INSIST.1') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Alice">
                        {{ t('X0801K.WAIT.ALICE.PC.X08KALICE.INSIST') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Kara">
                        {{
                            translateObject(
                                'X0801K.WAIT.ALICE.PC.X08KKARA.INSIST',
                                1
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.WAIT.ALICE.PC.INSISTCHOICE.LETITGO')"
            >
                &oslash;</app-choice-item
            >
        </div>

        <h2>Talking to Adam</h2>
        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801K.WAIT.ADAM.PC.CHOICEGROUP.REASSURE')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0801K.WAIT.ADAM.PC.X08KKARA.REASSURE')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.WAIT.ADAM.PC.CHOICEGROUP.CONFESS')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0801K.WAIT.ADAM.PC.X08KKARA.CONFESS')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.WAIT.ADAM.PC.CHOICEGROUP.EXPLAIN')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0801K.WAIT.ADAM.PC.X08KKARA.EXPLAIN')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <h2>Talk to Luther</h2>
        <p>
            <app-dialogue-line name="Kara">
                {{ t('X0801K.WAIT.LUTHER.PC.X08KKARA.TALK.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Luther">
                {{
                    translateObject('X0801K.WAIT.LUTHER.PC.X08KLUTHER.TALK')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{ t('X0801K.WAIT.LUTHER.PC.X08KKARA.TALK.2') }}
            </app-dialogue-line>
        </p>

        <h2><i class="fas fa-tv"></i> Watching TV</h2>
        <p>
            <app-dialogue-line name="KNC - Rosanna Cartland">
                {{
                    translateObject('X0801K.HOUSE.TVNEWS.PC.X08KCARTLAND.NEWS')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Police man arrives</h2>

        <p>
            <app-dialogue-line name="Adam">
                {{
                    translateObject('X0801K.COP.KNOCK.PC.X08KADAM.KNOCK', 0, 2)
                        | async
                }}
            </app-dialogue-line>

            <app-unused-content>
                <app-dialogue-line name="Adam">
                    {{
                        translateObject('X0801K.COP.KNOCK.PC.X08KADAM.KNOCK', 2)
                            | async
                    }}
                </app-dialogue-line>
            </app-unused-content>

            <app-dialogue-line name="Adam">
                {{
                    translateObject('X0801K.COP.PANICK.PC.X08KADAM.ADAM')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Talk to Luther</h2>
        <p>
            <app-dialogue-line name="Kara">
                {{ t('X0801K.LUTHER.HIDE.PC.X08KKARA.HIDEL') }}
            </app-dialogue-line>
        </p>
        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801K.LUTHER.HIDE.PC.CHOICEL.UPSTAIRS')"
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.LUTHER.HIDE.PC.X08KKARA.UPSTAIRSL') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.LUTHER.HIDE.PC.CHOICEL.LAUNDRY')"
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.LUTHER.HIDE.PC.X08KKARA.LAUNDRYL') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.LUTHER.HIDE.PC.CHOICEL.KITCHEN')"
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.LUTHER.HIDE.PC.X08KKARA.KITCHENL') }}
                </app-dialogue-line>
            </app-choice-item>
        </div>
        <p>
            <app-dialogue-line name="Luther">
                {{ t('X0801K.LUTHER.HIDE.PC.X08KLUTHER.QUICK') }}
            </app-dialogue-line>
        </p>

        <h2>Talk to Adam</h2>
        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801K.COP.PANICK.PC.CHOICEGROUP.REASSURE')"
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.COP.PANICK.PC.X08KKARA.REASSURE') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.COP.PANICK.PC.CHOICEGROUP.THREATEN')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.COP.PANICK.PC.X08KKARA.THREATEN'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.COP.PANICK.PC.CHOICEGROUP.CALM')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject('X0801K.COP.PANICK.PC.X08KKARA.CALM')
                            | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <h2>Open the door</h2>
        <p>
            <app-dialogue-line name="Policeman">
                {{
                    translateObject('X0801K.COP.ARRIVAL.PC.X08KCOP.ENTER', 0, 4)
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{ t('X0801K.COP.ARRIVAL.PC.X08KKARA.ENTER.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Policeman">
                {{ t('X0801K.COP.ARRIVAL.PC.X08KCOP.ENTER.5') }}
            </app-dialogue-line>
            <app-dialogue-line name="Adam">
                {{ t('X0801K.COP.ARRIVAL.PC.X08KADAM.ENTER') }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{ t('X0801K.COP.ARRIVAL.PC.X08KKARA.ENTER.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Policeman">
                {{ t('X0801K.COP.ARRIVAL.PC.X08KCOP.ENTER.6') }}
                {{ t('X0801K.COP.INSPECTION.FA.X08KCOP.START.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Kara">
                {{
                    translateObject('X0801K.COP.INSPECTION.FA.X08KKARA.START')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Policeman">
                {{ t('X0801K.COP.INSPECTION.FA.X08KCOP.START.2') }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0801K.COP.INSPECTION.FA.STARTCHOICE01.ALICE')
                "
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.FA.X08KKARA.ALICE'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801K.COP.INSPECTION.FA.STARTCHOICE01.NOBODY')
                "
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.FA.X08KKARA.NOBODY'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <app-dialogue-line name="Policeman">
            {{ t('X0801K.COP.INSPECTION.FA.X08KCOP.ANDROID') }}
        </app-dialogue-line>
        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0801K.COP.INSPECTION.FA.ANDROIDCHOICE01.YES')
                "
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KKARA.ONEANDROID') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0801K.COP.INSPECTION.FA.ANDROIDCHOICE01.NO')"
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KKARA.NOANDROID') }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <div class="condition">
            <span class="name"
                >Kara didn't close the cupboard - policeman sees blue
                blood</span
            >
            <div class="condition-text">
                <app-dialogue-line name="Policeman">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.FA.X08KCOP.LOCKEROPEN'
                        ) | async
                    }}
                </app-dialogue-line>
                <div class="choices">
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0801K.COP.INSPECTION.FA.LOCKEROPENCHOICE02.MESS'
                            )
                        "
                    >
                        <app-dialogue-line name="Kara">
                            {{
                                translateObject(
                                    'X0801K.COP.INSPECTION.FA.X08KKARA.MESS'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0801K.COP.INSPECTION.FA.LOCKEROPENCHOICE02.PREVIOUS'
                            )
                        "
                    >
                        <app-dialogue-line name="Kara">
                            {{
                                translateObject(
                                    'X0801K.COP.INSPECTION.FA.X08KKARA.PREVIOUS'
                                ) | async
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0801K.COP.INSPECTION.FA.LOCKEROPENCHOICE02.NOTMY'
                            )
                        "
                    >
                        <app-dialogue-line name="Kara">
                            {{ t('X0801K.COP.INSPECTION.FA.X08KKARA.NOTMY') }}
                        </app-dialogue-line>
                    </app-choice-item>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <app-conditioned-content>
            <div class="condition">
                Policeman discovers Alice & Luther hidden
            </div>
            <div class="content">
                <app-dialogue-line name="Policeman">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KCOP.LUTHERFOUNDCOP') }}
                </app-dialogue-line>
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KKARA.LUTHERFOUNDA') }}
                </app-dialogue-line>
                <app-dialogue-line name="Luther">
                    {{
                        t(
                            'X0801K.COP.INSPECTION.FA.X08KLUTHER.LUTHERFOUNDB02.1'
                        )
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Alice">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KALICE.LUTHERFOUNDD.1') }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <mat-divider></mat-divider>

        <app-conditioned-content>
            <div class="condition">Made coffee</div>
            <div class="content">
                <app-dialogue-line name="Policeman">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KCOP.COFFEE') }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <mat-divider></mat-divider>

        <app-conditioned-content>
            <div class="condition">
                Luther is hidden upstairs and chose NOBODY
            </div>
            <div class="content">
                <app-dialogue-line name="Policeman">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KCOP.SOMEONELSECOP') }}
                </app-dialogue-line>
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.FA.X08KKARA.SOMEONELSE'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <app-conditioned-content>
            <div class="condition">
                Luther is hidden upstairs and chose ALICE
            </div>
            <div class="content"></div>
        </app-conditioned-content>

        <div class="condition">
            <span class="name"></span>
            <div class="condition-text">
                <app-dialogue-line name="Policeman">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KCOP.DAUGHTER') }}
                </app-dialogue-line>
            </div>
        </div>

        <mat-divider></mat-divider>

        <p>
            <app-dialogue-line name="Policeman">
                {{ t('X0801K.COP.INSPECTION.PC.X08KCOP.ADAM01') }}
            </app-dialogue-line>
            <app-dialogue-line name="Adam">
                {{
                    translateObject('X0801K.COP.INSPECTION.PC.X08KADAM.ADAM01')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Policeman">
                {{ t('X0801K.COP.INSPECTION.PC.X08KCOP.ADAMSTRESSED') }}
            </app-dialogue-line>
            <app-dialogue-line name="Adam">
                {{
                    translateObject(
                        'X0801K.COP.INSPECTION.PC.X08KADAM.ADAMSTRESSED',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="t('X0801K.COP.INSPECTION.PC.ADAMCHOICE03.TIRED')"
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.PC.X08KKARA.TIRED'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801K.COP.INSPECTION.PC.ADAMCHOICE03.DISTURBED')
                "
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.PC.X08KKARA.DISTURBED'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <p>
            <app-dialogue-line name="Policeman">
                {{
                    translateObject('X0801K.COP.INSPECTION.PC.X08KCOP.ANDROIDS')
                        | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Adam">
                {{
                    translateObject(
                        'X0801K.COP.INSPECTION.PC.X08KADAM.ANDROIDS'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <app-conditioned-content>
            <div class="condition">Made coffee</div>
            <div class="content">
                <app-dialogue-line name="Policeman">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.VO.X08KCOP.THANKS'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <app-conditioned-content>
            <div class="condition">Didn't make coffee</div>
            <div class="content">
                <app-dialogue-line name="Policeman">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.VO.X08KCOP.NOCOFFEE'
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <p>
            <app-dialogue-line name="Policeman">
                {{ t('X0801K.COP.INSPECTION.PC.X08KCOP.BIGNOISE') }}
            </app-dialogue-line>
        </p>
        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0801K.COP.INSPECTION.PC.BIGNOISECHOICE04.DOG')
                "
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.COP.INSPECTION.PC.X08KKARA.DOG.2') }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801K.COP.INSPECTION.PC.BIGNOISECHOICE04.WASHMACHINE')
                "
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.PC.X08KKARA.WASHMACHINE'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801K.COP.INSPECTION.PC.BIGNOISECHOICE04.WIND')
                "
            >
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.PC.X08KKARA.WIND'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0801K.COP.INSPECTION.PC.BIGNOISECHOICE04.NOTHINGHEARD')
                "
            >
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.COP.INSPECTION.PC.X08KKARA.NOTHINGHEARD') }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <app-conditioned-content>
            <div class="condition">Policeman is fooled</div>
            <div class="content">
                <app-relation
                    name="Alice"
                    [type]="RelationType.SmallUp"
                ></app-relation>
                <app-relation
                    name="Luther"
                    [type]="RelationType.SmallUp"
                ></app-relation>
                <app-dialogue-line name="Policeman">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.PC.X08KCOP.LEAVE'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Luther">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KLUTHER.RELIEVED01') }}
                </app-dialogue-line>
                <app-dialogue-line name="Kara">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.FA.X08KKARA.RELIEVED02'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Luther">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KLUTHER.RELIEVED03') }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <app-conditioned-content>
            <div class="condition">Policeman is suspicious</div>
            <div class="content">
                <app-dialogue-line name="Policeman">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.PC.X08KCOP.SPOTTEDPART1'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Kara">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KKARA.LUTHERFOUNDA') }}
                </app-dialogue-line>
                <app-dialogue-line name="Adam">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.PC.X08KADAM.LUTHERFOUNDC',
                            0,
                            2
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Alice">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KALICE.LUTHERFOUNDD.1') }}
                </app-dialogue-line>
                <app-dialogue-line name="Luther">
                    {{
                        t(
                            'X0801K.COP.INSPECTION.FA.X08KLUTHER.LUTHERFOUNDB02.1'
                        )
                    }}
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.FA.X08KLUTHER.LUTHERFOUNDB02',
                            2,
                            4
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Alice">
                    {{ t('X0801K.COP.INSPECTION.FA.X08KALICE.LUTHERFOUNDD.2') }}
                </app-dialogue-line>
                <app-dialogue-line name="Adam">
                    {{
                        translateObject(
                            'X0801K.COP.INSPECTION.PC.X08KADAM.LUTHERFOUNDC',
                            3
                        ) | async
                    }}
                </app-dialogue-line>
            </div>
        </app-conditioned-content>

        <p>
            <app-dialogue-line name="Rose">
                {{
                    translateObject(
                        'X0801K.COP.INSPECTION.PC.X08KROSE.GETREADY01'
                    ) | async
                }}
            </app-dialogue-line>
        </p>
    </section>
</ng-container>
