<div class="bg-gray-300 bg-opacity-25 rounded-lg p-4">
    <div class="flex flex-row items-baseline">
        <fa-icon icon="comment-slash" class="text-gray-700"></fa-icon>
        <span class="text-gray-500 font-bold ml-2 mr-1 mb-2"
            >Unused dialogue</span
        >
        <fa-icon
            icon="info-circle"
            matTooltip="Dialogue that does not appear in the game, but can still be found in the game's files"
            size="xs"
            class="text-gray-500 cursor-pointer"
        ></fa-icon>
    </div>
    <ng-content></ng-content>
</div>
