div.unused-content {
    background-color: rgba(211, 211, 211, 0.4);
    border-style: none;
    border-radius: 8px;
    padding: 1rem;

    & > p:first-child {
        color: grey;
        font-weight: bold;

        span {
            margin-left: 0.2rem;
            margin-right: 0.5rem;
        }

        fa-icon[icon='info-circle'] {
            cursor: pointer;
        }
    }
}
