<p>
    NOV 6TH, 2038
    <br />PM 05:13
</p>

<section>
    <h1>In Jericho</h1>

    <p>
        <span class="name">Markus</span>: Who are you? <br /><span class="name"
            >Josh</span
        >: Fugitives. Just like you. My name is Josh. <br /><span class="name"
            >Simon</span
        >: I'm Simon. <br /><span class="name">North</span>: North.
    </p>

    <div class="choices">
        <em>TRAIL</em>
        <div class="choice">
            <p>
                <span class="name">Markus</span>: And you knew that only an
                android could follow the trail, didn't you? <br /><span
                    class="name"
                    >Josh</span
                >: Only those who are like us can find Jericho... <br /><span
                    class="name"
                    >Simon</span
                >: If you could decipher the signs, it’s because one of us
                trusted you enough to give you the key.
            </p>
        </div>
        <em>ANDROID</em>
        <div class="choice">
            <p>
                <span class="name">Markus</span>: How many are you? <br /><span
                    class="name"
                    >North</span
                >: There are nineteen of us still in working order... The rest
                were damaged escaping their masters... <br /><span class="name"
                    >Josh</span
                >: Many tried to reach Jericho... Few succeed... Humans have
                little pity for our kind...
            </p>
        </div>
        <em>JERICHO</em>
        <div class="choice">
            <p>
                <span class="name">Markus</span>: This is Jericho? <br /><span
                    class="name"
                    >Josh</span
                >: It’s a refuge for those who don’t want to be slaves
                anymore... I understand how you feel...but we have more freedom
                here than you ever did.
            </p>
        </div>
        <em>REFUGE</em>
        <div class="choice">
            <p>
                <span class="name">Markus</span>: I don’t understand... I
                thought Jericho was a place where androids lived in freedom...
                <br /><span class="name">Josh</span>: We do live in freedom...
                It may not be what you hoped for, but here we have no master. We
                don’t belong to anybody.
            </p>
        </div>
        <em>FREE?</em>
        <div class="choice">
            <p>
                <span class="name">Markus</span>: And hiding just to stay
                alive... That’s freedom to you? <br /><span class="name"
                    >Josh</span
                >: Humans hate us. Hiding is the only way we can survive.
                <br /><span class="name">North</span>: There is no safe place
                for those like us. If humans knew we were here they’d kill us.
            </p>
        </div>
    </div>

    <span class="name">Josh</span>: I understand how you feel...but we have more
    freedom here than you ever did.

    <div class="choices">
        <em>LOST</em>
        <div class="choice">
            <span class="name">Markus</span>: I came to Jericho looking for
            hope... Looks like I'm not gonna find any here...
        </div>
        <em>SOMBER</em>
        <div class="choice">
            <span class="name">Markus</span>: Maybe I was never really free...
            Maybe I was only what my master wanted me to be... And now I need to
            decide who I really am...
        </div>
        <em>LUCID</em>
        <div class="choice">
            <span class="name">Markus</span>: Humans were your masters, and now
            it's fear that rules you... You're no freer than you ever were...
            You've only found a new master.
        </div>
        <em>DIRECT</em>
        <div class="choice">
            <span class="name">Markus</span>: Waiting in the dark for something
            to happen? That's not how I see freedom.
        </div>
    </div>

    <p>
        <span class="name">Simon</span>: You're lost... Just like the rest of
        us... We didn’t ask for this. All we can do now is deal with it.
        <br /><span class="name">Josh</span>: You're safe here. You can stay
        with us as long as you want. <br /><span class="name">North</span>: Go
        and see Lucy. She might be able to help you.
    </p>

    <h2>Exploring Jericho</h2>

    <p>
        <strong>Talking with Josh</strong> [
        <span appRelation="small up"
            >Josh
            <img src="assets/images/slight_increase.png" alt="slight_increase"
        /></span>
        ] <br /><span class="name">Josh</span>: They threw him out when they
        didn’t want him anymore... He was living on the streets before we
        brought him here... <br /><span class="name">Markus</span>: They'll all
        shut down if we don’t find a way to help them... <br /><span
            class="name"
            >Josh</span
        >: To help them we need blue blood and biocomponents. We salvage what we
        can from those who shut down... But there’s never enough... <br /><span
            class="name"
            >Markus</span
        >: So... How do they survive? <br /><span class="name">Josh</span>: They
        won't. We’re slowly dying out.
    </p>

    <p>
        <strong>Talking with North</strong> [
        <span appRelation="small up"
            >North
            <img
                src="assets/images/slight_increase.png"
                alt="slight_increase" /></span
        >]
    </p>
    <div class="choices">
        <em>TIME HERE?</em>
        <div class="choice">
            <span class="name">Markus</span>: How long have you been here?
            <br /><span class="name">North</span>: 4 weeks, 3 days, 11 hours.
            When I escaped there was nowhere else to go. Jericho seemed as good
            a place as any.
        </div>
        <em>WOUNDED</em>
        <div class="choice">
            <span class="name">Markus</span>: A lot of these guys’re in pretty
            bad shape... <br /><span class="name">North</span>: That’s how the
            humans treat those who disobey. They despise us. They’ll never
            accept what we are...
        </div>
        <em>JERICHO</em>
        <div class="choice">
            <span class="name">Markus</span>: Who found this place? <br /><span
                class="name"
                >North</span
            >: Nobody knows anymore... Whoever he was, his body’s probably
            laying somewhere on this boat... If you came here for comfort, you
            came to the wrong place.
        </div>
        <em>YOU</em> [
        <span appRelation="small down"
            >North
            <img
                src="assets/images/slight_decrease.png"
                alt="slight_decrease" /></span
        >]
        <div class="choice">
            <span class="name">Markus</span>: What was your function before
            coming here? <br /><span class="name">North</span>: What do you
            care?
        </div>
        <em>SPARE PARTS</em>
        <div class="choice">
            <span class="name">Markus</span>: Well these guys need spare parts
            and blue blood. Why hasn’t anybody gone to get that? <br /><span
                class="name"
                >North</span
            >: It’s not that simple. Can’t just go shopping at a CyberLife
            store. Anyway, nobody wants to risk leaving Jericho...
        </div>
    </div>

    <p>
        <strong>Talking with Lucy</strong>
        <br /><span class="name">Markus</span>: Are you Lucy? <br /><span
            class="name"
            >Lucy</span
        >: Sit down. Show me... I'll stop the bleeding. Drink this. Give me your
        hand. You had it all and you lost it all... You've seen hell and now
        hell lives in you... Your heart is troubled... A part of shadow and a
        part of light... Which will prevail? Your choices will shape our
        destiny.
    </p>

    <p>
        <strong>Talking with damaged android (sitting)</strong>
        <br /><span class="name">Android</span>: I'm not in very good shape, am
        I?.. My diagnostic program isn't working... I don't think it would have
        anything good to say anyway... <br /><span class="name">Markus</span>:
        What happened to you? <br /><span class="name">Android</span>: They tied
        me to the back of a car... I think they wanted to have fun... I don't
        wanna shut down... No, I... I don't wanna shut down...
    </p>

    <p>
        <strong>Talking with damaged android (near fire)</strong>
        <br /><span class="name">Android</span>: I've heard humans are afraid of
        dying too... Do you know what happens after death? <br /><span
            class="name"
            >Markus</span
        >: No... No, I don't... <br /><span class="name">Android</span>: Well,
        I'm about to find out... What's your name? <br /><span class="name"
            >Markus</span
        >: Markus. <br /><span class="name">Android</span>: I was glad to meet
        you, Markus.
    </p>

    <h2>Finished exploring - Talking with Simon</h2>

    <p>
        <span class="name">Markus</span>: Simon! I know where we can find spare
        parts. The CyberLife warehouses in Detroit Harbor, they have everything
        we need. <br /><span class="name">Simon</span>: The docks are guarded.
        We can’t just walk in there and take what we want... Humans will never
        let us... <br /><span class="name">Markus</span>: Which is why we won't
        ask permission. <br /><span class="name">Josh</span>: We don’t have any
        weapons... And even if we did, none of us knows how to fight.
        <br /><span class="name">Markus</span>: We can steal what we need
        without fighting. <br /><span class="name">Josh</span>: We'll just get
        ourselves killed. <br /><span class="name">Markus</span>: Maybe. But
        it's better than waiting here to be shut down. <br /><span class="name"
            >North</span
        >: I'm with you. <br /><span class="name">Simon</span>: Maybe it's worth
        a try. <br /><span class="name">Josh</span>: Okay. I'm in. <br /><span
            appRelation="small up"
            >North
            <img src="assets/images/slight_increase.png" alt="slight_increase"
        /></span>
        <span appRelation="small up"
            >Simon
            <img src="assets/images/slight_increase.png" alt="slight_increase"
        /></span>
    </p>
</section>
