<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <p>
            {{ t('GUI.MENU.DATE.02M') }}<br />
            {{ t('GUI.MENU.TIME.02M') }}
        </p>

        <h1>At Carl's house</h1>
        <p>
            <span class="name">Alarm</span>:
            {{ t('X0201M.INTRO.ARRIVAL.VO.X02MHOUSEALARMVOICE.WELCOMEKCH') }}
            <br />
            <span class="name">Carl</span>:
            {{
                translateObject('X0201M.INTRO.ARRIVAL.PC.X02MCARL.INTROM01')
                    | async
            }}
            {{
                translateObject('X0201M.INTRO.ARRIVAL.PC.X02MCARL.INTROM02')
                    | async
            }}
            <br />
            <span class="name">Markus</span>:
            {{ t('X0201M.INTRO.ARRIVAL.FA.X02MMARKUSINT.INTROM03') }}
            <br />
            <span class="name">Carl</span>:
            {{
                translateObject('X0201M.INTRO.ARRIVAL.PC.X02MCARL.INTROM04')
                    | async
            }}
            {{ t('X0201M.INTRO.ARRIVAL.PC.X02MCARL.DRINKM') }}
        </p>

        <div class="condition">
            <span class="name">Go without Carl</span>
            <div class="condition-text">
                <span class="name">Carl</span>:
                {{ t('X0201M.INTRO.CALLBACK.PC.X02MCARL.CALL01') }}
                <br />
                <span class="name">Markus</span>:
                {{ t('X0201M.INTRO.CALLBACK.FA.X02MMARKUSINT.CALL02') }}
            </div>
        </div>

        <p>
            <span class="name">Markus</span>:
            {{ t('X0201M.LIVING.DRINK.FA.X02MMARKUSINT.SCOTCH01') }}
            <br />
            <span class="name">Carl</span>:
            {{ t('X0201M.LIVING.DRINK.PC.X02MCARL.SCOTCH01') }}
            <br />
            <span class="name">Markus</span>:
            {{ t('X0201M.LIVING.DRINK.FA.X02MMARKUSINT.SCOTCH02') }}
            <br />
            <span class="name">Carl</span>:
            {{ t('X0201M.LIVING.DRINK.FA.X02MCARL.SCOTCH02') }}
            {{ t('X0201M.LIVING.WORRY.PC.X02MCARL.WORKSHOP["1"]') }}
            <br />
            <span class="name">Markus</span>:
            {{ t('X0201M.LIVING.WORRY.PC.X02MMARKUSINT.WORKSHOP') }}
            <br />
            <span class="name">Carl</span>:
            {{ t('X0201M.LIVING.WORRY.PC.X02MCARL.WORKSHOP["2"]') }}
            <br />
            <span class="name">Police</span>:
            {{ t('X0201M.LIVING.POLICE.VO.X02MPOLICEW.CALLW["1"]') }}
            <br />
            <span class="name">Markus</span>:
            {{
                translateObject('X0201M.LIVING.POLICE.FA.X02MMARKUSINT.CALL')
                    | async
            }}
            <br />
            <span class="name">Police</span>:
            {{ t('X0201M.LIVING.POLICE.VO.X02MPOLICEW.CALLW["2"]') }}
            <br />
            <span class="name">Carl</span>:
            {{ t('X0201M.LIVING.POLICE.PC.X02MCARL.LETSGO') }}
        </p>

        <div class="condition">
            <span class="name">Going without Carl</span>
            <div class="condition-text">
                <span class="name">Carl</span>:
                {{ t('X0201M.WORKSHOP.CALLBACK.PC.X02MCARL.CALL') }}
                <br />
                <span class="name">Markus</span>:
                {{ t('X0201M.WORKSHOP.LEO.PC.X02MMARKUSINT.FINDLEO') }}
                <br />
                <span class="name">Leo</span>:
                {{ t('X0201M.WORKSHOP.LEO.PC.X02MLEO.FINDLEO') }}
                <br />
                <span class="name">Carl</span>:
                {{
                    translateObject('X0201M.WORKSHOP.LEO.PC.X02MCARL.FINDLEO')
                        | async
                }}
            </div>
        </div>
        <div class="condition">
            <span class="name">Going with Carl</span>
            <div class="condition-text">
                <span class="name">Carl</span>:
                {{
                    translateObject(
                        'X0201M.WORKSHOP.LEO.PC.X02MCARL.STOP',
                        0,
                        2
                    ) | async
                }}
            </div>
        </div>

        <p>
            <span class="name">Leo</span>:
            {{
                translateObject('X0201M.WORKSHOP.LEO.PC.X02MLEO.STOP', 0, 2)
                    | async
            }}
            <br />
            <span class="name">Carl</span>:
            {{ t('X0201M.WORKSHOP.LEO.PC.X02MCARL.STOP["3"]') }}
            <br />
            <span class="name">Leo</span>:
            {{
                translateObject('X0201M.WORKSHOP.LEO.PC.X02MLEO.STOP', 2)
                    | async
            }}
            <br />
            <span class="name">Carl</span>:
            {{ t('X0201M.WORKSHOP.LEO.PC.X02MCARL.STOP["4"]') }}
        </p>

        <p>
            <strong>Take too long to go up to Leo</strong>
            <br /><span class="name">Carl</span>:
            {{ t('X0201M.WORKSHOP.LEO.PC.X02MCARL.INSIST') }}
        </p>

        <mat-divider></mat-divider>

        <div class="choices">
            <em>REASON</em>
            <div class="choice">
                <span class="name">Markus</span>:
                {{ t('X0201M.WORKSHOP.LEO.PC.X02MMARKUSINT.REASON') }}
            </div>
            <em>ORDER</em>
            <div class="choice">
                <span class="name">Markus</span>:
                {{
                    translateObject(
                        'X0201M.WORKSHOP.LEO.PC.X02MMARKUSINT.THREATEN'
                    ) | async
                }}
            </div>
            <em>ADVISE</em>
            <div class="choice">
                <span class="name">Markus</span>:
                {{
                    translateObject(
                        'X0201M.WORKSHOP.LEO.PC.X02MMARKUSINT.ADVISE'
                    ) | async
                }}
            </div>
            <em>WARN</em>
            <div class="choice">
                <span class="name">Markus</span>:
                {{ t('X0201M.WORKSHOP.LEO.PC.X02MMARKUSINT.WARNING') }}
            </div>
        </div>

        <p>
            <span class="name">Leo</span>:
            {{
                translateObject('X0201M.WORKSHOP.LEO.PC.X02MLEO.FIGHT01', 0, 4)
                    | async
            }}
            <br />
            <span class="name">Carl</span>:
            {{ t('X0201M.WORKSHOP.LEO.PC.X02MCARL.FIGHT01["1"]') }}
            <br />
            <span class="name">Leo</span>:
            {{ t('X0201M.WORKSHOP.LEO.PC.X02MLEO.FIGHT01["5"]') }}
            <br />
            <span class="name">Carl</span>:
            {{ t('X0201M.WORKSHOP.LEO.PC.X02MCARL.FIGHT01["2"]') }}
            <br />
            <span class="name">Leo</span>:
            {{ t('X0201M.WORKSHOP.LEO.PC.X02MLEO.FIGHT01["6"]') }}
            <br />
            <span class="name">Carl</span>:
            {{
                translateObject('X0201M.WORKSHOP.LEO.PC.X02MCARL.FIGHT01', 2)
                    | async
            }}
            <br />
            <span class="name">Leo</span>:
            {{
                translateObject('X0201M.WORKSHOP.LEO.PC.X02MLEO.FIGHT02', 0, 2)
                    | async
            }}
            <br />
            <span class="name">Carl</span>:
            {{ t('X0201M.WORKSHOP.LEO.PC.X02MCARL.FIGHT02C["5"]') }}
            <br />
            <span class="name">Leo</span>:
            {{ t('X0201M.WORKSHOP.LEO.PC.X02MLEO.FIGHT02["3"]') }}
            <br />
            <span class="name">Carl</span>:
            {{
                translateObject(
                    'X0201M.WORKSHOP.LEO.PC.X02MCARL.FIGHT02C',
                    0,
                    2
                ) | async
            }}
            <br />
            <span class="name">Leo</span>:
            {{ t('X0201M.WORKSHOP.LEO.PC.X02MLEO.FIGHT02["4"]') }}
        </p>

        <p>
            <strong>Broke the program</strong>
            <br />
            <span class="name">Leo</span>:
            {{ t('X0201M.WORKSHOP.LEO.PC.X02MLEO.FIGHT02["5"]') }}
            <br />
            <span class="name">Carl</span>:
            {{ t('X0201M.WORKSHOP.LEO.PC.X02MCARL.FIGHT02C["3"]') }}
            <br />
            <span class="name">Leo</span>:
            {{
                translateObject('X0201M.WORKSHOP.LEO.PC.X02MLEO.FIGHT02', 5)
                    | async
            }}
        </p>

        <div class="choices">
            <em>PUSH LEO</em>
            <div class="choice">
                <p>
                    <span class="name">Carl</span>:
                    {{
                        translateObject('X0201M.END.LEODEAD.PC.X02MCARL.LEO')
                            | async
                    }}
                    <br />
                    <span class="name">Markus</span>:
                    {{ t('X0201M.END.GO.PC.X02MMARKUSINT.GO01') }}
                    <br />
                    <span class="name">Carl</span>:
                    {{
                        translateObject('X0201M.END.GO.PC.X02MCARL.GO02')
                            | async
                    }}
                </p>
                <div class="choices">
                    <em>EXPLAIN</em>
                    <div class="choice">
                        <span class="name">Markus</span>:
                        {{
                            translateObject(
                                'X0201M.END.GO.PC.X02MMARKUSINT.EXPLAIN'
                            ) | async
                        }}
                    </div>
                    <em>BEG</em>
                    <div class="choice">
                        <span class="name">Markus</span>:
                        {{
                            translateObject(
                                'X0201M.END.GO.PC.X02MMARKUSINT.BEG'
                            ) | async
                        }}
                    </div>
                    <em>CONJURE</em>
                    <div class="choice">
                        <span class="name">Markus</span>:
                        {{
                            translateObject(
                                'X0201M.END.GO.PC.X02MMARKUSINT.CONJURE'
                            ) | async
                        }}
                    </div>
                    <em>SAY NOTHING</em>
                    <div class="choice">&oslash;</div>
                </div>

                <p>
                    <span class="name">Carl</span>:
                    {{
                        translateObject('X0201M.END.GO.PC.X02MCARL.OUT', 0, 3)
                            | async
                    }}
                    {{ t('X0201M.END.GO.PC.X02MCARL.SHOT') }}
                    <br />
                    <span class="name">Police</span>:
                    {{ t('X0201M.WORKSHOP.LEO.FA.X02MPOLICEM01.DONTMOVE') }}
                </p>
            </div>
            <em>ENDURE</em>
            <div class="choice">
                <p>
                    <span class="name">Markus</span>:
                    {{ t('X0201M.WORKSHOP.LEO.PC.X02MMARKUSINT.HEARTATTACK') }}
                    {{
                        translateObject(
                            'X0201M.WORKSHOP.LEO.PC.X02MMARKUSINT.CARLDIE',
                            0,
                            3
                        ) | async
                    }}
                    <br />
                    <span class="name">Carl</span>:
                    {{
                        translateObject(
                            'X0201M.WORKSHOP.LEO.PC.X02MCARL.CARLDIE',
                            0,
                            2
                        ) | async
                    }}
                    <br />
                    <span class="name">Markus</span>:
                    {{ t('X0201M.WORKSHOP.LEO.PC.X02MMARKUSINT.CARLDIE["4"]') }}
                    <br />
                    <span class="name">Carl</span>:
                    {{
                        translateObject(
                            'X0201M.WORKSHOP.LEO.PC.X02MCARL.CARLDIE',
                            2
                        ) | async
                    }}
                    <br />
                    <span class="name">Markus</span>:
                    {{
                        translateObject(
                            'X0201M.WORKSHOP.LEO.PC.X02MMARKUSINT.CARLDIE',
                            4
                        ) | async
                    }}
                    <br />
                    <span class="name">Leo</span>:
                    {{
                        translateObject(
                            'X0201M.WORKSHOP.LEO.PC.X02MLEO.CARLDIE'
                        ) | async
                    }}
                    <br />
                    <span class="name">Police</span>:
                    {{ t('X0201M.WORKSHOP.LEO.VO.X02MPOLICEM01.THISWAY') }}
                    <br />
                    <span class="name">Leo</span>:
                    {{
                        translateObject('X0201M.WORKSHOP.LEO.PC.X02MLEO.SHOT')
                            | async
                    }}
                </p>
            </div>
        </div>
    </section>
</ng-container>
