@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import the app theme
@import 'app/themes/light.theme.scss';
@include angular-material-theme($light-theme);

// import custom component themes
@import 'app/themes/mat-sidenav.theme.scss';
@import 'app/themes/mat-card.theme.scss';

// other styles
@import 'app/styles/chapters-style.scss';

// tailwind css
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// global styles
html,
body {
    min-height: 100vh;
    height: auto;
    margin: 0;
}

body {
    background-image: url('assets/images/background.jpg');
    background-repeat: repeat;
    background-size: 500px 500px;
}

.snackbar-error {
    background-color: darkred !important;
    color: white;
}

strong {
    @apply font-bold text-yellow-500;
}

a {
    text-decoration: none;
    cursor: pointer;
}
