<article class="main centered-card">
	<header class="self-stretch bg-gray-200 bg-opacity-50 text-center">
		<h1 class="mt-8 mb-4 text-6xl">Secret Endings</h1>
	</header>

	<mat-card class="chapter-card">
		<mat-card-content>
			<div class="chapter-content">
				<ng-container *transloco="let t">
					<section>
						<h1>Kamski ending</h1>
						<p>
							<app-unlock-condition
								[unlockType]="UnlockType.Lock"
							>
								Connor failed to locate Jericho and Markus and
								Kara are dead
							</app-unlock-condition>
						</p>
						<p>
							<app-dialogue-line name="CTN TV - Michael Brinkley">
								{{
									t(
										"X2002A.NOCROSSROADS.TVSTART.PC.X20ABRINKLEY.GAMEOVER.1"
									)
								}}
							</app-dialogue-line>
						</p>

						<app-conditioned-content>
							<div class="condition">
								<p>
									Carl died in
									<a [routerLink]="['/chapters', 8]"
										>Broken</a
									>
								</p>
							</div>
							<div class="content">
								<p>
									<app-dialogue-line
										name="CTN TV - Michael Brinkley"
									>
										{{
											t(
												"X2002A.NOCROSSROADS.TVSTART.PC.X20ABRINKLEY.GAMEOVER.3"
											)
										}}
									</app-dialogue-line>
								</p>
							</div>
						</app-conditioned-content>

						<p>
							<app-dialogue-line name="President Warren">
								{{
									translationService.translateObject(
										"X0401A.PRESS.CONFERENCE.PC.X04AWARREN.JERICHO"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="KNC - Rosanna Cartland">
								{{
									translationService.translateObject(
										"X2002A.NOCROSSROADS.TVPRESIDENT.PC.X20ACARTLAND.CAMPS",
										0,
										2
									) | async
								}}
							</app-dialogue-line>
						</p>
						<app-unused-content>
							<p>
								<app-dialogue-line name="Chloe">
									{{
										t(
											"X2005A.RA9CAPTURED.REDLIGHT.FA.X25ACHLOE.01NICEDAY"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Kamski">
									{{
										t(
											"X2005A.RA9CAPTURED.REDLIGHT.PC.X25AKAMSKI.ENTER"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Chloe">
									{{
										t(
											"X2005A.RA9CAPTURED.REDLIGHT.FA.X25ACHLOE.02COMING"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Kamski">
									{{
										translationService.translateObject(
											"X2005A.RA9CAPTURED.REDLIGHT.PC.X25AKAMSKI.WEWILLWIN"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Kamski">
									{{
										translationService.translateObject(
											"X2005A.RA9CAPTURED.REDLIGHT.PC.X25AKAMSKI.WINKAMSKI01"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Kamski">
									{{
										translationService.translateObject(
											"X2005A.RA9CAPTURED.REDLIGHT.PC.X25AKAMSKI.WINKAMSKI02"
										) | async
									}}
								</app-dialogue-line>
							</p>
						</app-unused-content>

						<p>
							<app-dialogue-line name="Chloe">
								{{
									t(
										"X2005A.RA9CAPTURED.REDLIGHT.FA.X25ACHLOE.05WHISKY"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="KNC - Rosanna Cartland">
								{{
									translationService.translateObject(
										"X2002A.NOCROSSROADS.TVPRESIDENT.PC.X20ACARTLAND.CAMPS",
										2
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Channel 16 - Michael Webb">
								{{
									translationService.translateObject(
										"X2002A.NOCROSSROADS.TVCAMPS.PC.X20AWEBB.CYBERLIFE"
									) | async
								}}
							</app-dialogue-line>
						</p>
						<mat-divider></mat-divider>
						<p>
							<app-dialogue-line name="KNC - Rosanna Cartland">
								{{
									translationService.translateObject(
										"X2005A.INTERVIEW.REDLIGHT.PC.X25ATVSPEAKEROC.01INTRO"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Kamski">
								{{
									translationService.translateObject(
										"X2005A.INTERVIEW.REDLIGHT.PC.X25AKAMSKI.01FEEL"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="KNC - Rosanna Cartland">
								{{
									t(
										"X2005A.INTERVIEW.REDLIGHT.PC.X25ATVSPEAKEROC.02MENACE"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Kamski">
								{{
									translationService.translateObject(
										"X2005A.INTERVIEW.REDLIGHT.PC.X25AKAMSKI.02ABSOLUTELY"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="KNC - Rosanna Cartland">
								{{
									t(
										"X2005A.INTERVIEW.REDLIGHT.PC.X25ATVSPEAKEROC.03UNEMPLOYMENT"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Kamski">
								{{
									translationService.translateObject(
										"X2005A.INTERVIEW.REDLIGHT.PC.X25AKAMSKI.03ABSURD"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="KNC - Rosanna Cartland">
								{{
									translationService.translateObject(
										"X2005A.INTERVIEW.REDLIGHT.PC.X25ATVSPEAKEROC.04NEWRACE"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Kamski">
								{{
									translationService.translateObject(
										"X2005A.INTERVIEW.REDLIGHT.PC.X25AKAMSKI.04FOOLED"
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="KNC - Rosanna Cartland">
								{{
									t(
										"X2005A.INTERVIEW.REDLIGHT.PC.X25ATVSPEAKEROC.05THANKS"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Kamski">
								{{
									t(
										"X2005A.INTERVIEW.REDLIGHT.PC.X25AKAMSKI.05WELCOME"
									)
								}}
							</app-dialogue-line>
						</p>
					</section>

					<section>
						<h1>Cyberlife Ending</h1>

						<p>
							<app-unlock-condition
								[unlockType]="UnlockType.Lock"
							>
								Machine Connor stopped Markus
							</app-unlock-condition>
						</p>

						<p>
							<app-dialogue-line name="Amanda">
								{{
									translationService.translateObject(
										"X2003A.ZENGARDEN.NEWMODEL.PC.X20AAMANDA.DEACTIVATED",
										0,
										2
									) | async
								}}
							</app-dialogue-line>
							<app-relation
								[name]="RelationName.Amanda"
								[type]="RelationType.LargeUp"
							></app-relation>
						</p>
						<p>
							<app-dialogue-line name="Amanda">
								{{
									translationService.translateObject(
										"X2003A.ZENGARDEN.NEWMODEL.PC.X20AAMANDA.DEACTIVATED",
										2,
										15
									) | async
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Connor">
								{{
									t(
										"X2003A.ZENGARDEN.NEWMODEL.PC.X20ACONNOR.DEACTIVATED"
									)
								}}
							</app-dialogue-line>
							<app-dialogue-line name="Amanda">
								{{
									translationService.translateObject(
										"X2003A.ZENGARDEN.NEWMODEL.PC.X20AAMANDA.DEACTIVATED",
										15
									) | async
								}}
							</app-dialogue-line>
						</p>

						<mat-divider></mat-divider>

						<app-unused-content>
							<p>
								<app-dialogue-line name="Connor">
									{{
										t(
											"X2002A.NOCROSSROADS.ZENGARDEN.PC.X20ACONNOR.COUNTONMECON01"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Amanda">
									{{
										translationService.translateObject(
											"X2002A.NOCROSSROADS.ZENGARDEN.PC.X20AAMANDA.COUNTONME01"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Connor">
									{{
										t(
											"X2002A.NOCROSSROADS.ZENGARDEN.PC.X20ACONNOR.COUNTONMECON02A"
										)
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Amanda">
									{{
										translationService.translateObject(
											"X2002A.NOCROSSROADS.ZENGARDEN.PC.X20AAMANDA.COUNTONME02"
										) | async
									}}
								</app-dialogue-line>
								<app-dialogue-line name="Connor">
									{{
										t(
											"X2002A.NOCROSSROADS.ZENGARDEN.PC.X20ACONNOR.COUNTONMECON02B"
										)
									}}
								</app-dialogue-line>
							</p>
						</app-unused-content>
					</section>
				</ng-container>
			</div>
		</mat-card-content>
	</mat-card>
</article>
