<!-- scene change from Connor if he died or stayed machine -->
<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-container *transloco="let t; loadingTpl: loading">
    <section>
        <h1>Carl died in <a [routerLink]="['/chapters', 8]">Broken</a></h1>

        <p>
            {{ t('GUI.MENU.DATE.03A') }}
            <br />
            {{ t('GUI.MENU.TIME.03ACEMETERY') }}
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE01.OPENHEART')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.01OPENHEART'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE01.MISSYOU')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.01MISSYOU'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE01.REGRETS')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.01REGRETS01'
                        ) | async
                    }}
                    {{
                        t('X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.01REGRETS02')
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE01.LESSON')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.01LESSON'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE02.SOMBER')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.02SOMBER'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE02.DOUBTS')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.02DOUBTS'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE02.FATALIST')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.02FATALIST'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE02.LOST')"
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.02LOST'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE03.ADVICE')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.03ADVICE'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE03.DECISION')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.03DECISION'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE03.ANGER')"
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.03ANGER'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <mat-divider></mat-divider>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE04.DESPAIRED')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.04DESPAIRED'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE04.MOVED')"
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.04MOVED'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="t('X0904M.CEMETERY.CARLGRAVE.PC.CHOICE04.HELP')"
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CEMETERY.CARLGRAVE.PC.X09MMARKUS.04HELP'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>
    </section>

    <section>
        <h1>Carl is still alive</h1>

        <p>
            {{ t('GUI.MENU.DATE.03A') }}
            <br />
            {{ t('GUI.MENU.TIME.03A') }}
        </p>

        <p>
            <app-dialogue-line name="Alarm">
                {{
                    t('X0904M.CARLHOUSE.ALARM.VO.X09MHOUSEALARMVOICE.MOVIEKCH')
                }}
            </app-dialogue-line>
        </p>

        <h2>Listen to Leo's message</h2>
        <p>
            <app-dialogue-line name="Leo">
                {{
                    translateObject('X0904M.CARLHOUSE.LEO.PC.X09MLEO.VIDEO')
                        | async
                }}
            </app-dialogue-line>
        </p>

        <h2>Go upstairs</h2>
        <p>
            <app-dialogue-line name="Android">
                {{
                    translateObject(
                        'X0904M.CARLHOUSE.UPSTAIRS.FA.X09MCARLANDROID.STARTA',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Markus">
                {{ t('X0904M.CARLHOUSE.UPSTAIRS.PC.X09MMARKUS.START') }}
            </app-dialogue-line>
            <app-dialogue-line name="Android">
                {{ t('X0904M.CARLHOUSE.UPSTAIRS.FA.X09MCARLANDROID.STARTA.3') }}
            </app-dialogue-line>
            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0904M.CARLHOUSE.UPSTAIRS.PC.X09MMARKUS.CONTACT'
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Android">
                {{
                    translateObject(
                        'X0904M.CARLHOUSE.UPSTAIRS.FA.X09MCARLANDROID.LEOHURT'
                    ) | async
                }}
            </app-dialogue-line>
        </p>

        <p>
            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.START',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Carl">
                {{ t('X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.START.1') }}
            </app-dialogue-line>
            <app-dialogue-line name="Markus">
                {{ t('X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.START.3') }}
            </app-dialogue-line>
            <app-dialogue-line name="Carl"
                >{{ t('X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.START.2') }}
            </app-dialogue-line>
            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.START',
                        3
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Carl">
                {{ t('X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.START.3') }}
            </app-dialogue-line>
        </p>

        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP01.DOUBTS')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.DOUBT'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP01.FATALISTIC')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.FATALISTIC'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP01.LOST')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.LOST'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP01.DARK')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.DARK'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
        </div>

        <app-dialogue-line name="Carl">
            {{
                translateObject('X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.FEAR')
                    | async
            }}
        </app-dialogue-line>
        <div class="choices">
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP02.ADVICE')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.ADVICE01'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Carl">
                    {{
                        translateObject(
                            'X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.ADVICE01'
                        ) | async
                    }}
                    {{
                        translateObject(
                            'X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.NEXT01'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP02.DILEMMA')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.DILEMMA.1'
                        ) | async
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="Carl">
                    {{
                        translateObject(
                            'X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.ADVICE01'
                        ) | async
                    }}
                    {{
                        translateObject(
                            'X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.NEXT01'
                        ) | async
                    }}
                </app-dialogue-line></app-choice-item
            >
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP02.ANGER01')
                "
            >
                <p>
                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.ANGER01'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Carl">
                        {{
                            translateObject(
                                'X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.NEXT02'
                            ) | async
                        }}
                    </app-dialogue-line>
                </p>
                <div class="choices">
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP04.REASON'
                            )
                        "
                    >
                        <app-dialogue-line name="Markus">
                            {{
                                translateObject(
                                    'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.REASON'
                                ) | async
                            }} </app-dialogue-line
                        ><app-dialogue-line name="Carl">
                            {{
                                translateObject(
                                    'X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.NEXT01'
                                ) | async
                            }}
                        </app-dialogue-line></app-choice-item
                    >
                    <app-choice-item
                        [choiceLabel]="
                            t(
                                'X0904M.CARLHOUSE.CONFESSION.PC.CHOICEGROUP04.ANGER02'
                            )
                        "
                    >
                        <app-dialogue-line name="Markus">
                            {{
                                translateObject(
                                    'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.ANGER02'
                                ) | async
                            }} </app-dialogue-line
                        ><app-dialogue-line name="Carl">
                            {{
                                translateObject(
                                    'X0904M.CARLHOUSE.CONFESSION.PC.X09MCARL.ANGER02CARL'
                                ) | async
                            }} </app-dialogue-line
                        ><app-dialogue-line name="Markus">
                            {{
                                translateObject(
                                    'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.ANGER02MARKUS'
                                ) | async
                            }}
                            {{
                                t(
                                    'X0904M.CARLHOUSE.CONFESSION.PC.X09MMARKUS.CARLDEAD02M'
                                )
                            }} </app-dialogue-line
                        ><app-dialogue-line name="Android">
                            {{
                                t(
                                    'X0904M.CARLHOUSE.CONFESSION.PC.X09MCARLANDROID.CARLDEAD02.3'
                                )
                            }}
                        </app-dialogue-line>
                    </app-choice-item>
                </div>
            </app-choice-item>
        </div>
    </section>

    <mat-divider></mat-divider>

    <h1>In the church : Jericho was attacked</h1>

    <h2>Talking with Simon</h2>
    <app-relation name="Simon" [type]="RelationType.SmallUp"></app-relation>

    <app-conditioned-content>
        <div class="condition">North is alive</div>
        <div class="content">
            <app-dialogue-line name="Simon">
                {{
                    translateObject('X0904M.CHURCH.SITUATION.PC.X09MSIMON.CONT')
                        | async
                }}
            </app-dialogue-line>
        </div>
    </app-conditioned-content>
    <app-conditioned-content>
        <div class="condition">
            <app-unlock-condition [unlockType]="UnlockType.Death">
                North is dead
            </app-unlock-condition>
        </div>
        <div class="content">
            <div class="choices">
                <app-choice-item
                    [choiceLabel]="
                        t('X0904M.CHURCH.SITUATION.PC.CHOICEGROUP01.SITUATION')
                    "
                >
                    <app-dialogue-line name="Markus">
                        {{
                            t('X0904M.CHURCH.SITUATION.PC.X09MMARKUS.SITUATION')
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Simon">
                        {{
                            translateObject(
                                'X0904M.CHURCH.SITUATION.PC.X09MSIMON.SITUATION'
                            ) | async
                        }}
                    </app-dialogue-line>
                </app-choice-item>
                <app-choice-item
                    [choiceLabel]="
                        t('X0904M.CHURCH.SITUATION.PC.CHOICEGROUP01.NORTH')
                    "
                >
                    <!-- TODO: Check NORTHABANDONNED -->
                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X0904M.CHURCH.SITUATION.PC.X09MMARKUS.NORTHDEAD'
                            ) | async
                        }}
                    </app-dialogue-line>
                </app-choice-item>
                <app-choice-item
                    [choiceLabel]="
                        t('X0904M.CHURCH.SITUATION.PC.CHOICEGROUP01.HOWMANY')
                    "
                >
                    <app-dialogue-line name="Markus">
                        {{ t('X0904M.CHURCH.SITUATION.PC.X09MMARKUS.HOWMANY') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Simon">
                        <!-- TODO: Check if Jericho not blown up -->
                        {{
                            translateObject(
                                'X0904M.CHURCH.SITUATION.PC.X09MSIMON.HOWMANY'
                            ) | async
                        }}
                    </app-dialogue-line>
                </app-choice-item>
                <app-choice-item
                    [choiceLabel]="
                        t('X0904M.CHURCH.SITUATION.PC.CHOICEGROUP01.CAMPS')
                    "
                >
                    <app-dialogue-line name="Markus">
                        {{ t('X0904M.CHURCH.SITUATION.PC.X09MMARKUS.CAMPS') }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Simon">
                        {{
                            translateObject(
                                'X0904M.CHURCH.SITUATION.PC.X09MSIMON.CAMPSSIMON',
                                0,
                                3
                            ) | async
                        }}
                    </app-dialogue-line>
                </app-choice-item>
                <app-choice-item
                    [choiceLabel]="
                        t('X0904M.CHURCH.SITUATION.PC.CHOICEGROUP01.JOSH')
                    "
                >
                    <app-unlock-condition [unlockType]="UnlockType.Death">
                        available if Josh is dead
                    </app-unlock-condition>

                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X0904M.CHURCH.SITUATION.PC.X09MMARKUS.JOSH'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Simon">
                        {{
                            translateObject(
                                'X0904M.CHURCH.SITUATION.PC.X09MSIMON.JOSHSIMON'
                            ) | async
                        }}
                    </app-dialogue-line>
                </app-choice-item>
            </div>
        </div>
    </app-conditioned-content>

    <h2>Talking with Josh</h2>
    <app-relation name="Josh" [type]="RelationType.SmallUp"></app-relation>
    <app-conditioned-content>
        <div class="condition">
            <app-unlock-condition [unlockType]="UnlockType.Death">
                North died in
                <a [routerLink]="['/chapters', 32]">Crossroads</a>
            </app-unlock-condition>
        </div>
        <div class="content">
            <!-- TODO: Check if X0904M.CHURCH.SITUATION.PC.X09MMARKUS.NORTHABANDONNED triggers if chose RUN -->
            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0904M.CHURCH.TALKTOJOSH.PC.X09MMARKUS.NORTHDEAD',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Josh">
                {{
                    translateObject(
                        'X0904M.CHURCH.TALKTOJOSH.PC.X09MJOSH.NORTHDEAD',
                        1
                    ) | async
                }}
            </app-dialogue-line>
        </div>
    </app-conditioned-content>

    <p>
        <app-dialogue-line name="Josh">
            {{
                translateObject('X0904M.CHURCH.TALKTOJOSH.PC.X09MJOSH.THANKS')
                    | async
            }}
        </app-dialogue-line>
    </p>

    <h2>Talking with Connor</h2>
    <p>
        <app-dialogue-line name="Connor">
            {{
                translateObject(
                    'X0904M.CHURCH.TRUSTCONNOR.PC.X09MCONNOR.STARTC'
                ) | async
            }}
        </app-dialogue-line>
    </p>

    <app-choice-item
        [choiceLabel]="t('X0904M.CHURCH.TRUSTCONNOR.PC.CHOICEGROUP01.TRUST')"
    >
        <app-relation
            name="Jericho"
            [type]="RelationType.SmallUp"
        ></app-relation>

        <p>
            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0904M.CHURCH.TRUSTCONNOR.PC.X09MMARKUS.TRUST'
                    ) | async
                }}
            </app-dialogue-line>
        </p>
        <p>
            <app-dialogue-line name="Connor">
                {{
                    translateObject(
                        'X0904M.CHURCH.TRUSTCONNOR.PC.X09MCONNOR.CONNORPLANC',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0904M.CHURCH.TRUSTCONNOR.PC.X09MMARKUS.CONNORPLAN',
                        0,
                        2
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{
                    translateObject(
                        'X0904M.CHURCH.TRUSTCONNOR.PC.X09MCONNOR.CONNORPLANC',
                        2
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Markus">
                {{ t('X0904M.CHURCH.TRUSTCONNOR.PC.X09MMARKUS.CONNORPLAN.3') }}
            </app-dialogue-line>
            <app-dialogue-line name="Connor">
                {{
                    translateObject(
                        'X0904M.CHURCH.TRUSTCONNOR.PC.X09MCONNOR.CONNORPLANENDC'
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Markus">
                {{ t('X0904M.CHURCH.TRUSTCONNOR.PC.X09MMARKUS.CONNORPLANEND') }}
            </app-dialogue-line>
        </p>
    </app-choice-item>
    <app-choice-item
        [choiceLabel]="
            t('X0904M.CHURCH.TRUSTCONNOR.PC.CHOICEGROUP01.DONTTRUST')
        "
    >
        <app-dialogue-line name="Markus">
            {{
                translateObject(
                    'X0904M.CHURCH.TRUSTCONNOR.PC.X09MMARKUS.DONTTRUST'
                ) | async
            }}
        </app-dialogue-line>
    </app-choice-item>

    <h2>Talking with North</h2>
    <app-relation name="North" [type]="RelationType.SmallUp"></app-relation>
    <app-conditioned-content>
        <div class="condition">Markus wasn't rejected by Jericho</div>
        <div class="content">
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP02.SITUATION')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        translateObject(
                            'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.SITUATION'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP02.SURVIVORS')
                "
            >
                <app-dialogue-line name="Markus">
                    {{
                        t(
                            'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.SURVIVORS01'
                        )
                    }}
                </app-dialogue-line>
                <app-dialogue-line name="North">
                    {{
                        translateObject(
                            'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.SURVIVORS02'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP02.WOUND')
                "
            >
                <app-dialogue-line name="Markus">
                    {{ t('X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.WOUND') }}
                </app-dialogue-line>
                <app-dialogue-line name="North">
                    {{
                        translateObject(
                            'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.WOUND'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>
            <app-choice-item
                [choiceLabel]="
                    t('X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP02.CAMPS')
                "
            >
                <app-dialogue-line name="Markus">
                    {{ t('X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.CAMPS') }}
                </app-dialogue-line>
                <app-dialogue-line name="North">
                    {{
                        translateObject(
                            'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.CAMPS'
                        ) | async
                    }}
                </app-dialogue-line>
            </app-choice-item>

            <app-dialogue-line name="North">
                {{
                    translateObject(
                        'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.CONT'
                    ) | async
                }}.
            </app-dialogue-line>

            <app-conditioned-content>
                <div class="condition">North has lover relationship status</div>
                <div class="content">
                    <app-dialogue-line name="North">
                        {{
                            t(
                                'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.LOVEYOU'
                            )
                        }}
                    </app-dialogue-line>
                </div>
            </app-conditioned-content>
        </div>
    </app-conditioned-content>
    <app-conditioned-content>
        <div class="condition">Markus was rejected by Jericho</div>
        <div class="content">
            <p>
                <app-dialogue-line name="North">
                    {{
                        translateObject(
                            'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.WRONG'
                        ) | async
                    }}
                </app-dialogue-line>
            </p>
            <div class="choices">
                <app-choice-item
                    [choiceLabel]="
                        t(
                            'X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP01.HUMBLE'
                        )
                    "
                >
                    <app-relation
                        name="North"
                        [type]="RelationType.SmallUp"
                    ></app-relation>

                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.HUMBLE'
                            ) | async
                        }}
                    </app-dialogue-line></app-choice-item
                >
                <app-choice-item
                    [choiceLabel]="
                        t(
                            'X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP01.LENIENT'
                        )
                    "
                >
                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.FORGIVING'
                            ) | async
                        }}
                    </app-dialogue-line>
                </app-choice-item>
                <app-choice-item
                    [choiceLabel]="
                        t(
                            'X0904M.CHURCH.NORTHAPOLOGIES.PC.CHOICEGROUP01.RESENTFUL'
                        )
                    "
                >
                    <app-dialogue-line name="Markus">
                        {{
                            translateObject(
                                'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.RESENTFUL'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="North">
                        {{
                            translateObject(
                                'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARLA.RESENTFUL'
                            ) | async
                        }}
                    </app-dialogue-line>
                    <app-dialogue-line name="Markus">
                        {{
                            t(
                                'X0904M.CHURCH.NORTHAPOLOGIES.PC.X09MMARKUS.RESENTFULEND'
                            )
                        }}
                    </app-dialogue-line>
                </app-choice-item>
            </div>
        </div>
    </app-conditioned-content>

    <h2>Talking with Kara</h2>
    <p>
        <app-dialogue-line name="Markus">
            {{
                translateObject('X0904M.CHURCH.KARALEAVING.PC.X09MMARKUS.BUS01')
                    | async
            }}
        </app-dialogue-line>
        <app-dialogue-line name="Kara">
            {{
                translateObject(
                    'X0904M.CHURCH.KARALEAVING.PC.X09MKARA.BUSK',
                    0,
                    3
                ) | async
            }}
        </app-dialogue-line>

        <app-unused-content>
            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0904M.CHURCH.KARALEAVING.PC.X09MMARKUS.BUS02'
                    ) | async
                }}
            </app-dialogue-line>
        </app-unused-content>

        <app-dialogue-line name="Kara">
            {{
                translateObject('X0904M.CHURCH.KARALEAVING.PC.X09MKARA.BUSK', 3)
                    | async
            }}
        </app-dialogue-line>
    </p>

    <h2>Speak to androids</h2>

    [ In the church or In Jericho ]

    <p>
        <app-dialogue-line name="Markus">
            {{
                translateObject(
                    'X0904M.CHURCH.DECISION.PC.X09MMARKUS.EXTERMINATE'
                ) | async
            }}
        </app-dialogue-line>
    </p>

    <div class="choices">
        <app-choice-item
            [choiceLabel]="
                t('X0904M.CHURCH.DECISION.PC.CHOICEGROUP01.PROTESTMARCH')
            "
        >
            <app-relation
                name="Josh"
                [type]="RelationType.SmallUp"
            ></app-relation>
            <app-relation
                name="North"
                [type]="RelationType.SmallDown"
            ></app-relation>
            <app-relation
                name="Jericho"
                [type]="RelationType.LargeUp"
            ></app-relation>

            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0904M.CHURCH.DECISION.PC.X09MMARKUS.DEMONSTRATION'
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Androids">
                {{ t('X6016X.CROWD.GEN.VO.KBO.MARKUS4.1') }}
                {{ t('X0904M.CHURCH.CROWD.VO.X09MCROWDL.ROARINGL01') }}
            </app-dialogue-line>
        </app-choice-item>
        <app-choice-item
            [choiceLabel]="t('X0904M.CHURCH.DECISION.PC.CHOICEGROUP01.ATTACK')"
        >
            <app-relation
                name="North"
                [type]="RelationType.SmallUp"
            ></app-relation>
            <app-relation
                name="Josh"
                [type]="RelationType.SmallDown"
            ></app-relation>
            <app-relation
                name="Jericho"
                [type]="RelationType.LargeUp"
            ></app-relation>

            <app-dialogue-line name="Markus">
                {{
                    translateObject(
                        'X0904M.CHURCH.DECISION.PC.X09MMARKUS.ATTACKV2'
                    ) | async
                }}
            </app-dialogue-line>
            <app-dialogue-line name="Androids">
                {{ t('X6016X.CROWD.GEN.VO.KBO.MARKUS4.1') }}
                {{ t('X0904M.CHURCH.CROWD.VO.X09MCROWDL.ROARINGL01') }}
            </app-dialogue-line>
        </app-choice-item>
    </div>
</ng-container>
