<ng-template #loading>
    <div class="spinner flex flex-row justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<main class="main-with-centered-card">
    <mat-card>
        <ng-container *ngIf="currentItem$ | async as currentItem">
            <ng-container *transloco="let t; loadingTpl: loading">
                <mat-card-content>
                    <div>
                        <h1 class="text-center">
                            {{ t(currentItem.trackTranslationKey) }}
                        </h1>
                        <h2 class="text-center">
                            {{ t(currentItem.artistTranslationKey) }}
                        </h2>

                        <mat-divider></mat-divider>

                        <p class="text-justify pt-4">
                            {{ t(currentItem.descriptionTranslationKey) }}
                        </p>
                    </div>
                </mat-card-content>

                <mat-divider></mat-divider>

                <mat-card-footer class="pt-4">
                    <nav>
                        <div>
                            <a
                                *ngIf="previousItemId !== null"
                                [routerLink]="['/soundtrack', previousItemId]"
                            >
                                <fa-icon icon="angle-left"></fa-icon> Previous
                                track</a
                            >
                        </div>
                        <div class="next">
                            <a
                                *ngIf="nextItemId !== null"
                                [routerLink]="['/soundtrack', nextItemId]"
                                >Next track
                                <fa-icon icon="angle-right"></fa-icon
                            ></a>
                        </div>
                    </nav>
                </mat-card-footer>
            </ng-container>
        </ng-container>
    </mat-card>
</main>
