<ng-container *transloco="let t">
	<main class="main-with-centered-card">
		<mat-card>
			<mat-card-content>
				<h1 class="text-center text-6xl">Chloe</h1>

				<mat-divider></mat-divider>

				<section class="chapter-content">
					<h1>Main menu interactions</h1>
					<h2>Starting the game for the first time</h2>
					<ul>
						<li>
							{{
								t(
									"X0000A.OPENINGCREDIT.FIRST.PC.X00AANDWOM.WELCOMEV2.1"
								)
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X0000A.OPENINGCREDIT.FIRST.PC.X00AANDWOM.OURFUTUREV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.FEATURES.PC.X02XANDWOM.STORYCHART01V2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.FEATURES.PC.X02XANDWOM.STORYCHART02V2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.FEATURES.PC.X02XANDWOM.EXTRAS"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.FEATURES.PC.X02XANDWOM.OPTIONS"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.FEATURES.PC.X02XANDWOM.SETTINGS"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.FEATURES.PC.X02XANDWOM.STORYCHART02V2B"
								) | async
							}}
						</li>
					</ul>
					<h2 class="mt-3">Greetings and various dialogues</h2>
					<ul>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.NEWBONUSV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.CONTROLLERV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.DECORATIONV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.TIREDV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.GOODDAYV2"
								) | async
							}}
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.DIFFSETTINGSV2"
								)
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.SORRYV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.ASYOUWISHV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.SCHRODINGERSV2"
								) | async
							}}
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.COLORV2"
								)
							}}
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.MOTTOV2"
								)
							}}
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.RAILROADV2"
								)
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.EXTRASITEM"
								) | async
							}}
						</li>
						<li>
							<p>
								{{
									translationService.translateObject(
										"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.FRIENDS"
									) | async
								}}
							</p>

							<app-choice-group class="mb-3">
								<app-choice-item
									[choiceLabel]="
										t('GUI.MENU.OPTIONS.GAMEPLAY.YES')
									"
								>
									<p>
										{{
											translationService.translateObject(
												"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.AGREE"
											) | async
										}}
									</p>
								</app-choice-item>
								<app-choice-item
									[choiceLabel]="
										t('GUI.MENU.OPTIONS.GAMEPLAY.NO')
									"
								>
									<p>
										{{
											translationService.translateObject(
												"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.DISAGREE"
											) | async
										}}
									</p>
								</app-choice-item>
							</app-choice-group>
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.ST200"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.HEREFORYOU"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.IMPATIENT"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.LIKE"
								) | async
							}}
						</li>
						<li>
							<span>Chloe singing</span>
							<ul>
								<li>
									{{
										translationService.translateObject(
											"X5002X.MAINMENU.HOLDON.PC.X02XANDWOM.SING",
											0,
											2
										) | async
									}}
								</li>
								<li>
									{{
										translationService.translateObject(
											"X5002X.MAINMENU.HOLDON.PC.X02XANDWOM.SING",
											2,
											4
										) | async
									}}
								</li>
								<li>
									{{
										translationService.translateObject(
											"X5002X.MAINMENU.HOLDON.PC.X02XANDWOM.SING",
											4,
											6
										) | async
									}}
								</li>
								<li>
									{{
										t(
											"X5002X.MAINMENU.HOLDON.PC.X02XANDWOM.SING.7"
										)
									}}
								</li>
								<li>
									{{
										t(
											"X5002X.MAINMENU.HOLDON.PC.X02XANDWOM.SING.8"
										)
									}}
								</li>
							</ul>
						</li>
						<li>
							{{
								t(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.WELCOMEV2"
								)
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.WELCOMEBACKV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.MORNINGV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.JUSTKIDDINGV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.WEEKENDV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.DECIDEFATEV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.XPSOFARV2"
								) | async
							}}
						</li>
						<li>
							{{
								t(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.GOODSEEYOUV2"
								)
							}}
						</li>
						<li>
							{{
								t(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.EVENINGV2"
								)
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.AFTERNOONV2"
								) | async
							}}
						</li>
						<li>
							{{
								t(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.NICEXPV2"
								)
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.CONTINUEV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.SHORTBREAKV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.DOINGWELLV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.AWHILEV2"
								) | async
							}}
						</li>
						<li>
							{{
								t(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.HAVEYOUBACKV2"
								)
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.GOODDAYV2"
								) | async
							}}
						</li>
						<li>
							{{
								t(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.HOWAREYOUV2"
								)
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.TIREDV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE1.PC.X02XANDWOM.REALLYENJOYV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.WHATDECISIONSV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.WHATWILLDOV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.DISAPPOINTEDV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.CHARACTERDIEDV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.GLADSEEYOUV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.VERYSADV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.ONELEFTV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.MALFUNCTIONV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.SHOULDRESTV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.GLADV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.WILLBEOKV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.RIGHTDECISIONV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.UNUSUALWELCOMEV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.NOTCOMPLIANTV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.MAINMENU.PHASE2.PC.X02XANDWOM.ONELEFTV3"
								) | async
							}}
						</li>
					</ul>
					<h2 class="mt-3">Reaction to character deaths</h2>
					<ul>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.KARAALICEV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.MARKUSV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.CONNORV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.VARIOUS.PC.X02XANDWOM.LUTHER"
								) | async
							}}
						</li>
					</ul>
					<h2 class="mt-3">Quotes</h2>
					<ul>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.QUOTES.PC.X02XANDWOM.LUTHERKINGV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.QUOTES.PC.X02XANDWOM.STAUGUSTINEV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.QUOTES.PC.X02XANDWOM.GIONOV2"
								) | async
							}}
						</li>
					</ul>
					<h2 class="mt-3">Dialogues on specific dates</h2>
					<ul>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.ANNIVERSARY.PC.X02XANDWOM.HAPPYNEWYEARV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.ANNIVERSARY.PC.X02XANDWOM.MOTOWNV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.ANNIVERSARY.PC.X02XANDWOM.LUTHERKINGV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.ANNIVERSARY.PC.X02XANDWOM.QUANTICDREAMV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.ANNIVERSARY.PC.X02XANDWOM.TURINGV2"
								) | async
							}}
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.ANNIVERSARY.PC.X02XANDWOM.CHRISTMASV2"
								) | async
							}}
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.ANNIVERSARY.PC.X02XANDWOM.4THJULYV2"
								)
							}}
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.ANNIVERSARY.PC.X02XANDWOM.14THJULYV2"
								)
							}}
						</li>
					</ul>

					<h2 class="mt-3">Chloe leaving</h2>
					<p>
						{{
							translationService.translateObject(
								"X5002X.MAINMENU.LEAVING.PC.X02XANDWOM.LETGO"
							) | async
						}}
					</p>
					<app-choice-group>
						<app-choice-item
							[choiceLabel]="t('GUI.MENU.OPTIONS.GAMEPLAY.YES')"
						>
							<p>
								{{
									translationService.translateObject(
										"X5002X.MAINMENU.LEAVING.PC.X02XANDWOM.YES"
									) | async
								}}
							</p>
						</app-choice-item>
						<app-choice-item
							[choiceLabel]="t('GUI.MENU.OPTIONS.GAMEPLAY.NO')"
						>
							<p>
								{{
									translationService.translateObject(
										"X5002X.MAINMENU.LEAVING.PC.X02XANDWOM.NO"
									) | async
								}}
							</p>
						</app-choice-item>
					</app-choice-group>
				</section>
				<mat-divider></mat-divider>

				<section class="chapter-content">
					<h1>CyberLife users survey</h1>
					<p>
						{{
							translationService.translateObject(
								"X5002X.ENDCREDITS.SURVEY.PC.X02XANDWOM.SURVEYV2"
							) | async
						}}
					</p>
					<p>[ {{ t("GUI.MENU.SURVEY.YES") }} ]</p>
					<p>
						{{
							t(
								"X5002X.ENDCREDITS.SURVEY.PC.X02XANDWOM.FIRSTQUESTIONV2"
							)
						}}
					</p>
					<ol>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.SURVEY.PC.X02XANDWOM.RELATIONSHIPV2"
								)
							}}
							<ul>
								<li>{{ t("GUI.MENU.SURVEY.YES") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.NO") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.DONTKNOW") }}</li>
							</ul>
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.SURVEY.PC.X02XANDWOM.THREATV2"
								)
							}}
							<ul>
								<li>{{ t("GUI.MENU.SURVEY.YES") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.NO") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.DONTKNOW") }}</li>
							</ul>
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.SURVEY.PC.X02XANDWOM.ONEOBJECTV2"
								) | async
							}}
							<ul>
								<li>{{ t("GUI.MENU.SURVEY.BOOK") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.CELLPHONE") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.PENPAPER") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.CONSOLE") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.INSTRUMENT") }}</li>
							</ul>
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.SURVEY.PC.X02XANDWOM.DEPENDENTV2"
								)
							}}
							<ul>
								<li>{{ t("GUI.MENU.SURVEY.YES") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.NO") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.DONTKNOW") }}</li>
							</ul>
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.SURVEY.PC.X02XANDWOM.ANTICIPATIONV2"
								)
							}}
							<ul>
								<li>{{ t("GUI.MENU.SURVEY.ANDROIDS") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.CARS") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.SPACE") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.BRAIN") }}</li>
							</ul>
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.SURVEY.PC.X02XANDWOM.GODV2"
								)
							}}
							<ul>
								<li>{{ t("GUI.MENU.SURVEY.YES") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.NO") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.DONTKNOW") }}</li>
							</ul>
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.SURVEY.PC.X02XANDWOM.CHILDRENV2"
								)
							}}
							<ul>
								<li>{{ t("GUI.MENU.SURVEY.YES") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.NO") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.DONTKNOW") }}</li>
							</ul>
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.SURVEY.PC.X02XANDWOM.TIMEV2"
								)
							}}
							<ul>
								<li>{{ t("GUI.MENU.SURVEY.1HOUR") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.2HOURS") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.4HOURS") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.MORE") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.DONTKNOW") }}</li>
							</ul>
						</li>
						<li>
							{{
								translationService.translateObject(
									"X5002X.ENDCREDITS.SURVEY.PC.X02XANDWOM.SURGERYV2"
								) | async
							}}
							<ul>
								<li>{{ t("GUI.MENU.SURVEY.YES") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.NO") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.DONTKNOW") }}</li>
							</ul>
						</li>
						<li>
							{{
								t(
									"X5002X.ENDCREDITS.SURVEY.PC.X02XANDWOM.CONSCIOUSNESSV2"
								)
							}}
							<ul>
								<li>{{ t("GUI.MENU.SURVEY.YES") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.NO") }}</li>
								<li>{{ t("GUI.MENU.SURVEY.DONTKNOW") }}</li>
							</ul>
						</li>
						<li>
							<span>{{ t("GUI.MENU.SURVEY.FAVCHARA") }}</span>
							<ul>
								<li>
									{{ t("GUI.MENU.SURVEY.CONNOR") }}
								</li>
								<li>
									{{ t("GUI.MENU.SURVEY.MARKUS") }}
								</li>
								<li>
									{{ t("GUI.MENU.SURVEY.KARA") }}
								</li>
							</ul>
						</li>
						<li>
							<span>{{ t("GUI.MENU.SURVEY.FAVMOMENT") }}</span>
							<ul>
								<li>
									{{ t("GUI.MENU.SURVEY.MANY") }}
								</li>
								<li>
									{{ t("GUI.MENU.SURVEY.OCC") }}
								</li>
								<li>
									{{ t("GUI.MENU.SURVEY.ONCE") }}
								</li>
								<li>
									{{ t("GUI.MENU.SURVEY.NO") }}
								</li>
							</ul>
						</li>
						<li>
							<span>{{ t("GUI.MENU.SURVEY.TOUGHCHOICE") }}</span>
							<ul>
								<li>
									{{ t("GUI.MENU.SURVEY.FAV.ALICEID") }}
								</li>
								<li>
									{{ t("GUI.MENU.SURVEY.FAV.PACVIO") }}
								</li>
								<li>
									{{ t("GUI.MENU.SURVEY.FAV.CHLOE") }}
								</li>
							</ul>

							<app-unused-content>
								<ul>
									<li>
										{{ t("GUI.MENU.SURVEY.FAV.BUSTICKET") }}
									</li>
									<li>
										{{ t("GUI.MENU.SURVEY.FAV.CONNORDEV") }}
									</li>
								</ul>
							</app-unused-content>
						</li>
					</ol>
				</section>
			</mat-card-content>
		</mat-card>
	</main>
</ng-container>
